/* Laptops + */ @media only screen and (min-width:1025px){
    /* =========================================================================
       Spacing Helpers */
    .lptn,.lpvn,.lpan{padding-top:0!important}
    .lpts,.lpvs,.lpas{padding-top:5px!important}
    .lptm,.lpvm,.lpam{padding-top:10px!important}
    .lptl,.lpvl,.lpal{padding-top:20px!important}
    .lprn,.lphn,.lpan{padding-right:0!important}
    .lprs,.lphs,.lpas{padding-right:5px!important}
    .lprm,.lphm,.lpam{padding-right:10px!important}
    .lprl,.lphl,.lpal{padding-right:20px!important}
    .lpbn,.lpvn,.lpan{padding-bottom:0!important}
    .lpbs,.lpvs,.lpas{padding-bottom:5px!important}
    .lpbm,.lpvm,.lpam{padding-bottom:10px!important}
    .lpbl,.lpvl,.lpal{padding-bottom:20px!important}
    .lpln,.lphn,.lpan{padding-left:0!important}
    .lpls,.lphs,.lpas{padding-left:5px!important}
    .lplm,.lphm,.lpam{padding-left:10px!important}
    .lpll,.lphl,.lpal{padding-left:20px!important}
    .lmtn,.lmvn,.lman{margin-top:0!important}
    .lmts,.lmvs,.lmas{margin-top:5px!important}
    .lmtm,.lmvm,.lmam{margin-top:10px!important}
    .lmtl,.lmvl,.lmal{margin-top:20px!important}
    .lmrn,.lmhn,.lman{margin-right:0!important}
    .lmrs,.lmhs,.lmas{margin-right:5px!important}
    .lmrm,.lmhm,.lmam{margin-right:10px!important}
    .lmrl,.lmhl,.lmal{margin-right:20px!important}
    .lmbn,.lmvn,.lman{margin-bottom:0!important}
    .lmbs,.lmvs,.lmas{margin-bottom:5px!important}
    .lmbm,.lmvm,.lmam{margin-bottom:10px!important}
    .lmbl,.lmvl,.lmal{margin-bottom:20px!important}
    .lmln,.lmhn,.lman{margin-left:0!important}
    .lmls,.lmhs,.lmas{margin-left:5px!important}
    .lmlm,.lmhm,.lmam{margin-left:10px!important}
    .lmll,.lmhl,.lmal{margin-left:20px!important}
    .lmra,.lmha{margin-right:auto!important}
    .lmla,.lmha{margin-left:auto!important}

    /* =========================================================================
       Border Helpers
        b = border
        a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
        s,d,dd = solid,dotted,dashed
        bw,bk,bg = white, black, grey */

    .lbw{border-color:#fff}
    .lbk{border-color:#000}
    .lbg{border-color:#ccc}

    .lbas,.lbts,.lbrs,.lbbs,.lbls,.lbhs,.lbvs{border-style:solid}
    .lbad,.lbtd,.lbrd,.lbbd,.lbld,.lbhd,.lbvd{border-style:dotted}
    .lbadd,.lbtdd,.lbrdd,.lbbdd,.lbldd,.lbhdd,.lbvdd{border-style:dashed}

    .lbas,.lbad,.lbadd{border-width:1px}
    .lbts,.lbtd,.lbtdd{border-width:1px 0 0}
    .lbrs,.lbrd,.lbrdd{border-width:0 1px 0 0}
    .lbbs,.lbbd,.lbbdd{border-width:0 0 1px}
    .lbls,.lbld,.lbldd{border-width:0 0 0 1px}
    .lbhs,.lbhd,.lbhdd{border-width:0 1px}
    .lbvs,.lbvd,.lbvdd{border-width:1px 0}

    .lban{border:none!important}
    .lbtn{border-top:none!important}
    .lbrn{border-right:none!important}
    .lbbn{border-bottom:none!important}
    .lbln{border-left:none!important}
    .lbhn{border-right:none!important;border-left:none!important}
    .lbvn{border-top:none!important;border-bottom:none!important}

    /* =========================================================================
        Useful Classes */
    .lClearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
    .lClearfix{display:inline-block}
    * html .lClearfix{height:1%}
    .lClearfix{display:block}

    .hm{display:none !important}
    .sm{display:block !important}

    .lpRel{position:relative}
    .lpAbs{position:absolute}
    .lDisplayInline{display: inline}
    .lDisplayBlock{display:block}
    .lDisplayNone{display:none}
    .lNoBackground{background:none!important}
    .lUnstyled,
    .lHorizontal{list-style:none!important}
    .lFloatLeft,
    .lHorizontal li{float:left!important}
    .lFloatRight{float:right!important}
    .lFloatNone,
    .lUnstyled li{float:none!important}
    .lIndentedText{text-indent:-9999px}
    .lClear{clear:both}
    .lAutoWidth{width:auto!important}
    .lAutoHeight{height:auto!important}

    .lAlignCenter{text-align:center}
    .lAlignRight{text-align:right}
    .lAlignLeft{text-align:left}
    .lAlignJustify{text-align:justify}

    /* =========================================================================
       Header/Footer
       ====================================================================== */

    /* =========================================================================
       Nav
       ====================================================================== */

    /* =========================================================================
       Primary Styles
       ====================================================================== */

    /* =========================================================================
       Layout
       ====================================================================== */
    .wrap,.lWrap{width:290px;margin:auto}
    .lWrapFull{width:320px;margin:auto}
    .lFull{width:100%!important}
}