/* Mobile + */ @media only screen and (min-width:320px){}

/* Mobile */ @media only screen and (min-width:320px) and (max-width:767px){ 
    /* =========================================================================
       Spacing Helpers */
    .mptn,.mpvn,.mpan{padding-top:0!important}
    .mpts,.mpvs,.mpas{padding-top:5px!important}
    .mptm,.mpvm,.mpam{padding-top:10px!important}
    .mptl,.mpvl,.mpal{padding-top:20px!important}
    .mprn,.mphn,.mpan{padding-right:0!important}
    .mprs,.mphs,.mpas{padding-right:5px!important}
    .mprm,.mphm,.mpam{padding-right:10px!important}
    .mprl,.mphl,.mpal{padding-right:20px!important}
    .mpbn,.mpvn,.mpan{padding-bottom:0!important}
    .mpbs,.mpvs,.mpas{padding-bottom:5px!important}
    .mpbm,.mpvm,.mpam{padding-bottom:10px!important}
    .mpbl,.mpvl,.mpal{padding-bottom:20px!important}
    .mpln,.mphn,.mpan{padding-left:0!important}
    .mpls,.mphs,.mpas{padding-left:5px!important}
    .mplm,.mphm,.mpam{padding-left:10px!important}
    .mpll,.mphl,.mpal{padding-left:20px!important}
    .mmtn,.mmvn,.mman{margin-top:0!important}
    .mmts,.mmvs,.mmas{margin-top:5px!important}
    .mmtm,.mmvm,.mmam{margin-top:10px!important}
    .mmtl,.mmvl,.mmal{margin-top:20px!important}
    .mmrn,.mmhn,.mman{margin-right:0!important}
    .mmrs,.mmhs,.mmas{margin-right:5px!important}
    .mmrm,.mmhm,.mmam{margin-right:10px!important}
    .mmrl,.mmhl,.mmal{margin-right:20px!important}
    .mmbn,.mmvn,.mman{margin-bottom:0!important}
    .mmbs,.mmvs,.mmas{margin-bottom:5px!important}
    .mmbm,.mmvm,.mmam{margin-bottom:10px!important}
    .mmbl,.mmvl,.mmal{margin-bottom:20px!important}
    .mmln,.mmhn,.mman{margin-left:0!important}
    .mmls,.mmhs,.mmas{margin-left:5px!important}
    .mmlm,.mmhm,.mmam{margin-left:10px!important}
    .mmll,.mmhl,.mmal{margin-left:20px!important}
    .mmra,.mmha{margin-right:auto!important}
    .mmla,.mmha{margin-left:auto!important}

    /* =========================================================================
        Border Helpers
    b = border
    a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
    s,d,dd = solid,dotted,dashed
    bw,bk,bg = white, black, grey */

    .mbw{border-color:#fff}
    .mbk{border-color:#000}
    .mbg{border-color:#ccc}

    .mbas,.mbts,.mbrs,.mbbs,.mbls,.mbhs,.mbvs{border-style:solid}
    .mbad,.mbtd,.mbrd,.mbbd,.mbld,.mbhd,.mbvd{border-style:dotted}
    .mbadd,.mbtdd,.mbrdd,.mbbdd,.mbldd,.mbhdd,.mbvdd{border-style:dashed}

    .mbas,.mbad,.mbadd{border-width:1px}
    .mbts,.mbtd,.mbtdd{border-width:1px 0 0}
    .mbrs,.mbrd,.mbrdd{border-width:0 1px 0 0}
    .mbbs,.mbbd,.mbbdd{border-width:0 0 1px}
    .mbls,.mbld,.mbldd{border-width:0 0 0 1px}
    .mbhs,.mbhd,.mbhdd{border-width:0 1px}
    .mbvs,.mbvd,.mbvdd{border-width:1px 0}

    .mban{border:none!important}
    .mbtn{border-top:none!important}
    .mbrn{border-right:none!important}
    .mbbn{border-bottom:none!important}
    .mbln{border-left:none!important}
    .mbhn{border-right:none!important;border-left:none!important}
    .mbvn{border-top:none!important;border-bottom:none!important}

    /* Useful Classes */
    .mClearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
    .mClearfix{display:inline-block}
    * html .mClearfix{height:1%}
    .mClearfix{display:block}

    .hm{display:none !important}
    .sm{display:block !important}

    .mpRel{position:relative}
    .mpAbs{position:absolute}
    .mDisplayBlock{display:block}
    .mDisplayNone{display:none}
    .mNoBackground{background:none!important}
    .mUnstyled,
    .mHorizontal{list-style:none!important}
    .mFloatLeft,
    .mHorizontal li{float:left!important}
    .mFloatRight{float:right!important}
    .mFloatNone,
    .mUnstyled li{float:none!important}
    .mIndentedText{text-indent:-9999px}
    .mClear{clear:both}
    .mAutoWidth{width:auto!important}
    .mAutoHeight{height:auto!important}

    .mAlignCenter{text-align:center}
    .mAlignRight{text-align:right}
    .mAlignLeft{text-align:left}
    .mAlignJustify{text-align:justify}

    /* =========================================================================
       Header/Footer
       ====================================================================== */

    /* =========================================================================
       Nav
       ====================================================================== */

    /* =========================================================================
       Primary Styles
       ====================================================================== */
    
    /* =========================================================================
       Layout
       ====================================================================== */
    .wrap,.mWrap{width:290px;margin:auto}
    .mWrapFull{width:320px!important;margin:auto}
    .mFull{width:100%!important}
}