/* iPads + */ @media only screen and (min-width:768px){}

/* iPads */ @media only screen and (min-width:768px) and (max-width:1024px){    
    /* =========================================================================
        Spacing Helpers */
    .tptn,.tpvn,.tpan{padding-top:0!important}
    .tpts,.tpvs,.tpas{padding-top:5px!important}
    .tptm,.tpvm,.tpam{padding-top:10px!important}
    .tptl,.tpvl,.tpal{padding-top:20px!important}
    .tprn,.tphn,.tpan{padding-right:0!important}
    .tprs,.tphs,.tpas{padding-right:5px!important}
    .tprm,.tphm,.tpam{padding-right:10px!important}
    .tprl,.tphl,.tpal{padding-right:20px!important}
    .tpbn,.tpvn,.tpan{padding-bottom:0!important}
    .tpbs,.tpvs,.tpas{padding-bottom:5px!important}
    .tpbm,.tpvm,.tpam{padding-bottom:10px!important}
    .tpbl,.tpvl,.tpal{padding-bottom:20px!important}
    .tpln,.tphn,.tpan{padding-left:0!important}
    .tpls,.tphs,.tpas{padding-left:5px!important}
    .tplm,.tphm,.tpam{padding-left:10px!important}
    .tpll,.tphl,.tpal{padding-left:20px!important}
    .tmtn,.tmvn,.tman{margin-top:0!important}
    .tmts,.tmvs,.tmas{margin-top:5px!important}
    .tmtm,.tmvm,.tmam{margin-top:10px!important}
    .tmtl,.tmvl,.tmal{margin-top:20px!important}
    .tmrn,.tmhn,.tman{margin-right:0!important}
    .tmrs,.tmhs,.tmas{margin-right:5px!important}
    .tmrm,.tmhm,.tmam{margin-right:10px!important}
    .tmrl,.tmhl,.tmal{margin-right:20px!important}
    .tmbn,.tmvn,.tman{margin-bottom:0!important}
    .tmbs,.tmvs,.tmas{margin-bottom:5px!important}
    .tmbm,.tmvm,.tmam{margin-bottom:10px!important}
    .tmbl,.tmvl,.tmal{margin-bottom:20px!important}
    .tmln,.tmhn,.tman{margin-left:0!important}
    .tmls,.tmhs,.tmas{margin-left:5px!important}
    .tmlm,.tmhm,.tmam{margin-left:10px!important}
    .tmll,.tmhl,.tmal{margin-left:20px!important}
    .tmra,.tmha{margin-right:auto!important}
    .tmla,.tmha{margin-left:auto!important}

    /* =========================================================================
       Border Helpers
       ========================================================================= 
    b = border
    a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
    s,d,dd = solid,dotted,dashed
    bw,bk,bg = white,black,grey
    */

    .bw{border-color:#fff}
    .bk{border-color:#000}
    .bg{border-color:#ccc}

    .tbas,.tbts,.tbrs,.tbbs,.tbls,.tbhs,.tbvs{border-style:solid}
    .tbad,.tbtd,.tbrd,.tbbd,.tbld,.tbhd,.tbvd{border-style:dotted}
    .tbadd,.tbtdd,.tbrdd,.tbbdd,.tbldd,.tbhdd,.tbvdd{border-style:dashed}

    .tbas,.tbad,.tbadd{border-width:1px}
    .tbts,.tbtd,.tbtdd{border-width:1px 0 0}
    .tbrs,.tbrd,.tbrdd{border-width:0 1px 0 0}
    .tbbs,.tbbd,.tbbdd{border-width:0 0 1px}
    .tbls,.tbld,.tbldd{border-width:0 0 0 1px}
    .tbhs,.tbhd,.tbhdd{border-width:0 1px}
    .tbvs,.tbvd,.tbvdd{border-width:1px 0}

    .tban{border:none!important}
    .tbtn{border-top:none!important}
    .tbrn{border-right:none!important}
    .tbbn{border-bottom:none!important}
    .tbln{border-left:none!important}
    .tbhn{border-right:none!important;border-left:none!important}
    .tbvn{border-top:none!important;border-bottom:none!important}

    /* =========================================================================
        Useful Classes */
    .tClearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
    .tClearfix{display:inline-block}* html .tClearfix{height:1%}
    .tClearfix{display:block}

    .ht{display:none !important}
    .st{display:block !important}

    .tpRel{position:relative}
    .tpAbs{position:absolute}
    .tDisplayBlock{display:block}
    .tDisplayNone{display:none}
    .tNoBackground{background:none!important}
    .tFloatLeft{float:left!important}
    .tFloatRight{float:right!important}
    .tFloatNone{float:none!important}
    .tIndentedText{text-indent:-9999px}
    .tClear{clear:both}
    .tAlignCenter{text-align:center}
    .tAutoWidth{width:auto!important}
    .tAutoHeight{height:auto!important}

    /* =========================================================================
       Header/Footer
       ====================================================================== */ 

    /* =========================================================================
       Nav
       ====================================================================== */ 

    /* =========================================================================
       Primary Styles
       ====================================================================== */

    
    /* =========================================================================
       Layout
       ====================================================================== */
    .wrap,.tWrap{width:728px;margin:auto}
    .tWrapFull{width:768px;margin:auto}
    .tFull{width:100%}
}