/* =============================================================================
   Full Squares UL/LI
   ========================================================================== */
.index .cont{
    width:100%;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
}
.index ul{
    width:100%;
    height:100%;
}
.index li{
    width:20%;
    height:33.34%;
    text-indent:-9999px;
    cursor:pointer;
}
.index li.a{background:url('/nuevo/_snippets/img/parallax/bg01.jpg') center center}
.index li.b{background:url('/nuevo/_snippets/img/parallax/bg02.jpg') center center}
.index li.c{background:url('/nuevo/_snippets/img/parallax/bg03.jpg') center center}
.index li.d{background:url('/nuevo/_snippets/img/parallax/bg01.jpg') center center}
.index li.e{background:url('/nuevo/_snippets/img/parallax/bg02.jpg') center center}
.index li.f{background:url('/nuevo/_snippets/img/parallax/bg03.jpg') center center}
.index li.g{background:url('/nuevo/_snippets/img/parallax/bg01.jpg') center center}
.index li.h{background:url('/nuevo/_snippets/img/parallax/bg02.jpg') center center}
.index li.i{background:url('/nuevo/_snippets/img/parallax/bg03.jpg') center center}
.index li.j{background:url('/nuevo/_snippets/img/parallax/bg01.jpg') center center}
.index li.k{background:url('/nuevo/_snippets/img/parallax/bg02.jpg') center center}
.index li.l{background:url('/nuevo/_snippets/img/parallax/bg03.jpg') center center}
.index li.m{background:url('/nuevo/_snippets/img/parallax/bg01.jpg') center center}
.index li.n{background:url('/nuevo/_snippets/img/parallax/bg02.jpg') center center}
.index li.o{background:url('/nuevo/_snippets/img/parallax/bg03.jpg') center center}