/* =============================================================================
   Main Menu Styles
   ========================================================================== */
.logoHeader{
    width: 70%!important;
}
.logoHeader a,
.logoHeader img{
    width: 100%!important;
}

.logoHeader,
.logoHeader a,
.logoHeader img{
    margin-right: auto!important;
    margin-left: auto!important;
}

.mainNav li {
    border: 1px solid #000;
    float: left;
    background-color: #eee;
    padding: 0 5px;
    margin-bottom: 5px;
}
.mainNav li, .mainNav li a {
    height: 20px;
    line-height: 20px;
}
.mainNav li + li {
    margin-left: 5px;
}
.mainNav li a {
    font-size: .7em;
}