progress[value]{
    background-color: #ccc;
}

progress[value]::-webkit-progress-bar{
    background-image: linear-gradient(to bottom, #84f0bf 0%,#84f0bf 100%);
}

progress[value]::-moz-progress-bar{
    background-image: linear-gradient(to bottom, #84f0bf 0%,#84f0bf 100%);
}

progress[value]::-webkit-progress-value{}

progress[value]::-moz-progress-bar{}
