/* =============================================================================
   SliderNav Styles | Custom [stylesSliderNav.scss]
   ========================================================================== */
section{
    .sliderMain{
        z-index: 10;
    }

    .sliderNav{
        .slick-track{
            width: $hundred;
        }

        .slick-list{
            margin-right: $auto;
            margin-left: $auto;
        }

        li{
            @include borderStyle($bcGrey);
            
            &, img{
                @include transition(1s);
            }
            
            img{
                @include opacityCustom(80);
                filter: grayscale(1);
            }
                
            &.slick-current{
                &, &:focus, &:hover{
                    border-color: $bcBlue; 
                    
                    img{
                        @include opacityCustom(100);
                        filter: grayscale(0);
                    }
                }
            }
                
            &:focus, &:hover{
                border-color: $bcBlack;
            }
        }
    }

    @include mobileOnly{
        .sliderNav{
            .slick-list{
                max-width: 320px!important;
            }
            
            li{            
                width: $third;
                padding: 0 5px;
                
                &:nth-child(n+4){
                    margin-top: 7px;
                }
            }
        } 
    }
    
    @include mobileLandscapeOnly{
        .sliderNav{
            .slick-list{
                max-width: 420px!important;
            }
            
            li{            
                width: 20%!important;
                padding: 0 5px;
                
                &:nth-child(n+6){
                    margin-top: 7px;
                }
            }
        } 
    }
    
    @include beforeTablet{        
        .sliderNav{
            @include borderStyleB($bgGreyL);
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
    
    @include afterTablet{                
        .sliderNav{
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 10px;
            
            .slick-list{
                max-width: $hundred;
            }
            
            li{
                width: 60px!important;
                padding: $zero;
                margin-top: 0; 
                
                & + li{
                    margin-left: 5px;
                }
            }
        }      
    }
    
    @include tabletOnly{
        .sliderNav{            
            li{
                &:nth-child(n+9){
                    margin-top: 7px;
                }          
                
                &:nth-child(9){
                    margin-left: 0;
                }
            }
        } 
    }
}