/* * NombreDeProyecto * ========================================================
   Animations | Custom [/etc/css/custom/animation.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Animation Ellipsis ---------------------------------------------------- */
.text::after {
    content: "\2026"; /* ascii code for the ellipsis character */
    animation: ellipsis steps(4,end) 900ms infinite;
    display: inline-block; 
    width: 0px;
    vertical-align: bottom;   
    overflow: hidden;
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}
  
/* // Animation A ----------------------------------------------------------- */
.animationA_ani{
    animation-name: animationA;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1); // cubic-bezier(0.33, 1, 0.68, 1)
    //animation-delay: $animationA_ani_delay; // Time before animation starts
    animation-iteration-count: 1; // Options: 1, `infinite`, 1.5
    animation-direction: normal; // `reverse`, `alternate`, `alternate-reverse`
    animation-fill-mode: forwards; // `none`, `forwards`, `backwards`, `both`
    animation-play-state: running; // `paused`
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    50% {
        top: 0;
        counter-increment: animationA -34;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    25% {
        top: 0;
        counter-increment: animationA -58;
    }
    50% {
        top: 0;
        counter-increment: animationA -34;
    }
    75% {
        top: 0;
        counter-increment: animationA -10;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    20% {
        top: 0;
        counter-increment: animationA -82;
    }
    40% {
        top: 0;
        counter-increment: animationA -58;
    }
    60% {
        top: 0;
        counter-increment: animationA -34;
    }
    80% {
        top: 0;
        counter-increment: animationA -10;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    10% {
        top: 0;
        counter-increment: animationA -92;
    }
    20% {
        top: 0;
        counter-increment: animationA -82;
    }
    30% {
        top: 0;
        counter-increment: animationA -70;
    }
    40% {
        top: 0;
        counter-increment: animationA -58;
    }
    50% {
        top: 0;
        counter-increment: animationA -46;
    }
    60% {
        top: 0;
        counter-increment: animationA -34;
    }
    70% {
        top: 0;
        counter-increment: animationA -22;
    }
    80% {
        top: 0;
        counter-increment: animationA -10;
    }
    90% {
        top: 0;
        counter-increment: animationA -5;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    3% {
        top: 0;
        counter-increment: animationA -98;
    }
    5% {
        top: 0;
        counter-increment: animationA -96;
    }
    7% {
        top: 0;
        counter-increment: animationA -94;
    }
    10% {
        top: 0;
        counter-increment: animationA -92;
    }
    13% {
        top: 0;
        counter-increment: animationA -90;
    }
    15% {
        top: 0;
        counter-increment: animationA -88;
    }
    17% {
        top: 0;
        counter-increment: animationA -86;
    }
    20% {
        top: 0;
        counter-increment: animationA -82;
    }
    23% {
        top: 0;
        counter-increment: animationA -78;
    }
    25% {
        top: 0;
        counter-increment: animationA -76;
    }
    27% {
        top: 0;
        counter-increment: animationA -72;
    }
    30% {
        top: 0;
        counter-increment: animationA -70;
    }
    33% {
        top: 0;
        counter-increment: animationA -66;
    }
    35% {
        top: 0;
        counter-increment: animationA -64;
    }
    37% {
        top: 0;
        counter-increment: animationA -62;
    }
    40% {
        top: 0;
        counter-increment: animationA -58;
    }
    43% {
        top: 0;
        counter-increment: animationA -55;
    }
    45% {
        top: 0;
        counter-increment: animationA -52;
    }
    47% {
        top: 0;
        counter-increment: animationA -50;
    }
    50% {
        top: 0;
        counter-increment: animationA -46;
    }
    53% {
        top: 0;
        counter-increment: animationA -41;
    }
    55% {
        top: 0;
        counter-increment: animationA -38;
    }
    57% {
        top: 0;
        counter-increment: animationA -36;
    }
    60% {
        top: 0;
        counter-increment: animationA -34;
    }
    63% {
        top: 0;
        counter-increment: animationA -29;
    }
    65% {
        top: 0;
        counter-increment: animationA -27;
    }
    67% {
        top: 0;
        counter-increment: animationA -24;
    }
    70% {
        top: 0;
        counter-increment: animationA -22;
    }
    73% {
        top: 0;
        counter-increment: animationA -18;
    }
    75% {
        top: 0;
        counter-increment: animationA -15;
    }
    77% {
        top: 0;
        counter-increment: animationA -12;
    }
    80% {
        top: 0;
        counter-increment: animationA -10;
    }
    83% {
        top: 0;
        counter-increment: animationA -8;
    }
    85% {
        top: 0;
        counter-increment: animationA -7;
    }
    87% {
        top: 0;
        counter-increment: animationA -6;
    }
    90% {
        top: 0;
        counter-increment: animationA -5;
    }
    93% {
        top: 0;
        counter-increment: animationA -4;
    }
    95% {
        top: 0;
        counter-increment: animationA -3;
    }
    97% {
        top: 0;
        counter-increment: animationA -2;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}



/*
.animationA_ani{
    animation-name: animationA;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1); // cubic-bezier(0.33, 1, 0.68, 1)
    animation-delay: $animationA_ani_delay; // Time before animation starts
    animation-iteration-count: 1; // Options: 1, `infinite`, 1.5
    animation-direction: normal; // `reverse`, `alternate`, `alternate-reverse`
    animation-fill-mode: forwards; // `none`, `forwards`, `backwards`, `both`
    animation-play-state: running; // `paused`
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    50% {
        top: 0;
        counter-increment: animationA -34;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    25% {
        top: 0;
        counter-increment: animationA -58;
    }
    50% {
        top: 0;
        counter-increment: animationA -34;
    }
    75% {
        top: 0;
        counter-increment: animationA -10;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    20% {
        top: 0;
        counter-increment: animationA -82;
    }
    40% {
        top: 0;
        counter-increment: animationA -58;
    }
    60% {
        top: 0;
        counter-increment: animationA -34;
    }
    80% {
        top: 0;
        counter-increment: animationA -10;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    10% {
        top: 0;
        counter-increment: animationA -92;
    }
    20% {
        top: 0;
        counter-increment: animationA -82;
    }
    30% {
        top: 0;
        counter-increment: animationA -70;
    }
    40% {
        top: 0;
        counter-increment: animationA -58;
    }
    50% {
        top: 0;
        counter-increment: animationA -46;
    }
    60% {
        top: 0;
        counter-increment: animationA -34;
    }
    70% {
        top: 0;
        counter-increment: animationA -22;
    }
    80% {
        top: 0;
        counter-increment: animationA -10;
    }
    90% {
        top: 0;
        counter-increment: animationA -5;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}

@keyframes animationA{
    0% {
        top: 0;
        counter-increment: animationA -99;
    }
    3% {
        top: 0;
        counter-increment: animationA -98;
    }
    5% {
        top: 0;
        counter-increment: animationA -96;
    }
    7% {
        top: 0;
        counter-increment: animationA -94;
    }
    10% {
        top: 0;
        counter-increment: animationA -92;
    }
    13% {
        top: 0;
        counter-increment: animationA -90;
    }
    15% {
        top: 0;
        counter-increment: animationA -88;
    }
    17% {
        top: 0;
        counter-increment: animationA -86;
    }
    20% {
        top: 0;
        counter-increment: animationA -82;
    }
    23% {
        top: 0;
        counter-increment: animationA -78;
    }
    25% {
        top: 0;
        counter-increment: animationA -76;
    }
    27% {
        top: 0;
        counter-increment: animationA -72;
    }
    30% {
        top: 0;
        counter-increment: animationA -70;
    }
    33% {
        top: 0;
        counter-increment: animationA -66;
    }
    35% {
        top: 0;
        counter-increment: animationA -64;
    }
    37% {
        top: 0;
        counter-increment: animationA -62;
    }
    40% {
        top: 0;
        counter-increment: animationA -58;
    }
    43% {
        top: 0;
        counter-increment: animationA -55;
    }
    45% {
        top: 0;
        counter-increment: animationA -52;
    }
    47% {
        top: 0;
        counter-increment: animationA -50;
    }
    50% {
        top: 0;
        counter-increment: animationA -46;
    }
    53% {
        top: 0;
        counter-increment: animationA -41;
    }
    55% {
        top: 0;
        counter-increment: animationA -38;
    }
    57% {
        top: 0;
        counter-increment: animationA -36;
    }
    60% {
        top: 0;
        counter-increment: animationA -34;
    }
    63% {
        top: 0;
        counter-increment: animationA -29;
    }
    65% {
        top: 0;
        counter-increment: animationA -27;
    }
    67% {
        top: 0;
        counter-increment: animationA -24;
    }
    70% {
        top: 0;
        counter-increment: animationA -22;
    }
    73% {
        top: 0;
        counter-increment: animationA -18;
    }
    75% {
        top: 0;
        counter-increment: animationA -15;
    }
    77% {
        top: 0;
        counter-increment: animationA -12;
    }
    80% {
        top: 0;
        counter-increment: animationA -10;
    }
    83% {
        top: 0;
        counter-increment: animationA -8;
    }
    85% {
        top: 0;
        counter-increment: animationA -7;
    }
    87% {
        top: 0;
        counter-increment: animationA -6;
    }
    90% {
        top: 0;
        counter-increment: animationA -5;
    }
    93% {
        top: 0;
        counter-increment: animationA -4;
    }
    95% {
        top: 0;
        counter-increment: animationA -3;
    }
    97% {
        top: 0;
        counter-increment: animationA -2;
    }
    100% {
        top: 0;
        counter-increment: animationA -1;
    }
}
*/

/* // Counter Animation ----------------------------------------------------- */
/*
.animation_counter_ani{
    animation-name: animationA;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1); // cubic-bezier(0.33, 1, 0.68, 1)
    animation-delay: $animationA_ani_delay; // Time before animation starts
    animation-iteration-count: 1; // Options: 1, `infinite`, 1.5
    animation-direction: normal; // `reverse`, `alternate`, `alternate-reverse`
    animation-fill-mode: none; // `none`, `forwards`, `backwards`, `both`
    animation-play-state: running; // `paused`

    content: counter(animationA);
    counter-reset: animationA 100;
}

@keyframes animationA{
    0% {
        counter-increment: animationA -99;
    }
    3% {
        counter-increment: animationA -98;
    }
    5% {
        counter-increment: animationA -96;
    }
    7% {
        counter-increment: animationA -94;
    }
    10% {
        counter-increment: animationA -92;
    }
    13% {
        counter-increment: animationA -90;
    }
    15% {
        counter-increment: animationA -88;
    }
    17% {
        counter-increment: animationA -86;
    }
    20% {
        counter-increment: animationA -82;
    }
    23% {
        counter-increment: animationA -78;
    }
    25% {
        counter-increment: animationA -76;
    }
    27% {
        counter-increment: animationA -72;
    }
    30% {
        counter-increment: animationA -70;
    }
    33% {
        counter-increment: animationA -66;
    }
    35% {
        counter-increment: animationA -64;
    }
    37% {
        counter-increment: animationA -62;
    }
    40% {
        counter-increment: animationA -58;
    }
    43% {
        counter-increment: animationA -55;
    }
    45% {
        counter-increment: animationA -52;
    }
    47% {
        counter-increment: animationA -50;
    }
    50% {
        counter-increment: animationA -46;
    }
    53% {
        counter-increment: animationA -41;
    }
    55% {
        counter-increment: animationA -38;
    }
    57% {
        counter-increment: animationA -36;
    }
    60% {
        counter-increment: animationA -34;
    }
    63% {
        counter-increment: animationA -29;
    }
    65% {
        counter-increment: animationA -27;
    }
    67% {
        counter-increment: animationA -24;
    }
    70% {
        counter-increment: animationA -22;
    }
    73% {
        counter-increment: animationA -18;
    }
    75% {
        counter-increment: animationA -15;
    }
    77% {
        counter-increment: animationA -12;
    }
    80% {
        counter-increment: animationA -10;
    }
    83% {
        counter-increment: animationA -8;
    }
    85% {
        counter-increment: animationA -7;
    }
    87% {
        counter-increment: animationA -6;
    }
    90% {
        counter-increment: animationA -5;
    }
    93% {
        counter-increment: animationA -4;
    }
    95% {
        counter-increment: animationA -3;
    }
    97% {
        counter-increment: animationA -2;
    }
    100% {
        counter-increment: animationA -1;
    }
}
*/