/* =============================================================================
   Breadcrumb Styles | Custom [breadcrumbs.scss]
   ========================================================================== */
.breadcrumbs{
    p,
    ul::before,
    li,
    a{
        color: $greyXD;
    }
    
    ul{
        &::before{
            content: "Estoy en:";
            display: block;
            visibility: visible;
            font-family: $fontFamily_main_global;
            font-weight: 700;
        } 
    }
    
    li{
        a{
            font-size: 1em;
        }
        
        &:focus, &:hover{
            a{
                color: $grey2XD;
            }
        }
        
        &::before{
            content: "\0203A ";
            display: block;
            float: left;
            font-size: 1rem;
            white-space: pre;
        }
        
        &:first-child{
            &,            
            a{
                color: $grey2XD;
            }
        }
    }
    
    @include mobileOnly{
        background-color: $bgGreyXL;
        padding-top: 5px;
        padding-bottom: 15px;
    
        ul:before,
        li,
        li:before,
        a,
        a:before{
            @include equalHeightAndLineHeight(30px);
        }

        p,
        ul::before,
        li{
            font-size: 0.9rem;
        }
        
        ul{
            &::before{
                font-weight: 700;
            }
        }
        
        li{
            clear: both;
            
            &:last-child{
                display: none;
            } 
        }
    }
    
    @include afterMobileLandscape{
        @include borderStyleT($bgGreyXD, 2px);
        background-color: $bgGreyL;
        padding-bottom: 5px;
    
        ul,
        ul:before,
        li,
        a{
            @include equalHeightAndLineHeight(30px);
        }   
        
        ul:before,
        li{
            font-size: 0.72rem;
        }
        
        ul{
            $breadcrumbs_EstoyEn_width_AML: 65px;
           
            position: relative;
            padding-left: $breadcrumbs_EstoyEn_width_AML;
            
            &::before{
                width: $breadcrumbs_EstoyEn_width_AML;
                position: absolute;
                left: 0;
                text-align: right;
            }
        }  

        li{
            float: left;
            padding-left: 10px;
                        
            &::before{
                letter-spacing: -0.08em;
            }
            
            &:first-child{
                &::before{
                    display: none;
                }
            }
        }
        
        a{
            text-decoration: underline;
        }
    }
    
    @include afterMobile850{
        ul:before,
        li{
            font-size: 0.8rem;
        }
    }
    
    @include afterTabletLandscape{        
        padding-bottom: 0;
    }
}