/* * NombreDeProyecto * ========================================================
   Breadcrumb Styles | Custom [/etc/css/custom/breadcrumbs.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



.breadcrumbs{
    p,
    ul::before,
    li,
    a{
        color: $greyXD;
    }
    
    ul{
        &::before{
            content: "Estoy en:";
            display: block;
            visibility: visible;
            font-family: $ftFamily_main_global;
            font-weight: 700;
        } 
    }
    
    li{
        a{
            font-size: 1em;
        }
        
        &:focus, &:hover{
            a{
                color: $grey2XD;
            }
        }
        
        &::before{
            content: "\0203A ";
            display: block;
            float: left;
            font-size: 1rem;
            white-space: pre;
        }
        
        &:first-child{
            &,            
            a{
                color: $grey2XD;
            }
        }
    }
    
    @include beforeMobile500{
        background-color: $bgGreyXL;
        padding-top: 5px;
        padding-bottom: 15px;
    
        ul:before,
        li,
        li:before,
        a,
        a:before{
            @include equalHeightAndLineHeight(30px);
        }

        p,
        ul::before,
        li{
            font-size: 0.9rem;
        }
        
        ul{
            &::before{
                font-weight: 700;
            }
        }
        
        li{
            clear: both;
            
            &:last-child{
                display: none;
            } 
        }
    }
    
    @include afterMobile500{
        @include borderStyleT($bgGreyXD, 2px);
        background-color: $bgGreyL;
        padding-bottom: 5px;
    
        ul,
        ul:before,
        li,
        a{
            @include equalHeightAndLineHeight(30px);
        }   
        
        ul:before,
        li{
            font-size: 0.72rem;
        }
        
        ul{
            $breadcrumbs_EstoyEn_width_A500: 65px;
           
            position: relative;
            padding-left: $breadcrumbs_EstoyEn_width_A500;
            
            &::before{
                width: $breadcrumbs_EstoyEn_width_A500;
                position: absolute;
                left: 0;
                text-align: right;
            }
        }  

        li{
            float: left;
            padding-left: 10px;
                        
            &::before{
                letter-spacing: -0.08em;
            }
            
            &:first-child{
                &::before{
                    display: none;
                }
            }
        }
        
        a{
            text-decoration: underline;
        }
    }
    
    @include afterMobile850{
        ul:before,
        li{
            font-size: 0.8rem;
        }
    }
    
    @include afterTabletLandscape{        
        padding-bottom: 0;
    }
}