/* * NombreDeProyecto * ========================================================
   Button Styles | Custom [/etc/css/custom/buttons.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Reset ----------------------------------------------------------------- */
button,
input[type="button"],
html input[type="button"]{
    border: none;
}

button{
    &, &::before, &::after{
        box-sizing: border-box;
    }
}
button::focus-inner{}
input::focus-inner{}


/* // Button General -------------------------------------------------------- */
button{
    @if $button_pointer_act == "on"{
        cursor: pointer;
    }
}


/* // Call to Action -------------------------------------------------------- */
.callToAction{
    // Si lleva .hoverGrow hay que comentar transition
    //@include transition(1s);
    transition: background-color 0.7s cubic-bezier(0.39, 0.575, 0.565, 1), color 1s, border-color 1s, box-shadow 0.7s;
    
    @include borderStyle($button_callToAction_bdColour, 2px);
    display: block;
    box-sizing: border-box;
    background-color: $button_callToAction_bgColour;
    padding-right: 10px;
    padding-left: 10px;
    font-family: $button_callToAction_ftFamily;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    
    &, &:focus, &:hover, &:visited, &:active{
    }
    
    &, &:focus, &:hover{
        text-decoration: $none;
    }
    
    &, &:visited, &:active{
        color: $button_callToAction_ftColour;
    }
    
    &:focus, &:hover{
        background-color: $button_callToAction_bgColour_hover;
        border-color: $button_callToAction_bdColour_hover;
        color: $button_callToAction_ftColour_hover;
    }
    
    &, &::before, &::after{
        box-sizing: border-box;
    }
    
/*
    &.CTA_white{
        &, &:focus, &:hover, &:visited, &:active{}

        &, &:visited, &:active{
            border-color: $bdWhite;
            background-color: $bgWhite;
            color: $greyXD;
        }

        &:focus, &:hover{
            border-color: $bdGrey3XL;
            background-color: $bgGrey3XL;
            color: $greyD;
            box-shadow: 0 0 3px $greyL;
            text-shadow: 0 0 3px $greyL;
        }
    }
    
    &.CTA_hollow{
        &, &:focus, &:hover, &:visited, &:active{
            @include borderStyle($bdWhite);
            color: $white;
        }
    
        &, &:visited, &:active{
            background-color: transparent;
        }

        &:focus, &:hover{
            background-color: $black_rgba10;
        }
    }
*/
    
    @include beforeMobile500{
        width: $hundred;
    }
    
    @include beforeTablet{
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1.3;
    }
    
    @include afterTablet{
        @include equalHeightAndLineHeight(50px);        
    }
}


/* // Button Close ---------------------------------------------------------- */
.button_close{
    position: absolute;
    z-index: $zIndex_button_topLevel;
    border-radius: 50%;
    // border: 1px solid $bdGreyXD!important; 
    width: $button_close_global_size!important;
    height: $button_close_global_size!important;
    background-size: 100%;
    background-color: $bgWhite;
    background-image: url('#{$dir_env}/img/button_close.svg');
    background-repeat: no-repeat;
    background-position: center center; 
    text-indent: -9999px;
    overflow: hidden;

    &, &:focus, &:hover{
        background-color: $bgWhite;
    }
}


/* // Button Popup ---------------------------------------------------------- */
.pop_global{
    .button_close_pop{
        width: $button_close_pop_size!important;
        height: $button_close_pop_size!important;
    }

    @include beforeMobile600{
        .button_close_pop{
            top: -45px;
            right: 0;
        }
    }

    @include afterMobile600{
        .button_close_pop{
            top: -35px;
            right: -35px;
        } 
    }
}

.pop_warning{
    .button_close_pop{
        @include borderStyle($bdGreyD);
        @include positionTR(10px, 10px);

        &:focus, &:hover{
            border-color: $bdGreyXD;
        }
    }

    .button_pop_submit{
        @include transition(1s);
        @include equalHeightAndLineHeight(35px);
        width: 40%;
        max-width: 150px;
        border-radius: $bdRadius_global;
        background-color: $bgWhite;
        font-size: 0.8rem;

        &, &:focus, &:hover{
            border: 1px solid $bdGrey!important
        }

        &:focus, &:hover{
            background-color: $bgGrey2XL;
            color: $black;
        }            
    }
}

.pop_form{
    .button_close_pop{
        // box-shadow: $bxShadow_main;
    }
}

.pop_formStatus{    
    .button_pop_submit{
        background-color: $bgWhite;
        margin: 20px auto 0;
        color: $black;
        font-family: $arial;
        font-weight: 700;
        text-align: center;        
        text-transform: uppercase;
    }
} 


/* // Button Whatsapp ------------------------------------------------------- */
#selector{
    .button_whatsapp_anchor{
        @include transition(1s);
        @include squareSize($button_whatsapp_size_square);
        position: fixed;
        z-index: $zIndex_button_whatsapp;
        right: 10px;
        bottom: 40px;
        box-sizing: border-box;
        display: block;
/*
        width: $button_whatsapp_width;
        height: $button_whatsapp_height;
*/
        border-radius: 50%;
        background-image: url('#{$dir_env}/img/button_whatsapp.svg');
        background-repeat: no-repeat;
        background-size: auto calc(#{$button_whatsapp_size_square} - 10px);
        background-position: center center;

        &, &:focus, &:hover, &:visited, &:active{}

        &, &:visited, &:active{ 
            /*background-color: $greenWhatsApp;*/
            background-color: rgba(37, 211, 102, 0.85);
        }

        &:focus, &:hover, &:visited, &:active{}

        &:visited, &:active{}

        &:focus, &:hover{
            box-shadow: 0 0 5px #3c9637;
            /*background-color: $greenWhatsApp_hover;*/
            background-color: rgba(37, 211, 102, 1);

            &::before{
                @include borderRadius(15px);
                @include equalHeightAndLineHeight($button_whatsapp_before_height);
                display: block;
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                right: calc(#{$button_whatsapp_size_square} + 10px);
                background-color: rgba(0, 0, 0, 0.7);
                padding: 0 15px;
                margin-top: calc(-1 * calc(#{$button_whatsapp_before_height} / 2));
                color: $white;
                font-size: 0.8rem;
                text-indent: 0;
                text-align: center;
            }
        }
                    
        // REF [33]
        &.lang_AR{
            &:focus, &:hover{
                &::before{
                    content: "Chat con SiteName.";
                }
            }
        }

        &.lang_BR{
            &:focus, &:hover{
                &::before{
                    content: "Converse com o SiteName.";
                }
            }
        }

        &.lang_DE{
            &:focus, &:hover{
                &::before{
                    content: "Chatten Sie mit SiteName.";
                }
            }
        }

        &.lang_GB{
            &:focus, &:hover{
                &::before{
                    content: "Chat with SiteName.";
                }
            }
        }

        @include beforeMobile500{
            &:focus, &:hover{
                &::before{
                    width: $button_whatsapp_before_width_B500;
                }
            }
        }

        @include beforeTablet{
            &.navDrawer_open{
                &, &:focus, &:hover{
                    &::before{
                        display: none;
                    }
                }
            }
        }

        @include afterMobile500{
            &:focus, &:hover{
                &::before{
                    width: $button_whatsapp_before_width_A500;
                }
            }
        }

        .button_whatsapp_nFormatted{
/*
            display: block;
            height: $button_whatsapp_height;
            font-size: 0.8rem;
            line-height: $button_whatsapp_height;
*/

            &, &:focus, &:hover, &:visited, &:active{}
            
            &, &:visited, &:active{}

            &:focus, &:hover, &:visited, &:active{}

            &:visited, &:active{}

            &:focus, &:hover{}
            
            &:not(:focus):not(:active){
/*
    // REF [22]
Hide only visually, but have it available for screen readers:
https://snook.ca/archives/html_and_css/hiding-content-for-accessibility

    // REF [22a]
For long content, line feeds are not interpreted as spaces and small width
causes content to wrap 1 word per line:
https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
                position: absolute;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                width: 1px;
                height: 1px;
                border: $zero;
                padding: $zero;
                margin: -1px;
                overflow: hidden;
                white-space: nowrap; // REF [22a]
            }
        }
    }
}

/* // Button Site Top // REF [18] ------------------------------------------- */
.button_siteTop{
    @include transition(0.7s);
    @include squareSize($button_siteTop_size);
    position: fixed;
    z-index: $zIndex_button_siteTop;
    right: 20px;
    background-image: url('#{$dir_env}/img/button_siteTop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-indent: -9999px;
    overflow: hidden;
    
    /* no scroll activation
    bottom: 20px;
    */
    
    /* scroll activation
    bottom: calc(-1 * calc(#{$button_siteTop_size} + 5px));
    opacity: 0;
    
    &.button_siteTop_visible{
        opacity: 1;
        bottom: 20px;
    }
    */
}


/* // Button Video Play ----------------------------------------------------- */
.button_pop_open_video{
    position: relative;
    cursor: pointer;
    padding: 0;
    
    &::before,
    &::after{
        content: "";
        display: block;
    }

    &::before{
        @include positionTRBL();
        @include transition(0.5s);
        position: absolute;
        background-color: rgba(255,255,255, 0.1);
    }
    
    &::after{
        @include transition(0.7s);
        @include squareSize($button_before_icon_play_size);
        @include centerAbsolute($button_before_icon_play_size, $button_before_icon_play_size);
        opacity: 0.8;
        background-image: url('#{$dir_env}/img/icon_play.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &:focus, &:hover{
        &::before{
            background-color: rgba(255,255,255, 0.2);
        }
        
        &::after{
            opacity: 1;
        }
    }
}


/* // Button Section -------------------------------------------------------- */
button{
    &, &:focus, &:hover, &:visited, &:active{}
    
    &:focus, &:hover, &:visited, &:active{}
    
    &, &:visited, &:active{}
    
    &:visited, &:active{}
    
    &:focus, &:hover{}
}