/* =============================================================================
   Shadows Classes | Custom [classesShadows.scss]
   ========================================================================== */
/* // References ------------------------------------------------------------ */
// T, R, B, L       = top, right, bottom, left
// H, V             = horizontal, vertical


.shadow_text{
    text-shadow: $text_shadow_main;
}

.shadow_text_white{
    text-shadow: $text_shadow_white;
}

.shadow_box{
    box-shadow: $box_shadow_main;
} 

.shadow_box_inset{
    box-shadow: $box_shadow_main_inset;
}

/* // Background Shadows ---------------------------------------------------- */
$bgShadowT_img_url: url('/nuevo/img/bg_shadowT.png');
$bgShadowB_img_url: url('/nuevo/img/bg_shadowB.png');

.bgShadowT,
.bgShadowB,
.bgShadowV{
    background-repeat: repeat-x;
    background-size: auto 20px;
}

.bgShadowT{
    background-image: $bgShadowT_img_url;
    background-position: center top;
}

.bgShadowB{
    background-image: $bgShadowB_img_url;
    background-position: center bottom;
}

.bgShadowV{
    background-image: $bgShadowT_img_url, $bgShadowB_img_url;
    background-position: center top, center bottom;
}