/* * NombreDeProyecto * ========================================================
   Text Classes | Custom [/etc/css/custom/classes_text.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";

@use "var/env_var" as *;

@use "../scss/var_all_pre" as *;

@use "var/fonts_main_var" as *;
@use "var/text_var" as *;

.txBold{    
    &,
    a,
    span,
    strong,
    cite{
        font-family: $ftFamily_bold_global; /* // REF [46] Fuentes Regular y Bold */
        
        @if $google_fonts_act == "on" {
            font-weight: $ftWeight_bold_global; /* // REF [01] Google Fonts */
        } @else {
            font-weight: 400;
        }
    }
}
.txItalic{font-style: italic} 

.txUnderline{
    &, &:focus, &:focus-visible, &:hover, &:visited, &:active{
        text-decoration: underline;
    }
}
.txLineThrough{text-decoration: line-through}

.txUpperCase{text-transform: uppercase}
.txLowerCase{text-transform: lowercase}
.txSmallCaps{font-variant: small-caps}
.txCapitalize{text-transform: capitalize}

.txAlignCenter{text-align: center}
.txAlignRight{text-align: right}
.txAlignLeft{text-align: left}
.txAlignJustify{text-align: justify}
.txAlignJustifyCenter{
    text-align: justify;
    text-align-last: center;
}
.txJustifyInterWord{text-justify: inter-word}
.txJustifyInterCharacter{text-justify: inter-character}

.txIndented{
    overflow: hidden;
    text-indent: -9999px;
}
.txTruncated{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.txClampled{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.txQuoted{
    position: relative;
    
    &::before{
        content: "“";
    }
    
    &::after{
        content: "”";
    }
    
    .txQuoted{
        &::before{
            content: "«";
        }

        &::after{
            content: "»";
        }
    }
}

.txHyphensNone{hyphens: none}
.txHyphensManual{hyphens: manual}
.txHyphensAuto{hyphens: auto}

.txNoSelectable{user-select: none}
.txLetterSpacing{letter-spacing: 0.05rem}
        
.txSuperscript{
    position: relative;
    top: -0.5em;
    font-size: 80%;
    /* vertical-align: super; */
}

.txSymbol {
    position: relative;
    display: inline-flex;
    width: 35px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;

    &::before {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
    }

    @each $txSymbols_name, $txSymbols_value in $txSymbols_map {
        &.symbol_#{$txSymbols_name}::before {
          content: "#{$txSymbols_value}";
        }
    }
}

.txOk{
    color: $statusOk;
}

.txError{
    color: $statusError;
}

.txAbbreviatedB500,
.txAbbreviated{
    &::before{
        position: absolute;
        display: inline-block;
        left: 7px;
        text-indent: 0;
    }
    
    @each $alphabet_letter_upperCase in $alphabet_upperCase {
      &.abbreviated_#{$alphabet_letter_upperCase} {
        &::before {
          content: "#{$alphabet_letter_upperCase}.";
        }
      }
    }
}
        
.txAbbreviated{
    display: inline-block;
    width: 2ch;
    text-indent: -9999px;
}

@include beforeMQ500{
    .txAbbreviatedB500{
        display: inline-block;
        width: 2ch;
        text-indent: -9999px;
    }
}