/* =============================================================================
   Shadows Classes | Custom [classesShadows.scss]
   ========================================================================== */
.textShadow{
    text-shadow: $text_shadow_main;
}

.textShadowWhite{
    text-shadow: 0 0 3px $white;
}

.boxShadow{
    box-shadow: 0 0 10px 0 $greyD;
} 

.boxShadowInner{
    box-shadow: inset 0 0 10px 0 $greyD;
}

// Background Shadows
$bgShadowT_img_url: url('/nuevo/img/bg_shadowT.png');
$bgShadowB_img_url: url('/nuevo/img/bg_shadowB.png');

.bgShadowT,
.bgShadowB,
.bgShadowV{
    background-repeat: repeat-x;
    background-size: auto 20px;
}

.bgShadowT{
    background-image: $bgShadowT_img_url;
    background-position: center top;
}

.bgShadowB{
    background-image: $bgShadowB_img_url;
    background-position: center bottom;
}

.bgShadowV{
    background-image: $bgShadowT_img_url, $bgShadowB_img_url;
    background-position: center top, center bottom;
}