/* * NombreDeProyecto * ========================================================
   Text Classes | Custom [/etc/css/custom/classes_text.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";
.txBold{    
    &,
    a,
    span,
    strong,
    cite{
        font-family: $ftFamily_bold_global; /* // REF [46] Fuentes Regular y Bold */
        font-weight: 400; // REF [01]
    }
}
.txItalic{font-style: italic} 

.txUnderline{
    &, &:focus, &:focus-visible, &:hover, &:visited, &:active{
        text-decoration: underline;
    }
}
.txLineThrough{text-decoration: line-through}

.txUpperCase{text-transform: uppercase}
.txLowerCase{text-transform: lowercase}
.txSmallCaps{font-variant: small-caps}
.txCapitalize{text-transform: capitalize}

.txAlignCenter{text-align: center}
.txAlignRight{text-align: right}
.txAlignLeft{text-align: left}
.txAlignJustify{text-align: justify}
.txAlignJustifyCenter{
    text-align: justify;
    text-align-last: center;
}
.txJustifyInterWord{text-justify: inter-word}
.txJustifyInterCharacter{text-justify: inter-character}

.txIndented{
    overflow: hidden;
    text-indent: -9999px;
}
.txTruncated{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.txClampled{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.txQuoted{
    position: relative;
    
    &::before{
        content: "“";
    }
    
    &::after{
        content: "”";
    }
    
    .txQuoted{
        &::before{
            content: "«";
        }

        &::after{
            content: "»";
        }
    }
}

.txHyphensNone{hyphens: none}
.txHyphensManual{hyphens: manual}
.txHyphensAuto{hyphens: auto}

.txNoSelectable{user-select: none}
.txLetterSpacing{letter-spacing: 0.05rem}
        
.txSuperscript{
    position: relative;
    top: -0.5em;
    font-size: 80%;
    /* vertical-align: super; */
}

.txSymbol{
    position: relative;
    display: inline-flex;
    width: 35px;
    text-indent: -9999px;
    overflow: hidden;

    &::before{
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        text-indent: 0;
        text-align: center;
    }
    
    &.symbol_plus{
        &::before{
            content: "+";
        }
    }
    
    &.symbol_one{
        &::before{
            content: "1";
        }
    }
    
    &.symbol_two{
        &::before{
            content: "2";
        }
    }
    
    &.symbol_three{
        &::before{
            content: "3";
        }
    }
}
        
.txAbbreviated{
    display: inline-block;
    width: 2ch;
    text-indent: -9999px;

    &::before{
        position: absolute;
        display: inline-block;
        left: 7px;
        text-indent: 0;
    }
    
    &.abbreviated_A{
        &::before{
            content: "A.";
        }
    }
    
    &.abbreviated_B{
        &::before{
            content: "B.";
        }
    }
    
    &.abbreviated_C{
        &::before{
            content: "C.";
        }
    }
}

.txOk{
    color: $statusOk;
}

.txError{
    color: $statusError;
}