/* =============================================================================
   Shadows Classes | Custom [classesShadows.scss]
   ========================================================================== */
.textShadow{
    text-shadow: 0 0 3px $black;
}

.textShadowWhite{
    text-shadow: 0 0 3px $white;
}

.boxShadow{
    box-shadow: 0 0 10px 0 $greyD;
} 

.boxShadowInner{
    box-shadow: inset 0 0 10px 0 $greyD;
}

// Background Shadows
$bgShadowTurl: url('/nuevo/img/bg_shadowT.png');
$bgShadowBurl: url('/nuevo/img/bg_shadowB.png');

.bgShadowT,
.bgShadowB,
.bgShadowV{
    background-repeat: repeat-x;
    background-size: auto 20px;
}

.bgShadowT{
    background-image: $bgShadowTurl;
    background-position: center top;
}

.bgShadowB{
    background-image: $bgShadowBurl;
    background-position: center bottom;
}

.bgShadowV{
    background-image: $bgShadowTurl, $bgShadowBurl;
    background-position: center top, center bottom;
}