/* =============================================================================
   Backgrounds Classes | Custom [classesBackgrounds.scss]
   ========================================================================== */
.bgNone{
    &, &:focus, &:hover{
        background-color: $transparent;
        background-image: $none;
    }
}
.bgTransparent{
    &, &:focus, &:hover{
        background-color: $transparent;
    }
}
.bgNoImage{
    &, &:focus, &:hover{
        background-image: $none;
    }
}
.bgError{background-color: $bgError}