/* =============================================================================
   Gradient Colours | Custom [coloursGradients.scss]
   ========================================================================== */
// White 80%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0.8+100 */
$bgGradWhiteEighty: linear-gradient(to bottom,rgba(255,255,255,0.8)0%,rgba(255,255,255,0.8)100%);
$bgGradWhiteEightyFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 );
.bgGradWhiteEighty{
    background-image: $bgGradWhiteEighty;
    filter: $bgGradWhiteEightyFilter;
}

// Black 10%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.1+100 */
$bgGradBlackTen: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
$bgGradBlackTenFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=0 );
.bgGradBlackTen{
    background-image: $bgGradBlackTen;
    filter: $bgGradBlackTenFilter;
}

// Black 50%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+89 */
$bgGradBlackFifty: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 89%,rgba(0,0,0,0.5) 100%);
$bgGradBlackFiftyFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
.bgGradBlackFifty{
    background-image: $bgGradBlackFifty;
    filter: $bgGradBlackFiftyFilter;
}

// Black 80%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+100 */
$bgGradBlackEighty: inear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
$bgGradBlackEightyFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
.bgGradBlackEighty{
    background-image: $bgGradBlackEighty;
    filter: $bgGradBlackEightyFilter;
}