/* =============================================================================
   Gradient Colours | Custom [colours_gradients.scss]
   ========================================================================== */

// Colour colourPercent 00%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+100 */
/*
$bgGrad_colourPercent: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
$bgGrad_colourPercent_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
.bgGrad_colourPercent{
    background-image: $bgGrad_colourPercent;
    filter: $bgGrad_colourPercent_filter;
}
*/