/* * NombreDeProyecto * ========================================================
   Gradient Colours | Custom [/etc/css/custom/colours_gradients.scss]
   ========================================================================== */

// Colour colourPercent 00%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+100 */
/*
$bgGrad_colourPercent: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
$bgGrad_colourPercent_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
.bgGrad_colourPercent{
    background-image: $bgGrad_colourPercent;
    filter: $bgGrad_colourPercent_filter;
}
*/

// Colour modal_nav 00%
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.6+0,0.75+100 */
$bgGrad_modal_nav: linear-gradient(45deg,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.75) 100%);
$bgGrad_modal_nav_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#bf000000',GradientType=1 );
.bgGrad_modal_nav{
    background-image: $bgGrad_modal_nav;
    filter: $bgGrad_modal_nav_filter;
}

// Colour gradient_ig 00%
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffd600+0,ff7a00+20,ff0069+47,d300c5+72,7638fa+100 */
$bgGrad_gradient_ig: linear-gradient(to right,  #ffd600 0%,#ff7a00 20%,#ff0069 47%,#d300c5 72%,#7638fa 100%);
$bgGrad_gradient_ig_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd600', endColorstr='#7638fa',GradientType=1 );
.bgGrad_gradient_ig{
    background-image: $bgGrad_gradient_ig;
    filter: $bgGrad_gradient_ig_filter;
}
// ffd600
// ff7a00
// ff0069
// d300c5
// 7638fa