/* =============================================================================
   Gradient Colours | Custom [coloursGradients.scss]
   ========================================================================== */
// White 30%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.3+0,0.3+100 */
$bgGrad_whiteThirty: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%);
$bgGrad_whiteThirty_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4dffffff',GradientType=0 );
.bgGrad_whiteThirty{
    background-image: $bgGrad_whiteThirty;
    filter: $bgGrad_whiteThirty_filter;
}

// White 50%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+0,0.5+100 */
$bgGrad_whiteFifty: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
$bgGrad_whiteFifty_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 );
.bgGrad_whiteFifty{
    background-image: $bgGrad_whiteFifty;
    filter: $bgGrad_whiteFifty_filter;
}

// White 60%
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.6+0,0.6+100 */
$bgGrad_whiteSixty: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%);
$bgGrad_whiteSixty_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#99ffffff',GradientType=0 );
.bgGrad_whiteSixty{
    background-image: $bgGrad_whiteSixty;
    filter: $bgGrad_whiteSixty_filter;
}

// White 80%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0.8+100 */
$bgGrad_whiteEighty: linear-gradient(to bottom,rgba(255,255,255,0.8)0%,rgba(255,255,255,0.8)100%);
$bgGrad_whiteEighty_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 );
.bgGrad_whiteEighty{
    background-image: $bgGrad_whiteEighty;
    filter: $bgGrad_whiteEighty_filter;
}

// White 90%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.9+0,0.9+100 */
$bgGrad_whiteNinety: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%);
$bgGrad_whiteNinety_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=0 );
.bgGrad_whiteNinety{
    background-image: $bgGrad_whiteNinety;
    filter: $bgGrad_whiteNinety_filter;
}

// White Text Vanish
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
$bgGrad_white_textVanish: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
$bgGrad_white_textVanish_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
.bgGrad_white_textVanish{
    background-image: $bgGrad_white_textVanish;
    filter: $bgGrad_white_textVanish_filter;
}

// Black Text Vanish
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+29,0.82+100 */
$bgGrad_black_textVanish: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.82) 100%);
$bgGrad_black_textVanish_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d1000000',GradientType=0 );
.bgGrad_black_textVanish{
    background-image: $bgGrad_black_textVanish;
    filter: $bgGrad_black_textVanish_filter;
}

// Black 10%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.1+100 */
$bgGrad_blackTen: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
$bgGrad_blackTen_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=0 );
.bgGrad_blackTen{
    background-image: $bgGrad_blackTen;
    filter: $bgGrad_blackTen_filter;
}
// Black 25%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.25+0,0.25+100 */
$bgGrad_blackTwentyFive: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%);
$bgGrad_blackTwentyFive_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#40000000',GradientType=0 );
.bgGrad_blackTwentyFive{
    background-image: $bgGrad_blackTwentyFive;
    filter: $bgGrad_blackTwentyFive_filter;
}

// Black 40%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0.4+100 */
$bgGrad_blackForty: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
$bgGrad_blackForty_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 );
.bgGrad_blackForty{
    background-image: $bgGrad_blackForty;
    filter: $bgGrad_blackForty_filter;
}

// Black 50%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+89 */
$bgGrad_blackFifty: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 89%,rgba(0,0,0,0.5) 100%);
$bgGrad_blackFifty_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
.bgGrad_blackFifty{
    background-image: $bgGrad_blackFifty;
    filter: $bgGrad_blackFifty_filter;
}

// Black 80%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+100 */
$bgGrad_blackEighty: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
$bgGrad_blackEighty_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
.bgGrad_blackEighty{
    background-image: $bgGrad_blackEighty;
    filter: $bgGrad_blackEighty_filter;
}