/* =============================================================================
   Colour Placeholders | Custom [coloursPlaceholders.scss]
   ========================================================================== */
//White Hover
$whiteTextHoverShadow: 0 0 3px $black;
$whiteTextHoverShadowSubmit: 0 0 2px $black;

%whiteHover{
    color: $white;
    text-shadow: $whiteTextHoverShadow;
}
%whiteHoverSubmit{
    text-shadow: $whiteTextHoverShadowSubmit;
}

///**Colours Map Custom Hover:** 
    ///Aquí se agregan las pseudoclases `:focus` y `:hover` correspondientes al mapa `$colours_map_custom_hover` que se encuentra en `[/custom/variables/_colours.scss]`.

%focusHover-orange{    
    &:focus, &:hover{
        color: #ff0000;
    }
}