/* =============================================================================
   Main Font Faces | Custom [fontFaceMain.scss]
   ========================================================================== */
// Font-face
/*
.exampleFont{font-family: 'exampleFont';}
@font-face {
    font-family: 'exampleFont';
    src: url('/path/to/fonts/examplefont.woff') format('woff'),
         url('/path/to/fonts/examplefont.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/