/* =============================================================================
   Font-face | Custom [/etc/css/custom/fontFace.scss]
   ========================================================================== */

/* // FontName -------------------------------------------------------------- */
/*
.exampleFont{font-family: 'exampleFont';}
@font-face {
    font-family: 'exampleFont';
    src: url('#{$url_dir}/fonts/examplefont.woff2') format('woff2'),
         url('#{$url_dir}/fonts/examplefont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/