/* * NombreDeProyecto * ========================================================
   Font-face | Custom [/etc/css/custom/fontFace.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de reglas-at, @font-face para fuentes



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/*
.exampleFont{font-family: 'exampleFont';}
@font-face {
    font-family: 'exampleFont';
    src: url('#{$dir_env}/fonts/examplefont.woff2') format('woff2'),
         url('#{$dir_env}/fonts/examplefont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// REF [14a]
@font-face {
    font-family: 'mingliuregular';
    src: url('#{$dir_env}/fonts/mingliu-01-webfont.woff2') format('woff2'),
         url('#{$dir_env}/fonts/mingliu-01-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'pmingliuregular';
    src: url('#{$dir_env}/fonts/pmingliu-02-webfont.woff2') format('woff2'),
         url('#{$dir_env}/fonts/pmingliu-02-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/
