/* * NombreDeProyecto * ========================================================
   Footer Styles | Custom [/etc/css/custom/footer.scss]
   ========================================================================== */
@use "var/env_var" as *;
@use "../scss/var_all_pre" as *;

@use "sass:color";
@use "sass:map";
//@import 'imp/footer_fullHeight_imp';

#footer{
    background-color: $footer_bgColour;
    
    .nav_footer{
        position: relative;
        
        ul{}
        
        li{}
        
        @if $nav_hasSub_act == "on"{
            .nav_subNav_level1,
            .nav_subNav_level2,
            .nav_subNav_level3{
                display: none;
            }
        }
    }
    
    p{
        a{
            font-size: 1em;
        }
    }
    
    .footer_address{
        a{
            line-height: 1.2;
        }
    }
    
    .copy_footer{}
    
    .legal_footer{
        ul{}
        
        li,        
        a{}
        
        li{}
        
        a{}
        
        .legal_copy{}
        
        .legal_tos{}
        
        .legal_studio{}
    }
    
    .logo_footer_container,
    .logo_txt{
        box-sizing: border-box;
    }
    
    .logo_footer{
        img{
            display: block;
        }
    }
    
    @include beforeMQ500{
        @if $footer_floatedContent_act_B500 == "on"{ // REF [20]
            .logo_footer_container{
                width: $footer_logoFloated_width_B500;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_B500}); 
            }    
            
        } @else {
            .logo_footer{
                width: $logo_width_footer_B500;
            }        
        }
    }
    
    @include afterMQ500{
        @if $footer_floatedContent_act_A500 == "on"{ // REF [20]
            .logo_footer_container{
                width: $footer_logoFloated_width_A500;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_A500}); 
            }    
        } @else {
            .logo_footer{
/*
                width: $logo_width_footer_A500;
*/
            }        
        }
    }
    
    @include MQ500_768{
        @if $footer_floatedContent_act_500O == "on"{ // REF [20]
            .logo_footer_container{
                width: $footer_logoFloated_width_500O;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_500O}); 
            }    
        } @else {
            .logo_footer{
/*
                width: $logo_width_footer_500O;
*/
            }        
        }
    }
    
    @include afterMQ600{
        @if $footer_floatedContent_act_A600 == "on"{ // REF [20]
            .logo_footer_container{
                width: $footer_logoFloated_width_A600;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_A600}); 
            }    
        } @else {
            .logo_footer{
/*
                width: $logo_width_footer_A600;
*/
            }        
        }
    }
    
    @include afterMQ768{
        @if $footer_floatedContent_act_A500 == "on" or $footer_floatedContent_act_A768 == "on"{ // REF [20]
            .logo_footer_container{
                width: $footer_logoFloated_width_AT;
                padding-right: 20px;
                padding-left: 20px;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_AT}); 
            }

        } @else {
            .logo_footer{
                width: $logo_width_footer_AT;
            }  
        }
    }
    
    @include beforeMQ1024{
        .logo_footer_container{
/*            
            width: $footer_logoFloated_width_BTL;
*/
        }
        
        .footer_address{
            a{
                text-decoration: underline;
            }
        }  
    }
    
    @include afterMQ1024{
        @if $footer_floatedContent_act_A500 == "on" or $footer_floatedContent_act_A1024 == "on"{ // REF [20]
            .logo_footer_container{
                width: $footer_logoFloated_width_A1024;
                padding-right: 20px;
                padding-left: 20px;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_A1024}); 
            }
        }  @else {
            .logo_footer{
                width: $logo_width_footer_A1024;
            }  
        }  
        
        .footer_address{
            a{
                &:focus,
                &:focus-visible,
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}