/* * NombreDeProyecto * ========================================================
   Form Styles | Custom [/etc/css/custom/form.scss]
   ========================================================================== */

/* // Form Fieldset --------------------------------------------------------- */
fieldset{
    &, &::before, &::after{
        box-sizing: border-box;
    }
        
    & + fieldset{
        margin-top: 30px;
    }

    > p{
        margin-bottom: $helpers_spacing_PM_medium;
        padding: $zero;
        color: $black;
    }
            
    &.form_validation_input_invalid{
        legend,
        label span{
            color: $form_span_invalid_ftColour;
        }
        
        legend{
            padding-left: 25px;
        }         
    }
}
 

/* // Form status message / Form validation --------------------------------- */
.form_status,
.form_validation_div{
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form_status.form_status_ok,
.form_validation_div{
    border-radius: $bdRadius_global;
    padding: 7px 20px;
}

.form_status,
.form_validation_div p{
    text-align: center;   
}

.form_status{    
    &.form_status_ini{
        font-size: 1rem;
    }

    &.form_status_ok{
        background-color: $bgGreenSystem;
        color: $white;
    }
}

.form_validation_div{
    &.form_validation_div_invalid{
        display: $block;
        background-color: $form_status_error_bgColour;
        
        p{
            color: $form_status_error_ftColour;     
        }
    }
}

.form_validation_div,
.form_status{    
    @include afterTabletLandscape{
        @include centerCustom(80%);
    }
}


/* // Form input ------------------------------------------------------------ */
form{
    input,
    select,
    textarea{
        @include borderStyle($form_input_bdColour);
        padding-right: 10px;
        padding-left: 10px;
    }
    
    input{
        &[type="text"]{}

        &[type="color"]{}
        &[type="email"]{
            &:valid{}
            &:invalid{}
        }
        &[type="file"]{}
        &[type="image"]{}
        &[type="password"]{}
        &[type="search"]{}
        &[type="tel"]{}
        &[type="url"]{}

        &[type="number"]{
            &:in-range{}
            &:out-of-range{
                border-color: $form_input_invalid_bdColour!important;
            }
        }
        &[type="range"]{}

        &[type="time"]{}
        &[type="date"]{}
        &[type="month"]{}
        &[type="week"]{}

        &[type="checkbox"]{
            &:checked{}
        }
        &[type="radio"]{
            &:checked{}
        }

        &:required{}
        
        &:disabled{}

        &:read-only{
            user-select: none;
            
            &, &:focus, &:hover{
                @include borderStyle($bdGreyL);
                box-shadow: inset 0 0 0 transparent;
            }
        }

        &.nombre{}
        &.email{}
        &.telefono{}

        &.fecha{
            background-image: url('#{$url_entorno}/img/form_calendar.svg');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 28px;
        }
    }   

    select{
        option{
            font-family: $arial;
            font-size: 0.8rem;
        }
    }
    
    textarea{
/*
        resize: none;
*/
        @include beforeTablet{
            height: 100px;
        }

        @include afterTablet{
            height: 100px;
        }

        @include afterTabletLandscape{
            height: 100px;        
        }

        @if $form_label_inside_act == "off"{
            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_large;
            }        
        }
    }
    
/* // Form input placeholders // REF [10] ----------------------------------- */
/*
    input::-moz-placeholder,
    textarea::-moz-placeholder{
      opacity: 1;
    }

    input::input-placeholder,
    textarea::input-placeholder{
        color: $form_placeholder_ftColour;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder{
        color: $form_placeholder_ftColour;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder{
        color: $form_placeholder_ftColour;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder{
        color: $form_placeholder_ftColour;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder{
        color: $form_placeholder_ftColour;
    }

    input:focus::input-placeholder,
    textarea:focus::input-placeholder{
        color: $form_placeholder_ftColour_hover;
    }
    input:focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder{
        color: $form_placeholder_ftColour_hover;
    }
    input:focus::-moz-placeholder,
    textarea:focus::-moz-placeholder{
        color: $form_placeholder_ftColour_hover;
    }
    input:focus:-ms-input-placeholder,
    textarea:focus:-ms-input-placeholder{
        color: $form_placeholder_ftColour_hover;
    }
    input:focus:-moz-placeholder,
    textarea:-moz-placeholder{
        color: $form_placeholder_ftColour_hover;
    }
*/    

/* // Form invalid field ---------------------------------------------------- */
    input, select, textarea{        
        &.form_validation_input_invalid{
            background-image: url('#{$url_entorno}/img/form_alert.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: auto 20px;
            padding-right: 40px;
            
            &, &:focus, &:hover{
                border-width: 2px!important;
                border-style: solid!important;
                border-color: $form_input_invalid_bdColour!important;
                box-shadow: inset 0 0 0 $form_input_bdColour_hover;
            }
        }
    }
    
    fieldset{
        &.form_validation_input_invalid{        
            &,
            legend{
                background-image: url('#{$url_entorno}/img/form_alert.svg');
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: auto 55%;            
            }
        }
    }
    
    select{
        &.form_validation_input_invalid{
            background-position: right 25px center;
        }
    }
    
    textarea{
        &.form_validation_input_invalid{
            background-position: right 10px top 10px;
            background-size: 23px;
        }
    }
    

/* // Form Button Submit // REF [21] ---------------------------------------- */
    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    button{
        @include transition(0.7s);
        background-color: $button_form_submit_bgColour;
        color: $button_form_submit_ftColour;
        border-radius: $bdRadius_global;
        margin-bottom: $zero;
        font-family: $button_form_submit_ftFamily;
        font-size: 1.2rem;
        text-transform: uppercase;
        
        @if $googleFont_act == "on"{
            font-weight: $button_form_submit_ftWeight;
        }
        
        @if $form_submit_border_act == "on"{ // REF [21a]
            @include borderStyle($button_form_submit_bdColour);
        
            &:focus, &:hover{
                border-color: $button_form_submit_bdColour_hover;
            }
        } @else {
            border: $none;
        }
        
        &:focus, &:hover{
            background-color: $button_form_submit_bgColour_hover;
            color: $button_form_submit_ftColour_hover;
            box-shadow: inset 0 0 0 $button_form_submit_bgColour_hover;
        }
        
        &.white{
            @include transition(1s);
            
            &, &:focus, &:hover{
                color: $white;
            }
            
            &:focus, &:hover{
                text-shadow: $txShadow_white_hover;
            }
        }
        
        @include afterTablet{
            @include centerCustom(50%);
            margin-top: 30px;
        }
    }
    

/* // Form Label ------------------------------------------------------------ */
    label{
        &, &::before, &::after{
            box-sizing: border-box;
        }
    }
        
    @if $form_label_inside_act == "on"{
        fieldset,
        label{
            @include beforeTablet{
                .mobileForm &{
                    margin-bottom: $helpers_spacing_PM_large;
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    margin-bottom: $helpers_spacing_PM_large;       
                }
            }

            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_medium;
            }
        }
        
        label.radio{
            .radio{
                clear: $none;
                float: $left;
                margin-right: 5px!important;
            }

            @include beforeTablet{
                .mobileForm &{
                    .radio{
                        width: $form_input_radio_height_BT!important;
                        height: $form_input_radio_height_BT;
                    }

                    span{
                        width: calc(100% - calc(#{$form_input_radio_height_BT} + 10px));
                        display: block;
                        float: left;
                        height: auto;
                        margin-top: 5px;
                        line-height: 1.3;  
                    }

                    & + .radio{
                        margin-top: 10px;
                    }
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    .radio{
                        width: $form_input_radio_height_TO!important;
                        height: $form_input_radio_height_TO;
                    }

                    &,
                    input,
                    span{
                        @include equalHeightAndLineHeight($form_input_radio_height_TO);
                    }
                }
            }
        }

        .form_label_name,
        .form_validation_span{
            box-sizing: border-box;
        }

        .form_label_name{
            display: block;
            padding-left: 7px;
            font-family: $form_label_ftFamily;
            font-size: 1.1rem!important;

            @if $googleFont_act == "on"{
                font-weight: $form_label_ftWeight;
            }
        }

        .form_validation_span{
            display: none;
            color: $form_span_invalid_ftColour; // REF [16]
            font-family: $form_span_invalid_ftFamily;
            font-weight: 400;            
            font-size: 0.8rem!important;
            line-height: $form_span_validation_tooltip_lineHeight;
            
            @if $form_span_invalid_tooltip_act == "on"{ // REF [16]
                @include borderStyle($form_span_invalid_tooltip_bdColour);
                box-sizing: border-box;
                width: 98%;
                min-height: $form_span_validation_tooltip_height;
                position: absolute;
                top: calc(-1 * calc(#{$form_span_validation_tooltip_height} + #{$form_span_validation_tooltip_arrow_size} - calc(#{$form_span_validation_tooltip_arrow_size} / 2)));
                left: 1%;
                background-color: $bgWhite;
                padding: $form_span_validation_tooltip_PV 10px;
                
                &::before,
                &::after{
                    top: 100%;
                    left: $form_span_validation_tooltip_arrow_size;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    margin-left: 0;
                }
                
                &::before{
                    border-color: $greyXL_rgba00;
                    border-top-color: $form_span_invalid_tooltip_bdColour;
                    border-width: calc(#{$form_span_validation_tooltip_arrow_size} + 1px);
                }
                
                &::after{
                    top: 100%;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-style: solid;
                    border-color: rgba(255,255,255,0);
                    border-top-color: $bdWhite;
                    border-width: $form_span_validation_tooltip_arrow_size;
                }
                
            } @else {
                padding-top: 3px;
                padding-left: 10px;            
            }

            &.form_validation_span_active{
                display: block;
            }
        }
        
        .form_label_msg_sugg{
            display: block;
            padding-left: 10px;
            font-size: 0.75rem;
        }
        
        @include beforeMobile600{
            .form_label_name{
                &.form_label_long{
                    height: auto;
                    line-height: 1.4;
                    margin-bottom: 5px;
                    
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}