/* =============================================================================
   Forms Styles | Custom [/etc/css/custom/forms.scss]
   ========================================================================== */

/* // Form Fieldset --------------------------------------------------------- */
fieldset{
    &, &::before, &::after{
        box-sizing: border-box;
    }
        
    & + fieldset{
        margin-top: 30px;
    }

    > p{
        margin-bottom: $helpers_spacing_PM_medium;
        padding: $zero;
        color: $black;
    }
            
    &.invalidField{
        legend,
        label span{
            color: $form_label_msg_error_ftColour;
        }
        
        legend{
            padding-left: 25px;
        }         
    }
}
 

/* // Form status message --------------------------------------------------- */
.form_status,
.form_msg_mandatory{
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form_status.ok,
.form_msg_mandatory{
    border-radius: $bdRadius_global;
    padding: 7px 20px;
}

.form_status,
.form_msg_mandatory p{
    text-align: center;   
}

.form_status{    
    &.ini{
        font-size: 1rem;
    }

    &.ok{
        background-color: $bgGreenSystem;
        color: $white;
    }
}

.form_msg_mandatory{
    &.form_msg_mandatory_invalid{
        display: $block;
        background-color: $form_status_msg_error_bgColour;
        
        p{
            color: $form_status_msg_error_ftColour;     
        }
    }
}

.form_msg_mandatory,
.form_status{    
    @include afterTabletLandscape{
        @include centerCustom(80%);
    }
}


/* // Form input ------------------------------------------------------------ */
form{
    input,
    select,
    textarea{
        padding-right: 10px;
        padding-left: 10px;
    }
    
    input{
        &[type="text"]{}

        &[type="color"]{}
        &[type="email"]{
            &:valid{}
            &:invalid{}
        }
        &[type="file"]{}
        &[type="image"]{}
        &[type="password"]{}
        &[type="search"]{}
        &[type="tel"]{}
        &[type="url"]{}

        &[type="number"]{
            &:in-range{}
            &:out-of-range{
                border-color: $form_input_invalid_bdColour!important;
            }
        }
        &[type="range"]{}

        &[type="time"]{}
        &[type="date"]{}
        &[type="month"]{}
        &[type="week"]{}

        &[type="checkbox"]{
            &:checked{}
        }
        &[type="radio"]{
            &:checked{}
        }

        &:required{}
        &:disabled{}

        &.nombre{}
        &.email{}
        &.telefono{}

        &.fecha{
            background-image: url('#{$url_dir}/img/form_calendar.svg');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 28px;
        }
    }   

    select{
        option{
            font-family: $arial;
            font-size: 0.8rem;
        }
    }
    
    textarea{
/*
        resize: none;
*/
        @include beforeTablet{
            height: 100px;
        }

        @include afterTablet{
            height: 100px;
        }

        @include afterTabletLandscape{
            height: 100px;        
        }

        @if $form_label_inside_act == "off"{
            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_large;
            }        
        }
    }
    
/* // Form input placeholders ----------------------------------------------- */
/*
    input::input-placeholder,
    textarea::input-placeholder{
        color: $form_placeholder_ftColour;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder{
        color: $form_placeholder_ftColour;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder{
        color: $form_placeholder_ftColour;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder{
        color: $form_placeholder_ftColour;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder{
        color: $form_placeholder_ftColour;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder{
      opacity: 1;
    }

    input:focus::input-placeholder,
    textarea:focus::input-placeholder{
        color: $ftColour_main_global;
    }
    input:focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder{
        color: $ftColour_main_global;
    }
    input:focus::-moz-placeholder,
    textarea:focus::-moz-placeholder{
        color: $ftColour_main_global;
    }
    input:focus:-ms-input-placeholder,
    textarea:focus:-ms-input-placeholder{
        color: $ftColour_main_global;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder{
        color: $ftColour_main_global;
    }
*/    

/* // Form invalid field ---------------------------------------------------- */
    input, select, textarea{        
        &.invalidField{
            background-image: url('#{$url_dir}/img/form_alert.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: auto 55%;
            border-width: 2px;
            
            &, &:focus, &:hover{
                border-color: $form_input_invalid_bdColour!important;
                box-shadow: inset 0 0 0 $form_input_bdColour_hover;
            }
        }
    }
    
    fieldset{
        &.invalidField{        
            &,
            legend{
                background-image: url('#{$url_dir}/img/form_alert.svg');
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: auto 55%;            
            }
        }
    }
    
    select{
        &.invalidField{
            background-position: right 25px center;
        }
    }
    
    textarea{
        &.invalidField{
            background-position: right 10px top 10px;
            background-size: 23px;
        }
    }
    

/* // Form Submit  ---------------------------------------------------------- */
    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    button{
        @include borderStyle($button_form_submit_bdColour);
        border-radius: $bdRadius_global;
        margin-bottom: $zero;
        font-size: 1.4rem;
        font-family: $button_form_submit_ftFamily;
    }
    

/* // Form Label ------------------------------------------------------------ */
    label{
        &, &::before, &::after{
            box-sizing: border-box;
        }
    }
        
    @if $form_label_inside_act == "on"{
        fieldset,
        label{
            @include beforeTablet{
                .mobileForm &{
                    margin-bottom: $helpers_spacing_PM_large;
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    margin-bottom: $helpers_spacing_PM_large;       
                }
            }

            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_medium;
            }
        }
        
        label.radio{
            .radio{
                clear: $none;
                float: $left;
                margin-right: 5px!important;
            }

            @include beforeTablet{
                .mobileForm &{
                    .radio{
                        width: $form_input_radio_height_BT!important;
                        height: $form_input_radio_height_BT;
                    }

                    span{
                        width: calc(100% - calc(#{$form_input_radio_height_BT} + 10px));
                        display: block;
                        float: left;
                        height: auto;
                        margin-top: 5px;
                        line-height: 1.3;  
                    }

                    & + .radio{
                        margin-top: 10px;
                    }
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    .radio{
                        width: $form_input_radio_height_TO!important;
                        height: $form_input_radio_height_TO;
                    }

                    &,
                    input,
                    span{
                        @include equalHeightAndLineHeight($form_input_radio_height_TO);
                    }
                }
            }
        }

        .form_label_name,
        .form_label_msg_error{
            box-sizing: border-box;
        }

        .form_label_name{
            display: block;
            padding-left: 7px;
            font-family: $form_label_ftFamily;
            font-size: 1.1rem!important;

            @if $googleFont_act == "on"{
                font-weight: $form_label_ftWeight;
            }
        }

        .form_label_msg_error{
            display: none;
            padding-top: 3px;
            padding-left: 10px;
            color: $form_label_msg_error_ftColour;
            font-family: $arial;
            font-size: 0.8rem!important;
            font-weight: 700;
            line-height: 1.3;

            &.active{
                display: block;
            }
        }
        
        .form_label_msg_sugg{
            display: block;
            padding-left: 10px;
            font-size: 0.75rem;
        }
        
        @include beforeMobile600{
            .form_label_name{
                &.form_label_long{
                    height: auto;
                    line-height: 1.4;
                    margin-bottom: 5px;
                    
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}