/* * NombreDeProyecto * ========================================================
   Search Form Styles | Custom [/etc/css/custom/form_search.scss]
   ========================================================================== */
//form.searchForm
@use "var/env_var" as *;
@use "../scss/var_all_pre" as *;

@use "sass:color";
@use "sass:map";
.searchForm{
    position: relative;
    
    input{
        &[type="search"]{
            border: $none;
        }
        
/* // Form Button Submit // REF [21] ---------------------------------------- */
        &[type="submit"]{
            @include opacityCustomHover;
            position: absolute;
            top: 0;
            right: 0;
            border: $none;
        }
    }
    
    @include beforeMQ768{
        width: $form_input_search_width_BT;
    
        input{
            height: $form_input_search_height_BT;

            &[type="search"]{
                width: $form_input_search_width_BT;
                padding-right: calc(#{$form_input_search_bgSize_BT} + 15px)!important;
                line-height: $form_input_search_lineHeight_BT;
            }
            
            &[type="submit"]{
                @include bgSvg(form_search_submit_BT, $form_input_search_bgSize_BT, center);
                width: $button_form_submit_search_width_BT;
            }
        }
    }
    
    @include afterMQ768{
        width: $form_input_search_width_AT;
    
        input{
            height: $form_input_search_height_AT;

            &[type="search"]{
                padding-right: calc(#{$form_input_search_bgSize_AT} + 5px)!important;
                line-height: $form_input_search_lineHeight_AT;
            }
            
            &[type="submit"]{
                @include bgSvg(form_search_submit_AT, $form_input_search_bgSize_AT, center);
                width: $button_form_submit_search_width_AT;
            }            
        }
    }
}