/* =============================================================================
   Search Form Styles | Custom [forms_search.scss]
   ========================================================================== */
//form.searchForm
.searchForm{
    position: relative;
    width: $form_input_search_width_BT;
    
    input{
        height: $form_input_search_height_BT;

        &[type="search"]{
            width: $form_input_search_width_BT;
            border: $none;
            padding-right: calc(#{$form_input_search_bgSize_BT} + 15px)!important;
            line-height: $form_input_search_lineHeight_BT;
        }
        
        &[type="submit"]{
            @include opacityCustomHover;
            @include bgSvg(form_searchSubmitBT, $form_input_search_bgSize_BT, center);
            position: absolute;
            top: 0;
            right: 0;
            width: $form_submit_search_width_BT;
            border: $none;
        }
    }
    
    @include afterTablet{
        width: $form_input_search_width_AT;
    
        input{
            height: $form_input_search_height_AT;

            &[type="search"]{
                padding-right: calc(#{$form_input_search_bgSize_AT} + 5px)!important;
                line-height: $form_input_search_lineHeight_AT;
            }
            
            &[type="submit"]{
                @include bgSvg(form_searchSubmitAT, $form_input_search_bgSize_AT, center);
                width: $form_submit_search_width_AT;
            }            
        }
    }
}