/* * NombreDeProyecto * ========================================================
   Global Styles | Custom [/etc/css/custom/global.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Main Gobal Styles ----------------------------------------------------- */
@import 'imp/page_section_fullHeight_imp';
@import 'imp/page_headerFixed_imp';

#main{
    background-color: $main_bgColour;
    
    @include beforeMQ768{
        @if $nav_accordion_act == "on"{
            padding-top: $header_navAccordion_height_BT;
        }
    }
    
    @include afterMQ768{       
        @if $nav_topper_act == "on"{
            // REF [44]
            min-height: 700px;        
        }
    }
}

.error_alert{
    border: 6px solid #ff46b7;
}

.txBrand{}

/* =============================================================================
   Internas Global Styles
   ========================================================================== */
.page_int{}

/*
.container{
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.container section {
  scroll-snap-align: center;
}
*/

/* =============================================================================
   Separator
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Secondary Separator
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* // Secondary Separator --------------------------------------------------- */

/*___ Secondary _________________________*/