/* =============================================================================
   Global Styles | Custom [styles_global.scss]
   ========================================================================== */
/* // References ------------------------------------------------------------ */
///-- Spacing
// P, M             = padding, margin
// T, R, B, L       = top, right, bottom, left
// H, V, A          = horizontal, vertical, all

///-- Screen Sizes
// M, L, T, D, DL       = mobile, landscape, tablet, desktop, desktop large
// B, A, O              = before, after, only

///-- Colours
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fonts
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic

/* // Main Gobal Styles ----------------------------------------------------- */
#main{
    section{
        @if $fullHeight_sections_act_ALL == "on"{
            height: 100vh;
        }
    }
    
    @include mobileOnly{
        @if $header_fixed_act_MO == "on"{
            padding-top: $header_height_PT_MO;
        }  
        
        section{
            @if $fullHeight_sections_act_MO == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include afterMobileLandscape{
        @if $header_fixed_act_AML == "on"{
            padding-top: $header_height_PT_AML;
        }    
        
        section{
            @if $fullHeight_sections_act_AML == "on"{
                height: 100vh;
            }
        }     
    }
    
    @include mobileLandscapeOnly{
        @if $header_fixed_act_MLO == "on"{
            padding-top: $header_height_PT_MLO;
        }    
        
        section{
            @if $fullHeight_sections_act_MLO == "on"{
                height: 100vh;
            }
        }     
    }
    
    @include beforeTablet{
        @if $navAcc_act == "on"{
            padding-top: $header_height_navAcc_BT;
        }
        @if $header_fixed_act_BT == "on"{
            padding-top: $header_height_PT_BT;
        }
        
        section{
            @if $fullHeight_sections_act_BT == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include afterTablet{
        @if $header_fixed_act_AT == "on"{
            padding-top: $header_height_PT_AT;
        }
        
        @if $nav_topper_act == "on"{
            min-height: 700px;        
        }
        
        section{
            @if $fullHeight_sections_act_AT == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include tabletOnly{
        section{
            @if $fullHeight_sections_act_TO == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include beforeTabletLandscape{
        section{
            @if $fullHeight_sections_act_BTL == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include afterTabletLandscape{
        @if $header_fixed_act_ATL == "on"{
            padding-top: $header_height_PT_ATL;
        }
        
        section{
            @if $fullHeight_sections_act_ATL == "on"{
                height: 100vh;
            }
        } 
    }

    @include tabletLandscapeOnly{
        section{
            @if $fullHeight_sections_act_TLO == "on"{
                height: 100vh;
            }
        }
    }

    @include beforeDesktop{
        section{
            @if $fullHeight_sections_act_BD == "on"{
                height: 100vh;
            }
        }
    }

    @include afterDesktop{
        section{
            @if $fullHeight_sections_act_AD == "on"{
                height: 100vh;
            }
        }
    }
}

/* =============================================================================
   Internas Global Styles | Custom [stylesGlobal.scss]
   ========================================================================== */
.page_int{}

/* // Secondary Separator --------------------------------------------------- */