/* * NombreDeProyecto * ========================================================
   Global Styles | Custom [/etc/css/custom/global.scss]
   ========================================================================== */

@use "var/env_var" as *;
@use "../scss/var_all" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Main Gobal Styles ----------------------------------------------------- */
@import 'imp/page_section_fullHeight_imp';
@import 'imp/page_headerFixed_imp';

#dev_window_width{
    /* // REF [48] Dev window width */
    @include borderStyle($bgGrey3XL);    
    position: fixed;
    z-index: $zIndex_dev;
    background-color: $white_rgba_60;
    color: $grey2XD;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

#main{
    background-color: $main_bgColour;
    
    @include beforeMQ768{
        @if $nav_accordion_act == "on"{
            padding-top: $header_navAccordion_height_BT;
        }
    }
    
    @include afterMQ768{       
        @if $nav_topper_act == "on"{
            // REF [44]
            min-height: 700px;        
        }
    }
}

.error_alert{
    border: 6px solid #ff46b7;
}

@if $google_captcha_act == "on"{
    /* // REF [50] Google reCaptcha */

    .grecaptcha-badge{
        z-index: $zIndex_captcha_badge;
    }
}

.txBrand{}

/* // Status Messages ------------------------------------------------------- */
$statuses_map: (
    info: (
        color: $statusInfo,
        background: $bgStatusInfo,
        border: $bdStatusInfo
    ),
    ok: (
        color: $statusOk,
        background: $bgStatusOk,
        border: $bdStatusOk
    ),
    warning: (
        color: $statusWarning,
        background: $bgStatusWarning,
        border: $bdStatusWarning
    ),
    error: (
        color: $statusError,
        background: $bgStatusError,
        border: $bdStatusError
    )
);

@each $name, $props in $statuses_map {
    .status_#{$name} {
        background-color: map.get($props, background);
        color: map.get($props, color);
        border-color: map.get($props, border);
    }
}

.status_info,
.status_ok,
.status_warning,
.status_error{
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    padding: 16px 18px;
    margin: 14px auto 16px;
    line-height: 1.2em;
    
    span{
        font-family: $ftFamily_bold_global;
        font-size: 1em;
    }
}

/* =============================================================================
   Internas Global Styles
   ========================================================================== */
.page_int{}

/*
.container{
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.container section {
  scroll-snap-align: center;
}
*/

/* =============================================================================
   Separator
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Secondary Separator
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* // Secondary Separator --------------------------------------------------- */

/*___ Secondary _________________________*/