/* * NombreDeProyecto * ========================================================
   Header Styles | Custom [/etc/css/custom/header.scss]
   ========================================================================== */
@import 'imp/header_fullHeight_imp';
@import 'imp/header_headerFixed_imp';

#header{
    box-sizing: border-box;
/*
    position: relative;
    z-index: $zIndex_header;
*/
    height: $header_height_ALL;
    
    .logo_header{
        margin-bottom: 0;
        
        &,
        a,
        img{
            display: block;
        }
        
        &,
        a{}
        
        a,
        img{
        }
        
        a{
            position: relative;
        }
    }
    
    @if $logo_bgImage_before_act == "on"{
        .logo_before{
            position: relative;        
            background-image: url('#{$dir_env}/img/logo_bg_before.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
    }
    
    @include beforeMQ350{      
        .logo_header{
/*
            width: $logo_width_B350;
*/         
        }
    }
    
    @include afterMQ350{        
        .logo_header{
/*
            width: $logo_width_A350;
*/         
        }
    }
    
    @include beforeMQ500{
        .logo_header{
/*
            width: $logo_width_B500;
*/         
        }
    }
    
    @include afterMQ500{        
        .logo_header{
/*
            width: $logo_width_A500;
*/         
        }
    }
    
    @include MQ500Only{        
        .logo_header{
//          width: $logo_width_500O;
        }
    }

    //@include navBT // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include beforeTablet{
        box-sizing: border-box;
        padding-top: $header_PT_BT;
        padding-bottom: $header_PB_BT;    
            
        @if $logo_bgImage_before_act == "on"{
            .logo_header{
                width: $logo_width_BT;
                height: $logo_height_BT_before;
            }
        }
        
        @if $nav_accordion_act == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: $header_navAccordion_height_BT;
            box-shadow: 0 0 10px $greyL;
        
            &.topperShadow{
                box-shadow: 0 0 7px $black;
            }
            
            .logo_header{
                height: $logo_height_BT_navAccordion;
                margin-right: auto;
                margin-left: auto;
            
                a{
                    width: 200px;
                }             
            
                a,
                img{
                    height: 100%;
                } 
            }
            
        } @else {
            .logo_header{
                width: $logo_width_BT;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
        
        @if $nav_drawer_act == "on"{
            .logo_header{
                &.navDrawer_open{
                    @include borderStyleR($nav_drawer_bdColourR, $nav_drawer_bdWidth);
                    box-sizing: border-box;
                    position: fixed;
                    z-index: $zIndex_logo_clicked;
                    top: 0;
                    left: 0;
                    width: calc(#{$nav_drawer_width} - 5px);
                    max-width: $nav_drawer_width_max;
                    height: $logo_height_clicked_final;
                    background-color: $nav_bgColour_BT;
                    padding-top: $logo_clicked_height_PT;
                    padding-bottom: $logo_clicked_height_PB;
                    margin: 0;

                    .logo_before,
                    a,
                    img{
                        width: auto;
                        height: 100%;
                    }

                    img{
                        margin-right: auto;
                        margin-left: auto;
                    } 
                    
                    .logo_before{
                        background: none;
                    }
                }
            }
        }
    }
    
    //@include navAT // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include afterTablet{
        @if $header_logoNav_floated_flexbox_act_AT == "on"{
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;     
            }
        }
        
        @if $nav_fixed_AT_act == "on"{
            padding-top: $nav_height_AT;
        }
        
        @if $nav_topper_act == "on"{
            &.nav_topper{
                position: fixed;
                z-index: $zIndex_header_topper;
                top: 0;
                right: 0;
                left: 0;
                height: $topper_height_global;
                
                .logo_header{
                    z-index: $zIndex_logo_topper;
                }
            }
        }
        
        .logo_header{
            position: relative;
            z-index: $zIndex_logo;   
            
            @if $header_logoNav_floated_act == "on"{
                box-sizing: border-box;
                float: left;
                padding-right: 20px;
                padding-left: 20px;             
            }
            
            @if $header_logoNav_floated_flexbox_act_AT == "on"{
                box-sizing: border-box;           
            }
            
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_AT;
                    height: $logo_height_AT_before;
                }  
                
                img{
                    width: 100%;
                }                
                
            } @else {
                width: $logo_width_AT;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
    }
    
    @include afterTabletLandscape{
        @if $header_logoNav_floated_flexbox_act_ATL == "on"{
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;     
            }
        }
        
        .logo_header{
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_ATL;
                    height: $logo_height_ATL_before;
                } 
                
            } @else {
                width: $logo_width_ATL;
            }
        }
    }
    
    @include afterMQ1200{
        @if $header_logoNav_floated_flexbox_act_AD == "on"{
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;     
            }
        }
        
        .logo_header{
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_AD;
                    height: $logo_height_AD_before;
                } 
                
            } @else {
                width: $logo_width_AD;
            }
        }  
    }
}