/* * NombreDeProyecto * ========================================================
   Header Styles | Custom [/etc/css/custom/header.scss]
   ========================================================================== */

@use "var/env_var" as *;
@use "../scss/var_all_pre" as *;

@use "sass:color";
@use "sass:map";
// REF [15] Nav Fixed AT

//@import 'imp/header_fullHeight_imp';
//@import 'imp/header_headerFixed_imp';

#header{
    box-sizing: border-box;
/*
    position: relative;
    z-index: $zIndex_header;
*/
    height: $header_height_ALL;
    background-color: $header_bgColour;    
    
    .logo_header{
        margin-bottom: 0;
        
        &,
        a,
        img{
            display: block;
        }
        
        &,
        a{}
        
        a,
        img{
        }
        
        a{
            position: relative;
        }
    }
    
    @if $logo_bgImage_before_act == "on"{
        .logo_before{
            position: relative;        
            background-image: url('#{$dir_env}/img/logo_bg_before.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
    }

    /*
    @media (max-width: 320px){
        @if $nav_drawer_act == "on"{
            .logo_header{
                &.navDrawer_open{
                    left: 13px;
                    
                    .logo_before,
                    a{
                        width: auto;
                        height: 100%;
                    }

                    img{
                        width: 100%;
                        height: auto;
                    } 
                }
            }
        }
    } 

    @media (min-width: 321px) and (max-width: 767px){
        @if $nav_drawer_act == "on"{
            .logo_header{
                &.navDrawer_open{
                    left: 16px;
                    
                    .logo_before,
                    a,
                    img{
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }
    */
    
    @include beforeMQ350{      
        .logo_header{
/*
            width: $logo_width_B350;
*/         
        }
    }
    
    @include afterMQ350{        
        .logo_header{
/*
            width: $logo_width_A350;
*/         
        }
    }
    
    @include beforeMQ500{
        .logo_header{
/*
            width: $logo_width_B500;
*/         
        }
    }
    
    @include afterMQ500{        
        .logo_header{
/*
            width: $logo_width_A500;
*/         
        }
    }
    
    @include MQ500_768{        
        .logo_header{
//          width: $logo_width_500O;
        }
    }

    //@include navBT // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include beforeMQ768{
        padding-top: $header_PT_BT;
        padding-bottom: $header_PB_BT;    
            
        @if $logo_bgImage_before_act == "on"{
            .logo_header{
                width: $logo_width_BT;
                height: $logo_height_BT_before;
            }
        }
        
        @if $nav_accordion_act == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: $header_navAccordion_height_BT;
            box-shadow: 0 0 10px $greyL;
        
            &.topperShadow{
                box-shadow: 0 0 7px $black;
            }
            
            .logo_header{
                height: $logo_height_BT_navAccordion;
                margin-right: auto;
                margin-left: auto;
            
                a{
                    width: 200px;
                }             
            
                a,
                img{
                    height: 100%;
                } 
            }
            
        } @else {
            .logo_header{
                width: $logo_width_BT;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
        
        @if $nav_drawer_act == "on"{
            .logo_header{
                &.navDrawer_open{
                    @include borderStyleR($nav_drawer_bdColourR, $nav_drawer_bdWidth);
                    box-sizing: border-box;
                    position: fixed;
                    z-index: $zIndex_logo_navOpen;
                    top: 0;
                    left: 0;
                    // REF [43]
                    width: $logo_width_navOpen;
                    max-width: $logo_width_max_navOpen;
                    height: $logo_height_navOpen_final;
                    background-color: $nav_bgColour_BT;
                    padding-top: $logo_height_navOpen_PT;
                    padding-bottom: $logo_height_navOpen_PB;
                    margin: 0;

                    .logo_before,
                    a,
                    img{
                        width: auto;
                        height: 100%;
                    }

                    img{
                        margin-right: auto;
                        margin-left: auto;
                    } 
                    
                    .logo_before{
                        background: none;
                    }
                }
            }
        }
    }
    
    //@include navAT // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include afterMQ768{
        @if $header_logoNav_floated_flexbox_act_A768 == "on"{
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;     
            }
        }
        
        @if $nav_fixed_A768_act == "on"{ // REF [15]
            padding-top: $nav_height_A768;
        }
        
        @if $nav_topper_act == "on"{
            // REF [44]
            &.nav_topper{
                position: fixed;
                z-index: $zIndex_header_topper;
                top: 0;
                right: 0;
                left: 0;
                height: $topper_height_global;
                
                .logo_header{
                    z-index: $zIndex_logo_topper;
                }
            }
        }
        
        .logo_header{
            position: relative;
            z-index: $zIndex_logo;   
            
            @if $header_logoNav_floated_act == "on"{
                box-sizing: border-box;
                float: left;
                padding-right: 20px;
                padding-left: 20px;             
            }
            
            @if $header_logoNav_floated_flexbox_act_A768 == "on"{
                box-sizing: border-box;           
            }
            
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_A768;
                    height: $logo_height_AT_before;
                }  
                
                img{
                    width: 100%;
                }                
                
            } @else {
                width: $logo_width_A768;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
    }
    
    @include afterMQ1024{
        @if $header_logoNav_floated_flexbox_act_A1024 == "on"{
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;     
            }
        }
        
        .logo_header{
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_A1024;
                    height: $logo_height_A1024_before;
                } 
                
            } @else {
                width: $logo_width_A1024;
            }
        }
    }
    
    @include afterMQ1100{        
        .logo_header{
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_A1100;
                    height: $logo_height_A1100_before;
                } 
                
            } @else {
                width: $logo_width_A1100;
            }
        }  
    }
    
    @include afterMQ1200{
        @if $header_logoNav_floated_flexbox_act_A1200 == "on"{
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;     
            }
        }
        
        .logo_header{
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_A1200;
                    height: $logo_height_A1200_before;
                } 
                
            } @else {
                width: $logo_width_A1200;
            }
        }  
    }
}