/* =============================================================================
   Header
   ========================================================================== */
#header{    
    z-index: $zIndexHeader;
    
    .lang{
        li{
            &, a, img{
                @include squareSize(30px);
            }
            
            a{
                img{
                    @include borderRadius(50%);
                    @include transition(1s);
                    box-shadow: 0 0 10px $black;
                }
            }

            &:focus, &:hover{
                img{
                    box-shadow: 0 0 5px $black;                    
                }
            }
        }
    }
    .logoHeader{
        position: relative;
        margin: $zero;
        z-index: $zIndexLogoHeader;
        
        &, a{}
        
        &, a, img{}
    }
    
    @include beforeTablet{
        box-sizing: border-box;
        padding-top: 20px;
        height: 150px;
        
        .logoHeader{
            &, a, img{
                width: 150px;
            }
        }
    }
    
    @include afterTablet{        
        .logoHeader{
            &, a, img{
                width: 150px;
            }
        }
        
        &.topper{        
            height: 50px;

            li{
                padding-top: 0;  
            }
            
            a{
                @include equalHeightAndLineHeight(50px);
            }
        }
    }
    
    @include afterTabletLandscape{
        height: 130px;
        
        .logoHeader{
            &, a, img{
                width: 150px;
            }
        }
        
        &.topper{}
    } 
}