/* * NombreDeProyecto * ========================================================
   iframe Styles | Custom [/etc/css/custom/iframe.scss]
   ========================================================================== */
.iframe_video_mask,
.iframe_map_mask{
    @include borderStyle($bdGreyL);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: $bdRadius_global;

    iframe{
        display: block;
        width: 100.5%;
        height: 100%;
    }
}

.iframe_video_mask{
    background-color: $bgGrey3XD;

    @include beforeMQ300{
        width: $iframe_video_width_B300;
        height: $iframe_video_height_B300;
    }

    @include afterMQ300{
        width: $iframe_video_width_A300;
        height: $iframe_video_height_A300;
    }

    @include afterMQ325{
        width: $iframe_video_width_A325;
        height: $iframe_video_height_A325;
    }

    @include afterMQ350{
        width: $video_home_width_A350;
        height: $video_home_height_A350;
    }

    @include afterMQ400{
        width: $video_home_width_A400;
        height: $video_home_height_A400;
    }

    @include afterMQ425{
        width: $iframe_video_width_A425;
        height: $iframe_video_height_A425;
    }

    @include afterMQ450{
        width: $video_home_width_A450;
        height: $video_home_height_A450;
    }

    @include afterMQ500{
        width: $video_home_width_A500;
        height: $video_home_height_A500;
    }
    
    @include afterMQ550{
        width: $video_home_width_A550;
        height: $video_home_height_A550;
    }

    @include afterMQ600{
        width: $video_home_width_A600;
        height: $video_home_height_A600;
    }

    @include afterMQ650{
        width: $video_home_width_A650;
        height: $video_home_height_A650;
    }

    @include afterMQ700{
        width: $video_home_width_A700;
        height: $video_home_height_A700;
    }

    @include afterMQ768{
        width: $video_home_width_A768;
        height: $video_home_height_A768;
    }

    @include afterMQ850{
        width: $video_home_width_A850;
        height: $video_home_height_A850;
    }

    @include afterMQ950{
        width: $video_home_width_A950;
        height: $video_home_height_A950;
    }

    @include afterMQ1024{
        width: $video_home_width_A1024;
        height: $video_home_height_A1024;
    }

    @include afterMQ1100{
        width: $video_home_width_A1100;
        height: $video_home_height_A1100;
    }

    @include afterMQ1200{
        width: $video_home_width_A1200;
        height: $video_home_height_A1200;
    }

    @include afterMQ1300{
        width: $video_home_width_A1300;
        height: $video_home_height_A1300;
    }

    @include afterMQ1400{
        width: $video_home_width_A1400;
        height: $video_home_height_A1400;
    }

    @include afterMQ1500{
        width: $video_home_width_A1500;
        height: $video_home_height_A1500;
    }
}

.iframe_map_mask{
    @include beforeMQ500{
        width: 300px;
        height: 300px;
    }

    @include afterMQ500{
        width: 500px;
        height: 250px;
    }
    
    @include afterMQ768{
        width: 600px;
        height: 330px;
    }
}

/*
280:156
300:168
330:186
350:196
400:225
430:244
450:254
500:280
520:300
550:308
600:337
648:366
700:393
707:400
743:420
800:450
*/

.iframe_form_container{    
    iframe{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}