/* * NombreDeProyecto * ========================================================
   iframe Styles | Custom [/etc/css/custom/iframe.scss]
   ========================================================================== */
.iframe_video_mask,
.iframe_map_mask{
    @include borderStyle($bdGreyL);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: $bdRadius_global;

    iframe{
        display: block;
        width: 100.5%;
        height: 100%;
    }
}

.iframe_video_mask{
    background-color: $bgGrey3XD;

    @include mobileOnly{
        width: $pop_video_width_MO;
        height: $pop_video_height_MO;
    }

    @include afterMobileLandscape{
        width: $pop_video_width_AML;
        height: $pop_video_heigth_AML;
    }
    
    @include afterTablet{
        width: $pop_video_width_AT;
        height: $pop_video_heigth_AT;
    }
}

.iframe_map_mask{
    @include mobileOnly{
        width: 300px;
        height: 300px;
    }

    @include afterMobileLandscape{
        width: 500px;
        height: 250px;
    }
    
    @include afterTablet{
        width: 600px;
        height: 330px;
    }
}

/*
300:168
400:225
450:253
500:281
600:337
700:393
800:450
*/