/* * NombreDeProyecto * ========================================================
   Backgrounds Includes | Custom [/etc/css/custom/includes_backgrounds.scss]
   ========================================================================== */
@use "var/env_var" as *;
@use "../scss/var_all" as *;

@use "sass:color";
@use "sass:map";
@include backgroundColourClassesGenerator;
@include backgroundColourHoverClassesGenerator;