/* =============================================================================
   Backgrounds Includes | Custom [/etc/css/custom/includes_backgrounds.scss]
   ========================================================================== */
@include backgroundColourClassesGenerator;
@include backgroundColourHoverClassesGenerator;