/* * NombreDeProyecto * ========================================================
   Lightbox Styles | Custom [/etc/css/custom/lightbox.scss]
   ========================================================================== */
.lightboxOverlay{
    background-color: $black_rgba_80; // #444
}

.lb-outerContainer{
    border-radius: $bdRadius_global;
}

.lightbox .lb-image{
    border-radius: $bdRadius_global;
}

.lb-caption{
    font-family: $ftFamily_main_global;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.lb-data{
    color: #ccc;
}

.lb-number{
    color: #999999;
    font-family: $ftFamily_main_global;
    font-size: 12px;
    font-weight: 400;
}