/* =============================================================================
   Lightbox Styles | Custom [/etc/css/custom/lightbox.scss]
   ========================================================================== */
.lightboxOverlay{
    background-color: $bgBlack; // #444
}

.lb-outerContainer{
    border-radius: $bdRadius_global;
}

.lightbox .lb-image{
    border-radius: $bdRadius_global;
}

.lb-caption{
    font-family: $fontFamily_main_global;
    font-weight: 400!important;
    text-transform: uppercase;
}

.lb-number{
    font-family: $fontFamily_main_global;
    font-weight: 400;
}