/* * NombreDeProyecto * ========================================================
   Lists | Custom [/etc/css/custom/lists.scss]
   ========================================================================== */

@use "var/env_var" as *;
@use "../scss/var_all_pre" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Reset ----------------------------------------------------------------- */
ul, ol, li, dd{
    margin: 0;
    padding: 0;
}
ul{
    list-style: disc inside;
}
ol{
    list-style: decimal inside;    
}

/* // Styles ---------------------------------------------------------------- */
.list_hyphenated{
    list-style: $none;
    
    li{        
        position: relative;

        &::before{
            content: "- ";
        }
    }
}   

.list_commas{
    li{        
        position: relative;
        display: inline;

        &::after{
            content: ",";
            display: inline;
            white-space: pre;
        }

        &:last-child{
            &::after{
                display: none;
            }
        }
    }

    &::after{
        content: ".";        
    }
}     

.list_numbered{    
    counter-reset: list_numbered_counter;
    
    > li{
        position: relative;
        box-sizing: border-box;
        padding-left: calc(#{$list_numbered_n_size} + 5px);
        list-style-type: none;
        
        &::before{   
            @include squareSize($list_numbered_n_size);  
            counter-increment: list_numbered_counter; 
            content: counter(list_numbered_counter);
            display: block;
            float: left;
            margin-right: $zero;
            margin-left: calc(-1 * calc(#{$list_numbered_n_size} - 0));
            white-space: pre;
        } 
    }
    
    &.list_numbered_decimal{
        > li{
            &::before{
                content: counter(list_numbered_counter, decimal) ".";
            }
        }
    }
    
    &.list_numbered_lowerLatin{
        > li{
            &::before{
                content: counter(list_numbered_counter, lower-latin) ".";
            }
        }
    }
    
    &.list_numbered_upperLatin{
        > li{
            &::before{
                content: counter(list_numbered_counter, upper-latin) ".";
            }
        }
    }
    
    &.list_numbered_upperRoman{
        > li{
            &::before{
                content: counter(list_numbered_counter, upper-roman) ".";
            }
        }
    }
    
    &.list_numbered_lowerRoman{
        > li{
            &::before{
                content: counter(list_numbered_counter, lower-roman) ".";
            }
        }
    }
}

.list_bulleted_dot,
.list_bulleted_square,
.list_bulleted_tick,
.list_bulleted_chevron{
    li{
        list-style-type: none;
        box-sizing: border-box;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            display: block;
            background-repeat: no-repeat;
        }
    }
}   

.list_bulleted_dot,
.list_bulleted_square,
.list_bulleted_chevron{        
    li{
        padding-left: 15px;

        &::before{
            top: 9px;
            width: 7px;
            height: $list_bulleted_bullet_size;
            background-position: left top;
            background-size: $list_bulleted_bullet_size;
        }
    }
}    

.list_bulleted_dot{
    li{
        &::before{
            background-image: url('#{$dir_env}/img/bullet_dot.svg');
        }
    }
}
 
.list_bulleted_square{
    li{
        &::before{
            background-image: url('#{$dir_env}/img/bullet_square.svg');
        }
    }
}

.list_bulleted_tick{        
    li{
        padding-left: $list_bulleted_tick_li_PL;
        
        &::before{
            @include squareSize($list_bulleted_tick_li_PL);
            top: 0;
            background-image: url('#{$dir_env}/img/bullet_tick.svg');
            background-position: left 3px;
            background-size: auto calc(#{$list_bulleted_tick_li_PL} - 5px);
        }
    }
}

.list_bulleted_chevron{
    li{
        &::before{
            background-image: url('#{$dir_env}/img/bullet_chevron.svg');
        }
    }
}

.list_file{
    li{  
        box-sizing: border-box;
        position: relative;
        min-height: $list_file_icon_size;
        padding-top: 5px;  
        padding-left: calc(#{$list_file_icon_size} + 2px);

        a{
            height: auto;
            min-height: $list_file_icon_size;
            line-height: 1.3;
        }

        &::before{
            @include squareSize($list_file_icon_size);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: auto $list_file_icon_size;
        }
    }

    &.filePDF{
        li{
            &::before{
                background-image: url('#{$dir_env}/img/file_pdf.svg');
            }
        }
    }

    &.fileDOC{
        li{
            background-image: url('#{$dir_env}/img/file_pdf.svg');
        }
    }
}

.list_inline{
    li{
        display: inline;
    }
}