/* =============================================================================
   Media Queries Mixins | Custom [mediaQueries_mixins.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Este archivo contiene los mixins para generar reglas-at `@media` que
// incluyen dentro bloques de contenido con la regla-at `@content`.
//
// Las var que establecen los tamanos, o breakpoints, a los que el CSS
// debe responder se encuentran en `[/settings/var/mediaQueries_var.scss]`.
//
// Los tamanos estan organizados como:
// Mobile [hasta 499px]
// Mobile Landscape [a partir de 500px]
// Tablet [a partir de 767px]
// Tablet Landscape [a partir de 1024px]
// Desktop [a partir de 1200px]
// Desktop Large [a partir de 1600px]
//
// Ademas hay mixins para media queries de
// 600px, 650px, 700px, 800px, 850px, 900px y 950px
//
// Se pueden combinar con `before`, `after` y `only`, por ej.:
// `beforeTablet` [hasta 766px]
// `afterMobileLandscape` [desde 500px]
// `tabletOnly` [entre 767px y 1023px]
//
// Los mixins `only` tienen como limite el mas cercano de los sig. valores
// 766px, 1023px o 1199px



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


    
/* // Nav ------------------------------------------------------------------- */
@mixin navBT{
    @media (max-width: #{$mq_nav_BT}){@content;}}
@mixin navAT{
    @media (min-width: #{$mq_nav_AT}){@content;}}
    
    
/* // Mobile ---------------------------------------------------------------- */
@mixin mobileOnly{ // 499px
    @media (max-width: #{$mq_mobile_ancho_max}){@content;}}

@mixin afterMobileLandscape{ // 500px
    @media (min-width: #{$mq_mobileLandscape_ancho_min}){@content;}}
    
@mixin mobileLandscapeOnly{ // 500px 766px
    @media (min-width: #{$mq_mobileLandscape_ancho_min})
        and (max-width: #{$mq_mobileLandscape_ancho_max}){@content;}}
    
    
/* // Tablet ---------------------------------------------------------------- */
@mixin beforeTablet{ // 766px
    @media (max-width: #{$mq_mobileLandscape_ancho_max}){@content;}}

@mixin afterTablet{ // 767px
    @media (min-width: #{$mq_tablet_ancho_min}){@content;}}
    
@mixin tabletOnly{ // 767px 1023px
    @media (min-width: #{$mq_tablet_ancho_min})
        and (max-width: #{$mq_tabletPortrait_ancho_max}){@content;}}
    
    
/* // Tablet Landscape ------------------------------------------------------ */
@mixin beforeTabletLandscape{ // 1023px
    @media (max-width: #{$mq_tabletPortrait_ancho_max}){@content;}}
    
@mixin afterTabletLandscape{ // 1024px
    @media (min-width: #{$mq_tabletLandscape_ancho_min}){@content;}}
    
@mixin tabletLandscapeOnly{ // 1024px 1199px
    @media (min-width: #{$mq_tabletLandscape_ancho_min})
        and (max-width: #{$mq_tablet_ancho_max}){@content;}}

@mixin tabletAndTabletLandscapeOnly{ // 767px 1199px
    @media (min-width: #{$mq_tablet_ancho_min})
        and (max-width: #{$mq_tablet_ancho_max}){@content;}}
    
    
/* // 600px ----------------------------------------------------------------- */
@mixin beforeMobile600{
    @media (max-width: 600px){@content;}}
    
@mixin afterMobile600{
    @media (min-width: 601px){@content;}}
    
@mixin mobile600Only{ // 766px
    @media (min-width: 601px)
        and (max-width: #{$mq_mobileLandscape_ancho_max}){@content;}}
    
    
/* // 650px ----------------------------------------------------------------- */
@mixin beforeMobile650{
    @media (max-width: 650px){@content;}}
    
@mixin afterMobile650{
    @media (min-width: 651px){@content;}}
    
@mixin mobile650Only{ // 766px
    @media (min-width: 651px)
        and (max-width: #{$mq_mobileLandscape_ancho_max}){@content;}}
    
    
/* // 700px ----------------------------------------------------------------- */
@mixin beforeMobile700{
    @media (max-width: 700px){@content;}}
    
@mixin afterMobile700{
    @media (min-width: 701px){@content;}}
    
@mixin mobile700Only{ // 766px
    @media (min-width: 701px)
        and (max-width: #{$mq_mobileLandscape_ancho_max}){@content;}}
    
    
/* // 800px ----------------------------------------------------------------- */
@mixin beforeMobile800{
    @media (max-width: 800px){@content;}}
    
@mixin afterMobile800{
    @media (min-width: 801px){@content;}}
    
@mixin mobile800Only{ // 1023px
    @media (min-width: 801px)
        and (max-width: #{$mq_tabletPortrait_ancho_max}){@content;}}
    
    
/* // 850px ----------------------------------------------------------------- */
@mixin beforeMobile850{
    @media (max-width: 850px){@content;}}
    
@mixin afterMobile850{
    @media (min-width: 851px){@content;}}
    
@mixin mobile850Only{ // 1023px
    @media (min-width: 851px)
        and (max-width: #{$mq_tabletPortrait_ancho_max}){@content;}}
    
    
/* // 900px ----------------------------------------------------------------- */
@mixin beforeMobile900{
    @media (max-width: 900px){@content;}}
    
@mixin afterMobile900{
    @media (min-width: 901px){@content;}}
    
@mixin mobile900Only{ // 1023px
    @media (min-width: 901px)
        and (max-width: #{$mq_tabletPortrait_ancho_max}){@content;}}
    
    
/* // 950px ----------------------------------------------------------------- */
@mixin beforeMobile950{
    @media (max-width: 950px){@content;}}
    
@mixin afterMobile950{
    @media (min-width: 951px){@content;}}
    
@mixin mobile950Only{ // 1023px
    @media (min-width: 951px)
        and (max-width: #{$mq_tabletPortrait_ancho_max}){@content;}}
    
    
/* // Desktop --------------------------------------------------------------- */
@mixin beforeDesktop{ // 1199px
    @media (max-width: #{$mq_tablet_ancho_max}){@content;}}
    
@mixin afterDesktop{ // 1200px
    @media (min-width: #{$mq_desktop_ancho_min}){@content;}}

    
/* // Desktop Large + ------------------------------------------------------- */
@mixin afterDesktopLarge{ // 1600px
    @media (min-width: #{$mq_desktopLarge_ancho_min}){@content;}}
    

/* // iPhone 4 & 4S Only ---------------------------------------------------- */
@mixin iPhone4Only{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

    
/* // iPhone 4 & 4S Portrait Only ------------------------------------------- */
@mixin iPhone4PortraitOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

    
/* // iPhone 4 & 4S Landscape Only ------------------------------------------ */
@mixin iPhone4LandscapeOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

    
/* // iPhone 5 & 5S Only ---------------------------------------------------- */
@mixin iPhone5Only{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

    
/* // iPhone 5 & 5S Portrait Only ------------------------------------------- */
@mixin iPhone5PortraitOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

    
/* // iPhone 5 & 5S Landscape Only ------------------------------------------ */
@mixin iPhone5LandscapeOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

    
/* // iPhone 6 Only --------------------------------------------------------- */
@mixin iPhone6Only{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

    
/* // iPhone 6 Portrait Only ------------------------------------------------ */
@mixin iPhone6PortraitOnly{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

    
/* // iPhone 6 Landscape Only ----------------------------------------------- */
@mixin iPhone6LandscapeOnly{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

    
/* // iPhone 6 Plus Only ---------------------------------------------------- */
@mixin iPhone6PlusOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3) {@content;}}

    
/* // iPhone 6 Plus Portrait Only ------------------------------------------- */
@mixin iPhone6PlusPortraitOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: portrait) {@content;}}

    
/* // iPhone 6 Plus Landscape Only ------------------------------------------ */
@mixin iPhone6PlusLandscapeOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) {@content;}}

    
/* // iPad 1 & 2 Portrait Only ---------------------------------------------- */
@mixin iPadPortraitOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 1) {@content;}}

    
/* // iPad 1 & 2 Landscape Only --------------------------------------------- */
@mixin iPadLandscapeOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {@content;}}

    
/* // iPad 3 & 4 Portrait Only ---------------------------------------------- */
@mixin iPad3PortraitOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

    
/* // iPad 3 & 4 Landscape Only --------------------------------------------- */
@mixin iPad3LandscapeOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

    
/* // Retina Screens -------------------------------------------------------- */
@mixin retina{
    @media screen 
        and (min-device-width: 1200px) 
        and (max-device-width: 1600px) 
        and (-webkit-min-device-pixel-ratio: 2)
        and (min-resolution: 192dpi) {@content;}}