/* =============================================================================
   Media Queries | Custom
   ========================================================================== */
$iPhone6Min: 375px;
$mobileMax: 420px;
$mobileLMin: 421px;
$mobileLMax: 767px;
$tabletMin: 768px;
$tabletPMax: 1023px;
$tabletLMin: 1024px;
$laptopMin: 1025px;
$tabletMax: 1199px;
$desktopMin: 1200px;
$desktopLargeMin: 1600px;

/* < Mobile */
@mixin beforeMobileLandscape{
    @media (max-width: #{$mobileMax}){@content;}}
    
@mixin mobileOnly{
    @media (max-width: #{$mobileMax}){@content;}}
    
/* < Tablet */
@mixin beforeTablet{
    @media (max-width: #{$mobileLMax}){@content;}}
    
/* < Tablet Landscape */
@mixin beforeTabletLandscape{
    @media (max-width: #{$tabletPMax}){@content;}}
    
/* < Desktop */
@mixin beforeDesktop{
    @media (max-width: #{$tabletMax}){@content;}}

/* Mobile + */
@mixin afterMobileLandscape{
    @media (min-width: #{$mobileLMin}){@content;}}
    
/* Mobile Landscape Only */
@mixin mobileLandscapeOnly{
    @media (min-width: #{$mobileLMin})
        and (max-width: #{$mobileLMax}){@content;}}

/* Custom Mobile Breakpoints */

//500
@mixin beforeMobile500{
    @media (max-width: 500px){@content;}}
    
@mixin afterMobile500{
    @media (min-width: 500px){@content;}}
    
@mixin mobile500Only{
    @media (min-width: 500px)
        and (max-width: #{$mobileLMax}){@content;}}
    
//600
@mixin beforeMobile600{
    @media (max-width: 600px){@content;}}
    
@mixin afterMobile600{
    @media (min-width: 600px){@content;}}
    
@mixin mobile600Only{
    @media (min-width: 600px)
        and (max-width: #{$mobileLMax}){@content;}}
    
//700
@mixin beforeMobile700{
    @media (max-width: 700px){@content;}}
    
@mixin afterMobile700{
    @media (min-width: 700px){@content;}}
    
@mixin mobile700Only{
    @media (min-width: 700px)
        and (max-width: #{$mobileLMax}){@content;}}

/*
@media (min-width: 100px) and (max-width: 100px){}
*/

/* iPad + */
@mixin afterTablet{
    @media (min-width: #{$tabletMin}){@content;}}
    
/* iPad Landscape + */
@mixin afterTabletLandscape{
    @media (min-width: #{$tabletLMin}){@content;}}
    
/* iPad Only */
@mixin tabletOnly{
    @media (min-width: #{$tabletMin})
        and (max-width: #{$tabletPMax}){@content;}}
    
/* iPad Landscape Only */
@mixin tabletLandscapeOnly{
    @media (min-width: #{$tabletLMin})
        and (max-width: #{$tabletMax}){@content;}}
    
/* iPad Portrait and Landscape Only */
@mixin tabletAndTabletLandscapeOnly{
    @media (min-width: #{$tabletMin})
        and (max-width: #{$tabletMax}){@content;}}

/* Laptop + */
@mixin afterLaptop{
    @media (min-width: #{$laptopMin}){@content;}}
    
/* Desktop + */
@mixin afterDesktop{
    @media (min-width: #{$desktopMin}){@content;}}
    
/* Big Screens + */
@mixin afterDesktopLarge{
    @media (min-width: #{$desktopLargeMin}){@content;}}

/* =============================================================================
   iPhone & iPads
   ========================================================================== */
/* iPhone 4 & 4S Only */
@mixin iPhone4Only{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPhone 4 & 4S Portrait Only */
@mixin iPhone4PortraitOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

/* iPhone 4 & 4S Landscape Only */
@mixin iPhone4LandscapeOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

        
/* iPhone 5 & 5S Only */
@mixin iPhone5Only{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPhone 5 & 5S Portrait Only */
@mixin iPhone5PortraitOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

/* iPhone 5 & 5S Landscape Only */
@mixin iPhone5LandscapeOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

        
/* iPhone 6 Only */
@mixin iPhone6Only{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPhone 6 Portrait Only */
@mixin iPhone6PortraitOnly{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

/* iPhone 6 Landscape Only */
@mixin iPhone6LandscapeOnly{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

        
/* iPhone 6 Plus Only */
@mixin iPhone6PlusOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3) {@content;}}

/* iPhone 6 Plus Portrait Only */
@mixin iPhone6PlusPortraitOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: portrait) {@content;}}

/* iPhone 6 Plus Landscape Only */
@mixin iPhone6PlusLandscapeOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) {@content;}}
        
    
/* iPad 1 & 2 Portrait Only */
@mixin iPadPortraitOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 1) {@content;}}

/* iPad 1 & 2 Landscape Only */
@mixin iPadLandscapeOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {@content;}}


/* iPad 3 & 4 Portrait Only */
@mixin iPad3PortraitOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPad 3 & 4 Landscape Only */
@mixin iPad3LandscapeOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}
        
/* Retina Screens */
@mixin retina{
    @media screen 
        and (min-device-width: 1200px) 
        and (max-device-width: 1600px) 
        and (-webkit-min-device-pixel-ratio: 2)
        and (min-resolution: 192dpi) {@content;}}