/* =============================================================================
   Media Queries Variables | Custom [mixinsMediaQueries.scss]
   ========================================================================== */
$iPhone6Min: 375px;
$mobileMax: 420px;
$mobileLMin: 421px;
$mobileLMax: 767px;
$tabletMin: 768px;
$tabletPMax: 1023px;
$tabletLMin: 1024px;
$tabletMax: 1199px;
$desktopMin: 1200px;
$desktopLargeMin: 1600px;

/*
@media (min-width: 100px) and (max-width: 100px){}
*/

/* =============================================================================
   Media Queries Mixins | Custom [mixinsMediaQueries.scss]
   ========================================================================== */
/* Mobile */
@mixin mobileOnly{
    @media (max-width: #{$mobileMax}){@content;}}

@mixin afterMobileLandscape{
    @media (min-width: #{$mobileLMin}){@content;}}
    
@mixin mobileLandscapeOnly{
    @media (min-width: #{$mobileLMin})
        and (max-width: #{$mobileLMax}){@content;}}
    
/* Tablet */
@mixin beforeTablet{
    @media (max-width: #{$mobileLMax}){@content;}}

@mixin afterTablet{
    @media (min-width: #{$tabletMin}){@content;}}
    
@mixin tabletOnly{
    @media (min-width: #{$tabletMin})
        and (max-width: #{$tabletPMax}){@content;}}
    
/* Tablet Landscape*/
@mixin beforeTabletLandscape{
    @media (max-width: #{$tabletPMax}){@content;}}
    
@mixin afterTabletLandscape{
    @media (min-width: #{$tabletLMin}){@content;}}
    
@mixin tabletLandscapeOnly{
    @media (min-width: #{$tabletLMin})
        and (max-width: #{$tabletMax}){@content;}}

@mixin tabletAndTabletLandscapeOnly{
    @media (min-width: #{$tabletMin})
        and (max-width: #{$tabletMax}){@content;}}

/* 500 */
@mixin beforeMobile500{
    @media (max-width: 500px){@content;}}
    
@mixin afterMobile500{
    @media (min-width: 501px){@content;}}
    
@mixin mobile500Only{
    @media (min-width: 501px)
        and (max-width: #{$mobileLMax}){@content;}}

/* 555 */
@mixin beforeMobile550{
    @media (max-width: 550px){@content;}}
    
@mixin afterMobile550{
    @media (min-width: 551px){@content;}}
    
@mixin mobile550Only{
    @media (min-width: 551px)
        and (max-width: #{$mobileLMax}){@content;}}
    
/* 600 */
@mixin beforeMobile600{
    @media (max-width: 600px){@content;}}
    
@mixin afterMobile600{
    @media (min-width: 601px){@content;}}
    
@mixin mobile600Only{
    @media (min-width: 601px)
        and (max-width: #{$mobileLMax}){@content;}}
    
/* 650 */
@mixin beforeMobile650{
    @media (max-width: 650px){@content;}}
    
@mixin afterMobile650{
    @media (min-width: 651px){@content;}}
    
@mixin mobile650Only{
    @media (min-width: 651px)
        and (max-width: #{$mobileLMax}){@content;}}
    
/* 700 */
@mixin beforeMobile700{
    @media (max-width: 700px){@content;}}
    
@mixin afterMobile700{
    @media (min-width: 701px){@content;}}
    
@mixin mobile700Only{
    @media (min-width: 701px)
        and (max-width: #{$mobileLMax}){@content;}}
    
/* 800 */
@mixin beforeMobile800{
    @media (max-width: 800px){@content;}}
    
@mixin afterMobile800{
    @media (min-width: 801px){@content;}}
    
@mixin mobile800Only{
    @media (min-width: 801px)
        and (max-width: #{$tabletPMax}){@content;}}
    
/* 900 */
@mixin beforeMobile900{
    @media (max-width: 900px){@content;}}
    
@mixin afterMobile900{
    @media (min-width: 901px){@content;}}
    
@mixin mobile900Only{
    @media (min-width: 901px)
        and (max-width: #{$tabletPMax}){@content;}}

/* Desktop */
@mixin beforeDesktop{
    @media (max-width: #{$tabletMax}){@content;}}
    
@mixin afterDesktop{
    @media (min-width: #{$desktopMin}){@content;}}
    
/* Big Screens + */
@mixin afterDesktopLarge{
    @media (min-width: #{$desktopLargeMin}){@content;}}

/* =============================================================================
   iPhone & iPads Mixins | Custom [mixinsMediaQueries.scss]
   ========================================================================== */
/* iPhone 4 & 4S Only */
@mixin iPhone4Only{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPhone 4 & 4S Portrait Only */
@mixin iPhone4PortraitOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

/* iPhone 4 & 4S Landscape Only */
@mixin iPhone4LandscapeOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

        
/* iPhone 5 & 5S Only */
@mixin iPhone5Only{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPhone 5 & 5S Portrait Only */
@mixin iPhone5PortraitOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

/* iPhone 5 & 5S Landscape Only */
@mixin iPhone5LandscapeOnly{
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

        
/* iPhone 6 Only */
@mixin iPhone6Only{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPhone 6 Portrait Only */
@mixin iPhone6PortraitOnly{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {@content;}}

/* iPhone 6 Landscape Only */
@mixin iPhone6LandscapeOnly{
    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {@content;}}

        
/* iPhone 6 Plus Only */
@mixin iPhone6PlusOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3) {@content;}}

/* iPhone 6 Plus Portrait Only */
@mixin iPhone6PlusPortraitOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: portrait) {@content;}}

/* iPhone 6 Plus Landscape Only */
@mixin iPhone6PlusLandscapeOnly{
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px)
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) {@content;}}
        
    
/* iPad 1 & 2 Portrait Only */
@mixin iPadPortraitOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 1) {@content;}}

/* iPad 1 & 2 Landscape Only */
@mixin iPadLandscapeOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {@content;}}


/* iPad 3 & 4 Portrait Only */
@mixin iPad3PortraitOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}

/* iPad 3 & 4 Landscape Only */
@mixin iPad3LandscapeOnly{
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 2) {@content;}}
        
/* Retina Screens */
@mixin retina{
    @media screen 
        and (min-device-width: 1200px) 
        and (max-device-width: 1600px) 
        and (-webkit-min-device-pixel-ratio: 2)
        and (min-resolution: 192dpi) {@content;}}