/* =============================================================================
   Nav
   ========================================================================== */
$navWidthBT: 200px;

.mainNav{
    z-index: $zIndexNav;
    
    @include beforeTablet{
        @include posTR(10px, 10px);
        position: fixed;
        width: $navWidthBT;
            
        .hamb, ul{
            @include borderRadius(4px);                
        }

        .hamb{
            @include posTR(0, 0);
            @include borderStyle($mainBcColour);
            @include equalHeightAndLineHeight(45px);
            box-sizing: border-box;
            z-index: $zIndexNavHamb;
            width: 90px;
            background: $white url('/nuevo/img/ic_hamburgerMenu.svg') no-repeat 10px center;
            background-size: 15px;
            padding: 0 10px 0 30px;
            color: $hamburguerFontColour;
            font-family: $hamburguerFontFamily;
            font-size: 1em;

/*            &.topper{
                @include posTR(15px, 15px);
                position: fixed;
            }*/
        }
        
        ul{
            z-index: $zIndexNavUl;
            position: relative;
            top: 50px;
            width: $navWidthBT; 
            height: $auto;
            background-color: $bgWhite;
            padding: 5px 0 0;
            box-shadow: 0 0 4px $black;
            
            li{
                float: $none;
                
                &, a{
                    @include equalHeightAndLineHeight(45px);
                }
                
                &:nth-child(even){
                    background-color: $bgGreyXL;
                }
                
                &:last-child{
                    &, a{
                        @include borderRadiusB(4px);
                    }
                }
                
                a{
                    font-size: 0.8em;
                    text-align: center;
                }
            }
        }
    }    
    
    @include afterTablet{
        li{
            &, a{
                @include equalHeightAndLineHeight(60px);
            }
            
            a{
                @include transition(1s);
            }
            
            & + li{
                margin-top: 0px;
            }
            
            &.selected{
                a{
                    cursor: default;                    
                }
            }
        }        
        
        &.topper{
            position: fixed;
            top: 0;
            width: 100%;  
           
            ul{
                @include centerCustom(700px);
            }       
        }
    }
    
    @include afterTabletLandscape{
        li{            
            &, a{
                @include equalHeightAndLineHeight(60px);
            }
            
            & + li{}
            
            a{}            
        }
    }
}