/* * NombreDeProyecto * ========================================================
   Nav Main List Styles | Custom [/etc/css/custom/nav_main_list.scss]
   ========================================================================== */
@if $nav_list_act == "on"{
    @include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        .nav_main{
            ul{
                @include borderRadius($nav_bdRadius);   
                z-index: $zIndex_navUlList;
                position: relative;
                top: 50px;
                width: $nav_list_ul_width_BT; 
                height: $auto;
                background-color: $bgWhite;
                box-shadow: 0 0 4px $black;

                li{
                    float: $none;

                    &, a{
                        @include equalHeightAndLineHeight(45px);
                    }

                    &:first-child{
                        a{
                            padding-top: 3px;
                        }
                    }

                    &:nth-child(even){
                        background-color: $bgGrey2XL;
                    }

                    &:last-child{
                        &, a{
                            @include borderRadiusB(4px);
                        }

                        a{
                            padding-bottom: 3px;
                        }
                    }

                    a{
                        font-size: 0.8rem;
                        text-align: center;
                    }
                }
            
                > li{
                    & + li{
                        @include borderStyleT($nav_item_level0_bdColour_BT);
                    }
                }
            }
        }
    }
}