/* * NombreDeProyecto * ========================================================
   Nav Main Accordion Styles | Custom [/etc/css/custom/nav_main_accordion.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";
@if $nav_accordion_act == "on"{
    @include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        .nav_main{
            .button_hamb{
                margin-top: calc(-1 * calc(#{$navAcc_hamburger_height} / 2));
            }

            .button_hamb_open{
                @if $hamburger_only_act == "on"{
                    // REF [11]
                    @include squareSize($navAcc_hamburger_height);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                    overflow: hidden;
            } @else {
                    width: 90px;
                    height: $navAcc_hamburger_height;
                    background-position: 10px center;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: calc(#{$navAcc_hamburger_height} + 5px);
                }
                @include borderRadius($nav_bdRadius); 
                border: 1px solid $button_hamb_open_bdColour!important;
                background-color: $button_hamb_open_bgColour;
                background-size: 15px;
            }

            .button_hamb_close{
                @include squareSize($navAcc_hamburger_height);
                background-size: 15px;
                border: 1px solid $button_hamb_close_bdColour!important;
            }

            ul{
                @include borderStyleV($nav_accordion_bdColour);
            }

            li{                
                a,
                .nav_TLI{
                    padding-left: 15px;
                    text-transform: uppercase;
                }
            }
            
            .nav_main_ul{
                > li{
                    & + li{
                        @include borderStyleT($nav_item_level0_bdColour_BT);
                    }
                }
            }
        }
    }
}