/* * NombreDeProyecto * ========================================================
   Nav Main ALL Styles | Custom [/etc/css/custom/nav_main_ALL.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";
.nav_main_ul{
    li{
        a,
        .nav_TLI{
            /*
            text-transform: uppercase;
            */
        }    
    }
}
        
.nav_item_xxx{
    a{
        &, &:focus, &:focus-visible, &:hover, &:visited, &:active{}

        &:focus, &:focus-visible, &:hover, &:visited, &:active{}

        &, &:visited, &:active{}

        &:visited, &:active{}

        &:focus, &:focus-visible, &:hover{}
    }
}