/* * NombreDeProyecto * ========================================================
   Nav Drawer Styles | Custom [/etc/css/custom/nav_drawer.scss]
   ========================================================================== */
@if $nav_drawer_act == "on"{
    @include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        .nav_main{
            @include positionTR(0, 0);
            position: fixed;
            
            .button_hamb{
                @include positionTR(10px, 10px);
                position: absolute;
            }
            
            .button_hamb_open{                
                @include borderRadius($nav_bdRadius);
                background-image: url('#{$url_entorno}/img/button_hamb_open.svg');
                background-color: $button_hamb_open_bgColour;
                background-size: 15px;
                color: $button_hamb_ftColour;
                text-align: center;
                text-transform: uppercase;
                
                @if $hamburger_only_act == "on"{
                    // REF [11]
                    @include squareSize(45px);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                    overflow: hidden;
                    
                } @else {
                    width: $button_hamb_open_width;
                    height: $button_hamb_open_height;
                    background-position: 10px center;
                    border: 1px solid $button_hamb_open_bdColour!important;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: $button_hamb_open_height;
                }   
                
                &.button_hamb_open_pressed{
                    opacity: 0.5;
                    color: $button_hamb_ftColour_clicked;
                } 
            }

            .button_hamb_close{
                width: $button_hamb_close_size;
                height: calc(#{$button_hamb_close_size} - 0px);
                background-color: $button_hamb_close_bgColour;
                background-size: 100%;
                border: 1px solid $button_hamb_close_bdColour!important;
                padding: $zero;
                text-indent: -9999px;
                overflow: hidden;
            }

            .nav_main_ul{
                @include borderStyleR($nav_drawer_bdColourR, $nav_drawer_bdW);
                padding-top: calc(#{$logo_height_clicked_final} + 5px);

                li{
                    &,
                    a,
                    .nav_TLI{
                        @include equalHeightAndLineHeight(45px);
                    }

                    a,
                    .nav_TLI{
                        display: block;
                        padding-left: 20px;
                        font-size: 1rem;
                    }    
                }
            
                > li{
                    & + li{
                        @include borderStyleT($nav_item_level0_bdColour_BT);
                    }
                }

                > .uk-active,
                > .nav_item_current{
                    background-color: $nav_item_current_level0_bgColour_BT;
                    background-image: url('#{$url_entorno}/img/#{$nav_arrows_item_current_level0}');
                }   

                .nav_item_back{
                    @include borderStyleB(2px, $nav_bdColour_backMenu);
                    position: relative;

                    & + .nav_item_back{
                        border-color: $bdGreyXD transparent $nav_bdColour_backMenu;
                        border-width: 1px 0 2px;
                        border-style: solid;
                    }
                } 
            }
        
            @if $nav_hasSub_level1_act == "on"{   
                .nav_subNav_level1{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level1_bdColour_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level2_act == "on"{  
                .nav_subNav_level2{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level2_bdColour_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level3_act == "on"{ 
                .nav_subNav_level3{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level3_bdColour_BT);
                        }
                    }
                }
            }
        }
    }
}