/* * NombreDeProyecto * ========================================================
   Language Switch Styles | Custom [/etc/css/custom/nav_lang.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";
.nav_lang_ul{
    z-index: $zIndex_nav_lang_ul;
    
    a{
        @include borderStyle($bdWhite, $nav_lang_flag_border_size);
        @include transition(0.3s);
        display: block;
        position: relative;
        box-sizing: border-box;
        background-color: $nav_lang_flag_anchor_bgColour;
        overflow: hidden;
        
        @if $nav_lang_flag_rounded_act == "on"{
            border-radius: 50%;

            &:focus, &:focus-visible, &:hover{
                box-shadow: $nav_lang_flag_rounded_anchor_hover_bxShadow;
            }
        }
    }

    &.navDrawer_open .flag_alignedLeft,
    .flag_alignedLeft{
        img{
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
            margin-top: auto;
            margin-left: auto;
        }
    }

    img{
        max-width: none; // REF [24] UI Kit Fix
        vertical-align: initial;
    }

    //@include navBT // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include beforeMQ768{
        @include positionTL(15px, 20px);
        position: absolute;
           
        &,
        li{
            height: $nav_lang_ul_height_BT;
        }
        
        li{
            a,
            img{
                width: $nav_lang_flag_width_BT;
                height: $nav_lang_flag_height_BT;
            }

            & + li{
                margin-left: 15px;
            }
        
            @if $nav_lang_flag_rounded_act == "on"{
                width: $nav_lang_flag_height_BT;
                
                a{
                    @include squareSize($nav_lang_flag_height_BT);
                }
                
                img{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: $nav_lang_flag_width_BT;
                    height: $nav_lang_flag_height_BT;
                    margin-top: calc(-1 * calc(#{$nav_lang_flag_height_BT} / 2));
                    margin-left: calc(-1 * calc(#{$nav_lang_flag_width_BT} / 2));
                }
            }
        }
        
        @if $nav_drawer_act == "on"{
            &.navDrawer_open{
                top: auto;
                right: auto;
                position: fixed;
                z-index: $zIndex_nav_lang_ul_clicked;
                
                @if $nav_lang_navDrawerOpen_act == "on"{
                    // REF [33]
                    @include borderStyleT($bdGrey2XL);
                    left: 0;
                    bottom: 0;
                    box-sizing: border-box;
                    background-color: $nav_lang_ul_bgColour_clicked;
                    width: calc(#{$nav_drawer_width_final} - #{$nav_drawer_bdWidth});
                    max-width: calc(100% - #{$nav_drawer_bdWidth});
                    height: calc(#{$nav_lang_ul_height_clicked} + #{$nav_lang_ul_height_clicked_PT} + #{$nav_lang_ul_height_clicked_PB});
                    padding-top: $nav_lang_ul_height_clicked_PT;
                    padding-bottom: $nav_lang_ul_height_clicked_PB;
                    padding-left: 10px;
                    
                    li{
                        img{
                            width: $nav_lang_flag_width_clicked;
                            height: $nav_lang_flag_height_clicked;
                            margin-top: calc(-1 * calc(#{$nav_lang_flag_height_clicked} / 2));
                            margin-left: calc(-1 * calc(#{$nav_lang_flag_width_clicked} / 2));
                        }
                    }
                    
                    &::before{
                        @include equalHeightAndLineHeight($nav_lang_ul_height_before);
                        content: "Seleccione un idioma:";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 10px;
                        padding-top: 5px;
                        color: $ftColour_main_global;
                        font-family: $ftFamily_regular_global;
                        font-size: 0.8rem;
                    }
                    
                    &.lang_AR{
                        &::before{
                            content: "Seleccione un idioma:";
                        }
                    }
                    
                    &.lang_DE{
                        &::before{
                            content: "Wähle eine Sprache:";
                        }
                    }
                    
                    &.lang_GB{
                        &::before{
                            content: "Select language:";
                        }
                    }
                    
                    &.lang_BR{
                        &::before{
                            content: "Selecione um idioma:";
                        }
                    }
                    
                } @else {
                    left: 30px;         
                    bottom: $nav_lang_ul_bottom; 
                    height: $nav_lang_ul_height_clicked;          
                }
                
                li{
                    width: auto;
                    height: auto;
                    margin-left: 3px;
                    
                    a{
                        @include squareSize($nav_lang_flag_height_clicked);
                        margin-right: auto;
                        margin-left: auto;
                    }
                    
                    & + li{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    //@include navAT // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include afterMQ768{
        @include positionTR(10px, $nav_lang_ul_right_AT);
        position: absolute;
           
        &,
        li{
            height: $nav_lang_ul_height_A768;
        }
        
        /*
        &,
        a,
        .nav_TLI{
            @include equalHeightAndLineHeight($nav_lang_ul_height_A768);
        }
        */
        
        li{
            a,
            img{
                width: $nav_lang_flag_width_AT;
                height: $nav_lang_flag_height_AT;
            }

            & + li{
                margin-left: $nav_lang_flag_sep_AT;
            }
        
            @if $nav_lang_flag_rounded_act == "on"{
                width: $nav_lang_flag_height_AT;
                
                a{
                    @include squareSize($nav_lang_flag_height_AT);
                }
                
                img{
                    @include centerAbsolute($nav_lang_flag_width_AT, $nav_lang_flag_height_AT);
                }
            }
        }
    }
    
    @include afterMQ1024{           
        &,
        li{
            height: $nav_lang_ul_height_A1024;
        }
        
        /*
        &,
        a,
        .nav_TLI{
            @include equalHeightAndLineHeight($nav_lang_ul_height_A1024);
        }
        */
    }
    
    @include afterMQ1200{           
        &,
        li{
            height: $nav_lang_ul_height_A1200;
        }
        
        /*
        &,
        a,
        .nav_TLI{
            @include equalHeightAndLineHeight($nav_lang_ul_height_A1200);
        }
        */
    }
}