/* * NombreDeProyecto * ========================================================
   Language Switch Styles | Custom [/etc/css/custom/nav_language.scss]
   ========================================================================== */
.nav_language_ul{
    z-index: $zIndex_nav_language_ul;
    
    a{
        @include borderStyle($bdWhite, $language_flag_border_size);
        @include transition(0.3s);
        display: block;
        position: relative;
        box-sizing: border-box;
        background-color: $language_flag_anchor_bgColour;
        overflow: hidden;
        
        @if $nav_language_flag_rounded_act == "on"{
            border-radius: 50%;

            &:focus, &:hover{
                box-shadow: $language_flag_rounded_anchor_hover_bxShadow;
            }
        }
    }

    &.navDrawer_open .flag_alignedLeft,
    .flag_alignedLeft{
        img{
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
            margin-top: auto;
            margin-left: auto;
        }
    }

    img{
        max-width: none; // UI Kit Fix
        vertical-align: initial;
    }

    //@include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include beforeTablet{
        @include positionTL(15px, 20px);
        position: absolute;
           
        &,
        li{
            height: $nav_language_ul_height_BT;
        }
        
        li{
            a,
            img{
                width: $language_flag_width_BT;
                height: $language_flag_height_BT;
            }

            & + li{
                margin-left: 15px;
            }
        
            @if $nav_language_flag_rounded_act == "on"{
                width: $language_flag_height_BT;
                
                a{
                    @include squareSize($language_flag_height_BT);
                }
                
                img{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: $language_flag_width_BT;
                    height: $language_flag_height_BT;
                    margin-top: calc(-1 * calc(#{$language_flag_height_BT} / 2));
                    margin-left: calc(-1 * calc(#{$language_flag_width_BT} / 2));
                }
            }
        }
        
        @if $nav_drawer_act == "on"{
            &.navDrawer_open{
                top: auto;
                right: auto;
                position: fixed;
                z-index: $zIndex_nav_language_ul_clicked;
                
                @if $nav_language_navDrawerOpen_act == "on"{
                    left: 0;
                    bottom: 0;
                    box-sizing: border-box;
                    width: calc(#{$nav_drawer_width_final} - 5px);
                    max-width: $nav_drawer_width_max;
                    height: calc(#{$nav_language_ul_height_clicked} + #{$nav_language_ul_height_clicked_PT} + #{$nav_language_ul_height_clicked_PB});
                    padding-top: $nav_language_ul_height_clicked_PT;
                    padding-bottom: $nav_language_ul_height_clicked_PB;
                    padding-left: 0;
                    background-color: $nav_language_ul_bgColour_clicked;
                    
                    li{
                        img{
                            width: $language_flag_width_clicked;
                            height: $language_flag_height_clicked;
                            margin-top: calc(-1 * calc(#{$language_flag_height_clicked} / 2));
                            margin-left: calc(-1 * calc(#{$language_flag_width_clicked} / 2));
                        }
                    }
                    
                } @else {
                    left: 30px;         
                    bottom: $nav_language_ul_bottom; 
                    height: $nav_language_ul_height_clicked;          
                }
                
                li{
                    width: 50%;
                    height: auto;
                    
                    a{
                        @include squareSize($language_flag_height_clicked);
                        margin-right: auto;
                        margin-left: auto;
                    }
                    
                    & + li{
                        margin-left: 0;
                    }
                }
            }
        }
    }

    //@include navAT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
    @include afterTablet{
        @include positionTR(10px, $nav_language_ul_right_AT);
        position: absolute;
           
        &,
        li{
            height: $nav_language_ul_height_AT;
        }

        li{
            a,
            img{
                width: $language_flag_width_AT;
                height: $language_flag_height_AT;
            }

            & + li{
                margin-left: $language_flag_sep_AT;
            }
        
            @if $nav_language_flag_rounded_act == "on"{
                width: $language_flag_height_AT;
                
                a{
                    @include squareSize($language_flag_height_AT);
                }
                
                img{
                    @include centerAbsolute($language_flag_width_AT, $language_flag_height_AT);
                }
            }
        }
    }
}