/* * NombreDeProyecto * ========================================================
   Nav Main Drawer BT Styles | Custom [/etc/css/custom/nav_main_drawer.scss]
   ========================================================================== */
@if $nav_drawer_act == "on"{
    @include beforeMQ350{
        .nav_main{
            .nav_main_ul{ 
                li{
                    a,
                    .nav_TLI{
                        padding-left: 10px;
                        font-size: 0.85rem;
                    }    
                }
            }
        }
    }
    
    @include MQ350_navBT{
        .nav_main{
            .nav_main_ul{ 
                li{
                    a,
                    .nav_TLI{
                        padding-left: 20px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
    @include navBT{
        // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        .nav_main{
            @include positionTR(0, $nav_drawer_R); 
            position: fixed;
            
            .button_hamb{
                @include positionTR(10px, 10px);
                position: absolute;
            }
            
            .button_hamb_open{
                @include borderRadius($nav_bdRadius);
                @include transition(0.7s);
                background-image: url('#{$dir_env}/img/button_hamb_open.svg');
                background-color: $button_hamb_open_bgColour;
                background-size: 15px;
                color: $button_hamb_ftColour;
                text-align: center;
                text-transform: uppercase;
                
                @if $hamburger_only_act == "on"{
                    // REF [11] Activador
                    @include squareSize($button_hambOnly_size);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                    overflow: hidden;
                    
                } @else {
                    width: $button_hamb_open_width;
                    height: $button_hamb_open_height;
                    background-position: 10px center;
                    border: 1px solid $button_hamb_open_bdColour!important;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: $button_hamb_open_height;
                }   
                
                &.button_hamb_open_pressed{
                    opacity: 0.5;
                    color: $button_hamb_ftColour_clicked;
                }
                    
                &.site_scrolled_js{
                    // REF [31] Nav Button Hamb Open
                    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
                }
            }

            .button_hamb_close{
                width: $button_hamb_close_size;
                height: calc(#{$button_hamb_close_size} - 0px);
                background-color: $button_hamb_close_bgColour;
                background-size: 100%;
                border: 1px solid $button_hamb_close_bdColour!important;
                padding: $zero;
                text-indent: -9999px;
                overflow: hidden;
            }
        
            .nav_item_xxx{
                a{
                    &, &:focus, &:hover, &:visited, &:active{}

                    &:focus, &:hover, &:visited, &:active{}

                    &, &:visited, &:active{}

                    &:visited, &:active{}

                    &:focus, &:hover{}
                }
            }

            .nav_main_ul{
                @include borderStyleR($nav_drawer_bdColourR, $nav_drawer_bdWidth);
                padding-top: calc(#{$logo_height_clicked_final} + 5px);

                li{
                    &,
                    a,
                    .nav_TLI{
                        @include equalHeightAndLineHeight(45px);
                    }

                    a,
                    .nav_TLI{
                        display: block;
                    }    
                }
            
                > li{
                    & + li{
                        @include borderStyleT($nav_item_level0_bdColour_BT);
                    }
                }

                > .uk-active,
                > .nav_item_current{
                    background-color: $nav_item_current_level0_bgColour_BT;
                    background-image: url('#{$dir_env}/img/#{$nav_arrows_item_current_level0}');
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                }   

                .nav_item_back{
                    @include borderStyleB(2px, $nav_bdColour_backMenu);
                    position: relative;

                    & + .nav_item_back{
                        border-color: $bdGreyXD transparent $nav_bdColour_backMenu;
                        border-width: 1px 0 2px;
                        border-style: solid;
                    }
                } 
            }
        
            @if $nav_hasSub_level1_act == "on"{
                .nav_subNav_level1{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level1_bdColour_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level2_act == "on"{
                .nav_subNav_level2{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level2_bdColour_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level3_act == "on"{
                .nav_subNav_level3{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level3_bdColour_BT);
                        }
                    }
                }
            }
        }
    }
}