/* =============================================================================
   Page Error Styles | Custom [page_error.scss]
   ========================================================================== */
.page_error{
    padding-top: 20px;
    padding-bottom: 20px;
    
    h1{
        color: $greyD;
        text-align: center;
    }
    
    p{
        color: $black;
        text-align: center;
        
        a{
            text-decoration: underline;
        }
    }
    
    .errorType{
        padding-bottom: 20px;
        color: $grey;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}