/* =============================================================================
   Page Copyright Styles | Custom [page_copyright.scss]
   ========================================================================== */
.page_copyright{
    padding-bottom: 100px;
    
    h1{
        font-size: 1.6rem;
    }
    
    p, li{
        font-size: 1rem;
    }
    
    .hDos{
        font-size: 1.3rem;
    }
    
    .lic{
        font-size: 1.1rem;
        
        &,
        & + p{
            margin-top: 20px;
        }
    }
    
    .nota{
        font-size: 0.9rem;
        
        & + p{
            margin-top: 20px;
        }
    }    
}