/* * NombreDeProyecto * ========================================================
   Page Index Styles | Custom [/etc/css/custom/page_index.scss]
   ========================================================================== */
@use "var/env_var" as *;
@use "../scss/var_all" as *;

@use "sass:color";
@use "sass:map";
//@import 'imp/page_index_fullHeight_imp';

.page_index{
    &.page_index_index{}
    
    &.page_index_home{}
}