/* * NombreDeProyecto * ========================================================
   Page Error Styles | Custom [/etc/css/custom/page_error.scss]
   ========================================================================== */
.page_error{
    min-height: 50vh;
    padding-top: 30px;
    padding-bottom: 80px;
    
    h1{
        color: $greyD;
        text-align: center;
    }
    
    p{
        padding-right: 40px;
        padding-left: 40px;
        color: $black;
        font-size: 0.9rem;
        text-align: center;
        
        a{
            text-decoration: underline;
            
            &, &:focus, &:hover, &:visited, &:active{}

            &:focus, &:hover, &:visited, &:active{}

            &, &:visited, &:active{}

            &:visited, &:active{}

            &:focus, &:hover{}
        }
    }
    
    .errorType{
        padding: 0 0 20px;
        color: $greyM;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}