@use "sass:color";
/* * NombreDeProyecto * ========================================================
   Page Contacto Styles | Custom [/etc/css/custom/page_contacto.scss]
   ========================================================================== */
.page_contacto{}