/* =============================================================================
   Page Index Styles | Custom [/etc/css/custom/page_index.scss]
   ========================================================================== */
@import 'imp/page_index_fullHeight_imp';

.page_index{}