/* * NombreDeProyecto * ========================================================
   Page Copyright Styles | Custom [/etc/css/custom/page_copyright.scss]
   ========================================================================== */
@use "var/env_var" as *;
@use "var/colours_main_var" as *;
@use "var/colours_borders_var" as *;
@use "var/colours_backgrounds_var" as *;
@use "var/page_copyright_var" as *;

@use "../scss/var_all_pre" as *;

@use "sass:color";
@use "sass:map";
.page_copyright{
    padding-bottom: 100px;
    
    h1{
        font-size: 1.6rem;
    }
    
    p, li{
        font-size: 1rem;
    }
    
    .heading2{
        font-size: 1.3rem;
    }
    
    .lic{
        font-size: 1.1rem;
        
        &,
        & + p{
            margin-top: 20px;
        }
    }
    
    .nota{
        font-size: 0.9rem;
        
        & + p{
            margin-top: 20px;
        }
    }    
}