/* * NombreDeProyecto * ========================================================
   Page Gracias Styles | Custom [/etc/css/custom/page_gracias.scss]
   ========================================================================== */
@use "var/env_var" as *;
@use "../scss/var_all" as *;

@use "sass:color";
@use "sass:map";
.page_gracias{
    padding-bottom: 50px;
}