/* * NombreDeProyecto * ========================================================
   Page Error Styles | Custom [/etc/css/custom/page_error.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";

@use "var/env_var" as *;

@use "../scss/var_all_pre" as *;

@use "var/colours_main_var" as *;
@use "var/colours_borders_var" as *;
@use "var/colours_backgrounds_var" as *;

//@use "var/page_error_var" as *;

.page_error{
    min-height: 50vh;
    padding-top: 30px;
    padding-bottom: 80px;
    
    h1{
        color: $greyD;
        text-align: center;
    }
    
    p{
        padding-right: 40px;
        padding-left: 40px;
        color: $black;
        font-size: 0.9rem;
        text-align: center;
        
        a{
            text-decoration: underline;
            
            &, &:focus, &:focus-visible, &:hover, &:visited, &:active{}

            &:focus, &:focus-visible, &:hover, &:visited, &:active{}

            &, &:visited, &:active{}

            &:visited, &:active{}

            &:focus, &:focus-visible, &:hover{}
        }
    }
    
    .errorType{
        padding: 0 0 20px;
        color: $greyM;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}