/* =============================================================================
   Popup Styles | Custom [popups.scss]
   ========================================================================== */
.modalBG{}

.modal_warning{
    /*
    @include opacityCustom(75);
    background-color: $bgBlack!important;
    */
}

.modal_video{
    /*
    @include opacityCustom(75);
    background-color: $bgBlack!important;
    */
}

.pop_main{
    position: fixed;
    top: 80px;
    left: 50%;
    
    .pop_close{
        $pop_close_size: 33px;

        @include borderRadius(50%);
        @include bgSvg(pop_close); 
        width: $pop_close_size!important;
        height: $pop_close_size!important;
        background-size: 13px;
        border: 1px solid $bdGreyXD!important; 

        &, &:focus, &:hover{
            background-color: $bgWhite;
        }
    }
    
    .pop_innerContainer{
        @include posTRBL;
        position: absolute;
        overflow: auto;
    }

    @include beforeMobile600{
        .pop_close{
            top: -45px;
            right: 0;
        }
    }

    @include afterMobile600{
        .pop_close{
            top: -35px;
            right: -35px;
        } 
    }
}

.pop_warning{
    /* CSS para usar centerPopup
        @include centerPopup(100px,100px,50%);
        max-width: 100%;
        max-height: 100%;
    */      

    @include borderRadius(); 
    top: 20%;
    left: 50%;
    background-color: $formStatus_msgOK_bgColour;          
    box-shadow: 0 0 15px 0 $black;

    h2,
    h3{
        font-size: 1.2rem;
    }

    p{
        width: $hundred;
        background-color: transparent;
        padding: 0;
        color: $greyXD;
        font-family: $fontFamily_main_global;
        text-align: center;

        & + p{
            margin-top: 0.8em;
        }

        &:last-child{
            padding-bottom: 50px;
        }
    }

    .pop_innerContainer{
        padding: 20px;
    }

    .pop_close{
        @include posTR(10px, 10px);
    }

    .pop_submit{
        @include borderRadius();
        @include transition(1s);
        @include equalHeightAndLineHeight(35px);
        width: 40%;
        max-width: 150px;
        background-color: $bgWhite;
        font-size: 0.8rem;

        &, &:focus, &:hover{
            border: 1px solid $bdGrey!important
        }

        &:focus, &:hover{
            background-color: $bgGreyXXL;
            color: $black;
        }            
    }
        
    @include mobileOnly{
        $pop_warning_width: 300px;

        width: $pop_warning_width;
        margin-left: calc(calc(#{$pop_warning_width} * -1) / 2);            
    }

    @include afterMobileLandscape{
        $pop_warning_width: 60%;

        width: $pop_warning_width;
        margin-left: calc(calc(#{$pop_warning_width} * -1) / 2);    
    }

    @include beforeMobile600{
        /*height: 220px;*/      
    }

    @include afterMobile600{
        $pop_warning_width: 550px;

        width: $pop_warning_width;
        /*height: 200px;*/
        margin-left: calc(calc(#{$pop_warning_width} * -1) / 2);  

        .pop_innerContainer{
            @include posTRBL(20px, 20px, 20px, 20px);
            padding: 20px;
        }

        .pop_close{
            @include posTR(10px, 10px);
        }
    }
}
    
.pop_video{
    box-shadow: $video_bxShadow;

    .video_mask{
      //@include borderStyle($bdGreyD);
        @include borderRadius(0);
        border: $none;
    }
              
    @include mobileOnly{  
        $pop_video_width: 300px;

        width: $pop_video_width;
        height: 168px;
        margin-left: calc(-1 * calc(#{$pop_video_width} / 2));
    }

    @include afterMobileLandscape{
        $pop_video_width: 450px;

        width: $pop_video_width;
        height: 250px;
        margin-left: calc(-1 * calc(#{$pop_video_width} / 2));
    }
    
    @include afterTablet{
        $pop_video_width: 600px;

        width: $pop_video_width;
        height: 330px;
        margin-left: calc(-1 * calc(#{$pop_video_width} / 2));
    } 
}