/* =============================================================================
   Popup Styles | Custom [/etc/css/custom/popup.scss]
   ========================================================================== */
.modal_global{}

.modal_warning{
    /*
    @include opacityCustom(75);
    background-color: $bgBlack!important;
    */
}

.modal_video{
    /*
    @include opacityCustom(75);
    background-color: $bgBlack!important;
    */
}

.modal_formStatus{
    background-color: $black_rgba_60;
}

.pop_general{
    box-sizing: border-box;
    position: fixed;
    top: 80px;
    left: 50%;
    border-radius: $bdRadius_global; 
    background-color: $bgWhite;
    
    .button_pop_close{
        @include bgSvg(button_pop_close); 
        position: absolute;
        border-radius: 50%;
        border: 1px solid $bdGreyXD!important; 
        width: $button_pop_close_size!important;
        height: $button_pop_close_size!important;
        background-size: 13px;
        text-indent: -9999px;

        &, &:focus, &:hover{
            background-color: $bgWhite;
        }
    }
    
    .pop_innerContainer{
        @include positionTRBL;
        position: absolute;
        overflow: auto;
    }

    @include beforeMobile600{
        .button_pop_close{
            top: -45px;
            right: 0;
        }
    }

    @include afterMobile600{
        .button_pop_close{
            top: -35px;
            right: -35px;
        } 
    }
}

.pop_warning{
    /* CSS para usar centerPopup
        @include centerPopup(100px,100px,50%);
        max-width: 100%;
        max-height: 100%;
    */      

    top: 20%;
    left: 50%;         
    box-shadow: 0 0 15px 0 $black;

    h2,
    h3{
        font-size: 1.2rem;
    }

    p{
        width: $hundred;
        background-color: transparent;
        padding: 0;
        color: $greyXD;
        font-family: $ftFamily_main_global;
        text-align: center;

        & + p{
            margin-top: 0.8em;
        }

        &:last-child{
            padding-bottom: 50px;
        }
    }

    .pop_innerContainer{
        padding: 20px;
    }

    .button_pop_close{
        @include positionTR(10px, 10px);
    }

    .button_pop_submit{
        @include transition(1s);
        @include equalHeightAndLineHeight(35px);
        width: 40%;
        max-width: 150px;
        border-radius: $bdRadius_global;
        background-color: $bgWhite;
        font-size: 0.8rem;

        &, &:focus, &:hover{
            border: 1px solid $bdGrey!important
        }

        &:focus, &:hover{
            background-color: $bgGrey2XL;
            color: $black;
        }            
    }
        
    @include mobileOnly{
        width: $pop_warning_width_MO;
        margin-left: calc(calc(#{$pop_warning_width_MO} * -1) / 2);            
    }

    @include afterMobileLandscape{
        width: $pop_warning_width_AML;
        margin-left: calc(calc(#{$pop_warning_width_AML} * -1) / 2);    
    }

    @include afterMobile600{
        width: $pop_warning_width_A600;
        margin-left: calc(calc(#{$pop_warning_width_A600} * -1) / 2);  

        .pop_innerContainer{
            @include positionTRBL(20px, 20px, 20px, 20px);
            padding: 20px;
        }

        .button_pop_close{
            @include positionTR(10px, 10px);
        }
    }
}

.pop_form{
    padding-right: 20px;
    padding-left: 20px;
    height: 70vh;
    
    &,
    .button_pop_close{
        box-shadow: $bxShadow_main;
    }
    
    .mobileForm{ 
        padding-top: 20px;
        padding-bottom: 40px;
    }
        
    @include mobileOnly{
        width: $pop_form_width_MO;
        margin-left: calc(-1 * calc(#{$pop_form_width_MO} / 2));
    }

    @include afterMobileLandscape{
        width: $pop_form_width_AML;
        margin-left: calc(-1 * calc(#{$pop_form_width_AML} / 2));
    }

    @include afterMobile600{
        width: $pop_form_width_600;
        margin-left: calc(-1 * calc(#{$pop_form_width_600} / 2));
    }
    
    @include afterTablet{
        width: $pop_form_width_AT;
        margin-left: calc(-1 * calc(#{$pop_form_width_AT} / 2));
    }
}
    
.pop_video{
    box-shadow: $bxShadow_video;

    .video_mask{
/*        
        @include borderStyle($bdGreyD);
*/
        border-radius: 0;
        border: $none;
    }
              
    @include mobileOnly{
        width: $pop_video_width_MO;
        height: 168px;
        margin-left: calc(-1 * calc(#{$pop_video_width_MO} / 2));
    }

    @include afterMobileLandscape{
        width: $pop_video_width_AML;
        height: 250px;
        margin-left: calc(-1 * calc(#{$pop_video_width_AML} / 2));
    }
    
    @include afterTablet{
        width: $pop_video_width_AT;
        height: 330px;
        margin-left: calc(-1 * calc(#{$pop_video_width_AT} / 2));
    } 
}

/* // Form status message --------------------------------------------------- */
.pop_formStatus{
    padding: 20px!important;
        
    h2{
        height: $auto;
        font-family: $form_pop_title_ftFamily;
        line-height: 1.2rem!important;
    }
    
    .button_pop_submit{
        background-color: $bgWhite;
        margin: 20px auto 0;
        color: $black;
        font-family: $arial;
        font-weight: 700;
        text-align: center;        
        text-transform: uppercase;
    }
    
    @include beforeMobile650{
        h2{
            padding-top: 30px;
        }
    }
}