/* * NombreDeProyecto * ========================================================
   Scrollbar Styles | Custom [/etc/css/custom/scrollbar.scss]
   ========================================================================== */
@use "var/env_var" as *;
@use "../scss/var_all_pre" as *;

@use "sass:color";
@use "sass:map";
.scrollbar::-webkit-scrollbar{
  width: 12px;
  background-color: #eff1f5;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 3px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #515769;
  border: 2px solid #eff1f5
}