/* =============================================================================
   Nav Drawer Styles | Custom [section_nav_drawer.scss]
   ========================================================================== */
@if $nav_drawer_act == "on"{
    @include navBT{
        .nav_nav{
            @include positionTR(10px, 10px);
            position: fixed;

            .button_hamb{
                @include positionTR(0, 0);
                position: absolute;
            }

            .button_hamb_open{                
                @include borderRadius($nav_bdRadius);
                display: block;
                background-size: 15px;
                text-align: center;
                text-transform: uppercase;
                
                @if $hamburger_only_act == "on"{
                    @include squareSize(45px);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                    
                } @else {
                    width: 90px;
                    height: $button_hamb_height;
                    background-position: 10px center;
                    border: 1px solid $button_hamb_open_bdColour!important;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: $button_hamb_height;
                }
            }

            .button_hamb_close{
                @include squareSize(45px);
                background-size: 20px;
                border: 1px solid $button_hamb_close_bdColour!important;
                text-indent: -9999px;
            }

            .nav_main_ul{
                @include borderStyleR($nav_drawer_bdColourR);

                li{
                    &,
                    a,
                    .nav_TLI{
                        @include equalHeightAndLineHeight(45px);
                    }

                    a,
                    .nav_TLI{
                        display: block;
                        font-size: 1rem;
                        text-align: center;
                    }    
                }
            
                > li{
                    & + li{
                        @include borderStyleT($nav_item_level0_bdColour_BT);
                    }
                }

                > .nav_item_current{
                    background-color: $nav_item_current_level0_bgColour_BT;
                    background-image: url('/nuevo/img/#{$nav_arrows_item_current_level0}');
                }   

                .nav_item_back{
                    @include borderStyleB(2px, $nav_bdColour_backMenu);
                    position: relative;

                    & + .nav_item_back{
                        border-color: $bdGreyXD transparent $nav_bdColour_backMenu;
                        border-width: 1px 0 2px;
                        border-style: solid;
                    }
                } 
            }
        
            @if $nav_hasSub_level1_act == "on"{   
                .nav_subNav_level1{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level1_bdColour_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level2_act == "on"{  
                .nav_subNav_level2{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level2_bdColour_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level3_act == "on"{ 
                .nav_subNav_level3{
                    > li{
                        & + li{
                            @include borderStyleT($nav_item_level3_bdColour_BT);
                        }
                    }
                }
            }
        }
    }
}