/* =============================================================================
   Header Styles | Custom [section_header.scss]
   ========================================================================== */
#header{
    box-sizing: border-box;
/*
    position: relative;
    z-index: $zIndex_header;
*/
    height: $header_height_ALL;
        
    @if $header_fixed_act_ALL == "on"{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: $header_fixed_bxShadow;
    }
    
    @if $page_index_fullHeight_act_ALL == "on" or $fullHeight_sections_act_ALL == "on"{
        height: $header_height_ALL;
    }
    
    .logo_header{
        margin-bottom: 0;
        
        &,
        a,
        img{}
        
        &,
        a{}
        
        a,
        img{
            display: block;}
        
        a{
            position: relative;
        }
    }
    
    @if $logo_bgImage_before_act == "on"{
        .logo_before{
            position: relative;        
            background-image: url('/nuevo/img/logo_bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
    }
    
    @include mobileOnly{
        @if $page_index_fullHeight_act_MO == "on" or $fullHeight_sections_act_MO == "on"{
            height: $header_height_MO;
        }
        
        @if $header_fixed_act_MO == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $header_fixed_bxShadow;
        }
        
        @if $header_fixed_act_MO == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_MO;
        }

        .logo_header{
/*
            width: $logo_width_MO;
*/         
        }
    }
    
    @include afterMobileLandscape{
        @if $page_index_fullHeight_act_AML == "on" or $fullHeight_sections_act_AML == "on"{
            height: $header_height_AML;
        }
        
        @if $header_fixed_act_AML == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $header_fixed_bxShadow;
        }
        
        @if $header_fixed_act_AML == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_AML;
        }
        
        .logo_header{
/*
            width: $logo_width_AML;
*/         
        }
    }
    
    @include mobileLandscapeOnly{
        @if $page_index_fullHeight_act_AML == "on" or $fullHeight_sections_act_AML == "on"{
            height: $header_height_AML;
        }
        
        @if $header_fixed_act_MLO == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $header_fixed_bxShadow;
        }
        
        @if $header_fixed_act_MLO == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_MLO;
        }
        
        .logo_header{
//          width: $logo_width_MLO;
        }
    }

    //@include navBT
    @include beforeTablet{
        box-sizing: border-box;
        padding-top: $header_PT_BT;
        padding-bottom: $header_PB_BT;
        
        @if $page_index_fullHeight_act_BT == "on" or $fullHeight_sections_act_BT == "on"{
            height: $header_height_BT;
        }
        
        @if $header_fixed_act_BT == "on" or $nav_accordion_act == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        
            &.topperShadow{
                box-shadow: 0 0 7px $black;
            }
        }    
        
        @if $header_fixed_act_BT == "on" or $header_fixed_act_ALL{
            &.navDrawer_open{
            }
        }   
        
        @if $header_fixed_act_BT == "on"{
            height: $header_height_BT;
            box-shadow: $header_fixed_bxShadow;
        }   
            
        @if $logo_bgImage_before_act == "on"{
            .logo_header{
                width: $logo_width_BT;
                height: $logo_height_BT_before;
            }
        }
        
        @if $nav_accordion_act == "on"{
            height: $header_navAccordion_height_BT;
            box-shadow: 0 0 10px $greyL;
            
            .logo_header{
                height: $logo_height_BT_navAcc;
                margin-right: auto;
                margin-left: auto;
            
                a{
                    width: 200px;
                }             
            
                a,
                img{
                    height: 100%;
                } 
            }
            
        } @else {
            .logo_header{
                width: $logo_width_BT;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
        
        @if $nav_drawer_act == "on"{
            .logo_header{
                &.navDrawer_open{
                    @include borderStyleR($nav_drawer_bdColourR);
                    box-sizing: border-box;
                    position: fixed;
                    z-index: $zIndex_logo_clicked;
                    top: 0;
                    left: 0;
                    width: calc(#{$nav_drawer_width} - 5px);
                    max-width: $nav_drawer_width_max;
                    height: $logo_height_clicked_final;
                    background-color: $nav_bgColour_BT;
                    padding-top: $logo_clicked_height_PT;
                    padding-bottom: $logo_clicked_height_PB;
                    margin: 0;

                    .logo_before,
                    a,
                    img{
                        width: auto;
                        height: 100%;
                    }

                    img{
                        margin-right: auto;
                        margin-left: auto;
                    } 
                    
                    .logo_before{
                        background: none;
                    }
                }
            }
        }
    }
    
    //@include navAT
    @include afterTablet{            
        @if $header_logoNav_floated_flexbox_act == "on"{
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;     
            }
        }
        
        @if $nav_fixed_AT_act == "on"{
            padding-top: $nav_height_AT;
        }
        
        @if $page_index_fullHeight_act_AT == "on" or $fullHeight_sections_act_AT == "on"{
            height: $header_height_AT;
        }
        
        @if $header_fixed_act_AT == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $header_fixed_bxShadow;
        
            &.topperShadow{
                box-shadow: 0 0 7px $black;
            }
        }
        
        @if $header_fixed_act_AT == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_AT;
        }
        
        @if $nav_topper_act == "on"{
            &.nav_topper{
                position: fixed;
                z-index: $zIndex_header_topper;
                top: 0;
                right: 0;
                left: 0;
                height: $topper_height_global;
                
                .logo_header{
                    z-index: $zIndex_logo_topper;
                }
            }
        }
        
        .logo_header{
            position: relative;
            z-index: $zIndex_logo;   
            
            @if $header_logoNav_floated_act == "on"{
                box-sizing: border-box;
                float: left;
                padding-right: 20px;
                padding-left: 20px;             
            }
            
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_AT;
                    height: $logo_height_AT_before;
                }  
                
                img{
                    width: 100%;
                }                
                
            } @else {
                width: $logo_width_AT;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
    }
    
    @include tabletOnly{
        @if $page_index_fullHeight_act_TO == "on" or $fullHeight_sections_act_TO == "on"{
            height: $header_height_TO;
        }
    }
    
    @include beforeTabletLandscape{
        @if $page_index_fullHeight_act_BTL == "on" or $fullHeight_sections_act_BTL == "on"{
            height: $header_height_BTL;
        }
    }
    
    @include afterTabletLandscape{
        @if $page_index_fullHeight_act_ATL == "on" or $fullHeight_sections_act_ATL == "on"{
            height: $header_height_ATL;
        }
        
        @if $header_fixed_act_ATL == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        }
        
        @if $header_fixed_act_ATL == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_ATL;
        }
        
        .logo_header{
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_ATL;
                    height: $logo_height_ATL_before;
                } 
                
            } @else {
                width: $logo_width_ATL;
            }
        }
    }
    
    @include afterDesktop{
        @if $page_index_fullHeight_act_AD == "on" or $fullHeight_sections_act_AD == "on"{
            height: $header_height_AD;
        }   
        
        .logo_header{
            @if $logo_bgImage_before_act == "on"{
                &,
                a{
                    width: $logo_width_AD;
                    height: $logo_height_AD_before;
                } 
                
            } @else {
                width: $logo_width_AD;
            }
        }  
    }
}