/* =============================================================================
   Nav Drawer Styles | Custom [section_nav_drawer.scss]
   ========================================================================== */
@if $navDrawer_act == "on"{
    @include navBT{
        .nav_nav{
            @include posTR(10px, 10px);
            position: fixed;

            .button_hamb{
                @include posTR(0, 0);
            }

            .button_hamb_open{
                @if $hamburger_only_act == "on"{
                    @include squareSize(45px);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                    
                } @else {
                    width: 90px;
                    height: $navDrawer_hamburger_height;
                    background-position: 10px center;
                    border: 1px solid $nav_bdColour_open!important;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: $navDrawer_hamburger_height;
                }
                
                @include borderRadius($nav_borderRadius);
                background-size: 15px;
            }

            .button_hamb_close{
                @include squareSize(45px);
                background-size: 20px;
                border: 1px solid $nav_bdColour_close!important;
            }

            .nav_main_ul{
                @include borderStyleR($nav_bdColourR_navDrawer);

                li{
                    &,
                    a,
                    .nav_TLI{
                        @include equalHeightAndLineHeight(45px);
                    }

                    a,
                    .nav_TLI{
                        font-size: 1rem;
                        text-align: center;
                        display: block;
                    }    
                }

                > .nav_item_current{
                    background-color: $nav_bgColour_itemCurrent_level0_BT;
                    background-image: url('/nuevo/img/#{$navArrows_itemCurrent_level0}');
                }   

                .nav_item_back{
                    @include borderStyleB(2px, $nav_bdColour_backMenu);
                    position: relative;

                    & + .nav_item_back{
                        border-color: $bdGreyXD transparent $nav_bdColour_backMenu;
                        border-width: 1px 0 2px;
                        border-style: solid;
                    }
                } 
            }
        
            @if $nav_hasSub_level1_act == "on"{   
                .nav_subNav_level1{
                    > li{
                        & + li{
                            @include borderStyleT($nav_bdColour_itemLevel1_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level2_act == "on"{  
                .nav_subNav_level2{
                    > li{
                        & + li{
                            @include borderStyleT($nav_bdColour_itemLevel2_BT);
                        }
                    }
                }
            }
            
            @if $nav_hasSub_level3_act == "on"{ 
                .nav_subNav_level3{
                    > li{
                        & + li{
                            @include borderStyleT($nav_bdColour_itemLevel3_BT);
                        }
                    }
                }
            }
        }
    }
}