/* * NombreDeProyecto * ========================================================
   Footer Styles | Custom [/etc/css/custom/section_footer.scss]
   ========================================================================== */
@import 'imp/section_footer_fullHeight_imp';

#footer{
/* // Button Site Top ------------------------------------------------------- */
    .button_siteTop{
        @include squareSize(50px);
        z-index: $zIndex_button_goToTop;
        top: 10px;
        right: 10px;
        background-image: url('#{$url_dir}/img/button_siteTop.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
/* -------------------------------------------------------------------------- */
    
    .nav_footer{
        position: relative;
        
        ul{}
        
        li{}
        
        @if $nav_hasSub_act == "on"{
            .nav_subNav_level1,
            .nav_subNav_level2,
            .nav_subNav_level3{
                display: none;
            }
        }
    }
    
    .footer_address{
        a{
            font-size: 1em;
            line-height: 1.2;
        }
    }
    
    .copy_footer{}
    
    .legal_footer{
        ul{}
        
        li,        
        a{}
        
        li{}
        
        a{}
        
        .legal_copy{}
        
        .legal_tos{}
        
        .legal_studio{}
    }
    
    .logo_footer_container,
    .logo_txt{
        box-sizing: border-box;
    }
    
    .logo_footer{
        img{
            display: block;
        }
    }
    
    @include mobileOnly{
        @if $footer_floatedContent_act_MO == "on"{
            .logo_footer_container,
            .footer_txt{
                float: left;
            }
            
            .logo_footer_container{
                width: $footer_logoFloated_width_MO;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_MO}); 
            }    
            
        } @else {
            .logo_footer{
                width: $logo_width_footer_MO;
            }        
        }
    }
    
    @include afterMobileLandscape{
/*
        .logo_footer_container{
            width: $logo_width_footer_AML;
        } 
*/
        
        .logo_footer{
/*
            width: $logo_width_footer_AML;
*/
        }   
    }
    
    @include mobileLandscapeOnly{
        @if $footer_floatedContent_act_MLO == "on"{
            .logo_footer_container,
            .footer_txt{
                float: left;
            }
            
            .logo_footer_container{
                width: $footer_logoFloated_width_MLO;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_MLO}); 
            }    
        } @else {
            .logo_footer{
/*
                width: $logo_width_footer_MLO;
*/
            }        
        }
    }
    
    @include afterTablet{
        @if $footer_floatedContent_act_AML == "on" or $footer_floatedContent_act_AT == "on"{
            .logo_footer_container,
            .footer_txt{
                float: left;
            }
            
            .logo_footer_container{
                width: $footer_logoFloated_width_AT;
                padding-right: 20px;
                padding-left: 20px;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_AT}); 
            }

        } @else {
            .logo_footer{
                width: $logo_width_footer_AT;
            }  
        }
    }
    
    @include beforeTabletLandscape{
        .logo_footer_container{
/*            
            width: $footer_logoFloated_width_BTL;
*/
        }
        
        .footer_address{
            a{
                text-decoration: underline;
            }
        }  
    }
    
    @include afterTabletLandscape{
        @if $footer_floatedContent_act_AML == "on" or $footer_floatedContent_act_ATL == "on"{
            .logo_footer_container,
            .footer_txt{
                float: left;
            }
            
            .logo_footer_container{
                width: $footer_logoFloated_width_ATL;
                padding-right: 20px;
                padding-left: 20px;
                
                .logo_footer{
                    width: 100%;
                }
            }
            
            .footer_txt{
                width: calc(100% - #{$footer_logoFloated_width_ATL}); 
            }
        }  @else {
            .logo_footer{
                width: $logo_width_footer_ATL;
            }  
        }  
        
        .footer_address{
            a{
                &:focus, &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}