/* =============================================================================
   Nav After Tablet Styles | Custom [/etc/css/custom/section_nav_AT.scss]
   ========================================================================== */
.nav_main{
    @include navAT{ // min-width 768px; // $mq_tablet_width_min 
        @if $header_logoNav_floated_flexbox_act == "on"{
            width: calc(100% - #{$logo_width_AT});
        } 
        
        @if $header_logoNav_floated_act == "on"{
            float: left;
            width: calc(100% - #{$logo_width_AT});
        } 
         
        @if $nav_fixed_AT_act == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: 0 0 7px $black;
        }
        
        .navs_container_AT{
            justify-content: space-between;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            
            ul{
                & + ul{
                    margin-top: 0;
                }
            }
        }
        
        .nav_main_ul{            
            @if $nav_horizontalCenter_AT_act == "on"{
                list-style: none;
                margin-right: $auto;
                margin-left: $auto;
                text-align: center;
                
                > li{
                    display: inline-block;
                    
                    > *{
                        display: inline-block;            
                    }
                 
                    li{
                        a,
                        .nav_TLI{
                            display: $block;
                        }
                    }
                }
            } @else{                 
                li{
                    &,
                    a,
                    .nav_TLI{
                        display: block;
                    }
                }
            }
            
            > li{                
                &.uk-active,
                &.nav_item_current{
                    a,
                    .nav_TLI{
                        @if $nav_item_current_bdB_act == "on"{
                            @include borderStyleB($nav_item_current_bdColour, 3px);
                        }
                    }
                }
            }
        }
        
        li{
//            @include transition(1s);
            
            &,
            a,
            .nav_TLI{
                @include equalHeightAndLineHeight($nav_height_AT);
            }

            a,
            .nav_TLI{
                @include transition(1s);
                font-size: 0.8rem;
                padding-right: 5px;
                padding-left: 5px;
            }

            & + li{}
        }
        
        @if $nav_hasSub_act == "on"{
            .nav_subNav{                
                position: absolute;
                left: 50%;
                top: $nav_height_AT;
                border-radius: 0 0 10px 10px;
                width: $nav_subMenu_width_AT;
                margin-left: calc(-1 * (#{$nav_subMenu_width_AT} / 2));
                
                &, li{}
                
                &,
                li,
                a{}               
                
                li,
                a,
                .nav_TLI{
                    @include equalHeightAndLineHeight($nav_item_sub_height_AT);
                }
                
                a{
                    /* Texto alineado a la izq
                    padding-left: 15px;
                    text-align: left;
                    */
                }

                li{
                    display: block;
                    
                    a{}

                    &, a{}
                    
                    & + li{
                        @include borderStyleT($nav_item_subNav_bdColour_AT);
                    }
                    
                    &:last-child{
                        padding-bottom: 5px;
                
                        &, a{
                            border-radius: 0 0 10px 10px;
                        }
                    }
                }
            }
        }
        
        @if $nav_topper_act == "on"{
            &.nav_topper{
                @include borderStyleB($nav_topper_bdColour); 
                position: fixed;
                right: 0;
                width: 100%; 
                
                .nav_main_ul{
                    @include centerCustom(770px);
                    float: $none;
                    padding: 0;
                    
                    > li{
                        padding-top: 0;
                        
                        &,
                        a,
                        .nav_TLI{
                            height: $topper_height_global;
                        }
                    }
                        
                    > .nav_item_current{
                        a,
                        .nav_TLI{
                            @include borderStyleB($nav_topper_item_current_bdColour, 3px);
                        }
                    }

                    a,
                    .nav_TLI{
                        line-height: $topper_height_global;
                    }
                }
                
                @if $nav_hasSub_level1_act == "on"{
                    .nav_subNav_level1{
                        top: $topper_height_global;
                        left: 0;
                        border-radius: 0 0 6px;
                        background-color: $black_rgba_80;
                        padding-bottom: 5px;

                        &,
                        li{
                            width: 150px;
                        }

                        li{
                            @include borderStyleT($nav_item_subNav_bdColour_AT);

                            &,
                            a{
                                @include equalHeightAndLineHeight(35px);
                            }
                            
                            a{
                                padding-left: 10px;
                                text-align: left;
                            }
                            
                            &:first-child{
                                @include borderStyleT($nav_item_subNav_bdColour_AT);
                            }
                    
                            &:last-child{
                                &, a{
                                    @include borderRadiusB($navSubMenu_borderRadiusB);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include tabletOnly{
        .nav_main_ul{
            @if $nav_horizontalCenter_TO_act == "on" and $nav_horizontalCenter_AT_act == "off"{
                list-style: none;
                margin-right: $auto;
                margin-left: $auto;
                text-align: center;
                
                li{
                    display: inline-block;
                    
                    > *{
                        display: inline-block;
                    }
                 
                    li{
                        a,
                        .nav_TLI{
                            display: $block;
                        }
                    }
                }
            }
        }
        
        li{
            &,
            a,
            .nav_TLI{
                @include equalHeightAndLineHeight($nav_height_TO);
            }
        }
        
        @if $nav_hasSub_act == "on"{
            .nav_subNav{                
                li,
                a,
                .nav_TLI{
                    @include equalHeightAndLineHeight($nav_item_sub_height_TO);
                }
            }
        }
    }
    
    @include afterTabletLandscape{
        @if $header_logoNav_floated_act == "on" or $header_logoNav_floated_flexbox_act == "on"{
            width: calc(100% - #{$logo_width_ATL});
        }
        
        .nav_main_ul{
            @if $nav_horizontalCenter_ATL_act == "on"{
                list-style: none;
                margin-right: $auto;
                margin-left: $auto;
                text-align: center;
                
                > li{
                    display: inline-block;
                    
                    > *{
                        display: inline-block!important;
                    }
                 
                    li{
                        a,
                        .nav_TLI{
                            display: $block;
                        }
                    }
                }
            }
            
            > li{
                &:focus, &:hover{
                    @if $nav_text_white_act == "on"{
                        > a,
                        > .nav_TLI{
                            text-shadow: $txShadow_white_hover;
                        }
                    }

                    @if $nav_text_black_act == "on"{
                        > a,
                        > .nav_TLI{
                            color: $grey2XD;
                        }
                    }
                }
            }
        }
        
        li{
            &,
            a,
            .nav_TLI{
                @include equalHeightAndLineHeight($nav_height_ATL);
            }
            
            a,
            .nav_TLI{
                box-sizing: border-box;
                font-size: 1rem;
                padding-right: 10px;
                padding-left: 10px;
            }

            & + li{}
        }

        .nav_item_current{
            a,
            .nav_TLI{}
        }

        @if $nav_topper_act == "on"{
            &.nav_topper{
                .nav_main_ul{}
                
                @if $nav_hasSub_level1_act == "on"{
                    .nav_subNav_level1{
                        &:focus{
                            .nav_subNav_level1{
                                display: $block;
                            }
                        }
                    }
                }
            }
        }
        
        @if $nav_hasSub_act == "on"{
            .nav_subNav{
                width: $nav_subMenu_width_ATL;
                margin-left: calc(-1 * (#{$nav_subMenu_width_ATL} / 2));
                
                li,
                a,
                .nav_TLI{
                    @include equalHeightAndLineHeight($nav_item_sub_height_ATL);
                }
            }
        }
    }
    
    @include afterDesktop{
        .nav_item_current{
            a,
            .nav_TLI{
                &:focus, &:hover{
                    @if $nav_text_white_act == "on"{
                        text-shadow: 0 0 0 transparent;
                    }
                }
            }
        }
        
        @if $nav_topper_act == "on"{
            &.nav_topper{
                @if $nav_hasSub_level1_act == "on"{
                    .nav_item_hasSubNav{
                        &:hover{
                            .nav_subNav_level1{
                                display: $block;
                            }
                        }
                    }
                }
            }
        }
    }
}