/* =============================================================================
   Nav Accordion Styles | Custom [section_nav_accordion.scss]
   ========================================================================== */
@if $nav_accordion_act == "on"{
    @include navBT{
        .nav_nav{
            .button_hamb{
                margin-top: calc(-1 * calc(#{$navAcc_hamburger_height} / 2));
            }

            .button_hamb_open{
                @if $hamburger_only_act == "on"{
                    @include squareSize($navAcc_hamburger_height);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
            } @else {
                    width: 90px;
                    height: $navAcc_hamburger_height;
                    background-position: 10px center;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: calc(#{$navAcc_hamburger_height} + 5px);
                }
                @include borderRadius($nav_bdRadius); 
                border: 1px solid $button_hamb_open_bdColour!important;
                background-color: $button_hamb_bgColour;
                background-size: 15px;
            }

            .button_hamb_close{
                @include squareSize($navAcc_hamburger_height);
                background-size: 15px;
                border: 1px solid $button_hamb_close_bdColour!important;
            }

            ul{
                @include borderStyleV($nav_accordion_bdColour);
            }

            li{                
                a,
                .nav_TLI{
                    padding-left: 15px;
                    text-transform: uppercase;
                }
            }
        }
    }
}