/* =============================================================================
   Settings Lists | Custom [settings_lists.scss]
   ========================================================================== */
.hyphenated{
    li{        
        position: relative;

        &::before{
            content: "- ";
        }
    }
}    

.numbered{
    $liN_size: 25px;
    
    counter-reset: liN;
    
    > li{
        position: relative;
        box-sizing: border-box;
        padding-left: calc(#{$liN_size} + 5px);
        list-style-type: none;
        
        &::before{   
            @include squareSize($liN_size);  
            counter-increment: liN; 
            content: counter(liN);
            display: block;
            float: left;
            margin-right: $zero;
            margin-left: calc(-1 * calc(#{$liN_size} - 0));
        } 
    }
    
    &.numbered_lowerLatin{
        > li{
            &::before{
                content: counter(liN, lower-latin);
            }
        }
    }
}

.bulleted_dot,
.bulleted_square,
.bulleted_tick,
.bulleted_chevron{
    li{
        list-style-type: none;
        box-sizing: border-box;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            display: block;
            background-repeat: no-repeat;
        }
    }
}   

.bulleted_dot,
.bulleted_square,
.bulleted_chevron{
    $bullet_size: 7px;  
        
    li{
        padding-left: 15px;

        &::before{
            top: 9px;
            width: 7px;
            height: $bullet_size;
            background-position: left top;
            background-size: $bullet_size;
        }
    }
}    

.bulleted_dot{
    li{
        &::before{
            background-image: url('/nuevo/img/bullet_dot.svg');
        }
    }
}
 
.bulleted_square{
    li{
        &::before{
            background-image: url('/nuevo/img/bullet_square.svg');
        }
    }
}

.bulleted_tick{
    $bulleted_tick_li_PL: 20px;
        
    li{
        padding-left: $bulleted_tick_li_PL;
        
        &::before{
            @include squareSize($bulleted_tick_li_PL);
            top: 0;
            background-image: url('/nuevo/img/bullet_tick.svg');
            background-position: left 3px;
            background-size: auto calc(#{$bulleted_tick_li_PL} - 5px);
        }
    }
}

.bulleted_chevron{
    li{
        &::before{
            background-image: url('/nuevo/img/bullet_chevron.svg');
        }
    }
}

.listFile{
    li{  
        $listFile_icon_size: 30px;

        box-sizing: border-box;
        position: relative;
        min-height: $listFile_icon_size;
        padding-top: 5px;  
        padding-left: calc(#{$listFile_icon_size} + 2px);

        a{
            height: auto;
            min-height: $listFile_icon_size;
            line-height: 1.3;
        }

        &::before{
            @include squareSize($listFile_icon_size);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: auto $listFile_icon_size;
        }
    }

    &.filePDF{
        li{
            &::before{
                background-image: url('/nuevo/img/file_pdf.svg');
            }
        }
    }

    &.fileDOC{
        li{
            background-image: url('/nuevo/img/file_pdf.svg');
        }
    }
}
    
.ulResp2 > li, .ulResp3 > li, .ulResp4 > li{
    a{
        position: relative;
    }
    img{
        margin-right: $auto;
        margin-left: $auto;        
    }
    @include mobileOnly{
        width: 100%;
        float: $none;
        
        img{
            width: 100%;
        }
    }
    @include mobileLandscapeOnly{        
        &:nth-child(odd):last-child{
            clear: both;
            width: 100%;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
    @include afterMobileLandscape{
        width: 50%;
        padding: 0 10px;
        
        img{
            width: 100%;
        }
    }
}
.ulResp2{ > li{
        @include afterTablet{
            &:nth-child(n+3){margin-top: 40px;}
        }
    }}
.ulResp3{ > li{
        @include afterTablet{width: calc(100% / 3);}
    }}
.ulResp4{ > li{
        @include afterTablet{width: 25%}
    }}