/* =============================================================================
   Shadows Settings | Custom
   ========================================================================== */
.boxShadow{box-shadow: 0 0 10px 0 $greyD}
.boxShadowInner{box-shadow: inset 0 0 10px 0 $greyD}
.bgShadowT,
.bgShadowB{
    background-repeat: repeat-x;
    background-color: transparent;
    background-size: 1px;    
}
.bgShadowT{
    background-image: url('/nuevo/img/bg_shadowT.png');
    background-position: center top;
}
.bgShadowB{
    background-image: url('/nuevo/img/bg_shadowB.png');
    background-position: center bottom;
}