/* =============================================================================
   Settings Text | Custom [settingsText.scss]
   ========================================================================== */
p{}
    
// Safari tel detection
a[href^=tel],
.safariTel{
    &, &:focus, &:hover, &:active, &:visited{
        color: $ftColour_anchor_global!important;
    }
}

.gradientText{
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    
    &.blueGT{
        /*
        background-image: $bgGrad_blueCTA;
        filter: $bgGrad_blueCTA_filter;
        */
    }
}