/* =============================================================================
   Settings Animations | Custom [/etc/css/custom/settings_animations.scss]
   ========================================================================== */
@include afterTablet{
    .hover_grow_S_ani,
    .hover_grow_M_ani,
    .hover_grow_L_ani{
        transition: transform 0.5s, background-color 1s;
    }
}