/* =============================================================================
   Settings Lists | Custom [settingsLists.scss]
   ========================================================================== */
.hyphenated{
    li{        
        position: relative;

        &::before{
            content: "- ";
        }
    }
}    

.dotted, .square{
    li{        
        box-sizing: border-box;
        position: relative;
        padding-left: 15px;

        &::before{
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            width: 7px;
            height: 7px;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 7px;
        }
    }
}    

.dotted{
    li{
        &::before{
            background-image: url('/nuevo/img/bullet_circle.svg');
        }
    }
}

.square{
    li{
        &::before{
            background-image: url('/nuevo/img/bullet_square.svg');
        }
    }
}

.fileList{
    li{  
        $icSize: 30px;

        box-sizing: border-box;
        position: relative;
        min-height: $icSize;
        padding-top: 5px;  
        padding-left: calc(#{$icSize} + 2px);

        a{
            height: auto;
            min-height: $icSize;
            line-height: 1.3em;
        }

        &::before{
            @include squareSize($icSize);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: auto $icSize;
        }
    }

    &.filePDF{
        li{
            &::before{
                background-image: url('/nuevo/img/file_pdf.svg');
            }
        }
    }

    &.fileDOC{
        li{
            background-image: url('/nuevo/img/file_pdf.svg');
        }
    }
}
    
.ulResp2 > li, .ulResp3 > li, .ulResp4 > li{
    a{
        position: relative;
    }
    img{
        margin-right: $auto;
        margin-left: $auto;        
    }
    @include mobileOnly{
        width: 100%;
        float: $none;
        
        img{
            width: 100%;
        }
    }
    @include mobileLandscapeOnly{        
        &:nth-child(odd):last-child{
            clear: both;
            width: 100%;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
    @include afterMobileLandscape{
        width: 50%;
        padding: 0 10px;
        
        img{
            width: 100%;
        }
    }
}
.ulResp2{ > li{
        @include afterTablet{
            &:nth-child(n+3){margin-top: 40px;}
        }
    }}
.ulResp3{ > li{
        @include afterTablet{width: calc(100% / 3);}
    }}
.ulResp4{ > li{
        @include afterTablet{width: 25%}
    }}