/* =============================================================================
   Colour Settings | Custom
   ========================================================================== */
//White Hover
%whiteHover{
    color: $white;
    text-shadow: 0 0 3px $grey;
}
%whiteHoverSubmit{
    text-shadow: 0 0 2px $black;
}

///**Colours Map Custom Hover:** 
    ///Aquí se agregan las pseudoclases `:focus` y `:hover` correspondientes al mapa `$coloursMapCustomHover` que se encuentra en `[/custom/variables/_colours.scss]`.

%focusHover-orange{    
    &:focus, &:hover{
        color: #ff0000;
    }
}

// Gradients

// White 80%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0.8+100 */
$bgGradWhiteEighty: linear-gradient(to bottom,rgba(255,255,255,0.8)0%,rgba(255,255,255,0.8)100%);
$bgGradWhiteEightyFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 );
.bgGradWhiteEighty{
    background-image: $bgGradWhiteEighty;
    filter: $bgGradWhiteEightyFilter;
}

// Black 50%
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+89 */
$bgGradBlackFifty: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 89%,rgba(0,0,0,0.5) 100%);
$bgGradBlackFiftyFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
.bgGradWhiteEighty{
    background-image: $bgGradBlackFifty;
    filter: $bgGradBlackFiftyFilter;
}