/* =============================================================================
   Shadows Classes | Custom [/etc/css/custom/shadows.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



.shadow_text{
    text-shadow: $txShadow_main;
}

.shadow_text_white{
    text-shadow: $txShadow_white;
}

.shadow_box{
    box-shadow: $txShadow_main;
} 

.shadow_box_inset{
    box-shadow: $bxShadow_main_inset;
}


/* // Background Shadows ---------------------------------------------------- */
.bgShadowT,
.bgShadowB,
.bgShadowV{
    background-repeat: repeat-x;
    background-size: auto 20px;
}

.bgShadowT{
    background-image: $bgShadowT_img_url;
    background-position: center top;
}

.bgShadowB{
    background-image: $bgShadowB_img_url;
    background-position: center bottom;
}

.bgShadowV{
    background-image: $bgShadowT_img_url, $bgShadowB_img_url;
    background-position: center top, center bottom;
}