/* * NombreDeProyecto * ========================================================
   Shadows Classes | Custom [/etc/css/custom/shadows.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



.shadow_text{
    text-shadow: $txShadow_main;
}

.shadow_text_white{
    text-shadow: $txShadow_white;
}

.shadow_box{
    box-shadow: $txShadow_main;
} 

.shadow_box_inset{
    box-shadow: $bxShadow_main_inset;
}


/* // Background Shadows ---------------------------------------------------- */
.bgShadowT,
.bgShadowT_after::after,
.bgShadowB,
.bgShadowB_after::after,
.bgShadowB_50,
.bgShadowB_50_after::after,
.bgShadowV,
.bgShadowV_after::after{
    background-repeat: repeat-x;
    background-size: auto 20px;
}

.bgShadowT_after::after,
.bgShadowB_after::after,
.bgShadowB_50_after::after,
.bgShadowV_after::after{
    content: "";
    display: block;
    position: absolute;
    z-index: $zIndex_bgShadowAfter;
    right: 0;
    left: 0;
    height: 30px;
}

.bgShadowB,
.bgShadowB_after::after,
.bgShadowB_50,
.bgShadowB_50_after::after{
    background-position: center bottom;
}

.bgShadowB,
.bgShadowB_after::after{
    background-image: $bgShadowB_img_url;
}

.bgShadowB_50,
.bgShadowB_50_after::after{
    background-image: $bgShadowB_50_img_url;
}

.bgShadowV,
.bgShadowV_after::after{
    background-image: $bgShadowT_img_url, $bgShadowB_img_url;
    background-position: center top, center bottom;
}

.bgShadowT,
.bgShadowT_after::after{
    background-image: $bgShadowT_img_url;
    background-position: center top;
}

.bgShadowT_after::after{
    top: 0;
}

.bgShadowB_after::after,
.bgShadowB_50_after::after{
    bottom: 0;
}

.bgShadowV_after::after{
    top: 0;
    bottom: 0;
}