/* =============================================================================
   Slider Styles | Custom [slider.scss]
   ========================================================================== */
.slick{
    background-color: $slider_bgColour;
    
    img{
        display: block;
        width: 100%;
        background-color: $slider_img_bgColour;
    }
    
    &,
    .slick-slide{
        z-index: $zIndex_slider!important; 
    }
    
    &,
    div{
        @include clearfix;
    }
    
    @if $sliderArrows_carousel_act == "on"{
        &.slick_carousel{
            position: relative;
            background-color: $slider_carousel_bgColour;

            .slick-list{
                position: relative;
                overflow: hidden;
            }
        
            @include beforeTablet{
                padding-right: $carousel_PH_BT;
                padding-left: $carousel_PH_BT;
            }
        
            @include afterTablet{
                padding-right: $carousel_PH_AT;
                padding-left: $carousel_PH_AT;
            }
        }
    }
}

.slider_main{
    &,
    .slick-list,
    .slick-track,
    .slick-track li{
        /*height: 300px;*/
    }
}

.slickWithNav{
    // No debe llevar z-index
}

@import "slider_arrows";
@import "slider_dots";