/* =============================================================================
   Slider Nav Styles | Custom [slider_nav.scss]
   ========================================================================== */
.slick_nav{
    .slick-list{
        margin-right: $auto;
        margin-left: $auto;
    }
    
    li{
        &,
        img{
            @include transition(1s);
        }

        img{
            @include opacityCustom(80);
            filter: grayscale(1);
        }

        &.slick-current{
            &, &:focus, &:hover{
                img{
                    @include opacityCustom(100);
                }
            }
        }

        &:focus, &:hover{
            img{
                filter: grayscale(0);
            }
        }
    }
    
    @include beforeTablet{
        @include borderStyleB($bgGrey, 2px);
        padding-bottom: 10px;
        margin-bottom: 10px;

        li{
            padding: 0 5px;
        }
    } 
    
    @include afterTablet{
        li{
            @include borderStyle($bdGrey);
            margin-top: 0; 

            &.slick-current{
                &, &:focus, &:hover{
                    border-color: $bdBlue;
                }
            }

            &:focus, &:hover{
                border-color: $bdBlack;
            }
        }    
    }
}