/* =============================================================================
   Slider Nav Styles | Custom [slider_nav.scss]
   ========================================================================== */
.slickWithNav,
.slickNav{
    @include mobileOnly{
        width: 300px;
    }
    
    @include mobileLandscapeOnly{
        width: 400px; 
    }

    @include mobile600Only{
        width: 500px;
    }
    
    @include tabletOnly{
        width: 600px;
    }
    @include tabletLandscapeOnly{
        width: 700px;
    }

    @include afterDesktop{
        width: 800px;    
    }
}

.slickWithNav{
    height: 80px;

    .slick-track{
        /*width: $hundred;*/
    }

    .slick-list{
        margin-right: $auto;
        margin-left: $auto;
    }
    
    @include mobileOnly{
        .slick-list{
            /*max-width: 320px!important;*/
        }

        li{
            /*width: $third;*/

            &:nth-child(n+4){
                /*margin-top: 7px;*/
            }
        }
    }
    
    @include afterMobileLandscape{
        .slick-list{
            /*max-width: 420px!important;*/
        }

        li{
            /*width: 20%!important;*/

            &:nth-child(n+6){
                /*margin-top: 7px;*/
            }
        }
    }
    
    @include beforeTablet{
        @include borderStyleB($bgGrey, 2px);
        padding-bottom: 10px;
        margin-bottom: 10px;

        li{
            padding: 0 5px;
        }
    } 
    
    @include afterTablet{
        /*padding-bottom: 10px;*/

        .slick-list{
            /*max-width: $hundred;*/
        }

        li{
            @include borderStyle($bcGrey);
            /*width: 60px!important;*/
            /*padding: $zero;*/
            margin-top: 0; 

            &.slick-current{
                &, &:focus, &:hover{
                    border-color: $bcBlue;
                }
            }

            & + li{
                /*margin-left: 5px;*/
            }

            &:focus, &:hover{
                border-color: $bcBlack;
            }
        }    
    }
    
    @include tabletOnly{
        li{
            &:nth-child(n+9){
                /*margin-top: 7px;*/
            }          

            &:nth-child(9){
                /*margin-left: 0;*/
            }
        }
    }
}

.slickNav{
    li{
        /*width: 100px!important;*/

        &, img{
            @include transition(1s);
        }

        img{
            @include opacityCustom(80);
            filter: grayscale(1);
        }

        &.slick-current{
            &, &:focus, &:hover{
                img{
                    @include opacityCustom(100);
                }
            }
        }

        &:focus, &:hover{
            img{
                filter: grayscale(0);
            }
        }
    }
}