/* * NombreDeProyecto * ========================================================
   Slider Nav Styles | Custom [/etc/css/custom/slider_nav.scss]
   ========================================================================== */
.slick_nav{
    .slick-list{
        margin-right: $auto;
        margin-left: $auto;
    }
    
    li{
        box-sizing: border-box;

        &,
        img{
            @include transition(0.7s);
        }

        img{
            @include opacityCustom(80);
            filter: grayscale(1);
        }

        &.slick-current{
            &, &:focus, &:focus-visible, &:hover{
                img{
                    @include opacityCustom(100);
                }
            }
        }

        &:focus, &:focus-visible, &:hover{
            img{
                filter: grayscale(0);
            }
        }
    }
    
    @include beforeMQ768{
        @include borderStyleB($bgGreyM, 2px);
        padding-bottom: 10px;
        margin-bottom: 10px;

        li{
            padding: 0 5px;
        }
    } 
    
    @include afterMQ768{
        li{
            @include borderStyle($bdGreyM);
            margin-top: 0; 

            &.slick-current{
                &, &:focus, &:focus-visible, &:hover{
                    border-color: $bdColour_main_global;
                }
            }

            &:focus, &:focus-visible, &:hover{
                border-color: $bdBlack;
            }
        }    
    }
}