/* =============================================================================
   Slider Arrows Styles | Custom [slider_arrows.scss]
   ========================================================================== */
// imported in _slider.scss

@if $slider_arrows_act == "on"{
    .slickPrev{
        left: 2%;
        background-image: url('/nuevo/img/slider_arrow_left.svg');
    }

    .slickNext{
        right: 2%;
        background-image: url('/nuevo/img/slider_arrow_right.svg');
    }

    .slickPrev,
    .slickNext{
        @include transition(0.7s);
        @include opacityCustomHover();
        position: absolute;
        z-index: $zIndex_slider_arrows_dots;
        top: 50%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: $none;
        padding: $zero;
        text-indent: -9999px;
    }
    
    @include beforeTablet{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_BT;
            height: $slider_arrows_height_BT;
            margin-top: calc(-1 * #{$slider_arrows_height_half_BT});   
        }
    }

    @include afterTablet{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_AT;
            height: $slider_arrows_height_AT;
            margin-top: calc(-1 * #{$slider_arrows_height_half_AT});
        }
    }
}
     
@if $slider_arrows_carousel_act == "on"{
    .slick_carousel{
        .slickPrev{
            background-image: url('/nuevo/img/carousel_arrow_left.svg');
        }

        .slickNext{
            background-image: url('/nuevo/img/carousel_arrow_right.svg');
        }
        
        @include beforeTablet{
            .slick-prev{
                left: calc(#{$slider_arrows_width_BT} / 4);
            }

            .slick-next{
                right: calc(#{$slider_arrows_width_BT} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carouselArrows_width_BT;
                height: $carouselArrows_height_BT;
                margin-top: calc(-1 * #{$carouselArrows_height_half_BT});  
            }
        }
        
        @include afterTablet{
            .slick-prev{
                left: calc(#{$slider_arrows_width_AT} / 4);
            }

            .slick-next{
                right: calc(#{$slider_arrows_width_AT} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carouselArrows_width_AT;
                height: $carouselArrows_height_AT;
                margin-top: calc(-1 * #{$carouselArrows_height_half_AT});
            }
        }
    }
}