/* =============================================================================
   Slider Styles | Custom [/etc/css/custom/slider.scss]
   ========================================================================== */
.slick,
.slick_with_nav{
    background-color: $slider_bgColour;
    box-sizing: border-box;
    
    img{
        display: block;
        width: 100%;
        background-color: $slider_img_bgColour;
    }
    
    &,
    div{
        @include clearfix;
    }
    
    .slick-slide{
        float: left;
    }
    
    @if $slider_arrows_carousel_act == "on"{
        &.slick_carousel{
            position: relative;
            background-color: $slider_carousel_bgColour;

            .slick-list{
                position: relative;
                overflow: hidden;
            }
        
            @include beforeTablet{
                padding-right: $carousel_PH_BT;
                padding-left: $carousel_PH_BT;
            }
        
            @include afterTablet{
                padding-right: $carousel_PH_AT;
                padding-left: $carousel_PH_AT;
            }
        
            @include afterTabletLandscape{
                padding-right: $carousel_PH_ATL;
                padding-left: $carousel_PH_ATL;
            }
        }
    }
}

.slick{
    position: relative;
    overflow: hidden;
    
    &,
    .slick-slide{
        z-index: $zIndex_slider!important; 
    }
}

.slider_main{
    &,
    .slick-list,
    .slick-track,
    .slick-track li{
/*
        height: 300px;
*/
    }
}

.slick_with_nav{
    // No debe llevar z-index
}

@import "imp/slider_arrows_imp";
@import "imp/slider_dots_imp";