/* * NombreDeProyecto * ========================================================
   Slider Styles | Custom [/etc/css/custom/slider.scss]
   ========================================================================== */
.slick,
.slick_with_nav{
    background-color: $slider_global_bgColour;
    box-sizing: border-box;
    
    img{
        display: block;
        width: 100%;
        background-color: $slider_global_img_bgColour;
        
        &[src$=".png"]{
            background-color: $transparent;
        }
    }
    
    &,
    div{
        @include clearfix;
    }
    
    .slick-slide{
        float: left;
    }
    
    @if $slider_arrows_carousel_act == "on"{ // REF [34]
        &.slick_carousel{
            position: relative;
            background-color: $slider_carousel_bgColour;

            .slick-list{
                position: relative;
                overflow: hidden;
            }
        
            @include beforeMQ350{
                padding-right: $carousel_PH_B350;
                padding-left: $carousel_PH_B350;
            }
        
            @include afterMQ350{
                padding-right: $carousel_PH_A350;
                padding-left: $carousel_PH_A350;
            }
        
            @include afterMQ500{
                padding-right: $carousel_PH_A500;
                padding-left: $carousel_PH_A500;
            }
        
            @include afterMQ768{
                padding-right: $carousel_PH_AT;
                padding-left: $carousel_PH_AT;
            }
        
            @include afterMQ1024{
                padding-right: $carousel_PH_A1024;
                padding-left: $carousel_PH_A1024;
            }
        }
    }
    
    @if $slider_vertical_act == "on"{
        &.slick_vertical{        
            @include beforeMQ768{
                padding-right: $zero;
                padding-left: $zero;
            }
        
            @include afterMQ768{
                padding-right: $zero;
                padding-left: $zero;
            }
        
            @include afterMQ1024{
                padding-right: $zero;
                padding-left: $zero;
            }
        }
    }
}

.slick{
    position: relative;
    overflow: hidden;
    z-index: $zIndex_slider!important; 
    
    .slick-slide{
        z-index: $zIndex_slider_slide!important; 
    }
    
    #header &{
        margin-top: 0;
    }
}

.slick_with_nav{
    // No debe llevar z-index
}

/* // Slider Main ----------------------------------------------------------- */
.slider_main{
    background-color: $slider_main_bgColour;
/*
    aspect-ratio: 4 / 3;
*/

    &,
    .slick-list,
    .slick-track,
    .slick-slide{
/*
        height: 300px;
*/
    }
    
    @include afterMQ1024{
        &,
        .slick-list,
        .slick-track,
        .slick-slide{
/*            
            max-height: calc(85vh - #{$header_height_A1024});
*/
        }
    }
}

/* // Slider xxx ------------------------------------------------------------ */
.slider_xxx{
    &,
    .slick-list,
    .slick-track,
    .slick-slide{
/*
        height: 300px;
*/
    }
    
    @include afterMQ1024{
        &,
        .slick-list,
        .slick-track,
        .slick-slide{
/*            
            max-height: calc(85vh - #{$header_height_A1024});
*/
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Slider Arrows
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@if $slider_arrows_act == "on"{
    .slickPrev{
        left: 2%;
        background-image: url('#{$dir_env}/img/slider_arrow_prev.svg');
    }

    .slickNext{
        right: 2%;
        background-image: url('#{$dir_env}/img/slider_arrow_next.svg');
    }

    .slickPrev,
    .slickNext{
        @include transition(0.7s);
        position: absolute;
        z-index: $zIndex_slider_arrows_dots;
        top: 50%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: $none;
        padding: $zero;
        text-indent: -9999px;
        overflow: hidden;
    }
    
    /* // REF [09] */
    .slick_carousel.slick_vertical{        
        .slickPrev{
            background-image: url('#{$dir_env}/img/slider_arrow_prev_ver.svg');
        }

        .slickNext{
            background-image: url('#{$dir_env}/img/slider_arrow_next_ver.svg');
        }
    }
    
    /*    
    @include afterMQ500{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_A500;
            height: $slider_arrows_height_A500;
            margin-top: calc(-1 * #{$slider_arrows_height_half_A500});
        }
    }
    
    @include afterMQ550{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_A550;
            height: $slider_arrows_height_A550;
            margin-top: calc(-1 * #{$slider_arrows_height_half_A550});
        }
    }
    
    @include afterMQ600{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_A600;
            height: $slider_arrows_height_A600;
            margin-top: calc(-1 * #{$slider_arrows_height_half_A600});
        }
    }
    
    @include afterMQ650{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_A650;
            height: $slider_arrows_height_A650;
            margin-top: calc(-1 * #{$slider_arrows_height_half_A650});
        }
    }
    */
    
    @include beforeMQ768{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_B768;
            height: $slider_arrows_height_BT;
            margin-top: calc(-1 * #{$slider_arrows_height_half_BT});   
        }
    }

    @include afterMQ768{
        .slickPrev, 
        .slickNext{
            @include opacityCustomHover();
            width: $slider_arrows_width_A768;
            height: $slider_arrows_height_AT;
            margin-top: calc(-1 * #{$slider_arrows_height_half_AT});
        }
    }

    @include afterMQ1024{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_A1024;
            height: $slider_arrows_height_A1024;
            margin-top: calc(-1 * #{$slider_arrows_height_half_A1024});
        }
    }
}
     
@if $slider_arrows_carousel_act == "on"{ // REF [34]
    .slick_carousel{
        .slickPrev{
            background-image: url('#{$dir_env}/img/button_carousel_left.svg');
        }

        .slickNext{
            background-image: url('#{$dir_env}/img/button_carousel_right.svg');
        }
        
        @include beforeMQ350{
            .slickPrev{
                left: 0;
            }

            .slickNext{
                right: 0;
            }
            
            .slickPrev,
            .slickNext{
                width: $carousel_arrows_width_B350;
                height: $carousel_arrows_height_B350;
                margin-top: calc(-1 * #{$carousel_arrows_height_half_B350});  
            }
        }
        
        @include afterMQ350{
            .slickPrev{
                left: calc(#{$carousel_arrows_width_A350} / 4);
            }

            .slickNext{
                right: calc(#{$carousel_arrows_width_A350} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carousel_arrows_width_A350;
                height: $carousel_arrows_height_A350;
                margin-top: calc(-1 * #{$carousel_arrows_height_half_A350});  
            }
        }
        
        @include afterMQ500{
            .slickPrev{
                left: calc(#{$carousel_arrows_width_A500} / 4);
            }

            .slickNext{
                right: calc(#{$carousel_arrows_width_A500} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carousel_arrows_width_A500;
                height: $carousel_arrows_height_A500;
                margin-top: calc(-1 * #{$carousel_arrows_height_half_A500});  
            }
        }
        
        @include afterMQ768{
            .slickPrev{
                left: calc(#{$carousel_arrows_width_AT} / 4);
            }

            .slickNext{
                right: calc(#{$carousel_arrows_width_AT} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carousel_arrows_width_AT;
                height: $carousel_arrows_height_AT;
                margin-top: calc(-1 * #{$carousel_arrows_height_half_AT});
            }
        }
        
        @include afterMQ1024{
            .slickPrev{
                left: calc(#{$carousel_arrows_width_A1024} / 4);
            }

            .slickNext{
                right: calc(#{$carousel_arrows_width_A1024} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carousel_arrows_width_A1024;
                height: $carousel_arrows_height_A1024;
                margin-top: calc(-1 * #{$carousel_arrows_height_half_A1024});
            }
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Slider Dots
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@if $slider_dots_act == "on"{
    .slickDots{
        list-style: none;
        position: relative;
        z-index: $zIndex_slider_arrows_dots;
        top: calc(-1 * #{$slider_dots_MT});
        height: calc(#{$slider_dots_height} + calc(#{$slider_dots_separation} * 2));
        margin: 0 auto;
        text-align: center;

        li{
            @include transition(0.7s);
            @include opacityCustom(60);
            display: inline-block;
            float: $none;
            height: $slider_dots_height;
            padding: $slider_dots_separation;

            &, button{
                @include squareSize($slider_dots_width);
            }

            button{
                display: block;
                background-color: transparent;
                background-image: url('#{$dir_env}/img/button_slider_pag.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                padding: $zero;
                border: $none;
                text-indent: -9999px;
                overflow: hidden;
            }

            &:focus, &:focus-visible, &:hover{
                @include opacityCustom(80);
                    
                button{
                    background-image: url('#{$dir_env}/img/button_slider_pag_hover.svg');
                }
            }

            &.slickActive{
                @include opacityCustom(100);
                    
                button{
                    background-image: url('#{$dir_env}/img/button_slider_pag_current.svg');
                }
            }
        }
    }
}