/* =============================================================================
   Social Styles | Custom [social.scss]
   ========================================================================== */
.social{
    z-index: $zIndex_social;
        
    li{
        & + li{}
    }   
    
    a{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .social_fb{ // Soc Facebook
        a{
            background-image: url('/nuevo/img/social_fb.svg');
        }
    }

    .social_em{ // Soc Correo Electrónico
        a{
            background-image: url('/nuevo/img/social_em.svg');
        }
    }

    .social_go{ // Soc Guía Oleo
        a{
            background-image: url('/nuevo/img/social_go.svg');
        }
    }

    .social_ig{ // Soc Instagram
        a{
            background-image: url('/nuevo/img/social_ig.svg');
        }
    }

    .social_li{ // Soc LinkedIn
        a{
            background-image: url('/nuevo/img/social_li.svg');
        }
    }

    .social_pi{ // Soc Pinterest
        a{
            background-image: url('/nuevo/img/social_pi.svg');
        }
    }

    .social_sc{ // Soc SnapChat
        a{
            background-image: url('/nuevo/img/social_sc.svg');
        }
    }

    .social_sk{ // Soc Skype
        a{
            background-image: url('/nuevo/img/social_sk.svg');
        }
    }
    
    .social_sp{ // Soc Spotify
        a{
            background-image: url('/nuevo/img/social_sp.svg');
        }
    }

    .social_ta{ // Soc TripAdvisor
        a{
            background-image: url('/nuevo/img/social_ta.svg');
        }
    }
    
    .social_tw{ // Soc Twitter
        a{
            background-image: url('/nuevo/img/social_tw.svg');
        }
    }

    .social_vi{ // Soc Vimeo
        a{
            background-image: url('/nuevo/img/social_vi.svg');
        }
    }  

    .social_wa{ // Soc WhatsApp
        a{
            background-image: url('/nuevo/img/social_wa.svg');
        }
            
        &.conTel{
            background-position: left center;
            background-size: auto 20px;
            padding-left: 25px;
        }
    }

    .social_yt{ // Soc YouTube
        a{
            background-image: url('/nuevo/img/social_yt.svg');
        }
    }
    
    @include beforeTablet{       
        li{
            a,
            img{
                @include squareSize($social_icon_size_BT);            
            }
        }
        
        @if $nav_drawer_act == "on"{
            &.navDrawer_open{
                position: fixed;
                z-index: $zIndex_social_clicked;
                top: auto;
                right: 10px;
                bottom: 20px;
                left: auto;

                li{
                    a,
                    img{
                        @include squareSize($social_icon_size_BT);            
                    }
                }
            }
        }
    }
    
    @include afterTablet{
        li{
            a,
            img{
                @include squareSize($social_icon_size_AT);            
            }
        }
        
        a{
            @include opacityCustomHover(90);
            @include transition(1s);
        }
    }
}