/* * NombreDeProyecto * ========================================================
   Social Styles | Custom [/etc/css/custom/social.scss]
   ========================================================================== */
@use "var/env_var" as *;
@use "../scss/var_all_pre" as *;

@use "sass:color";
@use "sass:map";
.social{
    z-index: $zIndex_social;
        
    li{
        & + li{}
    }   
    
    a,
    img{
        display: block; 
    }
    
    a{
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        margin-right: auto;
        margin-left: auto;
        text-indent: -9999px;
        overflow: hidden;
    }
    
    @include beforeMQ600{ 
        li{
            a,
            img{
                @include squareSize($social_icon_size_B600);
            }
        }
    }

    @include afterMQ600{
        li{
            a,
            img{
                @include squareSize($social_icon_size_A600);
            }
        }
    }
    
    @include beforeMQ768{            
        @if $nav_drawer_act == "on"{
            &.navDrawer_open{
                position: fixed;
                z-index: $zIndex_social_navOpen;
                top: auto;
                right: 10px;
                bottom: 20px;
                left: auto;
            }
        }
    }
    
    @include afterMQ768{
        li{
            a,
            img{
                @include squareSize($social_icon_size_A768);            
            }
        }
        
        a{
            @include opacityCustomHover(90);
            @include transition(0.7s);
        }
    }
    
    @include afterMQ1024{
        li{
            a,
            img{
                @include squareSize($social_icon_size_A1024);
            }
        }
    }
}

.social_amazon{ // Soc Twitter
    a{
        background-image: url('#{$dir_env}/img/logo_amazon.svg');
    }
}

.social_em{ // Soc Correo Electrónico
    a{
        background-image: url('#{$dir_env}/img/social_em.svg');
    }
}

.social_fb{ // Soc Facebook
    a{
        background-image: url('#{$dir_env}/img/social_fb.svg');
    }
}

.social_ig{ // Soc Instagram
    a{
        background-image: url('#{$dir_env}/img/social_ig.svg');
    }
}

.social_li{ // Soc LinkedIn
    a{
        background-image: url('#{$dir_env}/img/social_in.svg');
    }
}

.social_pi{ // Soc Pinterest
    a{
        background-image: url('#{$dir_env}/img/social_pi.svg');
    }
}

.social_sk{ // Soc Skype
    a{
        background-image: url('#{$dir_env}/img/social_sk.svg');
    }
}

.social_sp{ // Soc Spotify
    a{
        background-image: url('#{$dir_env}/img/social_sp.svg');
    }
}

.social_tk{ // Soc TikTok 
    a{
        background-image: url('#{$dir_env}/img/social_tk.svg');
    }
}

.social_x{ // Soc X
    a{
        background-image: url('#{$dir_env}/img/social_x.svg');
    }
}

.social_vi{ // Soc Vimeo
    a{
        background-image: url('#{$dir_env}/img/social_vi.svg');
    }
}  

.social_wa{ // Soc WhatsApp
    a{
        background-image: url('#{$dir_env}/img/social_wa.svg');
    }
}

.social_yt{ // Soc YouTube
    a{
        background-image: url('#{$dir_env}/img/social_yt.svg');
    }
}