/* =============================================================================
   Header Styles | Custom [stylesHeader.scss]
   ========================================================================== */
#header{
    /*z-index: $zIndexHeader;*/
    
    .logoH{
        margin: $zero;
        
        &, a{}
        
        &, a, img{}
            
        a, img{
            width: 100%;
        }
    }
    
    @include mobileOnly{
        .logoH{
            @include centerCustom(90%);
        }
    }
    
    @include afterMobileLandscape{    
        height: 200px;
        
        .logoH{
            width: 150px;
        }
    } 
    
    @include mobileLandscapeOnly{        
        .logoH{}
    }

    @include beforeTablet{
        box-sizing: border-box;
        padding-top: 20px;
        
        .logoH{
            @if $navDrawer == "on"{   
                &.clicked{
                    @include borderStyleR($bcNavBT);
                    box-sizing: border-box;
                    position: fixed;
                    z-index: $zIndexLogoHClicked;
                    top: 0;
                    left: 0;
                    width: calc(#{$navDrawerWidth} - 5px);
                    max-width: $navDrawerMaxWidth;
                    height: $logoHClickedFH;
                    background-color: $bgNavBT;
                    padding-top: $logoHClickedPT;
                    padding-bottom: $logoHClickedPB;
                    margin: 0;

                    a, img{
                        width: auto;
                        height: 100%;
                    }

                    img{
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    
    @include afterTablet{        
        .logoH{
            position: relative;
            z-index: $zIndexLogoH;
        }
        
        @if $navTopper == "on"{
            &.topper{
                position: fixed;
                z-index: $zIndexHeaderTopper;
                top: 0;
                right: 0;
                left: 0;
                height: $topperHeight;
                
                .logoH{
                    z-index: $zIndexLogoHTopper;
                }
            }
        }
    }
    
    @include afterTabletLandscape{        
        .logoH{}
    } 
}