/* =============================================================================
   Nav After Tablet Styles | Custom [stylesNav_AT.scss]
   ========================================================================== */
.navMain{
    @include navAT{
        @if $logoNav_floated_act == "on"{
            float: left;
            width: calc(100% - #{$logo_width_AT});
        }
         
        @if $nav_fixed_act == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: 0 0 7px $black;
        }
        
        .mainMenu{
            @if $nav_horizontalCenter_act == "on" or $nav_horizontal_act == "on"{
                list-style: none;
                margin-right: $auto;
                margin-left: $auto;
                text-align: center;
                
                li{
                    display: inline-block;
                    
                    > *{
                        display: inline-block;            
                    }
                }
            }
            
            > li{
                @if $logoNav_floated_act == "on"{
                    float: left;
                }
                
                &.current{
                    a,
                    .topLevelItem{
                        @if $nav_itemCurrent_borderBottom_act == "on"{
                            @include borderStyleB($navBdColour_itemCurrent, 3px);
                        }
                    }
                }
            }
        }
        
        li{
            &,
            a,
            .topLevelItem{
                @include equalHeightAndLineHeight($nav_height_AT);
            }

            a,
            .topLevelItem{
                @include transition(1s);
                font-size: 0.8rem;
                padding-right: 5px;
                padding-left: 5px;
            }

            & + li{}
        }
        
        @if $nav_hasSub_act == "on"{
            .subMenu{
                $borderRadiusB: 10px;
                $nav_subMenu_width: 200px;
                
                @include borderRadiusB($borderRadiusB);
                position: absolute;
                left: 0;
                top: 40px;
                width: $nav_subMenu_width;
                margin-left: calc(-1 * (#{$nav_subMenu_width} / 2));
                
                &, li{}
                
                &,
                li,
                a{}
                
                a{
                    /* Texto alineado a la izq
                    padding-left: 15px;
                    text-align: left;
                    */
                }

                li{
                    display: block;
                    
                    a{}

                    &, a{}
                    
                    & + li{
                        @include borderStyleT($navBdColour_itemSub_AT);
                    }
                    
                    &:last-child{
                        padding-bottom: 5px;
                
                        &, a{
                            @include borderRadiusB($borderRadiusB);
                        }
                    }
                }
            }
        }
        
        @if $nav_topper_act == "on"{
            &.topperNav{
                @include borderStyleB($navBdColour_topper); 
                position: fixed;
                right: 0;
                width: 100%; 
                
                .mainMenu{
                    @include centerCustom(770px);
                    float: $none;
                    padding: 0;
                    
                    > li{
                        padding-top: 0;
                        
                        &,
                        a,
                        .topLevelItem{
                            height: $topper_height_global;
                        }
                    }
                        
                    > .current{
                        a,
                        .topLevelItem{
                            @include borderStyleB($navBdColour_topper_itemCurrent, 3px);
                        }
                    }

                    a,
                    .topLevelItem{
                        line-height: $topper_height_global;
                    }
                }
                
                @if $nav_hasSub_level1_act == "on"{
                    .subMenuLevel1{
                        $navSubMenu_borderRadiusB: 6px;
                        
                        @include borderRadiusB($navSubMenu_borderRadiusB);
                        top: $topper_height_global;
                        left: 0;
                        background-image: $bgGrad_blackEighty;
                        filter: $bgGrad_blackEighty_filter;
                        padding-bottom: 5px;

                        &, li{
                            width: 150px;
                        }

                        li{
                            @include borderStyleT($navBdColour_itemSub_AT);

                            a{
                                padding-left: 10px;
                                text-align: left;
                            }

                            &, a{
                                @include equalHeightAndLineHeight(35px);
                            }
                            
                            &:first-child{
                                @include borderStyleT($navBdColour_itemSub_AT);
                            }
                    
                            &:last-child{
                                &, a{
                                    @include borderRadiusB($navSubMenu_borderRadiusB);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include tabletOnly{}
    
    @include afterTabletLandscape{
        @if $logoNav_floated_act == "on"{
            width: calc(100% - #{$logo_width_ATL});
        }
        
        .mainMenu{
            > li{
                &:focus, &:hover{
                    @if $nav_text_white_act == "on"{
                        > a,
                        > .topLevelItem{
                            text-shadow: $text_shadow_whiteText_hover;
                        }
                    }

                    @if $nav_text_black_act == "on"{
                        > a,
                        > .topLevelItem{
                            color: $greyXD;
                        }
                    }
                }
            }
        }
        
        li{
            &,
            a,
            .topLevelItem{
                @include equalHeightAndLineHeight($nav_height_ATL);
            }
            
            a,
            .topLevelItem{
                font-size: 1rem;
                padding-right: 10px;
                padding-left: 10px;
            }

            & + li{}
        }

        .current{
            a,
            .topLevelItem{}
        }

        @if $nav_topper_act == "on"{
            &.topperNav{
                .mainMenu{}
                
                @if $nav_hasSub_level1_act == "on"{
                    .subMenuLevel1{
                        &:focus{
                            .subMenuLevel1{
                                display: $block;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include afterDesktop{
        .current{
            a,
            .topLevelItem{
                &:focus, &:hover{
                    @if $nav_text_white_act == "on"{
                        text-shadow: 0 0 0 transparent;
                    }
                }
            }
        }
        
        @if $nav_topper_act == "on"{
            &.topperNav{
                @if $nav_hasSub_level1_act == "on"{
                    .hasSub{
                        &:hover{
                            .subMenuLevel1{
                                display: $block;
                            }
                        }
                    }
                }
            }
        }
    }
}