/* =============================================================================
   Slick Slider Styles | Custom [stylesSlider.scss]
   ========================================================================== */
.slick{
    &,
    .slick-slide{
        z-index: $zIndexSlickMain!important; 
    }
    
    &,
    div{
        @include clearfix;
    }
  
    &,
    .slick-list,
    .slick-track,
    li{
        /*height: 300px;*/
    }
    
    &.carousel{
        position: relative;
        
        .slick-list{
            position: relative;
            overflow: hidden;
        }
    }
}

@import "stylesSliderArrows";
@import "stylesSliderDots";