/* =============================================================================
   Slick Slider Styles | Custom [stylesSlider.scss]
   ========================================================================== */
.slick{    
    &,
    div{
        @include clearfix;
    }
    
    &.slickCarousel{
        position: relative;
        
        .slick-list{
            position: relative;
            overflow: hidden;
        }
    }
}

.slickMain{
    &,
    .slick-slide{
        z-index: $zIndex_slider!important; 
    }
  
    &,
    .slick-list,
    .slick-track,
    .slick-track li{
        /*height: 300px;*/
    }
}

.slickWithNav{
    // No debe llevar z-index
}

@import "stylesSliderArrows";
@import "stylesSliderDots";