/* =============================================================================
   Footer Styles | Custom [stylesFooter.scss]
   ========================================================================== */
#footer{    
    .navFooter{
        ul{}
        
        li{}
        
        @if $nav_hasSub_act == "on"{
            .subMenuLevel1
            .subMenuLevel2
            .subMenuLevel3{
                display: none;
            }
        }
    }
    
    .gooAddress{
        a{
            font-size: 1.1rem;
            line-height: 1.2em;
        }
    }
    
    .footerCopy{}
    
    .footerLegal{
        ul{}
        
        li,        
        a{}
        
        li{}
        
        a{}
        
        .copy{}
        
        .tos{}
    }
    
    @include beforeTablet{    
        @if $footer_floatedContent_act == "on"{
            /* */        
    } @else {    
            .logoF{
                width: 100px;
            }        
        }
    }
    
    @include afterTablet{    
        @if $footer_floatedContent_act == "on"{
            .logo_footerFloatedCont,
            .txt_footerFloatedCont{
                float: left;
            }
            
            .logo_footerFloatedCont{
                width: $footer_logoFloated_width;
                padding-right: 20px;
                padding-left: 20px;
                
                .logoF{
                    width: 100%;
                }
            }
            
            .txt_footerFloatedCont{
                width: calc(100% - #{$footer_logoFloated_width});                
            }

    } @else {
            .logoF{
                width: $logo_width_footer_AT;
            }  
        }
    }
    
    @include beforeTabletLandscape{
        .gooAddress{
            a{
                text-decoration: underline;
            }
        }  
    }
    
    @include afterTabletLandscape{
        .gooAddress{
            a{
                &:focus, &:hover{
                    text-decoration: underline;
                }
            }
        }        
    }
}


/* -------------------------------------
    Full height index                 */
#footer{
    @if $index_fullHeight_act == "on"{
        @include beforeTablet{
            height: $footer_height_BT;
        }

        @include afterTablet{ 
            height: $footer_height_AT;
        }
    }
}
/*  Full height index
    --------------------------------- */