/* =============================================================================
   Slick Dots Styles | Custom [stylesSliderDots.scss]
   ========================================================================== */
@if $sliderDots == "on"{
    .slickDots{
        $sliderDotWidth: 15px;
        $sliderDotHeight: $sliderDotWidth;
        $sliderDotWidthHeight: $sliderDotWidth $sliderDotHeight;
        $pagSeparation: 10px;
        $slickDotMarginTopValue: calc(#{$sliderDotHeight} + 20px);

        list-style: none;
        position: relative;
        z-index: $zIndexSlickNextPrevDots;
        top: calc(-1 * #{$slickDotMarginTopValue});
        height: calc(#{$sliderDotHeight} + calc(#{$pagSeparation} * 2));
        margin: 0 auto;
        text-align: center;

        li{
            @include transition(0.7s);
            @include opacityCustom(60);
            display: inline-block;
            float: $none;
            height: $sliderDotHeight;
            padding: $pagSeparation;

            &, button{
                @include squareSize($sliderDotWidth);
            }

            button{
                display: block;
                background-color: transparent;
                background-image: url('/nuevo/img/slider_pag.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 80%;
                padding: $zero;
                border: $none;
                text-indent: -9999px;
            }

            &:focus, &:hover{
                @include opacityCustom(80);
                    
                button{
                    background-image: url('/nuevo/img/slider_pagHover.svg');
                }
            }

            &.slickActive{
                    @include opacityCustom(100);
                    
                button{
                    background-image: url('/nuevo/img/slider_pagSel.svg');
                    background-size: 90%;
                }
            }
        }
    }
}