/* =============================================================================
   Social Styles | Custom [stylesSocial.scss]
   ========================================================================== */
.social{
    li{
        &, a, img{
            @include squareSize(50px);            
        }

        &.fb{
            a{}
        }

        &.tw{
            a{}
        }

        &.ig{
            a{}
        }

        &.pi{
            a{}
        }

        &.yt{
            a{}
        }

        &.li{
            a{}
        }

        &.sp{
            a{}
        }

        & + li{

        }
    }
    
    @include beforeTablet{        
        @if $navDrawer == "on"{
            &.clicked{
                position: fixed;
                z-index: $zIndexLogoHeaderClicked;
                top: auto;
                right: 10px;
                bottom: 20px;
                left: auto;

                li{
                    &, a, img{
                        @include squareSize(45px);            
                    }
                }
            }
        }
    }
    
    @include afterTablet{      
        z-index: $zIndexSocial;
        
        a{
            @include opacityCustomHover(90);
            @include transition(1s);
        }
    }
}