/* =============================================================================
   Forms Styles | Custom [styles_forms.scss]
   ========================================================================== */
fieldset{
    & + fieldset{
        margin-top: 30px;
    }

    > p{
        margin-bottom: $helpers_spacing_PM_medium;
        padding: $zero;
        color: $black;
    }
            
    &.invalidField{
        legend,
        label span{
            color: $formInput_msgError_ftColour;
        }
        
        legend{
            padding-left: 25px;
        }         
    }
}

select{
    option{
        &:checked{}
    }
}

.status,
.mandatoryMsg{
    box-sizing: border-box;
    margin-bottom: 20px;
}

.status.ok,
.mandatoryMsg{
    @include borderRadius();
    padding: 7px 20px;
}

.status,
.mandatoryMsg p{
    text-align: center;   
}

.status{    
    &.ini{
        font-size: 1rem;
    }

    &.ok{
        background-color: $bgGreenSystem;
        color: $white;
    }
}

.mandatoryMsg{
    &.invalidmandatoryMsg{
        display: $block;
        background-color: $formStatus_msgError_bgColour;
        
        p{
            color: $formStatus_msgError_ftColour;     
        }
    }
}

.mandatoryMsg,
.status{    
    @include afterTabletLandscape{
        @include centerCustom(80%);
    }
}

form{
    input,
    select,
    textarea{
        @include borderStyle($formInput_bdColour);
        padding-right: 10px;
        padding-left: 10px;
    }
    
    input{
        &[type="text"]{}

        &[type="color"]{}
        &[type="email"]{
            &:valid{}
            &:invalid{}
        }
        &[type="file"]{}
        &[type="image"]{}
        &[type="password"]{}
        &[type="search"]{}
        &[type="tel"]{}
        &[type="url"]{}

        &[type="number"]{
            &:in-range{}
            &:out-of-range{}
        }
        &[type="range"]{}

        &[type="time"]{}
        &[type="date"]{}
        &[type="month"]{}
        &[type="week"]{}

        &[type="checkbox"]{
            &:checked{}
        }
        &[type="radio"]{
            &:checked{}
        }

        &:required{}
        &:disabled{}

        &.nombre{}
        &.email{}
        &.telefono{}

        &.fecha{
            background-image: url('/nuevo/img/form_calendar.svg');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 28px;
        }
    }
    
    select{
        option{
            font-family: $arial;
            font-size: 0.8rem;
        }
    }
    
    textarea{    
        @include beforeTablet{
            height: 100px;
        }

        @include afterTablet{
            height: 100px;
        }

        @include afterTabletLandscape{
            height: 100px;        
        }

        @if $formLabel_inside_act == "off"{
            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_large;
            }        
        }
    }
    
    // Invalid fields
    input, select, textarea{
        &.invalidField{
            background-image: url('/nuevo/img/form_alert.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: auto 55%;
            border-width: 2px;
            
            &, &:focus, &:hover{
                border-color: $bdError!important;
                box-shadow: inset 0 0 0 $formInput_bdColour_hover;
            }
        }
    }
    
    fieldset{
        &.invalidField{        
            &,
            legend{
                background-image: url('/nuevo/img/form_alert.svg');
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: auto 55%;            
            }
        }
    }
    
    select{
        &.invalidField{
            background-position: right 25px center;
        }
    }
    
    textarea{
        &.invalidField{
            background-position: right 10px top 10px;
            background-size: 23px;
        }
    }

    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    button{
        @include borderStyle($formSubmit_bdColour);
        @include borderRadius();
        margin-bottom: $zero;
        font-size: 1.4rem;
    }
    
    @if $formLabel_inside_act == "on"{
        fieldset,
        label{
            @include beforeTablet{
                .mobileForm &{
                    margin-bottom: $helpers_spacing_PM_large;
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    margin-bottom: $helpers_spacing_PM_large;       
                }
            }

            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_medium;
            }
        }
        
        label.radio{
            .radio{
                clear: $none;
                float: $left;
                margin-right: 5px!important;
            }

            @include beforeTablet{
                .mobileForm &{
                    .radio{
                        width: $formInput_radio_height_BT!important;
                        height: $formInput_radio_height_BT;
                    }

                    span{
                        width: calc(100% - calc(#{$formInput_radio_height_BT} + 10px));
                        display: block;
                        float: left;
                        height: auto;
                        margin-top: 5px;
                        line-height: 1.3em;  
                    }

                    & + .radio{
                        margin-top: 10px;
                    }
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    .radio{
                        width: $formInput_radio_height_TO!important;
                        height: $formInput_radio_height_TO;
                    }

                    &,
                    input,
                    span{
                        @include equalHeightAndLineHeight($formInput_radio_height_TO);
                    }
                }
            }
        }

        .labelName,
        .formInputErrorMsg{
            box-sizing: border-box;
        }

        .labelName{
            display: block;
            padding-left: 7px;
            font-family: $formLabel_fontFamily;
            font-size: 1.1rem!important;
        }

        .formInputErrorMsg{
            display: none;
            padding-top: 3px;
            padding-left: 10px;
            color: $formInput_msgError_ftColour;
            font-family: $arial;
            font-size: 0.8rem!important;
            font-weight: 700;
            line-height: 1.3em;

            &.active{
                display: block;
            }
        }
        
        .formSugg{
            display: block;
            padding-left: 10px;
            font-size: 0.75rem;
        }
        
        @include beforeMobile600{
            .labelName{
                &.labelLong{
                    height: auto;
                    line-height: 1.4em;
                    margin-bottom: 5px;
                    
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}