/* =============================================================================
   Slick Arrows Styles | Custom [stylesSliderArrows.scss]
   ========================================================================== */
@if $slider_arrows == "on"{
    $slider_ArrowHeightBT:       30px;
    $slider_ArrowWidthHeightBT:  18px $slider_ArrowHeightBT;
    $slider_ArrowHeightHalfBT:   calc(#{$slider_ArrowHeightBT} / 2);

    $slider_ArrowHeightAT:       50px;
    $slider_ArrowWidthHeightAT:  30px $slider_ArrowHeightAT;
    $slider_ArrowHeightHalfAT:   calc(#{$slider_ArrowHeightAT} / 2);

    .slickPrev{
        left: 0;

        @include beforeTablet{
            @include bgSvg(slider_arrowL, $slider_ArrowWidthHeightBT);        
        }

        @include afterTablet{
            @include bgSvg(slider_arrowL, $slider_ArrowWidthHeightAT);        
        }
    }

    .slickNext{
        right: 0;

        @include beforeTablet{
            @include bgSvg(slider_arrowR, $slider_ArrowWidthHeightBT);        
        }

        @include afterTablet{
            @include bgSvg(slider_arrowR, $slider_ArrowWidthHeightAT);        
        }
    }

    .slickPrev,
    .slickNext{
        @include transition(0.7s);
        @include opacityCustomHover();
        position: absolute;
        z-index: $zIndexSlickNextPrevDots;
        top: 50%;
        border: $none;
        padding: $zero;
        text-indent: -9999px;

        @include beforeTablet{
            @include squareSize($slider_ArrowHeightBT);
            /*
            width: $slider_ArrowWidthBT;
            height: $slider_ArrowHeightBT;
            */
            margin-top: calc(-1 * #{$slider_ArrowHeightHalfBT});        
        }

        @include afterTablet{
            @include squareSize($slider_ArrowHeightAT);
            /*            
            width: $slider_ArrowWidthAT;
            height: $slider_ArrowHeightAT;
            */
            margin-top: calc(-1 * #{$slider_ArrowHeightHalfAT});
        }
    }
}