/* =============================================================================
   Popup Styles | Custom [stylesPopups.scss]
   ========================================================================== */
.mobileForm .closePop{
    $closePopSize: 33px;
    @include borderRadius(50%);
    @include bgSvg(popup_close); 
    width: $closePopSize!important;
    height: $closePopSize!important;
    background-size: 13px;
    border: 1px solid $bcGreyD!important; 
    
    &, &:focus, &:hover{
        background-color: $bgWhite;
    }
}
    
.popup{    
    @include borderRadius(12px); 
    position: fixed;
    top: 10vh;
    left: 50%;  
    height: 80vh;  
    background-color: $bgStatusOKpopUp;
    padding: 20px;
    box-shadow: 0 0 15px 0 $black;
    
    .modalWrap{
        @include posTRBL;
        position: absolute;
        padding: 20px;
        overflow: auto;
    }
    
    &.statusDiv{
        /* CSS para usar centerPopup
            @include centerPopup(100px,100px,50%);
            max-width: 100%;
            max-height: 100%;
        */      

        @include borderRadius(6px); 
        position: fixed;
        top: 20%;
        left: 50%;
        height: 200px;
        background-color: $bgStatusOKpopUp;          
        box-shadow: 0 0 15px 0 $black;
        
        h2{
            font-size: 1.2rem;
        }
        
        p{
            width: $hundred;
            background-color: transparent;
            padding: 0;
            color: $greyD;
            font-family: $mainFontFamily;
            text-align: center;

            & + p{
                margin-top: 0.8em;
            }

            &:last-child{
                padding-bottom: 50px;
            }
        }
        
        .popOKdialog{
            @include transition(1s);
            @include equalHeightAndLineHeight(30px);
            width: 40%;
            max-width: 150px;
            background-color: $bgWhite;
            font-size: 0.8rem;
            
            &, &:focus, &:hover{
                border: 1px solid $bcGrey!important
            }
            
            &:focus, &:hover{
                background-color: $bgGreyXXL;
            }            
        }
        
        .closePop{           
            @include posTR(10px, 10px);
        }
        
        @include mobileOnly{
            $popupStatusDivW: 300px;
            width: $popupStatusDivW;
            margin-left: calc(calc(#{$popupStatusDivW} * -1) / 2);            
        }
        
        @include afterMobileLandscape{
            $popupStatusDivW: 60%;
            width: $popupStatusDivW;
            margin-left: calc(calc(#{$popupStatusDivW} * -1) / 2);            
        }
        
        @include afterMobile600{
            $popupStatusDivW: 550px;
            width: $popupStatusDivW;
            margin-left: calc(calc(#{$popupStatusDivW} * -1) / 2);  

            .modalWrap{
                @include posTRBL(20px, 20px, 20px, 20px);
                padding: 20px;
            }

            .closePop{           
                @include posTR(10px, 10px);
            }             
        }
    }
}