/* =============================================================================
   Modal y popup Styles | Custom
   ========================================================================== */
$closeWHvalue: 20px;

.closePopup{    
    @include bgSvg(ic_closePopup);        
    @include squareSize($closeWHvalue);
    display: block;
    position: absolute;
    text-indent: -9999px;    
}
    
.popup{
    @include responsiveWidthAndHeight(100px, 100px);
    position: fixed;
    /* CSS para usar centerPopup
        @include centerPopup(100px,100px,50%);
        max-width: 100%;
        max-height: 100%;
    */
    
    .modalWrap{
        @include posTRBL;
        position: absolute;
        padding: 20px;
        overflow: auto;
    }
    
    &.statusDiv{
        @include borderRadius();        
        box-shadow: 0 0 15px 0 $black;
        background-color: $statusOKpopUpBgColour;
        
        p{
            color: $white;
            font-family: $mainFontFamily;
            font-size: 1.1em;
            text-align: center;
        }
        
        @include mobileOnly{
            @include responsiveWidthAndHeight(100px, 100px);
            padding: 20px;
            
            /* CSS para usar centerPopup
                @include centerPopup(280px,120px);
            */
            
            .close{               
                top: calc(-1 * #{$closeWHvalue});
                right: -10px;
            }
        }
        
        @include afterTablet{
            @include responsiveWidthAndHeight(100px, 100px);
            padding: 25px;
            
            /* CSS para usar centerPopup
                @include centerPopup(500px,100px);
            */            
        }
    }
    
    .closePopup{
        @include posTR(20px, 20px);        
        
        &.closePopupOut{
            $closeWHvaluePosition: calc(#{$closeWHvalue} + 5px);
            top: calc(-1 * #{$closeWHvaluePosition});
            right: calc(-1 * #{$closeWHvaluePosition});
        }
    }
}