/* =============================================================================
   Footer Styles | Custom [stylesFooter.scss]
   ========================================================================== */
#footer{   
    /*
    .button_siteTop{
        @include squareSize(50px);
        z-index: $zIndex_buttonSiteTop;
        top: 10px;
        right: 10px;
        background-image: url('/img/button_siteTop.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    */
    
    .navFooter{
        ul{}
        
        li{}
        
        @if $nav_hasSub_act == "on"{
            .subMenuLevel1,
            .subMenuLevel2,
            .subMenuLevel3{
                display: none;
            }
        }
    }
    
    .address_footer_goo{
        a{
            font-size: 1em;
            line-height: 1.2em;
        }
    }
    
    .copy_footer{}
    
    .legal_footer{
        ul{}
        
        li,        
        a{}
        
        li{}
        
        a{}
        
        .legal_copy{}
        
        .legal_tos{}
        
        .legal_studio{}
    }
    
    @include beforeTablet{    
        @if $footer_floatedContent_act_BT == "on"{
            /* */        
    } @else {    
            .logoF{
                width: $logo_width_footer_BT;
            }        
        }
    }
    
    @include afterTablet{    
        @if $footer_floatedContent_act_AT == "on"{
            .logo_footer,
            .txt_footer{
                float: left;
            }
            
            .logo_footer{
                width: $footer_logoFloated_width; // footerSizes.scss
                padding-right: 20px;
                padding-left: 20px;
                
                .logoF{
                    width: 100%;
                }
            }
            
            .txt_footer{
                width: calc(100% - #{$footer_logoFloated_width});  // footerSizes.scss
            }

    } @else {
            .logoF{
                width: $logo_width_footer_AT;
            }  
        }
    }
    
    @include beforeTabletLandscape{
        .address_footer_goo{
            a{
                text-decoration: underline;
            }
        }  
    }
    
    @include afterTabletLandscape{
        .address_footer_goo{
            a{
                &:focus, &:hover{
                    text-decoration: underline;
                }
            }
        }        
    }
}


/* -------------------------------------
    Full height index                 */
#footer{
    @if $index_fullHeight_act == "on"{
        @include beforeTablet{
            height: $footer_height_BT;
        }

        @include afterTablet{ 
            height: $footer_height_AT;
        }
    }
}
/*  Full height index
    --------------------------------- */