/* =============================================================================
   Language Switch Styles | Custom [stylesLanguageSwtich.scss]
   ========================================================================== */
$flagWidthBT: 38px;
$flagHeightBT: 25px;

$flagWidthAT: 48px;
$flagHeightAT: 32px;

.lang{
    z-index: $zIndexLang;

    li{
        a{
            @include borderStyle($bcWhite);
            @include borderRadius(50%);
            @include transition(1s);

            &:focus, &:hover{
                box-shadow: 0 0 10px $white;
            }
        }

        & + li{}
    }

    @include beforeTablet{
        @include posTL(15px, 20px);
        position: absolute;
            
        li{
            &, a{
                @include squareSize($flagHeightBT);
            }
            
            img{
                @include centerAbsolute($flagWidthBT, $flagHeightBT);
            }

            &.flagLA{/* Left Aligned Flag*/
                img{
                    width: $flagWidthBT;
                    height: $flagHeightBT;
                }
            }

            & + li{
                margin-left: 15px;
            }
        }
        
        // Si hay menuDrawer
        &.clicked{
            position: fixed;
        }
    }

    @include afterTablet{
        @include posTR(-46px, 20px);
        position: absolute;

        li{
            &, a{
                @include squareSize($flagHeightAT);
            }
            
            img{
                @include centerAbsolute($flagWidthAT, $flagHeightAT);
            }

            &.flagLA{/* Left Aligned Flag*/
                img{
                    width: $flagWidthAT;
                    height: $flagHeightAT;
                }
            }

            & + li{
                margin-left: 10px;
            }
        }
    }
}