/* =============================================================================
   Social Styles | Custom [stylesSocial.scss]
   ========================================================================== */
.social{
    li{
        &, a, img{
            @include squareSize(50px);            
        }

        &.fb{
            a{}
        }

        &.tw{
            a{}
        }

        &.ig{
            a{}
        }

        &.pi{
            a{}
        }

        &.yt{
            a{}
        }

        &.li{
            a{}
        }

        &.sp{
            a{}
        }

        & + li{

        }
    }
    
    @include beforeTablet{        
        @if $navDrawer == "on"{
            &.clicked{
                position: fixed;
                z-index: $zIndexLogoHClicked;
                top: 15px;
                left: 0;
            }
        }
    }
    
    @include afterTablet{        
        a{
            @include opacityCustomHover(90);
            @include transition(1s);
        }
    }
}