/* =============================================================================
   Lightbox Styles | Custom [stylesLightbox.scss]
   ========================================================================== */
.lighboxOverlay{
    background-color: $bgBlack;
}

.lb-data .lb-caption,
.lb-number{
    font-family: $mainFontFamily;
    font-weight: 400;
}