/* =============================================================================
   Print Styles | Custom [stylesPrint.scss]
   ========================================================================== */
@media print {
    @page{
        margin: 2cm;
    }

    @page :left {
        margin-right: 3cm;
    }

    @page :right {
        margin-left: 3cm;
    }
    
    *,
    *::before,
    *::after{
        background: $transparent;
        color: $black!important;
        box-shadow: $none;
        text-shadow: $none;
    } 
    
    // TODO body > *:not(main),
    nav, footer{
        display: $none;
    }
    
    a{
        &, &:visited {
            text-decoration: underline;
        }
        
        &[href^="http"]:not([href*="example.com"]):after {
            @include equalHeightAndLineHeight(30px);
            content: "(" attr(href) ")";
            font-family: monospace;
        }
        
    // Don't show links that are fragment identifiers,
    // or use the `javascript:` pseudo protocol
        &[href^="#"]:after,
        &[href^="javascript:"]:after {
            content: "";
        }
    }

    pre {
        white-space: pre-wrap !important;
    }
    
    pre,
    blockquote {
        border: 1px solid $bdGrey;
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
    
/* // Main Styles ----------------------------------------------------------- */
    .logoH{
        display: block;
        height: 3cm;
        margin: 10px auto 20px;
    }
    
    .gooMap {
        width: 400px;
        height: 300px;
        background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=Wien+Floridsdorf&zoom=13&scale=false&size=400x300&maptype=roadmap&format=png&visual_refresh=true');
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    
    img.dark {
        filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
    }
    
    
/* // Tables Styles --------------------------------------------------------- */
    
   // Printing Tables:
   // http://css-discuss.incutio.com/wiki/Printing_Tables

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
}