/* =============================================================================
   Header Styles | Custom [stylesHeader.scss]
   ========================================================================== */
#header{
    /*
    position: relative;
    z-index: $zIndex_header;
    */
    
    .logoH{
        margin-bottom: 0;
        
        &, a{}
        
        &,
        a,
        img{}
    }
    
    @if $logo_bg_beforeImg == "on"{
        .logoBefore{
            position: relative;        
            background-image: url('/nuevo/img/logo_bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
    }
    
    @include mobileOnly{
        .logoH{
            /*
            width: $logo_width_MO;
            */
        }
    }
    
    @include afterMobileLandscape{
        .logoH{
            /*
            width: $logo_width_AML;
            */
        }
    }
    
    @include mobileLandscapeOnly{
        .logoH{
            /*
            width: $logo_width_MLO;
            */
        }
    }

    //@include navBT{
    @include beforeTablet{
        box-sizing: border-box;
        padding-top: $header_paddingT_BT;
        padding-bottom: $header_paddingB_BT;
        
        @if $header_fixed_act_BT == "on" or $navAcc_act == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        
            &.topperShadow{
                box-shadow: 0 0 7px $black;
            }
        }        
            
        @if $logo_bg_beforeImg == "on"{
            .logoH{
                @include squareSize($logo_width_BT);
            }
        }
        
        @if $navAcc_act == "on"{
            height: $header_height_navAcc_BT;
            box-shadow: 0 0 10px #ccc;
            
            .logoH{
                height: $logo_height_BT;
                margin-right: auto;
                margin-left: auto;
            
                a{
                    width: 200px;
                }             
            
                a,
                img{
                    height: 100%;
                } 
            }
            
    } @else {
            height: $header_height_BT;
            
            .logoH{
                width: $logo_width_BT;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
        
        @if $navDrawer_act == "on"{
            .logoH{
                &.clicked{
                    @include borderStyleR($navBcColourR_navDrawer);
                    box-sizing: border-box;
                    position: fixed;
                    z-index: $zIndex_logo_clicked;
                    top: 0;
                    left: 0;
                    width: calc(#{$navDrawer_width} - 5px);
                    max-width: $navDrawer_widthMax;
                    height: $logo_clicked_height_heightFull;
                    background-color: $navBgColour_BT;
                    padding-top: $logo_clicked_height_paddingT;
                    padding-bottom: $logo_clicked_height_paddingB;
                    margin: 0;

                    a, img{
                        width: auto;
                        height: 100%;
                    }

                    img{
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    
    //@include navAT{
    @include afterTablet{        
        @if $header_fixed_act_AT == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: $header_height_AT;
        
            &.topperShadow{
                box-shadow: 0 0 7px $black;
            }
        }
        
        @if $nav_topper_act == "on"{
            &.topperNav{
                position: fixed;
                z-index: $zIndex_header_topper;
                top: 0;
                right: 0;
                left: 0;
                height: $topper_height_global;
                
                .logoH{
                    z-index: $zIndex_logo_topper;
                }
            }
        }
        
        @if $index_fullHeight_act == "on"{
            height: $header_height_AT;
        }
        
        .logoH{
            position: relative;
            z-index: $zIndex_logo;   
            
            @if $logoNav_floated_act == "on"{
                box-sizing: border-box;
                float: left;
                padding-right: 20px;
                padding-left: 20px;             
            }
            
            @if $logo_bg_beforeImg == "on"{            
                &, a{
                    @include squareSize($logo_width_AT);
                }  
                
                img{
                    width: 100%;
                }                
                
        } @else {
                width: $logo_width_AT;
            
                a,
                img{
                    width: 100%;
                }  
            }
        }
    }
    
    @include afterTabletLandscape{
        @if $header_fixed_act_ATL == "on"{
            height: $header_height_ATL;
        }
        
        @if $index_fullHeight_act == "on"{
            height: $header_height_ATL;
        }
        
        .logoH{            
            @if $logo_bg_beforeImg == "on"{            
                &, a{
                    @include squareSize($logo_width_ATL);
                } 
                
                } @else {
                width: $logo_width_ATL;
            }
        }
    }
}