/* =============================================================================
   Forms Styles | Custom
   ========================================================================== */
form, fieldset, label, input, select, textarea, button,
.labelName, .sug, .errorForm{
    .mobileForm &{
        @include beforeTablet{
            clear: both!important;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            clear: both!important;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
}

fieldset, label, input, select, textarea, button,
.mandatoryMessage, .labelName, .sug, .errorForm{
    .mobileForm &{
        @include beforeTablet{
            width: $formLabelWidthBT;
        }
        
        @include mobileOnly{
            width: $formLabelWidthMO;            
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            width: $formLabelWidthTO;
        }
    }
    
    @include afterTabletLandscape{
        width: $formLabelWidthATL;
    }
    
    @include afterDesktop{
        width: $formLabelWidthAD;
    }
}

form{
    .mobileForm &{
        @include beforeTablet{
            width: $formWidthBT;
        }
        
        @include mobileOnly{
            width: $formWidthMO;            
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            width: $formWidthTO;
        }
    }
    
    @include afterTabletLandscape{
        width: $formWidthATL;
    }
    
    @include afterDesktop{
        width: $formWidthAD;
    }
}

label, input, select, textarea, button,
.labelName, .sug, .errorForm{
    display: block;
}

fieldset{    
    & + fieldset{
        margin-top: 30px;
    }

    > p, legend{
        margin-bottom: $paddingMarginMediumValue;
        padding: $zero;
        color: $black;
    }
}

legend{          
    @include beforeTabletLandscape{ 
        @include centerCustom(90%);
        text-align: center;
    }
}

input, select, textarea{
    @include borderStyle($formInputBcColour);
    @include transition(1s);
    font-family: $formInputFontFamily; 

    &:focus, &:hover{
        border-color: $formInputBcColourHover;
    }

    &:focus{
        box-shadow: inset 0 0 4px #666;
    }
    
    &.bcError{
        border-color: $bcError;        
    }
        
    &.invalidField{
        &, &:focus, &:hover{
            border-color: $bcError!important;
            border-width: 2px;
        }
    }
}

@if $formInsideLabel == "off"{
    label{
        display: block\0/!important; /* IE8 + IE9 */
        padding-left: 7px;
        margin-bottom: $zero;
        font-family: $formLabelFontFamily;

        @include beforeTablet{
            .mobileForm &{
                @include equalHeightAndLineHeight($formLabelHeightBT);
            }
        }

        @include tabletOnly{
            .tabletForm &{
                @include equalHeightAndLineHeight($formLabelHeightTO);          
            }
        }

        @include afterTabletLandscape{
            @include equalHeightAndLineHeight($formLabelHeightATL);
        }

        @include afterDesktop{
            height: $formLabelHeightAD;        
        }

        @if $labelsVisible == "off"{
            display: $none;
        }
    }

    @media all and (-ms-high-contrast:none){
        label { /* IE10 */
            display: $block;
        }

        *::-ms-backdrop, label { /* IE11 */
            display: $block;
        }
    }
    
    input, select{
        @include beforeTablet{
            .mobileForm &{
                @include equalHeightAndLineHeight($formInputHeightBT);
            }
        }

        @include tabletOnly{
            .tabletForm &{
                @include equalHeightAndLineHeight($formInputHeightTO);          
            }
        }

        @include afterTabletLandscape{
            @include equalHeightAndLineHeight($formInputHeightATL);
        }

        @include afterLaptop{
            height: $formInputHeightAD;        
        }
    }
    
    input, select, textarea{    
        @include beforeTablet{
            .mobileForm &{
                margin-bottom: $paddingMarginLargeValue;
            }
        }

        @include tabletOnly{
            .tabletForm &{
                margin-bottom: $paddingMarginLargeValue;       
            }
        }

        @include afterTabletLandscape{    
            margin-bottom: $paddingMarginMediumValue;
        }
    }
}

@if $formInsideLabel == "on"{
    label{
        @include clearfix;

        @include beforeTablet{
            .mobileForm &{
                margin-bottom: $paddingMarginLargeValue;
            }
        }

        @include tabletOnly{
            .tabletForm &{
                margin-bottom: $paddingMarginLargeValue;       
            }
        }

        @include afterTabletLandscape{    
            margin-bottom: $paddingMarginMediumValue;
        }
    }

    .labelName, .sug{
        box-sizing: border-box;
        padding-left: 7px;
    }
    
    input, select, .labelName, .errorForm{    
        @include beforeTablet{
            .mobileForm &{
                @include equalHeightAndLineHeight($formLabelContentsHeightBT);
            }        
        }

        @include tabletOnly{
            .tabletForm &{
                @include equalHeightAndLineHeight($formLabelContentsHeightTO);
            }
        }

        @include afterTabletLandscape{
            @include equalHeightAndLineHeight($formLabelContentsHeightATL);
        }

        @include afterDesktop{
            height: $formLabelContentsHeightAD;        
        }
    }
    
    .labelName{
        font-family: $formLabelFontFamily;
    }
}

@if $formSug == "on"{    
    .sug{
        font-family: $formSugFontFamily;
        font-size: 0.8em;
        padding-bottom: 3px;

        @include beforeTablet{
            .mobileForm &{
                @include equalHeightAndLineHeight($formLabelSugHeightBT);
            }
        }

        @include tabletOnly{
            .tabletForm &{
                @include equalHeightAndLineHeight($formLabelSugHeightTO);
            }
        }

        @include afterTabletLandscape{
            @include equalHeightAndLineHeight($formLabelSugHeightATL);
        }

        @include afterDesktop{
            height: $formLabelSugHeightAD;        
        }
    }
}

button,
input[type="button"],
html input[type="button"]{
    border: $none;
}

button{}
button::focus-inner{}
input::focus-inner{}

input{
    padding: 0 $paddingMarginMediumValue;

    &[type="text"]{}
    &[type="search"]{}
    &[type="email"]{
        &:valid{}
        &:invalid{}
    }
    &[type="password"]{}
    &[type="url"]{}

    &[type="number"]{
        &:in-range{}
        &:out-of-range{}
    }
    &[type="range"]{}

    &[type="date"]{}
    &[type="month"]{}
    &[type="week"]{}
    &[type="time"]{}

    &[type="checkbox"]{
        &:checked{}
    }
    &[type="radio"]{
        &:checked{}
    }

    &[type="file"]{}
    &[type="color"]{}
    
    &:required{}
    &:disabled{}
    
    &.nombre{}
    &.email{}
    &.telefono{}
    
    &.fecha{
        background-image: url('/nuevo/img/ic_calendar.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 28px;
    }
}

input[type="reset"],
input[type="submit"],
input[type="button"],
button{
    @include borderStyle($formSubmitBcColour);
    @include transition(1s);
    margin-bottom: $zero;
    color: $formSubmitFontColour;
    font-family: $formSubmitFontFamily;

    &:focus, &:hover{
        border-color: $formSubmitBcColourHover;
        color: $formSubmitFontColourHover;
    }    
    
    @include beforeTablet{
        .mobileForm &{
            height: $formSubmitHeightValueBT;
            line-height: $formSubmitLineHeightValueBT;
        }
    }

    @include tabletOnly{
        .tabletForm &{
            width: 50%!important;
            height: $formSubmitHeightValueTO;
            margin-right: $auto;
            margin-left: $auto;
            line-height: $formSubmitLineHeightValueTO;
        }  
    }

    @include afterTabletLandscape{
        height: $formSubmitHeightValueATL;
        line-height: $formSubmitLineHeightValueATL;
    }

    @include afterLaptop{
        height: $formSubmitHeightValueAD;
        line-height: $formSubmitLineHeightValueAD;
    }
}

@include beforeTablet{
    .mobileForm{
        input[type="reset"],
        input[type="submit"],
        input[type="button"],
        button{
            margin-bottom: $zero;
            
            & + input[type="reset"],
            & + input[type="submit"],
            & + input[type="button"],
            & + button{        
                    margin-top: $paddingMarginLargeValue;
            }
        }
    }
}

@include tabletOnly{
    .tabletForm{
        input[type="reset"],
        input[type="submit"],
        input[type="button"],
        button{
            margin-bottom: $zero;
            
            & + input[type="reset"],
            & + input[type="submit"],
            & + input[type="button"],
            & + button{
                margin-top: $paddingMarginLargeValue;       
            }
        }
    }
}

select{
    option{
        &:checked{}
    }
}

textarea{
    padding: $paddingMarginMediumValue;
    
    @include beforeTablet{
        height: 100px;
    }
    
    @include afterTablet{
        height: 100px;
    }
    
    @include afterTabletLandscape{
        height: 100px;        
        margin-bottom: $paddingMarginLargeValue;
    }
}

.mandatoryMessage{
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 20px;
        
    &.invalidMandatoryMessage{
        background-color: $invalidMandatoryMessageBgColour;
        
        p{
            color: $invalidMandatoryMessageFontColour;            
        }
    }
    
    @include afterTabletLandscape{
        @include centerCustom(80%);
    }
}

.status{        
    @include beforeTabletLandscape{
        text-align: center;            
    }
    
    &.ok{
        background-color: $bgGreen;
        padding: 10px 20px;
    }
}