/* =============================================================================
   Media Styles | Custom [styles_media.scss]
   ========================================================================== */
.video_mask,
.map_mask{
    @include borderRadius();
    @include borderStyle($bdGreyL);
    box-sizing: border-box;
    overflow: hidden;

    iframe{
        display: block;
        width: 100.5%;
        height: 100%;
    }
}

.video_mask{
    background-color: $bgGreyXXD;

    @include mobileOnly{
        width: 300px;
        height: 168px;
    }

    @include afterMobileLandscape{
        width: 450px;
        height: 250px;
    }
    
    @include afterTablet{
        width: 600px;
        height: 330px;
    }
}

.map_mask{
    @include mobileOnly{
        width: 300px;
        height: 300px;
    }

    @include afterMobileLandscape{
        width: 500px;
        height: 250px;
    }
    
    @include afterTablet{
        width: 600px;
        height: 330px;
    }
}

/*
300:168
400:225
450:253
500:281
600:337
700:393
800:450
*/