/* =============================================================================
   Slick Arrows Styles | Custom [stylesSliderArrows.scss]
   ========================================================================== */
@if $sliderArrows == "on"{
    $sliderArrowHeightBT:       30px;
    $sliderArrowWidthHeightBT:  18px $sliderArrowHeightBT;
    $sliderArrowHeightHalfBT:   calc(#{$sliderArrowHeightBT} / 2);

    $sliderArrowHeightAT:       50px;
    $sliderArrowWidthHeightAT:  30px $sliderArrowHeightAT;
    $sliderArrowHeightHalfAT:   calc(#{$sliderArrowHeightAT} / 2);

    .slickPrev{
        left: 0;

        @include beforeTablet{
            @include bgSvg(slider_arrowL, $sliderArrowWidthHeightBT);        
        }

        @include afterTablet{
            @include bgSvg(slider_arrowL, $sliderArrowWidthHeightAT);        
        }
    }

    .slickNext{
        right: 0;

        @include beforeTablet{
            @include bgSvg(slider_arrowR, $sliderArrowWidthHeightBT);        
        }

        @include afterTablet{
            @include bgSvg(slider_arrowR, $sliderArrowWidthHeightAT);        
        }
    }

    .slickPrev,
    .slickNext{
        @include transition(0.7s);
        @include opacityCustomHover();
        position: absolute;
        z-index: $zIndexSlickNextPrevDots;
        top: 50%;
        border: $none;
        padding: $zero;
        text-indent: -9999px;

        @include beforeTablet{
            @include squareSize($sliderArrowHeightBT);
            /*
            width: $sliderArrowWidthBT;
            height: $sliderArrowHeightBT;
            */
            margin-top: calc(-1 * #{$sliderArrowHeightHalfBT});        
        }

        @include afterTablet{
            @include squareSize($sliderArrowHeightAT);
            /*            
            width: $sliderArrowWidthAT;
            height: $sliderArrowHeightAT;
            */
            margin-top: calc(-1 * #{$sliderArrowHeightHalfAT});
        }
    }
}