/* =============================================================================
   Forms NiceIt Styles | Custom [stylesFormsNiceIt.scss]
   ========================================================================== */
form.niceIt{    
    /* Select */
    .fmSelect{
        $fm_select_width: 240px!important;
        
        @include borderStyle($formInput_bdColour);
        
        //Aquí se establece la coordenada de la flecha del select
        @include bgSvg(form_select, auto, right 15px center);
        
        box-sizing: border-box;
        width: $fm_select_width;
        
        //Este padding-right: 40px es el espacio para la flecha del select,
        //tendría que ser un sprite de 40px de ancho
        padding: 0 40px 0 10px;
        
        width: 135px!important;
        color: $formInput_fontColour;
        
        &,
        strong,
        cite{
            //Aquí se establece la altura de los select y option
            height: 30px;
            line-height: 28px;
            
            font-size: 0.9rem;            
        }
        
        %fm_option_textStyles{
            color: $formInput_fontColour;
            font-family: $fontFamily_main_global;
            text-transform: none;             
        }
        
        strong{            
            span{
                cite{
                    @extend %fm_option_textStyles;  
                }
            }
        }
        
        ul{
            @include borderStyle($formInput_bdColour);
            width: $fm_select_width;
            max-height: 250px;
            background-color: $white;
            background-image: none;
            
            li{
                @extend %fm_option_textStyles;  
                padding: 10px 15px!important;
                font-size: 0.7rem;
                line-height: 1.3rem;
                
                &:hover, &:focus{
                    color: $formInput_fontColour_hover;
                    background-color: $formInput_bdColour_hover;
                }
            }
        }
    }
    
    /* Checkboxes */
    .fmCheckbox{
        //En caso de ser sólo un checkbox se oculta el siguiente que se
        //agrega automaticamente
        & + .fmCheckbox{
            display: $none;
        }
        
        @include borderStyle($formInput_bdColour);
        @include squareSize(19px);
    }
    
    //Aquí se indican las coordenadas del "tilde",
    //que debe ser un bloque de sprites
    .fmCheckbox.checked{
        @include sprites(0px 0px);
    }
    
    /* File Upload */
    .fnFileInput{
        &,
        span,
        strong{
            width: $hundred;
            
            @include mobileOnly{
                width: 89%!important; 
                margin-right: $auto;
                margin-left: $auto;    
            }
        }
        
        span{
            cite{}
            
            strong{                
                input{                    
                    position: absolute;
                    left: 0;
                    width: 97%!important;
                    height: 238px;
                }
            }
        }
        
        &, &:hover{
            //Aquí va la imgen de fondo del input
        }
    }
    
    @include tabletOnly{
        .tabletForm{
            .fnFileInput{ 
                margin-right: $auto;
                margin-left: $auto; 
                
                &,
                span,
                strong{
                    width: 95%;
                }
            }
        }
    }
    
    /* Radio Buttons */
    a.fmRadio{
        &.checked{}
    }
    #fmRbtn-IDNAME{}
}