/* =============================================================================
   Slick Arrows Styles | Custom [stylesSliderArrows.scss]
   ========================================================================== */
// imported in _stylesSlider.scss

@if $sliderArrow_act == "on"{
    $sliderArrow_height_BT:       30px;
    $sliderArrow_widthHeight_BT:  18px $sliderArrow_height_BT;
    $sliderArrow_height_half_BT:   calc(#{$sliderArrow_height_BT} / 2);

    $sliderArrow_height_AT:       50px;
    $sliderArrow_widthHeight_AT:  30px $sliderArrow_height_AT;
    $sliderArrow_height_half_AT:   calc(#{$sliderArrow_height_AT} / 2);

    .slickPrev{
        left: 0;

        @include beforeTablet{
            @include bgSvg(slider_arrowL, $sliderArrow_widthHeight_BT);        
        }

        @include afterTablet{
            @include bgSvg(slider_arrowL, $sliderArrow_widthHeight_AT);        
        }
    }

    .slickNext{
        right: 0;

        @include beforeTablet{
            @include bgSvg(slider_arrowR, $sliderArrow_widthHeight_BT);        
        }

        @include afterTablet{
            @include bgSvg(slider_arrowR, $sliderArrow_widthHeight_AT);        
        }
    }

    .slickPrev,
    .slickNext{
        @include transition(0.7s);
        @include opacityCustomHover();
        position: absolute;
        z-index: $zIndex_slider_arrows_dots;
        top: 50%;
        border: $none;
        padding: $zero;
        text-indent: -9999px;

        @include beforeTablet{
            @include squareSize($sliderArrow_height_BT);
            /*
            width: $slider_ArrowWidthBT;
            height: $sliderArrow_height_BT;
            */
            margin-top: calc(-1 * #{$sliderArrow_height_half_BT});        
        }

        @include afterTablet{
            @include squareSize($sliderArrow_height_AT);
            /*            
            width: $slider_ArrowWidthAT;
            height: $sliderArrow_height_AT;
            */
            margin-top: calc(-1 * #{$sliderArrow_height_half_AT});
        }
    }
}