/* =============================================================================
   Tables Styles | Custom [stylesTables.scss]
   ========================================================================== */
table{
    th,
    tfoot td{
        color: $white;
        font-weight: 700;
        text-align: center;
    }    
    
    th{
        @include equalHeightAndLineHeight(30px);
    }
    
    th, td{
        padding: 0 10px;
        font-size: 0.9rem;
        font-weight: 400;
    }
}

/* Rounded Tables */
table.tableRounded{
    @include borderStyle($bcColour_main_globalTable);
    
    th,
    tfoot td{
        background-color: $bgColour_main_globalTable;
    }
   
    tfoot td{
        @include borderStyleT($bcColour_secondary_globalTable);
    }
    
    tr{
        th,
        td{
            @include borderStyleB($bcColour_secondary_globalTable);
        }
    }
}
    
$tableBeforeWidth: 40%;
@include beforeTablet{
    table{
        tr{
            & + tr, &:last-child{
                @include borderStyleT($bcGreyD, 2px);
            }
           
            td{
                font-size: 0.8rem;
                text-align: center;
                padding-left: $tableBeforeWidth + 5%;

                & + td{
                    @include borderStyleT($bcGrey);
                }
                
                &::before{
                    left: 10px;
                    width: $tableBeforeWidth; 
                    width: 40%; 
                    font-weight: bold;
                    text-transform: uppercase;                
                }
            } 
        }
    }
    
    .tableRounded{
        tr{
            @include borderStyleB($bcColour_main_globalTable,$borderWidthValue: 2px);
            
            td{
                @include borderStyleB($bcColour_secondary_globalTable,$borderStyleValue: dotted);
            }
            
            &:last-child{
                td{
                    @include borderStyleB($bcColour_secondary_globalTable!important);
                    
                    &:last-child{
                        @include borderStyleB($bcColour_secondary_globalTable!important, $borderWidthValue: 0);
                    }
                }
            }
        }
    }
    
    .tableStriped{
        tbody{
            tr{
                td{
                    background-color:$bgColourTableStripedEven;
                    
                    &:nth-child(odd){                        
                        background-color: darken($bgColourTableStripedEven, 10%);
                    }                    
                }
                
                &:nth-child(n+2){
                    @include borderStyleT($bcColourTableStripedSeparator, 2px);
                }
                
                &:last-child{
                    @include borderStyleB($bcColourTableStripedSeparator);
                }
            }
        }
    }
    
    .tableResponsive{
        padding: 15px 0;
        margin: 0 auto 10px;
        
        table{
            @include beforeTablet{
                width: $tableWBT;
                @include tableCustomSizesBeforeTablet;        
            }
            @include afterTablet{
                width: $tableWAT;
                @include tableCustomSizesTablet;          
            }
            @include afterTabletLandscape{
                width: $tableWATL;
                @include tableCustomSizesTabletL;          
            }
            
            th{
                text-align: center;
            }
            
            td{
                @include borderStyleT($bcGrey);
                text-align: left;
                padding-left: $zero;
            }
        }
        
        .tableRounded{
            tr{
                @include borderStyleB($bcColour_main_globalTable, $borderWidthValue: 1px);
                
                td{
                    @include borderStyleB($bcColour_secondary_globalTable, $borderWidthValue: 0);
                }
                
                &:last-child td{
                    @include borderStyleB($bcColour_secondary_globalTable!important, $borderWidthValue: 0);
                }
            }
        }
    }
}