/* =============================================================================
   Social Styles | Custom [stylesSocial.scss]
   ========================================================================== */
.social{
    z-index: $zIndexSocial;
        
    li{
        & + li{}
    }

    .soc_fb{ /* Soc Facebook */
        a{
            background-image: url('/nuevo/img/soc_fb.svg');
        }
    }

    .soc_sk{ /* Soc Skype */
        a{
            background-image: url('/nuevo/img/soc_sk.svg');
        }
    }
    
    .soc_tw{ /* Soc Twitter */
        a{
            background-image: url('/nuevo/img/soc_tw.svg');
        }
    }

    .soc_vi{ /* Soc Vimeo */
        a{
            background-image: url('/nuevo/img/soc_vi.svg');
        }
    }  

    .soc_ig{ /* Soc Instagram */
        a{
            background-image: url('/nuevo/img/soc_ig.svg');
        }
    }

    .soc_pi{ /* Soc Pinterest */
        a{
            background-image: url('/nuevo/img/soc_pi.svg');
        }
    }

    .soc_yt{ /* Soc YouTube */
        a{
            background-image: url('/nuevo/img/soc_yt.svg');
        }
    }

    .soc_li{ /* Soc LinkedIn */
        a{
            background-image: url('/nuevo/img/soc_li.svg');
        }
    }

    .soc_sp{ /* Soc Spotify */
        a{
            background-image: url('/nuevo/img/soc_sp.svg');
        }
    }

    .soc_sc{ /* Soc SnapChat */
        a{
            background-image: url('/nuevo/img/soc_sc.svg');
        }
    }

    .soc_wa{ /* Soc WhatsApp */
        a{
            background-image: url('/nuevo/img/soc_wa.svg');
        }
            
            &.conTel{
                background-position: left center;
                background-size: auto 20px;
                padding-left: 25px;
            }
    }

    .soc_em{ /* Soc Correo Electrónico */
        a{
            background-image: url('/nuevo/img/soc_em.svg');
        }
    }

    .soc_ta{ /* Soc TripAdvisor */
        a{
            background-image: url('/nuevo/img/soc_ta.svg');
        }
    }

    .soc_go{ /* Soc Guía Oleo */
        a{
            background-image: url('/nuevo/img/soc_go.svg');
        }
    }
    
    @include beforeTablet{       
        li{
            &, a, img{
                @include squareSize(35px);            
            }
        }
        
        @if $navDrawer == "on"{
            &.clicked{
                position: fixed;
                z-index: $zIndexLogoHClicked;
                top: auto;
                right: 10px;
                bottom: 20px;
                left: auto;

                li{
                    &, a, img{
                        @include squareSize(45px);            
                    }
                }
            }
        }
    }
    
    @include afterTablet{
        li{
            &, a, img{
                @include squareSize(50px);            
            }
        }
        
        a{
            @include opacityCustomHover(90);
            @include transition(1s);
        }
    }
}