/* =============================================================================
   Language Switch Styles | Custom [stylesLanguageSwtich.scss]
   ========================================================================== */
$flagWidthBT: 38px;
$flagHeightBT: 25px;

$flagWidthAT: 48px;
$flagHeightAT: 32px;

.lang{
    z-index: $zIndexLang;
    
    a{
        @include borderStyle($bcWhite);
        @include transition(1s);
        
        @if $circleFlags == "on"{
            @include borderRadius(50%);

            &:focus, &:hover{
                box-shadow: 0 0 10px $white;
            }
        }
    }

    @include beforeTablet{
        @include posTL(15px, 20px);
        position: absolute;
            
        li{
            a, img{
                width: $flagWidthBT;
                height: $flagHeightBT;
            }

            & + li{
                margin-left: 15px;
            }
        
            @if $circleFlags == "on"{
                &, a{
                    @include squareSize($flagHeightBT);
                }
                
                img{
                    @include centerAbsolute($flagWidthBT, $flagHeightBT);
                }
            }
        }
        
        @if $navDrawer == "on"{   
            &.clicked{
                position: fixed;
                z-index: $zIndexlogoHClicked;
                top: 15px;
                left: 0;
            }
        }
    }

    @include afterTablet{
        @include posTR(10px, 20px);
        position: absolute;

        li{
            a, img{
                width: $flagWidthAT;
                height: $flagHeightAT;
            }

            & + li{
                margin-left: 10px;
            }
        
            @if $circleFlags == "on"{
                &, a{
                    @include squareSize($flagHeightAT);
                }
                
                img{
                    @include centerAbsolute($flagWidthAT, $flagHeightAT);
                }
            }
        }
    }
}