/* =============================================================================
   Global Styles | Custom [stylesGlobal.scss]
   ========================================================================== */
.callToAction{
    /* Si lleva .hoverGrow hay que comentar transition */
    @include borderStyle($bcGrey, 2px);
    transition: background-color 0.7s cubic-bezier(0.39, 0.575, 0.565, 1), color 1s;
    display: block;
    box-sizing: border-box;
    background-color: $bgGrey;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    
    &, &:focus, &:hover{
        text-decoration: $none;
    }
    
    &, &:visited, &:active{
        color: $white;
    }
    
    &:focus, &:hover{
        background-color: $bgGreyL;
        border-color: $bcGreyXD;
        color: $greyD;
    }
    
    @include mobileOnly{
        width: $hundred;
    }
    
    @include beforeTablet{
        height: auto;
        line-height: 1.3;
    }
    
    @include afterTablet{
        @include equalHeightAndLineHeight(50px);        
    }
}

/* =============================================================================
   Main Gobal Styles | Custom
   ========================================================================== */
#main{
    @include mobileOnly{
        @if $header_fixed_act_MO == "on"{
            padding-top: $header_height_PT_MO;
        }    
    }
    
    @include afterMobileLandscape{
        @if $header_fixed_act_AML == "on"{
            padding-top: $header_height_PT_AML;
        }        
    }
    
    @include mobileLandscapeOnly{
        @if $header_fixed_act_MLO == "on"{
            padding-top: $header_height_PT_MLO;
        }        
    }
    
    @include beforeTablet{
        @if $navAcc_act == "on"{
            padding-top: $header_height_navAcc_BT;
        }
        @if $header_fixed_act_BT == "on"{
            padding-top: $header_height_PT_BT;
        }
    }
    
    @include afterTablet{
        @if $header_fixed_act_AT == "on"{
            padding-top: $header_height_PT_AT;
        }
        
        @if $nav_topper_act == "on"{
            min-height: 700px;        
        }
    }
    
    @include afterTabletLandscape{
        @if $header_fixed_act_ATL == "on"{
            padding-top: $header_height_PT_ATL;
        }
    }
}

/* =============================================================================
   Internas Global Styles | Custom
   ========================================================================== */
.section_int{}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Secondary Separator
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */