/* =============================================================================
   Language Switch Styles | Custom [stylesLanguageSwtich.scss]
   ========================================================================== */
.language_ul{    
    z-index: $zIndex_language;
    
    a{
        @include borderStyle($bdWhite, $language_bd_size);
        @include transition(0.3s);
        background-color: $language_a_bgColour;
        
        @if $language_flag_circled_act == "on"{
            @include borderRadius(50%);

            &:focus, &:hover{
                box-shadow: 0 0 10px $white;
            }
        }
    }

    img{
        vertical-align: initial;
    }

    @include beforeTablet{
        @include posTL(15px, 20px);
        position: absolute;
           
        &,
        li{
            height: $language_ul_height_BT;
        }
        
        li{
            a,
            img{
                width: $language_flag_width_BT;
                height: $language_flag_height_BT;
            }

            & + li{
                margin-left: 15px;
            }
        
            @if $language_flag_circled_act == "on"{
                width: $language_flag_height_BT;
                
                a{
                    @include squareSize($language_flag_height_BT);
                }
                
                img{
                    @include centerAbsolute($language_flag_width_BT, $language_flag_height_BT);
                }
            }
        }
        
        @if $navDrawer_act == "on"{   
            &.clicked{
                top: auto;
                right: auto;
                position: fixed;
                z-index: $zIndex_language_clicked;
                
                @if $language_flag_clicked_bottom_act == "on"{
                    left: 0;
                    bottom: 0;
                    box-sizing: border-box;
                    width: calc(#{$navDrawer_width_final} - 5px);
                    max-width: $navDrawer_width_max;
                    height: calc(#{$language_ul_height_clicked} + #{$language_ul_height_clicked_PT} + #{$language_ul_height_clicked_PB});
                    padding-top: $language_ul_height_clicked_PT;
                    padding-bottom: $language_ul_height_clicked_PB;
                    padding-left: 10px;
                    background-color: $language_ul_bgColour_clicked;
                    
                } @else{
                    left: 30px;         
                    bottom: $language_ul_bottomValue; 
                    height: $language_ul_height_clicked;          
                }
                
                li{
                    width: 50%;
                    
                    a{
                        @include squareSize($language_flag_height_clicked);
                        margin-right: auto;
                        margin-left: auto;
                    }
                    
                    & + li{
                        margin-left: 25px;
                    }
                }
            }
        }
    }

    @include afterTablet{
        @include posTR(10px, 20px);
        position: absolute;
           
        &,
        li{
            height: $language_ul_height_AT;
        }

        li{
            a,
            img{
                width: $language_flag_width_AT;
                height: $language_flag_height_AT;
            }

            & + li{
                margin-left: 10px;
            }
        
            @if $language_flag_circled_act == "on"{
                width: $language_flag_height_AT;
                
                a{
                    @include squareSize($language_flag_height_AT);
                }
                
                img{
                    @include centerAbsolute($language_flag_width_AT, $language_flag_height_AT);
                }
            }
        }
    }
}