/* =============================================================================
   Header Styles | Custom [stylesHeader.scss]
   ========================================================================== */
$navDrawerWidth: 70vw;
$navWidthBT: 200px;

#header{    
    /*z-index: $zIndexHeader;*/
    
    .logoH{
        z-index: $zIndexLogoH;
        margin: $zero;
        
        &, a{}
        
        &, a, img{}
    }
    
    @include mobileOnly{
        .logoH{
            @include centerCustom(90%);
            
            a, img{
                width: 100%;
            }
        }
    }
    
    @include mobileLandscapeOnly{        
        .logoH{
            &, a, img{
                width: 150px;
            }
        }
    }
    
    @include beforeTablet{
        box-sizing: border-box;
        padding-top: 20px;
        
        .logoH{    
            // MenuDrawer    
            &.clicked{
                position: fixed;
                z-index: $zIndexLogoHClicked;
                top: 0;
                left: 0;
                width: calc(#{$navDrawerWidth} - 5px);
                height: 50px;
                background-color: $bgNavItemBT;
                padding-top: 50px;
                padding-bottom: 10px;
            
                a, img{
                    width: auto;
                    height: 100%;
                }
                
                img{
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
    
    @include afterTablet{        
        .logoH{
            &, a, img{
                width: 150px;
            }
        }
        
        @if $navTopper == "on"{
            &.topper{        
                height: 50px;

                li{
                    padding-top: 0;  
                }

                a{
                    @include equalHeightAndLineHeight(50px);
                }
            }
        }
    }
    
    @include afterTabletLandscape{
        height: 130px;
        
        .logoH{
            &, a, img{
                width: 150px;
            }
        }
    } 
}