/* =============================================================================
   Media Styles | Custom [stylesMedia.scss]
   ========================================================================== */
.youTubeVideo,
.googleMap{
    @include borderRadius(6px);
    @include borderStyle($bcGreyL);
    box-sizing: border-box;
    overflow: hidden;

    iframe{
        display: block;
        width: 100.5%;
        height: 100%;
    }

    @include mobileOnly{
        width: 300px;
        height: 160px;
    }

    @include afterMobile600{
        width: 500px;
        height: 280px;
    }
    
    @include afterTablet{
        width: 600px;
        height: 330px;
    }
}

/*
300:168
400:225
450:253
500:281
600:337
700:393
800:450
*/