/* =============================================================================
   Nav Accordion Styles | Custom [stylesNavAccordion.scss]
   ========================================================================== */
@if $navAcc == "on"{
    @include navBT{
        .navMain{
            .hamb{
                margin-top: calc(-1 * calc(#{$navAccHambHeight} / 2));
            }

            .navOpen{
                @if $hamburgerOnly == "on"{
                    @include squareSize($navAccHambHeight);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                } @else {
                    width: 90px;
                    height: $navAccHambHeight;
                    background-position: 10px center;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: calc(#{$navAccHambHeight} + 5px);
                }
                @include borderRadius($navBorderRadius); 
                border: 1px solid $navBcColour_open!important;
                background-color: $navBgColour_hamburger;
                background-size: 15px;
            }

            .navClose{
                @include squareSize($navAccHambHeight);
                background-size: 15px;
                border: 1px solid $navBcColour_close!important;
            }

            ul{
                @include borderStyleV($navBcColour_navAcc);
            }

            li{                
                a,
                .topLevelItem{
                    padding-left: 15px;
                    text-transform: uppercase;
                }
            }
        }
    }
}