/* =============================================================================
   Forms Styles | Custom [stylesForms.scss]
   ========================================================================== */
fieldset{
    & + fieldset{
        margin-top: 30px;
    }

    > p{
        margin-bottom: $paddingMarginMediumValue;
        padding: $zero;
        color: $black;
    }
            
    &.invalidField{
        legend, label span{
            color: $errorColour;
        }
        
        legend{
            background-image: url('/nuevo/img/form_alert.svg');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: auto 55%;
            padding-left: 25px;
        }        
    }
}

select{
    option{
        &:checked{}
    }
}

.status, .mandatoryMsg{
    box-sizing: border-box;
    margin-bottom: 20px;
}

.status.ok, .mandatoryMsg{
    @include borderRadius(6px);
    padding: 7px 20px;
}

.status, .mandatoryMsg p{
    text-align: center;   
}

.status{    
    &.ini{
        font-size: 1.4rem;
    }

    &.ok{
        background-color: $bgGreen;
        color: $white;
    }
}

.mandatoryMsg{
    &.invalidmandatoryMsg{
        display: $block;
        background-color: $invalidMandatoryMsgBgColour;
        
        p{
            color: $invalidMandatoryMsgFontColour;     
        }
    }
}

.mandatoryMsg, .status{    
    @include afterTabletLandscape{
        @include centerCustom(80%);
    }
}

form{
    input, select, textarea{}
    
    input{
        &[type="text"]{}

        &[type="color"]{}
        &[type="email"]{
            &:valid{}
            &:invalid{}
        }
        &[type="file"]{}
        &[type="image"]{}
        &[type="password"]{}
        &[type="search"]{}
        &[type="tel"]{}
        &[type="url"]{}

        &[type="number"]{
            &:in-range{}
            &:out-of-range{}
        }
        &[type="range"]{}

        &[type="time"]{}
        &[type="date"]{}
        &[type="month"]{}
        &[type="week"]{}

        &[type="checkbox"]{
            &:checked{}
        }
        &[type="radio"]{
            &:checked{}
        }

        &:required{}
        &:disabled{}

        &.nombre{}
        &.email{}
        &.telefono{}

        &.fecha{
            background-image: url('/nuevo/img/form_calendar.svg');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 28px;
        }
    }
    
    textarea{    
        @include beforeTablet{
            height: 100px;
        }

        @include afterTablet{
            height: 100px;
        }

        @include afterTabletLandscape{
            height: 100px;        
        }

        @if $formInsideLabel == "off"{
            @include afterTabletLandscape{
                margin-bottom: $paddingMarginLargeValue;
            }        
        }
    }

    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    button{
        @include borderRadius(6px);
        margin-bottom: $zero;
        font-size: 1.4rem;
    }
    
    @if $formInsideLabel == "on"{
        label.radio{
            .radio{
                clear: $none;
                float: $left;
                margin-right: 5px!important;
            }

            @include beforeTablet{
                .mobileForm &{
                    .radio{
                        width: $formInputRadioHeightBT!important;
                        height: $formInputRadioHeightBT;
                    }

                    span{
                        width: calc(100% - calc(#{$formInputRadioHeightBT} + 10px));
                        display: block;
                        float: left;
                        height: auto;
                        margin-top: 5px;
                        line-height: 1.3em;  
                    }

                    & + .radio{
                        margin-top: 10px;
                    }
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    .radio{
                        width: $formInputRadioHeightTO!important;
                        height: $formInputRadioHeightTO;
                    }

                    &, input, span{
                        @include equalHeightAndLineHeight($formInputRadioHeightTO);
                    }
                }
            }
        }

        .labelName, .formInputErrorMsg{
            display: block;
        }

        .formInputErrorMsg{
            font-family: $arial;
            font-size: 0.8rem!important;
        }

        .labelName{
            font-family: $formLabelFontFamily;
            box-sizing: border-box;
            padding-left: 7px;
            font-size: 1.1rem!important;
        }

        .formInputErrorMsg{
            display: none;

            &.active{
                box-sizing: border-box;
                display: block;
                padding-top: 3px;
                padding-left: 10px;
                color: $errorColour;
                font-family: $arial;
                font-weight: 700;
                font-size: 0.8rem!important;
                line-height: 1.3em;
            }
        }
    }
}