/* =============================================================================
   Search Form Styles | Custom [stylesSearchForm.scss]
   ========================================================================== */
//form.searchForm
.searchForm{
    position: relative;
    width: $searchFormWidthBT;
    
    input{
        height: $searchFormSubmitValueBT;

        &[type="search"]{
            width: $searchFormWidthBT;
            border: $none;
            padding-right: calc(#{$searchFormSubmitValueBT} + 15px)!important;
            line-height: $searchFormSubmitValueBT;
        }
        
        &[type="submit"]{
            @include opacityCustomHover;
            @include bgSvg(ic_searchSubmitBT, $searchFormSubmitValueBT, center);
            position: absolute;
            top: 0;
            right: 0;
            width: $searchFormSubmitValueBT;
            border: $none;
        }
    }
    
    @include afterTablet{
        width: $searchFormWidthAT;
    
        input{
            height: $searchFormSubmitValueAT;

            &[type="search"]{
                padding-right: calc(#{$searchFormSubmitValueAT} + 5px)!important;
                line-height: $searchFormSubmitValueAT;
            }
            
            &[type="submit"]{
                @include bgSvg(ic_searchSubmitAT, $searchFormSubmitValueAT, center);
                width: $searchFormSubmitValueAT;
            }            
        }
    }
    
    @include afterLaptop{
        width: $searchFormWidthAL;
        
        input{
            height: $searchFormSubmitValueAL;

            &[type="search"]{
                padding-right: calc(#{$searchFormSubmitValueAL} + 10px)!important;
                line-height: $searchFormSubmitValueAL;
            }
            
            &[type="submit"]{
                width: $searchFormSubmitValueAL;
            }            
        }            
    }
}