/* =============================================================================
   Nav Styles | Custom [stylesNav.scss]
   ========================================================================== */
$navWidthBT: 200px;
$navDrawerWidth: 70vw;

.navMain{
    $navBorderRadius: 4px;
    z-index: $zIndexNav;

    @include beforeTablet{
        @include posTR(10px, 10px);
        position: fixed;
        width: $navWidthBT;
 
        .hamb{
            @include borderRadius($navBorderRadius); 
            @include posTR(0, 0);

            &.openNav{
                width: 90px;
                height: 40px;
                background: $white url('/framework/img/ic_hamburgerMenu.svg') no-repeat 10px center;
                background-size: 15px;
                border: 1px solid $mainBcColour!important;
                padding: 0 10px 0 30px;
                color: $hamburgerFontColour;
                font-family: $hamburgerFontFamily;
                font-size: 1rem;
                line-height: 45px;
            
                &.clicked{
                    color: $hamburgerFontColourClicked;
                }                
            }
            
            &.closeNav{
                @include borderRadius(50%);
                @include squareSize(45px);
                background: $bgWhite url('/framework/img/ic_navClose.svg') no-repeat center center;
                background-size: 20px;
                border: 2px solid $mainBcColour!important;
            }
        }
        
        @import "stylesNavDrawer";
        // @import "stylesNavList";
    }    
    
    @include afterTablet{
        .mainMenu{}
        
        li{
            &, a, .topLevelItem{
                @include equalHeightAndLineHeight(60px);
            }
            
            a, .topLevelItem{
                @include transition(1s);
            }
            
            & + li{
                margin-top: 0px;
            }
            
            &.current{
                a{
                    cursor: default;                    
                }
            }
        }    
        
        @if $navTopper == "on"{
            &.topper{
                @include borderStyleB($mainBcColour);
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;  
                background-color: $bgNavTopper;

                .hamb{
                    display: $none;
                }

                .mainMenu{
                    @include centerCustom(700px);
                    float: $none;
                    padding: 0;
                }  

                .hasSub{ 
                    display: $block;

                    &:focus, &:hover{
                        ul{
                            display: $block;
                        }
                    }
                }

                .subMenu{
                    &, &.open{
                        position: absolute;
                        display: none;
                        background-image: $bgGradBlackEighty;
                        filter: $bgGradBlackEightyFilter;
                        padding-bottom: 5px;
                    }

                    &, li{
                        width: 150px;
                    }

                    li{
                        a{
                            padding-left: 10px;
                            text-align: left;
                        }

                        &, a{
                            @include equalHeightAndLineHeight(35px);
                        }

                        & + li{
                            @include borderStyleT($bcGreyL);
                        }
                    }
                }
            }
        }
    }
    
    @include afterTabletLandscape{
        .mainMenu{
            li{
                &, a{}

                a{}

                & + li{}

                &.current{
                    a{}
                }
            }
        }
    }
}