/* =============================================================================
   Print Styles | Custom [stylesPrint.scss]
   ========================================================================== */
@media print {
    @page{
        margin: 2cm;
    }

    @page :left {
        margin-right: 3cm;
    }

    @page :right {
        margin-left: 3cm;
    }
    
    body > *:not(main),
    nav, footer{
        display: $none;
    }
    
    .logoH{
        display: block;
        height: 3cm;
        margin: 10px auto 20px;
    }
    
    a{
        &, &:visited {
            text-decoration: underline;
        }
        
        &[href^="http"]:not([href*="example.com"]):after {
            @include equalHeightAndLineHeight(30px);
            content: "(" attr(href) ")";
            font-family: monospace;
        }
    }
    
    pre,
    blockquote {
        border: 1px solid $bdGrey;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
    .gooMap {
        width: 400px;
        height: 300px;
        background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=Wien+Floridsdorf&zoom=13&scale=false&size=400x300&maptype=roadmap&format=png&visual_refresh=true');
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}