/* =============================================================================
   Tables Styles | Custom [stylesTables.scss]
   ========================================================================== */
table{
    th,
    tfoot td{
        color: $white;
        font-weight: 700;
        text-align: center;
    }    
    
    th{
        @include equalHeightAndLineHeight(30px);
    }
    
    th, td{
        padding: 0 10px;
        font-size: 0.9rem;
        font-weight: 400;
    }
}

/* // Rounded Tables -------------------------------------------------------- */
table.tableRounded{
    @include borderStyle($bdColour_main_table);
    
    th,
    tfoot td{
        background-color: $bgColour_main_table;
    }
   
    tfoot td{
        @include borderStyleT($bdColour_secondary_table);
    }
    
    tr{
        th,
        td{
            @include borderStyleB($bdColour_secondary_table);
        }
    }
    
    &.tableStriped{
        tr{
            th,
            td{
                border-bottom: $none;
            }
        }
    }
}
    
$table_width_BT: 40%;
@include beforeTablet{
    table{
        tr{
            & + tr,
            &:last-child{
                @include borderStyleT($bdGreyXD, 2px);
            }
           
            td{
                font-size: 0.8rem;
                text-align: center;
                padding-left: calc(#{$table_width_BT} + 5%);

                & + td{
                    @include borderStyleT($bdGrey);
                }
                
                &::before{
                    left: 10px;
                    width: $table_width_BT; 
                    width: 40%; 
                    font-weight: bold;
                    text-transform: uppercase;                
                }
            } 
        }
    }
    
    .tableRounded{
        tr{
            @include borderStyleB($bdColour_main_table, 2px);
            
            td{
                @include borderStyleB($bdColour_secondary_table, 1px, dotted);
            }
            
            &:last-child{
                td{
                    @include borderStyleB($bdColour_secondary_table!important);
                    
                    &:last-child{
                        @include borderStyleB($bdColour_secondary_table!important, 0);
                    }
                }
            }
        }
    }
    
    .tableStriped{
        tbody{
            tr{
                td{
                    background-color:$bgColour_table_striped_even;
                    
                    &:nth-child(odd){                        
                        background-color: darken($bgColour_table_striped_even, 10%);
                    }                    
                }
                
                &:nth-child(n+2){
                    @include borderStyleT($bgColour_table_striped_separator, 2px);
                }
                
                &:last-child{
                    @include borderStyleB($bgColour_table_striped_separator);
                }
            }
        }
    }
    
    .tableResponsiveCont{
        padding: 15px 0;
        margin: 0 auto 10px;
        
        .tableResponsive{
            @include beforeTablet{
                width: $table_width_BT;
                @include tableCustomSizesBT;        
            }
            @include afterTablet{
                width: $table_width_AT;
                @include tableCustomSizesAT;          
            }
            @include afterTabletLandscape{
                width: $table_width_ATL;
                @include tableCustomSizesATL;          
            }
            
            th{
                text-align: center;
            }
            
            td{
                @include borderStyleT($bdGrey);
                text-align: left;
                padding-left: $zero;
            }
        }
        
        .tableRounded{
            tr{
                @include borderStyleB($bdColour_main_table, 1px);
                
                td{
                    @include borderStyleB($bdColour_secondary_table, 0);
                }
                
                &:last-child td{
                    @include borderStyleB($bdColour_secondary_table!important, 0);
                }
            }
        }
    }
}