/* =============================================================================
   Nav Drawer Styles | Custom [stylesNavDrawer.scss]
   ========================================================================== */
ul{
    z-index: $zIndexNavUlDrawer;
    position: fixed;
    background-color: $bgNavDrawer;
    
    &, .subMenu{
        @include transition(0.5s); 
        top: 0;
        bottom: 0;
    }
}

> ul{
    box-sizing: border-box;
    left: calc(-1 * #{$navDrawerWidth});
    width: calc(#{$navDrawerWidth} - 5px);
    padding-top: 100px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: scroll; 
    
    > li{
        &:last-child{
            padding-bottom: 30px;
        }
        
        & + li{
            @include borderStyleT($bcNavDrawerItem);
        }
    }
    
    li{
        float: $none;    
        
        &, a, .topLevelItem{
            @include equalHeightAndLineHeight(45px);
        }

        a, .topLevelItem{
            font-size: 1rem;
            text-align: center;
        }
        
        &.current,
        &.volver,
        .topLevelItem.open{
            background-image: url('/framework/img/ic_arrowNavL.svg');
        }
        
        .topLevelItem{
            background-repeat: no-repeat;
            background-position: 10px center;
        }
        
        &.current{
            background-color: $bgNavItemCurrent;
            background-position: right 10px center;
            background-repeat: no-repeat;
            background-size: 7px;
        } 
        
        &.volver{
            @include borderStyleB($bcBlack, 2px);
        }                 
    }
    
    &.open{
        left: 0;
    }
}
    
.subMenu{
    z-index: $zIndexNavSubMenu;
    position: relative;
    top: 0;
    right: $navDrawerWidth;
    width: calc(#{$navDrawerWidth} - 10px);
    background-image: $bgGradWhiteEighty;
    filter: $bgGradWhiteEightyFilter;

    li{
        & + li{
            @include borderStyleT($bcNavDrawerItemSub);
        }
    } 

    &.open{
        right: 5px;
    }
}