/* =============================================================================
   Nav Drawer Styles | Custom [stylesNavDrawer.scss]
   ========================================================================== */
@if $navDrawer == "on"{
    @include beforeTablet{
        .navMain{
            @include posTR(10px, 10px);

            .hamb{
                @include posTR(0, 0);
            }

            .navOpen{
                @if $hamburgerOnly == "on"{
                    @include squareSize(45px);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                } @else { 
                    width: 90px;
                    height: $navDrawerHambHeight;
                    background-position: 10px center;
                    border: 1px solid $bcNavOpen!important;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: $navDrawerHambHeight;
                }
                @include borderRadius($navBorderRadius);
                background-color: $bgNavHamburger;
                background-size: 15px;
            }

            .navClose{
                @include squareSize(45px);
                background-size: 20px;
                border: 1px solid $bcNavClose!important;
            }

            > ul{
                @include borderStyleR($bcNavDrawerBT);

                li{
                    &, a, .topLevelItem{
                        @include equalHeightAndLineHeight(45px);
                    }

                    a, .topLevelItem{
                        font-size: 1rem;
                        text-align: center;
                    }     

                    &.backMenu .topLevelItem{
                        background-image: url('/nuevo/img/nav_arrowL.svg');
                    }     

                    &.backMenu{    
                        @include borderStyleB(2px, $bcBackMenuColour);

                        & + .backMenu{
                            border-color: $bcGreyD transparent $bcBackMenuColour;
                            border-width: 1px 0 2px;
                            border-style: solid;
                        }

                        .topLevelItem{
                            color: $white!important;

                            &.open{
                                background-image: url('/nuevo/img/nav_arrowD.svg'); 
                            }
                        }
                    }    
                }
            }

            @if $navHasSub == "on"{
                .subMenu{
                    li{
                        & + li{
                            @include borderStyleT($bcNavSubItemBT);
                        }
                    } 
                }
            }
        }
    }
}