/* =============================================================================
   Nav Styles | Custom [stylesNav.scss]
   ========================================================================== */
.navMain{
    @import "stylesNavDrawer";
    @import "stylesNavAccordion";
    @import "stylesNavList";
    
    @include afterTablet{
        @if $floatedLogoNav == "on"{
            float: left;
            width: calc(100% - #{$logoWAT});
        }
        
        @if $navFixed == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: 0 0 7px $black;
        }
        
        .mainMenu{
            > li{
                &.current{
                    a,
                    .topLevelItem{
                        @if $navCurrentItemBottomBc == "on"{
                            @include borderStyleB($bcNavCurrentItem, 3px);
                        }
                    }
                }
            }
        }
        
        li{
            &,
            a,
            .topLevelItem{
                @include equalHeightAndLineHeight(60px);
            }

            a,
            .topLevelItem{
                @include transition(1s);
                font-size: 0.8rem;
                padding-right: 5px;
                padding-left: 5px;
            }

            & + li{}
        }
        
        @if $navHasSub == "on"{
            .subMenu{
                $borderRadiusB: 10px;
                $subMenuW: 200px;
                
                @include borderRadiusB($borderRadiusB);
                position: absolute;
                left: 0;
                top: 40px;
                width: $subMenuW;
                margin-left: calc(-1 * (#{$subMenuW} / 2));
                
                &,
                li{}
                
                &,
                li,
                a{}
                
                a{
                    /* Texto alineado a la izq
                    padding-left: 15px;
                    text-align: left;
                    */
                }

                li{
                    display: block;
                    
                    a{}

                    &, a{}
                    
                    & + li{
                        @include borderStyleT($bcNavSubItemAT);
                    }
                    
                    &:last-child{
                        padding-bottom: 5px;
                
                        &, a{
                            @include borderRadiusB($borderRadiusB);
                        }
                    }
                }
            }
        }
        
        @if $navTopper == "on"{
            &.topper{
                @include borderStyleB($bcNavTopper); 
                position: fixed;
                right: 0;
                width: 100%; 
                
                .mainMenu{
                    @include centerCustom(770px);
                    float: $none;
                    padding: 0;
                    
                    > li{
                        padding-top: 0;
                        
                        &,
                        a,
                        .topLevelItem{
                            height: $topperHeight;
                        }
                    }
                        
                    > .current{
                        a,
                        .topLevelItem{
                            @include borderStyleB($bcNavTopperCurrentItem, 3px);
                        }
                    }

                    a,
                    .topLevelItem{
                        line-height: $topperHeight;
                    }
                }
                
                @if $navHasSub == "on"{
                    .subMenu{
                        $subMenuBorderRadiusB: 6px;
                        
                        @include borderRadiusB($subMenuBorderRadiusB);
                        top: $topperHeight;
                        left: 0;
                        background-image: $bgGradBlackEighty;
                        filter: $bgGradBlackEightyFilter;
                        padding-bottom: 5px;

                        &, li{
                            width: 150px;
                        }

                        li{
                            @include borderStyleT($bcNavSubItemAT);

                            a{
                                padding-left: 10px;
                                text-align: left;
                            }

                            &, a{
                                @include equalHeightAndLineHeight(35px);
                            }
                            
                            &:first-child{
                                @include borderStyleT($bcNavSubItemAT);
                            }
                    
                            &:last-child{
                                &, a{
                                    @include borderRadiusB($subMenuBorderRadiusB);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include tabletOnly{}
    
    @include afterTabletLandscape{
        @if $floatedLogoNav == "on"{
            width: calc(100% - #{$logoWATL});
        }
        
        .mainMenu{
            > li{
                &:focus, &:hover{
                    @if $navTextItemWhite == "on"{
                        > a,
                        > .topLevelItem{
                            text-shadow: $whiteTextHoverShadow;
                        }
                    }

                    @if $navTextItemBlack == "on"{
                        > a,
                        > .topLevelItem{
                            color: $greyXD;
                        }
                    }
                }
            }
        }
        
        li{
            &,
            a,
            .topLevelItem{}
            
            a,
            .topLevelItem{
                font-size: 1rem;
                padding-right: 10px;
                padding-left: 10px;
            }

            & + li{}
        }

        .current{
            a,
            .topLevelItem{}
        }

        @if $navTopper == "on"{
            &.topper{
                .mainMenu{}
                
                @if $navHasSub == "on"{
                    .subMenu{
                        &:focus{
                            .subMenu{
                                display: $block;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include afterDesktop{
        .current{
            a,
            .topLevelItem{
                &:focus, &:hover{
                    @if $navTextItemWhite == "on"{
                        text-shadow: 0 0 0 transparent;
                    }
                }
            }
        }
        
        @if $navTopper == "on"{
            &.topper{
                @if $navHasSub == "on"{
                    .hasSub{
                        &:hover{
                            .subMenu{
                                display: $block;
                            }
                        }
                    }
                }
            }
        }
    }
}