/* =============================================================================
   Nav Drawer Styles | Custom [stylesNavDrawer.scss]
   ========================================================================== */
@if $navDrawer == "on"{
    @include navBT{
        .navMain{
            @include posTR(10px, 10px);

            .hamb{
                @include posTR(0, 0);
            }

            .navOpen{
                @if $hamburgerOnly == "on"{
                    @include squareSize(45px);
                    background-position: center;
                    padding: $zero;
                    text-indent: -9999px;
                    
                    } @else { 
                    width: 90px;
                    height: $navDrawerHambHeight;
                    background-position: 10px center;
                    border: 1px solid $navBcColour_open!important;
                    padding: 0 10px 0 30px;
                    font-size: 1rem;
                    line-height: $navDrawerHambHeight;
                }
                
                @include borderRadius($navBorderRadius);
                background-size: 15px;
            }

            .navClose{
                @include squareSize(45px);
                background-size: 20px;
                border: 1px solid $navBcColour_close!important;
            }

            .mainMenu{
                @include borderStyleR($navBcColour_navDrawer);

                li{
                    &,
                    a,
                    .topLevelItem{
                        @include equalHeightAndLineHeight(45px);
                    }

                    a,
                    .topLevelItem{
                        font-size: 1rem;
                        text-align: center;
                    }    
                }

                > .current{
                    background-color: $navBgColour_itemCurrentLevel0_BT;
                    background-image: url('/nuevor/img/#{$navArrow_itemCurrentLevel0}');
                }   

                .backMenu{    
                    @include borderStyleB(2px, $navBcColour_backMenu);

                    & + .backMenu{
                        border-color: $bcGreyD transparent $navBcColour_backMenu;
                        border-width: 1px 0 2px;
                        border-style: solid;
                    }
                } 
            }
        
            @if $navHasSubLevel1 == "on"{            
                .subMenuLevel1{
                    > li{
                        & + li{
                            @include borderStyleT($navBcColour_itemLevel1_BT);
                        }
                    }
                }
            }
            
            @if $navHasSubLevel2 == "on"{           
                .subMenuLevel2{
                    > li{
                        & + li{
                            @include borderStyleT($navBcColour_itemLevel2_BT);
                        }
                    }
                }
            }
            
            @if $navHasSubLevel3 == "on"{          
                .subMenuLevel3{
                    > li{
                        & + li{
                            @include borderStyleT($navBcColour_itemLevel3_BT);
                        }
                    }
                }
            }
        }
    }
}