/* =============================================================================
   Index Styles | Custom [stylesIndex.scss]
   ========================================================================== */

/* -------------------------------------
    Full height index                 */
.index{  
    @if $index_fullHeight_act == "on"{  
        @include mobileOnly{
            height: calc(100vh - #{$footer_height_BT} - #{$header_height_MO});
        }

        @include afterMobileLandscape{
            height: calc(100vh - #{$footer_height_BT} - #{$header_height_AML});
        }

        @include afterTablet{
            height: calc(100vh - #{$footer_height_AT} - #{$header_height_AT});
        }

        @include afterTabletLandscape{
            height: calc(100vh - #{$footer_height_AT} - #{$header_height_ATL});
        }
    }
}
/*  Full height index
    --------------------------------- */