/* =============================================================================
   Global Variables | Custom
   ========================================================================== */
.callToAction{
    @include borderStyle($bcGrey, 2px);
    display: block;
    box-sizing: border-box;
    transition: background-color 1.8s, color 1s;
    background-color: $bgGrey;
    margin-right: auto;
    margin-left: auto;
    color: $white;
    font-family: Arial;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    
    &:focus, &:hover{
        background-color: $bgGreyL;
        border-color: $bcGreyXD;
        color: $greyD;
    }
    
    @include mobileOnly{
        width: $hundred;
    }
    
    @include beforeTablet{
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
        line-height: 1.3em;
    }
    
    @include afterTablet{
        @include equalHeightAndLineHeight(50px);        
    }
}

/* =============================================================================
   Internas Styles | Custom
   ========================================================================== */
.int{}