/* * NombreDeProyecto * ========================================================
   Tables Styles | Custom [/etc/css/custom/tables.scss]
   ========================================================================== */
table{
    th,
    tfoot td{
        color: $white;
        font-weight: 700;
        text-align: center;
    }    
    
    th{
        @include equalHeightAndLineHeight(30px);
    }
    
    th, td{
        padding: 0 10px;
        font-size: 0.9rem;
        font-weight: 400;
    }
}

/* // Rounded Tables -------------------------------------------------------- */
table.tableRounded{
    @include borderStyle($table_bdColour_main);
    
    th,
    tfoot td{
        background-color: $table_bgColour_main;
    }
   
    tfoot td{
        @include borderStyleT($table_bdColour_sec);
    }
    
    tr{
        th,
        td{
            @include borderStyleB($table_bdColour_sec);
        }
    }
    
    &.tableStriped{
        tr{
            th,
            td{
                border-bottom: $none;
            }
        }
    }
}
    
$table_before_width_BT: 40%;
@include beforeMQ768{
    table{
        tbody{
            display: block;
            width: 100%;
        }
        
        tr{
            & + tr,
            &:last-child{
                @include borderStyleT($bdGreyXD, 2px);
            }
            
            &:only-child{
                border: $none;
            }
           
            td{
                padding-left: calc(#{$table_before_width_BT} + 5%);
                font-size: 0.8rem;
                text-align: center;

                & + td{
                    @include borderStyleT($table_bdColour_main);
                }
                
                &::before{
                    left: 10px;
                    width: $table_before_width_BT; 
                    font-weight: bold;
                    text-transform: uppercase;                
                }
            } 
        }
    }
    
    .tableRounded{
        tr{
            @include borderStyleB($table_bdColour_main, 2px);
            
            td{
                @include borderStyleB($table_bdColour_sec, 1px, dotted);
            }
            
            &:last-child{
                td{
                    @include borderStyleB($table_bdColour_sec!important);
                    
                    &:last-child{
                        @include borderStyleB($table_bdColour_sec!important, 0);
                    }
                }
            }
        }
    }
    
    .tableStriped{
        tbody{
            tr{
                td{
                    background-color:$table_bgColour_striped_even;
                    
                    &:nth-child(odd){                        
                        background-color: $table_bgColour_striped_odd;
                    }                    
                }
                
                &:nth-child(n+2){
                    @include borderStyleT($table_bgColour_striped_separator, 2px);
                }
                
                &:last-child{
                    @include borderStyleB($table_bgColour_striped_separator);
                }
            }
        }
    }
    
    .tableResponsiveCont{
        padding: 15px 0;
        margin: 0 auto 10px;
        
        .tableResponsive{
            @include beforeMQ768{
                width: $table_width_BT;
                @include tableCustomSizesBT;        
            }
            @include afterMQ768{
                width: $table_width_AT;
                @include tableCustomSizesAT;          
            }
            @include afterMQ1024{
                width: $table_width_A1024;
                @include tableCustomSizesATL;          
            }
            
            th{
                text-align: center;
            }
            
            td{
                @include borderStyleT($bdGreyM);
                text-align: left;
                padding-left: $zero;
            }
        }
        
        .tableRounded{
            tr{
                @include borderStyleB($table_bdColour_main, 1px);
                
                td{
                    @include borderStyleB($table_bdColour_sec, 0);
                }
                
                &:last-child td{
                    @include borderStyleB($table_bdColour_sec!important, 0);
                }
            }
        }
    }
}