/* * NombreDeProyecto * ========================================================
   Settings Text | Custom [/etc/css/custom/text.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Reset ----------------------------------------------------------------- */
a{
    line-height: 1;
    cursor: pointer;
    img{
        border: none;
    }
}
a{
    &, &:hover{
        text-decoration: none;
    }    
}

/* // Text Selection -------------------------------------------------------- */
::-moz-selection {
    color: $txSelection_ftColour_global;
    background-color: $txSelection_bgColour_global;
    text-shadow: none;
}

::selection {
    color: $txSelection_ftColour_global;
    background-color: $txSelection_bgColour_global;
    text-shadow: none;
}

/* // General --------------------------------------------------------------- */
p{}
    
/* // Safari tel detection -------------------------------------------------- */
a[href^=tel]{
    &, &:focus, &:hover, &:active, &:visited{
        color: $ftColour_anchor_global!important;
    }
}

/* // Blockquote // REF [32] ------------------------------------------------ */
blockquote{
    margin: 0;
    
    p{
        quotes: "“" "”" "«" "»";
        /* quotes: "“" "”" "&lsquo;" "&rsquo;"; */

        &:first-child::before{
            content: open-quote;
        }

        &:last-child::after{
            content: close-quote;
        }
    }
}

q{
    quotes: "“" "”" "«" "»";
    /* quotes: "“" "”" "&lsquo;" "&rsquo;"; */
    
    &::before{
        content: open-quote;
    }
    
    &::after{
        content: close-quote;
    }
}