/* =============================================================================
   Useful Classes / Custom
   ========================================================================== */
//Text
.textShadow{text-shadow: 1px 1px 5px $greyXD}
.letterSpacing{letter-spacing: 0.05em}

//Backgrounds
body{background-color: $bodyBgColour}
@include backgroundColourClassesGenerator;
@include backgroundColourHoverClassesGenerator;
.noBackground, .bgNone{
    &, &:focus, &:hover{
        background-color: $transparent;
        background-image: $none;
    }
}
.bgTransparent{
    &, &:focus, &:hover{
        background-color: $transparent;
    }
}
.bgNoImage{
    &, &:focus, &:hover{
        background-image: $none;
    }
}
.bgError{background-color: $bgError}
.bgShadowT{background: transparent url('/nuevo/img/bg_shadowT.png') repeat-x center top}
.bgShadowB{background: transparent url('/nuevo/img/bg_shadowB.png') repeat-x center bottom}

//Borders
// b = border
// bw,bk,bg = white, black, grey

.bw{border-color: $white}
.bk{border-color: $black}
.bg{border-color: $bcGrey}

//Lists
.ulResp2 li, .ulResp3 li, .ulResp4 li{
    a{
        position: relative;
    }
    img{
        margin-right: $auto;
        margin-left: $auto;        
    }
    @include mobileOnly{
        width: 100%;
        float: $none;
        
        img{
            width: 100%;
        }
    }
    @include mobileLandscapeOnly{        
        &:nth-child(odd):last-child{
            clear: both;
            width: 100%;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
    @include afterMobileLandscape{
        width: 50%;
        
        img{
            width: auto;
        }
    }
}
.ulResp2{ li{
        @include afterTablet{
            &:nth-child(n+3){margin-top: 40px;}
        }
    }}
.ulResp3{ li{
        @include afterTablet{width: calc(100% / 3);}
    }}
.ulResp4{ li{
        @include afterTablet{width: 25%}
    }}