/* =============================================================================
   Mobile Styles
   ========================================================================== */
@include mobileOnly{
    .mWrap{
        width: 300px!important;
        margin-right: $auto;
        margin-left: $auto;
    }
}

/* =============================================================================
   Tablet Styles
   ========================================================================== */
@include tabletOnly{
    .tWrap{
        width: 750px!important;
        margin-right: $auto;
        margin-left: $auto;
    }    
}