/* * NombreDeProyecto * ========================================================
   WordPress Styles | Custom [/etc/css/custom/wp_styles.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";
.wp_styles{}