/* * NombreDeProyecto * ========================================================
   CSS Styles Main | Custom [/etc/css/custom/styles_zh.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";

//@import "../scss/charset";
//@import "var/env_var";

//@import "../scss/var_fonts";
//@import "var/fonts_main_zh_var";
//@import "var/text_zh_var";
//@import "fontFace_zh";

@use "../scss/var_all_pre" as *;

/* // Main CSS -------------------------------------------------------------- */
//@import "../scss/settings_html_body";
//@import "body";
//@import "../scss/reset_main";
//@import "reset_custom";

//@import "colours_gradients";

//@import "../scss/settings_text";
//@import "text";
//@import "classes_text"; 

//@import "includes_backgrounds";
//@import "classes_backgrounds";
//@import "shadows";

//@import "../scss/classes_useful_all";
//@import "../scss/classes_useful_responsive";

//@import "../scss/settings_container";

//@use "print";

//@import "global";
//@import "lists";
//@import "buttons";
//@import "hover";
//@import "focus";
//@use "scrollbar";
//@use "breadcrumbs";
//@use "iframe";

//@use "animation";
//@use "animation_index";

//@import "../scss/settings_form";
//@import "form";
//@use "form_search";
//@use "form_checkbox";

//@use "../scss/settings_tables";
//@use "tables";

//@import "popup";

//@import "header";
//@use "social";
//@import "footer";

//@import "../scss/settings_nav";
//@import "../scss/settings_nav_drawer";
//@import "../scss/settings_nav_accordion";
//@import "nav_main_drawer";
//@import "nav_main_accordion";
//@import "nav_main_list";
//@import "nav_main_AT";
//@import "nav_main_ALL";
//@use "nav_lang";
//@use "nav_lang_square";

//@use "slider";
//@use "slider_nav";

//@use "page_construccion";
//@use "page_copyright";
//@use "page_error";
//@use "page_index";
//@use "page_contacto";
//@use "page_gracias";

//@use "Section";
//@use "Section";
//@use "Section";
//@use "page_ Section";
//@use "page_ Section";
//@use "page_ Section";
//@use "page_xxx";
//@use "page_xxx";
//@use "page_xxx";

/* // Post ------------------------------------------------------------------ */
@use "../scss/var_all_post" as *;