/* * NombreDeProyecto * ========================================================
   CSS Styles Main | Custom [/etc/css/custom/styles_main.scss]
   ========================================================================== */
@use "sass:color";
@use "sass:map";

@use "../scss/charset" as *;
@use "var/env_var" as *;

@use "../scss/var_fonts" as *;
@use "var/fonts_main_var" as *;
@use "var/text_var" as *;
@use "fontFace" as *;

@use "../scss/var_all_pre" as *;

/* // Main CSS -------------------------------------------------------------- */
@use "../scss/settings_html_body" as *;
@use "body" as *;
@use "../scss/reset_main" as *;
@use "reset_custom" as *;

@use "colours_gradients" as *;

@use "../scss/settings_text" as *;
@use "text" as *;
@use "classes_text" as *; 

@use "includes_backgrounds" as *;
@use "classes_backgrounds" as *;
@use "shadows" as *;

@use "../scss/classes_useful_all" as *;
@use "../scss/classes_useful_responsive" as *;

@use "../scss/settings_container" as *;

//@use "print" as *;

@use "global" as *;
@use "lists" as *;
@use "buttons" as *;
@use "hover" as *;
@use "focus" as *;
//@use "scrollbar" as *;
//@use "breadcrumbs" as *;
//@use "iframe" as *;

//@use "animation" as *;
//@use "animation_index" as *;

@use "../scss/settings_form" as *;
@use "form" as *;
//@use "form_search" as *;
//@use "form_checkbox" as *;

//@use "../scss/settings_tables" as *;
//@use "tables" as *;

@use "popup" as *;

@use "header" as *;
//@use "social" as *;
@use "footer" as *;

@use "../scss/settings_nav" as *;
@use "../scss/settings_nav_drawer" as *;
@use "../scss/settings_nav_accordion" as *;
@use "nav_main_drawer" as *;
@use "nav_main_accordion" as *;
@use "nav_main_list" as *;
@use "nav_main_AT" as *;
@use "nav_main_ALL" as *;
//@use "nav_lang" as *;
//@use "nav_lang_square" as *;

//@use "slider" as *;
//@use "slider_nav" as *;

//@use "page_construccion" as *;
//@use "page_copyright" as *;
@use "page_error" as *;
@use "page_index" as *;
//@use "page_contacto" as *;
//@use "page_gracias" as *;

//@use "Section" as *;
//@use "Section" as *;
//@use "Section" as *;
//@use "page_ Section" as *;
//@use "page_ Section" as *;
//@use "page_ Section" as *;
//@use "page_xxx" as *;
//@use "page_xxx" as *;
//@use "page_xxx" as *;

/* // Post ------------------------------------------------------------------ */
@use "../scss/var_all_post" as *;