/* // Variables ------------------------------------------------------------- */
@import "../scss/charset";
@import "../scss/var_fonts";
@import "../scss/var_absolute";
@import "var/zindex_var";
@import "var/container_var";
@import "act/main_act";
@import "act/responsive_act";
@import "act/text_act";
@import "var/helpers_var";
@import "var/animations_var";
 
@import "var/colours_main_var";
@import "var/colours_borders_var";
@import "var/colours_backgrounds_var";
@import "var/shadows_var";

@import "var/fonts_main_var";
@import "var/text_var";

@import "act/logo_act";
@import "act/section_header_act";
@import "var/logo_sizes_var";
@import "var/section_header_var";

@import "act/section_nav_act";
@import "var/section_nav_colours_var";
@import "var/section_nav_arrows_var";
@import "var/section_nav_fonts_var";
@import "var/section_nav_sizes_var";
@import "var/section_nav_hamburger_var";
@import "var/section_nav_language_var";

@import "act/slider_act";
@import "var/slider_var";

@import "var/buttons_var";
@import "var/social_var";

@import "var/popup_var";

@import "act/section_footer_act";
@import "var/section_footer_var";

@import "act/forms_act";
@import "var/forms_colours_var";
@import "var/forms_fonts_var";
@import "var/forms_sizes_var";

@import "var/tables_var";
@import "var/tables_colours_var";

@import "var/global_var";
@import "var/mediaQueries_var";

@import "var/page_index_var";

/* // Mixins ---------------------------------------------------------------- */
@import "mediaQueries_mx";
@import "../scss/mixins_Sizes";
@import "../scss/mixins_backgrounds";
@import "../scss/mixins_masks";
@import "../scss/mixins_clipPath";
@import "../scss/mixins_transitions";
@import "../scss/mixins_opacity";
@import "../scss/mixins_fonts";
@import "../scss/mixins_text";
@import "../scss/mixins_colours";
@import "../scss/mixins_center";
@import "../scss/mixins_spacing";
@import "../scss/mixins_borders";
@import "../scss/mixins_positions";
@import "../scss/mixins_tables_sizes";

/* // Functions ------------------------------------------------------------- */
@import "../scss/functions_angledEdges";
@import "../scss/functions_fontStroke";

/* // Main CSS -------------------------------------------------------------- */
@import "../scss/settingsHtmlBody";
@import "styles_body";
@import "../scss/reset_main";
@import "reset_custom";

@import "colours_placeholders";
@import "colours_gradients";

@import "fontFace";
@import "../scss/settings_text";
@import "settings_text";
@import "../scss/classes_text";
@import "classes_text";

@import "includes_backgrounds";
@import "classes_backgrounds";
@import "classes_shadows";

@import "../scss/classes_animations";
@import "settings_animations";
@import "../scss/classes_all";
@import "../scss/classes_responsive";

@import "../scss/settingsContainer";

@import "styles_print";

@import "global";
@import "buttons";
//@import "breadcrumbs";
//@import "error";
//@import "media";

@import "lists";

//@import "../scss/settings_forms";
//@import "forms";
//@import "page_gracias";

//@import "../scss/reset_forms_niceIt";
//@import "forms_niceIt";
//@import "forms_search";

//@import "../scss/settings_tables";
//@import "styles_tables";

@import "../scss/settings_popup";
@import "popup";

@import "section_header";
//@import "social";
@import "section_footer";

@import "../scss/settings_nav";
@import "../scss/settings_nav_drawer";
@import "../scss/settings_nav_accordion";
@import "section_nav_drawer";
@import "section_nav_accordion";
@import "section_nav_list";
@import "section_nav_AT";
//@import "section_nav_language";

//@import "slider";
//@import "slider_nav";

//@import "page_construccion";
//@import "page_copyright";
@import "page_error";
@import "page_index";
//@import "page_contacto";
//@import "page_xxx;
//@import "page_xxx;
//@import "styles Section";
//@import "styles Section";

/* // Post ------------------------------------------------------------------ */
//@import "../scss/settings_lightbox";
//@import "lightbox";