/* * NombreDeProyecto * ========================================================
   Buttons Activators | Custom [/etc/css/custom/act/buttons_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Activadores para botones.
//
// #activator #button #class #colour #mixin #pointer


/* // Listado --------------------------------------------------------------- */
// 01 _ $button_coloured_act
// 02 _ $button_pointer_act
//
//
// 01 _ $button_coloured_act
// Activa los if que se encuentran en `[/etc/css/scss/mixins_colours.scss]`
//
// Genera selectores de color para el elemento `button`, sus pseudo-clases `:focus`
// y `:hover`, y la clase `.noHover`
//
// Ej. con color verdeAgua:
// button.verdeAgua,
// button.verdeAgua.noHover:focus,
// button.verdeAgua.noHover:hover { color: #hex; }
// button.verdeAgua:focus,
// button.verdeAgua:hover { color: #hex; }
//
// Tambien genera selectores para las pseudo-clases `:focus` y `:hover` del
// elemento `button` con clase del tipo `.bgColour`.
//
// Ej. con color verdeAgua:
// button.bgVerdeAgua:hover,
// button.bgVerdeAgua:focus { background-color: #hex; }
//
//
// 02 _ $button_pointer_act
// Activa el if que se encuentra en `[/etc/css/custom/buttons.scss]`
//
// Genera la declaración `cursor: pointer;` para el elemento `button`.
//
// button{
//    cursor: pointer;
// }



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Colours --------------------------------------------------------------- */
$button_coloured_act:   off;
    
/* // Pointers -------------------------------------------------------------- */
$button_pointer_act:    off;