/* * NombreDeProyecto * ========================================================
   Useful Classes Activators | Custom [/etc/css/custom/act/classes_useful_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Activadores para clases useful.
//
// #activator #background #border #class #container #flexbox #list #margin
// #padding #responsive #text #useful


/* // Listado --------------------------------------------------------------- */
// 01 _ $classes_container_act
// 02 _ $helpers_spacing_act
// 03 _ $classes_position_display_mask_cursor_act
// 04 _ $classes_flexbox_act
// 05 _ $classes_lists_floats_act
// 06 _ $classes_text_act
// 07 _ $classes_bg_bd_NO_act
//
//
// 01 _ $classes_container_act
// Activa los if que se encuentran en  `[/etc/css/scss/settings_container.scss]`
// Genera los margenes negativos para cada media query para la clase
// `.container_centered_absolute` que se usa junto con la clase `.container`
//
// Ej. con $classes_container_act_A500
// @media (min-width: 500px) {
//     .container.container_centered_absolute_A500{
//         position: absolute;
//         left: 50%;
//         margin-left: calc(-1 * calc(85% / 2));
//     }
// }
// @media (min-width: 767px) {
//     .container.container_centered_absolute_A500{
//         margin-left: calc(-1 * calc(720px / 2));
//     }
// }
// @media (min-width: 1024px) {
//     .container.container_centered_absolute_A500{
//         margin-left: calc(-1 * calc(900px / 2));
//     }
// }
// @media (min-width: 1200px) {
//     .container.container_centered_absolute_A500{
//         margin-left: calc(-1 * calc(900px / 2));
//     }
// }
// @media (min-width: 1600px) {
//     .container.container_centered_absolute_A500{
//         margin-left: calc(-1 * calc(900px / 2));
//     }
// }
//
//
// 02 _ $helpers_spacing_act
// 03 _ $classes_position_display_mask_cursor_act
// 04 _ $classes_flexbox_act
// 05 _ $classes_lists_floats_act
// Activan los if que se encuentran en
// `[/etc/css/scss/classes_useful_all.scss]` y
// `[/etc/css/scss/classes_useful_responsive.scss]`
//
// Genera clases para spacing helpers, positiones, display, mascaras, flexbox y
// listas.
//
//
// 06 _ $classes_text_act
// 07 _ $classes_bg_bd_NO_act
// Activan los if que se encuentran en `[/etc/css/scss/classes_useful_responsive.scss]`
//
// Activa clases responsive para texto y valores nulos para bordes y fondos.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // All ------------------------------------------------------------------- */
$helpers_spacing_act_ALL:                       on;
$classes_position_display_mask_cursor_act_ALL:  on;
$classes_flexbox_act_ALL:                       on;
$classes_lists_floats_act_ALL:                  on;

  
/* // Mobile Only MO -------------------------------------------------------- */
$classes_container_act_B500:                      off;
$helpers_spacing_act_B500:                        off;
$classes_position_display_mask_cursor_act_B500:   off;
$classes_flexbox_act_B500:                        off;
$classes_lists_floats_act_B500:                   off;
$classes_text_act_B500:                           off;
$classes_bg_bd_NO_act_B500:                       off;


/* // After Mobile Landscape AML -------------------------------------------- */
$classes_container_act_A500:                     off;
$helpers_spacing_act_A500:                       off;
$classes_position_display_mask_cursor_act_A500:  off;
$classes_flexbox_act_A500:                       off;
$classes_lists_floats_act_A500:                  off;
$classes_text_act_A500:                          off;
$classes_bg_bd_NO_act_A500:                      off;


/* // Before Mobile 600 ----------------------------------------------------- */
$classes_container_act_B600:                        off;
$classes_position_display_mask_cursor_act_B600:     on;


/* // After Mobile 600 ------------------------------------------------------ */
$classes_container_act_A600:                        on;
$helpers_spacing_act_A600:                          off;
$classes_position_display_mask_cursor_act_A600:     off;
$classes_flexbox_act_A600:                          off;
$classes_lists_floats_act_A600:                     off;
$classes_text_act_A600:                             off;
$classes_bg_bd_NO_act_A600:                         off;


/* // Mobile Landscape Only MLO --------------------------------------------- */
$classes_container_act_500O:                     off;
$helpers_spacing_act_500O:                       off;
$classes_position_display_mask_cursor_act_500O:  off;
$classes_flexbox_act_500O:                       off;
$classes_lists_floats_act_500O:                  off;
$classes_text_act_500O:                          off;
$classes_bg_bd_NO_act_500O:                      off;


/* // Before Tablet BT ------------------------------------------------------ */
$classes_container_act_B768:                      off;
$helpers_spacing_act_BT:                        off;
$classes_position_display_mask_cursor_act_BT:   on;
$classes_flexbox_act_BT:                        off;
$classes_lists_floats_act_BT:                   on;
$classes_text_act_BT:                           off;
$classes_bg_bd_NO_act_BT:                       off;


/* // Before Tablet Landscape BTL ------------------------------------------- */
$classes_container_act_B1024:                   off;
$helpers_spacing_act_BTL:                       off;
$classes_position_display_mask_cursor_act_BTL:  off;
$classes_flexbox_act_BTL:                       off;
$classes_lists_floats_act_BTL:                  off;
$classes_text_act_BTL:                          off;
$classes_bg_bd_NO_act_BTL:                      off;


/* // Tablet Only TO -------------------------------------------------------- */
$classes_container_act_A768B1024:               off;
$helpers_spacing_act_TO:                        off;
$classes_position_display_mask_cursor_act_TO:   off;
$classes_flexbox_act_TO:                        off;
$classes_lists_floats_act_TO:                   off;
$classes_text_act_TO:                           off;
$classes_bg_bd_NO_act_TO:                       off;


/* // After Tablet AT ------------------------------------------------------- */
$classes_container_act_A768:                      off; // REF [05]
$helpers_spacing_act_AT:                        off;
$classes_position_display_mask_cursor_act_AT:   on;
$classes_flexbox_act_AT:                        on;
$classes_lists_floats_act_AT:                   on;
$classes_text_act_AT:                           off;
$classes_bg_bd_NO_act_AT:                       off;


/* // After Tablet Landscape ATL -------------------------------------------- */
$classes_container_act_A1024:                     off;
$helpers_spacing_act_A1024:                       off;
$classes_position_display_mask_cursor_act_A1024:  off;
$classes_flexbox_act_A1024:                       off;
$classes_lists_floats_act_A1024:                  off;
$classes_text_act_A1024:                          off;
$classes_bg_bd_NO_act_A1024:                      off;


/* // Tablet Landscape Only TLO --------------------------------------------- */
$classes_container_act_A1024B1200:                     off;
$helpers_spacing_act_TLO:                       off;
$classes_position_display_mask_cursor_act_TLO:  off;
$classes_flexbox_act_TLO:                       off;
$classes_lists_floats_act_TLO:                  off;
$classes_text_act_TLO:                          off;
$classes_bg_bd_NO_act_TLO:                      off;


/* // Tablet Landscape Only TTLO -------------------------------------------- */
$classes_container_act_TTLO:                    off;
$helpers_spacing_act_TTLO:                      off;
$classes_position_display_mask_cursor_act_TTLO: off;
$classes_flexbox_act_TTLO:                      off;
$classes_lists_floats_act_TTLO:                 off;
$classes_text_act_TTLO:                         off;
$classes_bg_bd_NO_act_TTLO:                     off;


/* // Before Desktop BD ----------------------------------------------------- */
$classes_container_act_B1200:                      off;
$helpers_spacing_act_B1200:                        off;
$classes_position_display_mask_cursor_act_B1200:   off;
$classes_flexbox_act_B1200:                        off;
$classes_lists_floats_act_B1200:                   off;
$classes_text_act_B1200:                           off;
$classes_bg_bd_NO_act_B1200:                       off;


/* // After Laptop AL ------------------------------------------------------- 
$classes_container_act_AL:                      off;
$helpers_spacing_act_AL:                        off;
$classes_position_display_mask_cursor_act_AL:   off;
$classes_flexbox_act_AL:                        off;
$classes_lists_floats_act_AL:                   off;
$classes_text_act_AL:                           off;
$classes_bg_bd_NO_act_AL:                       off; */


/* // After Desktop A1200 --------------------------------------------------- */
$classes_container_act_A1200:                      off;
$helpers_spacing_act_A1200:                        off;
$classes_position_display_mask_cursor_act_A1200:   off;
$classes_flexbox_act_A1200:                        off;
$classes_lists_floats_act_A1200:                   off;
$classes_text_act_A1200:                           off;
$classes_bg_bd_NO_act_A1200:                       off;


/* // After Desktop A1300 --------------------------------------------------- */
$classes_container_act_A1300:                     off;


/* // After Desktop A1400 --------------------------------------------------- */
$classes_container_act_A1400:                     off;


/* // After Desktop A1500 --------------------------------------------------- */
$classes_container_act_A1500:                     off;


/* // After Desktop A1600 --------------------------------------------------- */
$classes_container_act_A1600:                     on;