/* * NombreDeProyecto * ========================================================
   Footer Activators | Custom [/etc/css/custom/act/footer_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables activadoras.
//
// #activator #flexbox #footer


/* // Listado --------------------------------------------------------------- */
// 01 _ $footer_floatedContent_act
//
//
// 01 _ $footer_floatedContent_act
// REF [20]
//
// Activa los if que se encuentran en
// `[/etc/css/custom/footer.scss].
//
// Genera declaraciones para `.logo_footer_container` y `.logo_footer_container`.
// Deben estar dentro de un contenedor con `.displayFlex`.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D              = mobile, tablet, desktop
// B, A, O, L, MQ       = before, after, only, landscape, mediaQuery

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Logo y dirección flotados --------------------------------------------- */
$footer_floatedContent_act_B500:    off;
$footer_floatedContent_act_A500:    off;
$footer_floatedContent_act_500O:    off;
$footer_floatedContent_act_A600:    off;
$footer_floatedContent_act_AT:      off;
$footer_floatedContent_act_ATL:     off;