/* * NombreDeProyecto * ========================================================
   Forms activators | Custom [/etc/css/custom/act/form_act.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Activadores para elementos de form.
//
// #activator #button #class #colour #form #input #label #mixin #submit
// #tooltip #validation


/* // Listado --------------------------------------------------------------- */
// 01 _ $form_label_inside_act
// 02 _ $form_label_coloured_act
// 03 _ $form_label_floating_act
// 04 _ $form_input_coloured_act
// 05 _ $form_input_border_act // REF [35]
// 06 _ $form_submit_border_act // REF [21a]
// 07 _ $form_span_invalid_tooltip_act // REF [16]
//
//
// 01 _ $form_label_inside_act
// Activa los if que se encuentran en
// `[/etc/css/custom/forms.scss]` y
// `[/etc/css/scss/settings_forms.scss]`
//
// Genera estilos para campos dentro o fuera de la label, segun este activada.
//
//
// 02 _ $form_label_coloured_act
// Activa el if que se encuentra en `[/etc/css/scss/mixins_colours.scss]`
//
// Genera selectores de color para `label` y sus pseudo-clases `:focus` y
// `:hover`.
//
// Ej. con color verdeAgua:
// label.verdeAgua,
// label.verdeAgua:focus,
// label.verdeAgua:hover { color: #hex; }
//
//
// 03 _ $form_label_floating_act
// REF [39]
// Activa el if que se encuentra en `[/etc/css/custom/form.scss]`
//
// Genera selectores de color para `.form_label_name`.
//
// Ej.:   
// .form_label_name{
//     @include transition(0.5s);
//     position: absolute;
//     top: 0;
//     left: 0;
// }
// label{
//     overflow: hidden;
// 
//     &:focus,
//     &:focus-visible,
//     &:hover{            
//         .form_label_name{
//             top: -60px;
//         }
//     }
// }
//
//
// 04 _ $form_input_coloured_act
// Activa el if que se encuentra en `[/etc/css/scss/mixins_colours.scss]`.
//
// Genera selectores para las pseudo-clases `:focus` y `:hover` de los
// elementos `ìnput[type="submit"]` e `input[type="file"]` con clase del tipo
// `.bgColour`.
//
// Ej. con color verdeAgua:
// input[type="submit"].bgVerdeAgua:hover,
// input[type="submit"].bgVerdeAgua:focus { background-color: #hex; }
// input[type="file"].bgVerdeAgua:hover,
// input[type="file"].bgVerdeAgua:focus { background-color: #hex; }
//
//
// 05 _ $form_input_border_act
// REF [35]
// Activa el if que se encuentra en `[/etc/css/custom/form.scss]`.
//
// Genera selectores de color de borde para `input`, `select` y 
// `textarea`, y sus pseudo-clases `:focus` y `:hover`.
// Usa las variables `$form_input_bdColour`, y 
// `$form_input_bdColour_hover` para las pseudo-clases `:focus` y `:hover`.
//
// Ej.
// form input,
// form select,
// form textarea { border: 1px solid #hex; }
//
// form input:focus,
// form input:hover,
// form select:focus,
// form select:hover,
// form textarea:focus,
// form textarea:hover { border-color: #hex; }
//
//
// 06 _ $form_submit_border_act
// REF [21a]
// Activa el if que se encuentra en `[/etc/css/custom/form.scss]`.
//
// Genera selectores de color de borde para `input[type="reset"]`, `input[type="submit"]`,
// `input[type="button"]` y `button` y sus pseudo-clases `:focus` y `:hover`.
// Usa las variables `$button_form_submit_bdColour`, y 
// `$button_form_submit_bdColour_hover` para las pseudo-clases `:focus` y `:hover`.
//
// Ej.
// form input[type="reset"],
// form input[type="submit"],
// form input[type="button"],
// form button { border: 1px solid #hex; }
//
// form input[type="reset"]:focus,
// form input[type="reset"]:hover,
// form input[type="submit"]:focus,
// form input[type="submit"]:hover,
// form input[type="button"]:focus,
// form input[type="button"]:hover,
// form button:focus,
// form button:hover { border-color: #hex; }
//
//
// 07 _ $form_span_invalid_tooltip_act
// REF [16]
// Activa el if que se encuentra en `[/etc/css/custom/form.scss]`.
//
// Genera un elemento flotante sobre el input para indicar un error de
// validación, usando pseudo-elementos `::before` y `::after`.


/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Form Label ------------------------------------------------------------ */
$form_label_inside_act:             on;
$form_label_coloured_act:           off;
$form_label_floating_act:           off; // REF [39]

/* // Form Input ------------------------------------------------------------ */
$form_input_coloured_act:           off;
$form_input_border_act:             on; // REF [35]

/* // Form Button Submit // REF [21] ---------------------------------------- */
$form_submit_border_act:            off; // REF [21a]

/* // Form Validation ------------------------------------------------------- */
$form_span_invalid_tooltip_act:     off; // REF [16]

/* // Form Status ----------------------------------------------------------- */
$form_status_ok_tick:               off; // REF [29]