/* * NombreDeProyecto * ========================================================
   Forms activators | Custom [/etc/css/custom/act/form_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Activadores para elementos de form.
//
// #activador #form #label #input #validation #class #mixin #colour


/* // Listado --------------------------------------------------------------- */
// 01 _ $form_label_inside_act
// 02 _ $form_label_coloured_act
// 03 _ $form_input_coloured_act
// 04 _ $form_span_invalid_tooltip_act // REF [16]
//
//
// 01 _ $form_label_inside_act
// Activa los if que se encuentran en
// `[/etc/css/custom/forms.scss]` y
// `[/etc/css/scss/settings_forms.scss]`
//
// Genera estilos para campos dentro o fuera de la label, segun este activada.
//
//
// 02 _ $form_label_coloured_act
// Activa el if que se encuentra en `[/etc/css/scss/mixins_colours.scss]`
//
// Genera selectores de color para `label` y sus pseudoclases `:focus` y
// `:hover`.
//
// Ej. con color verdeAgua:
// label.verdeAgua,
// label.verdeAgua:focus,
// label.verdeAgua:hover { color: #hex; }
//
//
// 03 _ $form_input_coloured_act
// Activa el if que se encuentra en `[/etc/css/scss/mixins_colours.scss]`
//
// Genera selectores para las pseudoclases `:focus` y `:hover` de los
// elementos `ìnput[type="submit"]` e `input[type="file"]` con clase del tipo
// `.bgColour`.
//
// Ej. con color verdeAgua:
// input[type="submit"].bgVerdeAgua:hover,
// input[type="submit"].bgVerdeAgua:focus { background-color: #hex; }
// input[type="file"].bgVerdeAgua:hover,
// input[type="file"].bgVerdeAgua:focus { background-color: #hex; }



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Form Label ------------------------------------------------------------ */
$form_label_inside_act:             on;
$form_label_coloured_act:           off;

/* // Form Input ------------------------------------------------------------ */
$form_input_coloured_act:           off;

/* // Form Submit ----------------------------------------------------------- */
$form_submit_border_act:            off;

/* // Form Validation ------------------------------------------------------- */
$form_span_invalid_tooltip_act:     off; // REF [16]