/* * NombreDeProyecto * ========================================================
   Header Activators | Custom [/etc/css/custom/act/header_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Activadores para Section Header.


/* // Listado --------------------------------------------------------------- */
// 01 _ $header_logoNav_floated_act
// 02 _ Logo Nav Floated Flexbox
// 03 _ Header Fixed
//
//
// 01 _ $header_logoNav_floated_act
// Activa los if que se encuentran en `[/etc/css/custom/_header.scss]` y
// `[/etc/css/custom/_nav_AT.scss]`.
//
// Imprime:
// #header .logo_header{
//     box-sizing: border-box;
//     float: left;
//     padding-right: 20px;
//     padding-left: 20px; 
// }
// .nav_main{
//     float: left;
//     width: calc(100% - $logo_width);
// }
// .nav_main .nav_main_ul > li{
//     float: left;
// }
//
//
// 02 _ $header_logoNav_floated_flexbox_act
// Activa los if que se encuentran en
// `[/etc/css/custom/_header.scss]` y `[/etc/css/custom/_nav_AT.scss]`.
//
// Imprime:
// #header .container{
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-content: flex-start;
//     align-items: flex-start;     
// }
// #header .logo_header{
//     box-sizing: border-box;     
// }
// .nav_main{
//     width: calc(100% - $logo_width);
// }
// .nav_main .nav_main_ul.navAT{
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: flex-end;
//     align-content: flex-start;
//     align-items: flex-start; 
// }
//
//
// 03 _ $header_fixed_act_mq
// REF [08]
// Activa los if que se encuentran en
// `[/etc/css/custom/imp/page_headerFixed_imp.scss]` y
// `[/etc/css/custom/imp/header_headerFixed_imp.scss]`.
//
// Imprime:
// #header{
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     box-shadow: $bxShadow_header_fixed;
//     height: $header_height;
// }
// #main{
//     padding-top: $page_PT;
// }

            

/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic
    


/* // Menu y logo ----------------------------------------------------------- */
$header_logoNav_floated_act:                    off;      

///-- Si se activa $header_logoNav_floated_flexbox_act_AT el header debe tener un
///-- container, el que va a tener los estilos de la clase .displayFlex
$header_logoNav_floated_flexbox_act_AT:         off;
$header_logoNav_floated_flexbox_act_A1024:      off;
$header_logoNav_floated_flexbox_act_A1100:      off;
$header_logoNav_floated_flexbox_act_A1200:      off;
    
    
/* // Header // REF [08] ---------------------------------------------------- */
$header_fixed_act_ALL:      off;
$header_fixed_act_B500:     off;
$header_fixed_act_A500:     off;
$header_fixed_act_500O:     off;
$header_fixed_act_BT:       off;
$header_fixed_act_AT:       off;
$header_fixed_act_nav_BT:   off; // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
$header_fixed_act_nav_AT:   off; // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
$header_fixed_act_A1024:    off;