/* =============================================================================
   Classes Activators | Custom [act/main_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A              = horizontal, vertical, all

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Colours --------------------------------------------------------------- */
    $colouredButtons_act:   off;
    $colouredLabels_act:    off;
    $colouredInputs_act:    off;
    
    
/* // Fonts ----------------------------------------------------------------- */
    $openSans_classes_act:  off;

    
/* // Text ------------------------------------------------------------------ */
    $anchorUnderline:       on;    
    
/* // Pointers -------------------------------------------------------------- */
    $button_pointer_act:    off;
    
/* // Full heights sections ------------------------------------------------- */
    $fullHeight_index_act_ALL:     off;
    $fullHeight_index_act_MO:      off;
    $fullHeight_index_act_AML:     off;
    $fullHeight_index_act_MLO:     off;
    $fullHeight_index_act_BT:      off;
    $fullHeight_index_act_AT:      off;
    $fullHeight_index_act_TO:      off;
    $fullHeight_index_act_BTL:     off;
    $fullHeight_index_act_ATL:     off;
    $fullHeight_index_act_TLO:     off; 
    $fullHeight_index_act_BD:      off; 
    $fullHeight_index_act_AD:      off; 
    
    $fullHeight_sections_act_ALL:  off;
    $fullHeight_sections_act_MO:   off;
    $fullHeight_sections_act_AML:  off;
    $fullHeight_sections_act_MLO:  off;
    $fullHeight_sections_act_BT:   off;
    $fullHeight_sections_act_AT:   off;
    $fullHeight_sections_act_TO:   off;
    $fullHeight_sections_act_BTL:  off;
    $fullHeight_sections_act_ATL:  off;
    $fullHeight_sections_act_TLO:  off; 
    $fullHeight_sections_act_BD:   off; 
    $fullHeight_sections_act_AD:   off;   