/* * NombreDeProyecto * ========================================================
   Nav Activators | Custom [/etc/css/custom/act/nav_main_act.scss]
   ========================================================================== */ 

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables activadoras.
//
// #activator #button #hamburger #nav #navsub


/* // Listado --------------------------------------------------------------- */
// 01 _ $hamburger_only_act
// 02 _ $nav_text_white_act / $nav_text_black_act
//
//
// 01 _ $hamburger_only_act
// REF [11]
// Activa los if que se encuentran en
// `[/etc/css/scss/settings_nav.scss]`,
// `[/etc/css/custom/nav_accordion.scss]` y
// `[/etc/css/custom/nav_drawer.scss]`.
//
//
// 02 _ $nav_text_white_act / $nav_text_black_act
// REF [12]
// Activa los if que se encuentran en `[/etc/css/custom/nav_AT.scss]`.
//
//
// 03 _ $nav_horizontalCenter_act
// Activa el if que se encuentran en `[/etc/css/custom/nav_AT.scss]`.
//
//
// 04 _ $nav_fixed_AT_act
// REF [15]
// Activa el if que se encuentra en `[/etc/css/custom/nav_main_AT.scss]`.
// Genera declaraciones para el selector `.nav_main` AT
//
// .nav_main{
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     box-shadow: $bxShadow_main_smooth;
// }
//
//
// 05 _ $nav_item_current_bdB_act
// REF [17]
// Activa el if que se encuentran en `[/etc/css/custom/nav_AT.scss]`.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Nav Main -------------------------------------------------------------- */
$hamburger_only_act:                off; // REF [11] Activador

$nav_text_white_act:                off; // REF [12] Activador
$nav_text_black_act:                off; // REF [12] Activador

$nav_horizontalCenter_AT_act:       off;
$nav_horizontalCenter_TO_act:       off;
$nav_horizontalCenter_A1024_act:      off;
     
$nav_topper_act:                    off;
$nav_fixed_AT_act:                  off; // REF [15]
     
$nav_double_A768_act:                 off; // Ver `[/src/var/act/nav.act.inc.php]`
$nav_drawer_act:                    on; // Ver `[/src/var/act/nav.act.inc.php]`
$nav_accordion_act:                 off; // Ver `[/src/var/act/nav.act.inc.php]`
$nav_list_act:                      off;
     
$nav_hasSub_act:                    off;
$nav_hasSub_level1_act:             off;
$nav_hasSub_level2_act:             off;
$nav_hasSub_level3_act:             off;
$nav_sub_centered_AT:               off;

$nav_item_current_bdB_act:          off; // REF [17]