/* =============================================================================
   Page Internal Activators | Custom [act/page_int_act.scss]
   ========================================================================== */
    
/* // Full height ----------------------------------------------------------- */
$page_int_fullHeight_act_ALL:  off;
$page_int_fullHeight_act_MO:   off;
$page_int_fullHeight_act_AML:  off;
$page_int_fullHeight_act_MLO:  off;
$page_int_fullHeight_act_BT:   off;
$page_int_fullHeight_act_AT:   off;
$page_int_fullHeight_act_TO:   off;
$page_int_fullHeight_act_BTL:  off;
$page_int_fullHeight_act_ATL:  off;
$page_int_fullHeight_act_TLO:  off; 
$page_int_fullHeight_act_BD:   off; 
$page_int_fullHeight_act_AD:   off; 