/* * NombreDeProyecto * ========================================================
   Page Index Activators | Custom [/etc/css/custom/act/page_index_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Activadores para Page Index.
//
// #activator #footer #fullHeight #header #index


/* // Listado --------------------------------------------------------------- */
// 01 _ Page index Full Height
// 02 _ Index Only Full Height
//
//
// 01 _ Page index Full Height
// Activa los if que se encuentran en
// `[/etc/css/custom/imp/page_index_fullHeight_imp.scss]`
// y se importa en
// `[/etc/css/custom/page_index.scss]`
//
// Ej. $page_index_fullHeight_act_AML = "on" imprime:
// @media (min-width: 500px) {
//     .page_index {
//         height: calc(100vh - $footer_height_AML - $header_height_AML);
//     }
// }
//
//
// 02 _ Index Only Full Height
// Activa los if que se encuentran en
// `[/etc/css/custom/imp/page_index_fullHeight_imp.scss]`,
// `[/etc/css/custom/imp/footer_fullHeight_imp.scss]` y
// `[/etc/css/custom/imp/header_fullHeight_imp.scss]`
//
// y se importan en
// `[/etc/css/custom/page_index.scss]`,
// `[/etc/css/custom/footer.scss]` y 
// `[/etc/css/custom/header.scss]`
// respectivamente.
//
// Con Index Full Height activado la variable $header_height no puede ser `auto`
// REF [04] `[/etc/css/custom/var/header_var.scss]`
// Además de imprimir lo mismo que `01 Full Height` imprime:
//
// #header.header_index{
//     height: $header_height;
// }
//
// #footer.footer_index{
//     height: $footer_height;
// }



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic

    
    
// 01 _ Page index Full Height ---------------------------------------------- */
$page_index_fullHeight_act_ALL:     off;
$page_index_fullHeight_act_MO:      off;
$page_index_fullHeight_act_AML:     off;
$page_index_fullHeight_act_MLO:     off;
$page_index_fullHeight_act_BT:      off;
$page_index_fullHeight_act_AT:      off;
$page_index_fullHeight_act_TO:      off;
$page_index_fullHeight_act_BTL:     off;
$page_index_fullHeight_act_ATL:     off;
$page_index_fullHeight_act_TLO:     off; 
$page_index_fullHeight_act_BD:      off; 
$page_index_fullHeight_act_AD:      off; 

/* // 02 Index Only Full Height --------------------------------------------- */
$page_index_only_fullHeight_act_ALL:     off;
$page_index_only_fullHeight_act_MO:      off;
$page_index_only_fullHeight_act_AML:     off;
$page_index_only_fullHeight_act_MLO:     off;
$page_index_only_fullHeight_act_BT:      off;
$page_index_only_fullHeight_act_AT:      off;
$page_index_only_fullHeight_act_TO:      off;
$page_index_only_fullHeight_act_BTL:     off;
$page_index_only_fullHeight_act_ATL:     off;
$page_index_only_fullHeight_act_TLO:     off; 
$page_index_only_fullHeight_act_BD:      off; 
$page_index_only_fullHeight_act_AD:      off; 