/* * NombreDeProyecto * ========================================================
   Page section Activators | Custom [/etc/css/custom/act/page_section_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables activadoras para el selector `#main section`.


/* // Listado --------------------------------------------------------------- */
// 01 _ Page section Full Height
//
//
// 01 _ Page section Full Height
// Activa los if que se encuentran en
// `[/etc/css/custom/imp/page_section_fullHeight_imp.scss]`,
// `[/etc/css/custom/imp/section_footer_fullHeight_imp.scss]` y
// `[/etc/css/custom/imp/section_header_fullHeight_imp.scss]`
//
// y se importan en `[/etc/css/custom/global.scss]`,
// `[/etc/css/custom/section_footer.scss]` y 
// `[/etc/css/custom/section_header.scss]`
// respectivamente.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


    
/* // 01 Page section Full height ------------------------------------------- */
$page_section_fullHeight_act_ALL:  off;
$page_section_fullHeight_act_MO:   off;
$page_section_fullHeight_act_AML:  off;
$page_section_fullHeight_act_MLO:  off;
$page_section_fullHeight_act_BT:   off;
$page_section_fullHeight_act_AT:   off;
$page_section_fullHeight_act_TO:   off;
$page_section_fullHeight_act_BTL:  off;
$page_section_fullHeight_act_ATL:  off;
$page_section_fullHeight_act_TLO:  off; 
$page_section_fullHeight_act_BD:   off; 
$page_section_fullHeight_act_AD:   off; 