/* =============================================================================
   Nav Activators | Custom [/etc/css/custom/act/section_nav_act.scss]
   ========================================================================== */   

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables activadoras.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$nav_horizontalCenter_AT_act:       off;
$nav_horizontalCenter_TO_act:       off;
$nav_horizontalCenter_ATL_act:      off;
     
$nav_topper_act:                    off;
$nav_fixed_AT_act:                  off;
     
$nav_double_AT_act:                 off; // Ver `[/src/var/act/nav.act.inc.php]`
$nav_drawer_act:                    on; // Ver `[/src/var/act/nav.act.inc.php]`
$nav_accordion_act:                 off; // Ver `[/src/var/act/nav.act.inc.php]`
$nav_list_act:                      off;
     
$nav_hasSub_act:                    off;
$nav_hasSub_level1_act:             off;
$nav_hasSub_level2_act:             off;
$nav_hasSub_level3_act:             off;
$nav_sub_centered_AT:               off;

$nav_item_current_bdB_act:          off;

$nav_text_white_act:                off;
$nav_text_black_act:                off;

$hamburger_only_act:                off;


/* // Language -------------------------------------------------------------- */
$nav_language_flag_rounded_act:        off;
$language_menu_navDrawer_clicked_act:  off;