/* =============================================================================
   Nav Activators | Custom [act/section_nav_act.scss]
   ========================================================================== */     
$nav_horizontalCenter_AT_act:       off;
$nav_horizontalCenter_TO_act:       off;
$nav_horizontalCenter_ATL_act:      off;
     
$nav_topper_act:                    off;
$nav_fixed_AT_act:                  off;
     
$nav_drawer_act:                    on; // /var/nav.act.inc.php
$nav_accordion_act:                 off; // /var/nav.act.inc.php
$nav_list_act:                      off;
     
$nav_hasSub_act:                    off;
$nav_hasSub_level1_act:             off;
$nav_hasSub_level2_act:             off;
$nav_hasSub_level3_act:             off;

$nav_item_current_bdB_act:          off;

$nav_text_white_act:                off;
$nav_text_black_act:                off;

$hamburger_only_act:                off;


/* // Language -------------------------------------------------------------- */
$nav_language_flag_rounded_act:        off;
$language_menu_navDrawer_clicked_act:  off;