/* * NombreDeProyecto * ========================================================
   Slider Activators | Custom [/etc/css/custom/act/slider_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Este archivo contiene las variables de activacion para generar los estilos
// de flechas, flechas para carruseles y indicadores de pagina o "slide activo".
//
// Lo que se active en este archivo luego debe configurarse en el .js
// correspondiente al Slider.
//
/* // Listado --------------------------------------------------------------- */
// 01 _ Slider Arrows
// 02 _ Slider Arrows Carrusel
// 03 _ Slider Dots
//
//
// 01 _ Slider Arrows
// Activa los if que se encuentran en `[/etc/css/custom/_slider_arrows_imp.scss]`.
//
// Imprime:
//       
// .slickPrev{}       
// .slickNext{}
//
// 02 _ Slider Arrows Carrusel
// Activa los if que se encuentran en `[/etc/css/custom/_slider_arrows_imp.scss]`.
//
// Imprime:
//       
// .slick_carousel .slickPrev{}       
// .slick_carousel .slickNext{}
//
//
// 03 _ Slider Dots
// Activa los if que se encuentran en `[/etc/css/custom/_slider_arrows_imp.scss]`.
//
// Imprime:
//
// .slickDots{}
// .slickDots li{} 
// .slickDots li button{}      



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$slider_arrows_act:              off;
$slider_arrows_carousel_act:     off; //Si este es ON, $slider_arrows_act tambien debe ser ON
$slider_dots_act:                off;