/* * NombreDeProyecto * ========================================================
   Slider Activators | Custom [/etc/css/custom/act/slider_act.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Este archivo contiene las variables de activacion para generar los estilos
// de flechas, flechas para carruseles e indicadores de pagina o "slide activo".
//
// Lo que se active en este archivo luego debe configurarse en el .js
// correspondiente al Slider.


/* // Listado --------------------------------------------------------------- */
// 01 _ Slider Arrows
// 02 _ Slider Arrows Carrusel
// 03 _ Slider Dots
// 04 _ Slider Vertical
//
//
// 01 _ Slider Arrows
// Activa el if que se encuentran en `[/etc/css/custom/slider_arrows_imp.scss]`.
//
// Imprime:
// .slickPrev{}       
// .slickNext{}
//
//
// 02 _ Slider Arrows Carrusel
// REF [34]
// Activa los if que se encuentran en 
// `[/etc/css/custom/slider.scss]`, y
// `[/etc/css/custom/slider_arrows_imp.scss]`.
//
// Imprime:
// .slick.slick_carousel{}
// .slick.slick_carousel .slick-list{}
//
// .slick_carousel .slickPrev{}       
// .slick_carousel .slickNext{}
//
//
// 03 _ Slider Dots
// Activa el if que se encuentran en `[/etc/css/custom/imp/slider_dots_imp.scss]`.
//
// Imprime:
// .slickDots{}
// .slickDots li{} 
// .slickDots li.slickActive{} 
// .slickDots li button{}   
//
//
// 04 _ Slider Vertical 
// REF [09]
// Activa el if que se encuentran en `[/etc/css/custom/slider.scss]`.  



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D              = mobile, tablet, desktop
// B, A, O, L, MQ       = before, after, only, landscape, mediaQuery

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Arrows ---------------------------------------------------------------- */
$slider_arrows_act:             off;
$slider_arrows_carousel_act:    off; // REF [34] Si este es ON, $slider_arrows_act tambien debe ser ON

/* // Dots / Pagination ----------------------------------------------------- */
$slider_dots_act:               off;

/* // Slider vertical ------------------------------------------------------- */
$slider_vertical_act:           off; // REF [09]