/* =============================================================================
   Parallax Scroll
   ========================================================================== */
@use "sass:color";
@use "sass:map";
html,body{
    overflow:hidden;
/*    height:100%;min-height:100%;position:relative;*/
}
#header{
    position:fixed;
    top:0;
    z-index:10;
    width:100%;
    height:30px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
    background:linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-8 */
/* http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+100;Custom */
}
#header nav ul{
    width:260px;
    margin:0 0 0 -130px;
    left:50%;
}
#header nav a{font-size:0.8em}

/* scroll */
.paContainer{
  perspective:1px;
  height:100vh;
  overflow-x:hidden;
  overflow-y:auto;
}
.paGroup{
  height:100vh;
  transform-style:preserve-3d;
  transition:transform 0.5s ease 0s;
}
.paLayer{
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.paLayer p{}
.paBase{transform:translateZ(0)}
.paBack{transform:translateZ(-1px) scale(2)}
.paBehind{transform:translateZ(-2px) scale(3)}
.paDeep{transform:translateZ(-3px) scale(4)}

.uno{z-index:10}
.uno .paBase{background:url('/img/bgUnoBase.png') no-repeat center center}
.uno .paBack{background:url('/img/bgUnoBack.png') no-repeat center center}
.uno .paBehind{background:url('/img/bgUnoBehind.png') no-repeat center center}
.uno .paDeep{background:#eee url('/img/bgUnoDeep.png') no-repeat center center}

.dos{z-index:5}
/*.dos .paBase{background:#ff2856}
.dos .paBack{background:#d82248}
.dos .paBehind{background:#ac1b3a}*/
.dos .paDeep{background:#aaa}

.tre{z-index:15}
.tre .paBase{background:url('/img/bgparallax01.png') no-repeat center center}
.tre .paBack{background:url('/img/bgparallax02.png') no-repeat center center}
.tre .paBehind{background:url('/img/bgparallax03.png') no-repeat center center}
.tre .paDeep{background:#999 url('/img/bgparallax04.png') no-repeat center center}

.cua{z-index:20}
.cua .paBase{background:url('/img/bgDosBase.png') no-repeat center center}
.cua .paBack{background:url('/img/bgDosBack.png') no-repeat center center}
.cua .paBehind{background:url('/img/bgDosBehind.png') no-repeat center center}
.cua .paDeep{background:#eee url('/img/bgDosDeep.png') no-repeat center center}