/* =============================================================================
   Classes Activators | Custom [activators/main_act.scss]
   ========================================================================== */
/* // References ------------------------------------------------------------ */
///-- Spacing
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A              = horizontal, vertical, all

///-- Screen Sizes
// M, L, T, D, DL       = mobile, landscape, tablet, desktop, desktop large
// B, A, O              = before, after, only

///-- Colours
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fonts
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


/* // Colours --------------------------------------------------------------- */
    $colouredButtons_act:   off;
    $colouredLabels_act:    off;
    $colouredInputs_act:    off;
    
    
/* // Fonts ----------------------------------------------------------------- */
    $openSans_classes_act:  off;

    
/* // Text ------------------------------------------------------------------ */
    $anchorUnderline:       on;    
    
/* // Pointers -------------------------------------------------------------- */
    $button_pointer_act:    off;
    
/* // Full heights sections ------------------------------------------------- */
    $fullHeight_index_act_ALL:     off;
    $fullHeight_index_act_MO:      off;
    $fullHeight_index_act_AML:     off;
    $fullHeight_index_act_MLO:     off;
    $fullHeight_index_act_BT:      off;
    $fullHeight_index_act_AT:      off;
    $fullHeight_index_act_TO:      off;
    $fullHeight_index_act_BTL:     off;
    $fullHeight_index_act_ATL:     off;
    $fullHeight_index_act_TLO:     off; 
    $fullHeight_index_act_BD:      off; 
    $fullHeight_index_act_AD:      off; 
    
    $fullHeight_sections_act_ALL:  off;
    $fullHeight_sections_act_MO:   off;
    $fullHeight_sections_act_AML:  off;
    $fullHeight_sections_act_MLO:  off;
    $fullHeight_sections_act_BT:   off;
    $fullHeight_sections_act_AT:   off;
    $fullHeight_sections_act_TO:   off;
    $fullHeight_sections_act_BTL:  off;
    $fullHeight_sections_act_ATL:  off;
    $fullHeight_sections_act_TLO:  off; 
    $fullHeight_sections_act_BD:   off; 
    $fullHeight_sections_act_AD:   off;   