/* =============================================================================
   Helpers Responsive Classes Activators | Custom [activators/responsive.scss]
   ========================================================================== */
/* // References ------------------------------------------------------------ */
///-- Spacing
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A              = horizontal, vertical, all

///-- Screen Sizes
// M, L, T, D, DL       = mobile, landscape, tablet, desktop, desktop large
// B, A, O              = before, after, only

///-- Colours
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fonts
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


/* // All ------------------------------------------------------------------- */
$helpers_spacing_act_ALL:                             on;
$classes_pos_display_sizes_masks_cursors_act_ALL:     on;
$classes_flexbox_act_ALL:                             on;
$classes_lists_floats_act_ALL:                        on;

  
/* // Mobile Only MO -------------------------------------------------------- */
$classes_container_act_MO:                            off;
$helpers_spacing_act_MO:                              off;
$classes_pos_display_sizes_masks_cursors_act_MO:      off;
$classes_flexbox_act_MO:                              off;
$classes_lists_floats_act_MO:                         off;
$classes_text_act_MO:                                 off;
$classes_bg_bd_NO_act_MO:                             off;


/* // After Mobile Landscape AML -------------------------------------------- */
$classes_container_act_AML:                           off;
$helpers_spacing_act_AML:                             off;
$classes_pos_display_sizes_masks_cursors_act_AML:     off;
$classes_flexbox_act_AML:                             off;
$classes_lists_floats_act_AML:                        off;
$classes_text_act_AML:                                off;
$classes_bg_bd_NO_act_AML:                            off;


/* // Mobile Landscape Only MLO --------------------------------------------- */
$classes_container_act_MLO:                           off;
$helpers_spacing_act_MLO:                             off;
$classes_pos_display_sizes_masks_cursors_act_MLO:     off;
$classes_flexbox_act_MLO:                             off;
$classes_lists_floats_act_MLO:                        off;
$classes_text_act_MLO:                                off;
$classes_bg_bd_NO_act_MLO:                            off;


/* // Before Tablet BT ------------------------------------------------------ */
$classes_container_act_BT:                            off;
$helpers_spacing_act_BT:                              off;
$classes_pos_display_sizes_masks_cursors_act_BT:      on;
$classes_flexbox_act_BT:                              off;
$classes_lists_floats_act_BT:                         on;
$classes_text_act_BT:                                 off;
$classes_bg_bd_NO_act_BT:                             off;


/* // Before Tablet Landscape BTL ------------------------------------------- */
$classes_container_act_BTL:                           off;
$helpers_spacing_act_BTL:                             off;
$classes_pos_display_sizes_masks_cursors_act_BTL:     off;
$classes_flexbox_act_BTL:                             off;
$classes_lists_floats_act_BTL:                        off;
$classes_text_act_BTL:                                off;
$classes_bg_bd_NO_act_BTL:                            off;


/* // Tablet Only TO -------------------------------------------------------- */
$classes_container_act_TO:                            off;
$helpers_spacing_act_TO:                              off;
$classes_pos_display_sizes_masks_cursors_act_TO:      off;
$classes_flexbox_act_TO:                              off;
$classes_lists_floats_act_TO:                         off;
$classes_text_act_TO:                                 off;
$classes_bg_bd_NO_act_TO:                             off;


/* // After Tablet AT ------------------------------------------------------- */
$classes_container_act_AT:                            off;
$helpers_spacing_act_AT:                              off;
$classes_pos_display_sizes_masks_cursors_act_AT:      on;
$classes_flexbox_act_AT:                              off;
$classes_lists_floats_act_AT:                         on;
$classes_text_act_AT:                                 off;
$classes_bg_bd_NO_act_AT:                             off;


/* // After Tablet Landscape ATL -------------------------------------------- */
$classes_container_act_ATL:                           off;
$helpers_spacing_act_ATL:                             off;
$classes_pos_display_sizes_masks_cursors_act_ATL:     off;
$classes_flexbox_act_ATL:                             off;
$classes_lists_floats_act_ATL:                        off;
$classes_text_act_ATL:                                off;
$classes_bg_bd_NO_act_ATL:                            off;


/* // Tablet Landscape Only TLO --------------------------------------------- */
$classes_container_act_TLO:                           off;
$helpers_spacing_act_TLO:                             off;
$classes_pos_display_sizes_masks_cursors_act_TLO:     off;
$classes_flexbox_act_TLO:                             off;
$classes_lists_floats_act_TLO:                        off;
$classes_text_act_TLO:                                off;
$classes_bg_bd_NO_act_TLO:                            off;


/* // Tablet Landscape Only TTLO -------------------------------------------- */
$classes_container_act_TTLO:                          off;
$helpers_spacing_act_TTLO:                            off;
$classes_pos_display_sizes_masks_cursors_act_TTLO:    off;
$classes_flexbox_act_TTLO:                            off;
$classes_lists_floats_act_TTLO:                       off;
$classes_text_act_TTLO:                               off;
$classes_bg_bd_NO_act_TTLO:                           off;


/* // Before Desktop BD ----------------------------------------------------- */
$classes_container_act_BD:                            off;
$helpers_spacing_act_BD:                              off;
$classes_pos_display_sizes_masks_cursors_act_BD:      off;
$classes_flexbox_act_BD:                              off;
$classes_lists_floats_act_BD:                         off;
$classes_text_act_BD:                                 off;
$classes_bg_bd_NO_act_BD:                             off;


/* // After Laptop AL ------------------------------------------------------- */
$classes_container_act_AL:                            off;
$helpers_spacing_act_AL:                              off;
$classes_pos_display_sizes_masks_cursors_act_AL:      off;
$classes_flexbox_act_AL:                              off;
$classes_lists_floats_act_AL:                         off;
$classes_text_act_AL:                                 off;
$classes_bg_bd_NO_act_AL:                             off;


/* // After Desktop AD ------------------------------------------------------ */
$classes_container_act_AD:                            off;
$helpers_spacing_act_AD:                              off;
$classes_pos_display_sizes_masks_cursors_act_AD:      off;
$classes_flexbox_act_AD:                              off;
$classes_lists_floats_act_AD:                         off;
$classes_text_act_AD:                                 off;
$classes_bg_bd_NO_act_AD:                             off;


/* // After Desktop Large ADL ----------------------------------------------- */
$classes_container_act_ADL:                           off;