/* =============================================================================
   Slider Activators | Custom [activators/slider.scss]
   ========================================================================== */
    $sliderArrows_act:              off;
    $sliderArrows_carousel_act:     off;
    $sliderDots_act:                off;