/* * NombreDeProyecto * ========================================================
   CSS Custom properties | Container
   ========================================================================== */
:root{
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Container
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

    --container_value_centeredAbsolute_B350:    280px;
    --container_value_max_B350:                 300px;
    --container_value_B350:                     90%;
    --container_value_A350:                     90%;
    --container_value_A500:                     90%;
    --container_value_A600:                     90%;
    --container_value_A700:                     680px;
    --container_value_max_A768:                 750px;
    --container_value_max_A900:                 870px;
    --container_value_max_A950:                 930px;
    --container_value_max_A1024:                970px;
    --container_value_max_A1100:                1070px;
    --container_value_max_A1200:                1150px;
    --container_value_max_A1300:                1250px;
    --container_value_max_A1400:                1350px;
    --container_value_max_A1500:                var(--container_value_max_A1400);
    
    --container_value_half_B350:                    calc(var(--container_value_B350) / 2);
    --container_value_max_half_B350:                calc(var(--container_value_max_B350) / 2);
    --container_value_centeredAbsolute_half_B350:   calc(var(--container_value_centeredAbsolute_B350) / 2);
    --container_value_half_A350:                    calc(var(--container_value_A350) / 2);
    --container_value_half_A500:                    calc(var(--container_value_A500) / 2);
    --container_value_half_A600:                    calc(var(--container_value_A600) / 2);
    --container_value_half_A700:                    calc(var(--container_value_A700) / 2);
    --container_value_max_half_A768:          calc(var(--container_value_max_A768) / 2);
    --container_value_max_half_A900:          calc(var(--container_value_max_A900) / 2);
    --container_value_max_half_A950:          calc(var(--container_value_max_A950) / 2);
    --container_value_max_half_A1024:         calc(var(--container_value_max_A1024) / 2);
    --container_value_max_half_A1100:         calc(var(--container_value_max_A1100) / 2);
    --container_value_max_half_A1200:         calc(var(--container_value_max_A1200) / 2);
    --container_value_max_half_A1300:         calc(var(--container_value_max_A1300) / 2);
    --container_value_max_half_A1400:         calc(var(--container_value_max_A1400) / 2);
    --container_value_max_half_A1500:         calc(var(--container_value_max_A1500) / 2);

    --container_value_half_negative_B350:                   calc(-1 * var(--container_value_half_B350));
    --container_value_centeredAbsolute_half_negative_B350:  calc(-1 * var(--container_value_centeredAbsolute_half_B350));
    --container_value_max_half_negative_B350:               calc(-1 * var(--container_value_max_half_B350));
    --container_value_half_negative_A350:                   calc(-1 * var(--container_value_half_A350));
    --container_value_half_negative_A500:                   calc(-1 * var(--container_value_half_A500));
    --container_value_half_negative_A600:                   calc(-1 * var(--container_value_half_A600));
    --container_value_half_negative_A700:                   calc(-1 * var(--container_value_half_A700));
    --container_value_max_half_negative_A768:       calc(-1 * var(--container_value_max_half_A768));
    --container_value_max_half_negative_A900:       calc(-1 * var(--container_value_max_half_A900));
    --container_value_max_half_negative_A950:       calc(-1 * var(--container_value_max_half_A950));
    --container_value_max_half_negative_A1024:   calc(-1 * var(--container_value_max_half_A1024));
    --container_value_max_half_negative_A1100:   calc(-1 * var(--container_value_max_half_A1100));
    --container_value_max_half_negative_A1200:   calc(-1 * var(--container_value_max_half_A1200));
    --container_value_max_half_negative_A1300:   calc(-1 * var(--container_value_max_half_A1300));
    --container_value_max_half_negative_A1400:   calc(-1 * var(--container_value_max_half_A1400));
    --container_value_max_half_negative_A1500:   calc(-1 * var(--container_value_max_half_A1500));

    // REF [38] Container max width
    --container_max_width_PR:            30px;
    --container_max_width_PL:            $container_max_width_PR;
    --container_max_width_PH:            calc(var(--container_max_width_PR) + var(--container_max_width_PL));
}