/* * NombreDeProyecto * ========================================================
   CSS Custom properties | Fonts
   ========================================================================== */
:root{
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Fonts
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
    --fontFamilies_sans_fallback: Arial, Roboto, '-apple-system', '.SFNSText-Regular', 'San Francisco', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, 'Helvetica Neue', 'Segoe UI', Verdana, Tahoma, 'Lucida Grande', 'Trebuchet MS', sans-serif;
    
    --fontFamilies_serif_fallback: Georgia, Palatino, serif;
    
    --arial:    Arial;
    --roboto:   Roboto;
    
    --fontSansR:      "font_sans_regular", var(--fontFamilies_sans_fallback);    
    --fontSansB:      "font_sans_bold", var(--fontFamilies_sans_fallback);
    
    --fontSerifR:     "font_serif_regular", var(--fontFamilies_serif_fallback);    
    --fontSerifB:     "font_serif_bold", var(--fontFamilies_serif_fallback);
    
    --ftMain_regular_global: var(--fontSansR);
    --ftMain_bold_global: var(--fontSansB);
}