/* =============================================================================
   Animation Classes | Etc [classesAnimations.scss]
   ========================================================================== */
@include afterTablet{
    .hoverGrow,
    .hoverGrowBig{
        display: $hoverGrowDisplay;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }
    
    .hoverGrow{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hoverGrowScale);
        }
    }
    
    .hoverGrowBig{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hoverGrowScaleBig);
        }
    }
}