/* =============================================================================
   Animation Classes | Etc [classesAnimations.scss]
   ========================================================================== */
@include afterTablet{
    .hoverGrowS,
    .hoverGrowM,
    .hoverGrowL{
        display: $hoverGrow_display_ani;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s!important;
        transition-property: transform!important;
    }
    
    .hoverGrowS{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hoverGrow_scaleSmall_ani);
        }
    }
    
    .hoverGrowM{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hoverGrow_scaleMedium_ani);
        }
    }
    
    .hoverGrowL{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hoverGrow_scaleLarge_ani);
        }
    }
}