/* * NombreDeProyecto * ========================================================
   Animation Classes | Etc [/etc/css/scss/classes_animations.scss]
   ========================================================================== */
@include afterTablet{
    .hover_grow_S_ani,
    .hover_grow_M_ani,
    .hover_grow_L_ani{
        @include transition(0.7s);
        display: $hover_grow_display_ani;
        vertical-align: middle;
        transform: translateZ(0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .hover_grow_S_ani{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hover_grow_scaleSmall_ani);
        }
    }
    
    .hover_grow_M_ani{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hover_grow_scaleMedium_ani);
        }
    }
    
    .hover_grow_L_ani{
        &:hover,
        &:focus,
        &:active {
            transform: scale($hover_grow_scaleLarge_ani);
        }
    }
}