/* =============================================================================
   Useful Classes Responsive | Etc [/etc/css/scss/classes_useful_responsive.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Mobile Only Classes --------------------------------------------------- */
@include mobileOnly{    
    @if $classes_position_display_mask_cursor_act_MO == "on"{
/*___ Positioning _______________________*/
        .pRelMO{position: relative}
        .pAbsMO{position: absolute}
        .clearMO{clear: both}

/*___ Display ___________________________*/
        .displayBlockMO{display: $block}
        .displayInlineMO{display: $inline}
        .displayInlineBlockMO{display: $inlineBlock}
        .displayTableMO{display: table}
        .displayNoneMO{display: $none}
        .contentBoxMO{box-sizing: content-box}
        .borderBoxMO{box-sizing: border-box}
        .centerVerticallyMO{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenMO,
        .sr-onlyMO{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_MO == "on"{
/*___ Lists and floats __________________*/
        .unstyledMO, .horizontalMO{list-style: $none}
        .floatLeftMO, .horizontalMO li{float: $left}
        .floatRightMO{float: $right}
        .horizontalCenterMO{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneMO, .unstyledMO li{float: $none}
    }
    
    @if $classes_text_act_MO == "on"{
/*___ Text ______________________________*/
        .indentedTextMO{text-indent: -9999px}
        .alignLeftMO{text-align: left}
        .alignRightMO{text-align: right}
        .alignCenterMO{text-align: center}
        .alignJustifyMO{text-align: justify}
        .alignJustifyCenterMO{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseMO{text-transform: uppercase}
        .lowerCaseMO{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_MO == "on"{ 
/*___ Backgrounds, border and images ____*/
        .banMO{border: $none}
        .bgNoneMO{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentMO{background-color: $transparent}
        .bgNoImageMO{background-image: $none}
    }
    
    @if $helpers_spacing_act_MO == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorMO;    
        .mraMO,.mhaMO{margin-right: $auto}
        .mlaMO,.mhaMO{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_MO == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexMO, .flexHorizontalMO, .flexColumnMO, .flexNoWrapMO, .flexJustifyEndMO, .flexJustifyCenterMO, .flexJustifyBetweenMO, .flexJustifyAroundMO, .flexAlignContentEndMO, .flexAlignContentCenterMO, .flexAlignContentBetweenMO, .flexAlignContentAroundMO, .flexAlignContentStretchMO, .flexAlignItemsEndMO, .flexAlignItemsCenterMO, .flexAlignItemsBaselineMO, .flexAlignItemsStretchMO, .horizontalCenterFlexMO{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnMO{flex-direction: column}
        .flexNoWrapMO{flex-wrap: nowrap}
        .flexJustifyEndMO{justify-content: flex-end}
        .flexJustifyCenterMO{justify-content: center}
        .flexJustifyBetweenMO{justify-content: space-between}
        .flexJustifyAroundMO{justify-content: space-around}
        .flexAlignContentEndMO{align-content: flex-end}
        .flexAlignContentCenterMO{align-content: center}
        .flexAlignContentBetweenMO{align-content: space-between}
        .flexAlignContentAroundMO{align-content: space-around}
        .flexAlignContentStretchMO{align-content: stretch}
        .flexAlignItemsEndMO{align-items: flex-end}
        .flexAlignItemsCenterMO{align-items: center}
        .flexAlignItemsBaselineMO{align-items: baseline}
        .flexAlignItemsStretchMO{align-items: stretch}
        .flexHorizontalMO{list-style: $none}
    }
}

/* // After Mobile Landscape Classes ---------------------------------------- */
@include afterMobileLandscape{
    @if $classes_position_display_mask_cursor_act_AML == "on"{
/*___ Positioning _______________________*/
        .pRelAML{position: relative}
        .pAbsAML{position: absolute}
        .clearAML{clear: both}

/*___ Display ___________________________*/
        .displayBlockAML{display: $block}
        .displayInlineAML{display: $inline}
        .displayInlineBlockAML{display: $inlineBlock}
        .displayTableAML{display: table}
        .displayNoneAML{display: $none}
        .contentBoxAML{box-sizing: content-box}
        .borderBoxAML{box-sizing: border-box}
        .centerVerticallyAML{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenAML,
        .sr-onlyAML{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_AML == "on"{
/*___ Lists and floats __________________*/
        .unstyledAML, .horizontalAML{list-style: $none}
        .floatLeftAML, .horizontalAML li{float: $left}
        .floatRightAML{float: $right}
        .horizontalCenterAML{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneAML, .unstyledAML li{float: $none}
    }
    
    @if $classes_text_act_AML == "on"{
/*___ Text ______________________________*/
        .indentedTextAML{text-indent: -9999px}
        .alignLeftAML{text-align: left}
        .alignRightAML{text-align: right}
        .alignCenterAML{text-align: center}
        .alignJustifyAML{text-align: justify}
        .alignJustifyCenterAML{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseAML{text-transform: uppercase}
        .lowerCaseAML{text-transform: lowercase}
    }
    
    @if $classes_bg_bd_NO_act_AML == "on"{
/*___ Backgrounds, border and images ____*/
        .banAML{border: $none}
        .bgNoneAML{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentAML{background-color: $transparent}
        .bgNoImageAML{background-image: $none}
    }
    
    @if $helpers_spacing_act_AML == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorAML;
        .mraAML,.mhaAML{margin-right: $auto}
        .mlaAML,.mhaAML{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_AML == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexAML, .flexHorizontalAML, .flexColumnAML, .flexNoWrapAML, .flexJustifyEndAML, .flexJustifyCenterAML, .flexJustifyBetweenAML, .flexJustifyAroundAML, .flexAlignContentEndAML, .flexAlignContentCenterAML, .flexAlignContentBetweenAML, .flexAlignContentAroundAML, .flexAlignContentStretchAML, .flexAlignItemsEndAML, .flexAlignItemsCenterAML, .flexAlignItemsBaselineAML, .flexAlignItemsStretchAML, .horizontalCenterFlexAML{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnAML{flex-direction: column}
        .flexNoWrapAML{flex-wrap: nowrap}
        .flexJustifyEndAML{justify-content: flex-end}
        .flexJustifyCenterAML{justify-content: center}
        .flexJustifyBetweenAML{justify-content: space-between}
        .flexJustifyAroundAML{justify-content: space-around}
        .flexAlignContentEndAML{align-content: flex-end}
        .flexAlignContentCenterAML{align-content: center}
        .flexAlignContentBetweenAML{align-content: space-between}
        .flexAlignContentAroundAML{align-content: space-around}
        .flexAlignContentStretchAML{align-content: stretch}
        .flexAlignItemsEndAML{align-items: flex-end}
        .flexAlignItemsCenterAML{align-items: center}
        .flexAlignItemsBaselineAML{align-items: baseline}
        .flexAlignItemsStretchAML{align-items: stretch}
        .flexHorizontalAML{list-style: $none}
    }
}

/* // Mobile Landscape Only Classes ----------------------------------------- */
@include mobileLandscapeOnly{
    @if $classes_position_display_mask_cursor_act_MLO == "on"{
/*___ Positioning _______________________*/
        .pRelMLO{position: relative}
        .pAbsMLO{position: absolute}
        .clearMLO{clear: both}

/*___ Display ___________________________*/
        .displayBlockMLO{display: $block}
        .displayInlineMLO{display: $inline}
        .displayInlineBlockMLO{display: $inlineBlock}
        .displayTableMLO{display: table}
        .displayNoneMLO{display: $none}
        .contentBoxMLO{box-sizing: content-box}
        .borderBoxMLO{box-sizing: border-box}
        .centerVerticallyMLO{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenMLO,
        .sr-onlyMLO{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_MLO == "on"{
/*___ Lists and floats __________________*/
        .unstyledMLO, .horizontalMLO{list-style: $none}
        .floatLeftMLO, .horizontalMLO li{float: $left}
        .floatRightMLO{float: $right}
        .horizontalCenterMLO{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneMLO, .unstyledMLO li{float: $none}
    }
    
    @if $classes_text_act_MLO == "on"{
/*___ Text ______________________________*/
        .indentedTextMLO{text-indent: -9999px}
        .alignLeftMLO{text-align: left}
        .alignRightMLO{text-align: right}
        .alignCenterMLO{text-align: center}
        .alignJustifyMLO{text-align: justify}
        .alignJustifyCenterMLO{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseMLO{text-transform: uppercase}
        .lowerCaseMLO{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_MLO == "on"{
/*___ Backgrounds, border and images ____*/
        .banMLO{border: $none}
        .bgNoneMLO{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentMLO{background-color: $transparent}
        .bgNoImageMLO{background-image: $none}
    }
    
    @if $helpers_spacing_act_MLO == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorMLO;
        .mraMLO,.mhaMLO{margin-right: $auto}
        .mlaMLO,.mhaMLO{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_MLO == "on"{
/*___ Flexbox Classes ___________________*/ 
        .displayFlexMLO, .flexHorizontalMLO, .flexColumnMLO, .flexNoWrapMLO, .flexJustifyEndMLO, .flexJustifyCenterMLO, .flexJustifyBetweenMLO, .flexJustifyAroundMLO, .flexAlignContentEndMLO, .flexAlignContentCenterMLO, .flexAlignContentBetweenMLO, .flexAlignContentAroundMLO, .flexAlignContentStretchMLO, .flexAlignItemsEndMLO, .flexAlignItemsCenterMLO, .flexAlignItemsBaselineMLO, .flexAlignItemsStretchMLO, .horizontalCenterFlexMLO{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnMLO{flex-direction: column}
        .flexNoWrapMLO{flex-wrap: nowrap}
        .flexJustifyEndMLO{justify-content: flex-end}
        .flexJustifyCenterMLO{justify-content: center}
        .flexJustifyBetweenMLO{justify-content: space-between}
        .flexJustifyAroundMLO{justify-content: space-around}
        .flexAlignContentEndMLO{align-content: flex-end}
        .flexAlignContentCenterMLO{align-content: center}
        .flexAlignContentBetweenMLO{align-content: space-between}
        .flexAlignContentAroundMLO{align-content: space-around}
        .flexAlignContentStretchMLO{align-content: stretch}
        .flexAlignItemsEndMLO{align-items: flex-end}
        .flexAlignItemsCenterMLO{align-items: center}
        .flexAlignItemsBaselineMLO{align-items: baseline}
        .flexAlignItemsStretchMLO{align-items: stretch}
        .flexHorizontalMLO{list-style: $none}
    }
}

/* // Before Tablet Classes ------------------------------------------------- */
@include beforeTablet{    
    @if $classes_position_display_mask_cursor_act_BT == "on"{
/*___ Positioning _______________________*/
        .pRelBT{position: relative}
        .pAbsBT{position: absolute}
        .clearBT{clear: both}

/*___ Display ___________________________*/
        .displayBlockBT{display: $block}
        .displayInlineBT{display: $inline}
        .displayInlineBlockBT{display: $inlineBlock}
        .displayTableBT{display: table}
        .displayNoneBT{display: $none}
        .contentBoxBT{box-sizing: content-box}
        .borderBoxBT{box-sizing: border-box}
        .centerVerticallyBT{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenBT,
        .sr-onlyBT{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_BT == "on"{
/*___ Lists and floats __________________*/
        .unstyledBT, .horizontalBT{list-style: $none}
        .floatLeftBT, .horizontalBT li{float: $left}
        .floatRightBT{float: $right}
        .horizontalCenterBT{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneBT, .unstyledBT li{float: $none}
    }
    
    @if $classes_text_act_BT == "on"{
/*___ Text ______________________________*/
        .indentedTextBT{text-indent: -9999px}
        .alignLeftBT{text-align: left}
        .alignRightBT{text-align: right}
        .alignCenterBT{text-align: center}
        .alignJustifyBT{text-align: justify}
        .alignJustifyCenterBT{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseBT{text-transform: uppercase}
        .lowerCaseBT{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_BT == "on"{
/*___ Backgrounds, border and images ____*/
        .banBT{border: $none}
        .bgNoneBT{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentBT{background-color: $transparent}
        .bgNoImageBT{background-image: $none}
    }
    
    @if $helpers_spacing_act_BT == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorBT;
        .mraBT,.mhaBT{margin-right: $auto}
        .mlaBT,.mhaBT{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_BT == "on"{
/*___ Flexbox Classes ___________________*/ 
        .displayFlexBT, .flexHorizontalBT, .flexColumnBT, .flexNoWrapBT, .flexJustifyEndBT, .flexJustifyCenterBT, .flexJustifyBetweenBT, .flexJustifyAroundBT, .flexAlignContentEndBT, .flexAlignContentCenterBT, .flexAlignContentBetweenBT, .flexAlignContentAroundBT, .flexAlignContentStretchBT, .flexAlignItemsEndBT, .flexAlignItemsCenterBT, .flexAlignItemsBaselineBT, .flexAlignItemsStretchBT, .horizontalCenterFlexBT{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnBT{flex-direction: column}
        .flexNoWrapBT{flex-wrap: nowrap}
        .flexJustifyEndBT{justify-content: flex-end}
        .flexJustifyCenterBT{justify-content: center}
        .flexJustifyBetweenBT{justify-content: space-between}
        .flexJustifyAroundBT{justify-content: space-around}
        .flexAlignContentEndBT{align-content: flex-end}
        .flexAlignContentCenterBT{align-content: center}
        .flexAlignContentBetweenBT{align-content: space-between}
        .flexAlignContentAroundBT{align-content: space-around}
        .flexAlignContentStretchBT{align-content: stretch}
        .flexAlignItemsEndBT{align-items: flex-end}
        .flexAlignItemsCenterBT{align-items: center}
        .flexAlignItemsBaselineBT{align-items: baseline}
        .flexAlignItemsStretchBT{align-items: stretch}
        .flexHorizontalBT{list-style: $none}
    }
}

/* // Before Tablet Landscape Classes --------------------------------------- */
@include beforeTabletLandscape{    
    @if $classes_position_display_mask_cursor_act_BTL == "on"{
/*___ Positioning _______________________*/
        .pRelBTL{position: relative}
        .pAbsBTL{position: absolute}
        .clearBTL{clear: both}

/*___ Display ___________________________*/
        .displayBlockBTL{display: $block}
        .displayInlineBTL{display: $inline}
        .displayInlineBlockBTL{display: $inlineBlock}
        .displayTableBTL{display: table}
        .displayNoneBTL{display: $none}
        .contentBoxBTL{box-sizing: content-box}
        .borderBoxBTL{box-sizing: border-box}
        .centerVerticallyBTL{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenBTL,
        .sr-onlyBTL{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_BTL == "on"{
/*___ Lists and floats __________________*/
        .unstyledBTL, .horizontalBTL{list-style: $none}
        .floatLeftBTL, .horizontalBTL li{float: $left}
        .floatRightBTL{float: $right}
        .horizontalCenterBTL{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneBTL, .unstyledBTL li{float: $none}
    }
    
    @if $classes_text_act_BTL == "on"{
/*___ Text ______________________________*/
        .indentedTextBTL{text-indent: -9999px}
        .alignLeftBTL{text-align: left}
        .alignRightBTL{text-align: right}
        .alignCenterBTL{text-align: center}
        .alignJustifyBTL{text-align: justify}
        .alignJustifyCenterBTL{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseBTL{text-transform: uppercase}
        .lowerCaseBTL{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_BTL == "on"{
/*___ Backgrounds, border and images ____*/
        .banBTL{border: $none}
        .bgNoneBTL{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentBTL{background-color: $transparent}
        .bgNoImageBTL{background-image: $none}
    }
    
    @if $helpers_spacing_act_BTL == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorBTL;
        .mraBTL,.mhaBTL{margin-right: $auto}
        .mlaBTL,.mhaBTL{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_BTL == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexBTL, .flexHorizontalBTL, .flexColumnBTL, .flexNoWrapBTL, .flexJustifyEndBTL, .flexJustifyCenterBTL, .flexJustifyBetweenBTL, .flexJustifyAroundBTL, .flexAlignContentEndBTL, .flexAlignContentCenterBTL, .flexAlignContentBetweenBTL, .flexAlignContentAroundBTL, .flexAlignContentStretchBTL, .flexAlignItemsEndBTL, .flexAlignItemsCenterBTL, .flexAlignItemsBaselineBTL, .flexAlignItemsStretchBTL, .horizontalCenterFlexBTL{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnBTL{flex-direction: column}
        .flexNoWrapBTL{flex-wrap: nowrap}
        .flexJustifyEndBTL{justify-content: flex-end}
        .flexJustifyCenterBTL{justify-content: center}
        .flexJustifyBetweenBTL{justify-content: space-between}
        .flexJustifyAroundBTL{justify-content: space-around}
        .flexAlignContentEndBTL{align-content: flex-end}
        .flexAlignContentCenterBTL{align-content: center}
        .flexAlignContentBetweenBTL{align-content: space-between}
        .flexAlignContentAroundBTL{align-content: space-around}
        .flexAlignContentStretchBTL{align-content: stretch}
        .flexAlignItemsEndBTL{align-items: flex-end}
        .flexAlignItemsCenterBTL{align-items: center}
        .flexAlignItemsBaselineBTL{align-items: baseline}
        .flexAlignItemsStretchBTL{align-items: stretch}
        .flexHorizontalBTL{list-style: $none}
    }
}

/* // Tablet Only Classes --------------------------------------------------- */
@include tabletOnly{    
    @if $classes_position_display_mask_cursor_act_TO == "on"{
/*___ Positioning _______________________*/
        .pRelTO{position: relative}
        .pAbsTO{position: absolute}
        .clearTO{clear: both}

/*___ Display ___________________________*/
        .displayBlockTO{display: $block}
        .displayInlineTO{display: $inline}
        .displayInlineBlockTO{display: $inlineBlock}
        .displayTableTO{display: table}
        .displayNoneTO{display: $none}
        .contentBoxTO{box-sizing: content-box}
        .borderBoxTO{box-sizing: border-box}
        .centerVerticallyTO{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenTO,
        .sr-onlyTO{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_TO == "on"{
/*___ Lists and floats __________________*/
        .unstyledTO, .horizontalTO{list-style: $none}
        .floatLeftTO, .horizontalTO li{float: $left}
        .floatRightTO{float: $right}
        .horizontalCenterTO{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneTO, .unstyledTO li{float: $none}
    }
    
    @if $classes_text_act_TO == "on"{
/*___ Text ______________________________*/
        .indentedTextTO{text-indent: -9999px}
        .alignLeftTO{text-align: left}
        .alignRightTO{text-align: right}
        .alignCenterTO{text-align: center}
        .alignJustifyTO{text-align: justify}
        .alignJustifyCenterTO{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseTO{text-transform: uppercase}
        .lowerCaseTO{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_TO == "on"{
/*___ Backgrounds, border and images ____*/
        .banTO{border: $none}
        .bgNoneTO{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentTO{background-color: $transparent}
        .bgNoImageTO{background-image: $none}
    }
    
    @if $helpers_spacing_act_TO == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorTO;
        .mraTO,.mhaTO{margin-right: $auto}
        .mlaTO,.mhaTO{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_TO == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexTO, .flexHorizontalTO, .flexColumnTO, .flexNoWrapTO, .flexJustifyEndTO, .flexJustifyCenterTO, .flexJustifyBetweenTO, .flexJustifyAroundTO, .flexAlignContentEndTO, .flexAlignContentCenterTO, .flexAlignContentBetweenTO, .flexAlignContentAroundTO, .flexAlignContentStretchTO, .flexAlignItemsEndTO, .flexAlignItemsCenterTO, .flexAlignItemsBaselineTO, .flexAlignItemsStretchTO, .horizontalCenterFlexTO{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnTO{flex-direction: column}
        .flexNoWrapTO{flex-wrap: nowrap}
        .flexJustifyEndTO{justify-content: flex-end}
        .flexJustifyCenterTO{justify-content: center}
        .flexJustifyBetweenTO{justify-content: space-between}
        .flexJustifyAroundTO{justify-content: space-around}
        .flexAlignContentEndTO{align-content: flex-end}
        .flexAlignContentCenterTO{align-content: center}
        .flexAlignContentBetweenTO{align-content: space-between}
        .flexAlignContentAroundTO{align-content: space-around}
        .flexAlignContentStretchTO{align-content: stretch}
        .flexAlignItemsEndTO{align-items: flex-end}
        .flexAlignItemsCenterTO{align-items: center}
        .flexAlignItemsBaselineTO{align-items: baseline}
        .flexAlignItemsStretchTO{align-items: stretch}
        .flexHorizontalTO{list-style: $none}
    }
}

/* // After Tablet Classes -------------------------------------------------- */
@include afterTablet{    
    @if $classes_position_display_mask_cursor_act_AT == "on"{
/*___ Positioning _______________________*/
        .pRelAT{position: relative}
        .pAbsAT{position: absolute}
        .clearAT{clear: both}

/*___ Display ___________________________*/
        .displayBlockAT{display: $block}
        .displayInlineAT{display: $inline}
        .displayInlineBlockAT{display: $inlineBlock}
        .displayTableAT{display: table}
        .displayNoneAT{display: $none}
        .contentBoxAT{box-sizing: content-box}
        .borderBoxAT{box-sizing: border-box}
        .centerVerticallyAT{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenAT,
        .sr-onlyAT{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_AT == "on"{
/*___ Lists and floats __________________*/
        .unstyledAT, .horizontalAT{list-style: $none}
        .floatLeftAT, .horizontalAT li{float: $left}
        .floatRightAT{float: $right}
        .horizontalCenterAT{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneAT, .unstyledAT li{float: $none}
    }
    
    @if $classes_text_act_AT == "on"{
/*___ Text ______________________________*/ 
        .indentedTextAT{text-indent: -9999px}
        .alignLeftAT{text-align: left}
        .alignRightAT{text-align: right}
        .alignCenterAT{text-align: center}
        .alignJustifyAT{text-align: justify}
        .alignJustifyCenterAT{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseAT{text-transform: uppercase}
        .lowerCaseAT{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_AT == "on"{
/*___ Backgrounds, border and images ____*/
        .banAT{border: $none}
        .bgNoneAT{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentAT{background-color: $transparent}
        .bgNoImageAT{background-image: $none}
    }
    
    @if $helpers_spacing_act_AT == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorAT;
        .mraAT,.mhaAT{margin-right: $auto}
        .mlaAT,.mhaAT{margin-left: $auto}
    }
     
    @if $classes_flexbox_act_AT == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexAT, .flexHorizontalAT, .flexColumnAT, .flexNoWrapAT, .flexJustifyEndAT, .flexJustifyCenterAT, .flexJustifyBetweenAT, .flexJustifyAroundAT, .flexAlignContentEndAT, .flexAlignContentCenterAT, .flexAlignContentBetweenAT, .flexAlignContentAroundAT, .flexAlignContentStretchAT, .flexAlignItemsEndAT, .flexAlignItemsCenterAT, .flexAlignItemsBaselineAT, .flexAlignItemsStretchAT, .horizontalCenterFlexAT{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnAT{flex-direction: column}
        .flexNoWrapAT{flex-wrap: nowrap}
        .flexJustifyEndAT{justify-content: flex-end}
        .flexJustifyCenterAT{justify-content: center}
        .flexJustifyBetweenAT{justify-content: space-between}
        .flexJustifyAroundAT{justify-content: space-around}
        .flexAlignContentEndAT{align-content: flex-end}
        .flexAlignContentCenterAT{align-content: center}
        .flexAlignContentBetweenAT{align-content: space-between}
        .flexAlignContentAroundAT{align-content: space-around}
        .flexAlignContentStretchAT{align-content: stretch}
        .flexAlignItemsEndAT{align-items: flex-end}
        .flexAlignItemsCenterAT{align-items: center}
        .flexAlignItemsBaselineAT{align-items: baseline}
        .flexAlignItemsStretchAT{align-items: stretch}
        .flexHorizontalAT{list-style: $none}
    }
}

/* // After Tablet Landscape Classes ---------------------------------------- */
@include afterTabletLandscape{
    @if $classes_position_display_mask_cursor_act_ATL == "on"{
/*___ Positioning _______________________*/
        .pRelATL{position: relative}
        .pAbsATL{position: absolute}
        .clearATL{clear: both}

/*___ Display ___________________________*/
        .displayBlockATL{display: $block}
        .displayInlineATL{display: $inline}
        .displayInlineBlockATL{display: $inlineBlock}
        .displayTableATL{display: table}
        .displayNoneATL{display: $none}
        .contentBoxATL{box-sizing: content-box}
        .borderBoxATL{box-sizing: border-box}
        .centerVerticallyATL{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenATL,
        .sr-onlyATL{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_ATL == "on"{
/*___ Lists and floats __________________*/
        .unstyledATL, .horizontalATL{list-style: $none}
        .floatLeftATL, .horizontalATL li{float: $left}
        .floatRightATL{float: $right}
        .horizontalCenterATL{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneATL, .unstyledATL li{float: $none}
    }
    
    @if $classes_text_act_ATL == "on"{
/*___ Text ______________________________*/ 
        .indentedTextATL{text-indent: -9999px}
        .alignLeftATL{text-align: left}
        .alignRightATL{text-align: right}
        .alignCenterATL{text-align: center}
        .alignJustifyATL{text-align: justify}
        .alignJustifyCenterATL{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseATL{text-transform: uppercase}
        .lowerCaseATL{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_ATL == "on"{
/*___ Backgrounds, border and images ____*/
        .banATL{border: $none}
        .bgNoneATL{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentATL{background-color: $transparent}
        .bgNoImageATL{background-image: $none}
    }
    
    @if $helpers_spacing_act_ATL == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorATL;
        .mraATL,.mhaATL{margin-right: $auto}
        .mlaATL,.mhaATL{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_ATL == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexATL, .flexHorizontalATL, .flexColumnATL, .flexNoWrapATL, .flexJustifyEndATL, .flexJustifyCenterATL, .flexJustifyBetweenATL, .flexJustifyAroundATL, .flexAlignContentEndATL, .flexAlignContentCenterATL, .flexAlignContentBetweenATL, .flexAlignContentAroundATL, .flexAlignContentStretchATL, .flexAlignItemsEndATL, .flexAlignItemsCenterATL, .flexAlignItemsBaselineATL, .flexAlignItemsStretchATL, .horizontalCenterFlexATL{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnATL{flex-direction: column}
        .flexNoWrapATL{flex-wrap: nowrap}
        .flexJustifyEndATL{justify-content: flex-end}
        .flexJustifyCenterATL{justify-content: center}
        .flexJustifyBetweenATL{justify-content: space-between}
        .flexJustifyAroundATL{justify-content: space-around}
        .flexAlignContentEndATL{align-content: flex-end}
        .flexAlignContentCenterATL{align-content: center}
        .flexAlignContentBetweenATL{align-content: space-between}
        .flexAlignContentAroundATL{align-content: space-around}
        .flexAlignContentStretchATL{align-content: stretch}
        .flexAlignItemsEndATL{align-items: flex-end}
        .flexAlignItemsCenterATL{align-items: center}
        .flexAlignItemsBaselineATL{align-items: baseline}
        .flexAlignItemsStretchATL{align-items: stretch}
        .flexHorizontalATL{list-style: $none}
    }
}

/* // Tablet Landscape Only Classes ----------------------------------------- */
@include tabletLandscapeOnly{
    @if $classes_position_display_mask_cursor_act_TLO == "on"{
/*___ Positioning _______________________*/
        .pRelTLO{position: relative}
        .pAbsTLO{position: absolute}
        .clearTLO{clear: both}

/*___ Display ___________________________*/
        .displayBlockTLO{display: $block}
        .displayInlineTLO{display: $inline}
        .displayInlineBlockTLO{display: $inlineBlock}
        .displayTableTLO{display: table}
        .displayNoneTLO{display: $none}
        .contentBoxTLO{box-sizing: content-box}
        .borderBoxTLO{box-sizing: border-box}
        .centerVerticallyTLO{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenTLO,
        .sr-onlyTLO{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_TLO == "on"{
/*___ Lists and floats __________________*/
        .unstyledTLO, .horizontalTLO{list-style: $none}
        .floatLeftTLO, .horizontalTLO li{float: $left}
        .floatRightTLO{float: $right}
        .horizontalCenterTLO{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneTLO, .unstyledTLO li{float: $none}
    }
    
    @if $classes_text_act_TLO == "on"{
/*___ Text ______________________________*/
        .indentedTextTLO{text-indent: -9999px}
        .alignLeftTLO{text-align: left}
        .alignRightTLO{text-align: right}
        .alignCenterTLO{text-align: center}
        .alignJustifyTLO{text-align: justify}
        .alignJustifyCenterTLO{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseTLO{text-transform: uppercase}
        .lowerCaseTLO{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_TLO == "on"{
/*___ Backgrounds, border and images ____*/
        .banTLO{border: $none}
        .bgNoneTLO{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentTLO{background-color: $transparent}
        .bgNoImageTLO{background-image: $none}
    }
    
    @if $helpers_spacing_act_TLO == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorTLO;
        .mraTLO,.mhaTLO{margin-right: $auto}
        .mlaTLO,.mhaTLO{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_TLO == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexTLO, .flexHorizontalTLO, .flexColumnTLO, .flexNoWrapTLO, .flexJustifyEndTLO, .flexJustifyCenterTLO, .flexJustifyBetweenTLO, .flexJustifyAroundTLO, .flexAlignContentEndTLO, .flexAlignContentCenterTLO, .flexAlignContentBetweenTLO, .flexAlignContentAroundTLO, .flexAlignContentStretchTLO, .flexAlignItemsEndTLO, .flexAlignItemsCenterTLO, .flexAlignItemsBaselineTLO, .flexAlignItemsStretchTLO, .horizontalCenterFlexTLO{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnTLO{flex-direction: column}
        .flexNoWrapTLO{flex-wrap: nowrap}
        .flexJustifyEndTLO{justify-content: flex-end}
        .flexJustifyCenterTLO{justify-content: center}
        .flexJustifyBetweenTLO{justify-content: space-between}
        .flexJustifyAroundTLO{justify-content: space-around}
        .flexAlignContentEndTLO{align-content: flex-end}
        .flexAlignContentCenterTLO{align-content: center}
        .flexAlignContentBetweenTLO{align-content: space-between}
        .flexAlignContentAroundTLO{align-content: space-around}
        .flexAlignContentStretchTLO{align-content: stretch}
        .flexAlignItemsEndTLO{align-items: flex-end}
        .flexAlignItemsCenterTLO{align-items: center}
        .flexAlignItemsBaselineTLO{align-items: baseline}
        .flexAlignItemsStretchTLO{align-items: stretch}
        .flexHorizontalTLO{list-style: $none}
    }
}

/* // Tablet And Tablet Landscape Only Classes ------------------------------ */
@include tabletAndTabletLandscapeOnly{    
    @if $classes_position_display_mask_cursor_act_TTLO == "on"{
/*___ Positioning _______________________*/
        .pRelTTLO{position: relative}
        .pAbsTTLO{position: absolute}
        .clearTTLO{clear: both}

/*___ Display ___________________________*/
        .displayBlockTTLO{display: $block}
        .displayInlineTTLO{display: $inline}
        .displayInlineBlockTTLO{display: $inlineBlock}
        .displayTableTTLO{display: table}
        .displayNoneTTLO{display: $none}
        .contentBoxTTLO{box-sizing: content-box}
        .borderBoxTTLO{box-sizing: border-box}
        .centerVerticallyTTLO{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenTTLO,
        .sr-onlyTTLO{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_TTLO == "on"{
/*___ Lists and floats __________________*/
        .unstyledTTLO, .horizontalTTLO{list-style: $none}
        .floatLeftTTLO, .horizontalTTLO li{float: $left}
        .floatRightTTLO{float: $right}
        .horizontalCenterTTLO{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneTTLO, .unstyledTTLO li{float: $none}
    }
    
    @if $classes_text_act_TTLO == "on"{
/*___ Text ______________________________*/
        .indentedTextTTLO{text-indent: -9999px}
        .alignLeftTTLO{text-align: left}
        .alignRightTTLO{text-align: right}
        .alignCenterTTLO{text-align: center}
        .alignJustifyTTLO{text-align: justify}
        .alignJustifyCenterTTLO{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseTTLO{text-transform: uppercase}
        .lowerCaseTTLO{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_TTLO == "on"{
/*___ Backgrounds, border and images ____*/
        .banTTLO{border: $none}
        .bgNoneTTLO{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentTTLO{background-color: $transparent}
        .bgNoImageTTLO{background-image: $none}
    }
    
    @if $helpers_spacing_act_TTLO == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorTTLO;
        .mraTTLO,.mhaTTLO{margin-right: $auto}
        .mlaTTLO,.mhaTTLO{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_TTLO == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexTTLO, .flexHorizontalTTLO, .flexColumnTTLO, .flexNoWrapTTLO, .flexJustifyEndTTLO, .flexJustifyCenterTTLO, .flexJustifyBetweenTTLO, .flexJustifyAroundTTLO, .flexAlignContentEndTTLO, .flexAlignContentCenterTTLO, .flexAlignContentBetweenTTLO, .flexAlignContentAroundTTLO, .flexAlignContentStretchTTLO, .flexAlignItemsEndTTLO, .flexAlignItemsCenterTTLO, .flexAlignItemsBaselineTTLO, .flexAlignItemsStretchTTLO, .horizontalCenterFlexTTLO{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnTTLO{flex-direction: column}
        .flexNoWrapTTLO{flex-wrap: nowrap}
        .flexJustifyEndTTLO{justify-content: flex-end}
        .flexJustifyCenterTTLO{justify-content: center}
        .flexJustifyBetweenTTLO{justify-content: space-between}
        .flexJustifyAroundTTLO{justify-content: space-around}
        .flexAlignContentEndTTLO{align-content: flex-end}
        .flexAlignContentCenterTTLO{align-content: center}
        .flexAlignContentBetweenTTLO{align-content: space-between}
        .flexAlignContentAroundTTLO{align-content: space-around}
        .flexAlignContentStretchTTLO{align-content: stretch}
        .flexAlignItemsEndTTLO{align-items: flex-end}
        .flexAlignItemsCenterTTLO{align-items: center}
        .flexAlignItemsBaselineTTLO{align-items: baseline}
        .flexAlignItemsStretchTTLO{align-items: stretch}
        .flexHorizontalTTLO{list-style: $none}
    }
}

/* // Before Desktop Classes ------------------------------------------------ */
@include beforeDesktop{    
    @if $classes_position_display_mask_cursor_act_BD == "on"{
/*___ Positioning _______________________*/
        .pRelBD{position: relative}
        .pAbsBD{position: absolute}
        .clearBD{clear: both}

/*___ Display ___________________________*/
        .displayBlockBD{display: $block}
        .displayInlineBD{display: $inline}
        .displayInlineBlockBD{display: $inlineBlock}
        .displayTableBD{display: table}
        .displayNoneBD{display: $none}
        .contentBoxBD{box-sizing: content-box}
        .borderBoxBD{box-sizing: border-box}
        .centerVerticallyBD{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenBD,
        .sr-onlyBD{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_BD == "on"{
/*___ Lists and floats __________________*/
        .unstyledBD, .horizontalBD{list-style: $none}
        .floatLeftBD, .horizontalBD li{float: $left}
        .floatRightBD{float: $right}
        .horizontalCenterBD{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneBD, .unstyledBD li{float: $none}
    }
    
    @if $classes_text_act_BD == "on"{
/*___ Text ______________________________*/
        .indentedTextBD{text-indent: -9999px}
        .alignLeftBD{text-align: left}
        .alignRightBD{text-align: right}
        .alignCenterBD{text-align: center}
        .alignJustifyBD{text-align: justify}
        .alignJustifyCenterBD{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseBD{text-transform: uppercase}
        .lowerCaseBD{text-transform: lowercase}
    }
    
    @if $classes_bg_bd_NO_act_BD == "on"{
/*___ Backgrounds, border and images ____*/
        .banBD{border: $none}
        .bgNoneBD{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentBD{background-color: $transparent}
        .bgNoImageBD{background-image: $none}
    }
    
    @if $helpers_spacing_act_BD == "on"{
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorBD;
        .mraBD,.mhaBD{margin-right: $auto}
        .mlaBD,.mhaBD{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_BD == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexBD, .flexHorizontalBD, .flexColumnBD, .flexNoWrapBD, .flexJustifyEndBD, .flexJustifyCenterBD, .flexJustifyBetweenBD, .flexJustifyAroundBD, .flexAlignContentEndBD, .flexAlignContentCenterBD, .flexAlignContentBetweenBD, .flexAlignContentAroundBD, .flexAlignContentStretchBD, .flexAlignItemsEndBD, .flexAlignItemsCenterBD, .flexAlignItemsBaselineBD, .flexAlignItemsStretchBD, .horizontalCenterFlexBD{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnBD{flex-direction: column}
        .flexNoWrapBD{flex-wrap: nowrap}
        .flexJustifyEndBD{justify-content: flex-end}
        .flexJustifyCenterBD{justify-content: center}
        .flexJustifyBetweenBD{justify-content: space-between}
        .flexJustifyAroundBD{justify-content: space-around}
        .flexAlignContentEndBD{align-content: flex-end}
        .flexAlignContentCenterBD{align-content: center}
        .flexAlignContentBetweenBD{align-content: space-between}
        .flexAlignContentAroundBD{align-content: space-around}
        .flexAlignContentStretchBD{align-content: stretch}
        .flexAlignItemsEndBD{align-items: flex-end}
        .flexAlignItemsCenterBD{align-items: center}
        .flexAlignItemsBaselineBD{align-items: baseline}
        .flexAlignItemsStretchBD{align-items: stretch}
        .flexHorizontalBD{list-style: $none}
    }
}

/* // After Desktop Classes ------------------------------------------------- */
@include afterDesktop{    
    @if $classes_position_display_mask_cursor_act_AD == "on"{
/*___ Positioning _______________________*/
        .pRelAD{position: relative}
        .pAbsAD{position: absolute}
        .clearAD{clear: both}

/*___ Display ___________________________*/
        .displayBlockAD{display: $block}
        .displayInlineAD{display: $inline}
        .displayInlineBlockAD{display: $inlineBlock}
        .displayTableAD{display: table}
        .displayNoneAD{display: $none}
        .contentBoxAD{box-sizing: content-box}
        .borderBoxAD{box-sizing: border-box}
        .centerVerticallyAD{
            display: table-cell;
            vertical-align: middle;
        }
        .visuallyHiddenAD,
        .sr-onlyAD{
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            border: $zero;
            padding: $zero;
            margin: -1px;
            overflow: hidden;
            white-space: nowrap;

            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
    
    @if $classes_lists_floats_act_AD == "on"{
/*___ Lists and floats __________________*/
        .unstyledAD, .horizontalAD{list-style: $none}
        .floatLeftAD, .horizontalAD li{float: $left}
        .floatRightAD{float: $right}
        .horizontalCenterAD{
            margin-right: $auto;
            margin-left: $auto;    
            list-style: none;
            text-align: center;
            li{
                display: inline-block!important;
                > *{
                    display: inline-block!important;         
                }
            }
        }
        .floatNoneAD, .unstyledAD li{float: $none}
    }
    
    @if $classes_text_act_AD == "on"{
/*___ Text ______________________________*/
        .indentedTextAD{text-indent: -9999px}
        .alignLeftAD{text-align: left}
        .alignRightAD{text-align: right}
        .alignCenterAD{text-align: center}
        .alignJustifyAD{text-align: justify}
        .alignJustifyCenterAD{
            text-align: justify;
            text-align-last: center;
        }
        .upperCaseAD{text-transform: uppercase}
        .lowerCaseAD{text-transform: lowercase}
    }
        
    @if $classes_bg_bd_NO_act_AD == "on"{
/*___ Backgrounds, border and images ____*/
        .banAD{border: $none}
        .bgNoneAD{
            &, &:focus, &:hover{
                background: $none;
            }
        }
        .bgTransparentAD{background-color: $transparent}
        .bgNoImageAD{background-image: $none}
    }
    
    @if $helpers_spacing_act_AD == "on"{   
/*___ Spacing Helpers ___________________*/
        @include spacingHelpersClassesGeneratorAD;
        .mraAD,.mhaAD{margin-right: $auto}
        .mlaAD,.mhaAD{margin-left: $auto}
    }
    
    @if $classes_flexbox_act_AD == "on"{
/*___ Flexbox Classes ___________________*/
        .displayFlexAD, .flexHorizontalAD, .flexColumnAD, .flexNoWrapAD, .flexJustifyEndAD, .flexJustifyCenterAD, .flexJustifyBetweenAD, .flexJustifyAroundAD, .flexAlignContentEndAD, .flexAlignContentCenterAD, .flexAlignContentBetweenAD, .flexAlignContentAroundAD, .flexAlignContentStretchAD, .flexAlignItemsEndAD, .flexAlignItemsCenterAD, .flexAlignItemsBaselineAD, .flexAlignItemsStretchAD, .horizontalCenterFlexAD{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
        }
        .flexColumnAD{flex-direction: column}
        .flexNoWrapAD{flex-wrap: nowrap}
        .flexJustifyEndAD{justify-content: flex-end}
        .flexJustifyCenterAD{justify-content: center}
        .flexJustifyBetweenAD{justify-content: space-between}
        .flexJustifyAroundAD{justify-content: space-around}
        .flexAlignContentEndAD{align-content: flex-end}
        .flexAlignContentCenterAD{align-content: center}
        .flexAlignContentBetweenAD{align-content: space-between}
        .flexAlignContentAroundAD{align-content: space-around}
        .flexAlignContentStretchAD{align-content: stretch}
        .flexAlignItemsEndAD{align-items: flex-end}
        .flexAlignItemsCenterAD{align-items: center}
        .flexAlignItemsBaselineAD{align-items: baseline}
        .flexAlignItemsStretchAD{align-items: stretch}
        .flexHorizontalAD{list-style: $none}
    }
}