/* =============================================================================
   Text Classes | Etc [/etc/css/scss/classes_text.scss]
   ========================================================================== */
abbr{
    border: $none;
    cursor: help;
} 
.light{font-weight: 300}
b, strong,
.roman{font-weight: 400}
.semiBold{font-weight: 600}
.bold{font-weight: 700}
.extraBold{font-weight: 800}
.heavy{font-weight: 900}
.italic{font-style: italic} 
.underline{
    &, &:hover{
        text-decoration: underline;
    }
}
.lineThrough{text-decoration: line-through}
.upperCase{text-transform: uppercase}
.lowerCase{text-transform: lowercase}
.smallCaps{font-variant: small-caps}
.alignCenter{text-align: center}
.alignRight{text-align: right}
.alignLeft{text-align: left}
.alignJustify{text-align: justify}
.alignJustifyCenter{
    text-align: justify;
    text-align-last: center;
}
.indentedText{text-indent: -9999px}
.truncatedText{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.noSelect{user-select: none}