/* =============================================================================
   OpenSans Font Face | Etc [fontFaceOpenSans.scss]
   ========================================================================== */
@if $openSansL == "on" {
    @font-face {
        font-family: 'open_sanslight';
        src: url('/clientes/alexia/fonts/OpenSans-Light-webfont.eot');
        src: url('/clientes/alexia/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
             url('/clientes/alexia/fonts/OpenSans-Light-webfont.woff') format('woff'),
             url('/clientes/alexia/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
             url('/clientes/alexia/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}
@if $openSansR == "on" {
    @font-face {
        font-family: 'open_sansregular';
        src: url('/clientes/alexia/fonts/OpenSans-Regular-webfont.eot');
        src: url('/clientes/alexia/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('/clientes/alexia/fonts/OpenSans-Regular-webfont.woff') format('woff'),
             url('/clientes/alexia/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
             url('/clientes/alexia/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}
@if $openSansI == "on" {
    @font-face {
        font-family: 'open_sansitalic';
        src: url('/clientes/alexia/fonts/OpenSans-Italic-webfont.eot');
        src: url('/clientes/alexia/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('/clientes/alexia/fonts/OpenSans-Italic-webfont.woff') format('woff'),
             url('/clientes/alexia/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
             url('/clientes/alexia/fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}
@if $openSansB == "on" {
    @font-face {
        font-family: 'open_sansbold';
        src: url('/clientes/alexia/fonts/OpenSans-Bold-webfont.eot');
        src: url('/clientes/alexia/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('/clientes/alexia/fonts/OpenSans-Bold-webfont.woff') format('woff'),
             url('/clientes/alexia/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
             url('/clientes/alexia/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}
@if $openSansBI == "on" {
    @font-face {
        font-family: 'open_sansbold_italic';
        src: url('/clientes/alexia/fonts/OpenSans-BoldItalic-webfont.eot');
        src: url('/clientes/alexia/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('/clientes/alexia/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
             url('/clientes/alexia/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
             url('/clientes/alexia/fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}