/* =============================================================================
   General Text Elements Styling / Useful Classes
   ========================================================================== */
abbr{
    border: $none;
    cursor: help;
}
.fontSize{font-size: $fontSizeReset!important}
.lineHeight{line-height: $lineHeightReset!important}
.light{font-weight: 300}
b, strong,
.roman{font-weight: 400}
.semiBold{font-weight: 600}
.bold{font-weight: 700}
.extraBold{font-weight: 800}
.heavy{font-weight: 900}
.italic{font-style: italic} 
.underline{
    &, &:hover{
        text-decoration: underline;
    }
}
.lineThrough{text-decoration: line-through}
.upperCase{text-transform: uppercase}
.lowerCase{text-transform: lowercase}
.smallCaps{font-variant: small-caps}
.alignCenter{text-align: center}
.alignRight{text-align: right}
.alignLeft{text-align: left}
.alignJustify{text-align: justify}
.indentedText{text-indent: -9999px}
.letterSpacing{letter-spacing: 0.05em}

/* =============================================================================
   Font Styling
   ========================================================================== */
html{
    font-size: 100%;
    text-rendering: optimizeLegibility;
}
body{
    @extend %bodyFontSettings!optional;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, a, li, button, label, input,
select, textarea, blockquote, table{
    @extend %mainFontsSettings;
}

//Text Margins and Line-heights
h1, h2, h3, h4, h5, h6{
    margin: $headingMargin;
    line-height: 1em;
}
p, dl, legend{
    margin: $textMargin;
}
p{
    font-size: $mainParagraphFontSize;
    
    b, strong{
        font-family: $mainFontFamilyBold;
    }
    & + p{
        margin: $textMarginSibling;        
    }
}

// Font Families and Headings Values
@include fontFamilyCustomClassesGenerator;

@include beforeTablet{
    @include fontCustomHeadingsSizesGeneratorMobile;
    @include fontCustomLineHeightsGeneratorMobile;    
}
@include afterTablet{
    @include fontCustomHeadingsSizesGeneratorTablet;
    @include fontCustomLineHeightsGeneratorTablet;     
}
@include afterLaptop{
    @include fontCustomHeadingsSizesGeneratorDesktop;
    @include fontCustomLineHeightsGeneratorDesktop;    
}