/* =============================================================================
   Font Stroke Functions | Etc [functionsFontStroke.scss]
   ========================================================================== */

/// Stroke font-character
/// @param  {Integer} $strokeWidth - Stroke width
/// @param  {Color}   $color       - Stroke color
/// @return {List}                 - text-shadow list
@function stroke($strokeWidth, $color) {
  $shadow: ();
  $from: $strokeWidth*-1;
  @for $i from $from through $strokeWidth {
   @for $j from $from through $strokeWidth {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $strokeWidth - Stroke width
/// @param  {Color}   $color       - Stroke color
/// @return {Style}                - text-shadow
@mixin fontStroke($strokeWidth, $color) {
  text-shadow: stroke($strokeWidth, $color);
}

/// Usage
/// @include fontStroke(2, $black);