/* =============================================================================
   Colour Mixins | Etc [/etc/css/scss/mixins_colours.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Este archivo contiene los mixins para generar clases y selectores de colores.
// Los mapas que se encuentran en `[/custom/var/colours_main_var.scss]`.
//
// Listado de mixins:
//
// 01 _ colourLightClassesGenerator
// 02 _ colourDarkClassesGenerator
// 03 _ colourCustomHoverClassesGenerator
// 04 _ anchorColoursLightClassesGenerator
// 05 _ anchorColoursDarkClassesGenerator
// 06 _ backgroundColourClassesGenerator
// 07 _ backgroundColourHoverClassesGenerator
//
// Los mixins 1 a 5 se utilizan en `[/scss/settings_text.scss]`
// Los mixins 6 y 7 se utilizan en `[/custom/includes_backgrounds.scss]`
//
//
// 01 _ colourLightClassesGenerator
// 02 _ colourDarkClassesGenerator
// 03 _ colourCustomHoverClassesGenerator
// Por cada color genera una clase
// y los selectores para los elementos `b`, `strong`, `i` y `em`.
//
// Ej. con color verdeAgua:
// .verdeAgua,
// .verdeAgua b,
// .verdeAgua strong,
// .verdeAgua i,
// .verdeAgua em { color: #hex; }
//
// Además genera selectores para un ancla con la clase,
// sus pseudoclases `:active`, `:visited`, `focus` y `:hover`
// y el selector `.noHover`.
//
// Ej.
// a.verdeAgua,
// a.verdeAgua:active,
// a.verdeAgua:visited,
// a.verdeAgua.noHover:focus,
// a.verdeAgua.noHover:hover { color: #hex; }
// a.verdeAgua:focus,
// a.verdeAgua:hover { color: #hex; }
//
// Tambien puede Genera selectores para `button` y `label`,
// sus pseudoclases `focus` y `:hover`
// y el selector `.noHover` para el elemento `button`.
// Se activa con `$buttons_coloured_act` y `$form_label_coloured_act`
//
// Ej.
// button.verdeAgua,
// button.verdeAgua.noHover:focus,
// button.verdeAgua.noHover:hover { color: #hex; }
// button.verdeAgua:focus,
// button.verdeAgua:hover { color: #hex; }
// label.verdeAgua,
// label.verdeAgua:focus,
// label.verdeAgua:hover { color: #hex; }
//
//
// 04 _ anchorColoursLightClassesGenerator
// 05 _ anchorColoursDarkClassesGenerator
// Por cada color genera selectores para anclas dentro de la clase.
//
// Ej.
// .verdeAgua a,
// .verdeAgua a:active,
// .verdeAgua a:visited { color: #hex; }
// .verdeAgua a:focus,
// .verdeAgua a:hover { color: #hex; }
//
//
// 06 _ backgroundColourClassesGenerator
// Por cada color genera una clase para usar como color de fondo.
//
// Ej.
// .bgVerdeAgua { background-color: #hex; }
//
//
// 07 _ backgroundColourHoverClassesGenerator
// Por cada color genera selectores para las pseudoclases `focus` y `:hover`
// de un ancla con clase del tipo `.bgColour`.
//
// Ej.
// a.bgVerdeAgua:hover,
// a.bgVerdeAgua:focus { background-color: #hex; }
//
// También puede Genera selectores para las pseudoclases `focus` y `:hover`
// de los elementos `button`, `ìnput[type="submit"]` e `input[type="file"]` 
// con clase del tipo `.bgColour`.
// Se activa con `$buttons_coloured_act` y `$form_input_coloured_act`
//
// Ej.
// button.bgVerdeAgua:hover,
// button.bgVerdeAgua:focus { background-color: #hex; }
// input[type="submit"].bgVerdeAgua:hover,
// input[type="submit"].bgVerdeAgua:focus { background-color: #hex; }
// input[type="file"].bgVerdeAgua:hover,
// input[type="file"].bgVerdeAgua:focus { background-color: #hex; }



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@mixin colourLightClassesGenerator($colours_map_light_darkenValue){
    @each $colourLightClassesGeneratorMX_colourClassName, $colourLightClassesGeneratorMX_colourHexValue in $colours_map_light {
        .#{$colourLightClassesGeneratorMX_colourClassName}{
            &, b, strong, i, em{color: $colourLightClassesGeneratorMX_colourHexValue;}
        }
        a.#{$colourLightClassesGeneratorMX_colourClassName}{
            &, &:active, &:visited, 
            &.noHover:focus, &.noHover:hover{color: $colourLightClassesGeneratorMX_colourHexValue;}
            &:focus, &:hover{color: darken($colourLightClassesGeneratorMX_colourHexValue, $colours_map_light_darkenValue);}
        }
        @if $buttons_coloured_act == "on"{
            button.#{$colourLightClassesGeneratorMX_colourClassName}{
                &, &.noHover:focus, &.noHover:hover{color: $colourLightClassesGeneratorMX_colourHexValue;}
                &:focus, &:hover{color: darken($colourLightClassesGeneratorMX_colourHexValue, $colours_map_light_darkenValue);}
            }
        }
        @if $form_label_coloured_act == "on"{
            label.#{$colourLightClassesGeneratorMX_colourClassName}{
                &, &:focus, &:hover{color: $colourLightClassesGeneratorMX_colourHexValue;}
            }
        }
    }
}
@mixin colourDarkClassesGenerator($colours_map_dark_lightenValue){
    @each $colourDarkClassesGeneratorMX_colourClassName, $colourDarkClassesGeneratorMX_colourHexValue in $colours_map_dark {
        .#{$colourDarkClassesGeneratorMX_colourClassName}{
            &, b, strong, i, em{color: $colourDarkClassesGeneratorMX_colourHexValue;}
        }
        a.#{$colourDarkClassesGeneratorMX_colourClassName}{
            &, &:active, &:visited, 
            &.noHover:focus, &.noHover:hover{color: $colourDarkClassesGeneratorMX_colourHexValue;}
            &:focus, &:hover{color: lighten($colourDarkClassesGeneratorMX_colourHexValue, $colours_map_dark_lightenValue);}
        }
        @if $buttons_coloured_act == "on"{
            button.#{$colourDarkClassesGeneratorMX_colourClassName}{
                &, &.noHover:focus, &.noHover:hover{color: $colourDarkClassesGeneratorMX_colourHexValue;}
                &:focus, &:hover{color: lighten($colourDarkClassesGeneratorMX_colourHexValue, $colours_map_dark_lightenValue);}
            }
        }
        @if $form_label_coloured_act == "on"{
            label.#{$colourDarkClassesGeneratorMX_colourClassName}{
                &, &:focus, &:hover{color: $colourDarkClassesGeneratorMX_colourHexValue;}
            }
        }
    }
}
@mixin colourCustomHoverClassesGenerator{
    @each $colourCustomHoverClassesGeneratorMX_colourClassName, $colourCustomHoverClassesGeneratorMX_colourHexValue in $colours_map_custom_hover {
        .#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
            &, b, strong, i, em{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
        }
        a.#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
            &, &:active, &:visited, 
            &.noHover:focus, &.noHover:hover{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
            @extend %anchor_button_focusHoverCustom__#{$colourCustomHoverClassesGeneratorMX_colourClassName}
        }
        @if $buttons_coloured_act == "on"{
            button.#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
                &, &.noHover:focus, &.noHover:hover{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
                @extend %anchor_button_focusHoverCustom__#{$colourCustomHoverClassesGeneratorMX_colourClassName}
            }
        }
        @if $form_label_coloured_act == "on"{
            label.#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
                &, &:focus, &:hover{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
            }
        }
    }
}
@mixin anchorColoursLightClassesGenerator($anchor_ftColours_map_light_darkenValue){
    @each $anchorColoursLightClassesGeneratorMX_colourClassName, $anchorColoursLightClassesGeneratorMX_colourHexValue in $anchor_ftColours_map_light {
        .#{$anchorColoursLightClassesGeneratorMX_colourClassName}{            
            a, a:active, a:visited{color: $anchorColoursLightClassesGeneratorMX_colourHexValue;}
            a:focus, a:hover{color: darken($anchorColoursLightClassesGeneratorMX_colourHexValue, $anchor_ftColours_map_light_darkenValue);}
        }
    }
}
@mixin anchorColoursDarkClassesGenerator($anchor_ftColours_map_dark_lightenValue){
    @each $anchorColoursDarkClassesGeneratorMX_colourClassName, $anchorColoursDarkClassesGeneratorMX_colourHexValue in $anchor_ftColours_map_dark {
        .#{$anchorColoursDarkClassesGeneratorMX_colourClassName}{            
            a, a:active, a:visited{color: $anchorColoursDarkClassesGeneratorMX_colourHexValue;}
            a:focus, a:hover{color: lighten($anchorColoursDarkClassesGeneratorMX_colourHexValue, $anchor_ftColours_map_dark_lightenValue);}
        }
    }
}
@mixin backgroundColourClassesGenerator{
    @each $backgroundColourClassesGeneratorMX_bgColourClassName, $backgroundColourClassesGeneratorMX_bgColourHexValue in $backgroundColours_map {
        .bg#{$backgroundColourClassesGeneratorMX_bgColourClassName}{background-color: $backgroundColourClassesGeneratorMX_bgColourHexValue;}
    }
}
@mixin backgroundColourHoverClassesGenerator{
    @each $backgroundColourHoverClassesGeneratorMX_bgColourClassName, $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue in $backgroundColours_hover_map {
        a.#{$backgroundColourHoverClassesGeneratorMX_bgColourClassName}{
            &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
        }
        @if $buttons_coloured_act == "on"{
            button.#{$backgroundColourHoverClassesGeneratorMX_bgColourClassName}{
                &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
            }
        }
        @if $form_input_coloured_act == "on"{
            input[type="submit"].#{$backgroundColourHoverClassesGeneratorMX_bgColourClassName}{
                &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
            }
            input[type="file"].#{$backgroundColourHoverClassesGeneratorMX_bgColourClassName}{
                &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
            }
        }
    }
}