/* =============================================================================
   Tables Sizes Mixins | Etc [mixinsTableSizes.scss]
   ========================================================================== */
    //Generador de clases por cada tamaño de ancho de tabla
@mixin tableCustomSizesBeforeTablet{
    @each $tableClassName, $tableCustomWidth in $table_sizes_map_BT {
        &.#{$tableClassName}{width: $tableCustomWidth;}
    }
}
@mixin tableCustomSizesTablet{
    @each $tableClassName, $tableCustomWidth in $table_sizes_map_AT {
        &.#{$tableClassName}{width: $tableCustomWidth;}
    }
}
@mixin tableCustomSizesTabletL{
    @each $tableClassName, $tableCustomWidth in $table_sizes_map_ATL {
        &.#{$tableClassName}{width: $tableCustomWidth;}
    }
}