/* =============================================================================
   Background Mixins Prev / Etc
   ========================================================================== */
@mixin sprites($backgroundPosition, $backgroundColour: transparent){
    background: $backgroundColour url('/nuevo/oldframework/img/sprites.png') no-repeat $backgroundPosition;}

@mixin bgSvg($svgPath, $svgSize: contain, $svgPos: center center, $svgColour: transparent, $svgRepeat: no-repeat){
    background-color: $svgColour;
    background-image: url('/nuevo/oldframework/img/#{$svgPath}.svg');
    background-repeat: $svgRepeat;
    background-position: $svgPos;
    background-size: $svgSize;
}