/* =============================================================================
   Center Mixins | Etc [mixinsCenter.scss]
   ========================================================================== */
    //Mixin para clase .absoluteCenter
@mixin centerAbsolute($widthValue, $heightValue, $positionValue: absolute){
    $widthValueH: #{$widthValue} / 2;
    $heightValueH: #{$heightValue} / 2;
    position: $positionValue;
    top: 50%;
    left: 50%;
    width: $widthValue;
    height: $heightValue;
    margin-top: calc(-1 * #{$heightValueH});
    margin-left: calc(-1 * #{$widthValueH});
}
@mixin centerAbsoluteChild(){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    //Mixin para clase .centerVertical
@mixin centerVertical($heightValue, $positionValue: absolute){
    $heightValueH: #{$heightValue} / 2;
    position: $positionValue;
    top: 50%;
    height: $heightValue;
    margin-top: calc(-1 * #{$heightValueH});
}
    //Mixin para clase .centerHorizontal
@mixin centerHorizontal($widthValue, $positionValue: absolute){
    $widthValueH: #{$widthValue} / 2;
    position: $positionValue;
    left: 50%;
    width: $widthValue;
    margin-left: calc(-1 * #{$widthValueH});
}
    //Mixin centrado custom
@mixin centerCustom($percentWidth: 90%){
    width: $percentWidth;
    margin-right: $auto;
    margin-left: $auto;
}
    //Mixin para centrar pop_main
@mixin centerPopup($widthValue, $heightValue, $topValue: 40%){
    $widthValueH: #{$widthValue} / 2;
    $heightValueH: #{$heightValue} / 2;    
    top: $topValue;
    width: $widthValue;
    height: $heightValue;
    margin-top: calc(-1 * #{$heightValueH});
    margin-left: calc(-1 * #{$widthValueH});
}