/* * NombreDeProyecto * ========================================================
   Spacing Helpers Mixins | Etc [/etc/css/scss/mixin_spacing.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Mixins para generar nuevos spacing helpers



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@mixin spacingHelpersClassesGenerator{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}, .pv#{$SH_className}, .pa#{$SH_className}{padding-top: $SH_value;}
        .pr#{$SH_className}, .ph#{$SH_className}, .pa#{$SH_className}{padding-right: $SH_value;}
        .pb#{$SH_className}, .pv#{$SH_className}, .pa#{$SH_className}{padding-bottom: $SH_value;}
        .pl#{$SH_className}, .ph#{$SH_className}, .pa#{$SH_className}{padding-left: $SH_value;}
        .mt#{$SH_className}, .mv#{$SH_className}, .ma#{$SH_className}{margin-top: $SH_value;}
        .mr#{$SH_className}, .mh#{$SH_className}, .ma#{$SH_className}{margin-right: $SH_value;}
        .mb#{$SH_className}, .mv#{$SH_className}, .ma#{$SH_className}{margin-bottom: $SH_value;}
        .ml#{$SH_className}, .mh#{$SH_className}, .ma#{$SH_className}{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorMO{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}MO, .pv#{$SH_className}MO, .pa#{$SH_className}MO{padding-top: $SH_value;}
        .pr#{$SH_className}MO, .ph#{$SH_className}MO, .pa#{$SH_className}MO{padding-right: $SH_value;}
        .pb#{$SH_className}MO, .pv#{$SH_className}MO, .pa#{$SH_className}MO{padding-bottom: $SH_value;}
        .pl#{$SH_className}MO, .ph#{$SH_className}MO, .pa#{$SH_className}MO{padding-left: $SH_value;}
        .mt#{$SH_className}MO, .mv#{$SH_className}MO, .ma#{$SH_className}MO{margin-top: $SH_value;}
        .mr#{$SH_className}MO, .mh#{$SH_className}MO, .ma#{$SH_className}MO{margin-right: $SH_value;}
        .mb#{$SH_className}MO, .mv#{$SH_className}MO, .ma#{$SH_className}MO{margin-bottom: $SH_value;}
        .ml#{$SH_className}MO, .mh#{$SH_className}MO, .ma#{$SH_className}MO{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorAML{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}AML, .pv#{$SH_className}AML, .pa#{$SH_className}AML{padding-top: $SH_value;}
        .pr#{$SH_className}AML, .ph#{$SH_className}AML, .pa#{$SH_className}AML{padding-right: $SH_value;}
        .pb#{$SH_className}AML, .pv#{$SH_className}AML, .pa#{$SH_className}AML{padding-bottom: $SH_value;}
        .pl#{$SH_className}AML, .ph#{$SH_className}AML, .pa#{$SH_className}AML{padding-left: $SH_value;}
        .mt#{$SH_className}AML, .mv#{$SH_className}AML, .ma#{$SH_className}AML{margin-top: $SH_value;}
        .mr#{$SH_className}AML, .mh#{$SH_className}AML, .ma#{$SH_className}AML{margin-right: $SH_value;}
        .mb#{$SH_className}AML, .mv#{$SH_className}AML, .ma#{$SH_className}AML{margin-bottom: $SH_value;}
        .ml#{$SH_className}AML, .mh#{$SH_className}AML, .ma#{$SH_className}AML{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorMLO{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}MLO, .pv#{$SH_className}MLO, .pa#{$SH_className}MLO{padding-top: $SH_value;}
        .pr#{$SH_className}MLO, .ph#{$SH_className}MLO, .pa#{$SH_className}MLO{padding-right: $SH_value;}
        .pb#{$SH_className}MLO, .pv#{$SH_className}MLO, .pa#{$SH_className}MLO{padding-bottom: $SH_value;}
        .pl#{$SH_className}MLO, .ph#{$SH_className}MLO, .pa#{$SH_className}MLO{padding-left: $SH_value;}
        .mt#{$SH_className}MLO, .mv#{$SH_className}MLO, .ma#{$SH_className}MLO{margin-top: $SH_value;}
        .mr#{$SH_className}MLO, .mh#{$SH_className}MLO, .ma#{$SH_className}MLO{margin-right: $SH_value;}
        .mb#{$SH_className}MLO, .mv#{$SH_className}MLO, .ma#{$SH_className}MLO{margin-bottom: $SH_value;}
        .ml#{$SH_className}MLO, .mh#{$SH_className}MLO, .ma#{$SH_className}MLO{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorBT{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}BT, .pv#{$SH_className}BT, .pa#{$SH_className}BT{padding-top: $SH_value;}
        .pr#{$SH_className}BT, .ph#{$SH_className}BT, .pa#{$SH_className}BT{padding-right: $SH_value;}
        .pb#{$SH_className}BT, .pv#{$SH_className}BT, .pa#{$SH_className}BT{padding-bottom: $SH_value;}
        .pl#{$SH_className}BT, .ph#{$SH_className}BT, .pa#{$SH_className}BT{padding-left: $SH_value;}
        .mt#{$SH_className}BT, .mv#{$SH_className}BT, .ma#{$SH_className}BT{margin-top: $SH_value;}
        .mr#{$SH_className}BT, .mh#{$SH_className}BT, .ma#{$SH_className}BT{margin-right: $SH_value;}
        .mb#{$SH_className}BT, .mv#{$SH_className}BT, .ma#{$SH_className}BT{margin-bottom: $SH_value;}
        .ml#{$SH_className}BT, .mh#{$SH_className}BT, .ma#{$SH_className}BT{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorBTL{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}BTL, .pv#{$SH_className}BTL, .pa#{$SH_className}BTL{padding-top: $SH_value;}
        .pr#{$SH_className}BTL, .ph#{$SH_className}BTL, .pa#{$SH_className}BTL{padding-right: $SH_value;}
        .pb#{$SH_className}BTL, .pv#{$SH_className}BTL, .pa#{$SH_className}BTL{padding-bottom: $SH_value;}
        .pl#{$SH_className}BTL, .ph#{$SH_className}BTL, .pa#{$SH_className}BTL{padding-left: $SH_value;}
        .mt#{$SH_className}BTL, .mv#{$SH_className}BTL, .ma#{$SH_className}BTL{margin-top: $SH_value;}
        .mr#{$SH_className}BTL, .mh#{$SH_className}BTL, .ma#{$SH_className}BTL{margin-right: $SH_value;}
        .mb#{$SH_className}BTL, .mv#{$SH_className}BTL, .ma#{$SH_className}BTL{margin-bottom: $SH_value;}
        .ml#{$SH_className}BTL, .mh#{$SH_className}BTL, .ma#{$SH_className}BTL{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorTO{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}TO, .pv#{$SH_className}TO, .pa#{$SH_className}TO{padding-top: $SH_value;}
        .pr#{$SH_className}TO, .ph#{$SH_className}TO, .pa#{$SH_className}TO{padding-right: $SH_value;}
        .pb#{$SH_className}TO, .pv#{$SH_className}TO, .pa#{$SH_className}TO{padding-bottom: $SH_value;}
        .pl#{$SH_className}TO, .ph#{$SH_className}TO, .pa#{$SH_className}TO{padding-left: $SH_value;}
        .mt#{$SH_className}TO, .mv#{$SH_className}TO, .ma#{$SH_className}TO{margin-top: $SH_value;}
        .mr#{$SH_className}TO, .mh#{$SH_className}TO, .ma#{$SH_className}TO{margin-right: $SH_value;}
        .mb#{$SH_className}TO, .mv#{$SH_className}TO, .ma#{$SH_className}TO{margin-bottom: $SH_value;}
        .ml#{$SH_className}TO, .mh#{$SH_className}TO, .ma#{$SH_className}TO{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorAT{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}AT, .pv#{$SH_className}AT, .pa#{$SH_className}AT{padding-top: $SH_value;}
        .pr#{$SH_className}AT, .ph#{$SH_className}AT, .pa#{$SH_className}AT{padding-right: $SH_value;}
        .pb#{$SH_className}AT, .pv#{$SH_className}AT, .pa#{$SH_className}AT{padding-bottom: $SH_value;}
        .pl#{$SH_className}AT, .ph#{$SH_className}AT, .pa#{$SH_className}AT{padding-left: $SH_value;}
        .mt#{$SH_className}AT, .mv#{$SH_className}AT, .ma#{$SH_className}AT{margin-top: $SH_value;}
        .mr#{$SH_className}AT, .mh#{$SH_className}AT, .ma#{$SH_className}AT{margin-right: $SH_value;}
        .mb#{$SH_className}AT, .mv#{$SH_className}AT, .ma#{$SH_className}AT{margin-bottom: $SH_value;}
        .ml#{$SH_className}AT, .mh#{$SH_className}AT, .ma#{$SH_className}AT{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorATL{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}ATL, .pv#{$SH_className}ATL, .pa#{$SH_className}ATL{padding-top: $SH_value;}
        .pr#{$SH_className}ATL, .ph#{$SH_className}ATL, .pa#{$SH_className}ATL{padding-right: $SH_value;}
        .pb#{$SH_className}ATL, .pv#{$SH_className}ATL, .pa#{$SH_className}ATL{padding-bottom: $SH_value;}
        .pl#{$SH_className}ATL, .ph#{$SH_className}ATL, .pa#{$SH_className}ATL{padding-left: $SH_value;}
        .mt#{$SH_className}ATL, .mv#{$SH_className}ATL, .ma#{$SH_className}ATL{margin-top: $SH_value;}
        .mr#{$SH_className}ATL, .mh#{$SH_className}ATL, .ma#{$SH_className}ATL{margin-right: $SH_value;}
        .mb#{$SH_className}ATL, .mv#{$SH_className}ATL, .ma#{$SH_className}ATL{margin-bottom: $SH_value;}
        .ml#{$SH_className}ATL, .mh#{$SH_className}ATL, .ma#{$SH_className}ATL{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorTLO{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}TLO, .pv#{$SH_className}TLO, .pa#{$SH_className}TLO{padding-top: $SH_value;}
        .pr#{$SH_className}TLO, .ph#{$SH_className}TLO, .pa#{$SH_className}TLO{padding-right: $SH_value;}
        .pb#{$SH_className}TLO, .pv#{$SH_className}TLO, .pa#{$SH_className}TLO{padding-bottom: $SH_value;}
        .pl#{$SH_className}TLO, .ph#{$SH_className}TLO, .pa#{$SH_className}TLO{padding-left: $SH_value;}
        .mt#{$SH_className}TLO, .mv#{$SH_className}TLO, .ma#{$SH_className}TLO{margin-top: $SH_value;}
        .mr#{$SH_className}TLO, .mh#{$SH_className}TLO, .ma#{$SH_className}TLO{margin-right: $SH_value;}
        .mb#{$SH_className}TLO, .mv#{$SH_className}TLO, .ma#{$SH_className}TLO{margin-bottom: $SH_value;}
        .ml#{$SH_className}TLO, .mh#{$SH_className}TLO, .ma#{$SH_className}TLO{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorTTLO{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}TTLO, .pv#{$SH_className}TTLO, .pa#{$SH_className}TTLO{padding-top: $SH_value;}
        .pr#{$SH_className}TTLO, .ph#{$SH_className}TTLO, .pa#{$SH_className}TTLO{padding-right: $SH_value;}
        .pb#{$SH_className}TTLO, .pv#{$SH_className}TTLO, .pa#{$SH_className}TTLO{padding-bottom: $SH_value;}
        .pl#{$SH_className}TTLO, .ph#{$SH_className}TTLO, .pa#{$SH_className}TTLO{padding-left: $SH_value;}
        .mt#{$SH_className}TTLO, .mv#{$SH_className}TTLO, .ma#{$SH_className}TTLO{margin-top: $SH_value;}
        .mr#{$SH_className}TTLO, .mh#{$SH_className}TTLO, .ma#{$SH_className}TTLO{margin-right: $SH_value;}
        .mb#{$SH_className}TTLO, .mv#{$SH_className}TTLO, .ma#{$SH_className}TTLO{margin-bottom: $SH_value;}
        .ml#{$SH_className}TTLO, .mh#{$SH_className}TTLO, .ma#{$SH_className}TTLO{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorBD{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}BD, .pv#{$SH_className}BD, .pa#{$SH_className}BD{padding-top: $SH_value;}
        .pr#{$SH_className}BD, .ph#{$SH_className}BD, .pa#{$SH_className}BD{padding-right: $SH_value;}
        .pb#{$SH_className}BD, .pv#{$SH_className}BD, .pa#{$SH_className}BD{padding-bottom: $SH_value;}
        .pl#{$SH_className}BD, .ph#{$SH_className}BD, .pa#{$SH_className}BD{padding-left: $SH_value;}
        .mt#{$SH_className}BD, .mv#{$SH_className}BD, .ma#{$SH_className}BD{margin-top: $SH_value;}
        .mr#{$SH_className}BD, .mh#{$SH_className}BD, .ma#{$SH_className}BD{margin-right: $SH_value;}
        .mb#{$SH_className}BD, .mv#{$SH_className}BD, .ma#{$SH_className}BD{margin-bottom: $SH_value;}
        .ml#{$SH_className}BD, .mh#{$SH_className}BD, .ma#{$SH_className}BD{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorAL{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}AL, .pv#{$SH_className}AL, .pa#{$SH_className}AL{padding-top: $SH_value;}
        .pr#{$SH_className}AL, .ph#{$SH_className}AL, .pa#{$SH_className}AL{padding-right: $SH_value;}
        .pb#{$SH_className}AL, .pv#{$SH_className}AL, .pa#{$SH_className}AL{padding-bottom: $SH_value;}
        .pl#{$SH_className}AL, .ph#{$SH_className}AL, .pa#{$SH_className}AL{padding-left: $SH_value;}
        .mt#{$SH_className}AL, .mv#{$SH_className}AL, .ma#{$SH_className}AL{margin-top: $SH_value;}
        .mr#{$SH_className}AL, .mh#{$SH_className}AL, .ma#{$SH_className}AL{margin-right: $SH_value;}
        .mb#{$SH_className}AL, .mv#{$SH_className}AL, .ma#{$SH_className}AL{margin-bottom: $SH_value;}
        .ml#{$SH_className}AL, .mh#{$SH_className}AL, .ma#{$SH_className}AL{margin-left: $SH_value;}
    }
}
@mixin spacingHelpersClassesGeneratorAD{
    @each $SH_className, $SH_value in $helpers_spacing_map {
        .pt#{$SH_className}AD, .pv#{$SH_className}AD, .pa#{$SH_className}AD{padding-top: $SH_value;}
        .pr#{$SH_className}AD, .ph#{$SH_className}AD, .pa#{$SH_className}AD{padding-right: $SH_value;}
        .pb#{$SH_className}AD, .pv#{$SH_className}AD, .pa#{$SH_className}AD{padding-bottom: $SH_value;}
        .pl#{$SH_className}AD, .ph#{$SH_className}AD, .pa#{$SH_className}AD{padding-left: $SH_value;}
        .mt#{$SH_className}AD, .mv#{$SH_className}AD, .ma#{$SH_className}AD{margin-top: $SH_value;}
        .mr#{$SH_className}AD, .mh#{$SH_className}AD, .ma#{$SH_className}AD{margin-right: $SH_value;}
        .mb#{$SH_className}AD, .mv#{$SH_className}AD, .ma#{$SH_className}AD{margin-bottom: $SH_value;}
        .ml#{$SH_className}AD, .mh#{$SH_className}AD, .ma#{$SH_className}AD{margin-left: $SH_value;}
    }
}