/* =============================================================================
   Border Helpers Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
    //Border Style    
//A,T,R,B,L = all,top,right,bottom,left
//H,V,X = horizontal,vertical,user defined values

@mixin borderStyle($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border: $borderStyleMX_bcWidth $borderStyleMX_bcStyle $borderStyleMX_bcColour}
@mixin borderStyleT($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border-top: $borderStyleMX_bcWidth $borderStyleMX_bcStyle $borderStyleMX_bcColour}
@mixin borderStyleR($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border-right: $borderStyleMX_bcWidth $borderStyleMX_bcStyle $borderStyleMX_bcColour}
@mixin borderStyleB($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border-bottom: $borderStyleMX_bcWidth $borderStyleMX_bcStyle $borderStyleMX_bcColour}
@mixin borderStyleL($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border-left: $borderStyleMX_bcWidth $borderStyleMX_bcStyle $borderStyleMX_bcColour}
@mixin borderStyleH($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border-width: 0 $borderStyleMX_bcWidth;
    border-style: $borderStyleMX_bcStyle;
    border-color: $borderStyleMX_bcColour;
}
@mixin borderStyleV($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border-width: $borderStyleMX_bcWidth 0;
    border-style: $borderStyleMX_bcStyle;
    border-color: $borderStyleMX_bcColour;
}
@mixin borderStyleX($borderStyleMX_bcColour: $bdColour_main_global, $borderStyleMX_bcWidth: 1px, $borderStyleMX_bcStyle: solid){
    border-width: $borderStyleMX_bcWidth;
    border-style: $borderStyleMX_bcStyle;
    border-color: $borderStyleMX_bcColour;
}

/* =============================================================================
   Border Radius Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
//T,R,B,L = top,right,bottom,left

@mixin borderRadius($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value;
}
@mixin borderRadiusT($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value $borderRaduisMX_value 0 0;
}
@mixin borderRadiusR($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 $borderRaduisMX_value $borderRaduisMX_value 0;
}
@mixin borderRadiusB($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 0 $borderRaduisMX_value $borderRaduisMX_value;
}
@mixin borderRadiusL($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value 0 0 $borderRaduisMX_value;
}
@mixin borderRadiusTR($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 $borderRaduisMX_value 0 0;
}
@mixin borderRadiusTL($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value 0 0 0;
}
@mixin borderRadiusBR($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 0 $borderRaduisMX_value 0;
}
@mixin borderRadiusBL($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 0 0 $borderRaduisMX_value;
}

/* =============================================================================
   Border Separation Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
    //Border separation with equal padding and margin
@mixin PBMsT($PBMsMX_separation: 10px, $PBMsMX_bcWidth: 1px, $PBMsMX_bcColour: $bdColour_main_global, $PBMsMX_bcStyle: solid){
    padding-top: $PBMsMX_separation;
    @include bcStyleT($PBMsMX_bcWidth, $PBMsMX_bcStyle, $PBMsMX_bcColour);
    margin-top: $PBMsMX_separation;
}
@mixin PBMsR($PBMsMX_separation: 10px, $PBMsMX_bcWidth: 1px, $PBMsMX_bcColour: $bdColour_main_global, $PBMsMX_bcStyle: solid){
    padding-right: $PBMsMX_separation;
    @include bcStyleR($PBMsMX_bcWidth, $PBMsMX_bcStyle, $PBMsMX_bcColour);
    margin-right: $PBMsMX_separation;
}
@mixin PBMsB($PBMsMX_separation: 10px, $PBMsMX_bcWidth: 1px, $PBMsMX_bcColour: $bdColour_main_global, $PBMsMX_bcStyle: solid){
    padding-bottom: $PBMsMX_separation;
    @include bcStyleB($PBMsMX_bcWidth, $PBMsMX_bcStyle, $PBMsMX_bcColour);
    margin-bottom: $PBMsMX_separation;
}
@mixin PBMsL($PBMsMX_separation: 10px, $PBMsMX_bcWidth: 1px, $PBMsMX_bcColour: $bdColour_main_global, $PBMsMX_bcStyle: solid){
    padding-left: $PBMsMX_separation;
    @include bcStyleL($PBMsMX_bcWidth, $PBMsMX_bcStyle, $PBMsMX_bcColour);
    margin-left: $PBMsMX_separation;
}

/* =============================================================================
   Border Fancy Horizontal Line Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
@mixin fancyHorizontalLines($fancyHorizontalLinesMX_border: 1px solid white, $fancyHorizontalLinesMX_width: 100px, $fancyHorizontalLinesMX_separation: 15px){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                border-top:     $fancyHorizontalLinesMX_border;
                width:          $fancyHorizontalLinesMX_width;
            }
            &::before {
                right: 100%;
                margin-right:   $fancyHorizontalLinesMX_separation;
            }
            &::after {
                left: 100%;
                margin-left:    $fancyHorizontalLinesMX_separation;
            }  
        }
    }
}

@mixin fancyHorizontalLinesDouble($fancyHorizontalLinesDoubleMX_borderT: 1px solid white, $fancyHorizontalLinesDoubleMX_width: 100px, $fancyHorizontalLinesDoubleMX_separation: 15px, $fancyHorizontalLinesDoubleMX_height: 5px, $fancyHorizontalLinesDoubleMX_MT: 10px, $fancyHorizontalLinesDoubleMX_borderB: $fancyHorizontalLinesDoubleMX_borderT){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width:          $fancyHorizontalLinesDoubleMX_width;
                height:         $fancyHorizontalLinesDoubleMX_height;
                border-top:     $fancyHorizontalLinesDoubleMX_borderT;
                border-bottom:  $fancyHorizontalLinesDoubleMX_borderB;
                margin-top:     $fancyHorizontalLinesDoubleMX_MT;
            }
            &::before {
                right: 100%;
                margin-right:   $fancyHorizontalLinesDoubleMX_separation;
            }
            &::after {
                left: 100%;
                margin-left:    $fancyHorizontalLinesDoubleMX_separation;
            }  
        }
    }
}