/* * NombreDeProyecto * ========================================================
   Mixins Container | Etc [/etc/css/scss/mixins_container.scss]
   ========================================================================== */

@use "var_all" as *;
@use "../custom/var/container_sizes_var" as *;
@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Listado de mixins:
//
// 01 _ containerMAX_settings // REF [38*] ContainerMAX width

// Este mixin es usado en el archivo `[/etc/css/scss/settings_container.scss]`
// para imprimir los estilos correspondientes a la clases
// `.containerA1100`
// `.containerA1200`
// `.containerA1300`
// `.containerA1400`
// `.containerA1500`
// de acuerdo al valor declarado en la variable `$containerMAX_value`
// del archivo `[/etc/css/custom/var/container_sizes_var.scss]` 
//
// Ej. con 1300:
// @media (min-width: 1301px) {
//   .container {
//     box-sizing: border-box;
//     padding-right: 30px;
//     padding-left: 30px;
//   }
//  }



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // REF [38*] Mixin para container max ------------------------------------ */
@mixin containerMAX_settings(){
    box-sizing: border-box;
    padding-right: $container_max_width_PR;
    padding-left: $container_max_width_PL;
}