/* =============================================================================
   Border Helpers Mixins | Etc [mixins_borders.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de mixins.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A              = horizontal, vertical, all

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // General Border Radius Mixins ------------------------------------------ */
@mixin borderStyle($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleT($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-top: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleR($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-right: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleB($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-bottom: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleL($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-left: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleH($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-width: 0 $borderStyleMX_bdWidth;
    border-style: $borderStyleMX_bdStyle;
    border-color: $borderStyleMX_bdColour;
}
@mixin borderStyleV($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-width: $borderStyleMX_bdWidth 0;
    border-style: $borderStyleMX_bdStyle;
    border-color: $borderStyleMX_bdColour;
}
@mixin borderStyleX($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-width: $borderStyleMX_bdWidth;
    border-style: $borderStyleMX_bdStyle;
    border-color: $borderStyleMX_bdColour;
}

/* // Border Radius Mixins -------------------------------------------------- */
@mixin borderRadius($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: $bdRadiusMX_value;
}
@mixin borderRadiusT($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: $bdRadiusMX_value $bdRadiusMX_value 0 0;
}
@mixin borderRadiusR($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: 0 $bdRadiusMX_value $bdRadiusMX_value 0;
}
@mixin borderRadiusB($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: 0 0 $bdRadiusMX_value $bdRadiusMX_value;
}
@mixin borderRadiusL($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: $bdRadiusMX_value 0 0 $bdRadiusMX_value;
}
@mixin borderRadiusTR($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: 0 $bdRadiusMX_value 0 0;
}
@mixin borderRadiusTL($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: $bdRadiusMX_value 0 0 0;
}
@mixin borderRadiusBR($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: 0 0 $bdRadiusMX_value 0;
}
@mixin borderRadiusBL($bdRadiusMX_value: $helpers_border_radius_global){
    border-radius: 0 0 0 $bdRadiusMX_value;
}

/* // Border Style Before & After Mixins ------------------------------------ */
@mixin borderPseudoT($borderPseudoMX_bdColour: $bdColour_main_global, $borderPseudoMX_bdWidth: 1px, $borderPseudoMX_top: 0px, $borderPseudoMX_right: 0px, $borderPseudoMX_bottom: auto, $borderPseudoMX_left: 0px){
    position: relative;
    
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: $borderPseudoMX_top;
        right: $borderPseudoMX_right;
        bottom: $borderPseudoMX_bottom;
        left: $borderPseudoMX_left;
        height: $borderPseudoMX_bdWidth;
        background-color: $borderPseudoMX_bdColour;
    }
}
@mixin borderPseudoR($borderPseudoMX_bdColour: $bdColour_main_global, $borderPseudoMX_bdWidth: 1px, $borderPseudoMX_top: 0px, $borderPseudoMX_right: 0px, $borderPseudoMX_bottom: 0px, $borderPseudoMX_left: auto){
    position: relative;
    
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: $borderPseudoMX_top;
        right: $borderPseudoMX_right;
        bottom: $borderPseudoMX_bottom;
        left: $borderPseudoMX_left;
        width: $borderPseudoMX_bdWidth;
        background-color: $borderPseudoMX_bdColour;
    }
}
@mixin borderPseudoB($borderPseudoMX_bdColour: $bdColour_main_global, $borderPseudoMX_bdWidth: 1px, $borderPseudoMX_top: auto, $borderPseudoMX_right: 0px, $borderPseudoMX_bottom: 0px, $borderPseudoMX_left: 0px){
    position: relative;
    
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: $borderPseudoMX_top;
        right: $borderPseudoMX_right;
        bottom: $borderPseudoMX_bottom;
        left: $borderPseudoMX_left;
        height: $borderPseudoMX_bdWidth;
        background-color: $borderPseudoMX_bdColour;
    }
}
@mixin borderPseudoL($borderPseudoMX_bdColour: $bdColour_main_global, $borderPseudoMX_bdWidth: 1px, $borderPseudoMX_top: 0px, $borderPseudoMX_right: auto, $borderPseudoMX_bottom: 0px, $borderPseudoMX_left: 0px){
    position: relative;
    
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: $borderPseudoMX_top;
        right: $borderPseudoMX_right;
        bottom: $borderPseudoMX_bottom;
        left: $borderPseudoMX_left;
        width: $borderPseudoMX_bdWidth;
        background-color: $borderPseudoMX_bdColour;
    }
}
@mixin borderPseudoV($borderPseudoMX_bdColour: $bdColour_main_global, $borderPseudoMX_bdWidth: 1px, $borderPseudoMX_top: 0px, $borderPseudoMX_right: 0px, $borderPseudoMX_bottom: 0px, $borderPseudoMX_left: 0px){
    position: relative;
    
    &::before,
    &::after{
        content: "";
        display: block;
        position: absolute;
        left: $borderPseudoMX_left;
        right: $borderPseudoMX_right;
        background-color: $borderPseudoMX_bdColour;
        height: $borderPseudoMX_bdWidth;
    }
    
    &::before{
        top: $borderPseudoMX_top;
    }
    
    &::after{
        bottom: $borderPseudoMX_bottom;
    }
}
@mixin borderPseudoH($borderPseudoMX_bdColour: $bdColour_main_global, $borderPseudoMX_bdWidth: 1px, $borderPseudoMX_top: 0px, $borderPseudoMX_right: 0px, $borderPseudoMX_bottom: 0px, $borderPseudoMX_left: 0px){
    position: relative;
    
    &::before,
    &::after{
        content: "";
        display: block;
        position: absolute; 
        top: $borderPseudoMX_top;
        bottom: $borderPseudoMX_bottom;
        background-color: $borderPseudoMX_bdColour;
        height: $borderPseudoMX_bdWidth;
    }
    
    &::before{
        right: $borderPseudoMX_right;
    }
    
    &::after{
        left: $borderPseudoMX_left;
    }
}

/* // Border separation with equal padding and margin ----------------------- */
@mixin PBMsT($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-top: $PBMsMX_separation;
    @include borderStyleT($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-top: $PBMsMX_separation;
}
@mixin PBMsR($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-right: $PBMsMX_separation;
    @include borderStyleR($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-right: $PBMsMX_separation;
}
@mixin PBMsB($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-bottom: $PBMsMX_separation;
    @include borderStyleB($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-bottom: $PBMsMX_separation;
}
@mixin PBMsL($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-left: $PBMsMX_separation;
    @include borderStyleL($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-left: $PBMsMX_separation;
}

/* // Border Fancy Horizontal Line Mixins ----------------------------------- */
@mixin fancyHorizontalLines($fancyHorizontalLinesMX_border: 1px solid white, $fancyHorizontalLinesMX_width: 100px, $fancyHorizontalLinesMX_separation: 15px){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                border-top:     $fancyHorizontalLinesMX_border;
                width:          $fancyHorizontalLinesMX_width;
            }
            &::before {
                right: 100%;
                margin-right:   $fancyHorizontalLinesMX_separation;
            }
            &::after {
                left: 100%;
                margin-left:    $fancyHorizontalLinesMX_separation;
            }  
        }
    }
}

@mixin fancyHorizontalLinesDouble($fancyHorizontalLinesDoubleMX_borderT: 1px solid white, $fancyHorizontalLinesDoubleMX_width: 100px, $fancyHorizontalLinesDoubleMX_separation: 15px, $fancyHorizontalLinesDoubleMX_height: 5px, $fancyHorizontalLinesDoubleMX_MT: 10px, $fancyHorizontalLinesDoubleMX_borderB: $fancyHorizontalLinesDoubleMX_borderT){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width:          $fancyHorizontalLinesDoubleMX_width;
                height:         $fancyHorizontalLinesDoubleMX_height;
                border-top:     $fancyHorizontalLinesDoubleMX_borderT;
                border-bottom:  $fancyHorizontalLinesDoubleMX_borderB;
                margin-top:     $fancyHorizontalLinesDoubleMX_MT;
            }
            &::before {
                right: 100%;
                margin-right:   $fancyHorizontalLinesDoubleMX_separation;
            }
            &::after {
                left: 100%;
                margin-left:    $fancyHorizontalLinesDoubleMX_separation;
            }  
        }
    }
}