/* =============================================================================
   Fonts Mixins | Etc [mixinsFonts.scss]
   ========================================================================== */
    //Generador de clases por cada fuente
@mixin fontFamilyCustomClassesGenerator{
    @each $fontFamilyClassName, $fontFamilyName in $fontFamilies_map {
        .#{$fontFamilyClassName}{font-family: $fontFamilyName;}
    }
    
    @if $openSansClasses == "on" {
        @each $fontFamilyClassName, $fontFamilyName in $openSansMap {
            .#{$fontFamilyClassName}{font-family: $fontFamilyName;}
        }
    }
}
    //Generador de clases por cada tamaño de fuente
@mixin fontCustomHeadingsSizesGeneratorMobile{
    @each $headingsClassName, $fontCustomSizeValues in $fontSize_map_mobile {
        #{$headingsClassName}{font-size: $fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorTablet{
    @each $headingsClassName, $fontCustomSizeValues in $fontSize_map_tablet {
        #{$headingsClassName}{font-size: $fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorDesktop{
    @each $headingsClassName, $fontCustomSizeValues in $fontSize_map_desktop {
        #{$headingsClassName}{font-size: $fontCustomSizeValues;}
    }
}