/* =============================================================================
   Spacing Helpers Mixins | Etc
   ========================================================================== */
    //Mixins para generar nuevos spacing helpers
@mixin spacingHelpersClassesGenerator{
    @each $shClassName, $shValue in $spacingHelpersMap {
        .pt#{$shClassName}, .pv#{$shClassName}, .pa#{$shClassName}{padding-top: $shValue;}
        .pr#{$shClassName}, .ph#{$shClassName}, .pa#{$shClassName}{padding-right: $shValue;}
        .pb#{$shClassName}, .pv#{$shClassName}, .pa#{$shClassName}{padding-bottom: $shValue;}
        .pl#{$shClassName}, .ph#{$shClassName}, .pa#{$shClassName}{padding-left: $shValue;}
        .mt#{$shClassName}, .mv#{$shClassName}, .ma#{$shClassName}{margin-top: $shValue;}
        .mr#{$shClassName}, .mh#{$shClassName}, .ma#{$shClassName}{margin-right: $shValue;}
        .mb#{$shClassName}, .mv#{$shClassName}, .ma#{$shClassName}{margin-bottom: $shValue;}
        .ml#{$shClassName}, .mh#{$shClassName}, .ma#{$shClassName}{margin-left: $shValue;}
    }
}
@mixin spacingHelpersClassesGeneratorMO{
    @if $shMobileOnly == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}MO, .pv#{$shClassName}MO, .pa#{$shClassName}MO{padding-top: $shValue;}
            .pr#{$shClassName}MO, .ph#{$shClassName}MO, .pa#{$shClassName}MO{padding-right: $shValue;}
            .pb#{$shClassName}MO, .pv#{$shClassName}MO, .pa#{$shClassName}MO{padding-bottom: $shValue;}
            .pl#{$shClassName}MO, .ph#{$shClassName}MO, .pa#{$shClassName}MO{padding-left: $shValue;}
            .mt#{$shClassName}MO, .mv#{$shClassName}MO, .ma#{$shClassName}MO{margin-top: $shValue;}
            .mr#{$shClassName}MO, .mh#{$shClassName}MO, .ma#{$shClassName}MO{margin-right: $shValue;}
            .mb#{$shClassName}MO, .mv#{$shClassName}MO, .ma#{$shClassName}MO{margin-bottom: $shValue;}
            .ml#{$shClassName}MO, .mh#{$shClassName}MO, .ma#{$shClassName}MO{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorAML{
    @if $shAfterMobileLandscape == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}AML, .pv#{$shClassName}AML, .pa#{$shClassName}AML{padding-top: $shValue;}
            .pr#{$shClassName}AML, .ph#{$shClassName}AML, .pa#{$shClassName}AML{padding-right: $shValue;}
            .pb#{$shClassName}AML, .pv#{$shClassName}AML, .pa#{$shClassName}AML{padding-bottom: $shValue;}
            .pl#{$shClassName}AML, .ph#{$shClassName}AML, .pa#{$shClassName}AML{padding-left: $shValue;}
            .mt#{$shClassName}AML, .mv#{$shClassName}AML, .ma#{$shClassName}AML{margin-top: $shValue;}
            .mr#{$shClassName}AML, .mh#{$shClassName}AML, .ma#{$shClassName}AML{margin-right: $shValue;}
            .mb#{$shClassName}AML, .mv#{$shClassName}AML, .ma#{$shClassName}AML{margin-bottom: $shValue;}
            .ml#{$shClassName}AML, .mh#{$shClassName}AML, .ma#{$shClassName}AML{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorMLO{
    @if $shMobileLandscapeOnly == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}MLO, .pv#{$shClassName}MLO, .pa#{$shClassName}MLO{padding-top: $shValue;}
            .pr#{$shClassName}MLO, .ph#{$shClassName}MLO, .pa#{$shClassName}MLO{padding-right: $shValue;}
            .pb#{$shClassName}MLO, .pv#{$shClassName}MLO, .pa#{$shClassName}MLO{padding-bottom: $shValue;}
            .pl#{$shClassName}MLO, .ph#{$shClassName}MLO, .pa#{$shClassName}MLO{padding-left: $shValue;}
            .mt#{$shClassName}MLO, .mv#{$shClassName}MLO, .ma#{$shClassName}MLO{margin-top: $shValue;}
            .mr#{$shClassName}MLO, .mh#{$shClassName}MLO, .ma#{$shClassName}MLO{margin-right: $shValue;}
            .mb#{$shClassName}MLO, .mv#{$shClassName}MLO, .ma#{$shClassName}MLO{margin-bottom: $shValue;}
            .ml#{$shClassName}MLO, .mh#{$shClassName}MLO, .ma#{$shClassName}MLO{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorBT{
    @if $shBeforeTablet == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}BT, .pv#{$shClassName}BT, .pa#{$shClassName}BT{padding-top: $shValue;}
            .pr#{$shClassName}BT, .ph#{$shClassName}BT, .pa#{$shClassName}BT{padding-right: $shValue;}
            .pb#{$shClassName}BT, .pv#{$shClassName}BT, .pa#{$shClassName}BT{padding-bottom: $shValue;}
            .pl#{$shClassName}BT, .ph#{$shClassName}BT, .pa#{$shClassName}BT{padding-left: $shValue;}
            .mt#{$shClassName}BT, .mv#{$shClassName}BT, .ma#{$shClassName}BT{margin-top: $shValue;}
            .mr#{$shClassName}BT, .mh#{$shClassName}BT, .ma#{$shClassName}BT{margin-right: $shValue;}
            .mb#{$shClassName}BT, .mv#{$shClassName}BT, .ma#{$shClassName}BT{margin-bottom: $shValue;}
            .ml#{$shClassName}BT, .mh#{$shClassName}BT, .ma#{$shClassName}BT{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorBTL{
    @if $shBeforeTabletLandscape == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}BTL, .pv#{$shClassName}BTL, .pa#{$shClassName}BTL{padding-top: $shValue;}
            .pr#{$shClassName}BTL, .ph#{$shClassName}BTL, .pa#{$shClassName}BTL{padding-right: $shValue;}
            .pb#{$shClassName}BTL, .pv#{$shClassName}BTL, .pa#{$shClassName}BTL{padding-bottom: $shValue;}
            .pl#{$shClassName}BTL, .ph#{$shClassName}BTL, .pa#{$shClassName}BTL{padding-left: $shValue;}
            .mt#{$shClassName}BTL, .mv#{$shClassName}BTL, .ma#{$shClassName}BTL{margin-top: $shValue;}
            .mr#{$shClassName}BTL, .mh#{$shClassName}BTL, .ma#{$shClassName}BTL{margin-right: $shValue;}
            .mb#{$shClassName}BTL, .mv#{$shClassName}BTL, .ma#{$shClassName}BTL{margin-bottom: $shValue;}
            .ml#{$shClassName}BTL, .mh#{$shClassName}BTL, .ma#{$shClassName}BTL{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorTO{
    @if $shTabletOnly == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}TO, .pv#{$shClassName}TO, .pa#{$shClassName}TO{padding-top: $shValue;}
            .pr#{$shClassName}TO, .ph#{$shClassName}TO, .pa#{$shClassName}TO{padding-right: $shValue;}
            .pb#{$shClassName}TO, .pv#{$shClassName}TO, .pa#{$shClassName}TO{padding-bottom: $shValue;}
            .pl#{$shClassName}TO, .ph#{$shClassName}TO, .pa#{$shClassName}TO{padding-left: $shValue;}
            .mt#{$shClassName}TO, .mv#{$shClassName}TO, .ma#{$shClassName}TO{margin-top: $shValue;}
            .mr#{$shClassName}TO, .mh#{$shClassName}TO, .ma#{$shClassName}TO{margin-right: $shValue;}
            .mb#{$shClassName}TO, .mv#{$shClassName}TO, .ma#{$shClassName}TO{margin-bottom: $shValue;}
            .ml#{$shClassName}TO, .mh#{$shClassName}TO, .ma#{$shClassName}TO{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorAT{
    @if $shAfterTablet == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}AT, .pv#{$shClassName}AT, .pa#{$shClassName}AT{padding-top: $shValue;}
            .pr#{$shClassName}AT, .ph#{$shClassName}AT, .pa#{$shClassName}AT{padding-right: $shValue;}
            .pb#{$shClassName}AT, .pv#{$shClassName}AT, .pa#{$shClassName}AT{padding-bottom: $shValue;}
            .pl#{$shClassName}AT, .ph#{$shClassName}AT, .pa#{$shClassName}AT{padding-left: $shValue;}
            .mt#{$shClassName}AT, .mv#{$shClassName}AT, .ma#{$shClassName}AT{margin-top: $shValue;}
            .mr#{$shClassName}AT, .mh#{$shClassName}AT, .ma#{$shClassName}AT{margin-right: $shValue;}
            .mb#{$shClassName}AT, .mv#{$shClassName}AT, .ma#{$shClassName}AT{margin-bottom: $shValue;}
            .ml#{$shClassName}AT, .mh#{$shClassName}AT, .ma#{$shClassName}AT{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorATL{
    @if $shAfterTabletLandscape == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}ATL, .pv#{$shClassName}ATL, .pa#{$shClassName}ATL{padding-top: $shValue;}
            .pr#{$shClassName}ATL, .ph#{$shClassName}ATL, .pa#{$shClassName}ATL{padding-right: $shValue;}
            .pb#{$shClassName}ATL, .pv#{$shClassName}ATL, .pa#{$shClassName}ATL{padding-bottom: $shValue;}
            .pl#{$shClassName}ATL, .ph#{$shClassName}ATL, .pa#{$shClassName}ATL{padding-left: $shValue;}
            .mt#{$shClassName}ATL, .mv#{$shClassName}ATL, .ma#{$shClassName}ATL{margin-top: $shValue;}
            .mr#{$shClassName}ATL, .mh#{$shClassName}ATL, .ma#{$shClassName}ATL{margin-right: $shValue;}
            .mb#{$shClassName}ATL, .mv#{$shClassName}ATL, .ma#{$shClassName}ATL{margin-bottom: $shValue;}
            .ml#{$shClassName}ATL, .mh#{$shClassName}ATL, .ma#{$shClassName}ATL{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorTLO{
    @if $shTabletLandscapeOnly == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}TLO, .pv#{$shClassName}TLO, .pa#{$shClassName}TLO{padding-top: $shValue;}
            .pr#{$shClassName}TLO, .ph#{$shClassName}TLO, .pa#{$shClassName}TLO{padding-right: $shValue;}
            .pb#{$shClassName}TLO, .pv#{$shClassName}TLO, .pa#{$shClassName}TLO{padding-bottom: $shValue;}
            .pl#{$shClassName}TLO, .ph#{$shClassName}TLO, .pa#{$shClassName}TLO{padding-left: $shValue;}
            .mt#{$shClassName}TLO, .mv#{$shClassName}TLO, .ma#{$shClassName}TLO{margin-top: $shValue;}
            .mr#{$shClassName}TLO, .mh#{$shClassName}TLO, .ma#{$shClassName}TLO{margin-right: $shValue;}
            .mb#{$shClassName}TLO, .mv#{$shClassName}TLO, .ma#{$shClassName}TLO{margin-bottom: $shValue;}
            .ml#{$shClassName}TLO, .mh#{$shClassName}TLO, .ma#{$shClassName}TLO{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorBD{
    @if $shBeforeDesktop == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}BD, .pv#{$shClassName}BD, .pa#{$shClassName}BD{padding-top: $shValue;}
            .pr#{$shClassName}BD, .ph#{$shClassName}BD, .pa#{$shClassName}BD{padding-right: $shValue;}
            .pb#{$shClassName}BD, .pv#{$shClassName}BD, .pa#{$shClassName}BD{padding-bottom: $shValue;}
            .pl#{$shClassName}BD, .ph#{$shClassName}BD, .pa#{$shClassName}BD{padding-left: $shValue;}
            .mt#{$shClassName}BD, .mv#{$shClassName}BD, .ma#{$shClassName}BD{margin-top: $shValue;}
            .mr#{$shClassName}BD, .mh#{$shClassName}BD, .ma#{$shClassName}BD{margin-right: $shValue;}
            .mb#{$shClassName}BD, .mv#{$shClassName}BD, .ma#{$shClassName}BD{margin-bottom: $shValue;}
            .ml#{$shClassName}BD, .mh#{$shClassName}BD, .ma#{$shClassName}BD{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorAL{
    @if $shAfterLaptop == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}AL, .pv#{$shClassName}AL, .pa#{$shClassName}AL{padding-top: $shValue;}
            .pr#{$shClassName}AL, .ph#{$shClassName}AL, .pa#{$shClassName}AL{padding-right: $shValue;}
            .pb#{$shClassName}AL, .pv#{$shClassName}AL, .pa#{$shClassName}AL{padding-bottom: $shValue;}
            .pl#{$shClassName}AL, .ph#{$shClassName}AL, .pa#{$shClassName}AL{padding-left: $shValue;}
            .mt#{$shClassName}AL, .mv#{$shClassName}AL, .ma#{$shClassName}AL{margin-top: $shValue;}
            .mr#{$shClassName}AL, .mh#{$shClassName}AL, .ma#{$shClassName}AL{margin-right: $shValue;}
            .mb#{$shClassName}AL, .mv#{$shClassName}AL, .ma#{$shClassName}AL{margin-bottom: $shValue;}
            .ml#{$shClassName}AL, .mh#{$shClassName}AL, .ma#{$shClassName}AL{margin-left: $shValue;}
        }
    }
}
@mixin spacingHelpersClassesGeneratorAD{
    @if $shAfterDesktop == "on" {
        @each $shClassName, $shValue in $spacingHelpersMap {
            .pt#{$shClassName}AD, .pv#{$shClassName}AD, .pa#{$shClassName}AD{padding-top: $shValue;}
            .pr#{$shClassName}AD, .ph#{$shClassName}AD, .pa#{$shClassName}AD{padding-right: $shValue;}
            .pb#{$shClassName}AD, .pv#{$shClassName}AD, .pa#{$shClassName}AD{padding-bottom: $shValue;}
            .pl#{$shClassName}AD, .ph#{$shClassName}AD, .pa#{$shClassName}AD{padding-left: $shValue;}
            .mt#{$shClassName}AD, .mv#{$shClassName}AD, .ma#{$shClassName}AD{margin-top: $shValue;}
            .mr#{$shClassName}AD, .mh#{$shClassName}AD, .ma#{$shClassName}AD{margin-right: $shValue;}
            .mb#{$shClassName}AD, .mv#{$shClassName}AD, .ma#{$shClassName}AD{margin-bottom: $shValue;}
            .ml#{$shClassName}AD, .mh#{$shClassName}AD, .ma#{$shClassName}AD{margin-left: $shValue;}
        }
    }
}