/* =============================================================================
   Opacity Mixins | Etc
   ========================================================================== */
@mixin opacityCustom($opacityValue){
    opacity: $opacityValue/100;
    filter: alpha(opacity=$opacityValue);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=#{$opacityValue})";
}
@mixin opacityCustomHover($opacityValue: 75, $opacityValueHover: 100){
    opacity: $opacityValue/100;
    filter: alpha(opacity=$opacityValue);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=#{$opacityValue})";
    &:focus, &:hover{
        opacity: $opacityValueHover/100;
        filter: alpha(opacity=$opacityValueHover);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=#{$opacityValueHover})";
    }
}