/* * NombreDeProyecto * ========================================================
   Fonts Mixins | Etc [/etc/css/scss/mixins_fonts.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de mixins.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@use "../custom/var/env_var" as *;

@use "../custom/var/text_var" as *;
@use "../custom/var/fonts_main_var" as *;

/* // Generador de clases por cada fuente ----------------------------------- */
@mixin fontFamilyCustomClassesGenerator{
    @each $fontFamilyCustomClassesGeneratorMX_fontFamilyClassName, $fontFamilyCustomClassesGeneratorMX_fontFamilyName in $font_families_map {
        .#{$fontFamilyCustomClassesGeneratorMX_fontFamilyClassName}{font-family: $fontFamilyCustomClassesGeneratorMX_fontFamilyName;}
    }
}


/* // Generador de pesos por cada fuente ------------------------------------ */
@mixin fontFamilyWeightsGenerator{
    @each $fontFamilyWeightsGeneratorMX_fontFamilyClassName, $fontFamilyWeightsGeneratorMX_fontWeighValue in $font_weights_map {
        .#{$fontFamilyWeightsGeneratorMX_fontFamilyClassName}{font-weight: $fontFamilyWeightsGeneratorMX_fontWeighValue;}
    }
}


/* // Generador de clases por cada tamaño de fuente ------------------------- */
@mixin fontCustomHeadingsSizesGeneratorB350{
    @each $fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName, $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues in $headings_sizes_map_B350 {
        #{$fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA350{
    @each $fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName, $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues in $headings_sizes_map_A350 {
        #{$fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA500{
    @each $fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName, $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues in $headings_sizes_map_A500 {
        #{$fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA768{
    @each $fontCustomHeadingsSizesGeneratorA768MX_headingsClassName, $fontCustomHeadingsSizesGeneratorA768MX_fontCustomSizeValues in $headings_sizes_map_A768 {
        #{$fontCustomHeadingsSizesGeneratorA768MX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorA768MX_fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA1024{
    @each $fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName, $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues in $headings_sizes_map_A1024 {
        #{$fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA1200{
    @each $fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName, $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues in $headings_sizes_map_A1200 {
        #{$fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues;}
    }
}

/* // REF [14a] */
@mixin fontCustomHeadingsSizesGeneratorB350_zhCN{
    @each $fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName_zhCN, $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues_zhCN in $headings_sizes_map_zhCN_B350 {
        #{$fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName_zhCN}{font-size: $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues_zhCN;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA350_zhCN{
    @each $fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName_zhCN, $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues_zhCN in $headings_sizes_map_zhCN_A350 {
        #{$fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName_zhCN}{font-size: $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues_zhCN;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA500_zhCN{
    @each $fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName_zhCN, $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues_zhCN in $headings_sizes_map_zhCN_A500 {
        #{$fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName_zhCN}{font-size: $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues_zhCN;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA768_zhCN{
    @each $fontCustomHeadingsSizesGeneratorA768MX_headingsClassName_zhCN, $fontCustomHeadingsSizesGeneratorA768MX_fontCustomSizeValues_zhCN in $headings_sizes_map_zhCN_A768 {
        #{$fontCustomHeadingsSizesGeneratorA768MX_headingsClassName_zhCN}{font-size: $fontCustomHeadingsSizesGeneratorA768MX_fontCustomSizeValues_zhCN;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA1024_zhCN{
    @each $fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName_zhCN, $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues_zhCN in $headings_sizes_map_zhCN_A1024 {
        #{$fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName_zhCN}{font-size: $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues_zhCN;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorA1200_zhCN{
    @each $fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName_zhCN, $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues_zhCN in $headings_sizes_map_zhCN_A1200 {
        #{$fontCustomHeadingsSizesGeneratorA1200MX_headingsClassName_zhCN}{font-size: $fontCustomHeadingsSizesGeneratorA1200MX_fontCustomSizeValues_zhCN;}
    }
}