/* =============================================================================
   Fonts Mixins | Etc [mixinsColours.scss]
   ========================================================================== */

/* // Generador de clases por cada color claro ------------------------------ */
@mixin colourLightClassesGenerator($colours_map_light_darkenValue){
    @each $colourLightClassesGeneratorMX_colourClassName, $colourLightClassesGeneratorMX_colourHexValue in $colours_map_light {
        .#{$colourLightClassesGeneratorMX_colourClassName}{
            &, b, strong, i, em{color: $colourLightClassesGeneratorMX_colourHexValue;}
        }
        a.#{$colourLightClassesGeneratorMX_colourClassName}{
            &, &:active, &:visited, 
            &.noHover:focus, &.noHover:hover{color: $colourLightClassesGeneratorMX_colourHexValue;}
            &:focus, &:hover{color: darken($colourLightClassesGeneratorMX_colourHexValue, $colours_map_light_darkenValue);}
        }
        @if $colouredButtons_act == "on"{
            button.#{$colourLightClassesGeneratorMX_colourClassName}{
                &, &.noHover:focus, &.noHover:hover{color: $colourLightClassesGeneratorMX_colourHexValue;}
                &:focus, &:hover{color: darken($colourLightClassesGeneratorMX_colourHexValue, $colours_map_light_darkenValue);}
            }
        }
        @if $colouredLabels_act == "on"{
            label.#{$colourLightClassesGeneratorMX_colourClassName}{
                &, &:focus, &:hover{color: $colourLightClassesGeneratorMX_colourHexValue;}
            }
        }
    }
}


/* // GGenerador de clases por cada color oscuro ---------------------------- */
@mixin colourDarkClassesGenerator($colours_map_dark_lightenValue){
    @each $colourDarkClassesGeneratorMX_colourClassName, $colourDarkClassesGeneratorMX_colourHexValue in $colours_map_dark {
        .#{$colourDarkClassesGeneratorMX_colourClassName}{
            &, b, strong, i, em{color: $colourDarkClassesGeneratorMX_colourHexValue;}
        }
        a.#{$colourDarkClassesGeneratorMX_colourClassName}{
            &, &:active, &:visited, 
            &.noHover:focus, &.noHover:hover{color: $colourDarkClassesGeneratorMX_colourHexValue;}
            &:focus, &:hover{color: lighten($colourDarkClassesGeneratorMX_colourHexValue, $colours_map_dark_lightenValue);}
        }
        @if $colouredButtons_act == "on"{
            button.#{$colourDarkClassesGeneratorMX_colourClassName}{
                &, &.noHover:focus, &.noHover:hover{color: $colourDarkClassesGeneratorMX_colourHexValue;}
                &:focus, &:hover{color: lighten($colourDarkClassesGeneratorMX_colourHexValue, $colours_map_dark_lightenValue);}
            }
        }
        @if $colouredLabels_act == "on"{
            label.#{$colourDarkClassesGeneratorMX_colourClassName}{
                &, &:focus, &:hover{color: $colourDarkClassesGeneratorMX_colourHexValue;}
            }
        }
    }
}

/* // Generador de clases para anclas dentro de párrafos por cada color claro */
@mixin anchorColoursLightClassesGenerator($anchor_fontColours_map_light_darkenValue){
    @each $anchorColoursLightClassesGeneratorMX_colourClassName, $anchorColoursLightClassesGeneratorMX_colourHexValue in $anchor_fontColours_map_light {
        .#{$anchorColoursLightClassesGeneratorMX_colourClassName}{            
            a, a:active, a:visited{color: $anchorColoursLightClassesGeneratorMX_colourHexValue;}
            a:focus, a:hover{color: darken($anchorColoursLightClassesGeneratorMX_colourHexValue, $anchor_fontColours_map_light_darkenValue);}
        }
    }
}


/* // Generador de clases para anclas dentro párrafos por cada color oscuro - */
@mixin anchorColoursDarkClassesGenerator($anchor_fontColours_map_dark_lightenValue){
    @each $anchorColoursDarkClassesGeneratorMX_colourClassName, $anchorColoursDarkClassesGeneratorMX_colourHexValue in $anchor_fontColours_map_dark {
        .#{$anchorColoursDarkClassesGeneratorMX_colourClassName}{            
            a, a:active, a:visited{color: $anchorColoursDarkClassesGeneratorMX_colourHexValue;}
            a:focus, a:hover{color: lighten($anchorColoursDarkClassesGeneratorMX_colourHexValue, $anchor_fontColours_map_dark_lightenValue);}
        }
    }
}


/* // Generador de clases por cada color de fondo --------------------------- */
@mixin backgroundColourClassesGenerator{
    @each $backgroundColourClassesGeneratorMX_bgColourClassName, $backgroundColourClassesGeneratorMX_bgColourHexValue in $backgroundColours_map {
        .bg#{$backgroundColourClassesGeneratorMX_bgColourClassName}{background-color: $backgroundColourClassesGeneratorMX_bgColourHexValue;}
    }
}
@mixin backgroundColourHoverClassesGenerator{
    @each $backgroundColourHoverClassesGeneratorMX_bgColourClassName, $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue in $backgroundColours_hover_map {
        a.#{$backgroundColourHoverClassesGeneratorMX_bgColourClassName}{
            &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
        }
        @if $colouredButtons_act == "on"{
            button.#{$bgColourClassName}{
                &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
            }
        }
        @if $colouredInputs_act == "on"{
            input[type="submit"].#{$backgroundColourHoverClassesGeneratorMX_bgColourClassName}{
                &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
            }
            input[type="file"].#{$backgroundColourHoverClassesGeneratorMX_bgColourClassName}{
                &:hover, &:focus{background-color: $backgroundColourHoverClassesGeneratorMX_bgColourHoverValue;}
            }
        }
    }
}


/* // Generador de clases para colores con focus y hover custom ------------- */
@mixin colourCustomHoverClassesGenerator{
    @each $colourCustomHoverClassesGeneratorMX_colourClassName, $colourCustomHoverClassesGeneratorMX_colourHexValue in $colours_map_custom_hover {
        .#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
            &, b, strong, i, em{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
        }
        a.#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
            &, &:active, &:visited, 
            &.noHover:focus, &.noHover:hover{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
            @extend %anchor_button_focusHoverCustom__#{$colourCustomHoverClassesGeneratorMX_colourClassName}
        }
        @if $colouredButtons_act == "on"{
            button.#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
                &, &.noHover:focus, &.noHover:hover{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
                @extend %anchor_button_focusHoverCustom__#{$colourCustomHoverClassesGeneratorMX_colourClassName}
            }
        }
        @if $colouredLabels_act == "on"{
            label.#{$colourCustomHoverClassesGeneratorMX_colourClassName}{
                &, &:focus, &:hover{color: $colourCustomHoverClassesGeneratorMX_colourHexValue;}
            }
        }
    }
}