/* =============================================================================
   Tables Sizes Mixins | Etc [mixinsTableSizes.scss]
   ========================================================================== */
    //Generador de clases por cada tamaño de ancho de tabla
@mixin tableCustomSizesBeforeTablet{
    @each $tableClassName, $tableCustomWidth in $tableSizesMapBeforeTablet {
        &.#{$tableClassName}{width: $tableCustomWidth;}
    }
}
@mixin tableCustomSizesTablet{
    @each $tableClassName, $tableCustomWidth in $tableSizesMapTablet {
        &.#{$tableClassName}{width: $tableCustomWidth;}
    }
}
@mixin tableCustomSizesTabletL{
    @each $tableClassName, $tableCustomWidth in $tableSizesMapTabletL {
        &.#{$tableClassName}{width: $tableCustomWidth;}
    }
}