/* =============================================================================
   Tables Sizes Mixins | Etc [/etc/css/scss/mixinsTableSizes.scss]
   ========================================================================== */
    //Generador de clases por cada tamaño de ancho de tabla
@mixin tableCustomSizesBT{
    @each $tableCustomSizesBTMX_tableClassName, $tableCustomSizesBTMX_tableCustomWidth in $table_sizes_map_BT {
        &.#{$tableCustomSizesBTMX_tableClassName}{width: $tableCustomSizesBTMX_tableCustomWidth;}
    }
}
@mixin tableCustomSizesAT{
    @each $tableCustomSizesATMX_tableClassName, $tableCustomSizesATMX_tableCustomWidth in $table_sizes_map_AT {
        &.#{$tableCustomSizesATMX_tableClassName}{width: $tableCustomSizesATMX_tableCustomWidth;}
    }
}
@mixin tableCustomSizesATL{
    @each $tableCustomSizesATLMX_tableClassName, $tableCustomSizesATLMX_tableCustomWidth in $table_sizes_map_ATL {
        &.#{$tableCustomSizesATLMX_tableClassName}{width: $tableCustomSizesATLMX_tableCustomWidth;}
    }
}