/* * NombreDeProyecto * ========================================================
   Background Mixins | Etc [/etc/css/scss/mixins_backgrounds.scss]
   ========================================================================== */

@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de mixins.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@mixin sprites($spritesMX_bgPosition, $spritesMX_bgColour: transparent){
    background: $spritesMX_bgColour url('#{$dir_env}/img/sprites.png') no-repeat $spritesMX_bgPosition;}

@mixin bgSvg($bgSvgMX_fileName, $bgSvgMX_bgSize: contain, $bgSvgMX_bgPosition: center center, $bgSvgMX_bgColour: transparent, $bgSvgMX_bgRepeat: no-repeat){
    background-color:       $bgSvgMX_bgColour;
    background-image:       url('#{$dir_env}/img/#{$bgSvgMX_fileName}.svg');
    background-repeat:      $bgSvgMX_bgRepeat;
    background-position:    $bgSvgMX_bgPosition;
    background-size:        $bgSvgMX_bgSize;
}