/* * NombreDeProyecto * ========================================================
   Mask Mixins | Etc [/etc/css/scss/mixinsMasks.scss]
   ========================================================================== */

/* // Mixin para máscara con centrado ciego --------------------------------- */
@mixin centerMaskBlind($centerMaskBlindMX_width, $centerMaskBlindMX_height, $centerMaskBlindMX_childWidth: auto, $centerMaskBlindMX_childHeight: auto){
    &{
        position: relative;
        width: $centerMaskBlindMX_width;
        height: $centerMaskBlindMX_height;
        overflow: hidden;     
        .maskChild{
            position: absolute;
            top: 50%;
            left: 50%;
            width: $centerMaskBlindMX_childWidth;
            height: $centerMaskBlindMX_childHeight;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}
@mixin centerUnknownSizeItem($centerUnknownSizeItemMX_childWidth: auto, $centerUnknownSizeItemMX_childHeight: auto){
    position: absolute;
    top: 50%;
    left: 50%;
    width: $centerUnknownSizeItemMX_childWidth;
    height: $centerUnknownSizeItemMX_childHeight;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* // Mixin para mascaras --------------------------------------------------- */
@mixin maskWidth($maskWidthMX_width: 100%){
    width: $maskWidthMX_width;
    overflow: hidden;
}
@mixin maskHeight($maskHeightMX_height: 100%){
    height: $maskHeightMX_height;
    overflow: hidden;
}
@mixin maskWidthHeight($maskWidthHeightMX_width: 100%, $maskWidthHeightMX_height: 100%){
    width: $maskWidthHeightMX_width;
    height: $maskWidthHeightMX_height;
    overflow: hidden;
}