/* =============================================================================
   Border Helpers Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
//A,T,R,B,L = all,top,right,bottom,left
//H,V,X = horizontal,vertical,user defined values

/* // General Border Radius Mixins ------------------------------------------ */
@mixin borderStyle($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleT($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-top: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleR($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-right: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleB($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-bottom: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleL($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-left: $borderStyleMX_bdWidth $borderStyleMX_bdStyle $borderStyleMX_bdColour}
@mixin borderStyleH($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-width: 0 $borderStyleMX_bdWidth;
    border-style: $borderStyleMX_bdStyle;
    border-color: $borderStyleMX_bdColour;
}
@mixin borderStyleV($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-width: $borderStyleMX_bdWidth 0;
    border-style: $borderStyleMX_bdStyle;
    border-color: $borderStyleMX_bdColour;
}
@mixin borderStyleX($borderStyleMX_bdColour: $bdColour_main_global, $borderStyleMX_bdWidth: 1px, $borderStyleMX_bdStyle: solid){
    border-width: $borderStyleMX_bdWidth;
    border-style: $borderStyleMX_bdStyle;
    border-color: $borderStyleMX_bdColour;
}

/* // Border Radius Mixins -------------------------------------------------- */
@mixin borderRadius($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value;
}
@mixin borderRadiusT($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value $borderRaduisMX_value 0 0;
}
@mixin borderRadiusR($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 $borderRaduisMX_value $borderRaduisMX_value 0;
}
@mixin borderRadiusB($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 0 $borderRaduisMX_value $borderRaduisMX_value;
}
@mixin borderRadiusL($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value 0 0 $borderRaduisMX_value;
}
@mixin borderRadiusTR($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 $borderRaduisMX_value 0 0;
}
@mixin borderRadiusTL($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: $borderRaduisMX_value 0 0 0;
}
@mixin borderRadiusBR($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 0 $borderRaduisMX_value 0;
}
@mixin borderRadiusBL($borderRaduisMX_value: $helpers_border_radius_global){
    border-radius: 0 0 0 $borderRaduisMX_value;
}

/* // Border separation with equal padding and margin ----------------------- */
@mixin PBMsT($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-top: $PBMsMX_separation;
    @include borderStyleT($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-top: $PBMsMX_separation;
}
@mixin PBMsR($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-right: $PBMsMX_separation;
    @include borderStyleR($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-right: $PBMsMX_separation;
}
@mixin PBMsB($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-bottom: $PBMsMX_separation;
    @include borderStyleB($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-bottom: $PBMsMX_separation;
}
@mixin PBMsL($PBMsMX_separation: 10px, $PBMsMX_bdWidth: 1px, $PBMsMX_bdColour: $bdColour_main_global, $PBMsMX_bdStyle: solid){
    padding-left: $PBMsMX_separation;
    @include borderStyleL($PBMsMX_bdWidth, $PBMsMX_bdStyle, $PBMsMX_bdColour);
    margin-left: $PBMsMX_separation;
}

/* // Border Fancy Horizontal Line Mixins ----------------------------------- */
@mixin fancyHorizontalLines($fancyHorizontalLinesMX_border: 1px solid white, $fancyHorizontalLinesMX_width: 100px, $fancyHorizontalLinesMX_separation: 15px){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                border-top:     $fancyHorizontalLinesMX_border;
                width:          $fancyHorizontalLinesMX_width;
            }
            &::before {
                right: 100%;
                margin-right:   $fancyHorizontalLinesMX_separation;
            }
            &::after {
                left: 100%;
                margin-left:    $fancyHorizontalLinesMX_separation;
            }  
        }
    }
}

@mixin fancyHorizontalLinesDouble($fancyHorizontalLinesDoubleMX_borderT: 1px solid white, $fancyHorizontalLinesDoubleMX_width: 100px, $fancyHorizontalLinesDoubleMX_separation: 15px, $fancyHorizontalLinesDoubleMX_height: 5px, $fancyHorizontalLinesDoubleMX_MT: 10px, $fancyHorizontalLinesDoubleMX_borderB: $fancyHorizontalLinesDoubleMX_borderT){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width:          $fancyHorizontalLinesDoubleMX_width;
                height:         $fancyHorizontalLinesDoubleMX_height;
                border-top:     $fancyHorizontalLinesDoubleMX_borderT;
                border-bottom:  $fancyHorizontalLinesDoubleMX_borderB;
                margin-top:     $fancyHorizontalLinesDoubleMX_MT;
            }
            &::before {
                right: 100%;
                margin-right:   $fancyHorizontalLinesDoubleMX_separation;
            }
            &::after {
                left: 100%;
                margin-left:    $fancyHorizontalLinesDoubleMX_separation;
            }  
        }
    }
}