/* =============================================================================
   Border Helpers Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
    //Border Style    
//A,T,R,B,L = all,top,right,bottom,left
//H,V,X = horizontal,vertical,user defined values

@mixin borderStyle($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border: $borderWidthValue_mx $borderStyleValue_mx $borderColourValue_mx}
@mixin borderStyleT($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border-top: $borderWidthValue_mx $borderStyleValue_mx $borderColourValue_mx}
@mixin borderStyleR($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border-right: $borderWidthValue_mx $borderStyleValue_mx $borderColourValue_mx}
@mixin borderStyleB($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border-bottom: $borderWidthValue_mx $borderStyleValue_mx $borderColourValue_mx}
@mixin borderStyleL($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border-left: $borderWidthValue_mx $borderStyleValue_mx $borderColourValue_mx}
@mixin borderStyleH($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border-width: 0 $borderWidthValue_mx;
    border-style: $borderStyleValue_mx;
    border-color: $borderColourValue_mx;
}
@mixin borderStyleV($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border-width: $borderWidthValue_mx 0;
    border-style: $borderStyleValue_mx;
    border-color: $borderColourValue_mx;
}
@mixin borderStyleX($borderColourValue_mx: $bcColour_main_global, $borderWidthValue_mx: 1px, $borderStyleValue_mx: solid){
    border-width: $borderWidthValue_mx;
    border-style: $borderStyleValue_mx;
    border-color: $borderColourValue_mx;
}

/* =============================================================================
   Border Radius Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
//T,R,B,L = top,right,bottom,left

@mixin borderRadius($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: $borderRadiusMixinValue_mx;
}
@mixin borderRadiusT($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: $borderRadiusMixinValue_mx $borderRadiusMixinValue_mx 0 0;
}
@mixin borderRadiusR($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: 0 $borderRadiusMixinValue_mx $borderRadiusMixinValue_mx 0;
}
@mixin borderRadiusB($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: 0 0 $borderRadiusMixinValue_mx $borderRadiusMixinValue_mx;
}
@mixin borderRadiusL($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: $borderRadiusMixinValue_mx 0 0 $borderRadiusMixinValue_mx;
}
@mixin borderRadiusTR($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: 0 $borderRadiusMixinValue_mx 0 0;
}
@mixin borderRadiusTL($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: $borderRadiusMixinValue_mx 0 0 0;
}
@mixin borderRadiusBR($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: 0 0 $borderRadiusMixinValue_mx 0;
}
@mixin borderRadiusBL($borderRadiusMixinValue_mx: $helpers_border_radius_global){
    border-radius: 0 0 0 $borderRadiusMixinValue_mx;
}

/* =============================================================================
   Border Notch Mixin | Etc [mixinsBorders.scss]
   ========================================================================== */
@mixin borderNotch($notchSize_mx: 20px){  
  clip-path: 
    polygon(
      0% var($notchSize_mx), 
      var($notchSize_mx) 0%, 
      calc(100% - var($notchSize_mx)) 0%, 
      100% var($notchSize_mx), 
      100% calc(100% - var($notchSize_mx)), 
      calc(100% - var($notchSize_mx)) 100%, 
      var($notchSize_mx) 100%, 
      0% calc(100% - var($notchSize_mx))
    );
}

/* =============================================================================
   Border Separation Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
    //Border separation with equal padding and margin
@mixin PBMsT($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $bcColour_main_global, $PBMSborderStyle: solid){
    padding-top: $PBMSsepValue;
    @include borderStyleT($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-top: $PBMSsepValue;
}
@mixin PBMsR($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $bcColour_main_global, $PBMSborderStyle: solid){
    padding-right: $PBMSsepValue;
    @include borderStyleR($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-right: $PBMSsepValue;
}
@mixin PBMsB($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $bcColour_main_global, $PBMSborderStyle: solid){
    padding-bottom: $PBMSsepValue;
    @include borderStyleB($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-bottom: $PBMSsepValue;
}
@mixin PBMsL($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $bcColour_main_global, $PBMSborderStyle: solid){
    padding-left: $PBMSsepValue;
    @include borderStyleL($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-left: $PBMSsepValue;
}

/* =============================================================================
   Border Fancy Horizontal Line Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
@mixin fancyHorizontalLines($border: 1px solid white, $width: 100px, $separation: 15px){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                border-top: $border;
                width: $width;
            }
            &::before {
                right: 100%;
                margin-right: $separation;
            }
            &::after {
                left: 100%;
                margin-left: $separation;
            }  
        }
    }
}
@mixin fancyHorizontalLinesDouble( $borderT: 1px solid white, $width: 100px, $separation: 15px, $height: 5px, $marginTop: 10px, $borderB: $borderT){
    &{
        line-height: 0.5;
        text-align: center;
        > *{
            display: inline-block;
            position: relative;      
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width: $width;
                height: $height;
                border-top: $borderT;
                border-bottom: $borderB;
                margin-top: $marginTop;
            }
            &::before {
                right: 100%;
                margin-right: $separation;
            }
            &::after {
                left: 100%;
                margin-left: $separation;
            }  
        }
    }
}