/* =============================================================================
   Background Mixins | Etc [mixinsBackgrounds.scss]
   ========================================================================== */
@mixin sprites($backgroundPosition_mx, $backgroundColour_mx: transparent){
    background: $backgroundColour_mx url('/nuevo/img/sprites.png') no-repeat $backgroundPosition_mx;}

@mixin bgSvg($svgPath_mx, $svgSize_mx: contain, $svgPos_mx: center center, $svgColour_mx: transparent, $svgRepeat_mx: no-repeat){
    background-color: $svgColour_mx;
    background-image: url('/nuevo/img/#{$svgPath_mx}.svg');
    background-repeat: $svgRepeat_mx;
    background-position: $svgPos_mx;
    background-size: $svgSize_mx;
}