/* =============================================================================
   Fonts Mixins | Etc [mixinsFonts.scss]
   ========================================================================== */

/* // Generador de clases por cada fuente ----------------------------------- */
@mixin fontFamilyCustomClassesGenerator{
    @each $fontFamilyCustomClassesGeneratorMX_fontFamilyClassName, $fontFamilyCustomClassesGeneratorMX_fontFamilyName in $fontFamilies_map {
        .#{$fontFamilyCustomClassesGeneratorMX_fontFamilyClassName}{font-family: $fontFamilyCustomClassesGeneratorMX_fontFamilyName;}
    }
    
    @if $openSans_classes_act == "on" {
        @each $fontFamilyCustomClassesGeneratorMX_fontFamilyClassName, $fontFamilyCustomClassesGeneratorMX_fontFamilyName in $fontFamilies_map_OpenSans {
            .#{$fontFamilyCustomClassesGeneratorMX_fontFamilyClassName}{font-family: $fontFamilyCustomClassesGeneratorMX_fontFamilyName;}
        }
    }
}


/* // Generador de pesos por cada fuente ------------------------------------ */
@mixin fontFamilyWeightsGenerator{
    @each $fontFamilyWeightsGeneratorMX_fontFamilyClassName, $fontFamilyWeightsGeneratorMX_fontWeighValue in $fontWeights_map {
        .#{$fontFamilyWeightsGeneratorMX_fontFamilyClassName}{font-weight: $fontFamilyWeightsGeneratorMX_fontWeighValue;}
    }
}


/* // Generador de clases por cada tamaño de fuente ------------------------- */
@mixin fontCustomHeadingsSizesGeneratorMobile{
    @each $fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName, $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues in $fontSize_map_mobile {
        #{$fontCustomHeadingsSizesGeneratorMobileMX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorMobileMX_fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorTablet{
    @each $fontCustomHeadingsSizesGeneratorTabletMX_headingsClassName, $fontCustomHeadingsSizesGeneratorTabletMX_fontCustomSizeValues in $fontSize_map_tablet {
        #{$fontCustomHeadingsSizesGeneratorTabletMX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorTabletMX_fontCustomSizeValues;}
    }
}
@mixin fontCustomHeadingsSizesGeneratorDesktop{
    @each $fontCustomHeadingsSizesGeneratorDesktopMX_headingsClassName, $fontCustomHeadingsSizesGeneratorDesktopMX_fontCustomSizeValues in $fontSize_map_desktop {
        #{$fontCustomHeadingsSizesGeneratorDesktopMX_headingsClassName}{font-size: $fontCustomHeadingsSizesGeneratorDesktopMX_fontCustomSizeValues;}
    }
}