/* =============================================================================
   Position Mixins | Etc [/etc/css/scss/mixinsPositions.scss]
   ========================================================================== */
@mixin positionTR($posMX_top: 0, $posMX_right: 0){
    top: $posMX_top;
    right: $posMX_right;
}
@mixin positionTB($posMX_top: 0, $posMX_bottom: 0){
    top: $posMX_top;  
    bottom: $posMX_bottom;  
}
@mixin positionTL($posMX_top: 0, $posMX_left: 0){
    top: $posMX_top;  
    left: $posMX_left;  
}
@mixin positionRB($posMX_right: 0, $posMX_bottom: 0){
    right: $posMX_right;
    bottom: $posMX_bottom;  
}
@mixin positionRL($posMX_right: 0, $posMX_left: 0){
    right: $posMX_right;
    left: $posMX_left;  
}
@mixin positionBL($posMX_bottom: 0, $posMX_left: 0){
    bottom: $posMX_bottom;
    left: $posMX_left;  
}

@mixin positionTRB($posMX_top: 0, $posMX_right: 0, $posMX_bottom: 0){
    top: $posMX_top;
    right: $posMX_right;
    bottom: $posMX_bottom;
}
@mixin positionTRL($posMX_top: 0, $posMX_right: 0, $posMX_left: 0){
    top: $posMX_top;
    right: $posMX_right;
    left: $posMX_left;
}
@mixin positionTBL($posMX_top: 0, $posMX_bottom: 0, $posMX_left: 0){
    top: $posMX_top;
    bottom: $posMX_bottom;
    left: $posMX_left;
}
@mixin positionRBL($posMX_right: 0, $posMX_bottom: 0, $posMX_left: 0){
    right: $posMX_right;
    bottom: $posMX_bottom;
    left: $posMX_left;
}
@mixin positionTRBL($posMX_top: 0, $posMX_right: 0, $posMX_bottom: 0, $posMX_left: 0){
    top: $posMX_top;
    right: $posMX_right;
    bottom: $posMX_bottom;
    left: $posMX_left;
}