/* =============================================================================
   Text Mixins | Etc [mixinsText.scss]
   ========================================================================== */
@mixin textBoxHeightAndLineHeight($textBoxHeightAndLineHeightMX_lineHeight:1.2em, $textBoxHeightAndLineHeightMX_size: 2){
    height: calc(#{$textBoxHeightAndLineHeightMX_lineHeight} * #{$textBoxHeightAndLineHeightMX_size});
    line-height: $textBoxHeightAndLineHeightMX_lineHeight;
}
@mixin equalHeightAndLineHeight($equalHeightAndLineHeightMX_value){
    height: $equalHeightAndLineHeightMX_value;
    line-height: $equalHeightAndLineHeightMX_value;
}
@mixin squareSizeAndEqualHeightAndLineHeight($squareSizeAndEqualHeightAndLineHeightMX_value){
    width: $squareSizeAndEqualHeightAndLineHeightMX_value;
    height: $squareSizeAndEqualHeightAndLineHeightMX_value;
    line-height: $squareSizeAndEqualHeightAndLineHeightMX_value;
    text-align: center;
}