/* * NombreDeProyecto * ========================================================
   Position Mixins | Etc [/etc/css/scss/mixins_positions.scss]
   ========================================================================== */

@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de mixins.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@mixin positionTR($posMX_top: 0, $posMX_right: 0){
    top: $posMX_top;
    right: $posMX_right;
}
@mixin positionTB($posMX_top: 0, $posMX_bottom: 0){
    top: $posMX_top;  
    bottom: $posMX_bottom;  
}
@mixin positionTL($posMX_top: 0, $posMX_left: 0){
    top: $posMX_top;  
    left: $posMX_left;  
}
@mixin positionRB($posMX_right: 0, $posMX_bottom: 0){
    right: $posMX_right;
    bottom: $posMX_bottom;  
}
@mixin positionRL($posMX_right: 0, $posMX_left: 0){
    right: $posMX_right;
    left: $posMX_left;  
}
@mixin positionBL($posMX_bottom: 0, $posMX_left: 0){
    bottom: $posMX_bottom;
    left: $posMX_left;  
}

@mixin positionTRB($posMX_top: 0, $posMX_right: 0, $posMX_bottom: 0){
    top: $posMX_top;
    right: $posMX_right;
    bottom: $posMX_bottom;
}
@mixin positionTRL($posMX_top: 0, $posMX_right: 0, $posMX_left: 0){
    top: $posMX_top;
    right: $posMX_right;
    left: $posMX_left;
}
@mixin positionTBL($posMX_top: 0, $posMX_bottom: 0, $posMX_left: 0){
    top: $posMX_top;
    bottom: $posMX_bottom;
    left: $posMX_left;
}
@mixin positionRBL($posMX_right: 0, $posMX_bottom: 0, $posMX_left: 0){
    right: $posMX_right;
    bottom: $posMX_bottom;
    left: $posMX_left;
}
@mixin positionTRBL($posMX_top: 0, $posMX_right: 0, $posMX_bottom: 0, $posMX_left: 0){
    top: $posMX_top;
    right: $posMX_right;
    bottom: $posMX_bottom;
    left: $posMX_left;
}