/* =============================================================================
   Text Mixins | Etc [mixinsText.scss]
   ========================================================================== */
@mixin textBoxHeightAndLineHeight($lineHeightValue:1.2em, $heightSize: 2){
    height: calc(#{$lineHeightValue} * #{$heightSize});
    line-height: $lineHeightValue;
}
@mixin equalHeightAndLineHeight($equalHeightAndLineHeightValue){
    height: $equalHeightAndLineHeightValue;
    line-height: $equalHeightAndLineHeightValue;
}
@mixin squareSizeAndEqualHeightAndLineHeight($squareSizeAndEqualHeightAndLineHeightValue){
    width: $squareSizeAndEqualHeightAndLineHeightValue;
    height: $squareSizeAndEqualHeightAndLineHeightValue;
    line-height: $squareSizeAndEqualHeightAndLineHeightValue;
    text-align: center;
}