/* =============================================================================
   Transition Mixins | Etc [/etc/css/scss/mixinsTransitions.scss]
   ========================================================================== */
@mixin transition($transitionMX_duration: 1s, $transitionMX_property: all, $transitionMX_function: ease){
    transition: $transitionMX_property $transitionMX_duration $transitionMX_function;
}