/* =============================================================================
   Forms NiceIt Reset/Settings | Etc [resetFormsNiceIt.scss]
   ========================================================================== */
form.niceIt{
    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="password"],
    input[type="url"],
    input[type="number"]{
        //Quito el padding: 1px 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .fmSelect{
        *position: relative;
    
        &, li, strong, cite{
            display: $block;
        }
        &, strong, cite{
            font-weight: 400;
            text-transform: uppercase;
        }
        strong{
            overflow: hidden;
            
            span{
                cite{
                    font-style: normal!important;
                }
            }
        }
        &, li{
            position: relative;
        }
        ul{
            display: none;
            margin: -1px 0 0 -11px;
            overflow: hidden;
            *position: absolute;
        
            li{
                list-style: none;
                width: 100%;
                height: auto;
            }
        }
    }
    
    .fmCheckbox{
        display: $block;
    }
    
    .fnFileInput{
        display: $block;
        
        span{
            position: relative;
            display: $block;
            
            cite, strong{
                position: absolute;
                display: $block;
            }            
            cite{
                z-index: 10;
                font-style: normal;
            }            
            strong{
                z-index: 20;
                text-indent: -9999px;
                
                input{
                    @include opacityCustom(00);
                    position: relative;
                    cursor: pointer
                }
            }
        }
    }    
    
    .fmRadio{
        font-size: 0;
        line-height: 1%;
        text-decoration: none;
    }
}