/* =============================================================================
   Elements Reset/Settings | Etc [resetMain.scss]
   ========================================================================== */
article, details, figcaption, figure, hgroup, main, menu, nav, summary, label, input, select, textarea, button{
    display: block;
} 
iframe{
    border: $none;
}
audio, canvas, iframe, img, svg, video{
    vertical-align: middle;
}
audio, canvas, progress, video{
    *display: inline;
    *zoom: 1;
}
progress[value]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

    //Lists
ul, ol, li, dd{
    margin: 0;
    padding: 0;
}
ul{
    list-style: disc inside;
}
ol{
    list-style: decimal inside;
}

    //Links
a{
    line-height: 1rem;
    cursor: pointer;
    img{
        border: none;
    }
}
a{
    &, &:hover{
        text-decoration: none;
    }
    
}
    //Horizontal rule
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $bcGrey;
    margin: 1em 0;
    padding: 0;
}

    //Images
img{
    background-color: $bgColour_imgNeutral_global;
    border: none;
    font: normal 11px/1rem $arial;
    text-transform: uppercase;
    color: $greyXD;
    // Improves image quality when scaled in IE 7
    -ms-interpolation-mode: bicubic;
}
img[src$=".png"], img[src$=".gif"], img[src$=".svg"]{
    background-color: transparent;
}
figure{
    margin: 0;
    padding: 0;
}

    // Buttons
button,
input[type="button"],
html input[type="button"]{
    border: none;
}

button{}
button::focus-inner{}
input::focus-inner{}

    // Selection
::-moz-selection {
    color: $fontColour_textSelection_global;
    background-color: $bgColour_textSelection_global;
    text-shadow: none;
}

::selection {
    color: $fontColour_textSelection_global;
    background-color: $bgColour_textSelection_global;
    text-shadow: none;
}