/* =============================================================================
   Nav Styles | Etc
   ========================================================================== */
.mainNav{
    li{        
        a, .topLevelItem{
            font-family: $navFontFamily;
        }
        &.selected{
            a, .topLevelItem{
                font-family: $navSelectedFontFamily;
            }            
        }     
        @include beforeTablet{
            a, .topLevelItem{
                color: $navFontColourBT;
            }
            &.selected{
                a, .topLevelItem{
                    color: $navSelectedFontColourBT;
                }            
            }            
        }
        @include afterTablet{
            background: $bgNavItem;
            a, .topLevelItem{
                background: $bgNavItemAnchor;
                color: $navFontColour;
            }
            .topLevelItem{
                cursor: default;
            }
            &.selected{
                background: $bgNavSelectedItem;
                a, .topLevelItem{
                    background: $bgNavSelectedAnchor;
                    color: $navSelectedFontColour;
                }            
            }             
        }
        @include afterTabletLandscape{
            a, .topLevelItem{
                &:focus, &:hover{
                    background-color: $bgNavItemAnchorHover;
                    color: $navFontColourHover;
                }
            }
            &.selected{
                a, .topLevelItem{
                    &, &:focus, &:hover{
                        color: $navSelectedFontColour;
                    }
                    &:focus, &:hover{
                        background-color: $bgNavSelectedAnchorHover;
                    }
                }            
            }           
        }
    }
}