/* * NombreDeProyecto * ========================================================
   Container Settings | Etc [/etc/css/scss/settings_container.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



.container,
.containerB500,
.containerA500,
.container500O,
.containerB600,
.containerA600,
.containerB768,
.containerA768,
.containerA768B1024,
.containerB1024,
.containerA1024,
.containerA1024B1200,
.containerB1200,
.containerA1200,
.containerA1300,
.containerA1400,
.containerA1500,
.containerA1600{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;   
}

.container{
    @include beforeMQ350{
        width: $container_value_B350;
        max-width: $container_value_max_B350;
    }
    @include afterMQ350{
        width: $container_value_A350;
    }   
    @if $classes_container_act_B500 == "on"{
        @include beforeMQ500{
            width: $container_value_B500;
        }
    }
    @include afterMQ500{
        width: $container_value_A500;
    }
    @if $classes_container_act_B600 == "on"{
        @include beforeMQ600{
            width: $container_value_B600;
        }
    }
    @if $classes_container_act_A600 == "on"{
        @include afterMQ600{
            width: $container_value_A600;
        }
    }
    @include afterMQ768{
        width: 90%;
        max-width: $container_value_max_A768;
    }
    @include afterMQ900{
        max-width: $container_value_max_A900;
    }
    @include afterMQ1024{
        max-width: $container_value_max_A1024;
    }
    @include afterMQ1200{
        max-width: $container_value_max_A1200;
    }
    @include afterMQ1300{
        max-width: $container_value_max_A1300;
    }
    @include afterMQ1400{
        max-width: $container_value_max_A1400;
    }
    @include afterMQ1500{
        max-width: $container_value_max_A1500;
    }
    @include afterMQ1600{
        max-width: $container_value_max_A1600;
    }
    &.container_centered_absolute{
        @include beforeMQ350{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_B350;
        }
        @include afterMQ350{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_A350;
        }
        @include afterMQ500{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_A500;
        }
        @include afterMQ600{
            margin-left: $container_value_half_negative_A600;
        }
        @include afterMQ768{
            margin-left: $container_value_max_half_negative_A768;
        }
        @include afterMQ900{
            margin-left: $container_value_max_half_negative_A900;
        }
        @include afterMQ1024{
            margin-left: $container_value_max_half_negative_A1024;
        }
        @include afterMQ1200{
            margin-left: $container_value_max_half_negative_A1200;
        }
        @include afterMQ1300{
            margin-left: $container_value_max_half_negative_A1300;
        }
        @include afterMQ1400{
            margin-left: $container_value_max_half_negative_A1400;
        }
        @include afterMQ1500{
            margin-left: $container_value_max_half_negative_A1500;
        }
        @include afterMQ1600{
            margin-left: $container_value_max_half_negative_A1600;
        }
    }
    @if $classes_container_act_B500 == "on"{
        &.container_centered_absolute_B500{    
            @include beforeMQ500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B500;
            }
        }
    }
    @if $classes_container_act_A500 == "on"{
        &.container_centered_absolute_A500{
            @include afterMQ500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A500;
            }
            @include afterMQ600{
                margin-left: $container_value_half_negative_A600;
            }
            @include afterMQ768{
                margin-left: $container_value_max_half_negative_A768;
            }
            @include afterMQ900{
                margin-left: $container_value_max_half_negative_A900;
            }
            @include afterMQ1024{
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ1200{  
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{  
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{  
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{  
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_B600 == "on"{
        &.container_centered_absolute_B600{
            @include beforeMQ600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B600;
            }
        }
    }
    @if $classes_container_act_A600 == "on"{
        &.container_centered_absolute_A600{
            @include afterMQ600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A600;
            }
            @include afterMQ768{
                margin-left: $container_value_max_half_negative_A768;
            }
            @include afterMQ900{
                margin-left: $container_value_max_half_negative_A900;
            }
            @include afterMQ1024{
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ1200{
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A768 == "on"{
        &.container_centered_absolute_A768{
            @include afterMQ768{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A768;
            }
            @include afterMQ1024{
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ900{
                margin-left: $container_value_max_half_negative_A900;
            }
            @include afterMQ1200{
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1024 == "on"{
        &.container_centered_absolute_A1024{
            @include afterMQ1024{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ1200{  
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{  
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{  
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{  
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1200 == "on"{
        &.container_centered_absolute_A1200{
            @include afterMQ1200{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{ 
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{ 
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{ 
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1300 == "on"{
        &.container_centered_absolute_A1300{
            @include afterMQ1300{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{ 
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{ 
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1400 == "on"{
        &.container_centered_absolute_A1400{
            @include afterMQ1400{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{ 
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1500 == "on"{
        &.container_centered_absolute_A1500{
            @include afterMQ1500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1600 == "on"{
        &.container_centered_absolute_A1600{
            @include afterMQ1600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}

@if $classes_container_act_B500 == "on"{
    .containerB500{
        @include beforeMQ500{
            width: $container_value_B500;            
            &.container_centered_absolute_B500{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B500;
            }
        }
    }
}
@if $classes_container_act_A500 == "on"{
    .containerA500{
        @include afterMQ500{
            width: $container_value_A500;
            &.container_centered_absolute_A500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A500;
            }
        }
        @include MQ500_768{
            width: $container_value_A500;
        }
        @include afterMQ600{
            width: $container_value_A600;
            &.container_centered_absolute_A500{
                margin-left: $container_value_half_negative_A600;
            }
        }
        @include afterMQ768{
            max-width: $container_value_max_A768;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A768;
            }
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A900;
            }
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_500O == "on"{
    .container500O{
        @include MQ500_768{
            width: $container_value_A500;
        }
    }
}
@if $classes_container_act_B600 == "on"{
    .containerB600{
        @include beforeMQ500{
            width: $container_value_B600;
        }
        @media (min-width: 500px) and (max-width: 600px){
            width: $container_value_B600;            
            &.container_centered_absolute_B600{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B600;
            }
        }
    }
}
@if $classes_container_act_A600 == "on"{
    .containerA600{
        @include afterMQ600{
            width: $container_value_A600;            
            &.container_centered_absolute_A600{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A600;
            }
        }
        @include afterMQ768{
            max-width: $container_value_max_A768;
            &.container_centered_absolute_A600{ 
                margin-left: $container_value_max_half_negative_A768;        
            }
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A900;        
            }
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A600{        
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_B768 == "on"{
    .containerB768{
        @include beforeMQ350{
            max-width: $container_value_max_B350;
        }
        @media (min-width: 351px) and (max-width: 499px){
            width: $container_value_A350;
        }  
        @include MQ500_768{
            width: $container_value_A500;
        }
    }
}
@if $classes_container_act_A768 == "on"{
    .containerA768{
        @include afterMQ768{
            max-width: $container_value_max_A768;
            &.container_centered_absolute_A768{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A768;        
            }
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A900;        
            }
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A768{        
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A768B1024 == "on"{
    .containerA768B1024{
        @include MQ768_1024{
            max-width: $container_value_max_A768;
        }
    }
}
@if $classes_container_act_B1024 == "on"{
    .containerB1024{
        @include beforeMQ350{
            max-width: $container_value_max_B350;
        }
        @include afterMQ350{
            width: $container_value_A350;
        }  
        @include afterMQ500{
            width: $container_value_A500;
        }
        @include MQ500_768{
            width: $container_value_A500;
        }
        @include MQ768_1024{
            max-width: $container_value_max_A768;
        }
    }
}
@if $classes_container_act_A1024 == "on"{
    .containerA1024{
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A1024{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1024B1200 == "on"{
    .containerA1024B1200{    
        @include MQ1024_1200{
            max-width: $container_value_max_A1024;
        }
    }
}
@if $classes_container_act_B1200 == "on"{
    .containerB1200{
        @include beforeMQ350{
            max-width: $container_value_max_B350;
        }
        @include afterMQ350{
            width: $container_value_A350;
        }  
        @include afterMQ500{
            width: $container_value_A500;
        }
        @include MQ500_768{
            width: $container_value_A500;
        }
        @include afterMQ768{
            max-width: $container_value_max_A768;
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
        }
    }
}
@if $classes_container_act_A1200 == "on"{
    .containerA1200{
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A1200{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1300 == "on"{
    .containerA1300{
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A1300{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1300{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1300{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1300{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1400 == "on"{
    .containerA1400{
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1400{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1400{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1400{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1500 == "on"{
    .containerA1500{
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1500{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1600 == "on"{
    .containerA1600{
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
    
/* // Hack para Windows Phone ----------------------------------------------- */
@media (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}