/* =============================================================================
   Lightbox Settings | Etc [settingsLightbox.scss]
   ========================================================================== */
body::after {
    content: url(/nuevo/img/lightbox/close.png) url(/nuevo/img/lightbox/loading.gif) url(/nuevo/img/lightbox/prev.png) url(/nuevo/img/lightbox/next.png);
    display: none;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zIndexLightboxOverlay;
    background-color: $bgBlack;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: $zIndexLightbox;
    text-align: center;
    line-height: 0;
    font-weight: normal;

    .lb-image {
        @include borderRadius(3px);
        display: block;
        height: auto;
        max-width: inherit;
    }
    a{
        img{
            border: none;
        }
    }
}

.lb-outerContainer {
    @include squareSize(250px);
    @include borderRadius(4px);
    position: relative;
    background-color: $bgWhite;
    *zoom: 1;
    margin: 0 auto;
  
    &::after{
      content: "";
      display: table;
      clear: both;      
    }
}

.lb-container {
    padding: 4px;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    @include squareSize(32px);
    display: block;
    margin: 0 auto;
    background-image: url(/nuevo/img/lightbox/loading.gif);
    background-repeat: no-repeat;
}

.lb-nav {
    @include squareSize(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zIndexLBnav;
    
    & > .nav{
      left: 0;      
    }
    a{
        outline: none;
        background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
        
        &.lb-prev, &.lb-next{
            @include opacityCustomHover(00, 100);
            @include transition(0.6s);
        }
        &.lb-prev{
            width: 34%;
            left: 0;
            float: left;
            background: url(/nuevo/img/lightbox/prev.png) left 48% no-repeat;
        }
        &.lb-next{
            width: 64%;
            right: 0;
            float: right;
            background: url(/nuevo/img/lightbox/next.png) right 48% no-repeat; 
        }
    }
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-dataContainer {
    @include borderRadiusB(4px);
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    
    &::after{
      content: "";
      display: table;
      clear: both;
    }
}

.lb-data {
    padding: 0 4px;
    color: #ccc;

    .lb-details {
        width: 85%;
        float: left;
        text-align: left;
        line-height: 1.1;
    }
    .lb-caption {
        font-size: 13px;
        font-weight: bold;
        line-height: 1;
    }
    .lb-number {
        display: block;
        clear: left;
        padding-bottom: 1rem;
        font-size: 12px;
        color: #999999;
    }
    .lb-close {
        @include squareSize(30px);
        @include opacityCustomHover(70, 100);
        @include transition(0.2s);
        display: block;
        float: right;
        background: url(/nuevo/img/lightbox/close.png) top right no-repeat;
        text-align: right;
        outline: none;
        
        &:focus, &:hover {
            cursor: pointer;
        }
    }
}