/* =============================================================================
   Form Settings | Etc [settingsForms.scss]
   ========================================================================== */
form, fieldset, label, input, select, textarea, button,
.labelName, .formInputErrorMsg{
    .mobileForm &{
        @include beforeTablet{
            clear: both!important;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            clear: both!important;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
}

fieldset, label, input, select, textarea, button,
.mandatoryMsg, .status, .labelName, .formInputErrorMsg{
    .mobileForm &{
        @include beforeTablet{
            width: $formLabel_width_BT;
        }
        
        @include mobileOnly{
            width: $formLabel_width_MO;           
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            width: $formLabel_width_TO;
        }
    }
    
    @include afterTabletLandscape{
        form &{
            width: $formLabel_width_ATL;
        }
    }
    
    @include afterDesktop{
        form &{
            width: $formLabel_width_AD;
        }
    }
}

fieldset, label, button,
.mandatoryMsg, .status, .labelName, .formInputErrorMsg{
    .mobileForm &{
        @include beforeTablet{
            font-size: $fontSize_paragraph_BT;
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            font-size: $fontSize_paragraph_AT;
        }
    }
    
    @include afterTabletLandscape{
        form &{
            font-size: $fontSize_paragraph_ATL;
        }
    }
}

input, select, textarea{
    .mobileForm &{
        @include beforeTablet{
            font-size: $formInput_fontSize_BT;
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            font-size: $formInput_fontSize_AT;
        }
    }
    
    @include afterTabletLandscape{
        form &{
            font-size: $formInput_fontSize_ATL;
        }
    }
}

input[type="reset"],
input[type="submit"],
input[type="button"],
form button{
    .mobileForm &{
        @include mobileOnly{
            width: $formSubmit_width_MO!important;
        }

        @include mobileLandscapeOnly{
            width: $formSubmit_width_MLO;   
        }

        @include beforeTablet{
            height: $formSubmit_height_BT;
            line-height: $formSubmit_lineHeight_BT;
        }
    }
    
    .tabletForm &{
        @include tabletOnly{
            width: $formSubmit_width_TO;
            height: $formSubmit_height_TO;
            line-height: $formSubmit_lineHeight_TO;
        }  
    }

    @include afterTabletLandscape{
        form &{
            width: $formSubmit_width_ATL;
            height: $formSubmit_height_ATL;
            line-height: $formSubmit_lineHeight_ATL;
        }
    }

    @include afterDesktop{
        form &{
            width: $formSubmit_width_AD;
            height: $formSubmit_height_AD;
            line-height: $formSubmit_lineHeight_AD;
        }
    }
    
    & + &{
        margin-top: $helpers_spacing_PM_large;
    }
}

form{
    &, fieldset, legend, button, input, select, textarea{
        margin: 0;
        padding: 0;
    }
    
    &, label{
        position: relative;
    }
    
    fieldset{
        &, legend{
            border: $none;
        } 
        
        legend{
            white-space: normal;/* Corrects text not wrapping in Firefox 3. */
            *margin-left: -7px;/* Corrects alignment displayed oddly in IE 6/7. */
        }
    }
    
    label{
        @include transition(1s);
        color: $formLabel_fontColour;
        font-weight: 400!important;

        &:focus, &:hover{
            color: $formLabel_fontColour_hover;
        }
    }
    
    button, input, select, textarea{
        font-size: 100%;/* Corrects font size not being inherited in all browsers. */
        vertical-align: baseline;/* Improves appearance and consistency in all browsers. */
        *vertical-align: middle;/* Improves appearance and consistency in all browsers. */
    }
    
    @media screen and (-webkit-min-device-pixel-ratio: 0) {/* chrome */
        button, input, select, option, textarea{
            &:focus, &:active{
                outline: 1px dotted #999;            
            }
        }
    }
    
    input, select, textarea{
        @include borderStyle($formInput_bcColour);
        background-color: $formInput_bgColour;
        color: $formInput_fontColour;
        font-family: $formInput_fontFamily; 
        transition: all 1s ease, background-position 0s ease;
        
        &:focus{
            box-shadow: $formInput_shadowInset;
        }

        &:focus, &:hover{
            background-color: $formInput_bgColour_hover;
            border-color: $formInput_fontColour_hover;
            color: $formInput_fontColour_hover;
        }        

        &.bcError{
            border-color: $bcError;        
        }

        &.invalidField{
            border-width: 2px;
            background-image: url('/nuevo/img/form_alert.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: auto 55%;
            
            &, &:focus, &:hover{
                border-color: $bcError!important;
                box-shadow: inset 0 0 0 $formInput_bcColour_hover;
            }
        }
    }
    
    input{    
        &[type="search"]{
            -webkit-appearance: textfield;
        }

        &[type="checkbox"],
        &[type="radio"]{
            width: $auto;
        }

        &[type="submit"]{
            -webkit-appearance: none;
        }
    }
    
    select{
        &.invalidField{
            background-position: right 25px center;
        }
    }
    
    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    button{
        @include borderStyle($formSubmit_bcColour);
        @include transition(1s);
        background-color: $formSubmit_bgColour;
        color: $formSubmit_fontColour;
        font-family: $formSubmit_fontFamily;

        &:focus, &:hover{
            background-color: $formSubmit_bgColour_hover;
            border-color: $formSubmit_bcColour_hover;
            color: $formSubmit_fontColour_hover;
            box-shadow: inset 0 0 0 $formSubmit_bgColour_hover;
        }
        
        &.white{
            @include transition(1s);
            &, &:focus, &:hover{
                color: $white;
            }
            &:focus, &:hover{
                text-shadow: $text_white_hoverShadow;
            }
        }    
    }
    
    button{
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: antialiased;
    }
    
    button::focus-inner{
        margin: 0;
        border: $none;
        padding: 0;
    }
    
    input::focus-inner{
        margin: 0;
        border: $none;
        padding: 0;
    }
    
    textarea{
        padding: $helpers_spacing_PM_medium;
        vertical-align: top;
        resize: vertical;

        &.invalidField{
            background-position: right 10px top 10px;
            background-size: 23px;
        }
    }
    
    .mobileForm &{
        @include mobileOnly{
            width: $form_width_MO;            
        }
        
        @include afterMobileLandscape{
            width: $form_width_A500;
        }
        
        @include mobile600Only{
            width: $form_width_600Only;
        }
    } 
    
    .tabletForm &{
        @include afterTablet{
            width: $form_width_AT;
        }
        
        @include tabletOnly{
            width: $form_width_TO;
        }
    
        @include afterTabletLandscape{
            width: $form_width_ATL!important;
        }
    }
    
    @include afterTabletLandscape{
        width: $form_width_ATL!important;
    }
    
    @include afterDesktop{
        width: $form_width_AD;
    }
    
    @if $formLabel_inside_act == "off"{
        label, legend{
            display: block\0/!important; /* IE8 + IE9 */
            padding-left: 7px;
            margin-bottom: $zero;
            font-family: $formLabelFontFamily;

            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($formLabel_height_BT);
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($formLabel_height_TO);          
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($formLabel_height_ATL);
            }

            @include afterDesktop{
                @include equalHeightAndLineHeight($formLabel_height_AD);
            }

            @if $formLabel_visible_act == "off"{
                display: $none;
            }
        }

        @media all and (-ms-high-contrast:none){
            label {/* IE10 */
                display: $block;
            }

            *::-ms-backdrop, label {/* IE11 */
                display: $block;
            }
        }

        input, select{
            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($formInput_height_BT);
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($formInput_height_TO);          
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($formInput_height_ATL);
            }

            @include afterDesktop{
                @include equalHeightAndLineHeight($formInput_height_AD);
            }
        }

        input, select, textarea{
            @include beforeTablet{
                .mobileForm &{
                    margin-bottom: $helpers_spacing_PM_large;
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    margin-bottom: $helpers_spacing_PM_large;       
                }
            }

            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_medium;
            }
        }
    }
    
    @if $formLabel_inside_act == "on"{
        fieldset, label{
            @include clearfix;
        }
    
        fieldset span, input, select{
            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($formInput_height_BT);
                }        
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($formInput_height_TO);
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($formInput_height_ATL);
            }

            @include afterDesktop{
                height: $formInput_height_AD;  
            }
        }
        
        .labelName{
            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($formLabel_height_BT);
                }        
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($formLabel_height_TO);
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($formLabel_height_ATL);
            }

            @include afterDesktop{
                height: $formLabel_height_AD; 
            }
        }
    }
}