/* =============================================================================
   Modal y Popups Styles | Etc [settingsModalPopups.scss]
   ========================================================================== */
.modalBG{
    @include opacityCustom($modalOpacity);
    @include posTRBL();
    position: fixed;
    z-index: $zIndexModalBG;
    background-color: $bgBlack;
}
.popup{
    z-index: $zIndexPopup;
    left: 50%;
    
    .close{
        z-index: $zIndexPopupClose;
    }
}