/* * NombreDeProyecto * ========================================================
   Lightbox Settings | Etc [/etc/css/scss/settings_lightbox.scss]
   ========================================================================== */

@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



body::after{
    content: url('#{$dir_env}/img/lightbox_close.#{$lightbox_img_set}') url('#{$dir_env}/img/lightbox_loading.gif') url('#{$dir_env}/img/lightbox_prev.#{$lightbox_img_set}') url('#{$dir_env}/img/lightbox_next.#{$lightbox_img_set}');
    display: none;
}
.lightboxOverlay{
    position: absolute;
    z-index: $zIndex_lightbox_overlay;
    top: 0;
    left: 0;
    display: none;
}
.lightbox{
    position: absolute;
    z-index: $zIndex_lightbox;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 0;
    font-weight: normal;

    .lb-image{
        border-radius: $bdRadius_global;
        display: block;
        height: auto;
        max-width: inherit;
    }
    a{
        img{
            border: none;
        }
    }
}
.lb-outerContainer{
    @include squareSize(250px);
    position: relative;
    background-color: $bgWhite;
    *zoom: 1;
    margin: 0 auto;
  
    &::after{
      content: "";
      display: table;
      clear: both;      
    }
}
.lb-container{
    padding: 4px;
}
.lb-loader{
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.lb-cancel{
    @include squareSize(32px);
    display: block;
    margin: 0 auto;
    background-image: url('#{$dir_env}/img/lightbox_loading.gif');
    background-repeat: no-repeat;
}
.lb-nav{
    @include squareSize(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zIndex_lightbox_nav;
    
    & > .nav{
      left: 0;      
    }    
    a{
        outline: none;
        background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
        
        &.lb-prev,
        &.lb-next{
            @include opacityCustomHover(00, 100);
            @include transition(0.6s);
            height: 100%;
            cursor: pointer;
            display: block;
            background-color: transparent;
            background-repeat: no-repeat; 
        }
        &.lb-prev{
            width: 34%;
            left: 0;
            float: left;
            background-image: url('#{$dir_env}/img/lightbox_prev.#{$lightbox_img_set}');
        }
        &.lb-next{
            width: 64%;
            right: 0;
            float: right;
            background-image: url('#{$dir_env}/img/lightbox_next.#{$lightbox_img_set}');
        }
    }
}
.lb-prev, .lb-next{
    height: 100%;
    cursor: pointer;
    display: block;
}
.lb-dataContainer{
    @include borderRadiusB(4px); 
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;

    &::after{
      content: "";
      display: table;
      clear: both;
    }
}
.lb-data{
    padding: 0 4px;

    .lb-details{
        width: 85%;
        float: left;
        text-align: left;
        line-height: 1.1;
    }
    .lb-caption{
        line-height: 1;
    }
    .lb-number{
        display: block;
        clear: left;
        padding-bottom: 1rem;
    }
    .lb-close{
        @include squareSize(30px);
        @include opacityCustomHover(70, 100);
        @include transition(0.2s);
        display: block;
        float: right;
        background-color: transparent;
        background-image: url('#{$dir_env}/img/lightbox_close.#{$lightbox_img_set}');
        background-position: top right;
        background-repeat: no-repeat;
        text-align: right;
        outline: none;

        &:focus, &:focus-visible, &:hover{
            cursor: pointer;
        }
    }
}