/* * NombreDeProyecto * ========================================================
   Nav Settings | Etc [/etc/css/scss/settings_nav.scss]
   ========================================================================== */

@use "var_all_pre" as *;
@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



nav{
    p.nav_TLI,
    .nav_item_current a{
        cursor: default;   
    }
    
    li{
        a{
            box-sizing: border-box;
        }
        
        &:focus, &:focus-visible, &:hover{
            a{
                text-decoration: none;
            }
        }
    }
}

.nav_main{    
    &,
    .nav_main_ul{
        z-index: $zIndex_nav;
    }
    
    @if $nav_hasSub_act == "on"{
        .nav_subNav{
            margin-top: $zero;
        }
    }
   
    @include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        @if $hamburger_only_act == "on"{
            // REF [11] Activador
            position: absolute;
        } @else{
            position: fixed; 
        }
                
        .button_hamb{
            box-sizing: border-box;
        }        
        
        .button_hamb_open{
            z-index: $zIndex_nav_open;
            display: $block;  
            opacity: 1;
            background-repeat: no-repeat;
            font-family: $button_hamb_ftFamily;

            @if $google_fonts_act == "on"{
                font-weight: $button_hamb_ftWeight;
            }
        }
        
        .button_hamb_close{
            @include borderRadius(50%);
            z-index: $zIndex_nav_close;  
            display: none;            
            background-color: $bgWhite;
            background-image: url('#{$dir_env}/img/button_hamb_close.svg');
            background-repeat: no-repeat;
            background-position: center center; 
        }
        
        .navAT{
            display: $none;
        }
        
        .nav_main_ul{
            li{
                float: $none;
            }
        }
    }
    
    @include navAT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        background-color: $nav_nav_bgColour_AT; 
        
        #header.site_scrolled_js &{
        // REF [42]
            background-color: $nav_nav_bgColour_scrolled_AT; 
        }
        
        .button_hamb{
            display: $none;
        }
        
        .nav_main_ul_drawer{
            display: $none;
        }
        
        @if $nav_double_A768_act == "on"{
            .navs_container_AT > ul{
                background-color: $nav_ul_bgColour_AT; 

                > li{
                    background-color: $nav_item_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_ftColour_AT;
                        font-family: $nav_ftFamily_AT;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_ftWeight_AT;
                        }
                    }    

                    &:focus, &:focus-visible, &:hover{
                        background-color: $nav_item_bgColour_hover; 

                        > a{
                            color: $nav_item_ftColour_hover;
                        }
                    }            
                }

                > .uk-active,
                > .nav_item_current{
                    background-color: $nav_item_current_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_current_ftColour_AT;
                        font-family: $nav_item_current_ftFamily_AT;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_item_current_ftWeight_AT;
                        }
                    }  

                    &:focus, &:focus-visible, &:hover{
                        background-color: $nav_item_current_bgColour_hover;

                        > a,
                        .nav_TLI{
                            color: $nav_item_current_ftColour_hover;
                        }  
                    }         
                } 
            }
            
        } @else {
            
            > ul{
                background-color: $nav_ul_bgColour_AT; 

                > li{
                    background-color: $nav_item_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_ftColour_AT;
                        font-family: $nav_ftFamily_AT;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_ftWeight_AT;
                        }
                    }    

                    &:focus, &:focus-visible, &:hover{
                        background-color: $nav_item_bgColour_hover; 

                        > a{
                            color: $nav_item_ftColour_hover;
                        }
                    }            
                }

                > .uk-active,
                > .nav_item_current{
                    background-color: $nav_item_current_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_current_ftColour_AT;
                        font-family: $nav_item_current_ftFamily_AT;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_item_current_ftWeight_AT;
                        }
                    }  

                    &:focus, &:focus-visible, &:hover{
                        background-color: $nav_item_current_bgColour_hover;

                        > a,
                        .nav_TLI{
                            color: $nav_item_current_ftColour_hover;
                        }  
                    }         
                } 
            }
        }
            
        @if $nav_hasSub_act == "on"{
            .nav_subNav{
                display: $none;
                background-color: $nav_subNav_bgColour_AT;
                
                > li{
                    @include transition(0.7s);
                    background-color: $nav_item_subNav_bgColour_AT;
                    
                    a,
                    .nav_TLI{
                        color: $nav_item_subNav_ftColour_AT;
                        font-family: $nav_item_subNav_ftFamily_AT;
                        cursor: pointer;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_item_subNav_ftWeight_AT;
                        }
                    }
                    
                    &:focus, &:focus-visible, &:hover{
                        background-color: $nav_item_subNav_bgColour_hover;
                        
                        a{
                            color: $nav_item_subNav_ftColour_hover;  
                        }
                    }
                }
                    
                > .nav_item_current{
                    a,
                    .nav_TLI{
                        color: $nav_item_subNav_current_ftColour_AT;
                        font-family: $nav_item_subNav_current_ftFamily_AT;
                        cursor: default;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_item_subNav_current_ftWeight_AT;
                        }
                    }

                    &, &:focus, &:focus-visible, &:hover{
                        background-color: $nav_item_subNav_current_bgColour_AT;
                    }

                    &:focus, &:focus-visible, &:hover{
                        a{
                            color: $nav_item_subNav_current_ftColour_hover;
                        }
                    }
                }
                
                &.openDR{
                    display: $block;
                }
            }
        }
        
        @if $nav_topper_act == "on"{
            // REF [44]
            &.nav_topper{
                top: 0;
                background-color: $nav_topper_bgColour;

                .button_hamb{
                    display: $none;
                }

                .nav_main_ul{
                    > li{
                        > a,
                        > .nav_TLI{
                            color: $nav_topper_ftColour;
                        }

                        &:focus, &:focus-visible, &:hover{
                            > a,
                            .nav_TLI{
                                color: $nav_topper_ftColour_hover;
                            }  
                        }
                    }
                        
                    > .nav_item_current{
                        &, &:focus, &:focus-visible, &:hover{
                            > a,
                            .nav_TLI{
                                color: $nav_topper_item_current_ftColour;
                            }  
                        }
                    }
                }
            }
        }
    }     
    
    @include afterMQ1024{
        > ul{
            > li{
                a,
                .nav_TLI{
                    font-family: $nav_ftFamily_A1024;

                    @if $google_fonts_act == "on"{
                        font-weight: $nav_ftWeight_A1024;
                    }
                }                
            }
            
            .uk-active,
            .nav_item_current{
                a,
                .nav_TLI{
                    font-family: $nav_item_current_ftFamily_A1024;

                    @if $google_fonts_act == "on"{
                        font-weight: $nav_item_current_ftWeight_A1024;
                    }
                }
            }
        }
            
        @if $nav_hasSub_act == "on"{
            .nav_subNav{                
                > li{                
                    a,
                    .nav_TLI{
                        font-family: $nav_item_subNav_ftFamily_A1024;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_item_subNav_ftWeight_A1024;
                        }
                    }                    
                }
                
                > .nav_item_current{
                    a,
                    .nav_TLI{
                        font-family: $nav_item_subNav_current_ftFamily_A1024;

                        @if $google_fonts_act == "on"{
                            font-weight: $nav_item_subNav_current_ftWeight_A1024;
                        }
                    }                    
                }
            }
        }
    }    
    
    @include MQ768_1200{
        .nav_main_ul{
            @if $nav_hasSub_act == "on"{
                .nav_subNav{
                    &.openSubTTLO{
                        display: $block;
                    }
                }
            }
            
            @if $nav_topper_act == "on"{
                // REF [44]
                &.nav_topper{
                    .nav_main_ul{
                        > li{
                            > a,
                            > .nav_TLI{                
                                &.openDR{
                                    color: $nav_topper_ftColour_hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include afterMQ1200{
        @if $nav_hasSub_act == "on"{
            .nav_item_hasSubNav{
                &:focus, &:focus-visible, &:hover{
                    ul{
                        &,
                        &.openDR,
                        &.openSubTTLO{
                            display: $block;
                        }
                    }
                }
            }
        }
    }
}