/* * NombreDeProyecto * ========================================================
   Nav Accordion Settings | Etc [/etc/css/scss/settings_nav_accordion.scss]
   ========================================================================== */

@use "var_all" as *;
@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@if $nav_accordion_act == "on"{
    .nav_main{
        @include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
            top: calc(#{$header_navAccordion_height_BT} / 2);
            right: 0;
            left: 0;
            
            .button_hamb{
                right: 10px;
            }
            
            .button_hamb_open{                
                &.button_hamb_open_pressed{
                    display: $none;
                } 
            }

            .button_hamb_close{                
                &.button_hamb_close_visible{
                    display: block;
                } 
            }

            ul{
                @include transition(0.5s);
                box-sizing: border-box;
                position: fixed;
                z-index: $zIndex_navAccordion_ul;
                top: $header_navAccordion_height_BT;
                right: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: $nav_bgColour_BT;
                overflow: scroll; 
                
                li{
                    &,
                    a,
                    .nav_TLI{
                        @include equalHeightAndLineHeight($nav_accordion_item_height);
                    }
                }
                
                &.open{
                    display: $block;
                    height: auto;
                    max-height: calc(100vh - #{$header_navAccordion_height_BT});
                }
            }
        }
    }
}