/* =============================================================================
   Nav Accordion Settings | Etc [settingsNavAccordion.scss]
   ========================================================================== */
@if $navAccordion == "on"{
    .navMain{
        @include beforeTablet{
            .navOpen{                
                &.clicked{
                    display: $none;
                } 
            }

            .navClose{                
                &.clicked{
                    display: block;
                } 
            }

            ul{
                z-index: $zIndexNavUlAccordion;
            }
            
            > ul{
                box-sizing: border-box;
                position: fixed;
                top: $headerHBT;
                right: 0;
                left: 0;
                width: 100%;
                background-color: $bgNavBT;
            }
        }
    }
}