/* * NombreDeProyecto * ========================================================
   Text Settings | Etc [/etc/css/scss/settings_text.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // General --------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, dd, dt, a, li, button, label, input, select, textarea, blockquote, table{
    font-family: $ftFamily_main_global;
    font-weight: $ftWeight_global;
    font-size: $ftSize_global;
    line-height: $lineHeight_global;
}
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, dd, dt, li, button, label, input, select, textarea, blockquote, table{
    color: $ftColour_main_global;
}
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, dd, dt, a, li, button, label, blockquote{
    sup{
        font-size: 0.5em;
    }
}
h1, h2, h3, h4, h5, h6, p, li, dfn, button, blockquote, dfn, button, blockquote{
    a{
        font-family: inherit;
        font-weight: inherit;
    }
}
h1, h2, h3, h4, h5, h6{
    margin: $headings_marginTRBL_global;
}
p, a, li, dd, dt, .pSize{
    @include beforeTablet{
        font-size: $ftSize_paragraph_BT;
    }
    @include afterTablet{
        font-size: $ftSize_paragraph_AT;
    }
    @include afterTabletLandscape{
        font-size: $ftSize_paragraph_ATL;
    }
    @include afterDesktop{
        font-size: $ftSize_paragraph_AD;
    }
}
p, dl, legend{
    margin: $text_marginTRBL_global;
}
p, ul{
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6{
        margin: $headings_marginTRBL_sibling;    
    }    
    & + p,
    & + ul{
        margin: $text_marginTRBL_sibling;    
    }
}
p, li{    
    b{
        font-family: $ftFamily_bold_global;
    }
    p, li, a, strong, dl, legend{
        font-size: 1em;
    }     
    @if $anchorUnderline == "on"{
        &:focus, &:hover{
            a{
                text-decoration: underline;
            }
        }        
        &.noUnderline{
            &:focus, &:hover{
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
a{
    transition: background-color 0.7s, color 1s, text-shadow 1s;    
    &, &:active, &:visited{
        color: $ftColour_anchor_global;
    }
    &:focus, &:hover{
        color: $ftColour_anchor_global_hover;
    }
}

/* // Font Families and Headings Values ------------------------------------- */
@include fontFamilyCustomClassesGenerator;
@include fontFamilyWeightsGenerator;

@include beforeTablet{
    @include fontCustomHeadingsSizesGeneratorMobile; 
}
@include afterTablet{
    @include fontCustomHeadingsSizesGeneratorTablet;   
}
@include afterDesktop{
    @include fontCustomHeadingsSizesGeneratorDesktop;
}

/* // Colour classes -------------------------------------------------------- */
.white{
    &, b, strong, i, em{
        color: $white;
    }
}
a.white{
    &, &:active, &:visited, &:focus, &:hover{
        color: $white;
    }
    &:focus, &:hover{
        text-shadow: $txShadow_white_hover;
    }
    &.noHover{
        &:focus, &:hover{        
            text-shadow: 0 0 0 transparent;
        }
    }
}
@include colourLightClassesGenerator($colours_light_lightenValue);
@include colourDarkClassesGenerator($colours_dark_lightenValue);
@include anchorColoursLightClassesGenerator($colours_anchor_ftColours_light_lightenValue);
@include anchorColoursDarkClassesGenerator($colours_anchor_ftColours_dark_lightenValue);
@include colourCustomHoverClassesGenerator;