/* =============================================================================
   Nav Drawer Settings | Etc [settingsNavDrawer.scss]
   ========================================================================== */
@if $navDrawer == "on"{
    @include navBT{
        .navMain{
            .navOpen{   
                background-color: $navBgColour_hamburger;
                
                &.clicked{
                    opacity: 0.5;
                    color: $navFontColour_hamburger_clicked;
                } 
            }

            .navClose{                
                &.clicked{
                    display: block;
                } 
            }

            .mainMenu{
                box-sizing: border-box;
                position: fixed;
                z-index: $zIndexNavUlDrawer;
                left: calc(-1 * #{$navDrawerWidth});
                width: calc(#{$navDrawerWidth} - 5px);
                max-width: $navDrawerMaxWidth;
                background-color: $navBgColour_BT;
                padding-top: calc(#{$logoHClickedFH} + 5px);
                padding-right: 5px;
                padding-left: 5px;
                padding-bottom: 30px;
                overflow: scroll; 

                &,
                .subMenu{
                    @include transition(0.5s); 
                    top: 0;
                    bottom: 0;
                }    

                &.open{
                    left: 0;
                }

                & + .mainMenu{
                    margin-top: 0;
                }
        
                > li{
                    > a,
                    > .topLevelItem{
                        color: $navFontColour_itemLevel0_BT;
                        font-family: $navFontFamilyBT;
                    }
                }  

                > .current{
                    background-repeat: no-repeat;
                    background-position: right 10px center;

                    > a,
                    > .topLevelItem{
                        font-family: $navCurrentFontFamilyBT;
                    }
                }
            }
        
            @if $navHasSubs == "on"{
                .mainMenu{
                    .topLevelItem{
                        background-repeat: no-repeat;
                        background-position: 10px center;
                    }  
                    
                    &.backMenu{
                        .topLevelItem{
                            background-image: url('/nuevo/img/#{$navArrow_backMenuTLI}');
                            color: $navFontColour_backMenu_TLI;

                            &.open{
                                background-image: url('/nuevo/img/#{$navArrow_backMenuTLI_openDR}'); 
                            }
                        } 
                    }
                }
                
                .subMenu{
                    position: relative;
                    top: 0;
                    right: $navDrawerWidth;
                    width: calc(100%);
                    max-width: $navDrawerMaxWidth;
                    
                    a,
                    .topLevelItem{
                        font-family: $navSubFontFamilyBT;
                    }

                    .current{
                        background-repeat: no-repeat;
                        background-position: right 10px center;

                        a,
                        .topLevelItem{
                            font-family: $navSubCurrentFontFamilyBT;
                        } 
                    }

                    &.backMenuSubMenu{
                        z-index: $zIndexNavSubMenuBack;
                    }

                    &.openDR{
                        right: 0;
                    }
                }  
            }
        
            @if $navHasSubLevel1 == "on"{
                .hasSubLevel1{ 
                    a,
                    .TLILevel1{
                        color: $navFontColour_TLILevel1_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrow_TLILevel1_openDR}');
                        }
                    }
                    
                    &.current{                        
                        a,
                        .TLILevel1{
                            color: $navFontColour_TLICurrentLevel1_BT;
                        }
                    }
                }
                
                .subMenuLevel1{
                    z-index: $zIndexNavSubMenuLevel1;
                    background-color: $navBgColour_ulLevel1_BT;

                    li{
                        background-color: $navBgColour_itemLevel1_BT;
                        
                        a{
                            color: $navFontColour_itemLevel1_BT;
                        }
                    }

                    > .current{  
                        background-color: $navBgColour_itemCurrentLevel1_BT; 
                        background-image: url('/nuevo/img/#{$navArrow_itemCurrentLevel1}');
                        
                        a{
                            color: $navFontColour_itemCurrentLevel1_BT;
                        }
                    }
                }
            }
        
            @if $navHasSubLevel2 == "on"{
                .hasSubLevel2{ 
                    a,
                    .TLILevel2{
                        color: $navFontColour_itemLevel2_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrow_TLILevel2_openDR}');
                        }
                    }
                    
                    &.current{                        
                        a,
                        .TLILevel1{
                            color: $navFontColour_TLICurrentLevel2_BT;
                        }
                    }
                }
                
                .subMenuLevel2{
                    z-index: $zIndexNavSubMenuLevel2;
                    background-color: $navBgColour_ulLevel2_BT;

                    li{
                        background-color: $navBgColour_itemLevel2_BT;
                        
                        a{
                            color: $navFontColour_itemLevel2_BT;
                        }
                    }

                    > .current{      
                        background-color: $navBgColour_itemCurrentLevel2_BT; 
                        background-image: url('/nuevo/img/#{$navArrow_itemCurrentLevel2}'); 
                        
                        a{
                            color: $navFontColour_itemCurrentLevel2_BT;
                        }
                    }
                }
            }
        
            @if $navHasSubLevel3 == "on"{  
                .hasSubLevel3{  
                    a,  
                    .TLILevel3{
                        color: $navFontColour_itemLevel2_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrow_TLILevel3_openDR}');
                        }
                    }
                    
                    &.current{                        
                        a,
                        .TLILevel1{
                            color: $navFontColour_TLICurrentLevel3_BT;
                        }
                    }
                }
                
                .subMenuLevel3{
                    z-index: $zIndexNavSubMenuLevel3;
                    background-color: $navBgColour_ulLevel3_BT;

                    li{
                        background-color: $navBgColour_itemLevel3_BT;
                        
                        a{
                            color: $navFontColour_itemLevel3_BT;
                        }
                    }

                    > .current{      
                        background-color: $navBgColour_itemCurrentLevel3_BT;
                        background-image: url('/nuevo/img/#{$navArrow_itemCurrentLevel3}'); 
                        
                        a{
                            color: $navFontColour_itemCurrentLevel3_BT;
                        }
                    }
                }
            }
        }
    }
}