/* =============================================================================
   Tables Settings | Etc [settingsTables.scss]
   ========================================================================== */
table{
    border-spacing: 0;
    border-collapse: collapse;
    @include beforeTablet{
        width: $table_width_BT;
        @include tableCustomSizesBT;        
    }
    @include afterTablet{
        width: $table_width_AT;
        @include tableCustomSizesAT;          
    }
    @include afterTabletLandscape{
        width: $table_width_ATL;
        @include tableCustomSizesATL;          
    }     
    th,
    td{
        font-weight: 400;
        vertical-align: middle;
    }
}

    //Rounded Tables
.tableRounded{
    @include borderRadius();
    border-collapse: separate;
   
    tfoot td{
        &:first-child{
            @include borderRadiusBL($helpers_border_radius_table);
        }
        &:last-child{
            @include borderRadiusBR($helpers_border_radius_table);
        }
    }    
    tr{
        th{
            &:first-child{
                @include borderRadiusTL($helpers_border_radius_table);
            }
            &:last-child{
                @include borderRadiusTR($helpers_border_radius_table);
            }
        }        
        &:last-child{
            td{
                border-bottom: $zero;
            }
        }
    }
}

    //Striped Tables
.tableStriped{
    thead, tfoot{
        tr{
            background-color: $bgColour_table_striped_thead;
        }
    }
    tbody{
        tr{
            background-color:$bgColour_table_striped_even;
            
            &:nth-child(odd){
                background-color: $bgColour_table_striped_odd;
            }
        }        
    }
}
@include beforeTablet{
    table{
        width: $table_width_BT;
        
        thead,
        tfoot{
            display: none;
        }        
        tr,
        td{
            display: block;
        } 
        tr{
            margin-top: 0;
        }        
        td{
            position: relative;            
            &::before{
                content: attr(data-label);
                position: absolute;
            }
        }
    }    
    .tableRounded{
        tr{
            &:last-child{
                border: $none;
            }            
        }
        td{
            &:last-child{
                border: $none;
            }            
        }
    }        
    .tableResponsive{
        width: 98%;
        overflow-x: scroll;        
        table{
            position: relative;
            display: table;
        
            thead,
            tbody{
                display: table-row-group;
            }
            tfoot{
                display: none;
            }            
            td,
            th{
                display: table-cell;
            }            
            tr{
                display: table-row;
            }            
            td{
                &::before{
                    content: '';
                    float: none;                    
                }
            }
        }
        .tableStriped{
            tr{
                border: $none;                
            }
            td{
                background: $none;          
            }           
        }
    }
}