/* =============================================================================
   Html Body Settings | Etc [/etc/css/scss/settings_html_body.scss]
   ========================================================================== */
html, body{
    padding: 0;
    margin: 0;
    color: $ftColour_main_global;
}
html{
    font-size: 100%;
    text-rendering: optimizeLegibility;
}
body{
    -webkit-font-smoothing: antialiased;
}