/* =============================================================================
   Nav Drawer Settings | Etc [/etc/css/scss/settings_nav_drawer.scss]
   ========================================================================== */
@if $nav_drawer_act == "on"{
    @include navBT{
        .nav_main{
            .button_hamb_close{                
                &.button_hamb_close_visible{
                    display: block;
                } 
            }

            .nav_main_ul{
                box-sizing: border-box;
                position: fixed;
                z-index: $zIndex_navDrawer_ul;
                left: calc(-1 * #{$nav_drawer_width});
                width: $nav_drawer_width_final;
                max-width: $nav_drawer_width_max;
                background-color: $nav_bgColour_BT;
                padding-top: calc(#{$logo_height_clicked_final} + 5px);
                padding-right: 5px;
                padding-left: 5px;
                overflow: scroll; 
                
                @if $language_menu_navDrawer_clicked_act == "on"{
                    padding-bottom: calc(#{$nav_language_ul_height_clicked} + #{$nav_language_ul_bottom} + 10px);
                } @else {
                    padding-bottom: 30px;     
                }

                &,
                .nav_subNav{
                    @include transition(0.5s); 
                    top: 0;
                    bottom: 0;
                }    

                &.open{
                    left: 0;
                }

                & + .nav_main_ul{
                    margin-top: 0;
                }
        
                > li{
                    > a,
                    > .nav_TLI{
                        color: $nav_item_level0_ftColour_BT;
                        font-family: $nav_ftFamily_BT;
                    }
                }  
                
                > .uk-active,
                > .nav_item_current{
                    background-color: $nav_item_current_level0_bgColour_BT;
                    background-repeat: no-repeat;
                    background-position: right 10px center;

                    > a,
                    > .nav_TLI{
                        color: $nav_TLI_current_level0_ftColour_BT;
                        font-family: $nav_item_current_ftFamily_BT;
                    }
                }
            }
        
            @if $nav_hasSub_act == "on"{
                .nav_main_ul{
                    .nav_TLI{
                        background-repeat: no-repeat;
                        background-position: 10px center;
                    }  
                    
                    .nav_item_back{
                        .nav_TLI{
                            background-image: url('#{$url_dir}/img/#{$nav_arrows_item_back_TLI}');
                            color: $nav_item_back_TLI_ftColour;

                            &.open{
                                background-image: url('#{$url_dir}/img/#{$nav_arrows_item_back_TLI_openDR}'); 
                            }
                        } 
                    }
                }
                
                .nav_subNav{
                    @include borderStyleB($nav_subNav_borderB_BT, 3px);
                    position: relative;
                    top: 0;
                    right: $nav_drawer_width;
                    width: calc(100%);
                    max-width: $nav_drawer_width_max;
                    
                    a,
                    .nav_TLI{
                        font-family: $nav_item_subNav_ftFamily_BT;
                    }

                    .nav_item_current{
                        background-repeat: no-repeat;
                        background-position: right 10px center;

                        a,
                        .nav_TLI{
                            font-family: $nav_item_subNav_current_ftFamily_BT;
                        } 
                    }

                    &.nav_item_back_subNav{
                        z-index: $zIndex_nav_item_back_subNav;
                    }

                    &.openDR{
                        right: 0;
                    }
                }  
            }
        
            @if $nav_hasSub_level1_act == "on"{
                .nav_item_hasSubNav_level1{
                    a,
                    .nav_TLI_level1{
                        color: $nav_TLI_level1_ftColour_BT;

                        &.openDR{
                            background-image: url('#{$url_dir}/img/#{$nav_arrows_TLI_level1_openDR}');
                        }
                    }
                    
                    &.nav_item_current{  
                        > a,
                        .nav_TLI_level1{
                            background-image: url('#{$url_dir}/img/#{$nav_arrows_item_current_level0}');
                            background-position: right 10px center;
                            color: $nav_TLI_current_level1_ftColour_BT;
                        }
                    }
                }
                
                .nav_subNav_level1{
                    z-index: $zIndex_navSubMenu_level1;
                    background-color: $nav_ul_level1_bgColour_BT;

                    li{
                        background-color: $nav_item_level1_bgColour_BT;
                        
                        a{
                            color: $nav_item_level1_ftColour_BT;
                        }
                    }

                    > .nav_item_current{
                        background-color: $nav_item_current_level1_bgColour_BT; 
                        background-image: url('#{$url_dir}/img/#{$nav_arrows_item_current_level1}');
                        
                        a{
                            color: $nav_TLI_current_level1_ftColour_BT;
                        }
                    }
                }
            }
        
            @if $nav_hasSub_level2_act == "on"{
                .nav_item_hasSubNav_level2{
                    a,
                    .nav_TLI_level2{
                        color: $nav_item_level2_ftColour_BT;

                        &.openDR{
                            background-image: url('#{$url_dir}/img/#{$nav_arrows_TLI_level2_openDR}');
                        }
                    }
                    
                    &.nav_item_current{    
                        a,
                        .nav_TLI_level1{
                            color: $nav_TLI_current_level2_ftColour_BT;
                        }
                    }
                }
                
                .nav_subNav_level2{
                    z-index: $zIndex_navSubMenu_level2;
                    background-color: $nav_ul_level2_bgColour_BT;

                    li{
                        background-color: $nav_item_level2_bgColour_BT;
                        
                        a{
                            color: $nav_item_level2_ftColour_BT;
                        }
                    }

                    > .nav_item_current{
                        background-color: $nav_item_current_level2_bgColour_BT; 
                        background-image: url('#{$url_dir}/img/#{$nav_arrows_item_current_level2}'); 
                        
                        a{
                            color: $nav_TLI_current_level2_ftColour_BT;
                        }
                    }
                }
            }
        
            @if $nav_hasSub_level3_act == "on"{
                .nav_item_hasSubNav_level3{
                    a,  
                    .nav_TLI_level3{
                        color: $nav_item_level2_ftColour_BT;

                        &.openDR{
                            background-image: url('#{$url_dir}/img/#{$nav_arrows_TLI_level3_openDR}');
                        }
                    }
                    
                    &.nav_item_current{    
                        a,
                        .nav_TLI_level1{
                            color: $nav_TLI_current_level3_ftColour_BT;
                        }
                    }
                }
                
                .nav_subNav_level3{
                    z-index: $zIndex_navSubMenu_level3;
                    background-color: $nav_ul_level3_bgColour_BT;

                    li{
                        background-color: $nav_item_level3_bgColour_BT;
                        
                        a{
                            color: $nav_item_level3_ftColour_BT;
                        }
                    }

                    > .nav_item_current{
                        background-color: $nav_item_current_level3_bgColour_BT;
                        background-image: url('#{$url_dir}/img/#{$nav_arrows_item_current_level3}'); 
                        
                        a{
                            color: $nav_TLI_current_level3_ftColour_BT;
                        }
                    }
                }
            }
        }
    }
}