/* * NombreDeProyecto * ========================================================
   Text Settings | Etc [/etc/css/scss/settings_text.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@use "sass:color";
@use "sass:map";

@use "var_all_pre" as *;

@use "../custom/var/env_var" as *;

@use "../custom/var/fonts_main_var" as *;
@use "../custom/var/text_var" as *;

/* // General --------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, cite, dfn, dl, dd, dt, a, li, button, label, input, select, textarea, blockquote, table{
    font-family: $ftFamily_regular_global;
    font-weight: $ftWeight_regular_global;
    font-size: $ftSize_global;
    line-height: $lineHeight_global;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, cite, dfn, dl, dd, dt, li, button, label, input, select, textarea, blockquote, table{
    color: $ftColour_main_global;
}
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, cite, dfn, dd, dt, a, li, button, label, blockquote{
    sup{
        font-size: 0.5em;
    }
}
h1, h2, h3, h4, h5, h6, p, li, button, blockquote{
    a{
        font-family: inherit;
        font-weight: inherit;
    }
}
h1, h2, h3, h4, h5, h6{
    margin: $headings_marginTRBL_global;
}
p, a, li, dd, dt, .pSize{
    @include beforeMQ350{
        font-size: $ftSize_paragraph_B350;
    }
    @include afterMQ350{
        font-size: $ftSize_paragraph_A350;
    }
    @include afterMQ500{
        font-size: $ftSize_paragraph_A500;
    }
    @include afterMQ768{
        font-size: $ftSize_paragraph_AT;
    }
    @include afterMQ1024{
        font-size: $ftSize_paragraph_A1024;
    }
    @include afterMQ1200{
        font-size: $ftSize_paragraph_A1200;
    }
}
p, dl, legend{
    margin: $txMargin_TRBL_global;
}
h1, h2, h3, h4, h5, h6, p, ul,
.heading1, .heading2, .heading3, .heading4, .heading5, .heading6{
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + .heading1,
    & + .heading2,
    & + .heading3,
    & + .heading4,
    & + .heading5,
    & + .heading6,
    & + p,
    & + ul{
        margin: $txMargin_TRBL_sibling;    
    }
}
h1, h2, h3, h4, h5, h6{
    a, strong, em, i, b, cite{
        font-size: 1em;
    }   
}
p, a, li{    
    b{
        font-family: $ftFamily_bold_global;
    }
    p, a, strong, em, i, b, cite, li{
        font-size: 1em;
    }  
}
p, li{
    @if $anchorUnderline == "on"{
        &:focus, &:focus-visible, &:hover{
            a{
                text-decoration: underline;
            }
        }   
    }
}
a{
    transition: background-color 0.5s, color 1s, text-shadow 0.7s;        
    &, &:active, &:visited{
        color: $ftColour_anchor_global;
    }
    &:focus, &:focus-visible, &:hover{
        color: $ftColour_anchor_global_hover;
    }
}

/* // Font Families and Headings Values ------------------------------------- */
@include fontFamilyCustomClassesGenerator;
@include fontFamilyWeightsGenerator;

@include beforeMQ500{
    @include fontCustomHeadingsSizesGeneratorB500;
}
@include afterMQ500{
    @include fontCustomHeadingsSizesGeneratorA500; 
}
@include afterMQ768{
    @include fontCustomHeadingsSizesGeneratorTablet;   
}
@include afterMQ1200{
    @include fontCustomHeadingsSizesGeneratorDesktop;
}

/* // Colour classes -------------------------------------------------------- */
.white{
    &, b, strong, i, em{
        color: $white;
    }
}
a.white{
    &, &:active, &:visited, &:focus, &:focus-visible, &:hover{
        color: $white;
    }
    &:focus, &:focus-visible, &:hover{
        text-shadow: $txShadow_black_smooth;
    }
    &.noHover{
        &:focus, &:focus-visible, &:hover{
            text-shadow: $txShadow_none;
        }
    }
}
@include colourLightClassesGenerator($colours_light_lightenValue);
@include colourDarkClassesGenerator($colours_dark_lightenValue);
@include anchorColoursLightClassesGenerator($colours_anchor_ftColours_light_lightenValue);
@include anchorColoursDarkClassesGenerator($colours_anchor_ftColours_dark_lightenValue);