/* =============================================================================
   Nav Settings | Etc [/etc/css/scss/settings_nav.scss]
   ========================================================================== */
nav{
    p.nav_TLI,
    .nav_item_current a{
        cursor: default;   
    }
    
    li{
        a{
            box-sizing: border-box;
        }
        
        &:focus, &:hover{
            a{
                text-decoration: none;
            }
        }
    }
}

.nav_main{    
    &,
    .nav_main_ul{
        z-index: $zIndex_nav;
    }
    
    @if $nav_hasSub_act == "on"{
        .nav_subNav{
            margin-top: $zero;
        }
    }
   
    @include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        @if $hamburger_only_act == "on"{
            position: absolute;
    } @else{
            position: fixed; 
        }
                
        .button_hamb{
            @include transition(1s);   
            box-sizing: border-box;
        }        
        
        .button_hamb_open{
            z-index: $zIndex_nav_open;
            display: $block;  
            opacity: 1;
            background-image: url('#{$url_dir}/img/button_hamb_open.svg');
            background-repeat: no-repeat;
            color: $button_hamb_ftColour;
            font-family: $button_hamb_ftFamily;

            @if $googleFont_act == "on"{
                font-weight: $button_hamb_ftWeight;
            }
        }
        
        .button_hamb_close{
            @include borderRadius(50%);
            z-index: $zIndex_nav_close;  
            display: none;            
            background-color: $bgWhite;
            background-image: url('#{$url_dir}/img/button_hamb_close.svg');
            background-repeat: no-repeat;
            background-position: center center; 
        }
        
        .navAT{
            display: $none;
        }
        
        .nav_main_ul{
            li{
                float: $none;
            }
        }
    }
    
    @include navAT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        background-color: $nav_nav_bgColour_AT; 
        
        .button_hamb{
            display: $none;
        }
        
        .nav_main_ul_drawer{
            display: none;
        }
        
        @if $nav_double_AT_act == "on"{
            .navs_container_AT > ul{
                background-color: $nav_ul_bgColour_AT; 

                > li{
                    background-color: $nav_item_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_ftColour_AT;
                        font-family: $nav_ftFamily_AT;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_ftWeight_AT;
                        }
                    }    

                    &:focus, &:hover{
                        background-color: $nav_item_bgColour_hover; 

                        > a{
                            color: $nav_item_ftColour_hover;
                        }
                    }            
                }

                > .uk-active,
                > .nav_item_current{
                    background-color: $nav_item_current_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_current_ftColour_AT;
                        font-family: $nav_item_current_ftFamily_AT;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_item_current_ftWeight_AT;
                        }
                    }  

                    &:focus, &:hover{
                        background-color: $nav_item_current_bgColour_hover;

                        > a,
                        .nav_TLI{
                            color: $nav_item_current_ftColour_hover;
                        }  
                    }         
                } 
            }
            
        } @else {
            
            > ul{
                background-color: $nav_ul_bgColour_AT; 

                > li{
                    background-color: $nav_item_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_ftColour_AT;
                        font-family: $nav_ftFamily_AT;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_ftWeight_AT;
                        }
                    }    

                    &:focus, &:hover{
                        background-color: $nav_item_bgColour_hover; 

                        > a{
                            color: $nav_item_ftColour_hover;
                        }
                    }            
                }

                > .uk-active,
                > .nav_item_current{
                    background-color: $nav_item_current_bgColour_AT;

                    a,
                    .nav_TLI{
                        color: $nav_item_current_ftColour_AT;
                        font-family: $nav_item_current_ftFamily_AT;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_item_current_ftWeight_AT;
                        }
                    }  

                    &:focus, &:hover{
                        background-color: $nav_item_current_bgColour_hover;

                        > a,
                        .nav_TLI{
                            color: $nav_item_current_ftColour_hover;
                        }  
                    }         
                } 
            }
        }
            
        @if $nav_hasSub_act == "on"{
            .nav_subNav{
                display: $none;
                background-color: $nav_subNav_bgColour_AT;
                
                > li{
                    @include transition(0.7s);
                    background-color: $nav_item_subNav_bgColour_AT;
                    
                    a,
                    .nav_TLI{
                        color: $nav_item_subNav_ftColour_AT;
                        font-family: $nav_item_subNav_ftFamily_AT;
                        cursor: pointer;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_item_subNav_ftWeight_AT;
                        }
                    }
                    
                    &:focus, &:hover{
                        background-color: $nav_item_subNav_bgColour_hover;
                        
                        a{
                            color: $nav_item_subNav_ftColour_hover;  
                        }
                    }
                }
                    
                > .nav_item_current{
                    a,
                    .nav_TLI{
                        color: $nav_item_subNav_current_ftColour_AT;
                        font-family: $nav_item_subNav_current_ftFamily_AT;
                        cursor: default;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_item_subNav_current_ftWeight_AT;
                        }
                    }

                    &, &:focus, &:hover{
                        background-color: $nav_item_subNav_current_bgColour_AT;
                    }

                    &:focus, &:hover{
                        a{
                            color: $nav_item_subNav_current_ftColour_hover;
                        }
                    }
                }
                
                &.openDR{
                    display: $block;
                }
            }
        }
        
        @if $nav_topper_act == "on"{
            &.nav_topper{
                top: 0;
                background-color: $nav_topper_bgColour;

                .button_hamb{
                    display: $none;
                }

                .nav_main_ul{
                    > li{
                        > a,
                        > .nav_TLI{
                            color: $nav_topper_ftColour;
                        }

                        &:focus, &:hover{
                            > a,
                            .nav_TLI{
                                color: $nav_topper_ftColour_hover;
                            }  
                        }
                    }
                        
                    > .nav_item_current{
                        &, &:focus, &:hover{
                            > a,
                            .nav_TLI{
                                color: $nav_topper_item_current_ftColour;
                            }  
                        }
                    }
                }
            }
        }
    }     
    
    @include afterTabletLandscape{
        > ul{
            > li{
                a,
                .nav_TLI{
                    font-family: $nav_ftFamily_ATL;

                    @if $googleFont_act == "on"{
                        font-weight: $nav_ftWeight_ATL;
                    }
                }                
            }
            
            .uk-active,
            .nav_item_current{
                a,
                .nav_TLI{
                    font-family: $nav_item_current_ftFamily_ATL;

                    @if $googleFont_act == "on"{
                        font-weight: $nav_item_current_ftWeight_ATL;
                    }
                }
            }
        }
            
        @if $nav_hasSub_act == "on"{
            .nav_subNav{                
                > li{                
                    a,
                    .nav_TLI{
                        font-family: $nav_item_subNav_ftFamily_ATL;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_item_subNav_ftWeight_ATL;
                        }
                    }                    
                }
                
                > .nav_item_current{
                    a,
                    .nav_TLI{
                        font-family: $nav_item_subNav_current_ftFamily_ATL;

                        @if $googleFont_act == "on"{
                            font-weight: $nav_item_subNav_current_ftWeight_ATL;
                        }
                    }                    
                }
            }
        }
    }    
    
    @include tabletAndTabletLandscapeOnly{
        .nav_main_ul{
            @if $nav_hasSub_act == "on"{
                .nav_subNav{
                    &.openSubTTLO{
                        display: $block;
                    }
                }
            }
            
            @if $nav_topper_act == "on"{
                &.nav_topper{
                    .nav_main_ul{
                        > li{
                            > a,
                            > .nav_TLI{                
                                &.openDR{
                                    color: $nav_topper_ftColour_hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include afterDesktop{
        @if $nav_hasSub_act == "on"{
            .nav_item_hasSubNav{
                &:focus, &:hover{
                    ul{
                        &,
                        &.openDR,
                        &.openSubTTLO{
                            display: $block;
                        }
                    }
                }
            }
        }
    }
}