/* =============================================================================
   Font Settings | Etc [settingsText.scss]
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, dd, dt, a, li, button, label, input, select, textarea, blockquote, table{
    font-family: $fontStack_map;
    font-weight: $fontWeight_global;
    font-size: $fontSize_global;
    line-height: $lineHeight_global;
}
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, dd, dt, li, button, label, input, select, textarea, blockquote, table{
    color: $fontColour_main_global;
}
/*
input::input-placeholder, textarea::input-placeholder{
    color: $formPlaceholder_fontColour}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: $formPlaceholder_fontColour}
input::-moz-placeholder, textarea::-moz-placeholder{
    color: $formPlaceholder_fontColour}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color: $formPlaceholder_fontColour}
input:-moz-placeholder, textarea:-moz-placeholder{
    color: $formPlaceholder_fontColour}

input::-moz-placeholder, textarea::-moz-placeholder{
  opacity: 1}

input:focus::input-placeholder, textarea:focus::input-placeholder{
    color: $fontColour_main_global}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
    color: $fontColour_main_global}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{
    color: $fontColour_main_global}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{
    color: $fontColour_main_global}
input:-moz-placeholder, textarea:-moz-placeholder{
    color: $fontColour_main_global}
*/
h1, h2, h3, h4, h5, h6, p, li, dfn, button, blockquote, dfn, button, blockquote{
    a{
        font-family: inherit;
        font-weight: inherit;
    }
}
h1, h2, h3, h4, h5, h6{
    margin: $headings_marginTRBL_global;
}
p, a, li, dd, dt, .pSize{
    @include beforeTablet{
        font-size: $fontSize_paragraph_BT;
    }
    @include afterTablet{
        font-size: $fontSize_paragraph_AT;
    }
    @include afterTabletLandscape{
        font-size: $fontSize_paragraph_ATL;
    }
}
p, dl, legend{
    margin: $text_marginTRBL_global;
}
p, ul{
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6{
        margin: $headings_marginTRBL_sibling;    
    }    
    & + p,
    & + ul{
        margin: $text_marginTRBL_sibling;    
    }
}
p, li{    
    b{
        font-family: $fontFamily_bold_global;
    }
    p, li, a, strong, dl, legend{
        font-size: 1em;
    }     
    @if $anchorUnderline == "on"{
        &:focus, &:hover{
            a{
                text-decoration: underline;
            }
        }        
        &.noUnderline{
            &:focus, &:hover{
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
a{
    transition: background-color 0.7s, color 1s, text-shadow 1s;    
    &, &:active, &:visited{
        color: $fontColour_anchor_global;
    }
    &:focus, &:hover{
        color: $fontColour_anchor_global_hover;
    }
}

/* // Font Families and Headings Values ------------------------------------- */
@include fontFamilyCustomClassesGenerator;
@include fontFamilyWeightsGenerator;

@include beforeTablet{
    @include fontCustomHeadingsSizesGeneratorMobile; 
}
@include afterTablet{
    @include fontCustomHeadingsSizesGeneratorTablet;   
}
@include afterDesktop{
    @include fontCustomHeadingsSizesGeneratorDesktop;
}

/* // Colour classes -------------------------------------------------------- */
.white{
    &, b, strong, i, em{
        color: $white;
    }
}
a.white{
    &, &:active, &:visited, &:focus, &:hover{
        color: $white;
    }
    &:focus, &:hover{
        text-shadow: $text_shadow_whiteText_hover;
    }
    &.noHover{
        &:focus, &:hover{        
            text-shadow: 0 0 0 transparent;
        }
    }
}
@include colourLightClassesGenerator($colours_map_light_darkenValue);
@include colourDarkClassesGenerator($colours_map_dark_lightenValue);
@include anchorColoursLightClassesGenerator($anchor_fontColours_map_light_darkenValue);
@include anchorColoursDarkClassesGenerator($anchor_fontColours_map_dark_lightenValue);
@include colourCustomHoverClassesGenerator;