/* =============================================================================
   Modal y Popup Styles | Etc
   ========================================================================== */
.modalBG{
    @include opacityCustom($modalOpacity);
    @include posTRBL();
    position: fixed;
    z-index: $zIndexModalBG;
    background-color: $bgBlack;
}
:root{
    .modal, .modalBG{
        filter: none \0/IE9;
    }
}

.popup{
    z-index: $zIndexPopup;
    left: 50%;
    
    .close{
        z-index: $zIndexPopupClose;
    }
}