/* * NombreDeProyecto * ========================================================
   Container Settings | Etc [/etc/css/scss/settings_container.scss]
   ========================================================================== */

@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.

// REF [38*] ContainerMAX width
// En la variable `$containerMAX_value` del archivo
// `[/etc/css/custom/var/container_sizes_var.scss]` se declara el ancho maximo
// de container a partir del cual deja de crecer en ancho
//
// Minimo 1100 / 1200 / 1300 / 1400 / Maximo 1500
//
// Este valor luego se evalua para imprmir el mixin `containerMAX_settings`
// que se encuentra en `[/etc/css/scss/mixins_container.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



.container,
.containerB500,
.containerA500,
.container500O,

.containerB600,
.containerA600,

.containerB650,
.containerA650,

.containerB768,
.containerA768,
.containerA768B1024,

.containerB1024,
.containerA1024,
.containerA1024B1200,

.containerB1200,
.containerA1200,

.containerA1300,

.containerA1400,

.containerA1500,

.containerA1600{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;   
}

.container{
    @include beforeMQ350{
        width: $container_value_B350;
        max-width: $container_value_max_B350;
    }
    @include afterMQ350{
        width: $container_value_A350;
    }   
    @if $classes_container_act_B500 == "on"{
        @include beforeMQ500{
            width: $container_value_B500;
        }
    }
    @include afterMQ500{
        width: $container_value_A500;
    }
    @if $classes_container_act_B600 == "on"{
        @include beforeMQ600{
            width: $container_value_B600;
        }
    }
    @if $classes_container_act_A600 == "on"{
        @include afterMQ600{
            width: $container_value_A600;
        }
    }
    @if $classes_container_act_B650 == "on"{
        @include beforeMQ650{
            width: $container_value_B650;
        }
    }
    @if $classes_container_act_A650 == "on"{
        @include afterMQ650{
            width: $container_value_A650;
        }
    }
    @include afterMQ768{
        width: calc(100% - #{$container_max_width_PH});
        max-width: $container_value_max_A768;
    }
    @include afterMQ850{
        max-width: $container_value_max_A850;
    }
    @include afterMQ900{
        max-width: $container_value_max_A900;
    }
    @include afterMQ1024{
        max-width: $container_value_max_A1024;
    }
    @include afterMQ1100{
        max-width: $container_value_max_A1100;
    }
    @if $containerMAX_value < 1101{
        @include afterMQ1100{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
    @include afterMQ1200{
        max-width: $container_value_max_A1200;
    }
    @if $containerMAX_value > 1101 and $containerMAX_value < 1201{
        @include afterMQ1200{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
    @include afterMQ1300{
        max-width: $container_value_max_A1300;
    }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
    @include afterMQ1400{
        max-width: $container_value_max_A1400;
    }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
    @include afterMQ1500{
        max-width: $container_value_max_A1500;
    }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
    @include afterMQ1600{
        max-width: $container_value_max_A1600;
    }
    &.container_centered_absolute{
        @include beforeMQ350{
            position: absolute;
            left: 50%;   
            width: $container_value_centeredAbsolute_B350;
            max-width: $none;
            margin-left: $container_value_centeredAbsolute_half_negative_B350;
        }
        @include afterMQ350{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_A350;
        }
        @include afterMQ500{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_A500;
        }
        @include afterMQ600{
            margin-left: $container_value_half_negative_A600;
        }
        @include afterMQ650{
            margin-left: $container_value_half_negative_A650;
        }
        @include afterMQ768{
            width: $container_value_max_A768;
            margin-left: $container_value_max_half_negative_A768;
        }
        @include afterMQ850{
            width: $container_value_max_A850;
            margin-left: $container_value_max_half_negative_A850;
        }
        @include afterMQ900{
            width: $container_value_max_A900;
            margin-left: $container_value_max_half_negative_A900;
        }
        @include afterMQ1024{
            width: $container_value_max_A1024;
            margin-left: $container_value_max_half_negative_A1024;
        }
        @include afterMQ1100{
            width: $container_value_max_A1100;
            margin-left: $container_value_max_half_negative_A1100;
        }
        @include afterMQ1200{
            width: $container_value_max_A1200;
            margin-left: $container_value_max_half_negative_A1200;
        }
        @include afterMQ1300{
            width: $container_value_max_A1300;
            margin-left: $container_value_max_half_negative_A1300;
        }
        @include afterMQ1400{
            width: $container_value_max_A1400;
            margin-left: $container_value_max_half_negative_A1400;
        }
        @include afterMQ1500{
            width: $container_value_max_A1500;
            margin-left: $container_value_max_half_negative_A1500;
        }
        @include afterMQ1600{
            width: $container_value_max_A1600;
            margin-left: $container_value_max_half_negative_A1600;
        }
    }
    @if $classes_container_act_B500 == "on"{
        &.container_centered_absolute_B500{    
            @include beforeMQ500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B500;
            }
        }
    }
    @if $classes_container_act_A500 == "on"{
        &.container_centered_absolute_A500{
            @include afterMQ500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A500;
            }
            @include afterMQ600{
                margin-left: $container_value_half_negative_A600;
            }
            @include afterMQ650{
                margin-left: $container_value_half_negative_A650;
            }
            @include afterMQ768{
                width: $container_value_max_A768;
                margin-left: $container_value_max_half_negative_A768;
            }
            @include afterMQ850{
                width: $container_value_max_A850;
                margin-left: $container_value_max_half_negative_A850;
            }
            @include afterMQ900{
                width: $container_value_max_A900;
                margin-left: $container_value_max_half_negative_A900;
            }
            @include afterMQ1024{
                width: $container_value_max_A1024;
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ1100{
                width: $container_value_max_A1100;
                margin-left: $container_value_max_half_negative_A1100;
            }
            @include afterMQ1200{
                width: $container_value_max_A1200;
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{
                width: $container_value_max_A1300;
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                width: $container_value_max_A1400;
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_B600 == "on"{
        &.container_centered_absolute_B600{
            @include beforeMQ600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B600;
            }
        }
    }
    @if $classes_container_act_A600 == "on"{
        &.container_centered_absolute_A600{
            @include afterMQ600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A600;
            }
            @include afterMQ650{
                width: $container_value_A650;
                margin-left: $container_value_half_negative_A650;
            }
            @include afterMQ768{
                width: $container_value_max_A768;
                margin-left: $container_value_max_half_negative_A768;
            }
            @include afterMQ850{
                width: $container_value_max_A850;
                margin-left: $container_value_max_half_negative_A850;
            }
            @include afterMQ900{
                width: $container_value_max_A900;
                margin-left: $container_value_max_half_negative_A900;
            }
            @include afterMQ1024{
                width: $container_value_max_A1024;
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ1100{
                width: $container_value_max_A1100;
                margin-left: $container_value_max_half_negative_A1100;
            }
            @include afterMQ1200{
                width: $container_value_max_A1200;
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{
                width: $container_value_max_A1300;
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                width: $container_value_max_A1400;
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }    
    @if $classes_container_act_B650 == "on"{
        &.container_centered_absolute_B650{
            @include beforeMQ650{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B650;
            }
        }
    }    
    @if $classes_container_act_A768 == "on"{
        &.container_centered_absolute_A768{
            @include afterMQ768{
                position: absolute;
                left: 50%;   
                width: $container_value_max_A768;
                margin-left: $container_value_max_half_negative_A768;
            }
            @include afterMQ850{
                width: $container_value_max_A850;
                margin-left: $container_value_max_half_negative_A850;
            }
            @include afterMQ900{
                width: $container_value_max_A900;
                margin-left: $container_value_max_half_negative_A900;
            }
            @include afterMQ1024{
                width: $container_value_max_A1024;
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ1100{
                width: $container_value_max_A1100;
                margin-left: $container_value_max_half_negative_A1100;
            }
            @include afterMQ1200{
                width: $container_value_max_A1200;
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{
                width: $container_value_max_A1300;
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                width: $container_value_max_A1400;
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1024 == "on"{
        &.container_centered_absolute_A1024{
            @include afterMQ1024{
                position: absolute;
                left: 50%;   
                width: $container_value_max_A1024;
                margin-left: $container_value_max_half_negative_A1024;
            }
            @include afterMQ1100{
                width: $container_value_max_A1100;
                margin-left: $container_value_max_half_negative_A1100;
            }
            @include afterMQ1200{
                width: $container_value_max_A1200;
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{
                width: $container_value_max_A1300;
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                width: $container_value_max_A1400;
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1200 == "on"{
        &.container_centered_absolute_A1200{
            @include afterMQ1200{
                position: absolute;
                left: 50%;   
                width: $container_value_max_A1200;
                margin-left: $container_value_max_half_negative_A1200;
            }
            @include afterMQ1300{
                width: $container_value_max_A1300;
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                width: $container_value_max_A1400;
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1300 == "on"{
        &.container_centered_absolute_A1300{
            @include afterMQ1300{
                position: absolute;
                left: 50%;   
                width: $container_value_max_A1300;
                margin-left: $container_value_max_half_negative_A1300;
            }
            @include afterMQ1400{
                width: $container_value_max_A1400;
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1400 == "on"{
        &.container_centered_absolute_A1400{
            @include afterMQ1400{
                position: absolute;
                left: 50%;   
                width: $container_value_max_A1400;
                margin-left: $container_value_max_half_negative_A1400;
            }
            @include afterMQ1500{
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1500 == "on"{
        &.container_centered_absolute_A1500{
            @include afterMQ1500{
                position: absolute;
                left: 50%;   
                width: $container_value_max_A1500;
                margin-left: $container_value_max_half_negative_A1500;
            }
            @include afterMQ1600{
                width: $container_value_max_A1600;
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
    @if $classes_container_act_A1600 == "on"{
        &.container_centered_absolute_A1600{
            @include afterMQ1600{
                position: absolute;
                width: $container_value_max_A1600;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}

@if $classes_container_act_B500 == "on"{
    .containerB500{
        @include beforeMQ500{
            width: $container_value_B500;            
            &.container_centered_absolute_B500{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B500;
            }
        }
    }
}
@if $classes_container_act_A500 == "on"{
    .containerA500{
        @include afterMQ500{
            width: $container_value_A500;
            &.container_centered_absolute_A500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A500;
            }
        }
        @include afterMQ600{
            width: $container_value_A600;
            &.container_centered_absolute_A600{
                margin-left: $container_value_half_negative_A600;
            }
        }
        @include afterMQ650{
            width: $container_value_A650;
            &.container_centered_absolute_A650{
                margin-left: $container_value_half_negative_A650;
            }
        }
        @include afterMQ768{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A768;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A768;
            }
        }
        @include afterMQ850{
            max-width: $container_value_max_A850;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A850;
            }
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A900;
            }
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1100{
            max-width: $container_value_max_A1100;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1100;
            }
        }
    @if $containerMAX_value < 1101{
        @include afterMQ1100{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
    @if $containerMAX_value > 1101 and $containerMAX_value < 1201{
        @include afterMQ1200{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;  
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;         
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_500O == "on"{
    .container500O{
        @include MQ500_768{
            width: $container_value_A500;
        }
    }
}
@if $classes_container_act_B600 == "on"{
    .containerB600{
        @include beforeMQ500{
            width: $container_value_B600;
        }
        @media (min-width: 500px) and (max-width: 600px){
            width: $container_value_B600;            
            &.container_centered_absolute_B600{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B600;
            }
        }
    }
}
@if $classes_container_act_A600 == "on"{
    .containerA600{
        @include afterMQ600{
            width: $container_value_A600;            
            &.container_centered_absolute_A600{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A600;
            }
        }
        @include afterMQ650{
            width: $container_value_A650;            
            &.container_centered_absolute_A650{
                margin-left: $container_value_half_negative_A650;
            }
        }
        @include afterMQ768{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A768;
            &.container_centered_absolute_A600{ 
                margin-left: $container_value_max_half_negative_A768;        
            }
        }
        @include afterMQ850{
            width: $container_value_max_A850;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A850;
            }
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A900;        
            }
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A600{        
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1100{
            max-width: $container_value_max_A1100;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1100;
            }
        }
    @if $containerMAX_value < 1101{
        @include afterMQ1100{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
    @if $containerMAX_value > 1101 and $containerMAX_value < 1201{
        @include afterMQ1200{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A600{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A650 == "on"{
    .containerA650{
        @include afterMQ650{
            width: $container_value_A650;            
            &.container_centered_absolute_A650{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A650;
            }
        }
        @include afterMQ768{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A768;
            &.container_centered_absolute_A650{ 
                margin-left: $container_value_max_half_negative_A768;        
            }
        }
        @include afterMQ850{
            max-width: $container_value_max_A850;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A850;
            }
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A900;        
            }
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A650{        
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1100{
            max-width: $container_value_max_A1100;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A1100;
            }
        }
    @if $containerMAX_value < 1101{
        @include afterMQ1100{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
    @if $containerMAX_value > 1101 and $containerMAX_value < 1201{
        @include afterMQ1200{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A650{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_B650 == "on"{
    .containerB650{
        @include beforeMQ500{
            width: $container_value_B650;
        }
        @media (min-width: 500px) and (max-width: 650px){
            width: $container_value_B650;            
            &.container_centered_absolute_B650{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B650;
            }
        }
    }
}
@if $classes_container_act_B768 == "on"{
    .containerB768{
        @include beforeMQ350{
            max-width: $container_value_max_B350;
        }
        @media (min-width: 351px) and (max-width: 500px){
            width: $container_value_A350;
        }  
        @media (min-width: 501px) and (max-width: 600px){
            width: $container_value_A500;
        }
        @media (min-width: 601px) and (max-width: 650px){
            width: $container_value_A600;
        }
        @media (min-width: 651px) and (max-width: 767px){
            width: $container_value_A650;
        }
    }
}
@if $classes_container_act_A768 == "on"{
    .containerA768{
        @include afterMQ768{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A768;
            &.container_centered_absolute_A768{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A768;        
            }
        }
        @include afterMQ850{
            width: $container_value_max_A850;
            &.container_centered_absolute_A500{
                margin-left: $container_value_max_half_negative_A850;
            }
        }
        @include afterMQ900{
            max-width: $container_value_max_A900;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A900;        
            }
        }
        @include afterMQ1024{
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A768{        
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1100{
            max-width: $container_value_max_A1100;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1100;
            }
        }
    @if $containerMAX_value < 1101{
        @include afterMQ1100{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
    @if $containerMAX_value > 1101 and $containerMAX_value < 1201{
        @include afterMQ1200{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A768{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A768B1024 == "on"{
    .containerA768B1024{
        @include MQ768_1024{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A768;
        }
    }
}
@if $classes_container_act_B1024 == "on"{
    .containerB1024{
        @include beforeMQ350{
            max-width: $container_value_max_B350;
        } 
        @media (min-width: 351px) and (max-width: 500px){
            width: $container_value_A350;
        }  
        @media (min-width: 501px) and (max-width: 600px){
            width: $container_value_A500;
        }
        @media (min-width: 601px) and (max-width: 650px){
            width: $container_value_A600;
        }
        @media (min-width: 651px) and (max-width: 767px){
            width: $container_value_A650;
        }
        @include MQ768_1024{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A768;
        }
    }
}
@if $classes_container_act_A1024 == "on"{
    .containerA1024{
        @include afterMQ1024{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A1024;
            &.container_centered_absolute_A1024{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1024;
            }
        }
        @include afterMQ1100{
            max-width: $container_value_max_A1100;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1100;
            }
        }
    @if $containerMAX_value < 1101{
        @include afterMQ1100{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1200{
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
    @if $containerMAX_value > 1101 and $containerMAX_value < 1201{
        @include afterMQ1200{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1024{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1024B1200 == "on"{
    .containerA1024B1200{    
        @include MQ1024_1200{
            max-width: $container_value_max_A1024;
        }
    }
}
@if $classes_container_act_B1200 == "on"{
    .containerB1200{
        @include beforeMQ350{
            max-width: $container_value_max_B350;
        }
        @media (min-width: 351px) and (max-width: 500px){
            width: $container_value_A350;
        }  
        @media (min-width: 501px) and (max-width: 600px){
            width: $container_value_A500;
        }
        @media (min-width: 601px) and (max-width: 650px){
            width: $container_value_A600;
        }
        @media (min-width: 651px) and (max-width: 767px){
            width: $container_value_A650;
        }
        @media (min-width: 768px) and (max-width: 850px){
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A768;
        }
        @media (min-width: 851px) and (max-width: 900px){
            max-width: $container_value_max_A850;
        }
        @media (min-width: 901px) and (max-width: 1023px){
            max-width: $container_value_max_A900;
        }
        @media (min-width: 1024px) and (max-width: 1100px){
            max-width: $container_value_max_A1024;
        }
        @media (min-width: 1101px) and (max-width: 1200px){
            max-width: $container_value_max_A1100;
        }
    }
}
@if $classes_container_act_A1200 == "on"{
    .containerA1200{
        @include afterMQ1200{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A1200;
            &.container_centered_absolute_A1200{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1200;
            }
        }
    @if $containerMAX_value > 1101 and $containerMAX_value < 1201{
        @include afterMQ1200{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1300{
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1200{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1300 == "on"{
    .containerA1300{
        @include afterMQ1300{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A1300;
            &.container_centered_absolute_A1300{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1300;
            }
        }
    @if $containerMAX_value > 1201 and $containerMAX_value < 1301{
        @include afterMQ1300{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1400{
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1300{
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1300{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1300{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1400 == "on"{
    .containerA1400{
        @include afterMQ1400{
            width: calc(100% - #{$container_max_width_PH});
            max-width: $container_value_max_A1400;
            &.container_centered_absolute_A1400{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1400;
            }
        }
    @if $containerMAX_value > 1301 and $containerMAX_value < 1401{
        @include afterMQ1400{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1500{
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1400{
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1400{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1500 == "on"{
    .containerA1500{
        @include afterMQ1500{
            width: 100%;
            max-width: $container_value_max_A1500;
            &.container_centered_absolute_A1500{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1500;
            }
        }
    @if $containerMAX_value > 1401 and $containerMAX_value < 1501{
        @include afterMQ1500{
            // REF [38*] ContainerMAX width
            @include containerMAX_settings(); 
        }
    }
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1500{
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
@if $classes_container_act_A1600 == "on"{
    .containerA1600{
        @include afterMQ1600{
            max-width: $container_value_max_A1600;
            &.container_centered_absolute_A1600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_max_half_negative_A1600;
            }
        }
    }
}
    
/* // Hack para Windows Phone ----------------------------------------------- */
@media (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}