/* =============================================================================
   Form Settings | Etc [/etc/css/scss/settings_forms.scss]
   ========================================================================== */
form, fieldset, label, input, select, textarea, button,
.form_label_name, .form_label_msg_error{
    .mobileForm &{
        @include beforeTablet{
            clear: both!important;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            clear: both!important;
            float: $none;
            margin-right: $auto;
            margin-left: $auto;
        }
    }
}

fieldset, label, input, select, textarea, button,
.form_msg_mandatory, .form_status, .form_label_name, .form_label_msg_error{
    .mobileForm &{
        @include beforeTablet{
            width: $form_label_width_BT;
        }
        
        @include mobileOnly{
            width: $form_label_width_MO;           
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            width: $form_label_width_TO;
        }
    }
    
    @include afterTabletLandscape{
        form &{
            width: $form_label_width_ATL;
        }
    }
    
    @include afterDesktop{
        form &{
            width: $form_label_width_AD;
        }
    }
}

fieldset, label, button,
.form_msg_mandatory, .form_status, .form_label_name, .form_label_msg_error{
    @include beforeTablet{
        .mobileForm &{
            font-size: $form_ftSize_BT;
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            font-size: $form_ftSize_AT;
        }
    }
    
    @include afterTabletLandscape{
        form &{
            font-size: $form_ftSize_ATL;
        }
    }
}

input, select, textarea{
    caret-color: $form_input_caret_colour;
    
    .mobileForm &{
        @include beforeTablet{
            font-size: $form_input_ftSize_BT;
        }
    }
    
    @include tabletOnly{
        .tabletForm &{
            font-size: $form_input_ftSize_AT;
        }
    }
    
    @include afterTabletLandscape{
        form &{
            font-size: $form_input_ftSize_ATL;
        }
    }
}

/* // Form Submit  ---------------------------------------------------------- */
input[type="reset"],
input[type="submit"],
input[type="button"],
form button{
    .mobileForm &{
        @include mobileOnly{
            width: $button_form_submit_width_MO!important;
        }

        @include mobileLandscapeOnly{
            width: $button_form_submit_width_MLO;   
        }

        @include beforeTablet{
            height: $button_form_submit_height_BT;
            line-height: $button_form_submit_lineHeight_BT;
        }
    }
    
    .tabletForm &{
        @include tabletOnly{
            width: $button_form_submit_width_TO;
            height: $button_form_submit_height_TO;
            line-height: $button_form_submit_lineHeight_TO;
        }  
    }

    @include afterTabletLandscape{
        form &{
            width: $button_form_submit_width_ATL;
            height: $button_form_submit_height_ATL;
            line-height: $button_form_submit_lineHeight_ATL;
        }
    }

    @include afterDesktop{
        form &{
            width: $button_form_submit_width_AD;
            height: $button_form_submit_height_AD;
            line-height: $button_form_submit_lineHeight_AD;
        }
    }
    
    & + &{
        margin-top: $helpers_spacing_PM_large;
    }
}

/* // Form Input ------------------------------------------------------------ */
form{
    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="time"],
    input[type="date"],
    input[type="month"],
    select,
    textarea,
    input[type="text"]:-webkit-autofill,
    input[type="email"]:-webkit-autofill,
    input[type="search"]:-webkit-autofill,
    input[type="tel"]:-webkit-autofill,
    input[type="url"]:-webkit-autofill,
    input[type="number"]:-webkit-autofill,
    input[type="time"]:-webkit-autofill,
    input[type="date"]:-webkit-autofill,
    input[type="month"]:-webkit-autofill,
    input[type="text"]:-webkit-autofill:hover,
    input[type="email"]:-webkit-autofill:hover,
    input[type="search"]:-webkit-autofill:hover,
    input[type="tel"]:-webkit-autofill:hover,
    input[type="url"]:-webkit-autofill:hover,
    input[type="number"]:-webkit-autofill:hover,
    input[type="time"]:-webkit-autofill:hover,
    input[type="date"]:-webkit-autofill:hover,
    input[type="month"]:-webkit-autofill:hover,
    input[type="text"]:-webkit-autofill:focus,
    input[type="email"]:-webkit-autofill:focus,
    input[type="search"]:-webkit-autofill:focus,
    input[type="tel"]:-webkit-autofill:focus,
    input[type="url"]:-webkit-autofill:focus,
    input[type="number"]:-webkit-autofill:focus,
    input[type="time"]:-webkit-autofill:focus,
    input[type="date"]:-webkit-autofill:focus,
    input[type="month"]:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus{
        -webkit-text-fill-color: $form_input_ftColour_autofill;
        -webkit-box-shadow: 0 0 0 0 #fff inset;
    }
    
    &, fieldset, legend, button, input, select, textarea{
        margin: 0;
        padding: 0;
    }
    
    &, label{
        position: relative;
    }
    
    fieldset{
        &, legend{
            border: $none;
        } 
        
        legend{
            white-space: normal;/* Corrects text not wrapping in Firefox 3. */
            *margin-left: -7px;/* Corrects alignment displayed oddly in IE 6/7. */
        }
    }
    
    label{
        @include transition(1s);
        color: $form_label_ftColour;
        font-weight: 400!important;

        &:focus, &:hover{
            color: $form_label_ftColour_hover;
        }
    }
        
    button, input, select, textarea{
        font-size: 100%;/* Corrects font size not being inherited in all browsers. */
        vertical-align: baseline;/* Improves appearance and consistency in all browsers. */
        *vertical-align: middle;/* Improves appearance and consistency in all browsers. */
    }
    
    @media screen and (-webkit-min-device-pixel-ratio: 0) {/* chrome */
        button, input, select, option, textarea{
            &:focus, &:active{
                outline: 1px dotted #999;            
            }
        }
    }
    
    input, select, textarea{
        @include borderStyle($form_input_bdColour);
        transition: all 1s ease, background-position 0s ease;
        background-color: $form_input_bgColour;
        color: $form_input_ftColour;
        font-family: $form_input_ftFamily; 

        @if $googleFont_act == "on"{
            font-weight: $form_input_ftWeight;
        }
        
        &:focus{
            box-shadow: $form_input_shadowInset;
        }

        &:focus, &:hover{
            background-color: $form_input_bgColour_hover;
            border-color: $form_input_bdColour_hover;
            color: $form_input_ftColour_hover;
        }  
        
        &, &::before, &::after{
            box-sizing: border-box;
        }
    }
    
    input{    
        &[type="search"]{
            -webkit-appearance: textfield;
        }

        &[type="checkbox"],
        &[type="radio"]{
            width: $auto;
        }

        &[type="submit"]{
            -webkit-appearance: none;
        }
    }
    
/* // Form Submit  ---------------------------------------------------------- */
    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    button{
        @include transition(0.7s);
        background-color: $button_form_submit_bgColour;
        color: $button_form_submit_ftColour;

        @if $googleFont_act == "on"{
            font-weight: $button_form_submit_ftWeight;
        }

        &:focus, &:hover{
            background-color: $button_form_submit_bgColour_hover;
            border-color: $button_form_submit_bdColour_hover;
            color: $button_form_submit_ftColour_hover;
            box-shadow: inset 0 0 0 $button_form_submit_bgColour_hover;
        }
        
        &.white{
            @include transition(1s);
            &, &:focus, &:hover{
                color: $white;
            }
            &:focus, &:hover{
                text-shadow: $txShadow_white_hover;
            }
        }    
    }
    
    button{
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: antialiased;
    }
    
    button::focus-inner{
        margin: 0;
        border: $none;
        padding: 0;
    }
    
    input::focus-inner{
        margin: 0;
        border: $none;
        padding: 0;
    }
    
    textarea{
        padding: $helpers_spacing_PM_medium;
        vertical-align: top;
        resize: vertical;
    }
    
    .mobileForm &{
        @include mobileOnly{
            width: $form_width_MO;            
        }
        
        @include afterMobileLandscape{
            width: $form_width_A500;
        }
        
        @include mobile600Only{
            width: $form_width_600Only;
        }
    } 
    
    .tabletForm &{
        @include afterTablet{
            width: $form_width_AT;
        }
        
        @include tabletOnly{
            width: $form_width_TO;
        }
    
        @include afterTabletLandscape{
            width: $form_width_ATL!important;
        }
    }
    
    @include afterTabletLandscape{
        width: $form_width_ATL!important;
    }
    
    @include afterDesktop{
        width: $form_width_AD;
    }
    
    @if $form_label_inside_act == "off"{
        label, legend{
            display: block\0/!important; /* IE8 + IE9 */
            padding-left: 7px;
            margin-bottom: $zero;
            font-family: $form_label_ftFamily;

            @if $googleFont_act == "on"{
                font-weight: $form_label_ftWeight;
            }

            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($form_label_height_BT);
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($form_label_height_TO);          
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($form_label_height_ATL);
            }

            @include afterDesktop{
                @include equalHeightAndLineHeight($form_label_height_AD);
            }
        }

        @media all and (-ms-high-contrast:none){
            label {/* IE10 */
                display: $block;
            }

            *::-ms-backdrop, label {/* IE11 */
                display: $block;
            }
        }

        input, select{
            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($form_input_height_BT);
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($form_input_height_TO);          
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($form_input_height_ATL);
            }

            @include afterDesktop{
                @include equalHeightAndLineHeight($form_input_height_AD);
            }
        }

        input, select, textarea{
            @include beforeTablet{
                .mobileForm &{
                    margin-bottom: $helpers_spacing_PM_large;
                }
            }

            @include tabletOnly{
                .tabletForm &{
                    margin-bottom: $helpers_spacing_PM_large;       
                }
            }

            @include afterTabletLandscape{
                margin-bottom: $helpers_spacing_PM_medium;
            }
        }
    }
    
    @if $form_label_inside_act == "on"{
        fieldset, label{
            @include clearfix;
        }
    
        fieldset span, input, select{
            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($form_input_height_BT);
                }        
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($form_input_height_TO);
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($form_input_height_ATL);
            }

            @include afterDesktop{
                height: $form_input_height_AD;  
            }
        }
        
        .form_label_name{
            @include beforeTablet{
                .mobileForm &{
                    @include equalHeightAndLineHeight($form_label_height_BT);
                }        
            }

            @include tabletOnly{
                .tabletForm &{
                    @include equalHeightAndLineHeight($form_label_height_TO);
                }
            }

            @include afterTabletLandscape{
                @include equalHeightAndLineHeight($form_label_height_ATL);
            }

            @include afterDesktop{
                height: $form_label_height_AD; 
            }
        }
    }
}