/* =============================================================================
   Modal y Popups Settings | Etc [settingsModalPopups.scss]
   ========================================================================== */
.modalBG,
.modal_nav{
    @include posTRBL();
    position: fixed;
    z-index: $zIndex_modal_bg;
}

.modalBG{
    @include opacityCustom($modal_opacity_global);
    background-color: $modal_bgColour_global;
}

.modal_nav{
    @include opacityCustom($modal_opacity_nav);  
    display: none; 
    background-color: $modal_bgColour_nav;  
    
    @include afterTablet{
        display: $none;
    }
}

.pop_main{
    z-index: $zIndex_modal_pop_main;
    
    .pop_close{
        z-index: $zIndex_button_topLevel;
    }
}