/* * NombreDeProyecto * ========================================================
   Container Settings | Etc [/etc/css/scss/settings_container.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



.container,
.containerMO,
.containerAML,
.containerMLO,
.containerB600,
.containerA600,
.containerBT,
.containerAT,
.containerTO,
.containerBTL,
.containerATL,
.containerTLO,
.containerBD,
.containerAD,
.containerADL{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;   
}

.container{
    @include beforeMobile350{
        width: $container_value_B350;
    }
    @include afterMobile350{
        width: $container_value_A350;
    }   
    @if $classes_container_act_B600 == "on"{
        @include mobileOnly{
            width: $container_value_MO;
        }
    }
    @include afterMobileLandscape{
        width: $container_value_ML;
    }
    @if $classes_container_act_B600 == "on"{
        @include beforeMobile600{
            width: $container_value_B600;
        }
    }
    @if $classes_container_act_A600 == "on"{
        @include afterMobile600{
            width: $container_value_A600;
        }
    }
    @include afterTablet{
        width: $container_value_T;
    }
    @include afterMobile900{
        width: $container_value_A900;
    }
    @include afterTabletLandscape{
        width: $container_value_TL;
    }
    @include afterDesktop{
        width: $container_value_D;
    }
    @include afterDesktopLarge{
        width: $container_value_DL;
    }
    &.container_centered_absolute{
        @include beforeMobile350{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_B350;
        }
        @include afterMobile350{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_A350;
        }
        @include afterMobileLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_ML;
        }
        @include afterMobile600{
            margin-left: $container_value_half_negative_A600;
        }
        @include afterTablet{
            margin-left: $container_value_half_negative_T;
        }
        @include afterMobile900{
            margin-left: $container_value_half_negative_A900;
        }
        @include afterTabletLandscape{
            margin-left: $container_value_half_negative_TL;
        }
        @include afterDesktop{
            margin-left: $container_value_half_negative_D;
        }
        @include afterDesktopLarge{
            margin-left: $container_value_half_negative_DL;
        }
    }
    @if $classes_container_act_MO == "on"{
        &.container_centered_absoluteMO{    
            @include mobileOnly{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_MO;
            }
        }
    }
    @if $classes_container_act_AML == "on"{
        &.container_centered_absoluteAML{
            @include afterMobileLandscape{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_ML;
            }
            @include afterMobile600{
                margin-left: $container_value_half_negative_A600;
            }
            @include afterTablet{
                margin-left: $container_value_half_negative_T;
            }
            @include afterMobile900{
                margin-left: $container_value_half_negative_A900;
            }
            @include afterTabletLandscape{
                margin-left: $container_value_half_negative_TL;
            }
            @include afterDesktop{  
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_B600 == "on"{
        &.container_centered_absoluteB600{
            @include beforeMobile600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B600;
            }
        }
    }
    @if $classes_container_act_A600 == "on"{
        &.container_centered_absoluteA600{
            @include afterMobile600{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A600;
            }
            @include afterTablet{
                margin-left: $container_value_half_negative_T;
            }
            @include afterMobile900{
                margin-left: $container_value_half_negative_A900;
            }
            @include afterTabletLandscape{
                margin-left: $container_value_half_negative_TL;
            }
            @include afterDesktop{
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_AT == "on"{
        &.container_centered_absoluteAT{
            @include afterTablet{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_T;
            }
            @include afterTabletLandscape{
                margin-left: $container_value_half_negative_TL;
            }
            @include afterMobile900{
                margin-left: $container_value_half_negative_A900;
            }
            @include afterDesktop{
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_ATL == "on"{
        &.container_centered_absoluteATL{
            @include afterTabletLandscape{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_TL;
            }
            @include afterDesktop{  
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_AD == "on"{
        &.container_centered_absoluteAD{
            @include afterDesktop{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_ADL == "on"{
        &.container_centered_absoluteADL{
            @include afterDesktopLarge{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
}

@if $classes_container_act_MO == "on"{
    .containerMO{
        @include mobileOnly{
            width: $container_value_MO;            
            &.container_centered_absoluteMO{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_MO;
            }
        }
    }
}
@if $classes_container_act_AML == "on"{
    .containerAML{
        @include afterMobileLandscape{
            width: $container_value_ML;
            &.container_centered_absoluteAML{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_ML;
            }
        }
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }
        @include afterMobile600{
            width: $container_value_A600;
            &.container_centered_absoluteAML{
                margin-left: $container_value_half_negative_A600;
            }
        }
        @include afterTablet{
            width: $container_value_T;
            &.container_centered_absoluteAML{
                margin-left: $container_value_half_negative_T;
            }
        }
        @include afterMobile900{
            width: $container_value_A900;
            &.container_centered_absoluteAML{
                margin-left: $container_value_half_negative_A900;
            }
        }
        @include afterTabletLandscape{
            width: $container_value_TL;
            &.container_centered_absoluteAML{
                margin-left: $container_value_half_negative_TL;
            }
        }
        @include afterDesktop{
            width: $container_value_D;
            &.container_centered_absoluteAML{
                margin-left: $container_value_half_negative_D;
            }
        }
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.container_centered_absoluteAML{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
}
@if $classes_container_act_MLO == "on"{
    .containerMLO{
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }
    }
}
@if $classes_container_act_B600 == "on"{
    .containerB600{
        @include mobileOnly{
            width: $container_value_B600;
        }
        @media (min-width: 500px) and (max-width: 600px){
            width: $container_value_B600;            
            &.container_centered_absoluteB600{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_B600;
            }
        }
    }
}
@if $classes_container_act_A600 == "on"{
    .containerA600{
        @include afterMobile600{
            width: $container_value_A600;            
            &.container_centered_absoluteA600{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_A600;
            }
        }
        @include afterTablet{
            width: $container_value_T;
            &.container_centered_absoluteA600{ 
                margin-left: $container_value_half_negative_T;        
            }
        }
        @include afterMobile900{
            width: $container_value_A900;
            &.container_centered_absoluteA600{
                margin-left: $container_value_half_negative_A900;        
            }
        }
        @include afterTabletLandscape{
            width: $container_value_TL;
            &.container_centered_absoluteA600{        
                margin-left: $container_value_half_negative_TL;
            }
        }
        @include afterDesktop{
            width: $container_value_D;
            &.container_centered_absoluteA600{    
                margin-left: $container_value_half_negative_D;    
            }
        }
        @include afterDesktopLarge{ 
            width: $container_value_DL;
            &.container_centered_absoluteAT{       
                margin-left: $container_value_half_negative_DL; 
            }
        }
    }
}
@if $classes_container_act_BT == "on"{
    .containerBT{
        @include beforeMobile350{
            width: $container_value_B350;
        }
        @media (min-width: 351px) and (max-width: #{$mq_mobile_ancho_max}){
            width: $container_value_A350;
        }  
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }
    }
}
@if $classes_container_act_AT == "on"{
    .containerAT{
        @include afterTablet{
            width: $container_value_T;
            &.container_centered_absoluteAT{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_T;        
            }
        }
        @include afterMobile900{
            width: $container_value_A900;
            &.container_centered_absoluteAT{
                margin-left: $container_value_half_negative_A900;        
            }
        }
        @include afterTabletLandscape{
            width: $container_value_TL;
            &.container_centered_absoluteAT{        
                margin-left: $container_value_half_negative_TL;
            }
        }
        @include afterDesktop{
            width: $container_value_D;
            &.container_centered_absoluteAT{    
                margin-left: $container_value_half_negative_D;    
            }
        }
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.container_centered_absoluteAT{       
                margin-left: $container_value_half_negative_DL; 
            }
        }
    }
}
@if $classes_container_act_TO == "on"{
    .containerTO{
        @include tabletOnly{
            width: $container_value_T;
        }
    }
}
@if $classes_container_act_BTL == "on"{
    .containerBTL{
        @include beforeMobile350{
            width: $container_value_B350;
        }
        @include afterMobile350{
            width: $container_value_A350;
        }  
        @include afterMobileLandscape{
            width: $container_value_ML;
        }
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }
        @include tabletOnly{
            width: $container_value_T;
        }
    }
}
@if $classes_container_act_ATL == "on"{
    .containerATL{
        @include afterTabletLandscape{
            width: $container_value_TL;
            &.container_centered_absoluteATL{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_TL;
            }
        }
        @include afterDesktop{
            width: $container_value_D;
            &.container_centered_absoluteATL{
                margin-left: $container_value_half_negative_D;
            }
        }
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.container_centered_absoluteATL{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
}
@if $classes_container_act_TLO == "on"{
    .containerTLO{    
        @include tabletLandscapeOnly{
            width: $container_value_TL;
        }
    }
}
@if $classes_container_act_BD == "on"{
    .containerBD{
        @include beforeMobile350{
            width: $container_value_B350;
        }
        @include afterMobile350{
            width: $container_value_A350;
        }  
        @include afterMobileLandscape{
            width: $container_value_ML;
        }
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }
        @include afterTablet{
            width: $container_value_T;
        }
        @include afterMobile900{
            width: $container_value_A900;
        }
        @include afterTabletLandscape{
            width: $container_value_TL;
        }
    }
}
@if $classes_container_act_AD == "on"{
    .containerAD{
        @include afterDesktop{
            width: $container_value_D;
            &.container_centered_absoluteAD{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_D;
            }
        }
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.container_centered_absoluteAD{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
}
@if $classes_container_act_ADL == "on"{
    .containerADL{
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.container_centered_absoluteADL{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
}
    
/* // Hack para Windows Phone ----------------------------------------------- */
@media (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}