/* * NombreDeProyecto * ========================================================
   Tables Settings | Etc [/etc/css/scss/settingsTables.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



table{
    border-spacing: 0;
    border-collapse: collapse;
    @include beforeMQ768{
        width: $table_width_BT;
        @include tableCustomSizesBT;        
    }
    @include afterMQ768{
        width: $table_width_AT;
        @include tableCustomSizesAT;          
    }
    @include afterMQ1024{
        width: $table_width_A1024;
        @include tableCustomSizesATL;          
    }     
    th,
    td{
        font-weight: 400;
        vertical-align: middle;
    }
}

/* // Rounded Tables -------------------------------------------------------- */
.tableRounded{
    border-radius: $bdRadius_global;
    border-collapse: separate;
   
    tbody{
        @include borderRadiusT($helpers_border_radius_table);
        tr{
            &:first-child{
                @include borderRadiusT($helpers_border_radius_table);
            }            
            &:last-child{
                @include borderRadiusB($helpers_border_radius_table);
            }
            &:only-child{
                @include borderRadius($helpers_border_radius_table);
            }
        }
    }   
    tfoot{
        td{
            &:first-child{
                @include borderRadiusBL($helpers_border_radius_table);
            }
            &:last-child{
                @include borderRadiusBR($helpers_border_radius_table);
            }
        }  
    }  
    tr{      
        &:last-child{
            td{
                border-bottom: $zero;
            }
        }
    }
    
    @include beforeMQ768{
        tr{
            th, td{
                &:first-child{
                    @include borderRadiusT($helpers_border_radius_table);
                }
                &:last-child{
                    @include borderRadiusB($helpers_border_radius_table);
                }
            } 
        }
    }
    
    @include afterMQ768{
        tr{
            th{
                &:first-child{
                    @include borderRadiusTL($helpers_border_radius_table);
                }
                &:last-child{
                    @include borderRadiusTR($helpers_border_radius_table);
                }
            }
        }
    }
}


/* // Striped Tables -------------------------------------------------------- */
.tableStriped{
    thead, tfoot{
        tr{
            background-color: $table_bgColour_striped_thead;
        }
    }
    tbody{
        tr{
            background-color:$table_bgColour_striped_even;
            
            &:nth-child(odd){
                background-color: $table_bgColour_striped_odd;
            }
        }        
    }
}
@include beforeMQ768{
    table{
        width: $table_width_BT;
        
        thead,
        tfoot{
            display: none;
        }        
        tr,
        td{
            display: block;
        } 
        tr{
            margin-top: 0;
        }        
        td{
            position: relative;            
            &::before{
                content: attr(data-label);
                position: absolute;
            }
        }
    }    
    .tableRounded{
        tr{
            &:last-child{
                border-bottom: $none;
            }            
        }
        td{
            &:last-child{
                border-bottom: $none;
                padding-bottom: 5px;
            }            
        }
    }        
    .tableResponsiveCont{
        width: 98%;
        overflow-x: scroll;   
        
        .tableResponsive{
            position: relative;
            display: table;
        
            thead,
            tbody{
                display: table-row-group;
            }
            tfoot{
                display: none;
            }            
            td,
            th{
                display: table-cell;
            }            
            tr{
                display: table-row;
            }            
            td{
                &::before{
                    content: '';
                    float: none;                    
                }
            }
        }
        .tableStriped{
            tr{
                border: $none;                
            }
            td{
                background: $none;          
            }           
        }
    }
}