/* =============================================================================
   Modal y Popups Settings | Etc [/etc/css/scss/settings_popup.scss]
   ========================================================================== */
.modal_bg_global,
.modal_nav{
    @include positionTRBL();
    position: fixed;
    z-index: $zIndex_modal_bg;
}

.modal_bg_global{
    background-color: $black_rgba_80;
}

.modal_nav{
    @include opacityCustom($modal_opacity_nav);  
    display: none; 
    background-color: $modal_bgColour_nav;  
    
    @include afterTablet{
        display: $none;
    }
}

.pop_general{
    z-index: $zIndex_pop_general;
    
    .button_pop_close{
        position: absolute;
        z-index: $zIndex_button_topLevel;
        text-indent: -9999px;
    }
}