/* =============================================================================
   Container Styles | Etc
   ========================================================================== */
// Tablet ~720px
$containerTablet:          ($containerTabletValue + $grid-gutter-width);

// Tablet Landscape ~1000px
$containerTabletLandscape: ($containerTabletLandscapeValue + $grid-gutter-width);

// Laptop ~1000px
$containerLaptop:          ($containerLaptopValue + $grid-gutter-width);

// Desktop ~1200px 
$containerDesktop:         ($containerDesktopValue + $grid-gutter-width);

// Desktop Large ~1600px
$containerDesktopLarge:    ($containerDesktopLargeValue + $grid-gutter-width);

.container{
/*
    padding-left: floor(($grid-gutter-width / 2));
    padding-right: ceil(($grid-gutter-width / 2));
*/
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;
    
    @include mobileOnly{
        width: $containerMobileValue}
    @include afterMobileLandscape{
        width: $containerMobileLandscapeValue}
    @include afterTablet{
        width: $containerTablet}
    @include afterTabletLandscape{
        width: $containerTabletLandscape}
    @include afterLaptop{
        width: $containerLaptop}
    @include afterDesktop{
        width: $containerDesktop}
    @include afterDesktopLarge{
        width: $containerDesktopLarge}
    
    &.centerAbs{     
        @include mobileOnly{
            position: absolute;
            left: 50%;   
            margin-left: $cMHneg;
        }
        @include afterMobileLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cMLHneg;
        }
        @include afterTablet{
            position: absolute;
            left: 50%;   
            margin-left: $cTHneg;
        }
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsMO{    
        @include mobileOnly{
            position: absolute;
            left: 50%;   
            margin-left: $cMHneg;
        }
    }
    &.centerAbsAML{
        @include afterMobileLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cMLHneg;
        }
        @include afterTablet{
            position: absolute;
            left: 50%;   
            margin-left: $cTHneg;
        }
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsAT{
        @include afterTablet{
            position: absolute;
            left: 50%;   
            margin-left: $cTHneg;
        }
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsATL{
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsAL{
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsAD{
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsADL{
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
}
