/* =============================================================================
   Print Settings | Etc [settingsPrint.scss]
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: $transparent;
        color: $black!important; /* Black prints faster */
        box-shadow: $none;
        text-shadow: $none;
    } 
    
    a{
        /*
         * Don't show links that are fragment identifiers,
         * or use the `javascript:` pseudo protocol
         */

        &[href^="#"]:after,
        &[href^="javascript:"]:after {
            content: "";
        }
    }
    
    pre,
    blockquote {
        page-break-inside: avoid;
    }

    pre {
        white-space: pre-wrap !important;
    }
    
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
}
