/* =============================================================================
   Modal y Popups Settings | Etc [settingsModalPopups.scss]
   ========================================================================== */
.modalBG, .modalNav{
    @include posTRBL();
    position: fixed;
    z-index: $zIndexModalBG;
}

.modalBG{
    @include opacityCustom($modalOpacity);
    background-color: $bgBlack;
}

.modalNav{
    @include opacityCustom($modalNavOpacity);  
    display: none; 
    background-color: $bgModalNav;  
    
    @include afterTablet{
        display: $none;
    }
}

.popup{
    z-index: $zIndexPopup;
    left: 50%;
    
    .closePopup{
        z-index: $zIndexButtonOver;
    }
}