/* =============================================================================
   Container Styles | Etc
   ========================================================================== */
.container{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;
    
    @include mobileOnly{
        width: $containerMobileValue}
    @include afterMobileLandscape{
        width: $containerMobileLandscapeValue}
    @include afterTablet{
        width: $containerTabletValue}
    @include afterTabletLandscape{
        width: $containerTabletLandscapeValue}
    @include afterLaptop{
        width: $containerLaptopValue}
    @include afterDesktop{
        width: $containerDesktopValue}
    @include afterDesktopLarge{
        width: $containerDesktopLargeValue}
    
    &.centerAbs{     
        @include mobileOnly{
            position: absolute;
            left: 50%;   
            margin-left: $cMHneg;
        }
        @include afterMobileLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cMLHneg;
        }
        @include afterTablet{
            position: absolute;
            left: 50%;   
            margin-left: $cTHneg;
        }
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsMO{    
        @include mobileOnly{
            position: absolute;
            left: 50%;   
            margin-left: $cMHneg;
        }
    }
    &.centerAbsAML{
        @include afterMobileLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cMLHneg;
        }
        @include afterTablet{
            position: absolute;
            left: 50%;   
            margin-left: $cTHneg;
        }
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsAT{
        @include afterTablet{
            position: absolute;
            left: 50%;   
            margin-left: $cTHneg;
        }
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsATL{
        @include afterTabletLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsAL{
        @include afterLaptop{
            position: absolute;
            left: 50%;   
            margin-left: $cTLHneg;
        }
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsAD{
        @include afterDesktop{
            position: absolute;
            left: 50%;   
            margin-left: $cDHneg;
        }
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
    &.centerAbsADL{
        @include afterDesktopLarge{
            position: absolute;
            left: 50%;   
            margin-left: $cDLHneg;
        }
    }
}
