/* =============================================================================
   Nav Settings | Etc [settingsNav.scss]
   ========================================================================== */
nav{
    .topLevelItem,
    .current a{
        cursor: default;   
    }
    
    li{
        &:focus, &:hover{
            a{
                text-decoration: none;
            }
        }
    }
}

.navMain{
    z-index: $zIndexNav;
    
    li{         
        a, .topLevelItem{
            font-family: $navFontFamily;
        }
        
        &.current{
            a, .topLevelItem{
                font-family: $navCurrentFontFamily;
            }            
        }     
    }
    
    @if $navHasSub == "on"{    
        .subMenu{
            z-index: $zIndexNavSubMenu;
            margin-top: $zero;
            
            a{
                font-family: $navFontFamilySub;
            }
        }
    }
   
    @include beforeTablet{
        position: fixed; 
                
        .hamb{
            @include transition(1s);   
            box-sizing: border-box;
        }        
            
        @if $navDrawer == "on"{
            .navOpen{
                z-index: $zIndexNavOpen;  
                opacity: 1;
                background-image: url('/nuevo/img/nav_hamb.svg');
                background-repeat: no-repeat;
                color: $hamburgerFontColour;
                font-family: $hamburgerFontFamily;
                
                &.clicked{
                    opacity: 0.5;
                    color: $hamburgerFontColourClicked;
                } 
            }
        
            .navClose{ 
                @include borderRadius(50%);
                z-index: $zIndexNavClose;  
                display: none;            
                background-color: $bgWhite;
                background-image: url('/nuevo/img/nav_close.svg');
                background-repeat: no-repeat;
                background-position: center center; 
                
                &.clicked{
                    display: block;
                } 
            }
            
            ul{
                z-index: $zIndexNavUlDrawer;
                
                &, .subMenu{
                    @include transition(0.5s); 
                    top: 0;
                    bottom: 0;
                }                
            }

            > ul{
                box-sizing: border-box;
                position: fixed;
                left: calc(-1 * #{$navDrawerWidth});
                width: calc(#{$navDrawerWidth} - 5px);
                max-width: $navDrawerMaxWidth;
                background-color: $bgNavBT;
                padding-top: calc(#{$logoHClickedFH} + 5px);
                padding-right: 5px;
                padding-left: 5px;
                padding-bottom: 30px;
                overflow: scroll;

                > li{
                    background-color: $bgNavItemBT;

                    &.current{
                        background-color: $bgNavCurrentItemBT; 
                    }            
                }
                
                li{
                    float: $none;

                    a, .topLevelItem{
                        color: $navFontColourBT;
                    }
                    
                    .topLevelItem{
                        background-repeat: no-repeat;
                        background-position: 10px center;

                        &.open{
                            background-image: url('/nuevo/img/nav_arrowD.svg');
                        }
                    }
                    
                    &.current{
                        background-image: url('/nuevo/img/nav_arrowL.svg');
                        background-repeat: no-repeat;
                        background-position: right 10px center;

                        a, .topLevelItem{
                            color: $navCurrentFontColourBT;
                        }   
                    }    
                    
                    & + li{
                        @include borderStyleT($bcNavItemBT);
                    }  
                }
                
                &, .subMenu{
                    top: 0;
                    bottom: 0;
                }    
                
                &.open{
                    left: 0;
                }
            }
        }
        
        @if $navHasSub == "on"{ 
            .subMenu{
                position: relative;
                top: 0;
                right: $navDrawerWidth;
                width: calc(100% + 5px);
                max-width: $navDrawerMaxWidth;
                background-color: $bgNavSubBT;
                
                li{
                    background-color: $bgNavSubItemBT;
                    
                    a{
                        font-family: $navFontFamilySub;
                        color: $navSubFontColourBT;
                    }
                    
                    &.current{
                        background-color: $bgNavSubCurrentItemBT;
                        
                        a{
                            color: $navSubCurrentFontColourBT;
                        }
                    }
                }   

                &.open{
                    right: 5px;
                }
            }
        }
    }
    
    @include afterTablet{
        @if $navDrawer == "on"{
            .navClose{ 
                display: $none;
            }
        }
        
        > ul{
            background-color: $bgNavAT; 
            
            > li{
                background: $bgNavItemAT;

                a, .topLevelItem{
                    color: $navFontColourAT;
                }    

                &:focus, &:hover{
                    background-color: $bgNavItemHover; 
                    
                    a{
                        color: $navFontColourHover;
                    }
                }

                &.current{
                    background-color: $bgNavCurrentItemAT;

                    > a, .topLevelItem{
                        color: $navCurrentFontColourAT;
                    }  

                    &:focus, &:hover{
                        background-color: $bgNavCurrentItemHover;
                        
                        > a, .topLevelItem{
                            color: $navCurrentFontColourHover;
                        }  
                    }         
                }             
            }
        }
            
        @if $navHasSub == "on"{            
            .subMenu{
                display: $none;
                
                li{                        
                    @include transition(1s);
                    background-color: $bgNavSubItemAT;
                    
                    a{
                        color: $navSubFontColourAT;
                        cursor: pointer;
                    }
                    
                    &:focus, &:hover{
                        background-color: $bgNavSubItemHover;
                        
                        a{
                            color: $navSubFontColourHover;  
                        }
                    }
                    
                    &.current{
                        a{
                            color: $navSubCurrentFontColourAT;
                            cursor: default;
                        }
                        
                        &, &:focus, &:hover{
                            background-color: $bgNavSubCurrentItemAT;
                        }
                        
                        &:focus, &:hover{
                            
                            a{
                                color: $navSubCurrentFontColourHover;
                            }
                        }
                    }
                }
            }
        }
        
        &.topper{
            @include borderStyleB($bcNavTopper);
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;  
            background-color: $bgNavTopper;
           
            .hamb{
                display: $none;
            }
            
            @if $navHasSub == "on"{
                .subMenu{
                    left: 0;
                    position: absolute;
                    
                    li{
                        & + li{
                            @include borderStyleT($bcNavSubItemAT);
                        }
                    }
                }
            }
        }
    }   
    
    @include tabletOnly{
        .mainMenu{
            @if $navHasSub == "on"{
                .subMenu{
                    &.openSubTO{
                        display: $block;
                    }
                }
            }
        }
    }
    
    @include afterDesktop{
        @if $navHasSub == "on"{
            .hasSub{                
                &:focus, &:hover{
                    ul{
                        display: $block;
                    }
                }
            }
        }
    }
}