/* =============================================================================
   Nav Accordion Settings | Etc [/etc/css/scss/settings_nav_accordion.scss]
   ========================================================================== */
@if $nav_accordion_act == "on"{
    .nav_main{
        @include navBT{
            top: calc(#{$header_navAccordion_height_BT} / 2);
            right: 0;
            left: 0;
            
            .button_hamb{
                right: 10px;
            }
            
            .button_hamb_open{                
                &.button_hamb_open_pressed{
                    display: $none;
                } 
            }

            .button_hamb_close{                
                &.button_hamb_close_visible{
                    display: block;
                } 
            }

            ul{
                @include transition(0.5s);
                box-sizing: border-box;
                position: fixed;
                z-index: $zIndex_navAccordion_ul;
                top: $header_navAccordion_height_BT;
                right: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: $nav_bgColour_BT;
                overflow: scroll; 
                
                li{
                    &,
                    a,
                    .nav_TLI{
                        @include equalHeightAndLineHeight($nav_accordion_item_height);
                    }
                }
                
                &.open{
                    display: $block;
                    height: auto;
                    max-height: calc(100vh - #{$header_navAccordion_height_BT});
                }
            }
        }
    }
}