/* =============================================================================
   Container Settings | Etc [settingsContainer.scss]
   ========================================================================== */
.container,
.containerMO,
.containerAML,
.containerMLO,
.containerBT,
.containerAT,
.containerTO,
.containerATL,
.containerTLO,
.containerBD,
.containerAD,
.containerADL{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;   
}

.container{    
    @include mobileOnly{
        width: $container_value_MO;
    }     
    @include afterMobileLandscape{
        width: $container_value_ML;
    }    
    @include afterTablet{
        width: $container_value_T;
    }    
    @include afterTabletLandscape{
        width: $container_value_TL;
    }    
    @include afterDesktop{
        width: $container_value_D;
    }    
    @include afterDesktopLarge{
        width: $container_value_DL;
    }    
    &.centerAbs{
        @include mobileOnly{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_MO;
        }
        @include afterMobileLandscape{
            position: absolute;
            left: 50%;   
            margin-left: $container_value_half_negative_ML;
        }
        @include afterTablet{
            margin-left: $container_value_half_negative_T;
        }
        @include afterTabletLandscape{
            margin-left: $container_value_half_negative_TL;
        }
        @include afterDesktop{
            margin-left: $container_value_half_negative_D;
        }
        @include afterDesktopLarge{
            margin-left: $container_value_half_negative_DL;
        }
    }
    @if $classes_container_act_MO == "on"{
        &.centerAbsMO{    
            @include mobileOnly{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_MO;
            }
        }
    }
    @if $classes_container_act_AML == "on"{
        &.centerAbsAML{
            @include afterMobileLandscape{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_ML;
            }
            @include afterTablet{
                margin-left: $container_value_half_negative_T;
            }
            @include afterTabletLandscape{
                margin-left: $container_value_half_negative_TL;
            }
            @include afterDesktop{  
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_AT == "on"{
        &.centerAbsAT{
            @include afterTablet{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_T;
            }
            @include afterTabletLandscape{
                margin-left: $container_value_half_negative_TL;
            }
            @include afterDesktop{
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_ATL == "on"{
        &.centerAbsATL{
            @include afterTabletLandscape{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_TL;
            }
            @include afterDesktop{  
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_AD == "on"{
        &.centerAbsAD{
            @include afterDesktop{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_D;
            }
            @include afterDesktopLarge{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
    @if $classes_container_act_ADL == "on"{
        &.centerAbsADL{
            @include afterDesktopLarge{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
}

@if $classes_container_act_MO == "on"{
    .containerMO{
        @include mobileOnly{
            width: $container_value_MO;            
            &.centerAbsMO{    
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_MO;
            }
        }  
    }  
}
@if $classes_container_act_AML == "on"{
    .containerAML{
        @include afterMobileLandscape{
            width: $container_value_ML;
            &.centerAbsAML{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_ML;
            }
        }    
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }     
        @include afterTablet{
            width: $container_value_T;
            &.centerAbsAML{
                margin-left: $container_value_half_negative_T;
            }
        }    
        @include afterTabletLandscape{
            width: $container_value_TL;
            &.centerAbsAML{
                margin-left: $container_value_half_negative_TL;
            }
        }    
        @include afterDesktop{
            width: $container_value_D;
            &.centerAbsAML{
                margin-left: $container_value_half_negative_D;
            }
        }    
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.centerAbsAML{
                margin-left: $container_value_half_negative_DL;
            }
        }
    }
}
@if $classes_container_act_MLO == "on"{
    .containerMLO{
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }
    }  
}
@if $classes_container_act_BT == "on"{
    .containerBT{
        @include mobileOnly{
            width: $container_value_MO;
        }    
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        }    
    }  
}
@if $classes_container_act_AT == "on"{
    .containerAT{
        @include afterTablet{
            width: $container_value_T;
            &.centerAbsAT{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_T;        
            }
        }    
        @include afterTabletLandscape{
            width: $container_value_TL;
            &.centerAbsAT{        
                margin-left: $container_value_half_negative_TL;
            }
        }    
        @include afterDesktop{
            width: $container_value_D;
            &.centerAbsAT{    
                margin-left: $container_value_half_negative_D;    
            }
        }    
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.centerAbsAT{       
                margin-left: $container_value_half_negative_DL; 
            }
        }
    }  
}
@if $classes_container_act_TO == "on"{
    .containerTO{
        @include tabletOnly{
            width: $container_value_T;
        }
    }  
}
@if $classes_container_act_ATL == "on"{
    .containerATL{
        @include afterTabletLandscape{
            width: $container_value_TL;
            &.centerAbsATL{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_TL;
            }
        }    
        @include afterDesktop{
            width: $container_value_D;
            &.centerAbsATL{
                margin-left: $container_value_half_negative_D;
            }
        }    
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.centerAbsATL{
                margin-left: $container_value_half_negative_DL;
            }
        }    
    }  
}
@if $classes_container_act_TLO == "on"{
    .containerTLO{    
        @include tabletLandscapeOnly{
            width: $container_value_TL;
        }
    }  
}
@if $classes_container_act_BD == "on"{
    .containerBD{
        @include mobileOnly{
            width: $container_value_MO;
        }    
        @include afterMobileLandscape{
            width: $container_value_ML;
        }    
        @include mobileLandscapeOnly{
            width: $container_value_ML;
        } 
        @include afterTablet{
            width: $container_value_T;
        }    
        @include afterTabletLandscape{
            width: $container_value_TL;
        }   
    }  
}
@if $classes_container_act_AD == "on"{
    .containerAD{
        @include afterDesktop{
            width: $container_value_D;
            &.centerAbsAD{
                position: absolute;
                left: 50%;   
                margin-left: $container_value_half_negative_D;
            }
        }    
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.centerAbsAD{
                margin-left: $container_value_half_negative_DL;
            }
        }    
    }  
}
@if $classes_container_act_ADL == "on"{
    .containerADL{
        @include afterDesktopLarge{
            width: $container_value_DL;
            &.centerAbsADL{
                margin-left: $container_value_half_negative_DL;
            }
        }    
    }  
}
    
/* =============================================================================
   Hack para Windows Phone | Etc [settingsContainer.scss]
   ========================================================================== */
@media (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}