/* =============================================================================
   Nav Drawer Settings | Etc [settingsNavDrawer.scss]
   ========================================================================== */
@if $navDrawer_act == "on"{
    @include navBT{
        .navMain{
            .navOpen{   
                background-color: $navBgColour_hamburger;
                
                &.clicked{
                    opacity: 0.5;
                    color: $navFontColour_hamburger_clicked;
                } 
            }

            .navClose{                
                &.clicked{
                    display: block;
                } 
            }

            .mainMenu{
                box-sizing: border-box;
                position: fixed;
                z-index: $zIndex_navDrawer_ul;
                left: calc(-1 * #{$navDrawer_width});
                width: calc(#{$navDrawer_width} - 5px);
                max-width: $navDrawer_widthMax;
                background-color: $navBgColour_BT;
                padding-top: calc(#{$logo_clicked_height_heightFull} + 5px);
                padding-right: 5px;
                padding-left: 5px;
                padding-bottom: 30px;
                overflow: scroll; 

                &,
                .subMenu{
                    @include transition(0.5s); 
                    top: 0;
                    bottom: 0;
                }    

                &.open{
                    left: 0;
                }

                & + .mainMenu{
                    margin-top: 0;
                }
        
                > li{
                    > a,
                    > .topLevelItem{
                        color: $navFontColour_itemLevel0_BT;
                        font-family: $navFontFamily_BT;
                    }
                }  

                > .current{
                    background-repeat: no-repeat;
                    background-position: right 10px center;

                    > a,
                    > .topLevelItem{
                        font-family: $navFontFamily_itemCurrent_BT;
                    }
                }
            }
        
            @if $nav_hasSub_act == "on"{
                .mainMenu{
                    .topLevelItem{
                        background-repeat: no-repeat;
                        background-position: 10px center;
                    }  
                    
                    &.backMenu{
                        .topLevelItem{
                            background-image: url('/nuevo/img/#{$navArrows_backMenu_TLI}');
                            color: $navFontColour_backMenu_TLI;

                            &.open{
                                background-image: url('/nuevo/img/#{$navArrows_backMenu_TLI_openDR}'); 
                            }
                        } 
                    }
                }
                
                .subMenu{
                    position: relative;
                    top: 0;
                    right: $navDrawer_width;
                    width: calc(100%);
                    max-width: $navDrawer_widthMax;
                    
                    a,
                    .topLevelItem{
                        font-family: $navFontFamily_itemSub_BT;
                    }

                    .current{
                        background-repeat: no-repeat;
                        background-position: right 10px center;

                        a,
                        .topLevelItem{
                            font-family: $navFontFamily_itemSubCurrent_BT;
                        } 
                    }

                    &.backMenuSubMenu{
                        z-index: $zIndex_navSubMenu_back;
                    }

                    &.openDR{
                        right: 0;
                    }
                }  
            }
        
            @if $nav_hasSub_level1_act == "on"{
                .hasSubLevel1{ 
                    a,
                    .TLI_level1{
                        color: $navFontColour_TLI_level1_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrows_TLI_level1_openDR}');
                        }
                    }
                    
                    &.current{                      
                        > a,
                        .TLI_level1{
                            background-image: url('/cuatro/img/#{$navArrows_itemCurrent_level0}');
                            background-position: right 10px center;
                            color: $navFontColour_TLICurrent_level1_BT;
                        }
                    }
                }
                
                .subMenuLevel1{
                    z-index: $zIndex_navSubMenu_level1;
                    background-color: $navBgColour_ulLevel1_BT;

                    li{
                        background-color: $navBgColour_itemLevel1_BT;
                        
                        a{
                            color: $navFontColour_itemLevel1_BT;
                        }
                    }

                    > .current{  
                        background-color: $navBgColour_itemCurrent_level1_BT; 
                        background-image: url('/nuevo/img/#{$navArrows_itemCurrent_level1}');
                        
                        a{
                            color: $navFontColour_itemCurrent_level1_BT;
                        }
                    }
                }
            }
        
            @if $nav_hasSub_level2_act == "on"{
                .hasSubLevel2{ 
                    a,
                    .TLI_level2{
                        color: $navFontColour_itemLevel2_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrows_TLI_level2_openDR}');
                        }
                    }
                    
                    &.current{                        
                        a,
                        .TLI_level1{
                            color: $navFontColour_TLICurrent_level2_BT;
                        }
                    }
                }
                
                .subMenuLevel2{
                    z-index: $zIndex_navSubMenu_level2;
                    background-color: $navBgColour_ulLevel2_BT;

                    li{
                        background-color: $navBgColour_itemLevel2_BT;
                        
                        a{
                            color: $navFontColour_itemLevel2_BT;
                        }
                    }

                    > .current{      
                        background-color: $navBgColour_itemCurrent_level2_BT; 
                        background-image: url('/nuevo/img/#{$navArrows_itemCurrent_level2}'); 
                        
                        a{
                            color: $navFontColour_itemCurrent_level2_BT;
                        }
                    }
                }
            }
        
            @if $nav_hasSub_level3_act == "on"{  
                .hasSubLevel3{  
                    a,  
                    .TLI_level3{
                        color: $navFontColour_itemLevel2_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrows_TLI_level3_openDR}');
                        }
                    }
                    
                    &.current{                        
                        a,
                        .TLI_level1{
                            color: $navFontColour_TLICurrent_level3_BT;
                        }
                    }
                }
                
                .subMenuLevel3{
                    z-index: $zIndex_navSubMenu_level3;
                    background-color: $navBgColour_ulLevel3_BT;

                    li{
                        background-color: $navBgColour_itemLevel3_BT;
                        
                        a{
                            color: $navFontColour_itemLevel3_BT;
                        }
                    }

                    > .current{      
                        background-color: $navBgColour_itemCurrent_level3_BT;
                        background-image: url('/nuevo/img/#{$navArrows_itemCurrent_level3}'); 
                        
                        a{
                            color: $navFontColour_itemCurrent_level3_BT;
                        }
                    }
                }
            }
        }
    }
}