/* =============================================================================
   Font Styling
   ========================================================================== */
html{
    font-size: 100%;
    text-rendering: optimizeLegibility;
}
body{
    @extend %bodyFontSettings!optional;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, a, li, button, label, input,
select, textarea, blockquote, table{
    @extend %mainFontsSettings;
}

//Text Margins and Line-heights
h1, h2, h3, h4, h5, h6{
    margin: $headingMargin;
    line-height: 1em;
}
p, dl, legend{
    margin: $textMargin;
}
p, li{
    font-size: $mainParagraphFontSize;
    
    b, strong{
        font-family: $mainFontFamilyBold;
    }
    & + p{
        margin: $textMarginSibling;        
    }
    p, li{
        font-size: 1em;
    }
}

// Font Families and Headings Values
@include fontFamilyCustomClassesGenerator;