/* =============================================================================
   Nav Drawer Settings | Etc [settingsNavDrawer.scss]
   ========================================================================== */
@if $navDrawer_act == "on"{
    @include navBT{
        .nav_nav{
            .button_hamb_open{
                background-color: $nav_bgColour_hamburger;
                
                &.clicked{
                    opacity: 0.5;
                    color: $nav_ftColour_hamburger_clicked;
                } 
            }

            .button_hamb_close{
                &.clicked{
                    display: block;
                } 
            }

            .nav_main_ul{
                box-sizing: border-box;
                position: fixed;
                z-index: $zIndex_navDrawer_ul;
                left: calc(-1 * #{$navDrawer_width});
                width: $navDrawer_width_final;
                max-width: $navDrawer_width_max;
                background-color: $nav_bgColour_BT;
                padding-top: calc(#{$logo_clicked_height_FH} + 5px);
                padding-right: 5px;
                padding-left: 5px;
                overflow: scroll; 
                
                @if $language_flag_clicked_bottom_act == "on"{
                    padding-bottom: calc(#{$language_ul_height_clicked} + #{$language_ul_bottomValue} + 10px);
                } @else {
                    padding-bottom: 30px;     
                }

                &,
                .nav_subNav{
                    @include transition(0.5s); 
                    top: 0;
                    bottom: 0;
                }    

                &.open{
                    left: 0;
                }

                & + .nav_main_ul{
                    margin-top: 0;
                }
        
                > li{
                    > a,
                    > .nav_TLI{
                        color: $nav_ftColour_itemLevel0_BT;
                        font-family: $nav_ftFamily_BT;
                    }
                }  

                > .nav_item_current{
                    background-repeat: no-repeat;
                    background-position: right 10px center;

                    > a,
                    > .nav_TLI{
                        font-family: $nav_ftFamily_itemCurrent_BT;
                    }
                }
            }
        
            @if $nav_hasSub_act == "on"{
                .nav_main_ul{
                    .nav_TLI{
                        background-repeat: no-repeat;
                        background-position: 10px center;
                    }  
                    
                    .nav_item_back{
                        .nav_TLI{
                            background-image: url('/nuevo/img/#{$navArrows_backMenu_TLI}');
                            color: $nav_item_back_TLI_ftColour;

                            &.open{
                                background-image: url('/nuevo/img/#{$navArrows_backMenu_TLI_openDR}'); 
                            }
                        } 
                    }
                }
                
                .nav_subNav{
                    position: relative;
                    top: 0;
                    right: $navDrawer_width;
                    width: calc(100%);
                    max-width: $navDrawer_width_max;
                    
                    a,
                    .nav_TLI{
                        font-family: $nav_ftFamily_itemSub_BT;
                    }

                    .nav_item_current{
                        background-repeat: no-repeat;
                        background-position: right 10px center;

                        a,
                        .nav_TLI{
                            font-family: $nav_ftFamily_itemSubCurrent_BT;
                        } 
                    }

                    &.nav_item_back_subNav{
                        z-index: $zIndex_navSubMenu_back;
                    }

                    &.openDR{
                        right: 0;
                    }
                }  
            }
        
            @if $nav_hasSub_level1_act == "on"{
                .nav_item_hasSubNav_level1{
                    a,
                    .nav_TLI_level1{
                        color: $nav_ftColour_TLI_level1_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrows_TLI_level1_openDR}');
                        }
                    }
                    
                    &.nav_item_current{  
                        > a,
                        .nav_TLI_level1{
                            background-image: url('/cuatro/img/#{$navArrows_itemCurrent_level0}');
                            background-position: right 10px center;
                            color: $nav_ftColour_TLICurrent_level1_BT;
                        }
                    }
                }
                
                .nav_subNav_level1{
                    z-index: $zIndex_navSubMenu_level1;
                    background-color: $nav_bgColour_ulLevel1_BT;

                    li{
                        background-color: $nav_bgColour_itemLevel1_BT;
                        
                        a{
                            color: $nav_ftColour_itemLevel1_BT;
                        }
                    }

                    > .nav_item_current{
                        background-color: $nav_bgColour_itemCurrent_level1_BT; 
                        background-image: url('/nuevo/img/#{$navArrows_itemCurrent_level1}');
                        
                        a{
                            color: $nav_ftColour_itemCurrent_level1_BT;
                        }
                    }
                }
            }
        
            @if $nav_hasSub_level2_act == "on"{
                .nav_item_hasSubNav_level2{
                    a,
                    .nav_TLI_level2{
                        color: $nav_ftColour_itemLevel2_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrows_TLI_level2_openDR}');
                        }
                    }
                    
                    &.nav_item_current{    
                        a,
                        .nav_TLI_level1{
                            color: $nav_ftColour_TLICurrent_level2_BT;
                        }
                    }
                }
                
                .nav_subNav_level2{
                    z-index: $zIndex_navSubMenu_level2;
                    background-color: $nav_bgColour_ulLevel2_BT;

                    li{
                        background-color: $nav_bgColour_itemLevel2_BT;
                        
                        a{
                            color: $nav_ftColour_itemLevel2_BT;
                        }
                    }

                    > .nav_item_current{
                        background-color: $nav_bgColour_itemCurrent_level2_BT; 
                        background-image: url('/nuevo/img/#{$navArrows_itemCurrent_level2}'); 
                        
                        a{
                            color: $nav_ftColour_itemCurrent_level2_BT;
                        }
                    }
                }
            }
        
            @if $nav_hasSub_level3_act == "on"{
                .nav_item_hasSubNav_level3{
                    a,  
                    .nav_TLI_level3{
                        color: $nav_ftColour_itemLevel2_BT;

                        &.openDR{
                            background-image: url('/nuevo/img/#{$navArrows_TLI_level3_openDR}');
                        }
                    }
                    
                    &.nav_item_current{    
                        a,
                        .nav_TLI_level1{
                            color: $nav_ftColour_TLICurrent_level3_BT;
                        }
                    }
                }
                
                .nav_subNav_level3{
                    z-index: $zIndex_navSubMenu_level3;
                    background-color: $nav_bgColour_ulLevel3_BT;

                    li{
                        background-color: $nav_bgColour_itemLevel3_BT;
                        
                        a{
                            color: $nav_ftColour_itemLevel3_BT;
                        }
                    }

                    > .nav_item_current{
                        background-color: $nav_bgColour_itemCurrent_level3_BT;
                        background-image: url('/nuevo/img/#{$navArrows_itemCurrent_level3}'); 
                        
                        a{
                            color: $nav_ftColour_itemCurrent_level3_BT;
                        }
                    }
                }
            }
        }
    }
}