/* =============================================================================
   Tables Settings | Etc [/etc/css/scss/settingsTables.scss]
   ========================================================================== */
table{
    border-spacing: 0;
    border-collapse: collapse;
    @include beforeTablet{
        width: $table_width_BT;
        @include tableCustomSizesBT;        
    }
    @include afterTablet{
        width: $table_width_AT;
        @include tableCustomSizesAT;          
    }
    @include afterTabletLandscape{
        width: $table_width_ATL;
        @include tableCustomSizesATL;          
    }     
    th,
    td{
        font-weight: 400;
        vertical-align: middle;
    }
}

/* // Rounded Tables -------------------------------------------------------- */
.tableRounded{
    border-radius: $bdRadius_global;
    border-collapse: separate;
   
    tbody{
        @include borderRadiusT($helpers_border_radius_table);
        tr{
            &:first-child{
                @include borderRadiusT($helpers_border_radius_table);
            }            
            &:last-child{
                @include borderRadiusB($helpers_border_radius_table);
            }
            &:only-child{
                @include borderRadius($helpers_border_radius_table);
            }
        }
    }   
    tfoot{
        td{
            &:first-child{
                @include borderRadiusBL($helpers_border_radius_table);
            }
            &:last-child{
                @include borderRadiusBR($helpers_border_radius_table);
            }
        }  
    }  
    tr{      
        &:last-child{
            td{
                border-bottom: $zero;
            }
        }
    }
    
    @include beforeTablet{
        tr{
            th, td{
                &:first-child{
                    @include borderRadiusT($helpers_border_radius_table);
                }
                &:last-child{
                    @include borderRadiusB($helpers_border_radius_table);
                }
            } 
        }
    }
    
    @include afterTablet{
        tr{
            th{
                &:first-child{
                    @include borderRadiusTL($helpers_border_radius_table);
                }
                &:last-child{
                    @include borderRadiusTR($helpers_border_radius_table);
                }
            }
        }
    }
}


/* // Striped Tables -------------------------------------------------------- */
.tableStriped{
    thead, tfoot{
        tr{
            background-color: $table_bgColour_striped_thead;
        }
    }
    tbody{
        tr{
            background-color:$table_bgColour_striped_even;
            
            &:nth-child(odd){
                background-color: $table_bgColour_striped_odd;
            }
        }        
    }
}
@include beforeTablet{
    table{
        width: $table_width_BT;
        
        thead,
        tfoot{
            display: none;
        }        
        tr,
        td{
            display: block;
        } 
        tr{
            margin-top: 0;
        }        
        td{
            position: relative;            
            &::before{
                content: attr(data-label);
                position: absolute;
            }
        }
    }    
    .tableRounded{
        tr{
            &:last-child{
                border-bottom: $none;
            }            
        }
        td{
            &:last-child{
                border-bottom: $none;
                padding-bottom: 5px;
            }            
        }
    }        
    .tableResponsiveCont{
        width: 98%;
        overflow-x: scroll;   
        
        .tableResponsive{
            position: relative;
            display: table;
        
            thead,
            tbody{
                display: table-row-group;
            }
            tfoot{
                display: none;
            }            
            td,
            th{
                display: table-cell;
            }            
            tr{
                display: table-row;
            }            
            td{
                &::before{
                    content: '';
                    float: none;                    
                }
            }
        }
        .tableStriped{
            tr{
                border: $none;                
            }
            td{
                background: $none;          
            }           
        }
    }
}