/* =============================================================================
   Nav Accordion Settings | Etc [settingsNavAccordion.scss]
   ========================================================================== */
@if $navAcc_act == "on"{
    .navMain{
        @include navBT{
            top: calc(#{$header_height_navAcc_BT} / 2);
            right: 0;
            left: 0;
            
            .hamb{
                right: 10px;
            }
            
            .navOpen{                
                &.clicked{
                    display: $none;
                } 
            }

            .navClose{                
                &.clicked{
                    display: block;
                } 
            }

            ul{
                @include transition(0.5s);
                box-sizing: border-box;
                position: fixed;
                z-index: $zIndex_navAcc_ul;
                top: $header_height_navAcc_BT;
                right: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: $nav_bgColour_BT;
                overflow: scroll; 
                
                li{
                    &,
                    a,
                    .topLevelItem{
                        @include equalHeightAndLineHeight($navAcc_item_height);
                    }
                }
                
                &.open{
                    display: $block;
                    height: auto;
                    max-height: calc(100vh - #{$header_height_navAcc_BT});
                }
            }
        }
    }
}