/* =============================================================================
   Useful Classes | Etc
   ========================================================================== */
    //Accessibility
#go-main-content{
    @include posTL(auto, -10000px);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

    //Spacing Helpers
@include spacingHelpersClassesGenerator;
.mra,.mha{margin-right: $auto}
.mla,.mha{margin-left: $auto}

    //Positioning
.pRel{position: relative}
.pAbs{position: absolute}
.clear{clear: both}

    //Sizing
.autoWidth{width: auto}
.autoHeight{height: auto}
.fullWidth{width: 100%}
.fullHeight{
    position: absolute;
    @include posTB(0, 0);
}
.fullHeightPercent{height: 100%}
.coverAll{
    position: absolute;
    @include posTRBL(0, 0, 0, 0);
}

    //Display
article, details, figcaption, figure, hgroup, main, menu, nav, summary,
.displayBlock{display: $block}
.displayInline{display: $inline}
.displayNone{display: $none}
.invisible{visibility: hidden}
.centerVertically{
    display: table-cell;
    vertical-align: middle;
}
article, details, figcaption, figure, hgroup, main, menu, nav, summary,
.contentBox, .displayBlock{
    &, &::before, &::after{
        box-sizing: content-box;
    }
}
.borderBox{box-sizing: border-box}

    //Flexbox
.displayFlex, .horizontalFlex, .flexColumn, .flexNoWrap, .flexJustifyEnd, .flexJustifyCenter, .flexJustifyBetween, .flexJustifyAround, .flexAlignContentEnd, .flexAlignContentCenter, .flexAlignContentBetween, .flexAlignContentAround, .flexAlignContentStretch, .flexAlignItemsEnd, .flexAlignItemsCenter, .flexAlignItemsBaseline, .flexAlignItemsStretch, .horizontalCenterFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.flexColumn{flex-direction: column}
.flexNoWrap{flex-wrap: nowrap}
.flexJustifyEnd{justify-content: flex-end}
.flexJustifyCenter{justify-content: center}
.flexJustifyBetween{justify-content: space-between}
.flexJustifyAround{justify-content: space-around}
.flexAlignContentEnd{align-content: flex-end}
.flexAlignContentCenter{align-content: center}
.flexAlignContentBetween{align-content: space-between}
.flexAlignContentAround{align-content: space-around}
.flexAlignContentStretch{align-content: stretch}
.flexAlignItemsEnd{align-items: flex-end}
.flexAlignItemsCenter{align-items: center}
.flexAlignItemsBaseline{align-items: baseline}
.flexAlignItemsStretch{align-items: stretch}

    //Lists and floats
.unstyled, .horizontal, .horizontalFlex,
%unstyled{list-style: $none}
.floatLeft, .horizontal li{float: $left}
.floatRight, .horizontal li.floatRight,
.horizontal.right li{float: $right}
.horizontalCenter, %horizontalCenter{
    list-style: none;
    margin-right: $auto;
    margin-left: $auto;
    text-align: center;
    li{
        display: inline;
        > *{
            display: inline-block;            
        }
    }
}
.horizontalCenterFlex{
    justify-content: center;
    flex-wrap: nowrap;
}
.floatNone{float: $none}
%horizontal{
    list-style: $none;        
    li{
        float: $left;        
        &.floatRight{float: $right;}
    }    
    &.right{
        li{float: $right;}
    }
}

    //Masks
.mask{
    position: relative;
    overflow: hidden;
}

    //Cursors
.cursorDefault{cursor: default}
.cursorPointer{cursor: pointer}
.cursorHelp{cursor: help}
.cursorNone{cursor: none}

    //Misc
:root .noFilter{filter: none \0/IE9;}

/* =============================================================================
   Elements Styling/Corrections | Etc
   ========================================================================== */
audio, canvas, progress, video{
    *display: inline;
    *zoom: 1;
}
html, body{
    margin: 0;
    padding: 0;
}
iframe{
    border: $none;
}

    //Lists
ul, ol, li, dd{
    margin: 0;
    padding: 0;
}
ul{
    list-style: disc inside;
}
ol{
    list-style: decimal inside;
}
dt{
    float: left;
    margin: 0 4px 0 0;
}

    //Links
a{
    line-height: 1em;
    cursor: pointer;
    img{
        border: none;
    }
}
a{
    &, &:hover{        
        text-decoration: none;
    }
}

    //Images
img{
    background-color: $imgBgNeutralColour;
    border: none;
    font: normal 11px/1em $arial;
    text-transform: uppercase;
    color: $greyXD;
    // Improves image quality when scaled in IE 7
    -ms-interpolation-mode: bicubic;
}
img[src$=".png"], img[src$=".gif"], img[src$=".svg"]{
    background-color: transparent;
}
figure{
    margin: 0;
    padding: 0;
}

    //Clearfix
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{display: inline-block}
* html .clearfix{height: 1%}
.clearfix{display: block}

    //Hack para Windows Phone
@media (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}