/* =============================================================================
   Font Variables | Etc [/etc/css/scss/var_fonts.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables.
// Contiene mapa de fuentes para generar Font-Stacks.
// Estos mapas se usan en `[/etc/var/fonts_main_var.scss]`.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


           
/* // Sans Serif ------------------------------------------------------------ */
$fontFamilies_sans_map:(
    sanFrancisco: ('-apple-system', '.SFNSText-Regular', 'San Francisco'),
    blinkMacSystemFont: BlinkMacSystemFont,
    oxygen: Oxygen,
    ubuntu: Ubuntu,
    cantarell: Cantarell,
    firaSans: "Fira Sans",
    droidSans: "Droid Sans",
    helveticaSafe: (Helvetica, 'Helvetica Neue'),
    segoeUI: 'Segoe UI',
    verdana: Verdana,
    tahoma: Tahoma,
    lucidaGrande: 'Lucida Grande',
    trebuchetMS: 'Trebuchet MS',
    sansSerif: sans-serif
);

$fontFamilies_sans_list:
    map-get($fontFamilies_sans_map, sanFrancisco),
    map-get($fontFamilies_sans_map, blinkMacSystemFont),
    map-get($fontFamilies_sans_map, oxygen), 
    map-get($fontFamilies_sans_map, ubuntu), 
    map-get($fontFamilies_sans_map, cantarell), 
    map-get($fontFamilies_sans_map, firaSans), 
    map-get($fontFamilies_sans_map, droidSans), 
    map-get($fontFamilies_sans_map, helveticaSafe), 
    map-get($fontFamilies_sans_map, segoeUI),   
    map-get($fontFamilies_sans_map, verdana),
    map-get($fontFamilies_sans_map, tahoma),
    map-get($fontFamilies_sans_map, lucidaGrande),
    map-get($fontFamilies_sans_map, trebuchetMS),
    map-get($fontFamilies_sans_map, sansSerif)
; 

$fontFamilies_sans_list_fallback:
    Arial,
    Roboto,
    map-get($fontFamilies_sans_map, sanFrancisco),
    map-get($fontFamilies_sans_map, blinkMacSystemFont),
    map-get($fontFamilies_sans_map, oxygen), 
    map-get($fontFamilies_sans_map, ubuntu), 
    map-get($fontFamilies_sans_map, cantarell), 
    map-get($fontFamilies_sans_map, firaSans), 
    map-get($fontFamilies_sans_map, droidSans), 
    map-get($fontFamilies_sans_map, helveticaSafe), 
    map-get($fontFamilies_sans_map, segoeUI),   
    map-get($fontFamilies_sans_map, verdana),
    map-get($fontFamilies_sans_map, tahoma),
    map-get($fontFamilies_sans_map, lucidaGrande),
    map-get($fontFamilies_sans_map, trebuchetMS),
    map-get($fontFamilies_sans_map, sansSerif)
; 

$sanFrancisco:          map-get($fontFamilies_sans_map, sanFrancisco);
$blinkMacSystemFont:    map-get($fontFamilies_sans_map, blinkMacSystemFont);   
$oxygen:                map-get($fontFamilies_sans_map, oxygen);   
$ubuntu:                map-get($fontFamilies_sans_map, ubuntu);   
$cantarell:             map-get($fontFamilies_sans_map, cantarell);   
$firaSans:              map-get($fontFamilies_sans_map, firaSans);    
$droidSans:             map-get($fontFamilies_sans_map, droidSans);   
$segoeUI:               map-get($fontFamilies_sans_map, segoeUI);   
$verdana:               map-get($fontFamilies_sans_map, verdana);
$tahoma:                map-get($fontFamilies_sans_map, tahoma);
$lucidaGrande:          map-get($fontFamilies_sans_map, lucidaGrande);
$trebuchetMS:           map-get($fontFamilies_sans_map, trebuchetMS);


/* // Serif ----------------------------------------------------------------- */
$fontFamilies_serif_map:(
    georgia: Georgia,
    palatino: Palatino,
    serif: serif
);
    
$fontFamilies_serif_list: 
    map-get($fontFamilies_serif_map, georgia),
    map-get($fontFamilies_serif_map, palatino),
    map-get($fontFamilies_serif_map, serif)
;
    
$fontFamilies_serif_list_fallback:
    'Times New Roman',
    map-get($fontFamilies_serif_map, georgia),
    map-get($fontFamilies_serif_map, palatino),
    map-get($fontFamilies_serif_map, serif)
;

$georgia:    map-get($fontFamilies_serif_map, georgia);
$palatino:  map-get($fontFamilies_serif_map, palatino);
$serif:     map-get($fontFamilies_serif_map, serif);
    

/* // Monoespaciadas -------------------------------------------------------- */
$fontFamilies_monospaced_map:(
    consolas: 'Consolas',
    andaleMono: 'Andale Mono',
    lucidaConsole: 'Lucida Console',
    bitstreamVeraSansMono: 'Bitstream Vera Sans Mono',
    courierNew: 'Courier New',
    monospace: monospace
);
    
$fontFamilies_monospaced_list:
    map-get($fontFamilies_monospaced_map, consolas),    
    map-get($fontFamilies_monospaced_map, andaleMono),
    map-get($fontFamilies_monospaced_map, lucidaConsole),
    map-get($fontFamilies_monospaced_map, bitstreamVeraSansMono),
    map-get($fontFamilies_monospaced_map, courierNew),
    map-get($fontFamilies_monospaced_map, monospace)
;

$consolas:                  map-get($fontFamilies_monospaced_map, consolas);
$andaleMono:                map-get($fontFamilies_monospaced_map, andaleMono);
$lucidaConsole:             map-get($fontFamilies_monospaced_map, lucidaConsole);
$bitstreamVeraSansMono:     map-get($fontFamilies_monospaced_map, bitstreamVeraSansMono);
$courierNew:                map-get($fontFamilies_monospaced_map, courierNew);
$monospace:                 map-get($fontFamilies_monospaced_map, monospace);


    //Font Sizes
$h1_list: 'h1, .hUno';
$h2_list: 'h2, .hDos';
$h3_list: 'h3, .hTre';
$h4_list: 'h4, .hCua';
$h5_list: 'h5, .hCin';
$h6_list: 'h6, .hSei';