/* * NombreDeProyecto * ========================================================
   Font Variables | Etc [/etc/css/scss/var_fonts.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables.
// Contiene mapa de fuentes para generar Font-Stacks.
// Estos mapas se usan en `[/etc/css/custom/var/fonts_main_var.scss]`.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


           
/* // Sans Serif ------------------------------------------------------------ */
$font_families_sans_map:(
    sanFrancisco: ('-apple-system', '.SFNSText-Regular', 'San Francisco'),
    blinkMacSystemFont: BlinkMacSystemFont,
    oxygen: Oxygen,
    ubuntu: Ubuntu,
    cantarell: Cantarell,
    firaSans: "Fira Sans",
    droidSans: "Droid Sans",
    helveticaSafe: (Helvetica, 'Helvetica Neue'),
    segoeUI: 'Segoe UI',
    verdana: Verdana,
    tahoma: Tahoma,
    lucidaGrande: 'Lucida Grande',
    trebuchetMS: 'Trebuchet MS',
    sansSerif: sans-serif
);

$font_families_sans_list:
    map-get($font_families_sans_map, sanFrancisco),
    map-get($font_families_sans_map, blinkMacSystemFont),
    map-get($font_families_sans_map, oxygen), 
    map-get($font_families_sans_map, ubuntu), 
    map-get($font_families_sans_map, cantarell), 
    map-get($font_families_sans_map, firaSans), 
    map-get($font_families_sans_map, droidSans), 
    map-get($font_families_sans_map, helveticaSafe), 
    map-get($font_families_sans_map, segoeUI),   
    map-get($font_families_sans_map, verdana),
    map-get($font_families_sans_map, tahoma),
    map-get($font_families_sans_map, lucidaGrande),
    map-get($font_families_sans_map, trebuchetMS),
    map-get($font_families_sans_map, sansSerif)
; 

$font_families_sans_list_fallback:
    Arial,
    Roboto,
    map-get($font_families_sans_map, sanFrancisco),
    map-get($font_families_sans_map, blinkMacSystemFont),
    map-get($font_families_sans_map, oxygen), 
    map-get($font_families_sans_map, ubuntu), 
    map-get($font_families_sans_map, cantarell), 
    map-get($font_families_sans_map, firaSans), 
    map-get($font_families_sans_map, droidSans), 
    map-get($font_families_sans_map, helveticaSafe), 
    map-get($font_families_sans_map, segoeUI),   
    map-get($font_families_sans_map, verdana),
    map-get($font_families_sans_map, tahoma),
    map-get($font_families_sans_map, lucidaGrande),
    map-get($font_families_sans_map, trebuchetMS),
    map-get($font_families_sans_map, sansSerif)
; 

$sanFrancisco:          map-get($font_families_sans_map, sanFrancisco);
$blinkMacSystemFont:    map-get($font_families_sans_map, blinkMacSystemFont);   
$oxygen:                map-get($font_families_sans_map, oxygen);   
$ubuntu:                map-get($font_families_sans_map, ubuntu);   
$cantarell:             map-get($font_families_sans_map, cantarell);   
$firaSans:              map-get($font_families_sans_map, firaSans);    
$droidSans:             map-get($font_families_sans_map, droidSans);   
$segoeUI:               map-get($font_families_sans_map, segoeUI);   
$verdana:               map-get($font_families_sans_map, verdana);
$tahoma:                map-get($font_families_sans_map, tahoma);
$lucidaGrande:          map-get($font_families_sans_map, lucidaGrande);
$trebuchetMS:           map-get($font_families_sans_map, trebuchetMS);


/* // Serif ----------------------------------------------------------------- */
$font_families_serif_map:(
    georgia: Georgia,
    palatino: Palatino,
    serif: serif
);
    
$font_families_serif_list: 
    map-get($font_families_serif_map, georgia),
    map-get($font_families_serif_map, palatino),
    map-get($font_families_serif_map, serif)
;
    
$font_families_serif_list_fallback:
    'Times New Roman',
    map-get($font_families_serif_map, georgia),
    map-get($font_families_serif_map, palatino),
    map-get($font_families_serif_map, serif)
;

$georgia:   map-get($font_families_serif_map, georgia);
$palatino:  map-get($font_families_serif_map, palatino);
$serif:     map-get($font_families_serif_map, serif);
    

/* // Monoespaciadas -------------------------------------------------------- */
$font_families_monospaced_map:(
    consolas: 'Consolas',
    andaleMono: 'Andale Mono',
    lucidaConsole: 'Lucida Console',
    menlo: 'Menlo',
    bitstreamVeraSansMono: 'Bitstream Vera Sans Mono',
    courierNew: 'Courier New',
    monospace: monospace
);
    
$font_families_monospaced_list:
    map-get($font_families_monospaced_map, consolas),    
    map-get($font_families_monospaced_map, andaleMono),
    map-get($font_families_monospaced_map, lucidaConsole),
    map-get($font_families_monospaced_map, menlo),
    map-get($font_families_monospaced_map, bitstreamVeraSansMono),
    map-get($font_families_monospaced_map, courierNew),
    map-get($font_families_monospaced_map, monospace)
;
    
$font_families_monospaced_list_fallback:
    map-get($font_families_monospaced_map, consolas),    
    map-get($font_families_monospaced_map, andaleMono),
    map-get($font_families_monospaced_map, lucidaConsole),
    map-get($font_families_monospaced_map, menlo),
    map-get($font_families_monospaced_map, bitstreamVeraSansMono),
    map-get($font_families_monospaced_map, courierNew),
    map-get($font_families_monospaced_map, monospace)
;

$consolas:                  map-get($font_families_monospaced_map, consolas);
$andaleMono:                map-get($font_families_monospaced_map, andaleMono);
$lucidaConsole:             map-get($font_families_monospaced_map, lucidaConsole);
$menlo:                     map-get($font_families_monospaced_map, menlo);
$bitstreamVeraSansMono:     map-get($font_families_monospaced_map, bitstreamVeraSansMono);
$courierNew:                map-get($font_families_monospaced_map, courierNew);
$monospace:                 map-get($font_families_monospaced_map, monospace);

/* // Font Sizes ------------------------------------------------------------ */
$h1_list: 'h1, .heading1';
$h2_list: 'h2, .heading2';
$h3_list: 'h3, .heading3';
$h4_list: 'h4, .heading4';
$h5_list: 'h5, .heading5';
$h6_list: 'h6, .heading6';