/* * NombreDeProyecto * ========================================================
   CSS Styles Post | Custom [/etc/css/custom/var_all_post.scss]
   ========================================================================== */

@use "var_all_pre" as *;
@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Post ------------------------------------------------------------------ */
// REF [26]
//@use "../scss/settings_lightbox" as *;
//@use "lightbox" as *;