/* =============================================================================
   Container Variables | Etc [/etc/css/scss/var_container.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


             
/* // Container Center Negative Values -------------------------------------- */
$container_value_half_MO:            calc(#{$container_value_MO} / 2);
$container_value_half_ML:            calc(#{$container_value_ML} / 2);
$container_value_half_B600:          calc(#{$container_value_B600} / 2);
$container_value_half_T:             calc(#{$container_value_T} / 2);
$container_value_half_A900:          calc(#{$container_value_A900} / 2);
$container_value_half_TL:            calc(#{$container_value_TL} / 2);
$container_value_half_D:             calc(#{$container_value_D} / 2);
$container_value_half_DL:            calc(#{$container_value_DL} / 2);

$container_value_half_negative_MO:   calc(-1 * #{$container_value_half_MO});
$container_value_half_negative_ML:   calc(-1 * #{$container_value_half_ML});
$container_value_half_negative_B600: calc(-1 * #{$container_value_half_B600});
$container_value_half_negative_T:    calc(-1 * #{$container_value_half_T});
$container_value_half_negative_A900: calc(-1 * #{$container_value_half_A900});
$container_value_half_negative_TL:   calc(-1 * #{$container_value_half_TL});
$container_value_half_negative_D:    calc(-1 * #{$container_value_half_D});
$container_value_half_negative_DL:   calc(-1 * #{$container_value_half_DL});