/* * NombreDeProyecto * ========================================================
   Absolute Variables | Etc [/etc/css/scss/var_absolute.scss]
   ========================================================================== */

@use "../custom/var/env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$zero: 0!important;
$auto: auto!important;
$none: none!important;

/* // Widths ---------------------------------------------------------------- */
$hundred:   100%!important;
$sixth:     calc(100% / 6)!important;
$fifth:     20%!important;
$fourth:    25%!important;
$third:     calc(100% / 3)!important;
$thirdSafe: 33.2%!important;
$half:      50%!important;
$twoThirds: calc(calc(100% / 3) * 2)!important;

/* // Colours --------------------------------------------------------------- */
$transparent: transparent!important;

/* // Positions ------------------------------------------------------------- */
$left: left!important;
$right: right!important;

/* // Display --------------------------------------------------------------- */
$block: block!important;
$inline: inline!important;
$inlineBlock: inline-block!important;

/* // .mha placeholder ------------------------------------------------------ */
%mha{
    margin-right: $auto;
    margin-left: $auto;    
}