/* * NombreDeProyecto * ========================================================
   Container Variables | Etc [/etc/css/scss/var_container.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


             
/* // Container Center Negative Values -------------------------------------- */
$container_value_half_B350:          calc(#{$container_value_B350} / 2);
$container_value_max_half_B350:      calc(#{$container_value_max_B350} / 2);
$container_value_centeredAbsolute_half_B350: calc(#{$container_value_centeredAbsolute_B350} / 2);
$container_value_half_A350:          calc(#{$container_value_A350} / 2);
$container_value_half_B500:          calc(#{$container_value_B500} / 2);
$container_value_half_A500:          calc(#{$container_value_A500} / 2);
$container_value_half_B600:          calc(#{$container_value_B600} / 2);
$container_value_half_B650:          calc(#{$container_value_B650} / 2);
$container_value_half_A600:          calc(#{$container_value_A600} / 2);
$container_value_half_A650:          calc(#{$container_value_A650} / 2);
$container_value_max_half_A768:      calc(#{$container_value_max_A768} / 2);
$container_value_max_half_A850:      calc(#{$container_value_max_A850} / 2);
$container_value_max_half_A900:      calc(#{$container_value_max_A900} / 2);
$container_value_max_half_A1024:     calc(#{$container_value_max_A1024} / 2);
$container_value_max_half_A1100:     calc(#{$container_value_max_A1100} / 2);
$container_value_max_half_A1200:     calc(#{$container_value_max_A1200} / 2);
$container_value_max_half_A1300:     calc(#{$container_value_max_A1300} / 2);
$container_value_max_half_A1400:     calc(#{$container_value_max_A1400} / 2);
$container_value_max_half_A1500:     calc(#{$container_value_max_A1500} / 2);
$container_value_max_half_A1600:     calc(#{$container_value_max_A1600} / 2);

$container_value_half_negative_B350:        calc(-1 * #{$container_value_half_B350});
$container_value_centeredAbsolute_half_negative_B350: calc(-1 * #{$container_value_centeredAbsolute_half_B350});
$container_value_max_half_negative_B350:    calc(-1 * #{$container_value_max_half_B350});
$container_value_half_negative_A350:        calc(-1 * #{$container_value_half_A350});
$container_value_half_negative_B500:        calc(-1 * #{$container_value_half_B500});
$container_value_half_negative_A500:        calc(-1 * #{$container_value_half_A500});
$container_value_half_negative_B600:        calc(-1 * #{$container_value_half_B600});
$container_value_half_negative_B650:        calc(-1 * #{$container_value_half_B650});
$container_value_half_negative_A600:        calc(-1 * #{$container_value_half_A600});
$container_value_half_negative_A650:        calc(-1 * #{$container_value_half_A650});
$container_value_max_half_negative_A768:    calc(-1 * #{$container_value_max_half_A768});
$container_value_max_half_negative_A850:    calc(-1 * #{$container_value_max_half_A850});
$container_value_max_half_negative_A900:    calc(-1 * #{$container_value_max_half_A900});
$container_value_max_half_negative_A1024:   calc(-1 * #{$container_value_max_half_A1024});
$container_value_max_half_negative_A1100:   calc(-1 * #{$container_value_max_half_A1100});
$container_value_max_half_negative_A1200:   calc(-1 * #{$container_value_max_half_A1200});
$container_value_max_half_negative_A1300:   calc(-1 * #{$container_value_max_half_A1300});
$container_value_max_half_negative_A1400:   calc(-1 * #{$container_value_max_half_A1400});
$container_value_max_half_negative_A1500:   calc(-1 * #{$container_value_max_half_A1500});
$container_value_max_half_negative_A1600:   calc(-1 * #{$container_value_max_half_A1600});