/* =============================================================================
   Font Variables | Etc [variablesFonts.scss]
   ========================================================================== */
    //Sans Serif Stack
$fontFamiliesMapSans:(
    sanFrancisco: ('-apple-system', '.SFNSText-Regular', 'San Francisco'),
    blinkMacSystemFont: BlinkMacSystemFont,
    oxygen: Oxygen,
    ubuntu: Ubuntu,
    cantarell: Cantarell,
    firaSans: "Fira Sans",
    droidSans: "Droid Sans",
    helveticaSafe: (Helvetica, 'Helvetica Neue'),
    segoeUI: 'Segoe UI',
    verdana: Verdana,
    tahoma: Tahoma,
    lucidaGrande: 'Lucida Grande',
    trebuchetMS: 'Trebuchet MS',
    sansSerif: sans-serif
);

$fontFamiliesListSans:
    map-get($fontFamiliesMapSans, sanFrancisco),
    map-get($fontFamiliesMapSans, blinkMacSystemFont),
    map-get($fontFamiliesMapSans, oxygen), 
    map-get($fontFamiliesMapSans, ubuntu), 
    map-get($fontFamiliesMapSans, cantarell), 
    map-get($fontFamiliesMapSans, firaSans), 
    map-get($fontFamiliesMapSans, droidSans), 
    map-get($fontFamiliesMapSans, helveticaSafe), 
    map-get($fontFamiliesMapSans, segoeUI),   
    map-get($fontFamiliesMapSans, verdana),
    map-get($fontFamiliesMapSans, tahoma),
    map-get($fontFamiliesMapSans, lucidaGrande),
    map-get($fontFamiliesMapSans, trebuchetMS),
    map-get($fontFamiliesMapSans, sansSerif)
; 

$sanFrancisco: map-get($fontFamiliesMapSans, sanFrancisco);
$blinkMacSystemFont: map-get($fontFamiliesMapSans, blinkMacSystemFont);   
$oxygen: map-get($fontFamiliesMapSans, oxygen);   
$ubuntu: map-get($fontFamiliesMapSans, ubuntu);   
$cantarell: map-get($fontFamiliesMapSans, cantarell);   
$firaSans: map-get($fontFamiliesMapSans, firaSans);    
$droidSans: map-get($fontFamiliesMapSans, droidSans);   
$segoeUI: map-get($fontFamiliesMapSans, segoeUI);   
$verdana: map-get($fontFamiliesMapSans, verdana);
$tahoma: map-get($fontFamiliesMapSans, tahoma);
$lucidaGrande: map-get($fontFamiliesMapSans, lucidaGrande);
$trebuchetMS: map-get($fontFamiliesMapSans, trebuchetMS);

    //Serif Stack
$fontFamiliesMapSerif:(
    georgia: Georgia,
    palatino: Palatino,
    serif: serif
);
    
$fontFamiliesListSerif: 
    map-get($fontFamiliesMapSerif, georgia),
    map-get($fontFamiliesMapSerif, palatino),
    map-get($fontFamiliesMapSerif, serif)
;
    
    //monospace Stack
$fontFamiliesMapMono:(
    consolas: 'Consolas',
    andaleMono: 'Andale Mono',
    lucidaConsole: 'Lucida Console',
    bitstreamVeraSansMono: 'Bitstream Vera Sans Mono',
    courierNew: 'Courier New',
    monospace: monospace
);
    
$fontFamiliesListMono:
    map-get($fontFamiliesMapMono, consolas),    
    map-get($fontFamiliesMapMono, andaleMono),
    map-get($fontFamiliesMapMono, lucidaConsole),
    map-get($fontFamiliesMapMono, bitstreamVeraSansMono),
    map-get($fontFamiliesMapMono, courierNew),
    map-get($fontFamiliesMapMono, monospace)
;

    //Font Sizes
$h1List: 'h1, .hUno';
$h2List: 'h2, .hDos';
$h3List: 'h3, .hTre';
$h4List: 'h4, .hCua';
$h5List: 'h5, .hCin';
$h6List: 'h6, .hSei';

    //Open Sans Map
$openSansLmap:(openSansL: open_sanslight);
$openSansRmap:(openSans: open_sansregular);
$openSansImap:(openSansI: open_sansitalic);
$openSansBmap:(openSansB: open_sansbold);
$openSansBImap:(openSansBI: open_sansbold_italic);