/* =============================================================================
   Border Helpers Mixins / Etc
   ========================================================================== */
    //Border Style
    
//b = border
//a,t,r,b,l = all,top,right,bottom,left
//h,v,x = horizontal,vertical,user defined values

@mixin borderStyle($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border: $borderWidthValue $borderStyleValue $borderColourValue}
@mixin borderStyleT($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border-top: $borderWidthValue $borderStyleValue $borderColourValue}
@mixin borderStyleR($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border-right: $borderWidthValue $borderStyleValue $borderColourValue}
@mixin borderStyleB($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border-bottom: $borderWidthValue $borderStyleValue $borderColourValue}
@mixin borderStyleL($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border-left: $borderWidthValue $borderStyleValue $borderColourValue}
@mixin borderStyleH($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border-width: 0 $borderWidthValue;
    border-style: $borderStyleValue;
    border-color: $borderColourValue;
}
@mixin borderStyleV($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border-width: $borderWidthValue 0;
    border-style: $borderStyleValue;
    border-color: $borderColourValue;
}
@mixin borderStyleX($borderColourValue: $mainBcColour, $borderWidthValue: 1px, $borderStyleValue: solid){
    border-width: $borderWidthValue;
    border-style: $borderStyleValue;
    border-color: $borderColourValue;
}


    // Border Radius 

//Border Radius Classes
//T,R,B,L = top,right,bottom,left

@mixin borderRadius($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: $borderRadiusMixinValue;
}
@mixin borderRadiusT($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: $borderRadiusMixinValue $borderRadiusMixinValue 0 0;
}
@mixin borderRadiusR($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: 0 $borderRadiusMixinValue $borderRadiusMixinValue 0;
}
@mixin borderRadiusB($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: 0 0 $borderRadiusMixinValue $borderRadiusMixinValue;
}
@mixin borderRadiusL($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: $borderRadiusMixinValue 0 0 $borderRadiusMixinValue;
}
@mixin borderRadiusTR($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: 0 $borderRadiusMixinValue 0 0;
}
@mixin borderRadiusTL($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: $borderRadiusMixinValue 0 0 0;
}
@mixin borderRadiusBR($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: 0 0 $borderRadiusMixinValue 0;
}
@mixin borderRadiusBL($borderRadiusMixinValue: $borderRadiusValue){
    border-radius: 0 0 0 $borderRadiusMixinValue;
}

    //Border separation with equal padding and margin
@mixin PBMsT($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $mainBcColour, $PBMSborderStyle: solid){
    padding-top: $PBMSsepValue;
    @include borderStyleT($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-top: $PBMSsepValue;
}
@mixin PBMsR($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $mainBcColour, $PBMSborderStyle: solid){
    padding-right: $PBMSsepValue;
    @include borderStyleR($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-right: $PBMSsepValue;
}
@mixin PBMsB($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $mainBcColour, $PBMSborderStyle: solid){
    padding-bottom: $PBMSsepValue;
    @include borderStyleB($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-bottom: $PBMSsepValue;
}
@mixin PBMsL($PBMSsepValue: 10px, $PBMSborderWidth: 1px, $PBMSbcColour: $mainBcColour, $PBMSborderStyle: solid){
    padding-left: $PBMSsepValue;
    @include borderStyleL($PBMSborderWidth, $PBMSborderStyle, $PBMSbcColour);
    margin-left: $PBMSsepValue;
}