/* =============================================================================
   Header Height Variables | Custom [headerHeight.scss]
   ========================================================================== */
// imported in _headerActivators.scss

$header_paddingT_BT:        20px;
$header_paddingB_BT:        15px;
$header_height_navAcc_BT:   calc(#{$header_paddingT_BT} + #{$header_paddingB_BT} + #{$logo_height_BT});
$header_height_BT:          auto;

$header_height_AT:          90px;
$header_height_ATL:         120px;

/* -------------------------------------
    Full height index                 */

$header_height_MO:          98px;
$header_height_AML:         60px;
$header_height_AT:          140px;
$header_height_ATL:         85px;    
    
/*  Full height index
    --------------------------------- */