/* =============================================================================
   Logo Variables | Custom [logo.scss]
   ========================================================================== */
// imported in _headerActivators.scss

// Logo img background ::before
$logoImgBgBefore:   off; // variables.inc.php

// Size
$logoWBT:   50px;
$logoHBT:   50px;
$logoWAT:   210px;
$logoWATL:  250px;