/* =============================================================================
   Logo Variables | Custom [logo.scss]
   ========================================================================== */
// imported in _headerActivators.scss

// Logo img background ::before
$logo_bg_beforeImg:   off; // variables.inc.php

// Size
$logo_width_BT:   50px;
$logo_height_BT:  50px;
$logo_width_AT:   210px;
$logo_width_ATL:  250px;