/* =============================================================================
   Classes Activators | Custom [activators.scss]
   ========================================================================== */

/* =============================================================================
   Header
   ========================================================================== */
//Menu y logo 
    $floatedLogoNav: on;
    @import "logoSizes"; 
    
//Header 
    $headerFixed: on;
    @import "headerHeight";    

/* -------------------------------------
    Full height index                 */
    $fullHeightIndex: off;
    
    // Header
    $headerHMO:     98px;
    $headerHAML:    60px;
    $headerHAT:     140px;
    $headerHATL:    85px;

    // Footer
    $footerHBT:     80px;
    $footerHAT:     100px;
    
/*  Full height index
    --------------------------------- */

    
/* =============================================================================
   Nav
   ========================================================================== */
$navTopper:              off;
$navFixed:               on;
             
$navDrawer:              on;
$navAcc:                 off;
$navList:                off;
             
$navHasSub:              off;
$navHasSubSub:           off;

$navCurrentItemBottomBc: off;

$navTextItemWhite:       off;
$navTextItemBlack:       off;

/* =============================================================================
   Language Flags
   ========================================================================== */
$circleFlags: off;

/* =============================================================================
   Slider
   ========================================================================== */
$sliderArrows:  off;
$sliderDots:    off;

/* =============================================================================
   Fonts
   ========================================================================== */
$openSansClasses: off;

/* =============================================================================
   Colours
   ========================================================================== */
$coloursButtons:    off;
$coloursLabels:     off;
$coloursInputs:     off;

/* =============================================================================
   Text
   ========================================================================== */
$anchorUnderline: on;

/* =============================================================================
   Forms
   ========================================================================== */
$labelsVisible:     off;
$formInsideLabel:   on;

/* =============================================================================
   Responsive Helpers
   ========================================================================== */
//All
$stylesSpacingALL:                      on;
$stylesPosSizingDisplayMaskCursorsALL:  on;
$stylesFlexboxALL:                      off;
$stylesListsFloatsALL:                  on;

//Mobile Only MO
$containerMO:               off;
$stylesSpacingMO:           off;
$stylesPosSizingDisplayMO:  off;
$stylesFlexboxMO:           off;
$stylesListsFloatsMO:       off;
$stylesTextMO:              off;
$stylesBackgroundsBanMO:    off;

//After Mobile Landscape AML
$containerAML:              off;
$stylesSpacingAML:          off;
$stylesPosSizingDisplayAML: off;
$stylesFlexboxAML:          off;
$stylesListsFloatsAML:      off;
$stylesTextAML:             off;
$stylesBackgroundsBanAML:   off;

//Mobile Landscape Only MLO
$containerMLO:              off;
$stylesSpacingMLO:          off;
$stylesPosSizingDisplayMLO: off;
$stylesFlexboxMLO:          off;
$stylesListsFloatsMLO:      off;
$stylesTextMLO:             off;
$stylesBackgroundsBanMLO:   off;

//Before Tablet BT
$containerBT:               off;
$stylesSpacingBT:           off;
$stylesPosSizingDisplayBT:  on;
$stylesFlexboxBT:           off;
$stylesListsFloatsBT:       on;
$stylesTextBT:              off;
$stylesBackgroundsBanBT:    off;

//Before Tablet Landscape BTL
$containerBTL:              off;
$stylesSpacingBTL:          off;
$stylesPosSizingDisplayBTL: off;
$stylesFlexboxBTL:          off;
$stylesListsFloatsBTL:      off;
$stylesTextBTL:             off;
$stylesBackgroundsBanBTL:   off;

//Tablet Only TO
$containerTO:               off;
$stylesSpacingTO:           off;
$stylesPosSizingDisplayTO:  off;
$stylesFlexboxTO:           off;
$stylesListsFloatsTO:       off;
$stylesTextTO:              off;
$stylesBackgroundsBanTO:    off;

//After Tablet AT
$containerAT:               off;
$stylesSpacingAT:           off;
$stylesPosSizingDisplayAT:  on;
$stylesFlexboxAT:           off;
$stylesListsFloatsAT:       on;
$stylesTextAT:              off;
$stylesBackgroundsBanAT:    off;

//After Tablet Landscape ATL
$containerATL:              off;
$stylesSpacingATL:          off;
$stylesPosSizingDisplayATL: off;
$stylesFlexboxATL:          off;
$stylesListsFloatsATL:      off;
$stylesTextATL:             off;
$stylesBackgroundsBanATL:   off;

//Tablet Landscape Only TLO
$containerTLO:              off;
$stylesSpacingTLO:          off;
$stylesPosSizingDisplayTLO: off;
$stylesFlexboxTLO:          off;
$stylesListsFloatsTLO:      off;
$stylesTextTLO:             off;
$stylesBackgroundsBanTLO:   off;

//Tablet Landscape Only TTLO
$containerTTLO:                 off;
$stylesSpacingTTLO:             off;
$stylesPosSizingDisplayTTLO:    off;
$stylesFlexboxTTLO:             off;
$stylesListsFloatsTTLO:         off;
$stylesTextTTLO:                off;
$stylesBackgroundsBanTTLO:      off;

//Before Desktop BD
$containerBD:                   off;
$stylesSpacingBD:               off;
$stylesPosSizingDisplayBD:      off;
$stylesFlexboxBD:               off;
$stylesListsFloatsBD:           off;
$stylesTextBD:                  off;
$stylesBackgroundsBanBD:        off;

//After Laptop AL
$containerAL:                   off;
$stylesSpacingAL:               off;
$stylesPosSizingDisplayAL:      off;
$stylesFlexboxAL:               off;
$stylesListsFloatsAL:           off;
$stylesTextAL:                  off;
$stylesBackgroundsBanAL:        off;

//After Desktop AD
$containerAD:               off;
$stylesSpacingAD:           off;
$stylesPosSizingDisplayAD:  off;
$stylesFlexboxAD:           off;
$stylesListsFloatsAD:       off;
$stylesTextAD:              off;
$stylesBackgroundsBanAD:    off;

//After Desktop Large ADL
$containerADL: off;