/* =============================================================================
   Classes Activators | Custom [activators.scss]
   ========================================================================== */

/* =============================================================================
   Nav
   ========================================================================== */
$navTopper: on;
$navDrawer: on;
$navList: off;
$navHasSub: off;
$navTextItemWhite: off;

/* =============================================================================
   Language Flags
   ========================================================================== */
$circleFlags: off;

/* =============================================================================
   Fonts
   ========================================================================== */
$openSansClasses: off;

/* =============================================================================
   Colours
   ========================================================================== */
$coloursButtons: off;
$coloursLabels: off;
$coloursInputs: off;

/* =============================================================================
   Text
   ========================================================================== */
$anchorUnderline: off;

/* =============================================================================
   Forms
   ========================================================================== */
$labelsVisible: off;
$formInsideLabel: on;
$formSug: off;

/* =============================================================================
   Spacing Helpers
   ========================================================================== */
//All
$stylesSpacingALL: on;
$stylesPosSizingDisplayMaskCursorsALL: on;
$stylesFlexboxALL: off;
$stylesListsFloatsALL: on;

//Mobile Only MO
$stylesSpacingMO: off;
$stylesPosSizingDisplayMO: off;
$stylesFlexboxMO: off;
$stylesListsFloatsMO: off;
$stylesTextMO: off;
$stylesBackgroundsBanMO: off;

//After Mobile Landscape AML
$stylesSpacingAML: off;
$stylesPosSizingDisplayAML: off;
$stylesFlexboxAML: off;
$stylesListsFloatsAML: off;
$stylesTextAML: off;
$stylesBackgroundsBanAML: off;

//Mobile Landscape Only MLO
$stylesSpacingMLO: off;
$stylesPosSizingDisplayMLO: off;
$stylesFlexboxMLO: off;
$stylesListsFloatsMLO: off;
$stylesTextMLO: off;
$stylesBackgroundsBanMLO: off;

//Before Tablet BT
$stylesSpacingBT: off;
$stylesPosSizingDisplayBT: on;
$stylesFlexboxBT: off;
$stylesListsFloatsBT: on;
$stylesTextBT: off;
$stylesBackgroundsBanBT: off;

//Before Tablet Landscape BTL
$stylesSpacingBTL: off;
$stylesPosSizingDisplayBTL: off;
$stylesFlexboxBTL: off;
$stylesListsFloatsBTL: off;
$stylesTextBTL: off;
$stylesBackgroundsBanBTL: off;

//Tablet Only TO
$stylesSpacingTO: off;
$stylesPosSizingDisplayTO: off;
$stylesFlexboxTO: off;
$stylesListsFloatsTO: off;
$stylesTextTO: off;
$stylesBackgroundsBanTO: off;

//Tablet Landscape Only TTLO
$stylesSpacingTTLO: off;
$stylesPosSizingDisplayTTLO: off;
$stylesFlexboxTTLO: off;
$stylesListsFloatsTTLO: off;
$stylesTextTTLO: off;
$stylesBackgroundsBanTTLO: off;

//After Tablet AT
$stylesSpacingAT: off;
$stylesPosSizingDisplayAT: on;
$stylesFlexboxAT: off;
$stylesListsFloatsAT: on;
$stylesTextAT: off;
$stylesBackgroundsBanAT: off;

//After Tablet Landscape ATL
$stylesSpacingATL: off;
$stylesPosSizingDisplayATL: off;
$stylesFlexboxATL: off;
$stylesListsFloatsATL: off;
$stylesTextATL: off;
$stylesBackgroundsBanATL: off;

//Tablet Landscape Only TLO
$stylesSpacingTLO: off;
$stylesPosSizingDisplayTLO: off;
$stylesFlexboxTLO: off;
$stylesListsFloatsTLO: off;
$stylesTextTLO: off;
$stylesBackgroundsBanTLO: off;

//Before Desktop BD
$stylesSpacingBD: off;
$stylesPosSizingDisplayBD: off;
$stylesFlexboxBD: off;
$stylesListsFloatsBD: off;
$stylesTextBD: off;
$stylesBackgroundsBanBD: off;

//After Laptop AL
$stylesSpacingAL: off;
$stylesPosSizingDisplayAL: off;
$stylesFlexboxAL: off;
$stylesListsFloatsAL: off;
$stylesTextAL: off;
$stylesBackgroundsBanAL: off;

//After Desktop AD
$stylesSpacingAD: off;
$stylesPosSizingDisplayAD: off;
$stylesFlexboxAD: off;
$stylesListsFloatsAD: off;
$stylesTextAD: off;
$stylesBackgroundsBanAD: off;