/* =============================================================================
   Classes Activators | Custom [activatorsMain.scss]
   ========================================================================== */

// Colours
    $colouredButtons_act:   off;
    $colouredLabels_act:    off;
    $colouredInputs_act:    off;
    
// Fonts
    $openSans_classes_act:  off;

// Text
    $anchorUnderline:       on;
    
// Pointers
    $button_pointer_act:    off;

// Slider
    $sliderArrow_act:       off;
    $sliderDots_act:        off;