/* =============================================================================
   Classes Activators | Custom [activatorsMain.scss]
   ========================================================================== */

// Colours
    $coloursButtons:    off;
    $coloursLabels:     off;
    $coloursInputs:     off;
    
// Fonts
    $openSansClasses:   off;

// Text
    $anchorUnderline:   on;
    
// Pointers
    $button_pointer_act:    off;

// Slider
    $sliderArrow_act:      off;
    $sliderDots_act:        off;