/* =============================================================================
   Classes Activators | Custom [activatorsMain.scss]
   ========================================================================== */

// Colours
    $coloursButtons:    off;
    $coloursLabels:     off;
    $coloursInputs:     off;
    
// Fonts
    $openSansClasses:   off;

// Text
    $anchorUnderline:   on;
    
// Pointers
    $pointerButtons:    off;

// Slider
    $slider_arrows:      off;
    $slider_dots:        off;