/* =============================================================================
   Animation Variables | Custom [animations.scss]
   ========================================================================== */
$hoverGrowDisplay: inline-block;
$hoverGrowScale: 1.05;
$hoverGrowScaleMedium: 1.10;
$hoverGrowScaleBig: 1.15;