/* =============================================================================
   Animation Variables | Custom [variables/animations.scss]
   ========================================================================== */
$hoverGrow_display_ani: inline-block;
$hoverGrow_scaleSmall_ani: 1.05;
$hoverGrow_scaleMedium_ani: 1.10;
$hoverGrow_scaleLarge_ani: 1.15;