/* =============================================================================
   Border Colours Variables | Custom [variables/colours_borders.scss]
   ========================================================================== */
/* // References ------------------------------------------------------------ */
// X, L, D  = extra, light, dark
// De, B    = desaturated, bright


///**Border Colours:** 
    ///Aquí se declaran los colores de bordes del sitio. No se genera ningún CSS de este mapa. Solamente se utilizan las variables declaradas abajo en los archivos .scss
$borderColours_map:(
    white:          $white,
    black:          $black,
  //redColour:      $redColour,
  //greenSystem:    $greenSystem,
    greyXXL:        $greyXXL,
    greyXL:         $greyXL,
    greyL:          $greyL,
    grey:           $grey,
    greyD:          $greyD,
    greyXD:         $greyXD,
    
    error:          $errorColour
);

$bdError:           map-get($borderColours_map, error);

$bdWhite:           map-get($borderColours_map, white);
$bdBlack:           map-get($borderColours_map, black);
//$bdRedColour:       map-get($borderColours_map, redColour);
//$bdGreenSystem:     map-get($borderColours_map, greenSystem);
$bdGreyXXL:         map-get($borderColours_map, greyXXL);
$bdGreyXL:          map-get($borderColours_map, greyXL);
$bdGreyL:           map-get($borderColours_map, greyL);
$bdGrey:            map-get($borderColours_map, grey);
$bdGreyD:           map-get($borderColours_map, greyD);
$bdGreyXD:          map-get($borderColours_map, greyXD);

$bdColour_main_global: $bdGrey;
$bdColour_main_global_hover: darken($bdColour_main_global, 15%);

$bdColour_secondary_global: $bdGreyD;
$bdColour_secondary_global_hover: darken($bdColour_main_global, 15%);