/* =============================================================================
   Background Colours Variables | Custom [colourBackgrounds.scss]
   ========================================================================== */
///**Background Colours Map:** 
    ///Aquí se agregan los colores de fondo, de este mapa se creará una clase por cada color, eg.: `.bgBlack{background-color: #000}` con el mixin **backgroundColourClassesGenerator** `[/etc/scss/mixinsColours.scss]`.
$backgroundColoursMap:(
    White: $white,
    Black: $black,
    Error: $errorColour,
    //RedColour: $redColour,
    Green: $green,
    GreyXXL: $greyXXL,
    GreyXL: $greyXL,
    GreyL: $greyL,
    Grey: $grey,
    GreyD: $greyD,
    GreyXD: $greyXD
);

$bgWhite: map-get($backgroundColoursMap, White);
$bgBlack: map-get($backgroundColoursMap, Black);
$bgError: map-get($backgroundColoursMap, Error);
//$bgRedColour: map-get($backgroundColoursMap, RedColour);
$bgGreen: map-get($backgroundColoursMap, Green);
$bgGreyXXL: map-get($backgroundColoursMap, GreyXXL);
$bgGreyXL: map-get($backgroundColoursMap, GreyXL);
$bgGreyL: map-get($backgroundColoursMap, GreyL);
$bgGrey: map-get($backgroundColoursMap, Grey);
$bgGreyD: map-get($backgroundColoursMap, GreyD);
$bgGreyXD: map-get($backgroundColoursMap, GreyXD);

    //Declaramos las variables para colores de fondo
$bodyBgColour: $bgWhite;    
$mainBgColour: $bgGrey;
$imgBgNeutralColour: $bgGreyL;
$bgModalNav: $bgBlack;

///**Background Colours Hover Map:** 
    ///Aquí se agregan los colores de las pseudoclases `:focus` y `:hover` para los elementos `a`, `button`, `input[type="submit"]` e `input[type="file"]`, de este mapa se creará una clase por cada color, eg.: `*.bgBlack:focus, *.bgBlack:hover{background-color: #333}` con el mixin **backgroundColourHoverClassesGenerator** `[/etc/scss/mixinsColours.scss]`.
$backgroundColoursHoverMap:(    
    mainBgColour: darken($mainBgColour, 20%),
/*    bgGrey: lighten($bgGrey, 20%)*/
);

//$bgBlueHover: map-get($backgroundColoursHoverMap, bgBlue);

/* =============================================================================
   Modal Opacity Variables | Custom [coloursBackgrounds.scss]
   ========================================================================== */
    //El valor de la opacidad debe ser de dos cifras ej. "20", "75" ó "100"
$modalOpacity: 85;
$modalNavOpacity: $modalOpacity;