/* =============================================================================
   Border Colours Variables | Custom [coloursBorders.scss]
   ========================================================================== */
///**Border Colours:** 
    ///Aquí se declaran los colores de bordes del sitio.
$borderColours_map:(
    white:     $white,
    black:     $black,
    error:     $errorColour,
  //redColour: $redColour,
  //green:     $green,
    greyXXL:   $greyXXL,
    greyXL:    $greyXL,
    greyL:     $greyL,
    grey:      $grey,
    greyD:     $greyD,
    greyXD:    $greyXD
);

$bcWhite:     map-get($borderColours_map, white);
$bcBlack:     map-get($borderColours_map, black);
$bcError:     map-get($borderColours_map, error);
//$bcRedColour: map-get($borderColours_map, redColour);
//$bcGreen:     map-get($borderColours_map, green);
$bcGreyXXL:   map-get($borderColours_map, greyXXL);
$bcGreyXL:    map-get($borderColours_map, greyXL);
$bcGreyL:     map-get($borderColours_map, greyL);
$bcGrey:      map-get($borderColours_map, grey);
$bcGreyD:     map-get($borderColours_map, greyD);
$bcGreyXD:    map-get($borderColours_map, greyXD);

$bcColour_main_global: $bcGrey;
$bcColour_main_global_hover: darken($bcColour_main_global, 15%);

$bcColour_secondary_global: $bcGreyD;
$bcColour_secondary_global_hover: darken($bcColour_main_global, 15%);