/* =============================================================================
   Background Colours Variables | Custom [coloursBackgrounds.scss]
   ========================================================================== */
///**Background Colours Map:** 
    ///Aquí se agregan los colores de fondo, de este mapa se creará una clase por cada color, eg.: `.bgBlack{background-color: #000}` con el mixin **backgroundColourClassesGenerator** `[/etc/scss/mixinsColours.scss]`.
$backgroundColours_map:(
    Error:      $errorColour,
    
    White:      $white,
    Black:      $black,
  //RedColour:  $redColour,
    Green:      $green,
    GreyXXL:    $greyXXL,
    GreyXL:     $greyXL,
    GreyL:      $greyL,
    Grey:       $grey,
    GreyD:      $greyD,
    GreyXD:     $greyXD
);

$bgErrorColour: map-get($backgroundColours_map, Error);

$bgWhite:       map-get($backgroundColours_map, White);
$bgBlack:       map-get($backgroundColours_map, Black);
//$bgRedColour:   map-get($backgroundColours_map, RedColour);
$bgGreen:       map-get($backgroundColours_map, Green);
$bgGreyXXL:     map-get($backgroundColours_map, GreyXXL);
$bgGreyXL:      map-get($backgroundColours_map, GreyXL);
$bgGreyL:       map-get($backgroundColours_map, GreyL);
$bgGrey:        map-get($backgroundColours_map, Grey);
$bgGreyD:       map-get($backgroundColours_map, GreyD);
$bgGreyXD:      map-get($backgroundColours_map, GreyXD);

    //Declaramos las variables para colores de fondo
$bgColour_body:                     $bgWhite;    
$bgColour_main_global:              $bgGrey;
$bgColour_imgNeutral_global:        $bgGreyL;

///**Background Colours Hover Map:** 
    ///Aquí se agregan los colores de las pseudoclases `:focus` y `:hover` para los elementos `a`, `button`, `input[type="submit"]` e `input[type="file"]`, de este mapa se creará una clase por cada color, eg.: `*.bgBlack:focus, *.bgBlack:hover{background-color: #333}` con el mixin **backgroundColourHoverClassesGenerator** `[/etc/scss/mixinsColours.scss]`.
$backgroundColours_hover_map:(    
    mainBgColour: darken($bgColour_main_global, 20%),
/*    bgGrey: lighten($bgGrey, 20%)*/
);

//$bgBlue_hover: map-get($backgroundColours_hover_map, bgBlue);

/* =============================================================================
   Modal Opacity Variables | Custom [coloursBackgrounds.scss]
   ========================================================================== */
    //El valor de la opacidad debe ser de dos cifras ej. "20", "75" ó "100"
$modal_opacity_global:      85;
$modal_bgColour_global:     $bgBlack;

    //Responsive nav
$modal_bgColour_nav: $bgBlack;
$modal_opacity_nav:  80;