/* =============================================================================
   Container Variables | Custom
   ========================================================================== */
$grid-gutter-width: 30px;

//Container Sizes
$containerMobileValue: 300px; /* Mobile / Container: 300px */
$containerMobileLandscapeValue: 90%;
$containerTabletValue: 690px; /* iPad / Container: 720px */
$containerTabletLandscapeValue: 970px; /* iPad Landscape / Container: 1000px */
$containerLaptopValue: $containerTabletLandscapeValue; /* Laptop / Container: 1000px */
$containerDesktopValue: $containerLaptopValue; /* 1170px; /* Desktop / Container: 1200px */
$containerDesktopLargeValue: $containerLaptopValue; /* 1520px; /* Big Screens / Container: 1550px */

//Container Center Negative Values
$cMFullSize:  calc(#{$containerMobileValue} + 30px); /* Mobile FullSize */
$cMLFullSize: calc(#{$containerMobileLandscapeValue} + 30px); /* Mobile Landscape FullSize */
$cTFullSize:  calc(#{$containerTabletValue} + 30px); /* Tablet FullSize*/
$cTLFullSize: calc(#{$containerTabletLandscapeValue} + 30px); /* Tablet Landscape FullSize*/
$cLFullSize:  calc(#{$containerLaptopValue} + 30px); /* Laptop FullSize */
$cDFullSize:  calc(#{$containerDesktopValue} + 30px); /* Desktop FullSize */
$cDLFullSize: calc(#{$containerDesktopLargeValue} + 30px); /* Desktop Large FullSize*/

$cMHalf:  calc(#{$cMFullSize}/2); /* Mobile Half */
$cMLHalf: calc(#{$cMLFullSize}/2); /* Mobile Landscape Half */
$cTHalf:  calc(#{$cTFullSize}/2); /* Tablet Half*/
$cTLHalf: calc(#{$cTLFullSize}/2); /* Tablet Landscape Half*/
$cLHalf:  calc(#{$cLFullSize}/2); /* Laptop Half */
$cDHalf:  calc(#{$cDFullSize}/2); /* Desktop Half */
$cDLHalf: calc(#{$cDLFullSize}/2); /* Desktop Large Half*/

$cMHneg: calc(-1 * #{$cMHalf}); /* Mobile Half */
$cMLHneg: calc(-1 * #{$cMLHalf}); /* Mobile Landscape Half */
$cTHneg: calc(-1 * #{$cTHalf}); /* Tablet Half*/
$cTLHneg: calc(-1 * #{$cTLHalf}); /* Tablet Landscape Half*/
$cLHneg: calc(-1 * #{$cLHalf}); /* Laptop Half */
$cDHneg: calc(-1 * #{$cDHalf}); /* Desktop Half */
$cDLHneg: calc(-1 * #{$cDLHalf}); /* Desktop Large Half*/