/* =============================================================================
   Font Colours Variables | Custom [fontColours.scss]
   ========================================================================== */
///**Font Colours:** 
    ///Aquí se declaran los colores principales de texto y de ánclas del sitio, con sus `:hover`.
$mainFontColour: $black;
$mainFontColourHover: lighten($mainFontColour, 20%);

$anchorFontColour: $mainFontColourHover;
$anchorFontColourHover: darken($mainFontColourHover, 10%);

//$secondaryFontColour: #999;