/* =============================================================================
   Nav Fonts Variables | Custom [fontsNav.scss]
   ========================================================================== */
$navFontFamily: $mainFontFamily;
$navSelectedFontFamily: $navFontFamily;
$hamburgerFontFamily: $arial;