/* =============================================================================
   Form Fonts Variables | Custom [fontsForms.scss]
   ========================================================================== */
$formLabelFontFamily: $mainFontFamily;
$formSugFontFamily: $arial;
$formInputFontFamily: $mainFontFamily;
$formSubmitFontFamily: $mainFontFamily;