/* =============================================================================
   Fonts Main Variables | Custom [fontsMain.scss]
   ========================================================================== */
///**Custom Font Families:**
    ///Aquí se agregan las fuentes usadas en el sitio, de este mapa se creará una clase por cada fuente, eg. `.mainFontName{font-family: MainFont-file;}`, con el mixin **fontFamilyCustomClassesGenerator**.
$fontFamiliesSiteFontsMap:(    
    arial: Arial,
    roboto: Roboto,
    //timesNewRoman: 'Times New Roman',
);

///**Activador de clases para fuente openSans:**
    ///Con esta clase se activa la creación de clases para las fuentes OpenSans, que se encuentran en el mapa `$openSansMap` en `[/etc/scss/openSans.scss]`. Las clases son `.openSansL`, `.openSans`, `.openSansI`, `.openSansB` y `.openSansBI`, se crean con el el mixin **fontFamilyCustomClassesGenerator**, `[/etc/scss/mixinsFonts.scss]`.
$openSansClasses: off;
//$openSansMap:(
//    openSansL: open_sanslight,
//    openSans: open_sansregular,
//    openSansI: open_sansitalic,
//    openSansB: open_sansbold,
//    openSansBI: open_sansbold_italic
//);

// Chequear Arial, Roboto o Times como Main Font Family
$arial: map-get($fontFamiliesSiteFontsMap, arial);
$roboto: map-get($fontFamiliesSiteFontsMap, roboto);
//$timesNewRoman: map-get($fontFamiliesSiteFontsMap, timesNewRoman);

//$openSansL: map-get($openSansMap, openSansL);
//$openSans: map-get($openSansMap, openSans);
//$openSansI: map-get($openSansMap, openSansI);
//$openSansB: map-get($openSansMap, openSansB);
//$openSansBI: map-get($openSansMap, openSansBI);

    //Creamos la variable de la fuente principal del sitio
$mainFontFamily: $arial;
$mainFontFamilyBold: $mainFontFamily;

//Main font Stack    
$mainFontStack:(
    $mainFontFamily,
    //$arial, // Chequear Arial, Roboto o Times como Main Font Family
    $roboto,
    //$timesNewRoman,
    $fontFamiliesListSans
    //$fontFamiliesListSerif
    //$fontFamiliesListMono
);

$mainFontWeight: 400;
$mainLineHeight: 1.4;

$mainFontSize: 1rem;
$mainFontSizeParagraphBT: 1rem;
$mainFontSizeParagraphAT: 1rem;
$mainFontSizeParagraphATL: 1rem;
$mainFontSizeAnchor: 1rem;
$headingMargin: 0 0 0.8em;
$textMargin: 0;
$textMarginSibling: 0.8em 0 0;

//Heading Sizes
$fontSizesMapMobile:(
    $h1List: 1.6rem,
    $h2List: 1.5rem,
    $h3List: 1.4rem,
    $h4List: 1.3rem,
    $h5List: 1.3rem,
    $h6List: 1.3rem
);
$fontSizesMapTablet:(
    $h1List: 1.6rem,
    $h2List: 1.5rem,
    $h3List: 1.4rem,
    $h4List: 1.3rem,
    $h5List: 1.3rem,
    $h6List: 1.3rem
);
$fontSizesMapDesktop:(
    $h1List: 2.4rem,
    $h2List: 2.2rem,
    $h3List: 2rem,
    $h4List: 1.8rem,
    $h5List: 1.6rem,
    $h6List: 1.4rem
);

// Useful Text Format
$fontSizeReset: 1rem;
$lineHeightReset: 1rem;