/* =============================================================================
   Fonts Main Variables | Custom [fontsMain.scss]
   ========================================================================== */
///**Custom Font Families:**
    ///Aquí se agregan las fuentes usadas en el sitio, de este mapa se creará una clase por cada fuente, eg. `.mainFontName{font-family: MainFont-file;}`, con el mixin **fontFamilyCustomClassesGenerator**.
$fontFamilies_map:(    
    arial:  Arial,
    roboto: Roboto,
    //timesNewRoman: 'Times New Roman',
);


/* // Chequear Arial, Roboto o Times como Main Font Family ------------------ */
$arial:     map-get($fontFamilies_map, arial);
$roboto:    map-get($fontFamilies_map, roboto);
//$timesNewRoman: map-get($fontFamilies_map, timesNewRoman);

//$openSansL:   map-get($fontFamilies_map_OpenSans, openSansL);
//$openSans:    map-get($fontFamilies_map_OpenSans, openSans);
//$openSansI:   map-get($fontFamilies_map_OpenSans, openSansI);
//$openSansB:   map-get($fontFamilies_map_OpenSans, openSansB);
//$openSansBI:  map-get($fontFamilies_map_OpenSans, openSansBI);

   // Creamos la variable de la fuente principal del sitio
$fontFamily_main_global:    $arial;
$fontFamily_bold_global:    $fontFamily_main_global;


/* // Main font Stack ------------------------------------------------------- */
$fontStack_map:(
    $fontFamily_main_global,
    //$arial, // Chequear Arial, Roboto o Times como Main Font Family
    $roboto,
    //$timesNewRoman,
    $fontFamilies_list_sans
    //$fontFamilies_list_serif
    //$fontFamilies_list_monospaced
);

$fontWeight_global: 400;
$lineHeight_global: 1.4;

$fontSize_global:         1rem;
$fontSize_paragraph_BT:   0.9rem;
$fontSize_paragraph_AT:   1rem;
$fontSize_paragraph_ATL:  $fontSize_paragraph_AT;

$formInput_fontSize_BT:   0.9rem;
$formInput_fontSize_AT:   0.9rem;
$formInput_fontSize_ATL:  $formInput_fontSize_AT;

$headings_marginTRBL_global:   0 0 0.8em;
$headings_marginTRBL_sibling:  1.2em 0 0;
$text_marginTRBL_global:       0;
$text_marginTRBL_sibling:      0.8em 0 0;


/* // Heading Sizes --------------------------------------------------------- */
$fontSize_map_mobile:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);
$fontSize_map_tablet:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);
$fontSize_map_desktop:(
    $h1_list: 2.4rem,
    $h2_list: 2.2rem,
    $h3_list: 2rem,
    $h4_list: 1.8rem,
    $h5_list: 1.6rem,
    $h6_list: 1.4rem
);


/* // Useful Text Format ---------------------------------------------------- */
$fontSize_reset:     1rem;
$fontSize_reset_em:   1em;
$lineHeight_reset:   1em;