/* =============================================================================
   Fonts Colours Variables | Custom [variables/fonts_colours.scss]
   ========================================================================== */
///**Fonts Colours:** 
    ///Aquí se declaran los colores principales de texto y de ánclas del sitio, con sus `:hover`.
$fontColour_main_global:         $black;
$fontColour_main_global_hover:   lighten($fontColour_main_global, 20%);

$fontColour_anchor_global:       $fontColour_main_global_hover;
$fontColour_anchor_global_hover: darken($fontColour_main_global_hover, 10%);

//$fontColour_secondary_global: #999;