/* =============================================================================
   Fonts Main Variables | Custom [fontsMain.scss]
   ========================================================================== */
///**Custom Font Families:**
    ///Aquí se agregan las fuentes usadas en el sitio, de este mapa se creará una clase por cada fuente, eg. `.mainFontName{font-family: MainFont-file;}`, con el mixin **fontFamilyCustomClassesGenerator**.
$fontFamiliesSiteFontsMap:(    
    arial: Arial,
    roboto: Roboto,
    //timesNewRoman: 'Times New Roman',
);

// Chequear Arial, Roboto o Times como Main Font Family
$arial: map-get($fontFamiliesSiteFontsMap, arial);
$roboto: map-get($fontFamiliesSiteFontsMap, roboto);
//$timesNewRoman: map-get($fontFamiliesSiteFontsMap, timesNewRoman);

//$openSansL: map-get($openSansLmap, openSansL);
//$openSansR: map-get($openSansRmap, openSansR);
//$openSansI: map-get($openSansImap, openSansI);
//$openSansB: map-get($openSansBmap, openSansB);
//$openSansBI: map-get($openSansBImap, openSansBI);

    //Creamos la variable de la fuente principal del sitio
$mainFontFamily: $arial;
$mainFontFamilyBold: $mainFontFamily;

//Main font Stack    
$mainFontStack:(
    $mainFontFamily,
    //$arial, // Chequear Arial, Roboto o Times como Main Font Family
    $roboto,
    //$timesNewRoman,
    $fontFamiliesListSans
    //$fontFamiliesListSerif
    //$fontFamiliesListMono
);

$mainFontWeight: 400;
$mainLineHeight: 1.4;

$mainFontSize: 1rem;
$mainFontSizeParagraphBT: 0.9rem;
$mainFontSizeParagraphAT: 1rem;
$mainFontSizeParagraphATL: $mainFontSizeParagraphAT;

$formFieldFontSizeBT: 1.1rem;
$formFieldFontSizeAT: 1.2rem;
$formFieldFontSizeATL: $mainFontSizeParagraphAT;

$headingMargin: 0 0 0.8em;
$textMargin: 0;
$textMarginSibling: 0.8em 0 0;
$headingMarginSibling: 1.2em 0 0;

//Heading Sizes
$fontSizesMapMobile:(
    $h1List: 1.6rem,
    $h2List: 1.5rem,
    $h3List: 1.4rem,
    $h4List: 1.3rem,
    $h5List: 1.3rem,
    $h6List: 1.3rem
);
$fontSizesMapTablet:(
    $h1List: 1.6rem,
    $h2List: 1.5rem,
    $h3List: 1.4rem,
    $h4List: 1.3rem,
    $h5List: 1.3rem,
    $h6List: 1.3rem
);
$fontSizesMapDesktop:(
    $h1List: 2.4rem,
    $h2List: 2.2rem,
    $h3List: 2rem,
    $h4List: 1.8rem,
    $h5List: 1.6rem,
    $h6List: 1.4rem
);

// Useful Text Format
$fontSizeReset: 1rem;
$fontSizeResetEM: 1em;
$lineHeightReset: 1em;