/* =============================================================================
   Fonts Colours Variables | Custom [variables/fonts_colours.scss]
   ========================================================================== */
///**Fonts Colours:** 
    ///Aquí se declaran los colores principales de texto y de ánclas del sitio, con sus `:hover`.
$ftColour_main_global:         $black;
$ftColour_main_global_hover:   lighten($ftColour_main_global, 20%);

$ftColour_anchor_global:       $ftColour_main_global_hover;
$ftColour_anchor_global_hover: darken($ftColour_main_global_hover, 10%);

//$ftColour_secondary_global: #999;