/* =============================================================================
   Footer Sizes Variables | Custom [footerSizes.scss]
   ========================================================================== */

   $footer_logoFloated_width: $logo_width_footer_AT;
    
/* -------------------------------------
    Full height index                 */

$footer_height_BT:     80px;
$footer_height_AT:     100px;    
    
/*  Full height index
    --------------------------------- */