/* =============================================================================
   Forms Variables | Custom [forms.scss]
   ========================================================================== */
//Labels activator
$labelsVisible: on;
$formInsideLabel: on;
$formSug: on;

//Responsive Values
    // Form
$formWidthMO:  270px!important;
$formWidthBT:  90%!important;
$formWidthTO:  520px!important;
$formWidthATL: 520px; //No debe llevar !important
$formWidthAD:  520px; //No debe llevar !important
    
    // Labels
$formLabelWidthMO: $formWidthMO;
$formLabelWidthBT: $formWidthBT;
$formLabelWidthTO: $formWidthTO;
$formLabelWidthATL: $formWidthATL;
$formLabelWidthAD: $formWidthAD;

$formLabelHeightMO:  30px;
$formLabelHeightBT:  $formLabelHeightMO;
$formLabelHeightTO:  $formLabelHeightBT;
$formLabelHeightATL: $formLabelHeightTO;
$formLabelHeightAD:  $formLabelHeightATL;

    // Sug
$formLabelSugHeightBT:  20px;
$formLabelSugHeightTO:  $formLabelSugHeightBT;
$formLabelSugHeightATL: $formLabelSugHeightTO;
$formLabelSugHeightAD:  $formLabelSugHeightATL;

$formLabelContentsHeightBT:  30px;
$formLabelContentsHeightTO:  $formLabelContentsHeightBT;
$formLabelContentsHeightATL: $formLabelContentsHeightTO; //No debe llevar !important
$formLabelContentsHeightAD:  $formLabelContentsHeightATL; //No debe llevar !important

    // Inputs
$formInputWidthMO:  $formLabelWidthMO;
$formInputWidthBT:  $formLabelWidthBT;
$formInputWidthTO:  $formLabelWidthTO;
$formInputWidthATL: $formLabelWidthATL; //No debe llevar !important
$formInputWidthAD:  $formLabelWidthAD; //No debe llevar !important

$formInputHeightMO:  $formLabelHeightMO;
$formInputHeightBT:  $formLabelHeightBT;
$formInputHeightTO:  $formLabelHeightTO;
$formInputHeightATL: $formLabelHeightATL; //No debe llevar !important
$formInputHeightAD:  $formLabelHeightAD; //No debe llevar !important
    
    // Submit
$formSubmitWidthBT: ;

$formSubmitHeightValueBT: 50px;
$formSubmitLineHeightValueBT: 50px;

$formSubmitHeightValueTO: 45px;
$formSubmitLineHeightValueTO: 45px;

$formSubmitHeightValueATL: 30px;
$formSubmitLineHeightValueATL: 30px;

$formSubmitHeightValueAD: 30px;
$formSubmitLineHeightValueAD: 30px;

    //Search Form
$searchFormWidthBT: 270px;
$searchFormWidthAT: $searchFormWidthBT;
$searchFormWidthAL: $searchFormWidthAT;
$searchFormSubmitValueBT: 30px;
$searchFormSubmitValueAT: $searchFormSubmitValueBT;
$searchFormSubmitValueAL: $searchFormSubmitValueAT;