/* =============================================================================
   Forms Variables | Custom
   ========================================================================== */
//Labels activator
$labelsVisible: on;
$formInsideLabel: on;

//Responsive Values
    //Widths
$formLabelWidthMO:  270px!important;
$formLabelWidthBT:  90%!important;
$formLabelWidthTO:  520px!important;
$formLabelWidthATL: 520px; //No debe llevar !important
$formLabelWidthAD:  520px; //No debe llevar !important

$formWidthMO:  $formLabelWidthMO;
$formWidthBT:  $formLabelWidthBT;
$formWidthTO:  $formLabelWidthTO;
$formWidthATL: $formLabelWidthATL;
$formWidthAD:  $formLabelWidthAD;

    //Heights    
$formLabelHeightMO:  30px;
$formLabelHeightBT:  $formLabelHeightMO;
$formLabelHeightTO:  $formLabelHeightBT;
$formLabelHeightATL: $formLabelHeightTO;
$formLabelHeightAD:  $formLabelHeightATL;

$formLabelSugHeightBT:  20px;
$formLabelSugHeightTO:  $formLabelSugHeightBT;
$formLabelSugHeightATL: $formLabelSugHeightTO;
$formLabelSugHeightAD:  $formLabelSugHeightATL;

$formLabelContentsHeightBT:  30px;
$formLabelContentsHeightTO:  $formLabelContentsHeightBT;
$formLabelContentsHeightATL: $formLabelContentsHeightTO; //No debe llevar !important
$formLabelContentsHeightAD:  $formLabelContentsHeightATL; //No debe llevar !important

    //Inputs
$formInputWidthMO:  $formLabelWidthMO;
$formInputWidthBT:  $formLabelWidthBT;
$formInputWidthTO:  $formLabelWidthTO;
$formInputWidthATL: $formLabelWidthATL; //No debe llevar !important
$formInputWidthAD:  $formLabelWidthAD; //No debe llevar !important

$formInputHeightMO:  $formLabelHeightMO;
$formInputHeightBT:  $formLabelHeightBT;
$formInputHeightTO:  $formLabelHeightTO;
$formInputHeightATL: $formLabelHeightATL; //No debe llevar !important
$formInputHeightAD:  $formLabelHeightAD; //No debe llevar !important

$formSubmitHeightValueBT: 50px;
$formSubmitHeightValueTO: 45px;
$formSubmitHeightValueATL: 30px;
$formSubmitHeightValueAD: 30px;

    //Search Form
$searchFormWidthBT: 270px;
$searchFormWidthAT: $searchFormWidthBT;
$searchFormWidthAL: $searchFormWidthAT;
$searchFormSubmitValueBT: 30px;
$searchFormSubmitValueAT: $searchFormSubmitValueBT;
$searchFormSubmitValueAL: $searchFormSubmitValueAT;