/* =============================================================================
   Forms Colours Variables | Custom [formsColours.scss]
   ========================================================================== */
///**Forms:** 
    ///Aquí se declaran las variables de colores de texto de los elementos `label`, `input`, `placeholder` y `submit` con sus `:hover`; los colores de fondo de los elementos `input` y `option` y `submit`, con sus `:hover`; y los colores de borde de los elementos `input`  y `submit`, con sus `:hover`. Además se declara el color de borde cuando un input tiene error con la variable `$inputErrorBcColour`.
    ///con sus `:hover`.
     
    // Labels
$formLabel_fontColour:           $fontColour_main_global;
$formLabel_fontColour_hover:     darken($formLabel_fontColour, 15%);
 
    // Inputs 
$formInput_fontColour:           $fontColour_main_global;
$formInput_fontColour_hover:     $formInput_fontColour;
 
$formPlaceholder_fontColour:     lighten($fontColour_main_global, 10%); // Descomentar líneas 13 a 18 en '[/etc/css/scss/settingsText.scss]'
  
$formInput_bcColour:             $bcColour_main_global;
$formInput_bcColour_hover:       $bcColour_main_global_hover;
$formInput_bgColour:             $white;
$formInput_bgColour_hover:       $formInput_bgColour;
$formInput_bgColour_autofill:    $formInput_bgColour;
    
$formInput_shadowInset:          inset 0 0 4px $greyD;
 
    // Submit 
$formSubmit_fontColour:          $black;
$formSubmit_fontColour_hover:    $formSubmit_fontColour;
  
$formSubmit_bcColour:            $bcColour_main_global;
$formSubmit_bcColour_hover:      $formSubmit_bcColour;
  
$formSubmit_bgColour:            $bgColour_main_global;
$formSubmit_bgColour_hover:      $formSubmit_bgColour;

    // Validation
$formInput_msgError_fontColour:  $errorColour;
 
$formStatus_msgError_bgColour:   $bgErrorColour;
$formStatus_msgError_fontColour: $white;
$formStatus_msgOK_bgColour:      $bgWhite;