/* =============================================================================
   Form Fonts Variables | Custom [formsFonts.scss]
   ========================================================================== */
$formLabel_fontFamily:   $fontFamily_main_global;
$formInput_fontFamily:   $fontFamily_main_global;
$formSubmit_fontFamily:  $fontFamily_main_global;