/* =============================================================================
   Forms Colours Variables | Custom [formsColours.scss]
   ========================================================================== */
$formLabelFontColour: $mainFontColour;
$formLabelFontColourHover: darken($mainFontColour, 15%);

$formInputFontColour: $formLabelFontColourHover;
$formInputFontColourHover: $formInputFontColour;

$formPlaceholderFontColour: lighten($mainFontColour, 10%);

$formInputBcColour: $mainBcColour;
$formInputBcColourHover: $mainBcColourHover;
$formInputBgColour: $white;
$formInputBgColourHover: $formInputBgColour;

$formSubmitFontColour: $black;
$formSubmitFontColourHover: $white;
$formSubmitBcColour: $mainBcColour;
$formSubmitBcColourHover: $formSubmitBcColour;
$formSubmitBgColour: $mainBgColour;
$formSubmitBgColourHover: $formSubmitBgColour;

    //Validation
$invalidMandatoryMessageBgColour: $bgError;
$invalidMandatoryMessageFontColour: $white;

    //Status Messages
$statusOKpopUpBgColour: $bgWhite;