/* =============================================================================
   Forms Activators | Custom [formsActivators.scss]
   ========================================================================== */
//Labels activator
$labelsVisible: off;
$formInsideLabel: on;
$formSug: off;