/* =============================================================================
   Form Fonts Variables | Custom [formsFonts.scss]
   ========================================================================== */
$formLabelFontFamily: $mainFontFamily;
$formInputFontFamily: $mainFontFamily;
$formSubmitFontFamily: $mainFontFamily;