/* =============================================================================
   Header Activators | Custom [headerActivators.scss]
   ========================================================================== */

// Menu y logo 
    $floatedLogoNav: on;
    @import "logo"; 
    
    
// Header 
    $headerFixed: on;
    @import "headerHeight";    
    
    $fullHeightIndex: off;
    
    
// Language Flags
    $circleFlags: off;