/* =============================================================================
   Header Activators | Custom [headerActivators.scss]
   ========================================================================== */

// Menu y logo 
    $logoNav_floated_act: on;
    @import "-logo"; 
    
    
// Header 
    $header_fixed_act: on;
    @import "-headerHeight";    
    
    $index_fullHeight_act: off;
    
    
// Language Flags
    $language_flags_circled_act: off;