/* =============================================================================
   Header Height Variables | Custom [headerHeight.scss]
   ========================================================================== */
// imported in _headerActivators.scss

$header_paddingT_BT:        20px;
$header_paddingB_BT:        15px;
$header_height_navAcc_BT:   calc(#{$header_paddingT_BT} + #{$header_paddingB_BT} + #{$logo_height_BT});
$header_height_BT:          auto; //Si es auto hay que declarar 0 en la siguiente variable $header_PT_BT
$header_heightPT_BT:        0;

$header_height_AT:          90px; //Si es auto hay que declarar 0 en la siguiente variable $header_heightPT_AT
$header_heightPT_AT:        $header_height_AT;

$header_height_ATL:         120px; //Si es auto hay que declarar 0 en la siguiente variable $header_heightPT_ATL
$header_heightPT_ATL:       $header_height_ATL;

/* -------------------------------------
    Full height index                 */

$header_height_MO:          98px;
$header_height_AML:         60px;
$header_height_AT:          140px;
$header_height_ATL:         85px;    
    
/*  Full height index
    --------------------------------- */