/* =============================================================================
   Header Activators | Custom [headerActivators.scss]
   ========================================================================== */

// Menu y logo 
    $logoNav_floated_act:       off;    
    
// Header 
    $header_fixed_act:          off;
    
    $index_fullHeight_act:      off;
    
    
// Language Flags
    $language_flag_circled_act: off;