/* =============================================================================
   Helpers Values
   ========================================================================== */
// Spacing
$paddingMarginSmallValue: 5px!important;
$paddingMarginMediumValue: 10px!important;
$paddingMarginLargeValue: 20px!important;
 
$spacingHelpersMap:(
    //Aquí se agregan los valores y clases para generar los spacing helpers,
    //por cada nuevo valor (xl: 40px) se generará lo sig. para padding y margin:
    //.mtxl, .mrxl, .mbxl, .mlxl, .mhxl, .mvxl, etc{margin-right: 40px}
    
    n: $zero,
    s: $paddingMarginSmallValue,
    m: $paddingMarginMediumValue,
    l: $paddingMarginLargeValue
);

// Variables para activar los spacing helpers (sh) responsive
$shMobileOnly: off;
$shAfterMobileLandscape: off;
$shMobileLandscapeOnly: off;
$shBeforeTablet: off;
$shBeforeTabletLandscape: off;
$shTabletOnly: off;
$shAfterTablet: on;
$shAfterTabletLandscape: off;
$shTabletLandscapeOnly: off;
$shAfterLaptop: off;
$shBeforeDesktop: off;
$shAfterDesktop: off;

/* =============================================================================
   Border Helpers
   ========================================================================== */
$borderRadiusValue: 12px;