/* =============================================================================
   Spacing Helpers Variables | Custom [helpers.scss]
   ========================================================================== */
// Spacing
$paddingMarginSmallValue:   5px!important;
$paddingMarginMediumValue:  10px!important;
$paddingMarginLargeValue:   20px!important;
 
$spacingHelpersMap:(
    //Aquí se agregan los valores y clases para generar los spacing helpers,
    //por cada nuevo valor (xl: 40px) se generará lo sig. para padding y margin:
    //.mtxl, .mrxl, .mbxl, .mlxl, .mhxl, .mvxl, etc{margin-right: 40px}
    
    n: $zero,
    s: $paddingMarginSmallValue,
    m: $paddingMarginMediumValue,
    l: $paddingMarginLargeValue
);

/* =============================================================================
   Border Helpers Variables | Custom [helpers.scss]
   ========================================================================== */
$borderRadiusValue: 12px;