/* =============================================================================
   Language Sizes Variables | Custom [languageSizes.scss]
   ========================================================================== */

/* -------------------------------------------------------------------------- */
// Flags

$language_flag_circled_act:         off;
$language_flag_clicked_bottom_act:  off;
    
$language_flag_width_BT:            38px;
$language_flag_height_BT:           25px;

$language_flag_width_clicked:       55px;
$language_flag_height_clicked:      36px;

$language_flag_width_AT:            $language_flag_width_BT;
$language_flag_height_AT:           $language_flag_height_BT;

/*
$language_flag_width_AT:            48px;
$language_flag_height_AT:           32px;
*/


/* -------------------------------------------------------------------------- */
// Language UL
$language_ul_bottomValue:           20px;

$language_ul_height_BT:             calc(#{$language_flag_height_BT} + 2px);
$language_ul_height_clicked:        calc(#{$language_flag_height_clicked} + 2px);
$language_ul_height_clicked_PT:     15px;
$language_ul_height_clicked_PB:     20px;
$language_ul_height_AT:             calc(#{$language_flag_height_AT} + 2px);

$language_ul_bgColour:              $bgGrey;