/* =============================================================================
   Language Sizes Variables | Custom [variables/language_sizes.scss]
   ========================================================================== */

/* // Flags ----------------------------------------------------------------- */
$language_flag_width_BT:            38px;
$language_flag_height_BT:           25px;
$language_flag_sep_BT:              15px;

$language_flag_width_clicked:       55px;
$language_flag_height_clicked:      36px;

$language_flag_width_AT:            $language_flag_width_BT;
$language_flag_height_AT:           $language_flag_height_BT;
$language_flag_sep_AT:              10px;
$language_flag_right_AT:            20px;

$language_ul_width_AT:              calc(#{$language_flag_width_AT} + #{$language_flag_width_AT} + #{$language_flag_sep_AT} + #{$language_flag_right_AT} + 15px);

/*
$language_flag_width_AT:            48px;
$language_flag_height_AT:           32px;
*/

$language_bd_size:                  1px;
$language_bd_size_full:             calc(#{$language_bd_size} * 2);


/* // Language UL ----------------------------------------------------------- */
$language_ul_bottomValue:           20px;

$language_ul_height_BT:             calc(#{$language_flag_height_BT} + #{$language_bd_size_full});
$language_ul_height_clicked:        calc(#{$language_flag_height_clicked} + #{$language_bd_size_full});
$language_ul_height_clicked_PT:     15px;
$language_ul_height_clicked_PB:     20px;
$language_ul_height_AT:             calc(#{$language_flag_height_AT} + #{$language_bd_size_full});