/* =============================================================================
   Logo Sizes Variables | Custom [logoSizes.scss]
   ========================================================================== */
$logoWBT: 180px;
$logoWAT: 210px;
$logoWATL: 250px;