/* =============================================================================
   Logo Sizes | Custom [logoSizes.scss]
   ========================================================================== */
// imported in _headerActivators.scss

// Logo img background ::before
$logo_bg_beforeImg:   off; // variables.inc.php

// Size
$logo_width_MO:     220px;
$logo_width_AML:    220px;
$logo_width_MLO:    220px;
$logo_width_BT:     220px;
$logo_height_BT:    auto;

    // Nav Drawer logo.clicked
$logo_clicked_height:               50px;
$logo_clicked_height_paddingT:      50px;
$logo_clicked_height_paddingB:      10px;
$logo_clicked_height_heightFull:    calc(#{$logo_clicked_height} + #{$logo_clicked_height_paddingT} + #{$logo_clicked_height_paddingB});

$logo_width_AT:   210px;
$logo_width_ATL:  250px;

$logo_width_footer_BT:   50px;
$logo_height_footer_BT:  50px;
$logo_width_footer_AT:   100px;