/* =============================================================================
   Logo Sizes Variables | Custom [logoSizes.scss]
   ========================================================================== */
$logoHBT: 50px;
$logoWAT: 210px;
$logoWATL: 250px;