/* =============================================================================
   Media Queries values Variables | Custom [variables/mediaQueries_var.scss]
   ========================================================================== */ 

$mq_iPhone6_width_min:          375px;
$mq_mobile_width_max:           499px;
$mq_mobileLandscape_width_min:  500px;
$mq_mobileLandscape_width_max:  767px;
$mq_tablet_width_min:           768px;
$mq_tabletPortrait_width_max:   1023px;
$mq_tabletLandscape_width_min:  1024px;
$mq_tablet_width_max:           1199px;
$mq_desktop_width_min:          1200px;
$mq_desktopLarge_width_min:     1600px;