/* =============================================================================
   Nav Fonts Variables | Custom [navFonts.scss]
   ========================================================================== */
$navFontFamilyBT:            $mainFontFamily;
$navSubFontFamilyBT:         $navFontFamilyBT;
$navCurrentFontFamilyBT:     $navFontFamilyBT;
$navSubCurrentFontFamilyBT:  $navFontFamilyBT;
    
$navFontFamilyAT:            $mainFontFamily;
$navSubFontFamilyAT:         $navFontFamilyAT;
$navCurrentFontFamilyAT:     $navFontFamilyAT;
$navSubCurrentFontFamilyAT:  $navFontFamilyAT;
    
$navFontFamilyATL:           $mainFontFamily;
$navSubFontFamilyATL:        $navFontFamilyATL;
$navCurrentFontFamilyATL:    $navFontFamilyATL;
$navSubCurrentFontFamilyATL: $navFontFamilyATL;
 
$hamburgerFontFamily:        $arial;