/* =============================================================================
   Nav Sizes Variables | Custom [navSizes.scss]
   ========================================================================== */
$navDrawerWidth: 70vw;
$navDrawerMaxWidth: 300px;
$navListWidthBT: 200px;

$logoHClickedH: 50px;
$logoHClickedPT: 50px;
$logoHClickedPB: 10px;
$logoHClickedFH: calc(#{$logoHClickedH} + #{$logoHClickedPT} + #{$logoHClickedPB});

$topperSize: 50px;