/* =============================================================================
   Nav Arrows | Custom [navArrows.scss]
   ========================================================================== */
// imported in _navColours.scss

$navArrow_TLI_level0_openDR:        "nav_arrowD.svg";
$navArrow_TLI_level1_openDR:        "nav_arrowD.svg";
$navArrow_TLI_level2_openDR:        "nav_arrowD.svg";
$navArrow_TLI_level3_openDR:        "nav_arrowD.svg";

$navArrow_itemCurrent_level0:        "nav_arrowL.svg";
$navArrow_itemCurrent_level1:        "nav_arrowL.svg";
$navArrow_itemCurrent_level2:        "nav_arrowL.svg";
$navArrow_itemCurrent_level3:        "nav_arrowL.svg";

$navArrow_backMenu_TLI:          "nav_arrowL.svg";
$navArrow_backMenu_TLI_openDR:    "nav_arrowD.svg";