/* =============================================================================
   Nav Colours Variables | Custom [navColours.scss]
   ========================================================================== */
    //Fonts
$navFontColour: $mainFontColour;
$navFontColourBT: $navFontColour;

$navFontColourHover: $mainFontColourHover;

$navCurrentFontColour: $navFontColourHover;
$navCurrentFontColourBT: $navFontColourBT;

$hamburgerFontColour: $greyXD;
$hamburgerFontColourClicked: $hamburgerFontColour;

    //Border Colours
$bcOpenNav: $mainBcColour;
$bcCloseNav: $mainBcColour;

$bcNavItemItemBT: $bcWhite;
$bcNavSubItemItemBT: $bcNavItemItemBT;

    //Background Colours
$bgNavBT: $bgGrey;
$bgNavTopper: $bgWhite;

$bgNavItemAT: transparent;
$bgNavItemAnchor: transparent;
$bgNavItemAnchorHover: transparent;

$bgNavCurrentItemBT: darken($bgNavBT, 5%);
$bgNavCurrentItemAT: transparent;
$bgNavCurrentAnchor: transparent;
$bgNavCurrentAnchorHover: transparent;
