/* =============================================================================
   Nav Sizes Variables | Custom [navSizes.scss]
   ========================================================================== */
    // General
$nav_borderRadius:                  $helpers_border_radius_global;

    // Nav List
$navList_ul_width_BT:               200px;

    // Nav Drawer
$navDrawer_width:                   70vw;
$navDrawer_width_max:               300px;
$navDrawer_width_final:             calc(#{$navDrawer_width} - 5px);
$navDrawer_hamburger_height:        40px;

    // Nav Accordion
$navAcc_hamburger_height:           40px;
$navAcc_item_height:                45px;

    // Nav Topper
$topper_height_global:              60px;

    // Nav Heights
$nav_height_AT:                     60px;
$nav_height_ATL:                    $nav_height_AT;