/* =============================================================================
   Nav Fonts Variables | Custom [navFonts.scss]
   ========================================================================== */
$navFontFamilyBT:            $mainFontFamily;
$navCurrentFontFamilyBT:     $navFontFamilyBT;

$navSubFontFamilyBT:         $navFontFamilyBT;
$navSubCurrentFontFamilyBT:  $navSubFontFamilyBT;

    
$navFontFamilyAT:            $mainFontFamily;
$navCurrentFontFamilyAT:     $navFontFamilyAT;

$navSubFontFamilyAT:         $navFontFamilyAT;
$navSubCurrentFontFamilyAT:  $navSubFontFamilyAT;

    
$navFontFamilyATL:           $mainFontFamily;
$navSubFontFamilyATL:        $navFontFamilyATL;

$navCurrentFontFamilyATL:    $navFontFamilyATL;
$navSubCurrentFontFamilyATL: $navCurrentFontFamilyATL;
 
$hamburgerFontFamily:        $arial;