/* =============================================================================
   Nav Arrows | Custom [navArrows.scss]
   ========================================================================== */
// imported in _navColours.scss

$navArrow_TLILevel0_openDR:        "nav_arrowD.svg";
$navArrow_TLILevel1_openDR:        "nav_arrowD.svg";
$navArrow_TLILevel2_openDR:        "nav_arrowD.svg";
$navArrow_TLILevel3_openDR:        "nav_arrowD.svg";

$navArrow_itemCurrentLevel0:        "nav_arrowL.svg";
$navArrow_itemCurrentLevel1:        "nav_arrowL.svg";
$navArrow_itemCurrentLevel2:        "nav_arrowL.svg";
$navArrow_itemCurrentLevel3:        "nav_arrowL.svg";

$navArrow_backMenuTLI:          "nav_arrowL.svg";
$navArrow_backMenuTLI_openDR:    "nav_arrowD.svg";