/* =============================================================================
   Nav Colours Variables | Custom [navColours.scss]
   ========================================================================== */
    //Fonts
$navFontColour: $mainFontColour;
$navFontColourBT: $navFontColour;

$navFontColourHover: $mainFontColourHover;

$navSelectedFontColour: $navFontColourHover;
$navSelectedFontColourBT: $navFontColourBT;

$hamburgerFontColour: $greyXD;
$hamburgerFontColourClicked: $hamburgerFontColour;

    //Border Colours
$bcNavDrawerItem: $bcWhite;
$bcNavDrawerItemSub: $bcNavDrawerItem;

    //Background Colours
$bgNavItemBT: $bgGrey;
$bgNavItem: transparent;
$bgNavItemAnchor: transparent;
$bgNavItemAnchorHover: transparent;

$bgNavCurrentItemAT: transparent;
$bgNavCurrentItemBT: transparent;
$bgNavCurrentAnchor: transparent;
$bgNavCurrentAnchorHover: transparent;

$bgNavTopper: $bgWhite;