/* =============================================================================
   Nav Activators | Custom [navActivators.scss]
   ========================================================================== */
$nav_mediaQuerie_BT:                767px; // $mobileMax
$nav_mediaQuerie_AT:                768px; // $tabletMin
     
$nav_horizontalCenter_AT_act:       off; // variables.inc.php
     
$nav_topper_act:                    off;
$nav_fixed_act:                     off;
     
$navDrawer_act:                     on; // variables.inc.php
$navAcc_act:                        off; // variables.inc.php
$navList_act:                       off;
     
$nav_hasSub_act:                    off;
$nav_hasSub_level1_act:             off;
$nav_hasSub_level2_act:             off;
$nav_hasSub_level3_act:             off;

$nav_itemCurrent_borderBottom_act:  off;

$nav_text_white_act:                off;
$nav_text_black_act:                off;

$hamburger_only_act:                off;