/* =============================================================================
   Nav Activators | Custom [navActivators.scss]
   ========================================================================== */
$navBTmediaQuerie:       767px; // $mobileMax
$navATmediaQuerie:       768px; // $tabletMin

$navHorizontalCenterAT:  off; // variables.inc.php

$navTopper:              off;
$navFixed:               on;

$navDrawer:              on; // variables.inc.php
$navAcc:                 off; // variables.inc.php
$navList:                off;

$navHasSubs:             off;
$navHasSubLevel1:        off;
$navHasSubLevel2:        off;
$navHasSubLevel3:        off;

$navItemCurrentBottomBc: off;

$navTextItemWhite:       off;
$navTextItemBlack:       off;

$hamburgerOnly:          off;