/* =============================================================================
   Footer Sizes Variables | Custom [variables/section_footer_var.scss]
   ========================================================================== */

/* // Footer logo flotado --------------------------------------------------- */
$footer_logoFloated_width_MO:  $logo_width_footer_MO;
$footer_logoFloated_width_MLO: $logo_width_footer_MLO;
$footer_logoFloated_width_AT:  $logo_width_footer_AT;
    
/* // Full heights Footer --------------------------------------------------- */
$footer_height_ALL:    100px;
$footer_height_MO:     100px;
$footer_height_AML:    100px;
$footer_height_MLO:    100px;
$footer_height_BT:     100px;
$footer_height_AT:     100px;
$footer_height_TO:     100px;
$footer_height_BTL:    100px;
$footer_height_ATL:    100px;
$footer_height_TLO:    100px;
$footer_height_BD:     100px;
$footer_height_AD:     100px;