/* =============================================================================
   Nav Arrows | Custom [variables/section_nav_arrows.scss]
   ========================================================================== */
// imported in _nav_colours.scss

$navArrows_TLI_level1_openDR:        "nav_arrowD.svg";
$navArrows_TLI_level2_openDR:        "nav_arrowD.svg";
$navArrows_TLI_level3_openDR:        "nav_arrowD.svg";

$navArrows_itemCurrent_level0:       "nav_arrowL.svg";
$navArrows_itemCurrent_level1:       "nav_arrowL.svg";
$navArrows_itemCurrent_level2:       "nav_arrowL.svg";
$navArrows_itemCurrent_level3:       "nav_arrowL.svg";

$navArrows_backMenu_TLI:             "nav_arrowL.svg";
$navArrows_backMenu_TLI_openDR:      "nav_arrowD.svg";