/* =============================================================================
   Nav Colours Variables | Custom [variables/section_nav_colours.scss]
   ========================================================================== */

/* // Font Colours ---------------------------------------------------------- */
/*___ Nav BT ____________________________*/
$navFontColour_TLI_level0_BT:            $fontColour_main_global;
$navFontColour_TLI_level1_BT:            $navFontColour_TLI_level0_BT;
$navFontColour_TLI_level2_BT:            $navFontColour_TLI_level1_BT;
$navFontColour_TLI_level3_BT:            $navFontColour_TLI_level2_BT;

$navFontColour_itemLevel0_BT:            $navFontColour_TLI_level0_BT;
$navFontColour_itemLevel1_BT:            $navFontColour_TLI_level1_BT;
$navFontColour_itemLevel2_BT:            $navFontColour_TLI_level2_BT; 
$navFontColour_itemLevel3_BT:            $navFontColour_TLI_level3_BT; 

$navFontColour_TLICurrent_level0_BT:     $navFontColour_TLI_level0_BT;
$navFontColour_TLICurrent_level1_BT:     $navFontColour_TLI_level1_BT;
$navFontColour_TLICurrent_level2_BT:     $navFontColour_TLI_level2_BT;
$navFontColour_TLICurrent_level3_BT:     $navFontColour_TLI_level3_BT;

$navFontColour_itemCurrent_level0_BT:    $navFontColour_TLICurrent_level0_BT;
$navFontColour_itemCurrent_level1_BT:    $navFontColour_TLICurrent_level1_BT;
$navFontColour_itemCurrent_level2_BT:    $navFontColour_TLICurrent_level2_BT;
$navFontColour_itemCurrent_level3_BT:    $navFontColour_TLICurrent_level3_BT;

$navFontColour_backMenu_TLI:             $white!important;


/*___ Nav AT ____________________________*/
$navFontColour_item_AT:                  $fontColour_main_global;
$navFontColour_item_hover:               $navFontColour_item_AT;
$navFontColour_itemSub_AT:               $navFontColour_item_AT;
$navFontColour_itemSub_hover:            $navFontColour_itemSub_AT;
   
$navFontColour_itemCurrent_AT:           $navFontColour_item_AT;
$navFontColour_itemCurrent_hover:        $navFontColour_itemCurrent_AT;
$navFontColour_itemSubCurrent_AT:        $navFontColour_item_AT;
$navFontColour_itemSubCurrent_hover:     $navFontColour_itemSubCurrent_AT;


/*___ Topper ____________________________*/
$navFontColour_topper:                   $navFontColour_item_AT;
$navFontColour_topper_hover:             $navFontColour_topper;
$navFontColour_topper_itemCurrent:       $navFontColour_item_AT;


/*___ Hamburger _________________________*/  
$navFontColour_hamburger:                $greyXD;
$navFontColour_hamburger_clicked:        $navFontColour_hamburger;


/* // Background Colours ---------------------------------------------------- */
/*___ Nav BT ____________________________*/
$navBgColour_BT:                     $bgWhite;
       
$navBgColour_ulLevel1_BT:            transparent;
$navBgColour_ulLevel2_BT:            transparent;
$navBgColour_ulLevel3_BT:            transparent;
     
$navBgColour_itemLevel1_BT:          transparent;
$navBgColour_itemLevel2_BT:          transparent;
$navBgColour_itemLevel3_BT:          transparent;

$navBgColour_itemCurrent_level0_BT:  darken($navBgColour_BT, 5%);
$navBgColour_itemCurrent_level1_BT:  darken($navBgColour_ulLevel1_BT, 5%);
$navBgColour_itemCurrent_level2_BT:  darken($navBgColour_ulLevel1_BT, 5%);
$navBgColour_itemCurrent_level3_BT:  darken($navBgColour_ulLevel1_BT, 5%);


/*___ Nav AT ____________________________*/
$navBgColour_AT:                $bgGrey;

$navBgColour_ULsub_AT:          transparent;

$navBgColour_item_AT:           transparent;
$navBgColour_item_hover:        $navBgColour_item_AT;

$navBgColour_itemSub_AT:        $navBgColour_item_AT;
$navBgColour_itemSub_Hover:     $navBgColour_itemSub_AT;

$navBgColour_itemCurrent_AT:        transparent;
$navBgColour_itemCurrent_Hover:     $navBgColour_itemCurrent_AT;

$navBgColour_itemSubCurrent_AT:     transparent;
$navBgColour_itemSubCurrent_Hover:  $navBgColour_itemSubCurrent_AT;


/*___ Topper ____________________________*/
$navBgColour_topper:       $bgBlack;


/*___ Hamburger _________________________*/  
$navBgColour_hamburger:    $bgWhite;

@import 'section_nav_arrows';


/* // Border Colours -------------------------------------------------------- */
/*___ Nav BT ____________________________*/
$navBdColour_BT:                  $bdBlack;
$navBdColour_open:                $bdGreyD;
$navBdColour_close:               $bdGreyD;
   
$navBdColourR_navDrawer:          $bdBlack;
$navBdColour_navAcc:              $bdGreyXXL;
  
$navBdColour_itemCurrent:         $bdGrey;
  
$navBdColour_itemLevel0_BT:       $bdGrey;
$navBdColour_itemLevel1_BT:       $navBdColour_itemLevel0_BT;
$navBdColour_itemLevel2_BT:       $navBdColour_itemLevel1_BT;
$navBdColour_itemLevel3_BT:       $navBdColour_itemLevel2_BT;
  
$navBdColour_backMenu:            $navBdColour_itemLevel1_BT;


/*___ Nav AT ____________________________*/
$navBdColour_itemSub_AT:          $navBdColour_itemLevel0_BT;


/*___ Topper ____________________________*/
$navBdColour_topper:              $bdGreyD;
$navBdColour_topper_itemCurrent:  $bdGrey;