/* =============================================================================
   Shadows Variables | Custom [variables/shadows.scss]
   ========================================================================== */
$text_shadow_main:              0 0 3px $black;
$text_shadow_white:             0 0 3px $white;
$text_shadow_whiteText_hover:   0 0 3px $black;

$box_shadow_main:               0 0 10px 0 $greyD;
$box_shadow_main_inset:         inset $box_shadow_main;
$box_shadow_video:              $box_shadow_main;