/* =============================================================================
   Tables Variables | Custom [tables.scss]
   ========================================================================== */
$tableWBT: $hundred;
$tableWAT: 700px;
$tableWATL: 970px;

//Custom Sizes
$tableSizesMapBeforeTablet:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creará
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesBeforeTablet'
    
    tableWidthBig: 1000px,
    tableWidthSmall: 500px
    
);
$tableSizesMapTablet:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creará
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesTablet'
    
);
$tableSizesMapTabletL:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creará
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesTabletL'
    
    tableWidthSmall: 760px
);

//Rounded Table
$borderRadiusValueTable: $borderRadiusValue;