/* =============================================================================
   Tables Colour Variables | Custom [tablesColours.scss]
   ========================================================================== */
// Table Border Colours
$bdColour_main_table:         $bdGrey;
$bdColour_secondary_table:    $bdGreyXL;

// Table Background Colours
$bgColour_main_table:         #888;
$bgColour_secondary_table:    #bbb;
$bgColour_tertiary_table:     $bgGreyXL;

//Striped Table
$bgColour_table_striped_thead:     #aaa;
$bgColour_table_striped_odd:       #eee;
$bgColour_table_striped_even:      $white;
$bgColour_table_striped_separator: darken($bgColour_table_striped_odd, 60%);