/* =============================================================================
   Tables Colour Variables | Custom [tablesColours.scss]
   ========================================================================== */
// Table Border Colours
$bcColour_main_globalTable:         $bcGrey;
$bcColour_secondary_globalTable:    $bcGreyXL;

// Table Background Colours
$bgColour_main_globalTable:         #888;
$secondaryBgColourTable:    #bbb;
$bgGreyTable:               #eee;

//Striped Table
$bgColourTableStripedThead:     #aaa;
$bgColourTableStripedOdd:       #eee;
$bgColourTableStripedEven:      $white;
$bcColourTableStripedSeparator: darken($bgColourTableStripedOdd, 60%);