/* =============================================================================
   Tables Variables | Custom [variables/tables.scss]
   ========================================================================== */
/* // References ------------------------------------------------------------ */
///-- Spacing
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A              = horizontal, vertical, all

///-- Screen Sizes
// M, L, T, D, DL       = mobile, landscape, tablet, desktop, desktop large
// B, A, O              = before, after, only

///-- Colours
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fonts
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


$table_width_BT:  $hundred;
$table_width_AT:  700px;
$table_width_ATL: 970px;

    
/* // Custom Sizes ---------------------------------------------------------- */
$table_sizes_map_BT:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creará
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesBeforeTablet'
    
    tableWidthBig:      1000px,
    tableWidthSmall:    500px
    
);
$table_sizes_map_AT:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creará
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesTablet'
    
);
$table_sizes_map_ATL:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creará
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesTabletL'
    
    tableWidthSmall: 760px
);

    
/* // Rounded Table --------------------------------------------------------- */
$helpers_border_radius_table: $helpers_border_radius_global;