/* =============================================================================
   Z Index
   ========================================================================== */

    // Nav
$zIndexNav: 1000;
$zIndexNavHamb: 200;
$zIndexNavUl: 190;
    
    // Header
$zIndexHeader: $zIndexNav;
$zIndexLogoHeader: 100;

    // Slick Slider
$zIndexSlickNextPrevDots: 100;
$zIndexSlickHeader: 90;

    // Lightbox
$lightbox: 10000;
$lightBoxOverlay: 9999;
$lbNav: 10;