/* =============================================================================
   Z Index Variables | Custom [zindex.scss]
   ========================================================================== */
    // Negative
$zIndexNegative:           -1;
        
    // Modal        
$zIndexModalBG:            9000;
$zIndexPopup:              9100;
$zIndexButtonOver:         9200;
        
    // Nav        
$zIndexNav:                8800;
$zIndexNavOpen:            8900;
$zIndexNavClose:           $zIndexButtonOver;
$zIndexNavUl_list:          190;
$zIndexNavUlDrawer:        $zIndexPopup;
$zIndexNavUlAccordion:     8900;
$zIndexNavSubMenuLevel1:   $zIndexButtonOver;
$zIndexNavSubMenuLevel2:   9300;
$zIndexNavSubMenuLevel3:   9400;
$zIndexNavSubMenuBack:     9500;
          
    // Header      
$zIndexHeader:             $zIndexNav;
$zIndexHeaderTopper:       $zIndexNav;
$zIndexLogoH:              100;
$zIndexLogoHClicked:       $zIndexButtonOver;  
$zIndexLogoHTopper:        $zIndexButtonOver;  
       
    // Lang       
$zIndexLang:               9300;
     
    // Social     
$zIndexSocial:             1100;
$zIndexSocialClicked:      $zIndexButtonOver;
     
    // Slick Slider     
$zIndexSlickMain:          90;
$zIndexSlickNextPrevDots:  100;
 
    // Lightbox 
$zIndexLightbox:           10000;
$zIndexLightboxOverlay:    9999;
$zIndexLBnav:              10;