/* =============================================================================
   Parallax Scroll
   ========================================================================== */
html,body{height:100%;min-height:100%;position:relative}
#header.parallaxHeader{
    position:fixed;
    top:0;
    z-index:10;
    width:100%;
    height:30px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
    background:linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-8 */
/* http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+100;Custom */
}
.parallaxHeader nav ul{
    width:260px;
    margin:0 0 0 -130px;
    left:50%;
}
.parallaxHeader nav a{font-size:0.8em}
#main{z-index:5}
section{
    padding:50px 0;
    height:300px;
    width:100%;
}
#sectionUno{background:#fff url('/framework/img/parallax/bg01.jpg')}
#sectionDos{background:#fff url('/framework/img/parallax/bg02.jpg') fixed}
#sectionTre{background:#fff url('/framework/img/parallax/bg03.jpg')}
#sectionCua{background:#fff url('/framework/img/parallax/bg04.jpg') fixed}
#sectionCin{background:#fff url('/framework/img/parallax/bg05.jpg')}
#sectionSei{background:#666}
#sectionSie{background:#ccc}
#sectionOch{background:#666}
