/* =============================================================================
   Font Variables | Etc [variablesFonts.scss]
   ========================================================================== */
/* =============================================================================
   Absolute Variables | Etc [variablesAbsolute.scss]
   ========================================================================== */
/* =============================================================================
   Z Index Variables | Custom [zindex.scss]
   ========================================================================== */
/* =============================================================================
   Container Sizes Variables | Custom [container.scss]
   ========================================================================== */
/* Mobile / Container: 300px */
/* iPad */
/* iPad Landscape */
/* Desktop */
/* Big Screens */
/* Mobile Half */
/* Mobile Landscape Half */
/* Tablet Half*/
/* Tablet Landscape Half*/
/* Desktop Half */
/* Desktop Large Half*/
/* Mobile Half */
/* Mobile Landscape Half */
/* Tablet Half*/
/* Tablet Landscape Half*/
/* Desktop Half */
/* Desktop Large Half*/
/* =============================================================================
   Spacing Helpers Variables | Custom [helpers.scss]
   ========================================================================== */
/* =============================================================================
   Border Helpers Variables | Custom [helpers.scss]
   ========================================================================== */
/* =============================================================================
   Classes Activators | Custom [activators.scss]
   ========================================================================== */
/* =============================================================================
   Animation Variables | Custom [animations.scss]
   ========================================================================== */
/* =============================================================================
   Colours Main Variables | Custom [coloursMain.scss]
   ========================================================================== */
/* =============================================================================
   Border Colours Variables | Custom [coloursBorders.scss]
   ========================================================================== */
/* =============================================================================
   Background Colours Variables | Custom [coloursBackgrounds.scss]
   ========================================================================== */
/* =============================================================================
   Modal Opacity Variables | Custom [coloursBackgrounds.scss]
   ========================================================================== */
/* =============================================================================
   Tables Colour Variables | Custom [coloursTables.scss]
   ========================================================================== */
/* =============================================================================
   Fonts Main Variables | Custom [fontsMain.scss]
   ========================================================================== */
/* =============================================================================
   Font Colours Variables | Custom [fontsColours.scss]
   ========================================================================== */
/* =============================================================================
   Nav Colours Variables | Custom [navColours.scss]
   ========================================================================== */
/* =============================================================================
   Nav Fonts Variables | Custom [navFonts.scss]
   ========================================================================== */
/* =============================================================================
   Nav Sizes Variables | Custom [navSizes.scss]
   ========================================================================== */
/* =============================================================================
   Forms Colours Variables | Custom [formsColours.scss]
   ========================================================================== */
/* =============================================================================
   Form Fonts Variables | Custom [formsFonts.scss]
   ========================================================================== */
/* =============================================================================
   Forms Variables | Custom [formsSizes.scss]
   ========================================================================== */
/* =============================================================================
   Tables Variables | Custom [tables.scss]
   ========================================================================== */
/* =============================================================================
   OpenSans Font Face | Etc [fontFaceOpenSans.scss]
   ========================================================================== */
/* =============================================================================
   Media Queries Variables | Custom [mixinsMediaQueries.scss]
   ========================================================================== */
/*
@media (min-width: 100px) and (max-width: 100px){}
*/
/* =============================================================================
   Media Queries Mixins | Custom [mixinsMediaQueries.scss]
   ========================================================================== */
/* Mobile */
/* Tablet */
/* Tablet Landscape*/
/* 500 */
/* 550 */
/* 600 */
/* 650 */
/* 700 */
/* 800 */
/* 900 */
/* Desktop */
/* Big Screens + */
/* =============================================================================
   iPhone & iPads Mixins | Custom [mixinsMediaQueries.scss]
   ========================================================================== */
/* iPhone 4 & 4S Only */
/* iPhone 4 & 4S Portrait Only */
/* iPhone 4 & 4S Landscape Only */
/* iPhone 5 & 5S Only */
/* iPhone 5 & 5S Portrait Only */
/* iPhone 5 & 5S Landscape Only */
/* iPhone 6 Only */
/* iPhone 6 Portrait Only */
/* iPhone 6 Landscape Only */
/* iPhone 6 Plus Only */
/* iPhone 6 Plus Portrait Only */
/* iPhone 6 Plus Landscape Only */
/* iPad 1 & 2 Portrait Only */
/* iPad 1 & 2 Landscape Only */
/* iPad 3 & 4 Portrait Only */
/* iPad 3 & 4 Landscape Only */
/* Retina Screens */
/* =============================================================================
   Sizes Mixins | Etc [mixinsSizes.scss]
   ========================================================================== */
/* =============================================================================
   Resposive Sizing Mixins | Etc [mixinsSizesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Background Mixins | Etc [mixinsBackgrounds.scss]
   ========================================================================== */
/* =============================================================================
   Mask Mixins | Etc [mixinsMasks.scss]
   ========================================================================== */
/* =============================================================================
   Clip Paths Mixins | Etc [mixinsClipPath.scss]
   ========================================================================== */
/* =============================================================================
   Transition Mixins | Etc [mixinsTransitions.scss]
   ========================================================================== */
/* =============================================================================
   Opacity Mixins | Etc [mixinsOpacity.scss]
   ========================================================================== */
/* =============================================================================
   Fonts Mixins | Etc [mixinsFonts.scss]
   ========================================================================== */
/* =============================================================================
   Fonts Mixins | Etc [mixinsColours.scss]
   ========================================================================== */
/* =============================================================================
   Center Mixins | Etc [mixinsCenter.scss]
   ========================================================================== */
/* =============================================================================
   Spacing Helpers Mixins | Etc [mixinsSpacing.scss]
   ========================================================================== */
/* =============================================================================
   Border Helpers Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
/* =============================================================================
   Border Radius Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
/* =============================================================================
   Border Notch Mixin | Etc [mixinsBorders.scss]
   ========================================================================== */
/* =============================================================================
   Border Separation Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
/* =============================================================================
   Border Fancy Horizontal Line Mixins | Etc [mixinsBorders.scss]
   ========================================================================== */
/* =============================================================================
   Position Mixins | Etc [mixinsPositions.scss]
   ========================================================================== */
/* =============================================================================
   Angled Edges Functions | Etc [functionsAngledEdges.scss]
   ========================================================================== */
/* =============================================================================
   Font Stroke Functions | Etc [functionsFontStroke.scss]
   ========================================================================== */
/* =============================================================================
   Html Body Settings | Etc [settingsHtmlBody.scss]
   ========================================================================== */
html, body {
  padding: 0;
  margin: 0;
  color: #000; }

html {
  font-size: 100%;
  text-rendering: optimizeLegibility; }

body {
  -webkit-font-smoothing: antialiased; }

/* =============================================================================
   Body Settings | Custom [settingsBody.scss]
   ========================================================================== */
body {
  background-color: #fff; }

/* =============================================================================
   Elements Reset/Settings | Etc [resetMain.scss]
   ========================================================================== */
article, details, figcaption, figure, hgroup, main, menu, nav, summary, label, input, select, textarea, button {
  display: block; }

iframe {
  border: none !important; }

audio, canvas, progress, video {
  *display: inline;
  *zoom: 1; }

ul, ol, li, dd {
  margin: 0;
  padding: 0; }

ul {
  list-style: disc inside; }

ol {
  list-style: decimal inside; }

a {
  line-height: 1rem;
  cursor: pointer; }
  a img {
    border: none; }

a, a:hover {
  text-decoration: none; }

img {
  background-color: #c6c6c6;
  border: none;
  font: normal 11px/1rem Arial;
  text-transform: uppercase;
  color: #333;
  -ms-interpolation-mode: bicubic; }

img[src$=".png"], img[src$=".gif"], img[src$=".svg"] {
  background-color: transparent; }

figure {
  margin: 0;
  padding: 0; }

button,
input[type="button"],
html input[type="button"] {
  border: none !important; }

/* =============================================================================
   Main Font Faces | Custom [fontFaceMain.scss]
   ========================================================================== */
/*
.exampleFont{font-family: 'exampleFont';}
@font-face {
    font-family: 'exampleFont';
    src: url('/path/to/fonts/examplefont.woff') format('woff'),
         url('/path/to/fonts/examplefont.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/
/* =============================================================================
   Font Settings | Etc [settingsFonts.scss]
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, a, li, button, label, input, select, textarea, blockquote, table {
  font-family: Arial, Roboto, "-apple-system", ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, "Helvetica Neue", "Segoe UI", Verdana, Tahoma, "Lucida Grande", "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, li, button, label, input, select, textarea, blockquote, table {
  color: #000; }

/*
input::input-placeholder, textarea::input-placeholder{
    color: $formPlaceholderFontColour}
input:focus::input-placeholder, textarea:focus::input-placeholder{
    color: $mainFontColour}
*/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, li a, dfn a, button a, blockquote a, dfn a, button a, blockquote a {
  font-family: inherit;
  font-weight: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.8em; }

@media (max-width: 767px) {
  p, a, li, .pSize {
    font-size: 0.9rem; } }

@media (min-width: 768px) {
  p, a, li, .pSize {
    font-size: 1rem; } }

@media (min-width: 1024px) {
  p, a, li, .pSize {
    font-size: 1rem; } }

p, dl, legend {
  margin: 0; }

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6, ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin: 1.2em 0 0; }

p + p,
p + ul, ul + p,
ul + ul {
  margin: 0.8em 0 0; }

p b, li b {
  font-family: Arial; }

p p, p li, p a, p strong, p dl, p legend, li p, li li, li a, li strong, li dl, li legend {
  font-size: 1em; }

p:focus a, p:hover a, li:focus a, li:hover a {
  text-decoration: underline; }

a {
  transition: background-color 0.7s, color 1s, text-shadow 1s; }
  a, a:active, a:visited {
    color: #333333; }
  a:focus, a:hover {
    color: #1a1a1a; }

.arial {
  font-family: Arial; }

.roboto {
  font-family: Roboto; }

@media (max-width: 767px) {
  h1, .hUno {
    font-size: 1.6rem; }
  h2, .hDos {
    font-size: 1.5rem; }
  h3, .hTre {
    font-size: 1.4rem; }
  h4, .hCua {
    font-size: 1.3rem; }
  h5, .hCin {
    font-size: 1.3rem; }
  h6, .hSei {
    font-size: 1.3rem; } }

@media (min-width: 768px) {
  h1, .hUno {
    font-size: 1.6rem; }
  h2, .hDos {
    font-size: 1.5rem; }
  h3, .hTre {
    font-size: 1.4rem; }
  h4, .hCua {
    font-size: 1.3rem; }
  h5, .hCin {
    font-size: 1.3rem; }
  h6, .hSei {
    font-size: 1.3rem; } }

@media (min-width: 1200px) {
  h1, .hUno {
    font-size: 2.4rem; }
  h2, .hDos {
    font-size: 2.2rem; }
  h3, .hTre {
    font-size: 2rem; }
  h4, .hCua {
    font-size: 1.8rem; }
  h5, .hCin {
    font-size: 1.6rem; }
  h6, .hSei {
    font-size: 1.4rem; } }

.white, .white b, .white strong, .white i, .white em {
  color: #fff; }

a.white, a.white:active, a.white:visited, a.white:focus, a.white:hover {
  color: #fff; }

a.white:focus, a.white:hover {
  text-shadow: 0 0 3px #999; }

a.white.noHover:focus, a.white.noHover:hover {
  text-shadow: 0 0 0 transparent; }

.errorColour, .errorColour b, .errorColour strong, .errorColour i, .errorColour em {
  color: #eb1c24; }

a.errorColour, a.errorColour:active, a.errorColour:visited, a.errorColour.noHover:focus, a.errorColour.noHover:hover {
  color: #eb1c24; }

a.errorColour:focus, a.errorColour:hover {
  color: #940d12; }

button.errorColour, button.errorColour.noHover:focus, button.errorColour.noHover:hover {
  color: #eb1c24; }

button.errorColour:focus, button.errorColour:hover {
  color: #940d12; }

label.errorColour, label.errorColour:focus, label.errorColour:hover {
  color: #eb1c24; }

.green, .green b, .green strong, .green i, .green em {
  color: #339900; }

a.green, a.green:active, a.green:visited, a.green.noHover:focus, a.green.noHover:hover {
  color: #339900; }

a.green:focus, a.green:hover {
  color: #113300; }

button.green, button.green.noHover:focus, button.green.noHover:hover {
  color: #339900; }

button.green:focus, button.green:hover {
  color: #113300; }

label.green, label.green:focus, label.green:hover {
  color: #339900; }

.greyXXL, .greyXXL b, .greyXXL strong, .greyXXL i, .greyXXL em {
  color: #f4f4f4; }

a.greyXXL, a.greyXXL:active, a.greyXXL:visited, a.greyXXL.noHover:focus, a.greyXXL.noHover:hover {
  color: #f4f4f4; }

a.greyXXL:focus, a.greyXXL:hover {
  color: #c1c1c1; }

button.greyXXL, button.greyXXL.noHover:focus, button.greyXXL.noHover:hover {
  color: #f4f4f4; }

button.greyXXL:focus, button.greyXXL:hover {
  color: #c1c1c1; }

label.greyXXL, label.greyXXL:focus, label.greyXXL:hover {
  color: #f4f4f4; }

.greyXL, .greyXL b, .greyXL strong, .greyXL i, .greyXL em {
  color: #dedede; }

a.greyXL, a.greyXL:active, a.greyXL:visited, a.greyXL.noHover:focus, a.greyXL.noHover:hover {
  color: #dedede; }

a.greyXL:focus, a.greyXL:hover {
  color: #ababab; }

button.greyXL, button.greyXL.noHover:focus, button.greyXL.noHover:hover {
  color: #dedede; }

button.greyXL:focus, button.greyXL:hover {
  color: #ababab; }

label.greyXL, label.greyXL:focus, label.greyXL:hover {
  color: #dedede; }

.greyL, .greyL b, .greyL strong, .greyL i, .greyL em {
  color: #c6c6c6; }

a.greyL, a.greyL:active, a.greyL:visited, a.greyL.noHover:focus, a.greyL.noHover:hover {
  color: #c6c6c6; }

a.greyL:focus, a.greyL:hover {
  color: #939393; }

button.greyL, button.greyL.noHover:focus, button.greyL.noHover:hover {
  color: #c6c6c6; }

button.greyL:focus, button.greyL:hover {
  color: #939393; }

label.greyL, label.greyL:focus, label.greyL:hover {
  color: #c6c6c6; }

.grey, .grey b, .grey strong, .grey i, .grey em {
  color: #999; }

a.grey, a.grey:active, a.grey:visited, a.grey.noHover:focus, a.grey.noHover:hover {
  color: #999; }

a.grey:focus, a.grey:hover {
  color: #666666; }

button.grey, button.grey.noHover:focus, button.grey.noHover:hover {
  color: #999; }

button.grey:focus, button.grey:hover {
  color: #666666; }

label.grey, label.grey:focus, label.grey:hover {
  color: #999; }

.greyD, .greyD b, .greyD strong, .greyD i, .greyD em {
  color: #666; }

a.greyD, a.greyD:active, a.greyD:visited, a.greyD.noHover:focus, a.greyD.noHover:hover {
  color: #666; }

a.greyD:focus, a.greyD:hover {
  color: #333333; }

button.greyD, button.greyD.noHover:focus, button.greyD.noHover:hover {
  color: #666; }

button.greyD:focus, button.greyD:hover {
  color: #333333; }

label.greyD, label.greyD:focus, label.greyD:hover {
  color: #666; }

.greyXD, .greyXD b, .greyXD strong, .greyXD i, .greyXD em {
  color: #333; }

a.greyXD, a.greyXD:active, a.greyXD:visited, a.greyXD.noHover:focus, a.greyXD.noHover:hover {
  color: #333; }

a.greyXD:focus, a.greyXD:hover {
  color: #666666; }

button.greyXD, button.greyXD.noHover:focus, button.greyXD.noHover:hover {
  color: #333; }

button.greyXD:focus, button.greyXD:hover {
  color: #666666; }

label.greyXD, label.greyXD:focus, label.greyXD:hover {
  color: #333; }

.black, .black b, .black strong, .black i, .black em {
  color: #000; }

a.black, a.black:active, a.black:visited, a.black.noHover:focus, a.black.noHover:hover {
  color: #000; }

a.black:focus, a.black:hover {
  color: #333333; }

button.black, button.black.noHover:focus, button.black.noHover:hover {
  color: #000; }

button.black:focus, button.black:hover {
  color: #333333; }

label.black, label.black:focus, label.black:hover {
  color: #000; }

/* =============================================================================
   Settings Text | Custom [settingsText.scss]
   ========================================================================== */
/* =============================================================================
   Font Classes | Etc [classesFonts.scss]
   ========================================================================== */
abbr {
  border: none !important;
  cursor: help; }

.fontSizeReset {
  font-size: 1rem !important; }

.fontSizeResetEM {
  font-size: 1em !important; }

.lineHeightReset {
  line-height: 1em !important; }

.light {
  font-weight: 300; }

b, strong,
.roman {
  font-weight: 400; }

.semiBold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.extraBold {
  font-weight: 800; }

.heavy {
  font-weight: 900; }

.italic {
  font-style: italic; }

.underline, .underline:hover {
  text-decoration: underline; }

.lineThrough {
  text-decoration: line-through; }

.upperCase {
  text-transform: uppercase; }

.lowerCase {
  text-transform: lowercase; }

.smallCaps {
  font-variant: small-caps; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.alignLeft {
  text-align: left; }

.alignJustify {
  text-align: justify; }

.alignJustifyCenter {
  text-align: justify;
  text-align-last: center; }

.indentedText {
  text-indent: -9999px; }

/* =============================================================================
   Fonts Classes | Custom [classesFonts.scss]
   ========================================================================== */
.textShadow {
  text-shadow: 1px 1px 5px #333; }

.letterSpacing {
  letter-spacing: 0.05rem; }

/* =============================================================================
   Backgrounds Includes | Custom [includesBackgrounds.scss]
   ========================================================================== */
.bgWhite {
  background-color: #fff; }

.bgBlack {
  background-color: #000; }

.bgError {
  background-color: #eb1c24; }

.bgGreen {
  background-color: #339900; }

.bgGreyXXL {
  background-color: #f4f4f4; }

.bgGreyXL {
  background-color: #dedede; }

.bgGreyL {
  background-color: #c6c6c6; }

.bgGrey {
  background-color: #999; }

.bgGreyD {
  background-color: #666; }

.bgGreyXD {
  background-color: #333; }

a.mainBgColour:hover, a.mainBgColour:focus {
  background-color: #666666; }

button.mainBgColour:hover, button.mainBgColour:focus {
  background-color: #666666; }

input[type="submit"].mainBgColour:hover, input[type="submit"].mainBgColour:focus {
  background-color: #666666; }

input[type="file"].mainBgColour:hover, input[type="file"].mainBgColour:focus {
  background-color: #666666; }

/* =============================================================================
   Backgrounds Classes | Custom [classesBackgrounds.scss]
   ========================================================================== */
.bgNone, .bgNone:focus, .bgNone:hover {
  background-color: transparent !important;
  background-image: none !important; }

.bgTransparent, .bgTransparent:focus, .bgTransparent:hover {
  background-color: transparent !important; }

.bgNoImage, .bgNoImage:focus, .bgNoImage:hover {
  background-image: none !important; }

.bgError {
  background-color: #eb1c24; }

/* =============================================================================
   Shadows Classes | Custom [classesShadows.scss]
   ========================================================================== */
.boxShadow {
  box-shadow: 0 0 10px 0 #666; }

.boxShadowInner {
  box-shadow: inset 0 0 10px 0 #666; }

.bgShadowT,
.bgShadowB {
  background-repeat: repeat-x;
  background-size: auto 20px; }

.bgShadowT {
  background-image: url("/nuevo/img/bg_shadowT.png");
  background-position: center top; }

.bgShadowB {
  background-image: url("/nuevo/img/bg_shadowB.png");
  background-position: center bottom; }

/* =============================================================================
   Animation Classes | Etc [classesAnimations.scss]
   ========================================================================== */
@media (min-width: 768px) {
  .hoverGrow,
  .hoverGrowBig {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform; }
  .hoverGrow:hover, .hoverGrow:focus, .hoverGrow:active {
    transform: scale(1.05); }
  .hoverGrowBig:hover, .hoverGrowBig:focus, .hoverGrowBig:active {
    transform: scale(1.15); } }

/* =============================================================================
   Classes ALL | Etc [classesAll.scss]
   ========================================================================== */
#go-main-content {
  top: auto;
  left: -10000px;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden; }
  #go-main-content:focus {
    position: static;
    width: auto;
    height: auto; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.pRel {
  position: relative; }

.pAbs {
  position: absolute; }

.clear {
  clear: both; }

.autoWidth {
  width: auto; }

.autoHeight {
  height: auto; }

.fullWidth {
  width: 100%; }

.halfWidth {
  width: 50%; }

.fullHeight {
  position: absolute;
  top: 0;
  bottom: 0; }

.coverAll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.displayBlock {
  display: block !important; }

.displayInline {
  display: inline !important; }

.displayInlineBlock {
  display: inline-block !important; }

.displayNone {
  display: none !important; }

.invisible {
  visibility: hidden; }

.centerVertically {
  display: table-cell;
  vertical-align: middle; }

article, article::before, article::after, details, details::before, details::after, figcaption, figcaption::before, figcaption::after, figure, figure::before, figure::after, hgroup, hgroup::before, hgroup::after, main, main::before, main::after, menu, menu::before, menu::after, nav, nav::before, nav::after, summary, summary::before, summary::after, button, button::before, button::after, fieldset, fieldset::before, fieldset::after, label, label::before, label::after, input, input::before, input::after, select, select::before, select::after, textarea, textarea::before, textarea::after,
.callToAction,
.callToAction::before,
.callToAction::after, .borderBox, .borderBox::before, .borderBox::after {
  box-sizing: border-box; }

.mask {
  position: relative;
  overflow: hidden; }

.cursorDefault {
  cursor: default; }

.cursorPointer {
  cursor: pointer; }

.cursorHelp {
  cursor: help; }

.cursorNone {
  cursor: none; }

.unstyled, .horizontal, .hyphenated {
  list-style: none !important; }

.floatLeft, .horizontal li {
  float: left !important; }

.floatRight, .horizontal li.floatRight,
.horizontal.right li {
  float: right !important; }

.horizontalCenter {
  list-style: none;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center; }
  .horizontalCenter li {
    display: inline; }
    .horizontalCenter li > * {
      display: inline-block; }

.horizontalCenterFlex {
  justify-content: center;
  flex-wrap: nowrap; }

.floatNone {
  float: none !important; }

/* =============================================================================
   Spacing Helpers ALL | Etc [classesAll.scss]
   ========================================================================== */
.ptn, .pvn, .pan {
  padding-top: 0 !important; }

.prn, .phn, .pan {
  padding-right: 0 !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0 !important; }

.pln, .phn, .pan {
  padding-left: 0 !important; }

.mtn, .mvn, .man {
  margin-top: 0 !important; }

.mrn, .mhn, .man {
  margin-right: 0 !important; }

.mbn, .mvn, .man {
  margin-bottom: 0 !important; }

.mln, .mhn, .man {
  margin-left: 0 !important; }

.pts, .pvs, .pas {
  padding-top: 5px !important; }

.prs, .phs, .pas {
  padding-right: 5px !important; }

.pbs, .pvs, .pas {
  padding-bottom: 5px !important; }

.pls, .phs, .pas {
  padding-left: 5px !important; }

.mts, .mvs, .mas {
  margin-top: 5px !important; }

.mrs, .mhs, .mas {
  margin-right: 5px !important; }

.mbs, .mvs, .mas {
  margin-bottom: 5px !important; }

.mls, .mhs, .mas {
  margin-left: 5px !important; }

.ptm, .pvm, .pam {
  padding-top: 10px !important; }

.prm, .phm, .pam {
  padding-right: 10px !important; }

.pbm, .pvm, .pam {
  padding-bottom: 10px !important; }

.plm, .phm, .pam {
  padding-left: 10px !important; }

.mtm, .mvm, .mam {
  margin-top: 10px !important; }

.mrm, .mhm, .mam {
  margin-right: 10px !important; }

.mbm, .mvm, .mam {
  margin-bottom: 10px !important; }

.mlm, .mhm, .mam {
  margin-left: 10px !important; }

.ptl, .pvl, .pal {
  padding-top: 20px !important; }

.prl, .phl, .pal {
  padding-right: 20px !important; }

.pbl, .pvl, .pal {
  padding-bottom: 20px !important; }

.pll, .phl, .pal {
  padding-left: 20px !important; }

.mtl, .mvl, .mal {
  margin-top: 20px !important; }

.mrl, .mhl, .mal {
  margin-right: 20px !important; }

.mbl, .mvl, .mal {
  margin-bottom: 20px !important; }

.mll, .mhl, .mal {
  margin-left: 20px !important; }

.mra, .mha {
  margin-right: auto !important; }

.mla, .mha {
  margin-left: auto !important; }

/* =============================================================================
   Flexbox Classes ALL | Etc [classesAll.scss]
   ========================================================================== */
/* =============================================================================
   Classes Responsive | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Mobile Only Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   After Mobile Landscape Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Mobile Landscape Only Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Before Tablet Classes | Etc [classesResponsive.scss]
   ========================================================================== */
@media (max-width: 767px) {
  .pRelBT {
    position: relative; }
  .pAbsBT {
    position: absolute; }
  .clearBT {
    clear: both; }
  .fullWidthBT {
    width: 100% !important; }
  .halfWidthBT {
    width: 50% !important; }
  .autoWidthBT {
    width: auto !important; }
  .autoHeightBT {
    height: auto !important; }
  .displayInlineBT {
    display: inline !important; }
  .displayInlineBlockBT {
    display: inline-block !important; }
  .displayBlockBT, .showBT {
    display: block !important; }
  .displayNoneBT, .hideBT {
    display: none !important; }
  .contentBoxBT {
    box-sizing: content-box; }
  .borderBoxBT {
    box-sizing: border-box; }
  .unstyledBT, .horizontalBT, .hyphenatedBT {
    list-style: none !important; }
  .floatLeftBT, .horizontalBT li {
    float: left !important; }
  .floatRightBT, .horizontalBT li.floatRight,
  .horizontalBT.right li {
    float: right !important; }
  .horizontalCenterBT {
    margin-right: auto !important;
    margin-left: auto !important;
    list-style: none;
    text-align: center; }
    .horizontalCenterBT li {
      display: inline; }
      .horizontalCenterBT li > * {
        display: inline-block; }
  .floatNoneBT, .unstyledBT li {
    float: none !important; } }

/* =============================================================================
   Before Tablet Landscape Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Tablet Only Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   After Tablet Classes | Etc [classesResponsive.scss]
   ========================================================================== */
@media (min-width: 768px) {
  .pRelAT {
    position: relative; }
  .pAbsAT {
    position: absolute; }
  .clearAT {
    clear: both; }
  .fullWidthAT {
    width: 100% !important; }
  .halfWidthAT {
    width: 50% !important; }
  .autoWidthAT {
    width: auto !important; }
  .autoHeightAT {
    height: auto !important; }
  .displayInlineAT {
    display: inline !important; }
  .displayInlineBlockAT {
    display: inline-block !important; }
  .displayBlockAT, .showAT {
    display: block !important; }
  .displayNoneAT, .hideAT {
    display: none !important; }
  .contentBoxAT {
    box-sizing: content-box; }
  .borderBoxAT {
    box-sizing: border-box; }
  .unstyledAT, .horizontalAT, .hyphenatedAT {
    list-style: none !important; }
  .floatLeftAT, .horizontalAT li {
    float: left !important; }
  .floatRightAT, .horizontalAT li.floatRight,
  .horizontalAT.right li {
    float: right !important; }
  .horizontalCenterAT {
    margin-right: auto !important;
    margin-left: auto !important;
    list-style: none;
    text-align: center; }
    .horizontalCenterAT li {
      display: inline; }
      .horizontalCenterAT li > * {
        display: inline-block; }
  .floatNoneAT, .unstyledAT li {
    float: none !important; } }

/* =============================================================================
   After Tablet Landscape Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Tablet Landscape Only Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Before Desktop Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   After Desktop Classes | Etc [classesResponsive.scss]
   ========================================================================== */
/* =============================================================================
   Container Settings | Etc [settingsContainer.scss]
   ========================================================================== */
.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto; }
  .container::before, .container::after {
    content: " ";
    display: table; }
  .container::after {
    clear: both; }
  @media (max-width: 420px) {
    .container {
      width: 300px; } }
  @media (min-width: 421px) {
    .container {
      width: 85%; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 1024px) {
    .container {
      width: 1000px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1000px; } }
  @media (min-width: 1600px) {
    .container {
      width: 1000px; } }
  @media (max-width: 420px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(300px / 2)); } }
  @media (min-width: 421px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(85% / 2)); } }
  @media (min-width: 768px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(720px / 2)); } }
  @media (min-width: 1024px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1200px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1600px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (max-width: 420px) {
    .container.centerAbsMO {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(300px / 2)); } }
  @media (min-width: 421px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(85% / 2)); } }
  @media (min-width: 768px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(720px / 2)); } }
  @media (min-width: 1024px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 768px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(720px / 2)); } }
  @media (min-width: 1024px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1024px) {
    .container.centerAbsATL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsATL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsATL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsAD {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsAD {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsADL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px / 2)); } }

/* =============================================================================
   Hack para Windows Phone | Etc [settingsContainer.scss]
   ========================================================================== */
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }

/* =============================================================================
   Global Styles | Custom [stylesGlobal.scss]
   ========================================================================== */
.callToAction {
  border: 2px solid #999;
  transition: background-color 0.7s cubic-bezier(0.39, 0.575, 0.565, 1), color 1s;
  display: block;
  background-color: #999;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-family: Arial;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center; }
  .callToAction:focus, .callToAction:hover {
    background-color: #c6c6c6;
    border-color: #333;
    color: #666; }
  @media (max-width: 420px) {
    .callToAction {
      width: 100% !important; } }
  @media (max-width: 767px) {
    .callToAction {
      height: auto;
      line-height: 1.3; } }
  @media (min-width: 768px) {
    .callToAction {
      height: 50px;
      line-height: 50px; } }

/* =============================================================================
   Main Gobal Styles | Custom
   ========================================================================== */
@media (min-width: 768px) {
  #main {
    min-height: 500px; } }

/* =============================================================================
   Internas Global Styles | Custom
   ========================================================================== */
/* =============================================================================
   Colour Placeholders | Custom [coloursPlaceholders.scss]
   ========================================================================== */
/* =============================================================================
   Gradient Colours | Custom [coloursGradients.scss]
   ========================================================================== */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0.8+100 */
.bgGradWhiteEighty {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 ); }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.1+100 */
.bgGradBlackTen {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=0 ); }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+89 */
.bgGradBlackFifty {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 89%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+100 */
.bgGradBlackEighty {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); }

/* =============================================================================
   Settings Lists | Custom [settingsLists.scss]
   ========================================================================== */
ul.hyphenated li {
  position: relative; }
  ul.hyphenated li::before {
    content: "- "; }

ul.dotted li {
  box-sizing: border-box;
  position: relative;
  padding-left: 15px; }
  ul.dotted li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 7px;
    height: 7px;
    background-image: url("/nuevo/img/bullet_circle.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 7px; }

ul.fileList li {
  box-sizing: border-box;
  position: relative;
  min-height: 30px;
  padding-top: 5px;
  padding-left: calc(30px + 2px); }
  ul.fileList li a {
    height: auto;
    min-height: 30px;
    line-height: 1.3em; }
  ul.fileList li::before {
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 30px; }

ul.fileList.filePDF li::before {
  background-image: url("/nuevo/img/file_pdf.svg"); }

ul.fileList.fileDOC li {
  background-image: url("/nuevo/img/file_pdf.svg"); }

.ulResp2 > li a, .ulResp3 > li a, .ulResp4 > li a {
  position: relative; }

.ulResp2 > li img, .ulResp3 > li img, .ulResp4 > li img {
  margin-right: auto !important;
  margin-left: auto !important; }

@media (max-width: 420px) {
  .ulResp2 > li, .ulResp3 > li, .ulResp4 > li {
    width: 100%;
    float: none !important; }
    .ulResp2 > li img, .ulResp3 > li img, .ulResp4 > li img {
      width: 100%; } }

@media (min-width: 421px) and (max-width: 767px) {
  .ulResp2 > li:nth-child(odd):last-child, .ulResp3 > li:nth-child(odd):last-child, .ulResp4 > li:nth-child(odd):last-child {
    clear: both;
    width: 100%;
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important; } }

@media (min-width: 421px) {
  .ulResp2 > li, .ulResp3 > li, .ulResp4 > li {
    width: 50%;
    padding: 0 10px; }
    .ulResp2 > li img, .ulResp3 > li img, .ulResp4 > li img {
      width: 100%; } }

@media (min-width: 768px) {
  .ulResp2 > li:nth-child(n+3) {
    margin-top: 40px; } }

@media (min-width: 768px) {
  .ulResp3 > li {
    width: calc(100% / 3); } }

@media (min-width: 768px) {
  .ulResp4 > li {
    width: 25%; } }

/* =============================================================================
   Modal y Popups Settings | Etc [settingsModalPopups.scss]
   ========================================================================== */
.modalBG, .modalNav {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 9000; }

.modalBG {
  opacity: 0.85;
  filter: alpha(opacity=85);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=85)";
  background-color: #000; }

.modalNav {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=80)";
  display: none;
  background-color: #000; }
  @media (min-width: 768px) {
    .modalNav {
      display: none !important; } }

.popup {
  z-index: 9100;
  left: 50%; }
  .popup .closePopup {
    z-index: 9200; }

/* =============================================================================
   Popup Styles | Custom [stylesPopups.scss]
   ========================================================================== */
.mobileForm .closePop {
  border-radius: 50%;
  background-color: transparent;
  background-image: url("/nuevo/img/popup_close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 33px !important;
  height: 33px !important;
  background-size: 13px;
  border: 1px solid #666 !important; }
  .mobileForm .closePop, .mobileForm .closePop:focus, .mobileForm .closePop:hover {
    background-color: #fff; }

.popup .modalWrap {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 20px;
  overflow: auto; }

.popup.statusDiv {
  /* CSS para usar centerPopup
            @include centerPopup(100px,100px,50%);
            max-width: 100%;
            max-height: 100%;
        */
  border-radius: 6px;
  position: fixed;
  top: 20%;
  left: 50%;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 #000; }
  .popup.statusDiv h2 {
    font-size: 1.2rem; }
  .popup.statusDiv p {
    width: 100% !important;
    background-color: transparent;
    padding: 0;
    color: #666;
    font-family: Arial;
    text-align: center; }
  .popup.statusDiv .popOKdialog {
    transition: all 1s ease;
    height: 30px;
    line-height: 30px;
    width: 40%;
    max-width: 150px;
    background-color: #fff;
    font-size: 0.8rem; }
    .popup.statusDiv .popOKdialog, .popup.statusDiv .popOKdialog:focus, .popup.statusDiv .popOKdialog:hover {
      border: 1px solid #999 !important; }
    .popup.statusDiv .popOKdialog:focus, .popup.statusDiv .popOKdialog:hover {
      background-color: #f4f4f4; }
  .popup.statusDiv .closePop {
    top: 10px;
    right: 10px; }
  @media (max-width: 420px) {
    .popup.statusDiv {
      width: 300px;
      margin-left: calc(calc(300px * -1) / 2); } }
  @media (min-width: 421px) {
    .popup.statusDiv {
      width: 60%;
      margin-left: calc(calc(60% * -1) / 2); } }
  @media (min-width: 601px) {
    .popup.statusDiv {
      width: 450px;
      margin-left: calc(calc(450px * -1) / 2); } }

/* =============================================================================
   Header Styles | Custom [stylesHeader.scss]
   ========================================================================== */
#header {
  /*z-index: $zIndexHeader;*/ }
  #header .logoH {
    margin: 0 !important; }
  @media (max-width: 420px) {
    #header .logoH {
      width: 90%;
      margin-right: auto !important;
      margin-left: auto !important; }
      #header .logoH a, #header .logoH img {
        width: 100%; } }
  @media (min-width: 421px) and (max-width: 767px) {
    #header .logoH, #header .logoH a, #header .logoH img {
      width: 150px; } }
  @media (max-width: 767px) {
    #header {
      box-sizing: border-box;
      padding-top: 20px; }
      #header .logoH.clicked {
        border-right: 1px solid #000;
        box-sizing: border-box;
        position: fixed;
        z-index: 9200;
        top: 0;
        left: 0;
        width: calc(70vw - 5px);
        max-width: 300px;
        height: calc(50px + 50px + 10px);
        background-color: #fff;
        padding-top: 50px;
        padding-bottom: 10px; }
        #header .logoH.clicked a, #header .logoH.clicked img {
          width: auto;
          height: 100%; }
        #header .logoH.clicked img {
          margin-right: auto;
          margin-left: auto; } }
  @media (min-width: 768px) {
    #header .logoH {
      position: relative;
      z-index: 100; }
      #header .logoH, #header .logoH a, #header .logoH img {
        width: 150px; }
    #header.topper {
      height: 50px; }
      #header.topper li {
        padding-top: 0; }
      #header.topper a {
        height: 50px;
        line-height: 50px; } }
  @media (min-width: 1024px) {
    #header {
      height: 130px; }
      #header .logoH, #header .logoH a, #header .logoH img {
        width: 150px; } }

/* =============================================================================
   Footer Styles | Custom [stylesFooter.scss]
   ========================================================================== */
#footer .googleAddress a {
  font-size: 1.1rem;
  line-height: 1.2em; }

#footer .logoF {
  width: 100px; }

@media (max-width: 1023px) {
  #footer .googleAddress a {
    text-decoration: underline; } }

@media (min-width: 1024px) {
  #footer .googleAddress a:focus, #footer .googleAddress a:hover {
    text-decoration: underline; } }

/* =============================================================================
   Nav Settings | Etc [settingsNav.scss]
   ========================================================================== */
nav .topLevelItem,
nav .current a {
  cursor: default; }

nav li:focus a, nav li:hover a {
  text-decoration: none; }

.navMain {
  z-index: 1000; }
  .navMain li a, .navMain li .topLevelItem {
    font-family: Arial; }
  .navMain li.current a, .navMain li.current .topLevelItem {
    font-family: Arial; }
  @media (max-width: 767px) {
    .navMain {
      position: fixed; }
      .navMain .hamb {
        transition: all 1s ease;
        box-sizing: border-box; }
      .navMain .navOpen {
        z-index: 8900;
        opacity: 1;
        background-image: url("/nuevo/img/nav_hamb.svg");
        background-repeat: no-repeat;
        color: #333;
        font-family: Arial; }
        .navMain .navOpen.clicked {
          opacity: 0.5;
          color: #333; }
      .navMain .navClose {
        border-radius: 50%;
        z-index: 9200;
        display: none;
        background-color: #fff;
        background-image: url("/nuevo/img/nav_close.svg");
        background-repeat: no-repeat;
        background-position: center center; }
        .navMain .navClose.clicked {
          display: block; }
      .navMain ul {
        z-index: 9100;
        position: fixed; }
        .navMain ul, .navMain ul .subMenu {
          transition: all 0.5s ease;
          top: 0;
          bottom: 0; }
      .navMain > ul {
        box-sizing: border-box;
        left: calc(-1 * 70vw);
        width: calc(70vw - 5px);
        max-width: 300px;
        background-color: #fff;
        padding-top: calc(calc(50px + 50px + 10px) + 5px);
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 30px;
        overflow: scroll; }
        .navMain > ul > li {
          background-color: transparent; }
          .navMain > ul > li.current {
            background-color: #f2f2f2; }
        .navMain > ul li {
          float: none !important; }
          .navMain > ul li a, .navMain > ul li .topLevelItem {
            color: #000; }
          .navMain > ul li .topLevelItem {
            background-repeat: no-repeat;
            background-position: 10px center; }
            .navMain > ul li .topLevelItem.open {
              background-image: url("/nuevo/img/nav_arrowD.svg"); }
          .navMain > ul li.current {
            background-image: url("/nuevo/img/nav_arrowL.svg");
            background-repeat: no-repeat;
            background-position: right 10px center; }
            .navMain > ul li.current a, .navMain > ul li.current .topLevelItem {
              color: #000; }
          .navMain > ul li + li {
            border-top: 1px solid #fff; }
        .navMain > ul.open {
          left: 0; } }
  @media (min-width: 768px) {
    .navMain .navClose {
      display: none !important; }
    .navMain > ul {
      background-color: #999; }
      .navMain > ul > li {
        background: transparent; }
        .navMain > ul > li a, .navMain > ul > li .topLevelItem {
          transition: all 1s ease;
          color: #000; }
        .navMain > ul > li:focus, .navMain > ul > li:hover {
          background-color: transparent; }
          .navMain > ul > li:focus a, .navMain > ul > li:hover a {
            color: #333333; }
        .navMain > ul > li.current {
          background-color: transparent; }
          .navMain > ul > li.current > a, .navMain > ul > li.current .topLevelItem {
            color: #000; }
          .navMain > ul > li.current:focus, .navMain > ul > li.current:hover {
            background-color: transparent; }
            .navMain > ul > li.current:focus > a, .navMain > ul > li.current:focus .topLevelItem, .navMain > ul > li.current:hover > a, .navMain > ul > li.current:hover .topLevelItem {
              color: #000; }
    .navMain.topper {
      border-bottom: 1px solid #666;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      background-color: #000; }
      .navMain.topper .hamb {
        display: none !important; } }

/* =============================================================================
   Nav Styles | Custom [stylesNav.scss]
   ========================================================================== */
@media (max-width: 767px) {
  .navMain {
    top: 10px;
    right: 10px;
    /* =============================================================================
   Nav Drawer Styles | Custom [stylesNavDrawer.scss]
   ========================================================================== */
    /* =============================================================================
   Nav List Styles | Custom [stylesNavList.scss]
   ========================================================================== */ }
    .navMain .hamb {
      top: 0;
      right: 0; }
    .navMain .navOpen {
      border-radius: 4px;
      width: 90px;
      height: 40px;
      background-color: #fff;
      background-position: 10px center;
      background-size: 15px;
      border: 1px solid #666 !important;
      padding: 0 10px 0 30px;
      font-size: 1rem;
      line-height: 45px; }
    .navMain .navClose {
      width: 45px;
      height: 45px;
      background-size: 20px;
      border: 1px solid #666 !important; }
    .navMain > ul {
      border-right: 1px solid #000; }
      .navMain > ul li, .navMain > ul li a, .navMain > ul li .topLevelItem {
        height: 45px;
        line-height: 45px; }
      .navMain > ul li a, .navMain > ul li .topLevelItem {
        font-size: 1rem;
        text-align: center; }
      .navMain > ul li.volver .topLevelItem {
        background-image: url("/nuevo/img/nav_arrowL.svg"); }
      .navMain > ul li.volver {
        border-bottom: #fff solid 2px; }
        .navMain > ul li.volver + .volver {
          border-color: #666 transparent #fff;
          border-width: 1px 0 2px;
          border-style: solid; }
        .navMain > ul li.volver .topLevelItem {
          color: #fff !important; }
          .navMain > ul li.volver .topLevelItem.open {
            background-image: url(/nuevo/img/nav_arrowD.svg); } }

@media (min-width: 768px) {
  .navMain .mainMenu > li.current a, .navMain .mainMenu > li.current .topLevelItem {
    border-bottom: 3px solid #999; }
  .navMain li, .navMain li a, .navMain li .topLevelItem {
    height: 60px;
    line-height: 60px; }
  .navMain li a:focus, .navMain li a:hover, .navMain li .topLevelItem:focus, .navMain li .topLevelItem:hover {
    text-shadow: 0 0 3px #000; }
  .navMain li.current a:focus, .navMain li.current a:hover, .navMain li.current .topLevelItem:focus, .navMain li.current .topLevelItem:hover {
    text-shadow: 0 0 0 transparent; }
  .navMain.topper .mainMenu {
    width: 730px;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
    padding: 0; }
    .navMain.topper .mainMenu > li.current a, .navMain.topper .mainMenu > li.current .topLevelItem {
      border-bottom: 2px solid #999; } }

@media (min-width: 1024px) {
  .navMain.topper .mainMenu {
    width: 1000px;
    margin-right: auto !important;
    margin-left: auto !important; } }

/* =============================================================================
   Index Styles | Custom [stylesIndex.scss]
   ========================================================================== */
