/* =============================================================================
   Z Index Variables | Custom
   ========================================================================== */
/* =============================================================================
   Font Variables | Etc
   ========================================================================== */
/* =============================================================================
   Absolute Variables | Etc
   ========================================================================== */
/* =============================================================================
   Container Sizes
   ========================================================================== */
/* Mobile / Container: 300px */
/* iPad */
/* iPad Landscape */
/* Laptop */
/* Desktop */
/* Big Screens */
/* Mobile Half */
/* Mobile Landscape Half */
/* Tablet Half*/
/* Tablet Landscape Half*/
/* Laptop Half */
/* Desktop Half */
/* Desktop Large Half*/
/* Mobile Half */
/* Mobile Landscape Half */
/* Tablet Half*/
/* Tablet Landscape Half*/
/* Laptop Half */
/* Desktop Half */
/* Desktop Large Half*/
/* =============================================================================
   Font Variables | Custom
   ========================================================================== */
/* =============================================================================
   Nav Fonts | Custom
   ========================================================================== */
/* =============================================================================
   Form Fonts | Custom
   ========================================================================== */
/* =============================================================================
   Colours Variables | Custom
   ========================================================================== */
/* =============================================================================
   Font Colours | Custom
   ========================================================================== */
/* =============================================================================
   Border Colours | Custom
   ========================================================================== */
/* =============================================================================
   Background Colours | Custom
   ========================================================================== */
/* =============================================================================
   Nav Colour Variables | Custom
   ========================================================================== */
/* =============================================================================
   Forms Colour Variables | Custom
   ========================================================================== */
/* =============================================================================
   Tables Colour Variables | Custom
   ========================================================================== */
/* =============================================================================
   Modal Colour Variables | Custom
   ========================================================================== */
/* =============================================================================
   Helpers Variables/Values | Custom
   ========================================================================== */
/* =============================================================================
   Border Helpers Value | Custom
   ========================================================================== */
/* =============================================================================
   Activators | Custom
   ========================================================================== */
/* =============================================================================
   Forms Variables | Custom
   ========================================================================== */
/* =============================================================================
   Tables Variables | Custom
   ========================================================================== */
/* =============================================================================
   OpenSans font-face | Etc
   ========================================================================== */
/* =============================================================================
   Media Queries | Custom
   ========================================================================== */
/*
@media (min-width: 100px) and (max-width: 100px){}
*/
/* Mobile */
/* Tablet */
/* Tablet Landscape*/
/* 500 */
/* 600 */
/* 700 */
/* 800 */
/* 900 */
/* Desktop */
/* Laptop + */
/* Big Screens + */
/* =============================================================================
   iPhone & iPads
   ========================================================================== */
/* iPhone 4 & 4S Only */
/* iPhone 4 & 4S Portrait Only */
/* iPhone 4 & 4S Landscape Only */
/* iPhone 5 & 5S Only */
/* iPhone 5 & 5S Portrait Only */
/* iPhone 5 & 5S Landscape Only */
/* iPhone 6 Only */
/* iPhone 6 Portrait Only */
/* iPhone 6 Landscape Only */
/* iPhone 6 Plus Only */
/* iPhone 6 Plus Portrait Only */
/* iPhone 6 Plus Landscape Only */
/* iPad 1 & 2 Portrait Only */
/* iPad 1 & 2 Landscape Only */
/* iPad 3 & 4 Portrait Only */
/* iPad 3 & 4 Landscape Only */
/* Retina Screens */
/* =============================================================================
   Sizes Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Background Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Mask Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Transition Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Opacity Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Fonts Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Fonts Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Center Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Spacing Helpers Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Border Helpers Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Position Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Resposive Sizing Mixins | Etc
   ========================================================================== */
/* =============================================================================
   Container Styles | Etc
   ========================================================================== */
.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto; }
  .container::before, .container::after {
    content: " ";
    display: table; }
  .container::after {
    clear: both; }
  @media (max-width: 420px) {
    .container {
      width: 300px; } }
  @media (min-width: 421px) {
    .container {
      width: 90%; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 1024px) {
    .container {
      width: 1000px; } }
  @media (min-width: 1025px) {
    .container {
      width: 1000px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1000px; } }
  @media (min-width: 1600px) {
    .container {
      width: 1000px; } }
  @media (max-width: 420px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(300px/2)); } }
  @media (min-width: 421px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(90%/2)); } }
  @media (min-width: 768px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(720px/2)); } }
  @media (min-width: 1024px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1025px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1200px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1600px) {
    .container.centerAbs {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (max-width: 420px) {
    .container.centerAbsMO {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(300px/2)); } }
  @media (min-width: 421px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(90%/2)); } }
  @media (min-width: 768px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(720px/2)); } }
  @media (min-width: 1024px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1025px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsAML {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 768px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(720px/2)); } }
  @media (min-width: 1024px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1025px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsAT {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1024px) {
    .container.centerAbsATL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1025px) {
    .container.centerAbsATL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsATL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsATL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1025px) {
    .container.centerAbsAL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsAL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsAL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1200px) {
    .container.centerAbsAD {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsAD {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }
  @media (min-width: 1600px) {
    .container.centerAbsADL {
      position: absolute;
      left: 50%;
      margin-left: calc(-1 * calc(1000px/2)); } }

/* =============================================================================
   Font Useful Classes | Etc
   ========================================================================== */
abbr {
  border: none !important;
  cursor: help; }

.fontSizeReset {
  font-size: 1em !important; }

.lineHeightReset {
  line-height: 1em !important; }

.light {
  font-weight: 300; }

b, strong,
.roman {
  font-weight: 400; }

.semiBold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.extraBold {
  font-weight: 800; }

.heavy {
  font-weight: 900; }

.italic {
  font-style: italic; }

.underline, .underline:hover {
  text-decoration: underline; }

.lineThrough {
  text-decoration: line-through; }

.upperCase {
  text-transform: uppercase; }

.lowerCase {
  text-transform: lowercase; }

.smallCaps {
  font-variant: small-caps; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.alignLeft {
  text-align: left; }

.alignJustify {
  text-align: justify; }

.indentedText {
  text-indent: -9999px; }

/* =============================================================================
   Font Settings | Custom
   ========================================================================== */
/*
.exampleFont{font-family: 'exampleFont';}
@font-face {
    font-family: 'exampleFont';
    src: url(/path/to/fonts/examplefont.woff) format('woff'),
         url(/path/to/fonts/examplefont.eot) format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/
h1, h2, h3, h4, h5, h6, p, b, strong, i, em, dfn, a, li, button, label, input,
select, textarea, blockquote, table {
  font-family: Arial, Roboto, "-apple-system", ".SFNSText-Regular", "San Francisco", Helvetica, "Helvetica Neue", "Segoe UI", Verdana, Tahoma, "Lucida Grande", "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em; }

.textShadow {
  text-shadow: 1px 1px 5px #333; }

.letterSpacing {
  letter-spacing: 0.05em; }

/* =============================================================================
   Font Styles | Etc
   ========================================================================== */
html {
  font-size: 100%;
  text-rendering: optimizeLegibility; }

body {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.8em;
  line-height: 1.2em; }

p, dl, legend {
  margin: 0; }

p b, p strong, li b, li strong {
  font-family: Arial; }

p + p, li + p {
  margin: 0.8em 0 0; }

p p, p li, p dl, p legend, li p, li li, li dl, li legend {
  font-size: 1em; }

@media (max-width: 767px) {
  p {
    font-size: 1em; } }

@media (min-width: 768px) {
  p {
    font-size: 1em; } }

@media (min-width: 1024px) {
  p {
    font-size: 1em; } }

a {
  transition: color 0.7s ease;
  font-size: 1em; }

.arial {
  font-family: Arial; }

.roboto {
  font-family: Roboto; }

@media (max-width: 767px) {
  h1, .hUno {
    font-size: 1.6em; }
  h2, .hDos {
    font-size: 1.5em; }
  h3, .hTre {
    font-size: 1.4em; }
  h4, .hCua {
    font-size: 1.3em; }
  h5, .hCin {
    font-size: 1.3em; }
  h6, .hSei {
    font-size: 1.3em; } }

@media (min-width: 768px) {
  h1, .hUno {
    font-size: 1.6em; }
  h2, .hDos {
    font-size: 1.5em; }
  h3, .hTre {
    font-size: 1.4em; }
  h4, .hCua {
    font-size: 1.3em; }
  h5, .hCin {
    font-size: 1.3em; }
  h6, .hSei {
    font-size: 1.3em; } }

@media (min-width: 1025px) {
  h1, .hUno {
    font-size: 2.4em; }
  h2, .hDos {
    font-size: 2.2em; }
  h3, .hTre {
    font-size: 2em; }
  h4, .hCua {
    font-size: 1.8em; }
  h5, .hCin {
    font-size: 1.6em; }
  h6, .hSei {
    font-size: 1.4em; } }

/* =============================================================================
   Colours Styles | Etc
   ========================================================================== */
html, body, button, blockquote, table, h1, h2, h3, h4, h5, h6, p, b, strong, i,
em, dfn, li, button, label, input, select, textarea {
  color: #999; }

/*
input::input-placeholder, textarea::input-placeholder{
    color: $formPlaceholderFontColour}
input:focus::input-placeholder, textarea:focus::input-placeholder{
    color: $mainFontColour}
*/
a, a:active, a:visited {
  color: #666666; }

a:focus, a:hover {
  color: #333333; }

.errorColour, .errorColour b, .errorColour strong, .errorColour i, .errorColour em {
  color: #d43131; }

a.errorColour, a.errorColour:active, a.errorColour:visited, a.errorColour.noHover:focus, a.errorColour.noHover:hover {
  color: #d43131; }

a.errorColour:focus, a.errorColour:hover {
  color: #841b1b; }

button.errorColour, button.errorColour.noHover:focus, button.errorColour.noHover:hover {
  color: #d43131; }

button.errorColour:focus, button.errorColour:hover {
  color: #841b1b; }

label.errorColour, label.errorColour:focus, label.errorColour:hover {
  color: #d43131; }

.green, .green b, .green strong, .green i, .green em {
  color: #339900; }

a.green, a.green:active, a.green:visited, a.green.noHover:focus, a.green.noHover:hover {
  color: #339900; }

a.green:focus, a.green:hover {
  color: #113300; }

button.green, button.green.noHover:focus, button.green.noHover:hover {
  color: #339900; }

button.green:focus, button.green:hover {
  color: #113300; }

label.green, label.green:focus, label.green:hover {
  color: #339900; }

.greyXXL, .greyXXL b, .greyXXL strong, .greyXXL i, .greyXXL em {
  color: #f4f4f4; }

a.greyXXL, a.greyXXL:active, a.greyXXL:visited, a.greyXXL.noHover:focus, a.greyXXL.noHover:hover {
  color: #f4f4f4; }

a.greyXXL:focus, a.greyXXL:hover {
  color: #c1c1c1; }

button.greyXXL, button.greyXXL.noHover:focus, button.greyXXL.noHover:hover {
  color: #f4f4f4; }

button.greyXXL:focus, button.greyXXL:hover {
  color: #c1c1c1; }

label.greyXXL, label.greyXXL:focus, label.greyXXL:hover {
  color: #f4f4f4; }

.greyXL, .greyXL b, .greyXL strong, .greyXL i, .greyXL em {
  color: #dedede; }

a.greyXL, a.greyXL:active, a.greyXL:visited, a.greyXL.noHover:focus, a.greyXL.noHover:hover {
  color: #dedede; }

a.greyXL:focus, a.greyXL:hover {
  color: #ababab; }

button.greyXL, button.greyXL.noHover:focus, button.greyXL.noHover:hover {
  color: #dedede; }

button.greyXL:focus, button.greyXL:hover {
  color: #ababab; }

label.greyXL, label.greyXL:focus, label.greyXL:hover {
  color: #dedede; }

.greyL, .greyL b, .greyL strong, .greyL i, .greyL em {
  color: #c6c6c6; }

a.greyL, a.greyL:active, a.greyL:visited, a.greyL.noHover:focus, a.greyL.noHover:hover {
  color: #c6c6c6; }

a.greyL:focus, a.greyL:hover {
  color: #939393; }

button.greyL, button.greyL.noHover:focus, button.greyL.noHover:hover {
  color: #c6c6c6; }

button.greyL:focus, button.greyL:hover {
  color: #939393; }

label.greyL, label.greyL:focus, label.greyL:hover {
  color: #c6c6c6; }

.grey, .grey b, .grey strong, .grey i, .grey em {
  color: #999; }

a.grey, a.grey:active, a.grey:visited, a.grey.noHover:focus, a.grey.noHover:hover {
  color: #999; }

a.grey:focus, a.grey:hover {
  color: #666666; }

button.grey, button.grey.noHover:focus, button.grey.noHover:hover {
  color: #999; }

button.grey:focus, button.grey:hover {
  color: #666666; }

label.grey, label.grey:focus, label.grey:hover {
  color: #999; }

.greyD, .greyD b, .greyD strong, .greyD i, .greyD em {
  color: #666; }

a.greyD, a.greyD:active, a.greyD:visited, a.greyD.noHover:focus, a.greyD.noHover:hover {
  color: #666; }

a.greyD:focus, a.greyD:hover {
  color: #333333; }

button.greyD, button.greyD.noHover:focus, button.greyD.noHover:hover {
  color: #666; }

button.greyD:focus, button.greyD:hover {
  color: #333333; }

label.greyD, label.greyD:focus, label.greyD:hover {
  color: #666; }

.white, .white b, .white strong, .white i, .white em {
  color: #fff; }

a.white, a.white:active, a.white:visited, a.white:focus, a.white:hover {
  color: #fff; }

a.white.noGlow:focus, a.white.noGlow:hover {
  text-shadow: 0 0 0 #fff; }

.greyXD, .greyXD b, .greyXD strong, .greyXD i, .greyXD em {
  color: #333; }

a.greyXD, a.greyXD:active, a.greyXD:visited, a.greyXD.noHover:focus, a.greyXD.noHover:hover {
  color: #333; }

a.greyXD:focus, a.greyXD:hover {
  color: #666666; }

button.greyXD, button.greyXD.noHover:focus, button.greyXD.noHover:hover {
  color: #333; }

button.greyXD:focus, button.greyXD:hover {
  color: #666666; }

label.greyXD, label.greyXD:focus, label.greyXD:hover {
  color: #333; }

.black, .black b, .black strong, .black i, .black em {
  color: #000; }

a.black, a.black:active, a.black:visited, a.black.noHover:focus, a.black.noHover:hover {
  color: #000; }

a.black:focus, a.black:hover {
  color: #333333; }

button.black, button.black.noHover:focus, button.black.noHover:hover {
  color: #000; }

button.black:focus, button.black:hover {
  color: #333333; }

label.black, label.black:focus, label.black:hover {
  color: #000; }

/* =============================================================================
   Border Helpers Styles | Etc
   ========================================================================== */
.bas, .bts, .brs, .bbs, .bls, .bhs, .bvs {
  border-style: solid; }

.bad, .btd, .brd, .bbd, .bld, .bhd, .bvd {
  border-style: dotted; }

.badd, .btdd, .brdd, .bbdd, .bldd, .bhdd, .bvdd {
  border-style: dashed; }

.bas, .bad, .badd {
  border-width: 1px; }

.bts, .btd, .btdd {
  border-width: 1px 0 0; }

.brs, .brd, .brdd {
  border-width: 0 1px 0 0; }

.bbs, .bbd, .bbdd {
  border-width: 0 0 1px; }

.bls, .bld, .bldd {
  border-width: 0 0 0 1px; }

.bhs, .bhd, .bhdd {
  border-width: 0 1px; }

.bvs, .bvd, .bvdd {
  border-width: 1px 0; }

.ban {
  border: none !important; }

.btn, .bvn {
  border-top: 0 !important; }

.brn, .bhn {
  border-right: 0 !important; }

.bbn, .bvn {
  border-bottom: 0 !important; }

.bln, .bhn {
  border-left: 0 !important; }

/* =============================================================================
   Animation Settings | Custom
   ========================================================================== */
/* =============================================================================
   Animation Settings | Etc
   ========================================================================== */
@media (min-width: 768px) {
  .hoverGrow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform; } }

/* =============================================================================
   Useful Classes | Etc
   ========================================================================== */
#go-main-content {
  top: auto;
  left: -10000px;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.ptn, .pvn, .pan {
  padding-top: 0 !important; }

.prn, .phn, .pan {
  padding-right: 0 !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0 !important; }

.pln, .phn, .pan {
  padding-left: 0 !important; }

.mtn, .mvn, .man {
  margin-top: 0 !important; }

.mrn, .mhn, .man {
  margin-right: 0 !important; }

.mbn, .mvn, .man {
  margin-bottom: 0 !important; }

.mln, .mhn, .man {
  margin-left: 0 !important; }

.pts, .pvs, .pas {
  padding-top: 5px !important; }

.prs, .phs, .pas {
  padding-right: 5px !important; }

.pbs, .pvs, .pas {
  padding-bottom: 5px !important; }

.pls, .phs, .pas {
  padding-left: 5px !important; }

.mts, .mvs, .mas {
  margin-top: 5px !important; }

.mrs, .mhs, .mas {
  margin-right: 5px !important; }

.mbs, .mvs, .mas {
  margin-bottom: 5px !important; }

.mls, .mhs, .mas {
  margin-left: 5px !important; }

.ptm, .pvm, .pam {
  padding-top: 10px !important; }

.prm, .phm, .pam {
  padding-right: 10px !important; }

.pbm, .pvm, .pam {
  padding-bottom: 10px !important; }

.plm, .phm, .pam {
  padding-left: 10px !important; }

.mtm, .mvm, .mam {
  margin-top: 10px !important; }

.mrm, .mhm, .mam {
  margin-right: 10px !important; }

.mbm, .mvm, .mam {
  margin-bottom: 10px !important; }

.mlm, .mhm, .mam {
  margin-left: 10px !important; }

.ptl, .pvl, .pal {
  padding-top: 20px !important; }

.prl, .phl, .pal {
  padding-right: 20px !important; }

.pbl, .pvl, .pal {
  padding-bottom: 20px !important; }

.pll, .phl, .pal {
  padding-left: 20px !important; }

.mtl, .mvl, .mal {
  margin-top: 20px !important; }

.mrl, .mhl, .mal {
  margin-right: 20px !important; }

.mbl, .mvl, .mal {
  margin-bottom: 20px !important; }

.mll, .mhl, .mal {
  margin-left: 20px !important; }

.mra, .mha {
  margin-right: auto !important; }

.mla, .mha {
  margin-left: auto !important; }

.pRel {
  position: relative; }

.pAbs {
  position: absolute; }

.clear {
  clear: both; }

.autoWidth {
  width: auto; }

.autoHeight {
  height: auto; }

.fullWidth {
  width: 100%; }

.fullHeight {
  position: absolute;
  top: 0;
  bottom: 0; }

.fullHeightPercent {
  height: 100%; }

.coverAll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

article, details, figcaption, figure, hgroup, main, menu, nav, summary,
.displayBlock {
  display: block !important; }

.displayInline {
  display: inline !important; }

.displayNone {
  display: none !important; }

.invisible {
  visibility: hidden; }

.centerVertically {
  display: table-cell;
  vertical-align: middle; }

article, article::before, article::after, details, details::before, details::after, figcaption, figcaption::before, figcaption::after, figure, figure::before, figure::after, hgroup, hgroup::before, hgroup::after, main, main::before, main::after, menu, menu::before, menu::after, nav, nav::before, nav::after, summary, summary::before, summary::after,
.contentBox,
.contentBox::before,
.contentBox::after, .displayBlock, .displayBlock::before, .displayBlock::after {
  box-sizing: content-box; }

.borderBox {
  box-sizing: border-box; }

.mask {
  position: relative;
  overflow: hidden; }

.cursorDefault {
  cursor: default; }

.cursorPointer {
  cursor: pointer; }

.cursorHelp {
  cursor: help; }

.cursorNone {
  cursor: none; }

.unstyled, .horizontal, .hyphenated {
  list-style: none !important; }

.floatLeft, .horizontal li {
  float: left !important; }

.floatRight, .horizontal li.floatRight,
.horizontal.right li {
  float: right !important; }

.horizontalCenter {
  list-style: none;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center; }
  .horizontalCenter li {
    display: inline; }
    .horizontalCenter li > * {
      display: inline-block; }

.horizontalCenterFlex {
  justify-content: center;
  flex-wrap: nowrap; }

.floatNone {
  float: none !important; }

/* =============================================================================
   Elements Styling/Corrections | Etc
   ========================================================================== */
audio, canvas, progress, video {
  *display: inline;
  *zoom: 1; }

html, body {
  margin: 0;
  padding: 0; }

iframe {
  border: none !important; }

ul, ol, li, dd {
  margin: 0;
  padding: 0; }

ul {
  list-style: disc inside; }

ol {
  list-style: decimal inside; }

a {
  line-height: 1em;
  cursor: pointer; }
  a img {
    border: none; }

a, a:hover {
  text-decoration: none; }

img {
  background-color: #c6c6c6;
  border: none;
  font: normal 11px/1em Arial;
  text-transform: uppercase;
  color: #333;
  -ms-interpolation-mode: bicubic; }

img[src$=".png"], img[src$=".gif"], img[src$=".svg"] {
  background-color: transparent; }

figure {
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }

/* =============================================================================
   Useful Classes Responsive | Etc
   ========================================================================== */
/* =============================================================================
   After Mobile Landscape Styles
   ========================================================================== */
/* =============================================================================
   Mobile Landscape Only Styles
   ========================================================================== */
/* =============================================================================
   Before Tablet Styles
   ========================================================================== */
@media (max-width: 767px) {
  .pRelBT {
    position: relative; }
  .pAbsBT {
    position: absolute; }
  .clearBT {
    clear: both; }
  .fullWidthBT {
    width: 100% !important; }
  .autoWidthBT {
    width: auto !important; }
  .autoHeightBT {
    height: auto !important; }
  .displayInlineBT {
    display: inline !important; }
  .displayBlockBT, .showBT {
    display: block !important; }
  .displayNoneBT, .hideBT {
    display: none !important; }
  .contentBoxBT {
    box-sizing: content-box; }
  .borderBoxBT {
    box-sizing: border-box; } }

/* =============================================================================
   Before Tablet Landscape Styles
   ========================================================================== */
/* =============================================================================
   Tablet Only Styles
   ========================================================================== */
/* =============================================================================
   After Tablet Styles
   ========================================================================== */
@media (min-width: 768px) {
  .unstyledAT, .horizontalAT, .hyphenatedAT {
    list-style: none !important; }
  .floatLeftAT, .horizontalAT li {
    float: left !important; }
  .floatRightAT, .horizontalAT li.floatRight,
  .horizontalAT.right li {
    float: right !important; }
  .horizontalCenterAT {
    margin-right: auto !important;
    margin-left: auto !important;
    list-style: none;
    text-align: center; }
    .horizontalCenterAT li {
      display: inline; }
      .horizontalCenterAT li > * {
        display: inline-block; }
  .floatNoneAT, .unstyledAT li {
    float: none !important; } }

/* =============================================================================
   After Tablet Landscape Styles
   ========================================================================== */
/* =============================================================================
   Tablet Landscape Only Styles
   ========================================================================== */
/* =============================================================================
   Before Desktop Styles
   ========================================================================== */
/* =============================================================================
   After Laptop Styles
   ========================================================================== */
/* =============================================================================
   After Desktop Styles
   ========================================================================== */
/* =============================================================================
   Body Settings | Custom
   ========================================================================== */
body {
  background-color: #fff; }

/* =============================================================================
   Nav Styles | Etc
   ========================================================================== */
.mainNav li a {
  font-family: Arial; }

.mainNav li.selected a {
  font-family: Arial; }

@media (max-width: 767px) {
  .mainNav li a {
    color: #999; }
  .mainNav li.selected a {
    color: #999; } }

@media (min-width: 768px) {
  .mainNav li {
    background: transparent; }
    .mainNav li a {
      background: transparent;
      color: #999; }
    .mainNav li.selected {
      background: transparent; }
      .mainNav li.selected a {
        background: transparent;
        color: #666666; } }

@media (min-width: 1024px) {
  .mainNav li a:focus, .mainNav li a:hover {
    background: transparent;
    color: #666666; }
  .mainNav li.selected a, .mainNav li.selected a:focus, .mainNav li.selected a:hover {
    color: #666666; }
  .mainNav li.selected a:focus, .mainNav li.selected a:hover {
    background: transparent; } }

/* =============================================================================
   Global Variables | Custom
   ========================================================================== */
.callToAction {
  border: 2px solid #999;
  display: block;
  box-sizing: border-box;
  transition: background-color 0.7s cubic-bezier(0.39, 0.575, 0.565, 1), color 1s;
  background-color: #999;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-family: Arial;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center; }
  .callToAction:focus, .callToAction:hover {
    background-color: #c6c6c6;
    border-color: #333;
    color: #666; }
  @media (max-width: 420px) {
    .callToAction {
      width: 100% !important; } }
  @media (max-width: 767px) {
    .callToAction {
      height: auto;
      line-height: 1.3em; } }
  @media (min-width: 768px) {
    .callToAction {
      height: 50px;
      line-height: 50px; } }

/* =============================================================================
   Internas Styles | Custom
   ========================================================================== */
/* =============================================================================
   Colour Settings | Custom
   ========================================================================== */
a.white:focus, a.white:hover {
  color: #fff;
  text-shadow: 0 0 3px #999; }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0.8+100 */
.bgGradWhiteEighty {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 ); }

/* =============================================================================
   Background Settings | Custom
   ========================================================================== */
.bgWhite {
  background-color: #fff; }

.bgBlack {
  background-color: #000; }

.bgError {
  background-color: #d43131; }

.bgGreen {
  background-color: #339900; }

.bgGreyXXL {
  background-color: #f4f4f4; }

.bgGreyXL {
  background-color: #dedede; }

.bgGreyL {
  background-color: #c6c6c6; }

.bgGrey {
  background-color: #999; }

.bgGreyD {
  background-color: #666; }

.bgGreyXD {
  background-color: #333; }

a.mainBgColour:hover, a.mainBgColour:focus {
  background-color: #666666; }

button.mainBgColour:hover, button.mainBgColour:focus {
  background-color: #666666; }

input[type="submit"].mainBgColour:hover, input[type="submit"].mainBgColour:focus {
  background-color: #666666; }

input[type="file"].mainBgColour:hover, input[type="file"].mainBgColour:focus {
  background-color: #666666; }

.noBackground, .noBackground:focus, .noBackground:hover, .bgNone, .bgNone:focus, .bgNone:hover {
  background-color: transparent !important;
  background-image: none !important; }

.bgTransparent, .bgTransparent:focus, .bgTransparent:hover {
  background-color: transparent !important; }

.bgNoImage, .bgNoImage:focus, .bgNoImage:hover {
  background-image: none !important; }

.bgError {
  background-color: #d43131; }

/* =============================================================================
   Shadows Settings | Custom
   ========================================================================== */
.boxShadow {
  box-shadow: 0 0 10px 0 #666; }

.boxShadowInner {
  box-shadow: inset 0 0 10px 0 #666; }

.bgShadowT,
.bgShadowB {
  background-repeat: repeat-x;
  background-color: transparent;
  background-size: 1px; }

.bgShadowT {
  background-image: url("/nuevo/img/bg_shadowT.png");
  background-position: center top; }

.bgShadowB {
  background-image: url("/nuevo/img/bg_shadowB.png");
  background-position: center bottom; }

/* =============================================================================
   Border Settings | Custom
   ========================================================================== */
.bw {
  border-color: #fff; }

.bk {
  border-color: #000; }

.bg {
  border-color: #999; }

/* =============================================================================
   Settings Lists | Custom
   ========================================================================== */
ul.hyphenated li {
  position: relative; }
  ul.hyphenated li::before {
    content: "- "; }

.ulResp2 li a, .ulResp3 li a, .ulResp4 li a {
  position: relative; }

.ulResp2 li img, .ulResp3 li img, .ulResp4 li img {
  margin-right: auto !important;
  margin-left: auto !important; }

@media (max-width: 420px) {
  .ulResp2 li, .ulResp3 li, .ulResp4 li {
    width: 100%;
    float: none !important; }
    .ulResp2 li img, .ulResp3 li img, .ulResp4 li img {
      width: 100%; } }

@media (min-width: 421px) and (max-width: 767px) {
  .ulResp2 li:nth-child(odd):last-child, .ulResp3 li:nth-child(odd):last-child, .ulResp4 li:nth-child(odd):last-child {
    clear: both;
    width: 100%;
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important; } }

@media (min-width: 421px) {
  .ulResp2 li, .ulResp3 li, .ulResp4 li {
    width: 50%; }
    .ulResp2 li img, .ulResp3 li img, .ulResp4 li img {
      width: auto; } }

@media (min-width: 768px) {
  .ulResp2 li:nth-child(n+3) {
    margin-top: 40px; } }

@media (min-width: 768px) {
  .ulResp3 li {
    width: calc(100% / 3); } }

@media (min-width: 768px) {
  .ulResp4 li {
    width: 25%; } }

/* =============================================================================
   Header Styles | Custom
   ========================================================================== */
#header {
  /*z-index: $zIndexHeader;*/ }
  #header .logoHeader {
    z-index: 100;
    margin: 0 !important; }
  @media (max-width: 767px) {
    #header {
      box-sizing: border-box;
      padding-top: 20px;
      height: 150px; }
      #header .logoHeader, #header .logoHeader a, #header .logoHeader img {
        width: 150px; } }
  @media (min-width: 768px) {
    #header .logoHeader, #header .logoHeader a, #header .logoHeader img {
      width: 150px; }
    #header.topper {
      height: 50px; }
      #header.topper li {
        padding-top: 0; }
      #header.topper a {
        height: 50px;
        line-height: 50px; } }
  @media (min-width: 1024px) {
    #header {
      height: 130px; }
      #header .logoHeader, #header .logoHeader a, #header .logoHeader img {
        width: 150px; } }

/* =============================================================================
   Nav Styles | Custom
   ========================================================================== */
.mainNav {
  z-index: 1000; }
  @media (max-width: 767px) {
    .mainNav {
      top: 10px;
      right: 10px;
      position: fixed;
      width: 200px; }
      .mainNav .hamb, .mainNav ul {
        border-radius: 4px; }
      .mainNav .hamb {
        top: 0;
        right: 0;
        border: 1px solid #999;
        box-sizing: border-box;
        z-index: 200;
        width: 90px;
        height: 45px;
        background: #fff url("/nuevo/img/ic_hamburgerMenu.svg") no-repeat 10px center;
        background-size: 15px;
        padding: 0 10px 0 30px;
        color: #333;
        font-family: Arial;
        font-size: 1em;
        line-height: 43px; }
        .mainNav .hamb.clicked {
          color: #333; }
      .mainNav ul {
        z-index: 190;
        position: relative;
        top: 50px;
        width: 200px;
        height: auto !important;
        background-color: #fff;
        padding: 3px 0;
        box-shadow: 0 0 4px #000; }
        .mainNav ul li {
          float: none !important; }
          .mainNav ul li, .mainNav ul li a {
            height: 45px;
            line-height: 45px; }
          .mainNav ul li:nth-child(even) {
            background-color: #f4f4f4; }
          .mainNav ul li:last-child, .mainNav ul li:last-child a {
            border-radius: 0 0 4px 4px; }
          .mainNav ul li a {
            font-size: 0.8em;
            text-align: center; } }
  @media (min-width: 768px) {
    .mainNav li, .mainNav li a {
      height: 60px;
      line-height: 60px; }
    .mainNav li a {
      transition: all 1s ease; }
    .mainNav li + li {
      margin-top: 0px; }
    .mainNav li.selected a {
      cursor: default; }
    .mainNav.topper {
      position: fixed;
      top: 0;
      width: 100%; }
      .mainNav.topper ul {
        width: 700px;
        margin-right: auto !important;
        margin-left: auto !important; } }

/* =============================================================================
   Footer Styles | Custom
   ========================================================================== */
#footer .logoFooter {
  width: 100px; }

#footer .social li a {
  width: 50px;
  height: 50px;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=75)";
  transition: all 1s ease; }
  #footer .social li a:focus, #footer .social li a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(opacity=100)"; }

/* =============================================================================
   Index Styles | Custom
   ========================================================================== */
