/* * NombreDeProyecto * ========================================================
   Colours CSS RGB Variables | Custom [/etc/css/custom/var/colours_css_rgb_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$aliceblue_rgb: rgb(240, 248, 255);
$antiquewhite_rgb: rgb(250, 235, 215);
$aqua_rgb: rgb(0, 255, 255);
$aquamarine_rgb: rgb(127, 255, 212);
$azure_rgb: rgb(240, 255, 255);
$beige_rgb: rgb(245, 245, 220);
$bisque_rgb: rgb(255, 228, 196);
$black_rgb: rgb(0, 0, 0);
$blanchedalmond_rgb: rgb(255, 235, 205);
$blue_rgb: rgb(0, 0, 255);
$blueviolet_rgb: rgb(138, 43, 226);
$brown_rgb: rgb(165, 42, 42);
$burlywood_rgb: rgb(222, 184, 135);
$cadetblue_rgb: rgb(95, 158, 160);
$chartreuse_rgb: rgb(127, 255, 0);
$chocolate_rgb: rgb(210, 105, 30);
$coral_rgb: rgb(255, 127, 80);
$cornflowerblue_rgb: rgb(100, 149, 237);
$cornsilk_rgb: rgb(255, 248, 220);
$crimson_rgb: rgb(220, 20, 60);
$cyan_rgb: rgb(0, 255, 255);
$darkblue_rgb: rgb(0, 0, 139);
$darkcyan_rgb: rgb(0, 139, 139);
$darkgoldenrod_rgb: rgb(184, 134, 11);
$darkgray_rgb: rgb(169, 169, 169);
$darkgreen_rgb: rgb(0, 100, 0);
$darkgrey_rgb: rgb(169, 169, 169);
$darkkhaki_rgb: rgb(189, 183, 107);
$darkmagenta_rgb: rgb(139, 0, 139);
$darkolivegreen_rgb: rgb(85, 107, 47);
$darkorange_rgb: rgb(255, 140, 0);
$darkorchid_rgb: rgb(153, 50, 204);
$darkred_rgb: rgb(139, 0, 0);
$darksalmon_rgb: rgb(233, 150, 122);
$darkseagreen_rgb: rgb(143, 188, 143);
$darkslateblue_rgb: rgb(72, 61, 139);
$darkslategray_rgb: rgb(47, 79, 79);
$darkslategrey_rgb: rgb(47, 79, 79);
$darkturquoise_rgb: rgb(0, 206, 209);
$darkviolet_rgb: rgb(148, 0, 211);
$deeppink_rgb: rgb(255, 20, 147);
$deepskyblue_rgb: rgb(0, 191, 255);
$dimgray_rgb: rgb(105, 105, 105);
$dimgrey_rgb: rgb(105, 105, 105);
$dodgerblue_rgb: rgb(30, 144, 255);
$firebrick_rgb: rgb(178, 34, 34);
$floralwhite_rgb: rgb(255, 250, 240);
$forestgreen_rgb: rgb(34, 139, 34);
$fuchsia_rgb: rgb(255, 0, 255);
$gainsboro_rgb: rgb(220, 220, 220);
$ghostwhite_rgb: rgb(248, 248, 255);
$gold_rgb: rgb(255, 215, 0);
$goldenrod_rgb: rgb(218, 165, 32);
$gray_rgb: rgb(128, 128, 128);
$green_rgb: rgb(0, 128, 0);
$greenyellow_rgb: rgb(173, 255, 47);
$grey_rgb: rgb(128, 128, 128);
$honeydew_rgb: rgb(240, 255, 240);
$hotpink_rgb: rgb(255, 105, 180);
$indianred_rgb: rgb(205, 92, 92);
$indigo_rgb: rgb(75, 0, 130);
$ivory_rgb: rgb(255, 255, 240);
$khaki_rgb: rgb(240, 230, 140);
$lavender_rgb: rgb(230, 230, 250);
$lavenderblush_rgb: rgb(255, 240, 245);
$lawngreen_rgb: rgb(124, 252, 0);
$lemonchiffon_rgb: rgb(255, 250, 205);
$lightblue_rgb: rgb(173, 216, 230);
$lightcoral_rgb: rgb(240, 128, 128);
$lightcyan_rgb: rgb(224, 255, 255);
$lightgoldenrodyellow_rgb: rgb(250, 250, 210);
$lightgray_rgb: rgb(211, 211, 211);
$lightgreen_rgb: rgb(144, 238, 144);
$lightgrey_rgb: rgb(211, 211, 211);
$lightpink_rgb: rgb(255, 182, 193);
$lightsalmon_rgb: rgb(255, 160, 122);
$lightseagreen_rgb: rgb(32, 178, 170);
$lightskyblue_rgb: rgb(135, 206, 250);
$lightslategray_rgb: rgb(119, 136, 153);
$lightslategrey_rgb: rgb(119, 136, 153);
$lightsteelblue_rgb: rgb(176, 196, 222);
$lightyellow_rgb: rgb(255, 255, 224);
$lime_rgb: rgb(0, 255, 0);
$limegreen_rgb: rgb(50, 205, 50);
$linen_rgb: rgb(250, 240, 230);
$magenta_rgb: rgb(255, 0, 255);
$maroon_rgb: rgb(128, 0, 0);
$mediumaquamarine_rgb: rgb(102, 205, 170);
$mediumblue_rgb: rgb(0, 0, 205);
$mediumorchid_rgb: rgb(186, 85, 211);
$mediumpurple_rgb: rgb(147, 112, 219);
$mediumseagreen_rgb: rgb(60, 179, 113);
$mediumslateblue_rgb: rgb(123, 104, 238);
$mediumspringgreen_rgb: rgb(0, 250, 154);
$mediumturquoise_rgb: rgb(72, 209, 204);
$mediumvioletred_rgb: rgb(199, 21, 133);
$midnightblue_rgb: rgb(25, 25, 112);
$mintcream_rgb: rgb(245, 255, 250);
$mistyrose_rgb: rgb(255, 228, 225);
$moccasin_rgb: rgb(255, 228, 181);
$navajowhite_rgb: rgb(255, 222, 173);
$navy_rgb: rgb(0, 0, 128);
$oldlace_rgb: rgb(253, 245, 230);
$olive_rgb: rgb(128, 128, 0);
$olivedrab_rgb: rgb(107, 142, 35);
$orange_rgb: rgb(255, 165, 0);
$orangered_rgb: rgb(255, 69, 0);
$orchid_rgb: rgb(218, 112, 214);
$palegoldenrod_rgb: rgb(238, 232, 170);
$palegreen_rgb: rgb(152, 251, 152);
$paleturquoise_rgb: rgb(175, 238, 238);
$palevioletred_rgb: rgb(219, 112, 147);
$papayawhip_rgb: rgb(255, 239, 213);
$peachpuff_rgb: rgb(255, 218, 185);
$peru_rgb: rgb(205, 133, 63);
$pink_rgb: rgb(255, 192, 203);
$plum_rgb: rgb(221, 160, 221);
$powderblue_rgb: rgb(176, 224, 230);
$purple_rgb: rgb(128, 0, 128);
$rebeccapurple_rgb: rgb(102, 51, 153);
$red_rgb: rgb(255, 0, 0);
$rosybrown_rgb: rgb(188, 143, 143);
$royalblue_rgb: rgb(65, 105, 225);
$saddlebrown_rgb: rgb(139, 69, 19);
$salmon_rgb: rgb(250, 128, 114);
$sandybrown_rgb: rgb(244, 164, 96);
$seagreen_rgb: rgb(46, 139, 87);
$seashell_rgb: rgb(255, 245, 238);
$sienna_rgb: rgb(160, 82, 45);
$silver_rgb: rgb(192, 192, 192);
$skyblue_rgb: rgb(135, 206, 235);
$slateblue_rgb: rgb(106, 90, 205);
$slategray_rgb: rgb(112, 128, 144);
$slategrey_rgb: rgb(112, 128, 144);
$snow_rgb: rgb(255, 250, 250);
$springgreen_rgb: rgb(0, 255, 127);
$steelblue_rgb: rgb(70, 130, 180);
$tan_rgb: rgb(210, 180, 140);
$teal_rgb: rgb(0, 128, 128);
$thistle_rgb: rgb(216, 191, 216);
$tomato_rgb: rgb(255, 99, 71);
$turquoise_rgb: rgb(64, 224, 208);
$violet_rgb: rgb(238, 130, 238);
$wheat_rgb: rgb(245, 222, 179);
$white_rgb: rgb(255, 255, 255);
$whitesmoke_rgb: rgb(245, 245, 245);
$yellow_rgb: rgb(255, 255, 0);
$yellowgreen_rgb: rgb(154, 205, 50);
