/* * NombreDeProyecto * ========================================================
   Fonts Main Variables | Custom [/etc/css/custom/var/fonts_main_zh_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables de fuentes.
// Contiene mapas de fuentes.

// REF [14a] Idioma Chino ZH, MingLiu font



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$font_families_map:(
// Este mapa se usa con el mixin `fontFamilyCustomClassesGenerator` que se
// encuentra en `[/etc/css/scss/mixins_fonts.scss]`, genera una clase por cada
// fuente.
// Ej. 
// .timesNewRoman { font-family: "Times New Roman"; }
//
// También se usa para asignar valor a la variable de cada fuente.
// Ej.
// $timesNewRoman: map.get($font_families_map, timesNewRoman), $font_families_serif_list_fallback;
// font-family: $timesNewRoman;

    arial:          'mingliuregular',
    roboto:         'mingliuregular',
    //    timesNewRoman:  'mingliuregular',
);
    
$font_weights_map:(
// Este mapa se usa con el mixin `fontFamilyWeightsGenerator` que se
// encuentra en `[/etc/css/scss/mixins_fonts.scss]`, genera una clase por cada fuente.
// Ej. 
// .timesNewRomanM { font-weight: 500; }
// .timesNewRomanB { font-weight: 700; }


//    ralewayM:       500,
//    ralewaySB:      600,
//    ralewayXB:      800
);


/* // Variables de fuentes -------------------------------------------------- */
// Luego de declarar las variables de fuentes hay que asignarlas a las variables
// `ftFamily_` regular y bold
// REF [46] Fuentes Regular y Bold

$arial:         map.get($font_families_map, arial);
$roboto:        map.get($font_families_map, roboto);
//$timesNewRoman: map.get($font_families_map, timesNewRoman);
//$monospacedFont: map.get($font_families_map, monospacedFont);
//$ming:              map.get($font_families_map, ming); // REF [14a]
//$pming:             map.get($font_families_map, pming); // REF [14a]