/* * NombreDeProyecto * ========================================================
   Animation Variables | Custom [/etc/css/custom/var/animation_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Contiene las variables para la propiedad `animation-delay` de las
// animaciones del sitio. El orden de delay es el orden en el que se animan
// los elementos.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Animation order/timing ------------------------------------------------ */
$animationA_ani_delay:      0.5s;
$animationB_ani_delay:      2s;
$animationC_ani_delay:      6s;

/* // Animation shared values ----------------------------------------------- */