/* =============================================================================
   Animation Variables | Custom [var/animations.scss]
   ========================================================================== */
$hover_grow_display_ani: inline-block;
$hover_grow_scaleSmall_ani: 1.05;
$hover_grow_scaleMedium_ani: 1.10;
$hover_grow_scaleLarge_ani: 1.15;