/* =============================================================================
   Buttons Variables | Custom [/etc/css/custom/var/buttons_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$button_callToAction_ftFamily:          $arial;
$button_callToAction_ftColour:          $white;
$button_callToAction_ftColour_hover:    $greyXD;

$button_callToAction_bdColour:          $bdGrey;
$button_callToAction_bdColour_hover:    $bdGrey2XD;

$button_callToAction_bgColour:          $bgGrey;
$button_callToAction_bgColour_hover:    $bgGreyL;
    

/* // Whatsapp -------------------------------------------------------------- */
$button_whatsapp_size:                  60px; 
$button_whatsapp_before_height:         40px;
$button_whatsapp_before_width_MO:       220px;
$button_whatsapp_before_width_AML:      220px;