/* * NombreDeProyecto * ========================================================
   Buttons Variables | Custom [/etc/css/custom/var/buttons_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@use "sass:color";
@use "sass:map";

@use "env_var" as *;
@use "colours_main_var" as *;
@use "colours_borders_var" as *;
@use "colours_backgrounds_var" as *;

@use "fonts_main_var" as *;

/* // Button General -------------------------------------------------------- */
$button_callToAction_ftFamily:          $arial;
$button_callToAction_ftColour:          $white;
$button_callToAction_ftColour_hover:    $greyXD;

$button_callToAction_bdColour:          $bdGreyM;
$button_callToAction_bdColour_hover:    $bdGrey2XD;

$button_callToAction_bgColour:          $bgGreyM;
$button_callToAction_bgColour_hover:    $bgGreyL;


$button_callToAction_white_ftFamily:          $button_callToAction_ftFamily;
$button_callToAction_white_ftColour:          $grey3XD;
$button_callToAction_white_ftColour_hover:    $button_callToAction_white_ftColour;

$button_callToAction_white_bdColour:          $bdGrey4XL;
$button_callToAction_white_bdColour_hover:    $bgGrey4XL;

$button_callToAction_white_bgColour:          $bdGrey2XL;
$button_callToAction_white_bgColour_hover:    $bgGrey2XL;



/* // Button Close ---------------------------------------------------------- */
$button_close_global_size:      35px;
$button_close_pop_size:         30px;
    

/* // Button Whatsapp ------------------------------------------------------- */
$button_whatsApp_width:                 70px; 
$button_whatsApp_height:                $button_whatsApp_width; 
$button_whatsApp_size_square:           $button_whatsApp_width; 

$button_whatsApp_before_height:         40px;
$button_whatsApp_before_width_B300:     160px;
$button_whatsApp_before_width_A300:     200px;
$button_whatsApp_before_width_A500:     220px;
    

/* // Button SiteTop // REF [18] -------------------------------------------- */
$button_siteTop_size:                   40px; 

/* // Button Video Play ----------------------------------------------------- */
$button_before_icon_play_size:          60px;