/* * NombreDeProyecto * ========================================================
   Button Nav Hamburger Variables | Custom [/etc/css/custom/var/button_nav_hamburger_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Button Hambuger Sizes ------------------------------------------------- */
$button_hamb_open_width:        90px;
$button_hamb_open_height:       40px;
$button_hambOnly_size:          45px;
$button_hamb_close_size:        $button_hamb_open_height; // REF [11] Si está activado $hamburger_only_act el valor debe ser $button_hambOnly_size
    
/*___ Button Hambuger Sizes Accordion ___*/
$nav_accordion_hamburger_height:    40px;
$nav_accordion_item_height:         45px;




/* // Button Hambuger Colours ----------------------------------------------- */
/*___ Font ______________________________*/
$button_hamb_ftColour:              $grey2XD;
$button_hamb_ftColour_clicked:      $button_hamb_ftColour;


/*___ Backgrounds _______________________*/
$button_hamb_open_bgColour:             $bgGrey3XL;
$button_hamb_open_bgColour_scrolled:    $grey3XL_rgba_70;
$button_hamb_close_bgColour:            transparent;


/*___ Borders ___________________________*/
$button_hamb_open_bdColour:         $bdGreyM;
$button_hamb_close_bdColour:        transparent;



/* // Button Hambuger Font -------------------------------------------------- */
$button_hamb_ftFamily:           $ftFamily_regular_global;
$button_hamb_ftWeight:           400; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/