/* =============================================================================
   Border Colours Variables | Custom [var/colours_borders.scss]
   ========================================================================== */
/* // References ------------------------------------------------------------ */
///-- Spacing
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A              = horizontal, vertical, all

///-- Screen Sizes
// M, L, T, D, DL       = mobile, landscape, tablet, desktop, desktop large
// B, A, O              = before, after, only

///-- Colours
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fonts
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


///**Border Colours:** 
    ///Aquí se declaran los colores de bordes del sitio. No se genera ningún CSS de este mapa. Solamente se utilizan las var declaradas abajo en los archivos .scss
$borderColours_map:(
    white:          $white,
    black:          $black,
//  redColour:      $redColour,
  
//  greenSystem3XL: $greenSystem3XL,
//  greenSystem2XL: $greenSystem2XL,
//  greenSystemXL:  $greenSystemXL,
//  greenSystemL:   $greenSystemL,
//  greenSystem:    $greenSystem,
  
//  grey4XL:        $grey4XL,
//  grey3XL:        $grey3XL,
    grey2XL:        $grey2XL,
    greyXL:         $greyXL,
    greyL:          $greyL,
    grey:           $grey,
    greyXD:         $greyXD,
    grey2XD:        $grey2XD,
//  grey3XD:        $grey3XD,
    
    error:          $errorColour
);
 
$bdError:           map-get($borderColours_map, error);

$bdWhite:           map-get($borderColours_map, white);
$bdBlack:           map-get($borderColours_map, black);
//$bdRedColour:       map-get($borderColours_map, redColour);

//$bdGrey4XL:         map-get($borderColours_map, grey4XL);
//$bdGrey3XL:         map-get($borderColours_map, grey3XL);
$bdGrey2XL:         map-get($borderColours_map, grey2XL);
$bdGreyXL:          map-get($borderColours_map, greyXL);
$bdGreyL:           map-get($borderColours_map, greyL);
$bdGrey:            map-get($borderColours_map, grey);
$bdGreyD:           map-get($borderColours_map, greyD);
$bdGreyXD:          map-get($borderColours_map, greyXD);
$bdGrey2XD:         map-get($borderColours_map, grey2XD);
//$bdGrey3XD:         map-get($borderColours_map, grey3XD);

$bdColour_main_global:              $bdGrey;
$bdColour_main_global_hover:        darken($bdColour_main_global, 15%);

$bdColour_secondary_global:         $bdGreyXD;
$bdColour_secondary_global_hover:   darken($bdColour_main_global, 15%);