/* * NombreDeProyecto * ========================================================
   Colours Main Variables | Custom [/etc/css/custom/var/colours_main_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



///**Colours Map Light:** 
    ///Aquí se agregan los colores CLAROS usados en el sitio, de este mapa se creara una clase por cada color, eg.: `.white{color: #fff}`, con el mixin  **colourLightClassesGenerator** `[/etc/scss/mixins_colours.scss]`. Generará las pseudo-clases `:active` y `:visited` con el mismo valor. Las pseudo-clases `:focus` y `:hover` oscurecerán el color de acuerdo al porcentaje asignado en la variable `$colours_light_lightenValue` debajo del mapa.  
$colours_light_map:(
//  greenSystem4XL: #F5FFD2,
//  greenSystem3XL: #e6ff99,
//  greenSystem2XL: #b6f268,
//  greenSystemXL:  #7DD825,
//  greenSystemL:   #54c81a,
    greenSystemM:   #339900,
//  greenSystemD:   #2a7d00,

//  warning4XL:     #FFF1CF,
//  warningXL:      #ED9B58,
//  warningM:       #EA791C,
//  warningD:       #E06714,
    
    greenWhatsApp:  #25D366,
    
    grey5XL:        #fcfcfc,
    grey4XL:        #f9f9f9,
    grey3XL:        #f2f2f2,
    grey2XL:        #e6e6e6,
    greyXL:         #dedede,
    greyL:          #b2b2b2,
    greyM:          #8c8c8c,
    
//  errorColour5XL: #fff3f3,
//  errorColour4XL: #FFEEE4,
//  errorColourXL   #EA636D,
    errorColour:    #eb1c24,
    
    statusInfo:     #8c8c8c, /* $greyM, */
    statusOk:       #339900, /* $greenSystemM, */
    statusWarning:  #E06714, /* $warningD */
    statusError:    #eb1c24 /* $errorColour, */
);
$colours_light_lightenValue: 20%;

///**Colours Map Dark:** 
    ///Aquí se agregan los colores OSCUROS usados en el sitio, de este mapa se creara una clase por cada color, eg.: `.black{color: #000}` con el mixin **colourDarkClassesGenerator** `[/etc/scss/mixins_colours.scss]`. Generará las pseudo-clases `:active` y `:visited` con el mismo valor. Las pseudo-clases `:focus` y `:hover` aclararán el color con el porcentaje asignado en la variable `$colours_dark_lightenValue` debajo del mapa.
$colours_dark_map:(
    greyD:          #666,
    greyXD:         #4d4d4d,
    grey2XD:        #333,
    grey3XD:        #111,
    grey4XD:        #0c0c0c,
    grey5XD:        #060606,
    black:          #000
);
$colours_dark_lightenValue: 20%;

$colours_merged_map: map.merge($colours_light_map, $colours_dark_map);

$white:             #fff;
$white_hover:       color.adjust($white, $lightness: -10%);
$white_rgba:        rgb(255, 255, 255);
$white_rgba_10:     rgba($white_rgba, 0.1);
$white_rgba_20:     rgba($white_rgba, 0.2);
$white_rgba_30:     rgba($white_rgba, 0.3);
$white_rgba_40:     rgba($white_rgba, 0.4);
$white_rgba_50:     rgba($white_rgba, 0.5);
$white_rgba_60:     rgba($white_rgba, 0.6);
$white_rgba_70:     rgba($white_rgba, 0.7);
$white_rgba_80:     rgba($white_rgba, 0.8);
$white_rgba_85:     rgba($white_rgba, 0.85);
$white_rgba_90:     rgba($white_rgba, 0.9);

$black:             map.get($colours_merged_map, black);
$black_rgba:        rgb(0, 0, 0);
$black_rgba_10:     rgba($black_rgba, 0.1);
$black_rgba_20:     rgba($black_rgba, 0.2);
$black_rgba_30:     rgba($black_rgba, 0.3);
$black_rgba_40:     rgba($black_rgba, 0.4);
$black_rgba_50:     rgba($black_rgba, 0.5);
$black_rgba_60:     rgba($black_rgba, 0.6);
$black_rgba_70:     rgba($black_rgba, 0.7);
$black_rgba_80:     rgba($black_rgba, 0.8);
$black_rgba_90:     rgba($black_rgba, 0.9);

//$errorColour4XL:    map.get($colours_merged_map, errorColour4XL);
//$errorColourXL:    map.get($colours_merged_map, errorColourXL);
$errorColour:       map.get($colours_merged_map, errorColour);
$errorColour_rgba:      rgb(235, 28, 36);
$errorColour_rgba_40:   rgba($errorColour_rgba, 0.4);
$errorColour_rgba_70:   rgba($errorColour_rgba, 0.7);

//$greenSystem4XL:    map.get($colours_merged_map, greenSystem4XL);
//$greenSystem3XL:    map.get($colours_merged_map, greenSystem3XL);
//$greenSystem2XL:    map.get($colours_merged_map, greenSystem2XL);
//$greenSystemXL:     map.get($colours_merged_map, greenSystemXL);
//$greenSystemL:      map.get($colours_merged_map, greenSystemL);
$greenSystemM:      map.get($colours_merged_map, greenSystemM);
//$greenSystemD:      map.get($colours_merged_map, greenSystemD);

$greenWhatsApp:         map.get($colours_merged_map, greenWhatsApp);
$greenWhatsApp_hover:   color.adjust($greenWhatsApp, $lightness: -5%);

$grey5XL:           map.get($colours_merged_map, grey5XL);
$grey4XL:           map.get($colours_merged_map, grey4XL);
$grey3XL:           map.get($colours_merged_map, grey3XL);
$grey3XL_rgba:      rgb(422, 242, 242);
$grey3XL_rgba_70:   rgba($grey3XL_rgba, 0.7);
$grey2XL:           map.get($colours_merged_map, grey2XL);
$greyXL:            map.get($colours_merged_map, greyXL);
$greyXL_rgba:       rgb(222, 222, 222);
$greyXL_rgba_00:    rgba($greyXL_rgba, 0); // REF [16]
$greyL:             map.get($colours_merged_map, greyL);
$greyL_rgba:        rgb(178, 178, 178);
$greyL_rgba_20:     rgba($greyL_rgba, 0.2);
$greyL_rgba_50:     rgba($greyL_rgba, 0.5);
$greyM:             map.get($colours_merged_map, greyM);
$greyD:             map.get($colours_merged_map, greyD);
$greyXD:            map.get($colours_merged_map, greyXD);
$grey2XD:           map.get($colours_merged_map, grey2XD);
$grey2XD_rgba:      rgb(51, 51, 51);
$grey2XD_rgba_90:   rgba($grey2XD_rgba, 0.9);
$grey3XD:           map.get($colours_merged_map, grey3XD);
$grey4XD:           map.get($colours_merged_map, grey4XD);
$grey5XD:           map.get($colours_merged_map, grey5XD);

//$redColourM:        map.get($colours_merged_map, redColourM);

$statusInfo:     map.get($colours_merged_map, statusInfo);
$statusOk:       map.get($colours_merged_map, statusOk);
$statusWarning:  map.get($colours_merged_map, statusWarning);
$statusError:    map.get($colours_merged_map, statusError);

///**Anchor Colours Light:** 
    ///Aquí se agregan los colores para las anclas dentro de un párrafo con color CLARO, de este mapa se creara una clase por cada color con el mixin **anchorColoursLightClassesGenerator** `[/etc/scss/coloursMixins.scss]`. Se creara el sig. CSS por cada color, eg.: `.white a{color: #fff}`. Generará las pseudo-clases `:active` y `:visited` con el mismo valor. Las pseudo-clases `:focus` y `:hover` aclararán el color con el porcentaje asignado en la variable `$colours_anchor_ftColours_light_lightenValue` debajo del mapa. 
$colours_anchor_ftColours_light_map:(
//  white: $white,
);
$colours_anchor_ftColours_light_lightenValue: 20%;

///**Anchor Colours Dark:** 
    ///Aquí se agregan los colores para las anclas dentro de un párrafo con color OSCURO, de este mapa se creara una clase por cada color con el mixin **anchorColoursDarkClassesGenerator** `[/etc/scss/coloursMixins.scss]`. Se creara el sig. CSS por cada color, eg.: `.black a{color: #000}`. Generará las pseudo-clases `:active` y `:visited` con el mismo valor. Las pseudo-clases `:focus` y `:hover` oscurecerán el color con el porcentaje asignado en la variable `$colours_anchor_ftColours_dark_lightenValue` debajo del mapa.
$colours_anchor_ftColours_dark_map:(
//  black: $black,
);
$colours_anchor_ftColours_dark_lightenValue: 20%;