@use "sass:color";
/* * NombreDeProyecto * ========================================================
   Background Colours Variables | Custom [/etc/css/custom/var/colours_backgrounds_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.
// Contiene mapas de colores.
//
// #colour #background #fondo #map #mixin #variables_main #focus #hover #anchor
// #button #input



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$colours_backgrounds_map:(
// Este mapa se usa con el mixin `backgroundColourClassesGenerator` que se
// encuentra en `[/etc/css/scss/mixins_colours.scss]`, genera una clase por cada
// color.
// Ej. 
// .bgBlack { background-color: #000; }
//
// También se usa para asignar valor a la variable de cada color de fondo.
// Ej.
// $bgBlack: map-get($colours_backgrounds_map, Black);
// background-color: $bgBlack;


//  RedColourM:     $redColourM,

    White:          $white,
    Black:          $black,
  
//  GreenSystem4XL: $greenSystem4XL,
//  GreenSystem3XL: $greenSystem3XL,
//  GreenSystem2XL: $greenSystem2XL,
//  GreenSystemXL:  $greenSystemXL,
//  GreenSystemL:   $greenSystemL,
    GreenSystemM:   $greenSystemM,
    
    GreenWhatsApp:  $greenWhatsApp,
    
    Grey4XL:        $grey4XL,
    Grey3XL:        $grey3XL,
    Grey2XL:        $grey2XL,
    GreyXL:         $greyXL,
    GreyL:          $greyL,
    GreyM:          $greyM,
    GreyD:          $greyD,
    GreyXD:         $greyXD,
    Grey2XD:        $grey2XD,
    Grey3XD:        $grey3XD,
    
    StatusInfo:     #f9f9f9, /* $grey4XL, */
    StatusOk:       #F5FFD2, /* $greenSystem4XL, */
    StatusWarning:  #fff9e9, /* $warning5XL, */
    StatusError:    #fff3f3, /* $errorColour5XL, */
    
    Error:          $errorColour
);

$bgError:           map-get($colours_backgrounds_map, Error);

$bgWhite:           map-get($colours_backgrounds_map, White);
$bgBlack:           map-get($colours_backgrounds_map, Black);

//$bgGreenSystem4XL:  map-get($colours_backgrounds_map, GreenSystem4XL);
//$bgGreenSystem3XL:  map-get($colours_backgrounds_map, GreenSystem3XL);
//$bgGreenSystem2XL:  map-get($colours_backgrounds_map, GreenSystem2XL);
//$bgGreenSystemXL:   map-get($colours_backgrounds_map, GreenSystemXL);
//$bgGreenSystemL:    map-get($colours_backgrounds_map, GreenSystemL);
$bgGreenSystemM:    map-get($colours_backgrounds_map, GreenSystemM);

$bgGreenWhatsApp:   map-get($colours_backgrounds_map, GreenWhatsApp);

$bgGrey4XL:         map-get($colours_backgrounds_map, Grey4XL);
$bgGrey3XL:         map-get($colours_backgrounds_map, Grey3XL);
$bgGrey2XL:         map-get($colours_backgrounds_map, Grey2XL);
$bgGreyXL:          map-get($colours_backgrounds_map, GreyXL);
$bgGreyL:           map-get($colours_backgrounds_map, GreyL);
$bgGreyM:           map-get($colours_backgrounds_map, GreyM);
$bgGreyD:           map-get($colours_backgrounds_map, GreyD);
$bgGreyXD:          map-get($colours_backgrounds_map, GreyXD);
$bgGrey2XD:         map-get($colours_backgrounds_map, Grey2XD);
$bgGrey3XD:         map-get($colours_backgrounds_map, Grey3XD);

//$bgRedColourM:      map-get($colours_backgrounds_map, RedColourM);
    
$bgStatusInfo:     map-get($colours_backgrounds_map, StatusInfo);
$bgStatusOk:       map-get($colours_backgrounds_map, StatusOk);
$bgStatusWarning:  map-get($colours_backgrounds_map, StatusWarning);
$bgStatusError:    map-get($colours_backgrounds_map, StatusError);
    
/*___ Declaramos las var para colores de fondo _*/
$body_bgColour:         $bgGrey4XL;
$main_bgColour:         $bgWhite;
$bgColour_neutral:      $bgGreyM;
$img_bgColour_global:   $bgGreyL;


$colours_backgrounds_hover_map:(    
// Este mapa se usa con el mixin `backgroundColourHoverClassesGenerator` que se
// encuentra en `[/etc/css/scss/mixins_colours.scss]`, genera las pseudo-clases `:focus` y `:hover` para los elementos `a`, `button`, `input[type="submit"]` e `input[type="file"]`, de este mapa se creara una clase por cada color.
// Ej. 
// *.bgBlack:focus, *.bgBlack:hover{background-color: #hex}


    mainBgColour: color.adjust($bgColour_neutral, $lightness: -20%),
/*    bgGrey: color.adjust($bgGreyM, $lightness: 20%)*/
);

//$bgBlue_hover: map-get($colours_backgrounds_hover_map, bgBlue);