/* * NombreDeProyecto * ========================================================
   Border Colours Variables | Custom [/etc/css/custom/var/colours_borders.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


///**Border Colours:** 
    ///Aquí se declaran los colores de bordes del sitio. No se genera ningún CSS de este mapa. Solamente se utilizan las var declaradas abajo en los archivos .scss
$colours_borders_map:(
//  redColourM:     $redColourM,

    white:          $white,
    black:          $black,
  
//  greenSystem4XL: $greenSystem4XL,
//  greenSystem3XL: $greenSystem3XL,
//  greenSystem2XL: $greenSystem2XL,
//  greenSystemXL:  $greenSystemXL,
//  greenSystemL:   $greenSystemL,
//  greenSystemM:   $greenSystemM,
  
//  grey4XL:        $grey4XL,
    grey3XL:        $grey3XL,
    grey2XL:        $grey2XL,
    greyXL:         $greyXL,
    greyL:          $greyL,
    greyM:          $greyM,
    greyD:          $greyD,
    greyXD:         $greyXD,
    grey2XD:        $grey2XD,
//  grey3XD:        $grey3XD,
    
    error:          $errorColour,
    outline:        #c6c6c6
);
 
$bdError:           map-get($colours_borders_map, error);
$bdOutline:         map-get($colours_borders_map, outline);

$bdWhite:           map-get($colours_borders_map, white);
$bdBlack:           map-get($colours_borders_map, black);

//$bdGreenSystem4XL:  map-get($colours_borders_map, greenSystem4XL);
//$bdGreenSystem3XL:  map-get($colours_borders_map, greenSystem3XL);
//$bdGreenSystem2XL:  map-get($colours_borders_map, greenSystem2XL);
//$bdGreenSystemXL:   map-get($colours_borders_map, greenSystemXL);
//$bdGreenSystemL:    map-get($colours_borders_map, greenSystemL);
//$bdGreenSystem:     map-get($colours_borders_map, greenSystem);

//$bdGrey4XL:         map-get($colours_borders_map, grey4XL);
$bdGrey3XL:         map-get($colours_borders_map, grey3XL);
$bdGrey2XL:         map-get($colours_borders_map, grey2XL);
$bdGreyXL:          map-get($colours_borders_map, greyXL);
$bdGreyL:           map-get($colours_borders_map, greyL);
$bdGreyM:           map-get($colours_borders_map, greyM);
$bdGreyD:           map-get($colours_borders_map, greyD);
$bdGreyXD:          map-get($colours_borders_map, greyXD);
$bdGrey2XD:         map-get($colours_borders_map, grey2XD);
//$bdGrey3XD:         map-get($colours_borders_map, grey3XD);

//$bdRedColourM:      map-get($colours_borders_map, redColourM);
 
$bdColour_main_global:              $bdGreyM;
$bdColour_main_global_hover:        darken($bdColour_main_global, 15%);

$bdColour_secondary_global:         $bdGreyXD;
$bdColour_secondary_global_hover:   darken($bdColour_main_global, 15%);