/* =============================================================================
   Background Colours Variables | Custom [/etc/css/custom/var/colours_backgrounds.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.
// Contiene mapas de colores.
//
// #colour #background #fondo #map #mixin #variables_main #focus #hover #anchor
// #button #input



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$colours_backgrounds_map:(
// Este mapa se usa con el mixin `backgroundColourClassesGenerator` que se
// encuentra en `[/etc/css/scss/mixins_colours.scss]`, genera una clase por cada
// color.
// Ej. 
// .bgBlack { background-color: #000; }
//
// También se usa para asignar valor a la variable de cada color de fondo.
// Ej.
// $bgBlack: map-get($colours_backgrounds_map, Black);
// background-color: $bgBlack;


//  RedColour:      $redColour,

    White:          $white,
    Black:          $black,
  
//  GreenSystem3XL: $greenSystem3XL,
//  GreenSystem2XL: $greenSystem2XL,
//  GreenSystemXL:  $greenSystemXL,
//  GreenSystemL:   $greenSystemL,
//  GreenSystem:    $greenSystem,
    GreenSystem:    $greenSystem,
    
//  Grey4XL:        $grey4XL,
//  Grey3XL:        $grey3XL,
    Grey2XL:        $grey2XL,
    GreyXL:         $greyXL,
    GreyL:          $greyL,
    Grey:           $grey,
    GreyD:          $greyD,
    GreyXD:         $greyXD,
    Grey2XD:        $grey2XD,
//  Grey3XD:        $grey3XD,
    
    Error:          $errorColour
);

$bgErrorColour:     map-get($colours_backgrounds_map, Error);

$bgWhite:           map-get($colours_backgrounds_map, White);
$bgBlack:           map-get($colours_backgrounds_map, Black);

//$bgGreenSystem3XL:  map-get($colours_backgrounds_map, GreenSystem3XL);
//$bgGreenSystem2XL:  map-get($colours_backgrounds_map, GreenSystem2XL);
//$bgGreenSystemXL:   map-get($colours_backgrounds_map, GreenSystemXL);
//$bgGreenSystemL:    map-get($colours_backgrounds_map, GreenSystemL);
$bgGreenSystem:     map-get($colours_backgrounds_map, GreenSystem);

//$bgGrey4XL:         map-get($colours_backgrounds_map, Grey4XL);
//$bgGrey3XL:         map-get($colours_backgrounds_map, Grey3XL);
$bgGrey2XL:         map-get($colours_backgrounds_map, Grey2XL);
$bgGreyXL:          map-get($colours_backgrounds_map, GreyXL);
$bgGreyL:           map-get($colours_backgrounds_map, GreyL);
$bgGrey:            map-get($colours_backgrounds_map, Grey);
$bgGreyD:           map-get($colours_backgrounds_map, GreyD);
$bgGreyXD:          map-get($colours_backgrounds_map, GreyXD);
$bgGrey2XD:         map-get($colours_backgrounds_map, Grey2XD);
//$bgGrey3XD:         map-get($colours_backgrounds_map, Grey3XD);

//$bgRedColour:       map-get($colours_backgrounds_map, RedColour);

/*___ Declaramos las var para colores de fondo _*/
$bgColour_body:        $bgWhite;    
$bgColour_main_global: $bgGrey;
$img_bgColour_global:  $bgGreyL;


$colours_backgrounds_hover_map:(    
// Este mapa se usa con el mixin `backgroundColourHoverClassesGenerator` que se
// encuentra en `[/etc/css/scss/mixins_colours.scss]`, genera las pseudoclases `:focus` y `:hover` para los elementos `a`, `button`, `input[type="submit"]` e `input[type="file"]`, de este mapa se creara una clase por cada color.
// Ej. 
// *.bgBlack:focus, *.bgBlack:hover{background-color: #hex}


    mainBgColour: darken($bgColour_main_global, 20%),
/*    bgGrey: lighten($bgGrey, 20%)*/
);

//$bgBlue_hover: map-get($colours_backgrounds_hover_map, bgBlue);


/* // Modal Opacity Variables ----------------------------------------------- */
   // El valor de la opacidad debe ser de dos cifras ej. "20", "75" ó "100"
$modal_opacity_global:      85;
$modal_bgColour_global:     $bgBlack;

/*___ Responsive nav ____________________*/
$modal_bgColour_nav:        $modal_bgColour_global;
$modal_opacity_nav:         80;