/* * NombreDeProyecto * ========================================================
   Container Sizes Variables | Custom [/etc/css/custom/var/container_sizes_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


             
/* // Container Sizes ------------------------------------------------------- */
$grid-gutter-width:                  30px;

$container_value_MO:                 300px; /* Mobile / Container: 300px */
$container_value_B600:               85%;
$container_value_ML:                 85%;
$container_value_T:                  720px; /* iPad */
$container_value_A900:               800px; /* 900+ */
$container_value_TL:                 900px; /* iPad Landscape */
$container_value_D:                  $container_value_TL; /* Desktop 1200+ */
$container_value_DL:                 $container_value_TL; /* Desktop Large 1600+ */