/* * NombreDeProyecto * ========================================================
   Container Sizes Variables | Custom [/etc/css/custom/var/container_sizes_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.

// REF [38*] ContainerMAX width
// En la variable `$containerMAX_value` se declara el ancho maximo de container
// a partir del cual deja de crecer en ancho
//
// Minimo 1200 / 1300 / 1400 / Maximo 1500
//
// Este valor luego debe ser modificado en el archivo
// `[/src/var/global.var.inc.php]` declarado en la variable `$containerMAX_value`
//
// Y debe activarse la variable correspondiente en
// `[/etc/css/custom/act/classes_useful_act.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


             
/* // Container Sizes ------------------------------------------------------- */
$grid-gutter-width:                  30px;

$container_value_centeredAbsolute_B350: 280px;
$container_value_max_B350:           300px;
$container_value_B350:               90%;
$container_value_A350:               90%;
$container_value_B500:               90%;
$container_value_A500:               90%;
$container_value_B600:               85%;
$container_value_A600:               85%;
$container_value_B650:               85%;
$container_value_A650:               85%;
$container_value_max_A768:           720px;
$container_value_max_A850:           750px;
$container_value_max_A900:           800px;
$container_value_max_A1024:          900px;
$container_value_max_A1100:          1050px;
$container_value_max_A1200:          1150px;
$container_value_max_A1300:          1250px;
$container_value_max_A1400:          1350px;
$container_value_max_A1500:          $container_value_max_A1400;
$container_value_max_A1600:          $container_value_max_A1500;

// REF [38*] ContainerMAX width
$containerMAX_value:                1400px;
$container_max_width_PR:            10px;
$container_max_width_PL:            $container_max_width_PR;
$container_max_width_PH:            calc(#{$container_max_width_PR} + #{$container_max_width_PL});
    
/* // Container Grid Variables  --------------------------------------------- */
$right_container_A768:      calc(calc(100% - calc(#{$container_value_max_A768}) - 0px) / 2);
$right_container_A850:      calc(calc(100% - calc(#{$container_value_max_A850}) - 0px) / 2);
$right_container_A900:      calc(calc(100% - calc(#{$container_value_max_A900}) - 0px) / 2);
$right_container_A1024:     calc(calc(100% - calc(#{$container_value_max_A1024}) - 0px) / 2);
$right_container_A1200:     calc(calc(100% - calc(#{$container_value_max_A1200}) - 0px) / 2);
$right_container_A1300:     calc(calc(100% - calc(#{$container_value_max_A1300}) - 0px) / 2);
$right_container_A1400:     calc(calc(100% - calc(#{$container_value_max_A1400}) - 0px) / 2);
$right_container_A1500:     calc(calc(100% - calc(#{$container_value_max_A1500}) - 0px + #{$container_max_width_PH}) / 2);
$right_container_A1600:     calc(calc(100% - calc(#{$container_value_max_A1600}) - 0px + #{$container_max_width_PH}) / 2);