/* =============================================================================
   Dir Variables | Custom [/etc/css/custom/var/_dir_var.scss]
   ========================================================================== */
$url_dir: "/nuevo";
//$url_dir: "";