/* * NombreDeProyecto * ========================================================
   Variables de Entorno | Custom [/etc/css/custom/var/_env_var.scss]
   ========================================================================== */
$url_entorno-alt:           "/maqueta";
$url_entorno-janus:         "/clientes/aaa";
$url_entorno-dialogo:       "/aaa";

$url_entorno-test:          "/test";
$url_entorno-stage:         "/stage";
$url_entorno-produccion:    "";

$url_entorno:               $url_entorno-stage;