/* * NombreDeProyecto * ========================================================
   Variables de Entorno | Custom [/etc/css/custom/var/_env_var.scss]
   ========================================================================== */
$dir_env-altTest:          "/x/test";
$dir_env-altStage:         "/x/stage";
$dir_env-altProduccion:    "/x";

$dir_env-maqueta:       "/x";
$dir_env-responsive:    "/x";

$dir_env-test:          "/x";
$dir_env-stage:         "/stage";
$dir_env-produccion:    "";

$dir_env:               $dir_env-stage;
