/* * NombreDeProyecto * ========================================================
   Variables de Entorno | Custom [/etc/css/custom/var/_env_var.scss]
   ========================================================================== */
$dir_env-alt:           "/aaa";
$dir_env-janus:         "/clientes/aaa";
$dir_env-dialogo:       "/aaa";
$dir_env-wanita:        "/aaa";

$dir_env-maqueta:       "/maqueta";
$dir_env-responsive:    "/responsive";

$dir_env-test:          "/test";
$dir_env-stage:         "/stage";
$dir_env-produccion:    "";

$dir_env:               $dir_env-stage;