/* * NombreDeProyecto * ========================================================
   Fonts Main Variables | Custom [/etc/css/custom/var/fonts_main_var.scss]
   ========================================================================== */

@use "../../scss/var_fonts" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables de fuentes.
// Contiene mapas de fuentes.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



$font_families_map:(
// Este mapa se usa con el mixin `fontFamilyCustomClassesGenerator` que se
// encuentra en `[/etc/css/scss/mixins_fonts.scss]`, genera una clase por cada
// fuente.
// Ej. 
// .timesNewRoman { font-family: "Times New Roman"; }
//
// También se usa para asignar valor a la variable de cada fuente.
// Ej.
// $timesNewRoman: map.get($font_families_map, timesNewRoman), $font_families_serif_list_fallback;
// font-family: $timesNewRoman;
//
// REF [01] Las Google Fonts no deben ser declaradas en este mapa.


    arial:          Arial,
    roboto:         Roboto,
//    timesNewRoman:  'Times New Roman'
    consolas:       Consolas
);
    
$font_weights_map:(
// Este mapa se usa con el mixin `fontFamilyWeightsGenerator` que se
// encuentra en `[/etc/css/scss/mixins_fonts.scss]`, genera una clase por cada fuente.
// Ej. 
// .timesNewRomanM { font-weight: 500; }
// .timesNewRomanB { font-weight: 700; }
//
// Tambien se usa para generar las variables de peso `_w`
// Ej.
// $ralewayXB_w:      map.get($font_weights_map, ralewayXB);


//    ralewayM:       500,
//    ralewaySB:      600,
//    ralewayXB:      800
);


/* // Variables de fuentes -------------------------------------------------- */
// Luego de declarar las variables de fuentes hay que asignarlas a las variables
// `ftFamily_` regular y bold
// REF [46] Fuentes Regular y Bold

$arial:             map.get($font_families_map, arial), $font_families_sans_list_fallback;
$roboto:            map.get($font_families_map, roboto), $font_families_sans_list_fallback;
$ftSansSerif:     $font_families_sans_list_fallback;

//$timesNewRoman:     map.get($font_families_map, timesNewRoman), $font_families_serif_list_fallback;
$ftSerif:           $font_families_serif_list_fallback;

//$monospacedFont:    map.get($font_families_map, monospacedFont), $font_families_monospaced_list_fallback;
$ftMonospaced:    $font_families_monospaced_list_fallback;

$consolas:          map.get($font_families_map, consolas), $font_families_monospaced_list_fallback;

// REF [01] Las Google Fonts deben ser declaradas de la siguiente forma:

//$ralewayM:         'Raleway', $font_families_sans_list_fallback;
//$ralewaySB:        'Raleway', $font_families_sans_list_fallback;
//$ralewayXB:        'Raleway', $font_families_sans_list_fallback;

//$ralewayM_w:       map.get($font_weights_map, ralewayM);
//$ralewaySB_w:      map.get($font_weights_map, ralewaySB);
//$ralewayXB_w:      map.get($font_weights_map, ralewayXB);
