/* =============================================================================
   Fonts Main Variables | Custom [var/fonts_main_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables de fuentes.
// Contiene mapas de fuentes y espaciado general de texto.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A              = horizontal, vertical, all

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



// Este mapa se usa con el mixin `fontFamilyCustomClassesGenerator` que se
// encuentra en `[/scss/mixins_fonts.scss]`, genera una clase por cada fuente.
// Ej. 
// .timesNewRoman { font-family: "Times New Roman"; }
//
// También se usa para asignar valor a la variable de cada fuente.
// Ej.
// font-family: $timesNewRoman;
//
$fontFamilies_map:(
    arial:          Arial,
    roboto:         Roboto,
//    timesNewRoman:  'Times New Roman'
);


// Este mapa se usa con el mixin `fontFamilyWeightsGenerator` que se
// encuentra en `[/scss/mixins_fonts.scss]`, genera una clase por cada fuente.
// Ej. 
// .timesNewRomanM { font-weight: 500; }
// .timesNewRomanB { font-weight: 700; }
//
$fontWeights_map:(
//    ralewayM:       500,
//    ralewaySB:      600,
//    ralewayXB:      800
);


/* // Variables de fuentes -------------------------------------------------- */
$arial:     map-get($fontFamilies_map, arial);
$roboto:    map-get($fontFamilies_map, roboto);
//$timesNewRoman: map-get($fontFamilies_map, timesNewRoman);

//$openSansL:   map-get($fontFamily_openSans_map, openSansL);
//$openSans:    map-get($fontFamily_openSans_map, openSans);
//$openSansI:   map-get($fontFamily_openSans_map, openSansI);
//$openSansB:   map-get($fontFamily_openSans_map, openSansB);
//$openSansBI:  map-get($fontFamily_openSans_map, openSansBI);

/*___ Creamos la variable de la fuente principal del sitio _*/
$fontFamily_main_global:    $arial;
$fontFamily_bold_global:    $fontFamily_main_global;


/* // Main font Stack ------------------------------------------------------- */
$fontStack_map:(
///-- Este mapa genera la declaracion `font-family` en el archivo `[/scss/settings_text.scss]`
//
///-- Primero la fuente principal
    $fontFamily_main_global,
///-- En segundo lugar siguen las fuentes Arial, Roboto y Times New Roman,
///-- si alguna esta asignada a la variable `$ftFamilia_global`, la misma debe
///-- estar comentada a continuacion. 
    $arial, 
    $roboto,
//    $timesNewRoman,
//
///-- Luego de establecer las fuentes principales se elige uno de los sets para
///-- el fallback.
///-- Estas listas se encuentran detalladas en `[/scss/var_fonts.scss]`.
    $fontFamilies_sans_list // Si se activa este set hay que comentar $timesNewRoman
//    $fontFamilies_serif_list // Si se activa este set hay que comentar $arial y $roboto
//    $fontFamilies_monospaced_list // Si se activa este set hay que comentar $arial, $roboto y $timesNewRoman
);


/* // Espaciado general de texto -------------------------------------------- */
$fontWeight_global: 400;
$lineHeight_global: calc(1ex / 0.32);

$fontSize_global:         1rem;
$fontSize_paragraph_BT:   0.9rem;
$fontSize_paragraph_AT:   1rem;
$fontSize_paragraph_ATL:  $fontSize_paragraph_AT;

$formInput_fontSize_BT:   0.9rem;
$formInput_fontSize_AT:   0.9rem;
$formInput_fontSize_ATL:  $formInput_fontSize_AT;

$headings_marginTRBL_global:   0 0 0.8em;
$headings_marginTRBL_sibling:  1.2em 0 0;
$text_marginTRBL_global:       0;
$text_marginTRBL_sibling:      0.8em 0 0;


/* // Heading Sizes --------------------------------------------------------- */
$fontSize_map_mobile:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);
$fontSize_map_tablet:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);
$fontSize_map_desktop:(
    $h1_list: 2.4rem,
    $h2_list: 2.2rem,
    $h3_list: 2rem,
    $h4_list: 1.8rem,
    $h5_list: 1.6rem,
    $h6_list: 1.4rem
);