/* =============================================================================
   Fonts Main Variables | Custom [var/fonts_main_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables de fuentes.
// Contiene mapas de fuentes.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



// Este mapa se usa con el mixin `fontFamilyCustomClassesGenerator` que se
// encuentra en `[/scss/mixins_fonts.scss]`, genera una clase por cada fuente.
// Ej. 
// .timesNewRoman { font-family: "Times New Roman"; }
//
// También se usa para asignar valor a la variable de cada fuente.
// Ej.
// font-family: $timesNewRoman;
//
$fontFamilies_map:(
    arial:          Arial,
    roboto:         Roboto,
//    timesNewRoman:  'Times New Roman'
);


// Este mapa se usa con el mixin `fontFamilyWeightsGenerator` que se
// encuentra en `[/scss/mixins_fonts.scss]`, genera una clase por cada fuente.
// Ej. 
// .timesNewRomanM { font-weight: 500; }
// .timesNewRomanB { font-weight: 700; }
//
$fontWeights_map:(
//    ralewayM:       500,
//    ralewaySB:      600,
//    ralewayXB:      800
);


/* // Variables de fuentes -------------------------------------------------- */
$arial:     map-get($fontFamilies_map, arial);
$roboto:    map-get($fontFamilies_map, roboto);
//$timesNewRoman: map-get($fontFamilies_map, timesNewRoman);

/*___ Creamos la variable de la fuente principal del sitio _*/
$fontFamily_main_global:    $arial;
$fontFamily_bold_global:    $fontFamily_main_global;


/* // Main font Stack ------------------------------------------------------- */
$fontStack_map:(
///-- Este mapa genera la declaracion `font-family` en el archivo `[/scss/settings_text.scss]`
//
///-- Primero la fuente principal
    $fontFamily_main_global,
///-- En segundo lugar siguen las fuentes Arial, Roboto y Times New Roman,
///-- si alguna esta asignada a la variable `$fontFamily_main_global`, la misma
///-- debe estar comentada a continuacion. 
    $arial, 
    $roboto,
//    $timesNewRoman,
//
///-- Luego de establecer las fuentes principales se elige uno de los sets para
///-- el fallback.
///-- Estas listas se encuentran detalladas en `[/scss/var_fonts.scss]`.
    $fontFamilies_sans_list // Si se activa este set hay que comentar $timesNewRoman
//    $fontFamilies_serif_list // Si se activa este set hay que comentar $arial y $roboto
//    $fontFamilies_monospaced_list // Si se activa este set hay que comentar $arial, $roboto y $timesNewRoman
);