/* * NombreDeProyecto * ========================================================
   Footer Variables | Custom [/etc/css/custom/var/footer_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Full heights Footer --------------------------------------------------- */
$footer_height_ALL:     100px;
$footer_height_B500:      101px;
$footer_height_A500:     102px;
$footer_height_500O:     103px;
$footer_height_BT:      104px;
$footer_height_AT:      105px;
$footer_height_TO:      106px;
$footer_height_BTL:     107px;
$footer_height_A1024:     108px;
$footer_height_TLO:     109px;
$footer_height_B1200:      110px;
$footer_height_A1200:      111px;


/* // Footer sizes ---------------------------------------------------------- */


/* // Footer colours  ------------------------------------------------------- */
$footer_bgColour:       $main_bgColour;