/* =============================================================================
   Form Fonts Variables | Custom [var/form_fonts.scss]
   ========================================================================== */
$form_label_fontFamily:   $fontFamily_main_global;
$form_input_fontFamily:   $fontFamily_main_global;
$form_submit_fontFamily:  $fontFamily_main_global;