/* * NombreDeProyecto * ========================================================
   Form Sizes Variables | Custom [/etc/css/custom/var/form_sizes_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


/* // Form ------------------------------------------------------------------ */
$form_width_max_B350: 270px!important;
$form_width_A350:     330px!important;
$form_width_A500:     400px!important;
$form_width_600Only:  520px!important;
$form_width_AT:       $form_width_600Only;
$form_width_TO:       $form_width_AT;
$form_width_A1024:    520px; //No debe llevar !important
$form_width_A1200:    $form_width_A1024; //No debe llevar !important


/* // Form Label ------------------------------------------------------------ */
$form_label_width_max_B350: $form_width_max_B350;
$form_label_width_A350:     330px!important;
$form_label_width_A500:     400px!important;
$form_label_width_TO:      $form_width_TO;
$form_label_width_A1024:   $form_width_A1024;
$form_label_width_A1200:   $form_width_A1200;

$form_label_height_B350:   25px;
$form_label_height_A350:   30px;
$form_label_height_TO:     $form_label_height_A350;
$form_label_height_A1024:  25px;
$form_label_height_A1200:  $form_label_height_A1024;

$form_label_comp_small_size_B500:   80px;
$form_label_comp_small_size_A500:   115px;

/* // Form Input ------------------------------------------------------------ */
$form_input_height_BT:     45px;
$form_input_height_TO:     $form_input_height_BT;
$form_input_height_A1024:  35px; //No debe llevar !important
$form_input_height_A1200:  $form_input_height_A1024; //No debe llevar !important

$form_input_ftSize_BT:      0.9rem;
$form_input_ftSize_AT:      0.9rem;
$form_input_ftSize_A1024:   $form_input_ftSize_AT;
$form_input_ftSize_A1200:   $form_input_ftSize_A1024;


/*___ Radio Input _______________________*/
$form_input_radio_height_BT:    35px;
$form_input_radio_height_TO:    35px;
$form_input_radio_height_A1024:  30px;


/*___ Checkbox Input ____________________*/
$form_input_checkbox_height_BT:     20px;
$form_input_checkbox_height_TO:     25px;
$form_input_checkbox_height_A1024:  20px;


/* // Form Font Sizes ------------------------------------------------------- */
// fieldet, label, button
// .form_validation_div, .form_status, .form_label_name, .form_validation_span
$form_ftSize_B350:    0.75rem;
$form_ftSize_A350:    $ftSize_paragraph_A350;
$form_ftSize_A500:    $ftSize_paragraph_A500;
$form_ftSize_AT:      $ftSize_paragraph_AT;
$form_ftSize_A1024:   $ftSize_paragraph_A1024;


/* // Form Button Submit // REF [21] ---------------------------------------- */
$button_form_submit_width_B500:   90%;
$button_form_submit_width_500O:   60%!important;
$button_form_submit_width_TO:     50%!important;
$button_form_submit_width_A1024:  300px;
$button_form_submit_width_A1200:  $button_form_submit_width_A1024;

$button_form_submit_height_BT:       50px;
$button_form_submit_lineHeight_BT:   $button_form_submit_height_BT;

$button_form_submit_height_TO:       45px;
$button_form_submit_lineHeight_TO:   $button_form_submit_height_TO;

$button_form_submit_height_A1024:      45px;
$button_form_submit_lineHeight_A1024:  $button_form_submit_height_A1024;

$button_form_submit_height_A1200:       $button_form_submit_height_A1024;
$button_form_submit_lineHeight_A1200:   $button_form_submit_lineHeight_A1024;


/* // Form Search ----------------------------------------------------------- */
$form_input_search_width_BT:         270px;
$form_input_search_width_AT:         $form_input_search_width_BT;

$form_input_search_height_BT:        30px;
$form_input_search_height_AT:        $form_input_search_height_BT;

$form_input_search_lineHeight_BT:    $form_input_search_height_BT;
$form_input_search_lineHeight_AT:    $form_input_search_lineHeight_BT;

$form_input_search_bgSize_BT:        $form_input_search_height_BT;
$form_input_search_bgSize_AT:        $form_input_search_bgSize_BT;

$button_form_submit_search_width_BT:        $form_input_search_width_BT;
$button_form_submit_search_width_AT:        $button_form_submit_search_width_BT;


/* // Form Validation ------------------------------------------------------- */
$form_span_validation_tooltip_arrow_size:           10px; // REF [16]
$form_span_validation_tooltip_lineHeight:           1.2em; // REF [16]
$form_span_validation_tooltip_lineHeight_quantity:  1; // REF [16]
$form_span_validation_tooltip_PV:                   10px;
$form_span_validation_tooltip_height:               calc(calc(#{$form_span_validation_tooltip_PV} * 2) + calc(#{$form_span_validation_tooltip_lineHeight} * #{$form_span_validation_tooltip_lineHeight_quantity})); // REF [16]