/* =============================================================================
   Form Sizes Variables | Custom [var/form_sizes.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


/* // Form ------------------------------------------------------------------ */
$form_width_MO:       270px!important;
$form_width_A500:     400px!important;
$form_width_600Only:  520px!important;
$form_width_AT:       $form_width_600Only;
$form_width_TO:       $form_width_AT;
$form_width_ATL:      520px; //No debe llevar !important
$form_width_AD:       $form_width_ATL; //No debe llevar !important


/* // Labels ---------------------------------------------------------------- */
$formLabel_width_MO:      $form_width_MO;
$formLabel_width_BT:      $hundred;
$formLabel_width_TO:      $form_width_TO;
$formLabel_width_ATL:     $form_width_ATL;
$formLabel_width_AD:      $form_width_AD;

$formLabel_height_BT:     30px;
$formLabel_height_TO:     $formLabel_height_BT;
$formLabel_height_ATL:    25px;
$formLabel_height_AD:     $formLabel_height_ATL;


/* // Inputs ---------------------------------------------------------------- */
$form_input_width_MO:      $formLabel_width_MO;
$form_input_width_BT:      $formLabel_width_BT;
$form_input_width_TO:      $formLabel_width_TO;
$form_input_width_ATL:     $formLabel_width_ATL; //No debe llevar !important
$form_input_width_AD:      $formLabel_width_AD; //No debe llevar !important

$form_input_height_BT:     45px;
$form_input_height_TO:     $form_input_height_BT;
$form_input_height_ATL:    35px; //No debe llevar !important
$form_input_height_AD:     $form_input_height_ATL; //No debe llevar !important


/*___ Sug _______________________________*/
/*___ Sug _______________________________*/
   // Radio Inputs
$form_input_radio_height_BT:  35px;
$form_input_radio_height_TO:  35px;


/* // Submit ---------------------------------------------------------------- */
$form_submit_width_MO:     90%;
$form_submit_width_MLO:    60%!important;
$form_submit_width_TO:     50%!important;
$form_submit_width_ATL:    300px;
$form_submit_width_AD:     $form_submit_width_ATL;

$form_submit_height_BT:       50px;
$form_submit_lineHeight_BT:   $form_submit_height_BT;

$form_submit_height_TO:       45px;
$form_submit_lineHeight_TO:   $form_submit_height_TO;

$form_submit_height_ATL:      45px;
$form_submit_lineHeight_ATL:  $form_submit_height_ATL;

$form_submit_height_AD:       $form_submit_height_ATL;
$form_submit_lineHeight_AD:   $form_submit_lineHeight_ATL;


/* // Search ---------------------------------------------------------------- */
$form_input_search_width_BT:         270px;
$form_input_search_width_AT:         $form_input_search_width_BT;

$form_input_search_height_BT:        30px;
$form_input_search_height_AT:        $form_input_search_height_BT;

$form_input_search_lineHeight_BT:    $form_input_search_height_BT;
$form_input_search_lineHeight_AT:    $form_input_search_lineHeight_BT;

$form_input_search_bgSize_BT:        $form_input_search_height_BT;
$form_input_search_bgSize_AT:        $form_input_search_bgSize_BT;

$form_submit_search_width_BT:        $form_input_search_width_BT;
$form_submit_search_width_AT:        $form_submit_search_width_BT;