/* * NombreDeProyecto * ========================================================
   Form Colours Variables | Custom [/etc/css/custom/var/form_colours_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables de colores de texto de los elementos `label`,
// `input`, `placeholder` y `submit` con sus `:hover`.
// Colores de fondo de  los elementos `input` y `option` y `submit`, con sus 
// `:hover`.
// Colores de borde de los elementos `input`  y `submit`, con sus `:hover`.
// Además se declara el color de borde cuando un input tiene error con la
// variable `$inputErrorBcColour`. 
//
// #form #colour #text #background #label #input #submit #validation 
// #placeholder #formStatus



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic

    
     
/* // Form Label ------------------------------------------------------------ */
$form_label_ftColour:           $ftColour_main_global;
$form_label_ftColour_hover:     darken($form_label_ftColour, 15%);
    
     
/* // Forms Input ----------------------------------------------------------- */
$form_input_ftColour:           $ftColour_main_global;
$form_input_ftColour_hover:     $form_input_ftColour;

$form_placeholder_ftColour:         lighten($form_input_ftColour, 10%); // REF [10]
$form_placeholder_ftColour_hover:   darken($form_placeholder_ftColour, 5%); // REF [10]
 
$form_input_ftColour_autofill:  $form_input_ftColour;
  
$form_input_bdColour:           $bdColour_main_global;
$form_input_bdColour_hover:     $bdColour_main_global_hover;

$form_input_bgColour:           $bgWhite;
$form_input_bgColour_hover:     $form_input_bgColour;
    
$form_input_shadowInset:        inset 0 0 6px $greyL;
$form_input_caret_colour:       $form_input_ftColour;
 
     
/* // Form Button Submit // REF [21] ---------------------------------------- */
$button_form_submit_ftColour:           $button_callToAction_ftColour;
$button_form_submit_ftColour_hover:     $button_callToAction_ftColour_hover;
  
$button_form_submit_bdColour:           $button_callToAction_bdColour; // REF [21a]
$button_form_submit_bdColour_hover:     $button_callToAction_bdColour_hover; // REF [21a]
  
$button_form_submit_bgColour:           $button_callToAction_bgColour;
$button_form_submit_bgColour_hover:     $button_callToAction_bgColour_hover;
    
     
/* // Form Validation ------------------------------------------------------- */
$form_input_invalid_bdColour:           $bdError;
$form_span_invalid_ftColour:            $errorColour; // REF [16]
$form_span_invalid_tooltip_bdColour:    $bdGreyXL; // REF [16]
 
$form_status_error_bgColour:    $bgError;
$form_status_error_ftColour:    $white;
$form_status_ok_bgColour:       $bgWhite;