/* * NombreDeProyecto * ========================================================
   Form Fonts Variables | Custom [/etc/css/custom/var/form_fonts_var.scss]
   ========================================================================== */

/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Form Label ------------------------------------------------------------ */
$form_label_ftFamily:   $ftFamily_main_global;
$form_label_ftWeight:   400; // VER [01] en `[/etc/css/custom/act/fonts_act.scss]`

/* // Form Input ------------------------------------------------------------ */
$form_input_ftFamily:   $ftFamily_main_global;
$form_input_ftWeight:   400; // VER [01] en `[/etc/css/custom/act/fonts_act.scss]`

/* // Form Submit  ---------------------------------------------------------- */
$button_form_submit_ftFamily:   $ftFamily_main_global;
$button_form_submit_ftWeight:   400; // VER [01] en `[/etc/css/custom/act/fonts_act.scss]`

/* // Form status message --------------------------------------------------- */
$form_pop_title_ftFamily: $ftFamily_main_global;