/* =============================================================================
   Form Fonts Variables | Custom [var/form_fonts.scss]
   ========================================================================== */
$formLabel_fontFamily:   $fontFamily_main_global;
$formInput_fontFamily:   $fontFamily_main_global;
$formSubmit_fontFamily:  $fontFamily_main_global;