/* =============================================================================
   Form Fonts Variables | Custom [/etc/css/custom/var/form_fonts.scss]
   ========================================================================== */
/* // Form Label ------------------------------------------------------------ */
$form_label_ftFamily:     $ftFamily_main_global;

/* // Form Input ------------------------------------------------------------ */
$form_input_ftFamily:     $ftFamily_main_global;

/* // Form Submit  ---------------------------------------------------------- */
$button_form_submit_ftFamily:    $ftFamily_main_global;

/* // Form status message --------------------------------------------------- */
$form_pop_title_ftFamily: $ftFamily_main_global;