/* * NombreDeProyecto * ========================================================
   Form Sizes Variables | Custom [/etc/css/custom/var/form_sizes.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


/* // Form ------------------------------------------------------------------ */
$form_width_MO:       270px!important;
$form_width_A500:     400px!important;
$form_width_600Only:  520px!important;
$form_width_AT:       $form_width_600Only;
$form_width_TO:       $form_width_AT;
$form_width_ATL:      520px; //No debe llevar !important
$form_width_AD:       $form_width_ATL; //No debe llevar !important


/* // Form Label ------------------------------------------------------------ */
$form_label_width_MO:      $form_width_MO;
$form_label_width_BT:      $hundred;
$form_label_width_TO:      $form_width_TO;
$form_label_width_ATL:     $form_width_ATL;
$form_label_width_AD:      $form_width_AD;

$form_label_height_BT:     30px;
$form_label_height_TO:     $form_label_height_BT;
$form_label_height_ATL:    25px;
$form_label_height_AD:     $form_label_height_ATL;


/* // Form Input ------------------------------------------------------------ */
$form_input_width_MO:      $form_label_width_MO;
$form_input_width_BT:      $form_label_width_BT;
$form_input_width_TO:      $form_label_width_TO;
$form_input_width_ATL:     $form_label_width_ATL; //No debe llevar !important
$form_input_width_AD:      $form_label_width_AD; //No debe llevar !important

$form_input_height_BT:     45px;
$form_input_height_TO:     $form_input_height_BT;
$form_input_height_ATL:    35px; //No debe llevar !important
$form_input_height_AD:     $form_input_height_ATL; //No debe llevar !important


/*___ Radio Input _______________________*/
$form_input_radio_height_BT:  35px;
$form_input_radio_height_TO:  35px;


/* // Form Font Sizes ------------------------------------------------------- */
// fieldet, label, button
// .form_validation_div, .form_status, .form_label_name, .form_validation_span
$form_ftSize_BT:      $ftSize_paragraph_BT;
$form_ftSize_AT:      $ftSize_paragraph_AT;
$form_ftSize_ATL:     $ftSize_paragraph_ATL;


/* // Form Submit  ---------------------------------------------------------- */
$button_form_submit_width_MO:     90%;
$button_form_submit_width_MLO:    60%!important;
$button_form_submit_width_TO:     50%!important;
$button_form_submit_width_ATL:    300px;
$button_form_submit_width_AD:     $button_form_submit_width_ATL;

$button_form_submit_height_BT:       50px;
$button_form_submit_lineHeight_BT:   $button_form_submit_height_BT;

$button_form_submit_height_TO:       45px;
$button_form_submit_lineHeight_TO:   $button_form_submit_height_TO;

$button_form_submit_height_ATL:      45px;
$button_form_submit_lineHeight_ATL:  $button_form_submit_height_ATL;

$button_form_submit_height_AD:       $button_form_submit_height_ATL;
$button_form_submit_lineHeight_AD:   $button_form_submit_lineHeight_ATL;


/* // Form Search ----------------------------------------------------------- */
$form_input_search_width_BT:         270px;
$form_input_search_width_AT:         $form_input_search_width_BT;

$form_input_search_height_BT:        30px;
$form_input_search_height_AT:        $form_input_search_height_BT;

$form_input_search_lineHeight_BT:    $form_input_search_height_BT;
$form_input_search_lineHeight_AT:    $form_input_search_lineHeight_BT;

$form_input_search_bgSize_BT:        $form_input_search_height_BT;
$form_input_search_bgSize_AT:        $form_input_search_bgSize_BT;

$button_form_submit_search_width_BT:        $form_input_search_width_BT;
$button_form_submit_search_width_AT:        $button_form_submit_search_width_BT;