/* * NombreDeProyecto * ========================================================
   Form Colours Variables | Custom [/etc/css/custom/var/form_colours.scss]
   ========================================================================== */
///**Form Colours:** 
    ///Aquí se declaran las var de colores de texto de los elementos `label`, `input`, `placeholder` y `submit` con sus `:hover`; los colores de fondo de los elementos `input` y `option` y `submit`, con sus `:hover`; y los colores de borde de los elementos `input`  y `submit`, con sus `:hover`. Además se declara el color de borde cuando un input tiene error con la variable `$inputErrorBcColour`.
    ///con sus `:hover`.
    
     
/* // Form Label ------------------------------------------------------------ */
$form_label_ftColour:           $ftColour_main_global;
$form_label_ftColour_hover:     darken($form_label_ftColour, 15%);
    
     
/* // Forms Input ----------------------------------------------------------- */
$form_input_ftColour:           $ftColour_main_global;
$form_input_ftColour_hover:     $form_input_ftColour;

$form_placeholder_ftColour:         lighten($form_input_ftColour, 10%); // REF [10]
$form_placeholder_ftColour_hover:   darken($form_placeholder_ftColour, 5%); // REF [10]
 
$form_input_ftColour_autofill:  $form_input_ftColour;
  
$form_input_bdColour:           $bdColour_main_global;
$form_input_bdColour_hover:     $bdColour_main_global_hover;

$form_input_bgColour:           $white;
$form_input_bgColour_hover:     $form_input_bgColour;
    
$form_input_shadowInset:        inset 0 0 6px $greyL;
$form_input_caret_colour:       $form_input_ftColour;
 
     
/* // Form Submit  ---------------------------------------------------------- */
$button_form_submit_ftColour:           $button_callToAction_ftColour;
$button_form_submit_ftColour_hover:     $button_callToAction_ftColour_hover;
  
$button_form_submit_bdColour:           $button_callToAction_bdColour;
$button_form_submit_bdColour_hover:     $button_callToAction_bdColour_hover;
  
$button_form_submit_bgColour:           $button_callToAction_bgColour;
$button_form_submit_bgColour_hover:     $button_callToAction_bgColour_hover;
    
     
/* // Form Validation ------------------------------------------------------- */
$form_input_invalid_bdColour:       $bdError;
$form_label_msg_error_ftColour:     $errorColour;
 
$form_status_msg_error_bgColour:    $bgErrorColour;
$form_status_msg_error_ftColour:    $white;
$form_status_msg_ok_bgColour:       $bgWhite;