/* * NombreDeProyecto * ========================================================
   Header Height Variables | Custom [/etc/css/custom/var/header_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.

// REF [04] `[/etc/css/custom/act/page_index_act.scss]` 
// REF [08] `[/etc/css/custom/act/header_act.scss]`


/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic

    
    
/* // Header Sizes ---------------------------------------------------------- */
$header_height_ALL:     100px;
$header_height_B500:    101px; //Con Header Fixed activado REF [08], si es auto hay que declarar 0 en la variable `$page_PT_B500`
$header_height_A500:    102px;
$header_height_500O:    103px; //Con Header Fixed activado REF [08], si es auto hay que declarar 0 en la variable `$page_PT_500O`
$header_height_BT:      104px; //Con Header Fixed activado REF [08], si es auto hay que declarar 0 en la variable `$page_PT_BT`
$header_height_AT:      105px; //Con Header Fixed activado REF [08], si es auto hay que declarar 0 en la variable `$page_PT_AT`
$header_height_navBT:   106px; //Con Header Fixed activado REF [08], si es auto hay que declarar 0 en la variable `$page_PT_navBT`
$header_height_navAT:   107px; //Con Header Fixed activado REF [08], si es auto hay que declarar 0 en la variable `$page_PT_navAT`
$header_height_TO:      108px;
$header_height_BTL:     109px;
$header_height_A1024:   110px; //Con Header Fixed activado REF [08], si es auto hay que declarar 0 en la variable `$page_PT_A1024` 
$header_height_TLO:     111px;
$header_height_B1200:   112px;
$header_height_A1200:   113px;

$header_PT_BT:                      0;
$header_PB_BT:                      0;
$header_navAccordion_height_BT:     calc(#{$header_PT_BT} + #{$header_PB_BT} + #{$logo_height_BT_navAccordion});


/* // Page Sizes ------------------------------------------------------------ */
//Con Header Fixed activado REF [08], height auto:
// $page_PT_B500:            0; 
// $page_PT_A500:           0; 
// $page_PT_500O:           0;
// $page_PT_BT:            0;
// $page_PT_navAT:         0;
// $page_PT_navBT:         0;
// $page_PT_AT:            0;
// $page_PT_A1024:           0;

//Con Header Fixed activado REF [08], height px:
$page_PT_B500:      $header_height_B500;
$page_PT_A500:      $header_height_A500;
$page_PT_500O:      $header_height_500O;
$page_PT_BT:        $header_height_BT;
$page_PT_navBT:     $header_height_navBT;
$page_PT_navAT:     $header_height_navAT;
$page_PT_AT:        $header_height_AT;
$page_PT_A1024:     $header_height_A1024;