/* * NombreDeProyecto * ========================================================
   Logo Sizes Variables | Custom [/etc/css/custom/var/logo_sizes_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



@use "sass:color";
@use "sass:map";

@use "env_var" as *;

@use "button_nav_hamburger_var" as *;
@use "nav_sizes_var" as *;

/* // Logo Sizes BT --------------------------------------------------------- */
$logo_width_B350:               190px;
$logo_width_A350:               220px;
$logo_width_B500:               220px;
$logo_width_A500:               $logo_width_A350;
$logo_width_500O:               $logo_width_A500;
$logo_width_BT:                 220px; /* in use */ // Se usa como height en $logo_bgImage_before_act

$logo_height_BT_before:         $logo_width_BT;
$logo_height_BT_navAccordion:   auto;


/* // Nav Drawer logo_header.navDrawer_open --------------------------------- */
// REF [43] Ver `[/etc/css/custom/var/nav_sizes_var.scss]` para declarar los anchos
$logo_height_navOpen:       50px;
$logo_height_navOpen_PT:    50px;
$logo_height_navOpen_PB:    10px;
$logo_height_navOpen_final: calc(#{$logo_height_navOpen} + #{$logo_height_navOpen_PT} + #{$logo_height_navOpen_PB});


/* // Logo Sizes AT --------------------------------------------------------- */
$logo_width_A768:           $logo_width_A500; /* in use */
$logo_height_AT_before:     auto;
 
$logo_width_TO:             $logo_width_A768;

$logo_width_A1024:          $logo_width_A768; /* in use */
$logo_height_A1024_before:  auto;

$logo_width_A1100:          $logo_width_A1024; /* in use */
$logo_height_A1100_before:  auto;

$logo_width_A1200:          $logo_width_A1100; /* in use */
$logo_height_A1200_before:  auto;


/* // Logo Sizes Footer ----------------------------------------------------- */
$logo_width_footer_B500:    50px;
$logo_height_footer_B500:   auto;

$logo_width_footer_A500:    160px;

$logo_width_footer_500O:    50px;
$logo_height_footer_500O:   auto;

$logo_width_footer_BT:      125px;

$logo_width_footer_AT:      125px;
$logo_height_footer_AT:     auto;

$logo_width_footer_BTL:     230px;

$logo_width_footer_A1024:   125px;

// ? $logo_top_AT:            calc(#{$nav_height_A768} + 30px);


/* // Logo Sizes Footer logoFloated ----------------------------------------- */
$footer_logoFloated_width_B500:   $logo_width_footer_B500;
$footer_logoFloated_width_A500:  $logo_width_footer_A500;
$footer_logoFloated_width_500O:  $logo_width_footer_500O;
$footer_logoFloated_width_A600: $footer_logoFloated_width_500O;
$footer_logoFloated_width_BT:   $logo_width_footer_BT;
$footer_logoFloated_width_AT:   $logo_width_footer_AT;
$footer_logoFloated_width_BTL:  $logo_width_footer_BTL;
$footer_logoFloated_width_A1024:  $logo_width_footer_A1024;