/* * NombreDeProyecto * ========================================================
   Media Queries values Variables | Custom [/etc/css/custom/var/mediaQueries_var.scss]
   ========================================================================== */ 

/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de var de media queries. 
// Estas var se usan en `[/etc/css/custom/mediaQueries_mx.scss]`.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Regular --------------------------------------------------------------- */
$mq_tablet_ancho_min:           768px;
$mq_tabletPortrait_ancho_max:   1023px;
$mq_tabletLandscape_ancho_min:  1024px;
$mq_tablet_ancho_max:           1199px;

     
/* // Nav ------------------------------------------------------------------- */
$mq_nav_BT:                     767px; // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
$mq_nav_AT:                     768px; // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`


/* // Apple ----------------------------------------------------------------- */
$mq_iPhone6_width_min:          375px;