/* * NombreDeProyecto * ========================================================
   Nav Colours Variables | Custom [/etc/css/custom/var/nav_colours_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.
//
// REF [12] Nav item color $white o $black act



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Font Colours ---------------------------------------------------------- */
/*___ BT ________________________________*/
$nav_item_level0_ftColour_BT:           $ftColour_main_global;
$nav_item_level1_ftColour_BT:           $nav_item_level0_ftColour_BT;
$nav_item_level2_ftColour_BT:           $nav_item_level1_ftColour_BT; 
$nav_item_level3_ftColour_BT:           $nav_item_level2_ftColour_BT; 

$nav_item_current_level0_ftColour_BT:   $nav_item_level0_ftColour_BT;
$nav_item_current_level1_ftColour_BT:   $nav_item_current_level0_ftColour_BT;
$nav_item_current_level2_ftColour_BT:   $nav_item_current_level1_ftColour_BT;
$nav_item_current_level3_ftColour_BT:   $nav_item_current_level2_ftColour_BT;

$nav_item_back_TLI_ftColour:            $white!important;


/*___ AT ________________________________*/
$nav_item_ftColour_AT:                      $ftColour_main_global;
// REF [12]
// $white o $black tienen un activador en `[/etc/css/custom/act/nav_main_act.scss]` 
// Agrega diseño en las pseudo-clases `:focus` y `:hover` A1024
// Solamente para el primer nivel del nav
$nav_item_ftColour_hover:                   $nav_item_ftColour_AT;
$nav_item_subNav_ftColour_AT:               $nav_item_ftColour_AT;
$nav_item_subNav_ftColour_hover:            $nav_item_subNav_ftColour_AT;
   
$nav_item_current_ftColour_AT:              $nav_item_ftColour_AT;
$nav_item_current_ftColour_hover:           $nav_item_current_ftColour_AT;
$nav_item_subNav_current_ftColour_AT:       $nav_item_ftColour_AT;
$nav_item_subNav_current_ftColour_hover:    $nav_item_subNav_current_ftColour_AT;


/*___ Topper ____________________________*/
$nav_topper_ftColour:               $nav_item_ftColour_AT;
$nav_topper_ftColour_hover:         $nav_topper_ftColour;
$nav_topper_item_current_ftColour:  $nav_item_ftColour_AT; 



/* // Background Colours ---------------------------------------------------- */
/*___ BT ________________________________*/
$nav_bgColour_BT:                       $bgWhite;
       
$nav_ul_level1_bgColour_BT:             transparent;
$nav_ul_level2_bgColour_BT:             transparent;
$nav_ul_level3_bgColour_BT:             transparent;
     
$nav_item_level1_bgColour_BT:           transparent;
$nav_item_level2_bgColour_BT:           transparent;
$nav_item_level3_bgColour_BT:           transparent;

$nav_item_current_level0_bgColour_BT:   darken($nav_bgColour_BT, 5%);
$nav_item_current_level1_bgColour_BT:   darken($nav_ul_level1_bgColour_BT, 5%);
$nav_item_current_level2_bgColour_BT:   darken($nav_ul_level1_bgColour_BT, 5%);
$nav_item_current_level3_bgColour_BT:   darken($nav_ul_level1_bgColour_BT, 5%);


/*___ AT ________________________________*/
$nav_nav_bgColour_AT:               transparent;
$nav_nav_bgColour_scrolled_AT:      transparent;
$nav_ul_bgColour_AT:                $bgGreyM;

$nav_item_bgColour_AT:              transparent;
$nav_item_bgColour_hover:           $nav_item_bgColour_AT;

$nav_item_current_bgColour_AT:      transparent;
$nav_item_current_bgColour_hover:   $nav_item_current_bgColour_AT;

$nav_subNav_bgColour_AT:            $nav_ul_bgColour_AT;

$nav_item_subNav_bgColour_AT:       $nav_subNav_bgColour_AT;
$nav_item_subNav_bgColour_hover:    $nav_item_subNav_bgColour_AT;

$nav_item_subNav_current_bgColour_AT:     transparent;
$nav_item_subNav_current_bgColour_hover:  $nav_item_subNav_current_bgColour_AT;


/*___ Topper ____________________________*/
$nav_topper_bgColour:       $bgBlack;



/* // Border Colours -------------------------------------------------------- */
/*___ BT ________________________________*/
$nav_drawer_bdColourR:              $bdBlack;
$nav_accordion_bdColour:            $bdGrey2XL;
  
$nav_item_level0_bdColour_BT:       $bdGreyM;
$nav_item_level1_bdColour_BT:       $nav_item_level0_bdColour_BT;
$nav_item_level2_bdColour_BT:       $nav_item_level1_bdColour_BT;
$nav_item_level3_bdColour_BT:       $nav_item_level2_bdColour_BT;

$nav_subNav_borderB_BT:             darken($nav_ul_level1_bgColour_BT, 5%);
  
$nav_bdColour_backMenu:             $nav_item_level1_bdColour_BT; // REF [17]


/*___ AT ________________________________*/  
$nav_item_current_bdColour:         $bdGreyM;

$nav_item_subNav_bdColour_AT:       $nav_item_level0_bdColour_BT;


/*___ Topper ____________________________*/
$nav_topper_bdColour:               $bdGreyXD;
$nav_topper_item_current_bdColour:  $bdGreyM;