@use "sass:color";
/* * NombreDeProyecto * ========================================================
   Nav Fonts Variables | Custom [/etc/css/custom/var/nav_fonts_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/*___ BT ________________________________*/
$nav_ftFamily_BT:                       $ftFamily_regular_global;
$nav_ftWeight_BT:                       400; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/
$nav_item_current_ftFamily_BT:          $nav_ftFamily_BT;
$nav_item_current_ftWeight_BT:          $nav_ftWeight_BT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_subNav_ftFamily_BT:           $nav_ftFamily_BT;
$nav_item_subNav_ftWeight_BT:           $nav_ftWeight_BT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_subNav_current_ftFamily_BT:   $nav_item_subNav_ftFamily_BT;
$nav_item_subNav_current_ftWeight_BT:   $nav_item_subNav_ftWeight_BT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/


/*___ AT ________________________________*/
$nav_ftFamily_AT:                       $ftFamily_regular_global;
$nav_ftWeight_AT:                       400; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_current_ftFamily_AT:          $nav_ftFamily_AT;
$nav_item_current_ftWeight_AT:          $nav_ftWeight_AT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_subNav_ftFamily_AT:           $nav_ftFamily_AT;
$nav_item_subNav_ftWeight_AT:           $nav_ftWeight_AT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_subNav_current_ftFamily_AT:   $nav_item_subNav_ftFamily_AT;
$nav_item_subNav_current_ftWeight_AT:   $nav_item_subNav_ftWeight_AT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/


/*___ ATL _______________________________*/  
$nav_ftFamily_A1024:                      $nav_ftFamily_AT;
$nav_ftWeight_A1024:                      $nav_ftWeight_AT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_current_ftFamily_A1024:         $nav_item_current_ftFamily_AT;
$nav_item_current_ftWeight_A1024:         $nav_ftWeight_A1024; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_subNav_ftFamily_A1024:          $nav_item_subNav_ftFamily_AT;
$nav_item_subNav_ftWeight_A1024:          $nav_ftWeight_A1024; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/

$nav_item_subNav_current_ftFamily_A1024:  $nav_item_current_ftFamily_A1024;
$nav_item_subNav_current_ftWeight_A1024:  $nav_item_subNav_ftWeight_AT; /* // REF [01] en `[/etc/css/custom/act/fonts_act.scss]`*/