/* * NombreDeProyecto * ========================================================
   Nav Sizes Variables | Custom [/etc/css/custom/var/nav_sizes_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // General --------------------------------------------------------------- */
$nav_bdRadius:                  $bdRadius_global;
$nav_subMenu_width_AT:          250px; 
$nav_subMenu_width_ATL:         $nav_subMenu_width_AT; 

$nav_subMenu_level2_width_AT:   $nav_subMenu_width_AT; 
$nav_subMenu_level2_width_ATL:  $nav_subMenu_level2_width_AT; 

    
/* // Nav Topper ------------------------------------------------------------ */
$topper_height_global:          60px;

    
/* // Nav Sizes ------------------------------------------------------------- */
$nav_height_AT:                 60px;
$nav_height_TO:                 $nav_height_AT;
$nav_height_ATL:                $nav_height_AT;

$nav_item_sub_height_AT:        $nav_height_AT;
$nav_item_sub_height_TO:        $nav_item_sub_height_AT;
$nav_item_sub_height_ATL:       $nav_item_sub_height_TO;


/* // Nav List -------------------------------------------------------------- */
$nav_list_ul_width_BT:          200px;

    
/* // Nav Drawer ------------------------------------------------------------ */
$nav_drawer_width:              70vw;
$nav_drawer_width_max:          300px;
$nav_drawer_width_final:        calc(#{$nav_drawer_width} - 5px);