/* * NombreDeProyecto * ========================================================
   Popup Variables | Custom [/etc/css/custom/var/popup_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Modal Opacity Variables ----------------------------------------------- */
$modal_bgColour_global:     $black_rgba80;   
$modal_bgColour_nav:        $black_rgba70;


/* // Popup Sizes ----------------------------------------------------------- */
$pop_regular_width_B500:      300px;
$pop_regular_width_A500:     60%;
$pop_regular_width_AT:      550px;

$pop_warning_width_B500:      300px;
$pop_warning_width_A500:     60%;
$pop_warning_width_A600:    550px;

$pop_form_width_B500:         320px;
$pop_form_width_A500:        490px;
$pop_form_width_600:        590px;
$pop_form_width_AT:         650px;

$pop_video_width_B500:        300px;
$pop_video_height_B500:       168px;

$pop_video_width_A500:       450px;
$pop_video_heigth_A500:      250px;

$pop_video_width_A650:      500px;
$pop_video_heigth_A650:     277px;

$pop_video_width_AT:        600px;
$pop_video_heigth_AT:       330px;

$pop_video_width_ATL:       700px;
$pop_video_heigth_ATL:      388px;
        

/* // Popup Colours --------------------------------------------------------- */
$pop_form_bgColour:         $bgWhite;