/* * NombreDeProyecto * ========================================================
   Popup Variables | Custom [/etc/css/custom/var/popup_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Modal Opacity Variables ----------------------------------------------- */
$modal_global_bgColour:     $black_rgba_70;   
$modal_nav_bgColour:        $black_rgba_70;
$modal_formStatus_bgColour: $black_rgba_70;


/* // Popup Sizes ----------------------------------------------------------- */
$pop_regular_width_B300:        90%;
$pop_regular_width_max_B300:    300px;
$pop_regular_width_A300:        60%;
$pop_regular_width_A500:        60%;
$pop_regular_width_A600:        550px;
$pop_regular_width_A768:        $pop_regular_width_A600;

$pop_warning_width_B500:        $pop_regular_width_B300;
$pop_warning_width_max_B500:    $pop_regular_width_max_B300;
$pop_warning_width_A500:        $pop_regular_width_A500;
$pop_warning_width_A600:        $pop_regular_width_A600;

$pop_form_width_B500:         320px;
$pop_form_width_A500:        490px;
$pop_form_width_600:        590px;
$pop_form_width_AT:         650px;

$pop_formStatus_width_B300:        90%;
$pop_formStatus_width_max_B300:    290px;
$pop_formStatus_width_A300:        $pop_formStatus_width_max_B300;
$pop_formStatus_width_A500:        450px;

$pop_video_width_B500:        300px;
$pop_video_height_B500:       168px;

$pop_video_width_A500:       450px;
$pop_video_height_A500:      250px;

$pop_video_width_A650:      500px;
$pop_video_height_A650:     277px;

$pop_video_width_AT:        600px;
$pop_video_height_AT:       330px;

$pop_video_width_A1024:       700px;
$pop_video_height_A1024:      388px;
        

/* // Popup Colours --------------------------------------------------------- */
$pop_form_bgColour:         $bgWhite;