/* =============================================================================
   Social Variables | Custom [/etc/css/custom/var/popup_var.scss]
   ========================================================================== */
    
/* // Popup Sizes ---------------------------------------------------------- */
$button_pop_close_size:     33px;

$pop_regular_width_MO:      300px;
$pop_regular_width_AML:     60%;
$pop_regular_width_AT:      550px;

$pop_form_width_MO:      320px;
$pop_form_width_AML:     490px;
$pop_form_width_600:     590px;
$pop_form_width_AT:      650px;

$pop_warning_width_MO:      300px;
$pop_warning_width_AML:     60%;
$pop_warning_width_A600:    550px;

$pop_video_width_MO:        300px;
$pop_video_width_AML:       450px;
$pop_video_width_AT:        600px;
        
/* // Popup Colours -------------------------------------------------------- */
$pop_formStatus_bgColour:   $bgWhite;