/* * NombreDeProyecto * ========================================================
   Footer Variables | Custom [/etc/css/custom/var/section_footer_var.scss]
   ========================================================================== */

/* // Full heights Footer --------------------------------------------------- */
$footer_height_ALL:     100px;
$footer_height_MO:      101px;
$footer_height_AML:     102px;
$footer_height_MLO:     103px;
$footer_height_BT:      104px;
$footer_height_AT:      105px;
$footer_height_TO:      106px;
$footer_height_BTL:     107px;
$footer_height_ATL:     108px;
$footer_height_TLO:     109px;
$footer_height_BD:      110px;
$footer_height_AD:      111px;


/* // Footer sizes ---------------------------------------------------------- */


/* // Footer colours  ------------------------------------------------------- */