/* =============================================================================
   Nav Fonts Variables | Custom [var/section_nav_fonts.scss]
   ========================================================================== */
/*___ BT ________________________________*/
$nav_ftFamily_BT:                       $fontFamily_main_global;
$nav_item_current_ftFamily_BT:          $nav_ftFamily_BT;

$nav_item_subNav_ftFamily_BT:           $nav_ftFamily_BT;
$nav_item_subNav_current_ftFamily_BT:   $nav_item_subNav_ftFamily_BT;


/*___ AT ________________________________*/
$nav_ftFamily_AT:                       $fontFamily_main_global;
$nav_item_current_ftFamily_AT:          $nav_ftFamily_AT;

$nav_item_subNav_ftFamily_AT:           $nav_ftFamily_AT;
$nav_item_subNav_current_ftFamily_AT:   $nav_item_subNav_ftFamily_AT;


/*___ ATL _______________________________*/    
$nav_ftFamily_ATL:                      $nav_ftFamily_AT;
$nav_item_current_ftFamily_ATL:         $nav_item_current_ftFamily_AT;

$nav_item_subNav_ftFamily_ATL:          $nav_item_subNav_ftFamily_AT;
$nav_item_subNav_current_ftFamily_ATL:  $nav_item_current_ftFamily_ATL;