/* =============================================================================
   Nav Fonts Variables | Custom [/etc/css/custom/var/section_nav_fonts_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/*___ BT ________________________________*/
$nav_ftFamily_BT:                       $ftFamily_main_global;
$nav_ftWeight_BT:                       400; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`
$nav_item_current_ftFamily_BT:          $nav_ftFamily_BT;
$nav_item_current_ftWeight_BT:          $nav_ftWeight_BT; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_subNav_ftFamily_BT:           $nav_ftFamily_BT;
$nav_item_subNav_ftWeight_BT:           $nav_ftWeight_BT; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_subNav_current_ftFamily_BT:   $nav_item_subNav_ftFamily_BT;
$nav_item_subNav_current_ftWeight_BT:   $nav_item_subNav_ftWeight_BT; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`


/*___ AT ________________________________*/
$nav_ftFamily_AT:                       $ftFamily_main_global;
$nav_ftWeight_AT:                       400; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_current_ftFamily_AT:          $nav_ftFamily_AT;
$nav_item_current_ftWeight_AT:          $nav_ftWeight_AT; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_subNav_ftFamily_AT:           $nav_ftFamily_AT;
$nav_item_subNav_ftWeight_AT:           $nav_ftWeight_AT; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_subNav_current_ftFamily_AT:   $nav_item_subNav_ftFamily_AT;
$nav_item_subNav_current_ftWeight_AT:   $nav_item_subNav_ftWeight_AT; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`


/*___ ATL _______________________________*/  
$nav_ftFamily_ATL:                      $nav_ftFamily_AT;
$nav_ftWeight_ATL:                      400; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_current_ftFamily_ATL:         $nav_item_current_ftFamily_AT;
$nav_item_current_ftWeight_ATL:         $nav_ftWeight_ATL; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_subNav_ftFamily_ATL:          $nav_item_subNav_ftFamily_AT;
$nav_item_subNav_ftWeight_ATL:          $nav_ftWeight_ATL; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`

$nav_item_subNav_current_ftFamily_ATL:  $nav_item_current_ftFamily_ATL;
$nav_item_subNav_current_ftWeight_ATL:  $nav_item_subNav_ftWeight_AT; // VER SEE `[/etc/css/custom/act/fonts_act.scss]`