/* =============================================================================
   Header Height Variables | Custom [var/section_header_heights.scss]
   ========================================================================== */

$header_height_ALL:     112px; //Con Header Fixed activado, si es auto hay que declarar 0 en la variable `$page_PT_MO`
$header_height_MO:      101px; //Con Header Fixed activado, si es auto hay que declarar 0 en la variable `$page_PT_MO`
$header_height_AML:     102px;
$header_height_MLO:     103px; //Con Header Fixed activado, si es auto hay que declarar 0 en la variable `$page_PT_MLO`
$header_height_BT:      104px; //Con Header Fixed activado, si es auto hay que declarar 0 en la variable `$header_PT_BT`
$header_height_AT:      105px; //Con Header Fixed activado, si es auto hay que declarar 0 en la variable `$page_PT_AT`
$header_height_TO:      106px;
$header_height_BTL:     107px;
$header_height_ATL:     108px; //Con Header Fixed activado, si es auto hay que declarar 0 en la variable `$page_PT_ATL` 
$header_height_TLO:     109px;
$header_height_BD:      110px;
$header_height_AD:      111px;

$page_PT_MO:            0; //Con Header Fixed activado, si no es 0 hay que declarar el alto en la variable `$header_height_MO`, y asignar esa misma variable a esta
$page_PT_AML:           0; //Con Header Fixed activado, si no es 0 hay que declarar el alto en la variable `$header_height_AML`, y asignar esa misma variable a esta
$page_PT_MLO:           0; //Con Header Fixed activado, si no es 0 hay que declarar el alto en la variable `$header_height_MLO`, y asignar esa misma variable a esta
$page_PT_BT:            0; //Con Header Fixed activado, si no es 0 hay que declarar el alto en la variable `$header_height_BT`, y asignar esa misma variable a esta
$page_PT_AT:            0; //Con Header Fixed activado, si no es 0 hay que declarar el alto en la variable `$header_height_AT`, y asignar esa misma variable a esta
$page_PT_ATL:           0; //Con Header Fixed activado, si no es 0 hay que declarar el alto en la variable `$header_height_ATL`, y asignar esa misma variable a esta  

$header_PT_BT:              0;
$header_PB_BT:              0;
$header_navAccordion_height_BT:   calc(#{$header_PT_BT} + #{$header_PB_BT} + #{$logo_height_BT_navAcc});