/* =============================================================================
   Footer Variables | Custom [var/section_footer_var.scss]
   ========================================================================== */

/* // Full heights Footer --------------------------------------------------- */
$footer_height_ALL:    100px;
$footer_height_MO:     100px;
$footer_height_AML:    100px;
$footer_height_MLO:    100px;
$footer_height_BT:     100px;
$footer_height_AT:     100px;
$footer_height_TO:     100px;
$footer_height_BTL:    100px;
$footer_height_ATL:    100px;
$footer_height_TLO:    100px;
$footer_height_BD:     100px;
$footer_height_AD:     100px;


/* // Footer sizes ---------------------------------------------------------- */


/* // Footer colours  ------------------------------------------------------- */