/* * NombreDeProyecto * ========================================================
   Language Sizes Variables | Custom [/etc/css/custom/var/section_nav_language_var.scss]
   ========================================================================== */

/* // Language Sizes -------------------------------------------------------- */
$nav_language_item_n:               2;

/*___ Flags _____________________________*/
$language_flag_width_BT:            38px;
$language_flag_height_BT:           25px; // Este valor se usa para el tamaño de las flag rounded

$language_flag_width_clicked:       55px;
$language_flag_height_clicked:      36px;

$language_flag_width_AT:            $language_flag_width_BT;
$language_flag_height_AT:           $language_flag_height_BT; // Este valor se usa para el tamaño de las flag rounded
$language_flag_sep_AT:              10px;

$language_flag_border_size:         1px;
$language_flag_border_size_full:    calc(#{$language_flag_border_size} * 2);

/*___ Language UL _______________________*/
$nav_language_ul_right_AT:          20px;
$nav_language_ul_bottom:            20px;

$nav_language_ul_width_AT:          calc(calc(#{$language_flag_width_AT} * #{$nav_language_item_n}) + calc(#{$language_flag_sep_AT} * calc(#{$nav_language_item_n} - 1)) + #{$nav_language_ul_right_AT} + 15px);

$nav_language_ul_height_BT:             calc(#{$language_flag_height_BT} + #{$language_flag_border_size_full});
$nav_language_ul_height_clicked:        calc(#{$language_flag_height_clicked} + #{$language_flag_border_size_full});
$nav_language_ul_height_clicked_PT:     15px;
$nav_language_ul_height_clicked_PB:     20px;
$nav_language_ul_height_AT:             calc(#{$language_flag_height_AT} + #{$language_flag_border_size_full});


/* // Language Colours ------------------------------------------------------ */
$nav_language_ul_bgColour_clicked:              transparent;
$language_flag_anchor_bgColour:                 $bgColour_main_global;
$language_flag_rounded_anchor_hover_bxShadow:   0 0 10px $white;