/* =============================================================================
   Nav Sizes Variables | Custom [var/section_nav_sizes.scss]
   ========================================================================== */
    
/* // General --------------------------------------------------------------- */
$nav_bdRadius:                  $helpers_border_radius_global;

    
/* // Nav List -------------------------------------------------------------- */
$nav_list_ul_width_BT:               200px;

    
/* // Nav Drawer ------------------------------------------------------------ */
$nav_drawer_width:                   70vw;
$nav_drawer_width_max:               300px;
$nav_drawer_width_final:             calc(#{$nav_drawer_width} - 5px);

    
/* // Nav Accordion --------------------------------------------------------- */
$navAcc_hamburger_height:           40px;
$navAcc_item_height:                45px;

    
/* // Nav Topper ------------------------------------------------------------ */
$topper_height_global:              60px;

    
/* // Nav Heights ----------------------------------------------------------- */
$nav_height_AT:                     60px;
$nav_height_TO:                     $nav_height_AT;
$nav_height_ATL:                    $nav_height_AT;