/* =============================================================================
   Nav Colours Variables | Custom [/etc/css/custom/var/section_nav_colours_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Font Colours ---------------------------------------------------------- */
/*___ BT ________________________________*/
$nav_TLI_level0_ftColour_BT:            $ftColour_main_global;
$nav_TLI_level1_ftColour_BT:            $nav_TLI_level0_ftColour_BT;
$nav_TLI_level2_ftColour_BT:            $nav_TLI_level1_ftColour_BT;
$nav_TLI_level3_ftColour_BT:            $nav_TLI_level2_ftColour_BT;

$nav_item_level0_ftColour_BT:           $nav_TLI_level0_ftColour_BT;
$nav_item_level1_ftColour_BT:           $nav_TLI_level1_ftColour_BT;
$nav_item_level2_ftColour_BT:           $nav_TLI_level2_ftColour_BT; 
$nav_item_level3_ftColour_BT:           $nav_TLI_level3_ftColour_BT; 

$nav_TLI_current_level0_ftColour_BT:    $nav_TLI_level0_ftColour_BT;
$nav_TLI_current_level1_ftColour_BT:    $nav_TLI_level1_ftColour_BT;
$nav_TLI_current_level2_ftColour_BT:    $nav_TLI_level2_ftColour_BT;
$nav_TLI_current_level3_ftColour_BT:    $nav_TLI_level3_ftColour_BT;

$nav_TLI_current_level0_ftColour_BT:   $nav_TLI_current_level0_ftColour_BT;
$nav_TLI_current_level1_ftColour_BT:   $nav_TLI_current_level1_ftColour_BT;
$nav_TLI_current_level2_ftColour_BT:   $nav_TLI_current_level2_ftColour_BT;
$nav_TLI_current_level3_ftColour_BT:   $nav_TLI_current_level3_ftColour_BT;

$nav_item_back_TLI_ftColour:            $white!important;


/*___ AT ________________________________*/
$nav_item_ftColour_AT:                      $ftColour_main_global; // Si es $white hay un activador en `[/etc/css/custom/act/section_nav_act.scss]`
$nav_item_ftColour_hover:                   $nav_item_ftColour_AT;
$nav_item_subNav_ftColour_AT:               $nav_item_ftColour_AT;
$nav_item_subNav_ftColour_hover:            $nav_item_subNav_ftColour_AT;
   
$nav_item_current_ftColour_AT:              $nav_item_ftColour_AT;
$nav_item_current_ftColour_hover:           $nav_item_current_ftColour_AT;
$nav_item_subNav_current_ftColour_AT:       $nav_item_ftColour_AT;
$nav_item_subNav_current_ftColour_hover:    $nav_item_subNav_current_ftColour_AT;


/*___ Topper ____________________________*/
$nav_topper_ftColour:               $nav_item_ftColour_AT;
$nav_topper_ftColour_hover:         $nav_topper_ftColour;
$nav_topper_item_current_ftColour:  $nav_item_ftColour_AT; 



/* // Background Colours ---------------------------------------------------- */
/*___ BT ________________________________*/
$nav_bgColour_BT:                       $bgWhite;
       
$nav_ul_level1_bgColour_BT:             transparent;
$nav_ul_level2_bgColour_BT:             transparent;
$nav_ul_level3_bgColour_BT:             transparent;
     
$nav_item_level1_bgColour_BT:           transparent;
$nav_item_level2_bgColour_BT:           transparent;
$nav_item_level3_bgColour_BT:           transparent;

$nav_item_current_level0_bgColour_BT:   darken($nav_bgColour_BT, 5%);
$nav_item_current_level1_bgColour_BT:   darken($nav_ul_level1_bgColour_BT, 5%);
$nav_item_current_level2_bgColour_BT:   darken($nav_ul_level1_bgColour_BT, 5%);
$nav_item_current_level3_bgColour_BT:   darken($nav_ul_level1_bgColour_BT, 5%);


/*___ AT ________________________________*/
$nav_nav_bgColour_AT:               transparent;
$nav_ul_bgColour_AT:                $bgGrey;

$nav_item_bgColour_AT:              transparent;
$nav_item_bgColour_hover:           $nav_item_bgColour_AT;

$nav_item_current_bgColour_AT:      transparent;
$nav_item_current_bgColour_hover:   $nav_item_current_bgColour_AT;

$nav_subNav_bgColour_AT:            transparent;

$nav_item_subNav_bgColour_AT:       $nav_item_bgColour_AT;
$nav_item_subNav_bgColour_hover:    $nav_item_subNav_bgColour_AT;

$nav_item_subNav_current_bgColour_AT:     transparent;
$nav_item_subNav_current_bgColour_hover:  $nav_item_subNav_current_bgColour_AT;


/*___ Topper ____________________________*/
$nav_topper_bgColour:       $bgBlack;



/* // Border Colours -------------------------------------------------------- */
/*___ BT ________________________________*/
$nav_bdColour_BT:                   $bdBlack;   

$nav_drawer_bdColourR:              $bdBlack;
$nav_accordion_bdColour:            $bdGrey2XL;
  
$nav_item_current_bdColour:         $bdGrey;
  
$nav_item_level0_bdColour_BT:       $bdGrey;
$nav_item_level1_bdColour_BT:       $nav_item_level0_bdColour_BT;
$nav_item_level2_bdColour_BT:       $nav_item_level1_bdColour_BT;
$nav_item_level3_bdColour_BT:       $nav_item_level2_bdColour_BT;

$nav_subNav_borderB_BT:             $nav_ul_level1_bgColour_BT;
  
$nav_bdColour_backMenu:             $nav_item_level1_bdColour_BT;


/*___ AT ________________________________*/
$nav_item_subNav_bdColour_AT:       $nav_item_level0_bdColour_BT;


/*___ Topper ____________________________*/
$nav_topper_bdColour:               $bdGreyXD;
$nav_topper_item_current_bdColour:  $bdGrey;