/* * NombreDeProyecto * ========================================================
   Shadows Variables | Custom [/etc/css/custom/var/shadows_var.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/*___ Background Shadow _________________*/
$bgShadowT_img_url:     url('#{$dir_env}/img/bg_shadowT.png');
$bgShadowB_img_url:     url('#{$dir_env}/img/bg_shadowB.png');
$bgShadowB_50_img_url:  url('#{$dir_env}/img/bg_shadowB_50.png');

/*___ Text Shadow _______________________*/
$txShadow_black:                    0 0 3px $black;
$txShadow_black_smooth:             0 0 3px $black, 0 0 6px $black;
$txShadow_black_heavy:              0 0 3px $black, 0 0 3px $black, 0 0 6px $black;

$txShadow_white:                    0 0 3px $white;
$txShadow_white_smooth:             0 0 3px $white, 0 0 6px $white, 0 0 9px $white;
$txShadow_white_heavy:              0 0 3px $white, 0 0 3px $white, 0 0 6px $white;

$txShadow_none:                     0 0 0 transparent;

$txShadow_main:                     $txShadow_black;

/*___ Box Shadow ________________________*/
$bxShadow_main:                     0 0 10px 0 $greyXD;
$bxShadow_main_inset:               inset $bxShadow_main;

$bxShadow_header_fixed:             0 0 10px 0 $greyL;
$bxShadow_header_fixed_scrolled:    $bxShadow_header_fixed;

$bxShadow_video:                    $bxShadow_main;