/* =============================================================================
   Shadows Variables | Custom [/etc/css/custom/var/shadows_var.scss]
   ========================================================================== */
$bgShadowT_img_url: url('#{$url_dir}/img/bg_shadowT.png');
$bgShadowB_img_url: url('#{$url_dir}/img/bg_shadowB.png');

$txShadow_main:                     0 0 3px $black;
$txShadow_white:           0 0 3px $white;
$txShadow_white_hover:     0 0 3px $black;

$bxShadow_main:                     0 0 10px 0 $greyXD;
$bxShadow_main_inset:               inset $bxShadow_main;

$bxShadow_video:                    $bxShadow_main;
$bxShadow_header_fixed:             0 0 10px 0 $greyL;