/* =============================================================================
   Slider Variables | Custom [var/slider.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Slider Colours -------------------------------------------------------- */
$slider_bgColour:                   $transparent;
$slider_img_bgColour:               $img_bgColour_global;
$slider_carousel_bgColour:          $bgWhite;


/* // Slider Arrows --------------------------------------------------------- */
$slider_arrows_width_BT:             30px;
$slider_arrows_height_BT:            $slider_arrows_width_BT;
$slider_arrows_height_half_BT:       calc(#{$slider_arrows_height_BT} / 2);

$slider_arrows_width_AT:             50px;
$slider_arrows_height_AT:            $slider_arrows_width_AT;
$slider_arrows_height_half_AT:       calc(#{$slider_arrows_height_AT} / 2);


/* // Carousel Arrows ------------------------------------------------------- */
$carouselArrows_width_BT:           $slider_arrows_width_BT;
$carouselArrows_height_BT:          $slider_arrows_height_BT;
$carouselArrows_height_half_BT:     calc(#{$carouselArrows_height_BT} / 2);

$carouselArrows_width_AT:           $slider_arrows_width_AT;
$carouselArrows_height_AT:          $slider_arrows_height_AT;
$carouselArrows_height_half_AT:     calc(#{$carouselArrows_height_AT} / 2);

$carousel_PH_BT:                    calc(#{$carouselArrows_width_BT} * 1.5);
$carousel_PH_AT:                    calc(#{$carouselArrows_width_AT} * 1.5);


/* // Dots ------------------------------------------------------------------ */
$slider_dots_width:                  15px;
$slider_dots_height:                 $slider_dots_width;
$slider_dots_widthHeight:            $slider_dots_width $slider_dots_height;
$slider_dots_separation:             10px;
$slider_dots_MT:                     calc(#{$slider_dots_height} + 20px);