/* =============================================================================
   Social Variables | Custom [/etc/css/custom/var/section_social_var.scss]
   ========================================================================== */
    
/* // Social Sizes ---------------------------------------------------------- */
$social_icon_size_BT:      45px;
$social_icon_size_AT:      50px;
    
/* // Social Colours -------------------------------------------------------- */