/* * NombreDeProyecto * ========================================================
   Social Variables | Custom [/etc/css/custom/var/section_social_var.scss]
   ========================================================================== */
    
/* // Social Sizes ---------------------------------------------------------- */
$social_icon_size_B600:      30px;
$social_icon_size_A600:      40px;
$social_icon_size_A768:      45px;
$social_icon_size_A1024:     $social_icon_size_A768;
    
/* // Social Colours -------------------------------------------------------- */