/* * NombreDeProyecto * ========================================================
   Tables Variables | Custom [/etc/css/custom/var/tables.scss]
   ========================================================================== */

@use "env_var" as *;

@use "../scss/var_absolute" as *;
@use  "helpers_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables scss.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


$table_width_BT:  $hundred;
$table_width_AT:  700px;
$table_width_A1024: 970px;

    
/* // Custom Sizes ---------------------------------------------------------- */
$table_sizes_map_BT:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creara
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesBeforeTablet'
    
    tableWidthBig:      1000px,
    tableWidthSmall:    500px
    
);
$table_sizes_map_AT:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creara
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesTablet'
    
);
$table_sizes_map_A1024:(
    //Aquí se agregan los tamaños fijos de tablas, de este mapa se creara
    //una clase por cada tamaño "table.tableWidthBig{width: 1000px;}"
    //con el mixin 'tableCustomSizesTabletL'
    
    tableWidthSmall: 760px
);

    
/* // Rounded Table --------------------------------------------------------- */
$helpers_border_radius_table: $bdRadius_global;