@use "sass:color";
/* * NombreDeProyecto * ========================================================
   Tables Colours Variables | Custom [/etc/css/custom/var/tables_colours_var.scss]
   ========================================================================== */

/* // Table Border Colours -------------------------------------------------- */
$table_bdColour_main:         $bdGreyM;
$table_bdColour_sec:    $bdGreyXL;


/* // Table Background Colours ---------------------------------------------- */
$table_bgColour_main:         #888;
$table_bgColour_sec:    #bbb;
$table_bgColour_ter:     $bgGreyXL;


/* // Striped Table --------------------------------------------------------- */
$table_bgColour_striped_thead:     #aaa;
$table_bgColour_striped_odd:       #eee;
$table_bgColour_striped_even:      $white;
$table_bgColour_striped_separator: color.adjust($table_bgColour_striped_odd, $lightness: -60%);