/* * NombreDeProyecto * ========================================================
   Text Variables | Custom [/etc/css/custom/var/text_var.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables de texto. Declaraciones de fuentes,
// variables de pesos, interlinea, cuerpos tipograficos y espaciado general.

// REF [01] Google fonts
// REF [46] Fuentes Regular y Bold
//
// #fonts #fontFamily #fontWeight #fontSize #paragraph



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Text Fonts ------------------------------------------------------------ */
$ftFamily_regular_global:       $arial; /* // REF [46] Fuentes Regular y Bold */
$ftFamily_bold_global:          $ftFamily_regular_global; /* // REF [01] Google fonts */


/* // Espaciado y cuerpo de texto ------------------------------------------- */
$ftWeight_global:           400;
$lineHeight_global:         calc(1ex / 0.32);

$ftSize_global:             1rem;
$ftSize_paragraph_B350:     0.8rem;
$ftSize_paragraph_A350:     0.9rem;
$ftSize_paragraph_A500:     0.95rem;
$ftSize_paragraph_AT:       1rem;
$ftSize_paragraph_A1024:    $ftSize_paragraph_AT;
$ftSize_paragraph_A1200:    $ftSize_paragraph_A1024;

$txMargin_TRBL_global:      0;
$txMargin_T_sibling:        0.8em;
$txMargin_TRBL_sibling:     $txMargin_T_sibling 0 0;


/* // Headings -------------------------------------------------------------- */
$headings_marginTRBL_global:    0 0 0.8em;
$headings_marginTRBL_sibling:   1.2em 0 0;

$headings_sizes_map_B500:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);

$headings_sizes_map_A500:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);

$headings_sizes_map_AT:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);

$headings_sizes_map_A1200:(
    $h1_list: 2.4rem,
    $h2_list: 2.2rem,
    $h3_list: 2rem,
    $h4_list: 1.8rem,
    $h5_list: 1.6rem,
    $h6_list: 1.4rem
);