/* * NombreDeProyecto * ========================================================
   Text Colour Variables | Custom [/etc/css/custom/var/text_colours_var.scss]
   ========================================================================== */

@use "env_var" as *;

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables colores de texto y anclas.

// #text #anchor #colour



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Text Colours ---------------------------------------------------------- */
$ftColour_main_global:          $black;
$ftColour_main_global_hover:    color.adjust($ftColour_main_global, $lightness: 20%);

$ftColour_anchor_global:        $ftColour_main_global_hover;
$ftColour_anchor_global_hover:  color.adjust($ftColour_main_global_hover, $lightness: -10%);

$txSelection_ftColour_global:   $ftColour_main_global;
$txSelection_bgColour_global:   $bgColour_neutral;