/* * NombreDeProyecto * ========================================================
   Text Variables | Custom [/etc/css/custom/var/text.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de asignacion de variables de texto.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Text Fonts ------------------------------------------------------------ */
$ftFamily_main_global:          $arial;
$ftFamily_bold_global:          $ftFamily_main_global; // REF [01]


/* // Text Colours ---------------------------------------------------------- */
$ftColour_main_global:          $black;
$ftColour_main_global_hover:    lighten($ftColour_main_global, 20%);

$ftColour_anchor_global:        $ftColour_main_global_hover;
$ftColour_anchor_global_hover:  darken($ftColour_main_global_hover, 10%);

$txSelection_ftColour_global:   $ftColour_main_global;
$txSelection_bgColour_global:   $bgColour_main_global;


/* // Espaciado y cuerpo de texto ------------------------------------------- */
$ftWeight_global:           400;
$lineHeight_global:         calc(1ex / 0.32);

$ftSize_global:             1rem;
$ftSize_paragraph_B500:     0.8rem;
$ftSize_paragraph_A500:     0.9rem;
$ftSize_paragraph_AT:       1rem;
$ftSize_paragraph_A1024:      $ftSize_paragraph_AT;
$ftSize_paragraph_A1200:    $ftSize_paragraph_A1024;

$text_marginTRBL_global:    0;
$text_marginTRBL_sibling:   0.8em 0 0;


/* // Headings -------------------------------------------------------------- */
$headings_marginTRBL_global:    0 0 0.8em;
$headings_marginTRBL_sibling:   1.2em 0 0;

$headings_sizes_map_BT:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);

$headings_sizes_map_AT:(
    $h1_list: 1.6rem,
    $h2_list: 1.5rem,
    $h3_list: 1.4rem,
    $h4_list: 1.3rem,
    $h5_list: 1.3rem,
    $h6_list: 1.3rem
);

$headings_sizes_map_A1200:(
    $h1_list: 2.4rem,
    $h2_list: 2.2rem,
    $h3_list: 2rem,
    $h4_list: 1.8rem,
    $h5_list: 1.6rem,
    $h6_list: 1.4rem
);