/* * NombreDeProyecto * ========================================================
   Z Index Variables | Custom [/etc/css/custom/var/zindex_var.scss]
   ========================================================================== */

/* // Negative -------------------------------------------------------------- */
$zIndex_negative:            -1;


/* // 10 000 ---------------------------------------------------------------- */
/*___ Lightbox __________________________*/
$zIndex_lightbox_nav:        11100;
$zIndex_lightbox:            11000;
$zIndex_lightbox_overlay:    10000;



/* // 9000 ------------------------------------------------------------------ */
/*___ Modal / Pop / NavDrawer ___________*/
$zIndex_button_topLevel:        9900;

$zIndex_nav_item_back_subNav:   9850;
$zIndex_navSubMenu_level3:      9840;
$zIndex_navSubMenu_level2:      9830;
$zIndex_navSubMenu_level1:      9810;

$zIndex_pop_global:             9800;
$zIndex_modal_bg:               9000;



/* // 8000 ------------------------------------------------------------------ */ 
$zIndex_button_belowModal:      8990; 

/*___ Lang ______________________________*/
$zIndex_nav_lang_ul_clicked:    $zIndex_button_topLevel; // 9900
$zIndex_nav_lang_ul:            8500;
     
/*___ Social ____________________________*/
$zIndex_social:             8500;
$zIndex_social_navOpen:     $zIndex_button_topLevel; // 9900

/*___ Nav _______________________________*/
$zIndex_nav_close:           $zIndex_button_topLevel; // 9900 
$zIndex_navDrawer_ul:        $zIndex_pop_global; // 9800
$zIndex_nav_open:            8100;
$zIndex_navAccordion_ul:     $zIndex_nav_open; // 8100
$zIndex_nav:                 8000;



/* // 7000 ------------------------------------------------------------------ */ 
$zIndex_button_whatsApp:    7900;

$zIndex_bgShadowAfter:      7850;

/*___ Header ____________________________*/
$zIndex_logo_navOpen:       $zIndex_button_topLevel; // 9900  
$zIndex_logo:               7300;
$zIndex_logo_topper:        $zIndex_logo; // 7300 
$zIndex_header:             7200;
$zIndex_header_topper:      $zIndex_header; // 7200

/*___ Footer ____________________________*/
$zIndex_footer:             $zIndex_header; // 7200
$zIndex_button_siteTop:     $zIndex_button_belowModal; // 8990

/*___ Slick Slider ______________________*/
$zIndex_slider_arrows_dots:  7140;
$zIndex_slider_slide:        7120;
$zIndex_slider:              7100;



/* // 1000 ------------------------------------------------------------------ */
$zIndex_generic_top:            1020;
$zIndex_generic_over:           1010;
$zIndex_generic_below:          1000;



/* // 100 ------------------------------------------------------------------- */
$zIndex_body:                   0;