/* =============================================================================
   Z Index Variables | Custom [var/zindex.scss]
   ========================================================================== */

/* // Negative -------------------------------------------------------------- */
$zIndex_negative:            -1;


/* // 10 000 ---------------------------------------------------------------- */
/*___ Lightbox __________________________*/
$zIndex_lightbox_nav:        11100;
$zIndex_lightbox:            11000;
$zIndex_lightbox_overlay:    10000;


/* // 9000 ------------------------------------------------------------------ */
/*___ Modal / Pop / NavDrawer ___________*/
$zIndex_button_topLevel:     9900;

$zIndex_nav_item_back_subNav:     9850;
$zIndex_navSubMenu_level3:   9840;
$zIndex_navSubMenu_level2:   9830;
$zIndex_navSubMenu_level1:   9810;

$zIndex_pop_main:            9800;
$zIndex_modal_bg:            9000;


/* // 8000 ------------------------------------------------------------------ */ 
/*___ Lang ______________________________*/
$zIndex_language_clicked:    $zIndex_button_topLevel; // 9900
$zIndex_language:            8500;
     
/*___ Social ____________________________*/
$zIndex_social_clicked:      $zIndex_button_topLevel; // 9900
$zIndex_social:              8500;

/*___ Slick Slider ______________________*/
$zIndex_slider_arrows_dots:  8200;
$zIndex_slider:              8100;

/*___ Nav _______________________________*/
$zIndex_nav_close:           $zIndex_button_topLevel; // 9900 
$zIndex_navDrawer_ul:        $zIndex_pop_main; // 9800
$zIndex_nav_open:            8100;
$zIndex_navAccordion_ul:     $zIndex_nav_open; // 8100
$zIndex_nav:                 8000;


/* // 7000 ------------------------------------------------------------------ */ 
/*___ Header ____________________________*/
$zIndex_logo_clicked:       $zIndex_button_topLevel; // 9900  
$zIndex_logo:               7300;
$zIndex_logo_topper:        $zIndex_logo; // 7300 
$zIndex_header:             7200;
$zIndex_header_topper:      $zIndex_header; // 7200

/*___ Footer ____________________________*/
$zIndex_footer:             $zIndex_header; // 7200
$zIndex_button_goToTop:     $zIndex_button_topLevel; // 9900


/* // 1000 ------------------------------------------------------------------ */