#main{
    padding-top: 40px;
}

.divDiv{
    box-sizing: border-box;
    background: #efefef;
    padding: 20px;
    border: 1px solid #cacaca;
    border-radius: 3px;
}

.datosDelUsuario img{
    width: 100px;
}

.divDiv + .divDiv{
    margin: 20px 0 0;
}