/* =============================================================================
   Header
   ========================================================================== */
#header{
    @include beforeTablet{
        height: 50px;
    }
    @include tabletOnly{
        height: 50px;
    }
    @include afterTabletLandscape{
        height: 100px;
    } 
    
    &.topper{
        @include mobileOnly{
            height: 50px;
            
            .hamb{}
        }
        
        @include afterTablet{
            height: 50px;
        }
        
        .logoHeader{
            a, img{
                @include mobileOnly{
                    width: 10px;
                }
                @include afterTablet{
                    width: 30px;
                }
                @include afterLaptop{
                    width: 60px;
                }
            }            
        }
        
        @include afterTablet{
            li{
                padding-top: 0;  
            }
            a{
                @include equalHeightAndLineHeight(50px);
            }
        }
    }
    
    .logoHeader{
        &, a{}
        
        &, a, img{
            width: 150px;          
            
            @include afterTablet{
                width: 160px;
            }
            @include afterLaptop{
                width: 170px;
            }
        }
    }
}