/* =============================================================================
   Font-face
   ========================================================================== */
/*@font-face{
font-family:'FONTNAME';
src:url('/nuevo/oldframework/fonts/FONTFILE.eot');
src:url('/nuevo/oldframework/fonts/FONTFILE.eot?#iefix') format('embedded-opentype'),
	 url('/nuevo/oldframework/fonts/FONTFILE.woff') format('woff'),
	 url('/nuevo/oldframework/fonts/FONTFILE.ttf') format('truetype'),
	 url('/nuevo/oldframework/fonts/.svg#FONTNAME') format('svg');
font-weight:normal;
font-style:normal
}*/
/*@font-face{
  font-family:'FONTNAME';
  src:url('/nuevo/oldframework/fonts/FONTFILE.eot?') format('eot'), url('/nuevo/oldframework/fonts/FONTFILE.woff') format('woff'), url('/nuevo/oldframework/fonts/FONTFILE.ttf') format('truetype');
}*/

@font-face {
    font-family: 'open_sanslight';
    src: url('/nuevo/oldframework/fonts/OpenSans-Light-webfont.eot');
    src: url('/nuevo/oldframework/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nuevo/oldframework/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('/nuevo/oldframework/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/nuevo/oldframework/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/nuevo/oldframework/fonts/OpenSans-Regular-webfont.eot');
    src: url('/nuevo/oldframework/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nuevo/oldframework/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/nuevo/oldframework/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/nuevo/oldframework/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('/nuevo/oldframework/fonts/OpenSans-Italic-webfont.eot');
    src: url('/nuevo/oldframework/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nuevo/oldframework/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('/nuevo/oldframework/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('/nuevo/oldframework/fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('/nuevo/oldframework/fonts/OpenSans-Bold-webfont.eot');
    src: url('/nuevo/oldframework/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nuevo/oldframework/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/nuevo/oldframework/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/nuevo/oldframework/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('/nuevo/oldframework/fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('/nuevo/oldframework/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nuevo/oldframework/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('/nuevo/oldframework/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('/nuevo/oldframework/fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =============================================================================
   Font Styling
   ========================================================================== */
h1,h2,h3,h4,h5,h6,p,a,li,button,label,input,select,textarea,blockquote,table{
    font:normal 1em/1.4em Arial,Helvetica,Sans-Serif}

h1,h2,h3,h4,h5,h6,strong{font-weight:normal;line-height:1em}
p,h1,h2,h3,h4,h5,h6,dl,legend{margin:0 0 .8em}
h1,.hUno{font-size:2.4em}
h2,.hDos{font-size:2.2em}
h3,.hTre{font-size:2em}
h4,.hCua{font-size:1.8em}
h5,.hCin{font-size:1.6em}
h6,.hSei{font-size:1.4em}

.arial{font-family:Arial}
.verdana{font-family:Verdana}
.tahoma{font-family:Tahoma}
.trebuchet{font-family:'Trebuchet MS'}

.openSansL{font-family: 'open_sanslight'}
.openSans{font-family: 'open_sansregular'}
.openSansI{font-family: 'open_sansitalic'}
.openSansB{font-family: 'open_sansbold'}
.openSansBI{font-family: 'open_sansbold_italic'}

/* Main Colour */
html,body,button,label,input,select,textarea,blockquote,table,
a,a:active,a:visited{color:#000}
a:focus,a:hover{
    color:#444;
    text-shadow:0 0 4px #fff;
}

a.white:active,a.white:visited,.white{color:#fff}
a.white:focus,a.white:hover{
    color:#eee;
    text-shadow:0 0 3px #ddd;
}

a.blackTR:active,a.blackTR:visited,.blackTR,
a.black:active,a.black:visited,.black{color:#000}
a.black:focus,a.black:hover{
    color:#222;
    text-shadow:0 0 4px #fff;
}

a.blackTR:focus,a.blackTR:hover,
a.redColor:active,a.redColor:visited,.redColor{color:#ff0000}
a.redColor:focus,a.redColor:hover{color:#cc0000}

.blackTR{/* black to red */
    -webkit-transition:color 0.5s ease;
    -moz-transition:color 0.5s ease;
    -o-transition:color 0.5s ease;
    transition:color 0.5s ease;
}

/* Text Format */
.fontSize{font-size:1em!important}
.lineHeight{line-height:1em!important}
.light{font-weight:300}
.roman{font-weight:400}
.semiBold{font-weight:600}
.bold{font-weight:700}
.extraBold{font-weight:800}
.heavy{font-weight:900}
dfn, /* Address styling not present in Safari and Chrome. */
.italic{font-style:italic} 
.underline{text-decoration:underline}
.upperCase{text-transform:uppercase}
.lowerCase{text-transform:lowercase}
.smallCaps{font-variant: small-caps}
.alignCenter{text-align:center}
.alignRight{text-align:right}
.alignLeft{text-align:left}
.alignJustify{text-align:justify}
.indentedText{text-indent:-9999px}
.textShadow{text-shadow:1px 1px 1px #666}

/* General Text */
abbr{border-bottom:1px dashed #ccc;cursor:help}
sub,sup{/* Prevents `sub` and `sup` affecting `line-height` in all browsers. */
    font-size:50%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup{top:-0.5em}
sub{bottom:-0.25em}
small{font-size:70%}
mark{background:#ff0;color:#000}
hr{
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0;
}
pre{overflow:auto}
code,kbd,pre,samp{/* Address odd `em`-unit font size rendering in all browsers. */
  font-family:monospace, monospace;
  font-size:1em;
}

p{
/* Hyphen */
    word-break:break-all;
    /* Non standard for webkit */
    word-break:break-word;
    -webkit-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    hyphens:auto;
/* hellip */
    text-overflow:ellipsis;
    width:200px;
    white-space:nowrap;
    overflow:hidden;

/* Kerning (kern) */

/* Common Ligatures */
    font-variant-ligatures:common-ligatures; /* no- */
    -moz-font-feature-settings:"liga", "clig"; /* "liga" 0,"clig" 0 */
    -ms-font-feature-settings:"liga", "clig";
    -webkit-font-feature-settings:"liga", "clig";
    font-feature-settings:"liga", "clig";
/* Historical Ligatures (hlig) */

/* Initial Forms (init) */

/* Isolated Forms (isol) */

/* Contextural Alternates */
    font-variant-ligatures:contextual;
    -moz-font-feature-settings:"calt";
    -ms-font-feature-settings:"calt";
    -webkit-font-feature-settings:"calt";
    font-feature-settings:"calt";
/* Discretionary Ligatures */
    font-variant-ligatures:discretionary-ligatures;
    -moz-font-feature-settings:"dlig";
    -ms-font-feature-settings:"dlig";
    -webkit-font-feature-settings:"dlig";
    font-feature-settings:"dlig";
/* Required Ligatures (rlig) */

/* Small Caps */
    font-variant-caps:small-caps;
    -moz-font-feature-settings:"smcp";
    -ms-font-feature-settings:"smcp";
    -webkit-font-feature-settings:"smcp";
    font-feature-settings:"smcp";
/* Petite Capitals (pcap) */

/* Capitals to Small Caps */
    font-variant-caps:all-small-caps;
    -moz-font-feature-settings:"c2sc", "smcp";
    -ms-font-feature-settings:"c2sc", "smcp";
    -webkit-font-feature-settings:"c2sc", "smcp";
    font-feature-settings:"c2sc", "smcp";
/* Titling (titl) */

/* Capital Spacing (cpsp) */

/* Case-Sensitive Forms (case) */

/* Unicase (unic) */

/* Swashes */
    -moz-font-feature-settings:"swsh";/* "swash" 2 */
    -ms-font-feature-settings:"swsh";
    -webkit-font-feature-settings:"swsh";
    font-feature-settings:"swsh";
/* Contextual Swash (cswh) */

/* Terminal Forms (fina) */

/* Stylistic Alternates */
    -moz-font-feature-settings:"salt";/* "salt" 2 */
    -ms-font-feature-settings:"salt";
    -webkit-font-feature-settings:"salt";
    font-feature-settings:"salt";
/* Lining Figures */
    font-variant-numeric:lining-nums;
    -moz-font-feature-settings:"lnum";
    -ms-font-feature-settings:"lnum";
    -webkit-font-feature-settings:"lnum";
    font-feature-settings:"lnum";
/* Oldstyle Figures */
    font-variant-numeric:oldstyle-nums;
    -moz-font-feature-settings:"onum";
    -ms-font-feature-settings:"onum";
    -webkit-font-feature-settings:"onum";
    font-feature-settings:"onum";
/* Proportional Figures */
    font-variant-numeric:proportional-nums;
    -moz-font-feature-settings:"pnum";
    -ms-font-feature-settings:"pnum";
    -webkit-font-feature-settings:"pnum";
    font-feature-settings:"pnum";
/* Tabular Figures */
    font-variant-numeric:tabular-nums;
    -moz-font-feature-settings:"tnum";
    -ms-font-feature-settings:"tnum";
    -webkit-font-feature-settings:"tnum";
    font-feature-settings:"tnum";
/* Fractions */
    font-variant-numeric:diagonal-fractions;
    -moz-font-feature-settings:"frac";
    -ms-font-feature-settings:"frac";
    -webkit-font-feature-settings:"frac";
    font-feature-settings:"frac";
/* Alternative Fractions (afrc)*/

/* Ordinals */
    font-variant-numeric:ordinal;
    -moz-font-feature-settings:"ordn";
    -ms-font-feature-settings:"ordn";
    -webkit-font-feature-settings:"ordn";
    font-feature-settings:"ordn";
/* Stylistic Sets */
    -moz-font-feature-settings:"ss01"; /* "ss(01-20)" */
    -ms-font-feature-settings:"ss01";
    -webkit-font-feature-settings:"ss01";
    font-feature-settings:"ss01";
/* Superscript */
    font-variant-position:super;
    -moz-font-feature-settings:"sups";
    -ms-font-feature-settings:"sups";
    -webkit-font-feature-settings:"sups";
    font-feature-settings:"sups";
/* Subscript */
    font-variant-position:sub;
    -moz-font-feature-settings:"subs";
    -ms-font-feature-settings:"subs";
    -webkit-font-feature-settings:"subs";
    font-feature-settings:"subs";
/* Scientific Inferiors (sinf) */

/* Historical Forms (hist) */

/* Denominators (dnom) */

/* Localized Forms (locl) */

/* Medial Forms (medi) */

/* Numerators (numr) */

/* Ornaments (ornm) */

/* Slashed Zero (zero) */

}