/* =============================================================================
   Border Helpers
   ========================================================================== */
.bw {
  border-color: #fff; }

.bk {
  border-color: #000; }

.bg {
  border-color: #999; }

.bas, .bts, .brs, .bbs, .bls, .bhs, .bvs {
  border-style: solid; }

.bad, .btd, .brd, .bbd, .bld, .bhd, .bvd {
  border-style: dotted; }

.badd, .btdd, .brdd, .bbdd, .bldd, .bhdd, .bvdd {
  border-style: dashed; }

.bas, .bad, .badd {
  border-width: 1px; }

.bts, .btd, .btdd {
  border-width: 1px 0 0; }

.brs, .brd, .brdd {
  border-width: 0 1px 0 0; }

.bbs, .bbd, .bbdd {
  border-width: 0 0 1px; }

.bls, .bld, .bldd {
  border-width: 0 0 0 1px; }

.bhs, .bhd, .bhdd {
  border-width: 0 1px; }

.bvs, .bvd, .bvdd {
  border-width: 1px 0; }

.ban {
  border: none !important; }

.btn, .bvn {
  border-top: 0 !important; }

.brn, .bhn {
  border-right: 0 !important; }

.bbn, .bvn {
  border-bottom: 0 !important; }

.bln, .bhn {
  border-left: 0 !important; }