/* =============================================================================
   Nice it Resets
   ========================================================================== */ 
.fmSelect,
.fmSelect li,
.fmSelect strong,
.fmSelect cite{display:block}
.fmSelect,
.fmSelect li{position:relative}

/* Aquí se establece la altura de los select y option */
.fmSelect,
.fmSelect strong,
.fmSelect cite{
    height:41px;
    line-height:41px;
}

/* Quito el padding:1px 0; */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="number"]{
    padding-bottom:0;
    padding-top:0;
}
.fmSelect{
    padding:0 40px 0 10px;
    /* Este padding-right:40px es el lugar para la flecha del select que tendría que ser un sprite de 40px de ancho */
    background:#fff url('/nuevo/oldframework/img/sprites.png') no-repeat 0px 0px;
    /* Aquí se establece la coordenada de la flecha del select */
    color:#000;
    cursor:pointer;
    *position:relative;
}
.fmSelect strong{overflow:hidden}
.fmSelect cite{
    color:#404040; /* Color de texto de option */
    font-style:normal!important;
}
.fmSelect ul{
    display:none;
    height:250px;
    background:#fff none repeat scroll 0 0;
    border-top:1px solid #ccc;
    margin:0 0 0 -10px;
    overflow-y:scroll;
    *position:absolute;
    *max-height:250px;
}
.fmSelect li{
    list-style:none;
    height:auto;    
    padding:10px 15px!important;
    font-size:.9em;
    line-height:1.3em;
}
.fmSelect li:hover{
    background-color:#ddd;
    color:#000;
}
/* Checkbox */
.fmCheckbox + .fmCheckbox{display:none} /* En caso de ser un solo checkbox se oculta el siguiente que agrega automaticamente */
.fmCheckbox{
    display:block;
    width:19px;
    height:19px;
    border:1px solid #ccc;
    cursor:pointer;
}
.fmCheckbox.checked{background:transparent url('/nuevo/oldframework/img/sprites.png') no-repeat 0px 0px} /* Aquí se indican las coordenadas del "tilde" que debe ser un bloque de sprites */