/* =============================================================================
   Useful classes
   ========================================================================== */
.pRel{position: relative}
.pAbs{position: absolute}
.coverAll{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.autoWidth{width: auto}
.autoHeight{height: auto}
.fullWidth{width: 100%}
.fullHeight{
    top: 0;
    bottom: 0;
}
.fullHeightPercent{height: 100%;}
.unstyled, .horizontal{list-style: none}
.floatLeft, .horizontal li{float: left}
.floatRight, .horizontal li.floatRight,
.horizontal.right li{float: right}
.horizontalCenter{
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    text-align: center;
    li{
        display: inline;
        > *{
            display: inline-block;            
        }
    }
}
.floatNone, .centerCol{float: none}
.clear{clear: both}
article, details, figcaption, figure, hgroup, main, menu, nav, summary,
.displayBlock, .center{display: block}
.displayInline{display: inline}
.displayNone{display: none}
.invisible{visibility: hidden}
.centerVertically{
    display: table-cell;
    vertical-align: middle;
}
.mask{
    position: relative;
    overflow: hidden;
}
.cursorDefault{cursor: default}
.cursorPointer{cursor: pointer}
.cursorHelp{cursor: help}
.cursorNone{cursor: none}
article, details, figcaption, figure, hgroup, main, menu, nav, summary,
.contentBox{box-sizing: content-box}
.borderBox{box-sizing: border-box}
:root .noFilter{filter: none \0/IE9}