/* * NombreDeProyecto * ========================================================
   Footer Full Height Styles | Custom [/etc/css/custom/imp/footer_fullHeight_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/etc/css/custom/_footer.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D              = mobile, tablet, desktop
// B, A, O, L, MQ       = before, after, only, landscape, mediaQuery

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



#footer{
    @if $page_index_fullHeight_act_ALL == "on" or $page_section_fullHeight_act_ALL == "on"{
        height: $footer_height_ALL;
    }
    
    @if $page_index_only_fullHeight_act_ALL == "on"{
        &.footer_index{
            height: $footer_height_ALL;
        }
    }
    
    @include beforeMQ500{
        @if $page_index_fullHeight_act_B500 == "on" or $page_section_fullHeight_act_B500 == "on"{
            height: $footer_height_B500;
        }  
    
        @if $page_index_only_fullHeight_act_B500 == "on"{
            &.footer_index{
                height: $footer_height_B500;
            }
        }  
    }
    
    @include afterMQ500{
        @if $page_index_fullHeight_act_A500 == "on" or $page_section_fullHeight_act_A500 == "on"{
            height: $footer_height_A500;
        }  
    
        @if $page_index_only_fullHeight_act_A500 == "on"{
            &.footer_index{
                height: $footer_height_A500;
            }
        }  
    }
    
    @include MQ500Only{
        @if $page_index_fullHeight_act_500O == "on" or $page_section_fullHeight_act_500O == "on"{
            height: $footer_height_500O;
        }  
    
        @if $page_index_only_fullHeight_act_500O == "on"{
            &.footer_index{
                height: $footer_height_500O;
            }
        }  
    }
    
    @include beforeTablet{
        @if $page_index_fullHeight_act_BT == "on" or $page_section_fullHeight_act_BT == "on"{
            height: $footer_height_BT;
        }  
    
        @if $page_index_only_fullHeight_act_BT == "on"{
            &.footer_index{
                height: $footer_height_BT;
            }
        }  
    }
    
    @include afterTablet{
        @if $page_index_fullHeight_act_AT == "on" or $page_section_fullHeight_act_AT == "on"{
            height: $footer_height_AT;
        }  
    
        @if $page_index_only_fullHeight_act_AT == "on"{
            &.footer_index{
                height: $footer_height_AT;
            }
        }  
    }
    
    @include tabletOnly{
        @if $page_index_fullHeight_act_TO == "on" or $page_section_fullHeight_act_TO == "on"{
            height: $footer_height_TO;
        }  
    
        @if $page_index_only_fullHeight_act_TO == "on"{
            &.footer_index{
                height: $footer_height_TO;
            }
        }  
    }
    
    @include beforeTabletLandscape{
        @if $page_index_fullHeight_act_BTL == "on" or $page_section_fullHeight_act_BTL == "on"{
            height: $footer_height_BTL;
        }  
    
        @if $page_index_only_fullHeight_act_BTL == "on"{
            &.footer_index{
                height: $footer_height_BTL;
            }
        }  
    }
    
    @include afterTabletLandscape{
        @if $page_index_fullHeight_act_ATL == "on" or $page_section_fullHeight_act_ATL == "on"{
            height: $footer_height_ATL;
        }  
    
        @if $page_index_only_fullHeight_act_ATL == "on"{
            &.footer_index{
                height: $footer_height_ATL;
            }
        }  
    }
    
    @include afterMQ1200{
        @if $page_index_fullHeight_act_AD == "on" or $page_section_fullHeight_act_AD == "on"{
            height: $footer_height_AD;
        }    
    
        @if $page_index_only_fullHeight_act_AD == "on"{
            &.footer_index{
                height: $footer_height_AD;
            }
        }   
    }
}