/* * NombreDeProyecto * ========================================================
   Header Fixed Styles | Custom [/etc/css/custom/imp/header_headerFixed_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/etc/css/custom/_header.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



#header{        
    @if $header_fixed_act_ALL == "on"{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: $bxShadow_header_fixed;
        
        &.headerScrolled{
            box-shadow: $bxShadow_header_fixed_scrolled;
        }
    }
    
    @include beforeMQ500{
        @if $header_fixed_act_B500 == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        }
        
        @if $header_fixed_act_B500 == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_B500;
        }
    }
    
    @include afterMQ500{
        @if $header_fixed_act_A500 == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        }
        
        @if $header_fixed_act_A500 == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_A500;
        }
    }
    
    @include MQ500_768{
        @if $header_fixed_act_500O == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        }
        
        @if $header_fixed_act_500O == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_500O;
        }
    }

    @include beforeMQ768{        
        @if $header_fixed_act_BT == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        } 
        
        @if $header_fixed_act_BT == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_BT;
            
            &.navDrawer_open{}
        }   
    }
    
/*
    @include navBT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`
        @if $header_fixed_act_nav_BT == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        } 
        
        @if $header_fixed_act_nav_BT == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_BT;
            
            &.navDrawer_open{}
        }   
    }
*/

    @include afterMQ768{        
        @if $header_fixed_act_AT == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        }
        
        @if $header_fixed_act_AT == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_AT;
        }
    }
    
    @include navAT{ // REF [03] `[/etc/css/custom/var/mediaQueries_var.scss]`  
        @if $header_fixed_act_nav_AT == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        }
        
        @if $header_fixed_act_nav_AT == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_AT;
        }
    }
    
    @include afterMQ1024{
        @if $header_fixed_act_A1024 == "on"{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: $bxShadow_header_fixed;
        
            &.headerScrolled{
                box-shadow: $bxShadow_header_fixed_scrolled;
            }
        }
        
        @if $header_fixed_act_A1024 == "on" or $header_fixed_act_ALL == "on"{
            height: $header_height_A1024;
        }
    }
}