/* =============================================================================
   Page Index Full Height Styles | Custom [/etc/css/custom/page_index_fullHeight_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/etc/css/custom/_page_index.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


.page_index{
    @if $page_index_fullHeight_act_ALL == "on" or $page_index_only_fullHeight_act_ALL == "on"{
        height: calc(100vh - #{$footer_height_ALL} - #{$header_height_ALL});
    }

    @include mobileOnly{
        @if $page_index_fullHeight_act_MO == "on" or $page_index_only_fullHeight_act_MO == "on"{
            height: calc(100vh - #{$footer_height_MO} - #{$header_height_MO});
        }
    }

    @include afterMobileLandscape{
        @if $page_index_fullHeight_act_AML == "on" or $page_index_only_fullHeight_act_AML == "on"{
            height: calc(100vh - #{$footer_height_AML} - #{$header_height_AML});
        }
    }

    @include mobileLandscapeOnly{
        @if $page_index_fullHeight_act_MLO == "on" or $page_index_only_fullHeight_act_MLO == "on"{
            height: calc(100vh - #{$footer_height_MLO} - #{$header_height_MLO});
        }
    }

    @include beforeTablet{
        @if $page_index_fullHeight_act_BT == "on" or $page_index_only_fullHeight_act_BT == "on"{
            height: calc(100vh - #{$footer_height_BT} - #{$header_height_BT});
        }
    }

    @include afterTablet{
        @if $page_index_fullHeight_act_AT == "on" or $page_index_only_fullHeight_act_AT == "on"{
            height: calc(100vh - #{$footer_height_AT} - #{$header_height_AT});
        }
    }

    @include tabletOnly{
        @if $page_index_fullHeight_act_TO == "on" or $page_index_only_fullHeight_act_TO == "on"{
            height: calc(100vh - #{$footer_height_TO} - #{$header_height_TO});
        }
    }

    @include beforeTabletLandscape{
        @if $page_index_fullHeight_act_BTL == "on" or $page_index_only_fullHeight_act_BTL == "on"{
            height: calc(100vh - #{$footer_height_BTL} - #{$header_height_BTL});
        }
    }

    @include afterTabletLandscape{
        @if $page_index_fullHeight_act_ATL == "on" or $page_index_only_fullHeight_act_ATL == "on"{
            height: calc(100vh - #{$footer_height_ATL} - #{$header_height_ATL});
        }
    }

    @include tabletLandscapeOnly{
        @if $page_index_fullHeight_act_TLO == "on" or $page_index_only_fullHeight_act_TLO == "on"{
            height: calc(100vh - #{$footer_height_TLO} - #{$header_height_TLO});
        }
    }

    @include beforeDesktop{
        @if $page_index_fullHeight_act_BD == "on" or $page_index_only_fullHeight_act_BD == "on"{
            height: calc(100vh - #{$footer_height_BD} - #{$header_height_BD});
        }
    }

    @include afterDesktop{
        @if $page_index_fullHeight_act_AD == "on" or $page_index_only_fullHeight_act_AD == "on"{
            height: calc(100vh - #{$footer_height_AD} - #{$header_height_AD});
        }
    }
}