/* * NombreDeProyecto * ========================================================
   Page Int Section Full Height Styles | Custom [/etc/css/custom/imp/page_section_fullHeight_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/etc/css/custom/_global.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



#main{
    > section{
        @if $page_section_fullHeight_act_ALL == "on"{
            height: calc(100vh - #{$footer_height_ALL} - #{$header_height_ALL});
        }
    }
    
    @include beforeMQ500{        
        > section{
            @if $page_section_fullHeight_act_B500 == "on"{
                height: calc(100vh - #{$footer_height_B500} - #{$header_height_B500});
            }
        } 
    }
    
    @include afterMQ500{        
        > section{
            @if $page_section_fullHeight_act_A500 == "on"{
                height: calc(100vh - #{$footer_height_A500} - #{$header_height_A500});
            }
        }     
    }
    
    @include MQ500Only{
        > section{
            @if $page_section_fullHeight_act_500O == "on"{
                height: calc(100vh - #{$footer_height_500O} - #{$header_height_500O});
            }
        }     
    }
    
    @include beforeTablet{        
        > section{
            @if $page_section_fullHeight_act_BT == "on"{
                height: calc(100vh - #{$footer_height_BT} - #{$header_height_BT});
            }
        } 
    }
    
    @include afterTablet{        
        > section{
            @if $page_section_fullHeight_act_AT == "on"{
                height: calc(100vh - #{$footer_height_AT} - #{$header_height_AT});
            }
        } 
    }
    
    @include tabletOnly{
        > section{
            @if $page_section_fullHeight_act_TO == "on"{
                height: calc(100vh - #{$footer_height_TO} - #{$header_height_TO});
            }
        } 
    }
    
    @include beforeTabletLandscape{
        > section{
            @if $page_section_fullHeight_act_BTL == "on"{
                height: calc(100vh - #{$footer_height_BTL} - #{$header_height_BTL});
            }
        } 
    }
    
    @include afterTabletLandscape{        
        > section{
            @if $page_section_fullHeight_act_ATL == "on"{
                height: calc(100vh - #{$footer_height_ATL} - #{$header_height_ATL});
            }
        } 
    }

    @include tabletLandscapeOnly{
        > section{
            @if $page_section_fullHeight_act_TLO == "on"{
                height: calc(100vh - #{$footer_height_TLO} - #{$header_height_TLO});
            }
        }
    }

    @include beforeMQ1200{
        > section{
            @if $page_section_fullHeight_act_B1200 == "on"{
                height: calc(100vh - #{$footer_height_B1200} - #{$header_height_B1200});
            }
        }
    }

    @include afterMQ1200{
        > section{
            @if $page_section_fullHeight_act_A1200 == "on"{
                height: calc(100vh - #{$footer_height_A1200} - #{$header_height_A1200});
            }
        }
    }
}