/* * NombreDeProyecto * ========================================================
   Page Index Full Height Styles | Custom [/etc/css/custom/imp/page_index_fullHeight_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/etc/css/custom/_page_index.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudo-clases :focus y :hover
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



.page_index{
    @if $page_index_fullHeight_act_ALL == "on" or $page_index_only_fullHeight_act_ALL == "on"{
        height: calc(100vh - #{$footer_height_ALL} - #{$header_height_ALL});
    }

    @include beforeMQ500{
        @if $page_index_fullHeight_act_B500 == "on" or $page_index_only_fullHeight_act_B500 == "on"{
            height: calc(100vh - #{$footer_height_B500} - #{$header_height_B500});
        }
    }

    @include afterMQ500{
        @if $page_index_fullHeight_act_A500 == "on" or $page_index_only_fullHeight_act_A500 == "on"{
            height: calc(100vh - #{$footer_height_A500} - #{$header_height_A500});
        }
    }

    @include MQ500_768{
        @if $page_index_fullHeight_act_500O == "on" or $page_index_only_fullHeight_act_500O == "on"{
            height: calc(100vh - #{$footer_height_500O} - #{$header_height_500O});
        }
    }

    @include beforeMQ768{
        @if $page_index_fullHeight_act_B768 == "on" or $page_index_only_fullHeight_act_B768 == "on"{
            height: calc(100vh - #{$footer_height_BT} - #{$header_height_BT});
        }
    }

    @include afterMQ768{
        @if $page_index_fullHeight_act_A768 == "on" or $page_index_only_fullHeight_act_A768 == "on"{
            height: calc(100vh - #{$footer_height_AT} - #{$header_height_AT});
        }
    }

    @include MQ768_1024{
        @if $page_index_fullHeight_act_A768B1024 == "on" or $page_index_only_fullHeight_act_A768B1024 == "on"{
            height: calc(100vh - #{$footer_height_TO} - #{$header_height_TO});
        }
    }

    @include beforeMQ1024{
        @if $page_index_fullHeight_act_B1024 == "on" or $page_index_only_fullHeight_act_B1024 == "on"{
            height: calc(100vh - #{$footer_height_BTL} - #{$header_height_BTL});
        }
    }

    @include afterMQ1024{
        @if $page_index_fullHeight_act_A1024 == "on" or $page_index_only_fullHeight_act_A1024 == "on"{
            height: calc(100vh - #{$footer_height_A1024} - #{$header_height_A1024});
        }
    }

    @include MQ1024_1200{
        @if $page_index_fullHeight_act_A1024B1200 == "on" or $page_index_only_fullHeight_act_A1024B1200 == "on"{
            height: calc(100vh - #{$footer_height_TLO} - #{$header_height_TLO});
        }
    }

    @include beforeMQ1200{
        @if $page_index_fullHeight_act_B1200 == "on" or $page_index_only_fullHeight_act_B1200 == "on"{
            height: calc(100vh - #{$footer_height_B1200} - #{$header_height_B1200});
        }
    }

    @include afterMQ1200{
        @if $page_index_fullHeight_act_A1200 == "on" or $page_index_only_fullHeight_act_A1200 == "on"{
            height: calc(100vh - #{$footer_height_A1200} - #{$header_height_A1200});
        }
    }
}