/* =============================================================================
   Page Int Section Full Height Styles | Custom [/etc/css/custom/page_int_headerFixed_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/etc/css/custom/_global.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hs                  = hash
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


#main{    
    @include mobileOnly{
        @if $header_fixed_act_MO == "on" or $header_fixed_act_ALL == "on"{
            padding-top: $page_PT_MO;
        }  
    }
    
    @include afterMobileLandscape{
        @if $header_fixed_act_AML == "on" or $header_fixed_act_ALL == "on"{
            padding-top: $page_PT_AML;
        }     
    }
    
    @include mobileLandscapeOnly{
        @if $header_fixed_act_MLO == "on" or $header_fixed_act_ALL == "on"{
            padding-top: $page_PT_MLO;
        }      
    }
    
    @include beforeTablet{        
        @if $header_fixed_act_BT == "on" or $header_fixed_act_ALL == "on"{
            padding-top: $page_PT_BT;
        }
    }
    
    @include afterTablet{
        @if $header_fixed_act_AT == "on" or $header_fixed_act_ALL == "on"{
            padding-top: $page_PT_AT;
        }
    }
    
    @include afterTabletLandscape{
        @if $header_fixed_act_ATL == "on" or $header_fixed_act_ALL == "on"{
            padding-top: $page_PT_ATL;
        }
    }
}