/* =============================================================================
   Page Int Section Full Height Styles | Custom [page_int_section_fullHeight_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/custom/_global.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


#main{
    section{
        @if $page_int_fullHeight_act_ALL == "on"{
            height: 100vh;
        }
    }
    
    @include mobileOnly{        
        section{
            @if $page_int_fullHeight_act_MO == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include afterMobileLandscape{        
        section{
            @if $page_int_fullHeight_act_AML == "on"{
                height: 100vh;
            }
        }     
    }
    
    @include mobileLandscapeOnly{
        section{
            @if $page_int_fullHeight_act_MLO == "on"{
                height: 100vh;
            }
        }     
    }
    
    @include beforeTablet{        
        section{
            @if $page_int_fullHeight_act_BT == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include afterTablet{        
        section{
            @if $page_int_fullHeight_act_AT == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include tabletOnly{
        section{
            @if $page_int_fullHeight_act_TO == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include beforeTabletLandscape{
        section{
            @if $page_int_fullHeight_act_BTL == "on"{
                height: 100vh;
            }
        } 
    }
    
    @include afterTabletLandscape{        
        section{
            @if $page_int_fullHeight_act_ATL == "on"{
                height: 100vh;
            }
        } 
    }

    @include tabletLandscapeOnly{
        section{
            @if $page_int_fullHeight_act_TLO == "on"{
                height: 100vh;
            }
        }
    }

    @include beforeDesktop{
        section{
            @if $page_int_fullHeight_act_BD == "on"{
                height: 100vh;
            }
        }
    }

    @include afterDesktop{
        section{
            @if $page_int_fullHeight_act_AD == "on"{
                height: 100vh;
            }
        }
    }
}