/* =============================================================================
   Slider Arrows Styles | Custom [slider_arrows_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/custom/_slider.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


@if $slider_arrows_act == "on"{
    .slickPrev{
        left: 2%;
        background-image: url('#{$url_dir}/img/button_slider_left.svg');
    }

    .slickNext{
        right: 2%;
        background-image: url('#{$url_dir}/img/button_slider_right.svg');
    }

    .slickPrev,
    .slickNext{
        @include transition(0.7s);
        @include opacityCustomHover();
        position: absolute;
        z-index: $zIndex_slider_arrows_dots;
        top: 50%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: $none;
        padding: $zero;
        text-indent: -9999px;
    }
    
    @include beforeTablet{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_BT;
            height: $slider_arrows_height_BT;
            margin-top: calc(-1 * #{$slider_arrows_height_half_BT});   
        }
    }

    @include afterTablet{
        .slickPrev,
        .slickNext{
            width: $slider_arrows_width_AT;
            height: $slider_arrows_height_AT;
            margin-top: calc(-1 * #{$slider_arrows_height_half_AT});
        }
    }
}
     
@if $slider_arrows_carousel_act == "on"{
    .slick_carousel{
        .slickPrev{
            background-image: url('#{$url_dir}/img/button_carousel_left.svg');
        }

        .slickNext{
            background-image: url('#{$url_dir}/img/button_carousel_right.svg');
        }
        
        @include beforeTablet{
            .slickPrev{
                left: calc(#{$slider_arrows_width_BT} / 4);
            }

            .slickNext{
                right: calc(#{$slider_arrows_width_BT} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carouselArrows_width_BT;
                height: $carouselArrows_height_BT;
                margin-top: calc(-1 * #{$carouselArrows_height_half_BT});  
            }
        }
        
        @include afterTablet{
            .slickPrev{
                left: calc(#{$slider_arrows_width_AT} / 4);
            }

            .slickNext{
                right: calc(#{$slider_arrows_width_AT} / 4);
            }
            
            .slickPrev,
            .slickNext{
                width: $carouselArrows_width_AT;
                height: $carouselArrows_height_AT;
                margin-top: calc(-1 * #{$carouselArrows_height_half_AT});
            }
        }
    }
}