/* =============================================================================
   Slider Dots Styles | Custom [/etc/css/custom/slider_dots_imp.scss]
   ========================================================================== */

/* // Descripcion ----------------------------------------------------------- */
// Archivo de estilos scss.
// Imported in `[/custom/_slider.scss]`



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq                   = media query @media
// tx                   = texto

///-- Fin del nombre
// _mx                  = mixin
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudoclases :focus y :hover
// _before              = se usa con pseudoelementos ::before
// _after               = se usa con pseudoelementos ::after

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// M, T, D, DL          = mobile, tablet, desktop, desktop large
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic


@if $slider_dots_act == "on"{
    .slickDots{
        list-style: none;
        position: relative;
        z-index: $zIndex_slider_arrows_dots;
        top: calc(-1 * #{$slider_dots_MT});
        height: calc(#{$slider_dots_height} + calc(#{$slider_dots_separation} * 2));
        margin: 0 auto;
        text-align: center;

        li{
            @include transition(0.7s);
            @include opacityCustom(60);
            display: inline-block;
            float: $none;
            height: $slider_dots_height;
            padding: $slider_dots_separation;

            &, button{
                @include squareSize($slider_dots_width);
            }

            button{
                display: block;
                background-color: transparent;
                background-image: url('#{$url_dir}/img/button_slider_pag.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                padding: $zero;
                border: $none;
                text-indent: -9999px;
            }

            &:focus, &:hover{
                @include opacityCustom(80);
                    
                button{
                    background-image: url('#{$url_dir}/img/button_slider_pag_hover.svg');
                }
            }

            &.slickActive{
                @include opacityCustom(100);
                    
                button{
                    background-image: url('#{$url_dir}/img/button_slider_pag_current.svg');
                }
            }
        }
    }
}