/* * NombreDeProyecto * ========================================================
   Main Styles | Header
   ==========================================================================

Imported in `[/src/css/main.css]`
*/

#header {
    box-sizing: border-box;
    position: relative;
    z-index: 7200;
    height: auto;
    box-shadow: 0 0 10px 0 var(--grey_de_rgba20);
}

#header .logo_header,
#header .logo_header a,
#header .logo_header img {
    box-sizing: border-box;
    display: block;
}

#header .logo_header a,
#header .logo_header img {
    width: 100%;
}

#header .logo_header{
    margin-bottom: 0;
}

#header .logo_header a {
    position: relative;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Header __ Before 300px
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@media (max-width: 300px){
    #header .logo_header{
        /*
        width: var(--logo_width_B300);
        */
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Header __ After 300px
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@media (min-width: 301px){
    #header .logo_header{
        /*
        width: var(--logo_width_A300);
        */
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Header __ Before 700px
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@media (max-width: 700px){
    #header{
        padding-top: 10px;
        padding-bottom: 8px;
    }

    #header > div {
        box-sizing: border-box;
    }
    
    #header .logo_header {
        /*
        width: var(--logo_width_B700);
        */
    }
        
    #header .logo_header.navDrawer_open {
        border-right: var(--nav_drawer_bdWidth) solid var(--greyM);
        box-sizing: border-box;
        position: fixed;
        z-index: 9900;
        top: 0;
        left: 0;
        width: calc(var(--nav_drawer_width) - 5px);
        max-width: var(--nav_drawer_width_max);
        height: var(--logo_height_clicked_final);
        background-color: var(--white);
        padding-top: var(--logo_clicked_height_PT);
        padding-bottom: var(--logo_clicked_height_PB);
        padding-left: 0;
        margin: 0;
    }
    
    #header .logo_header.navDrawer_open a,
    #header .logo_header.navDrawer_open img {
        width: auto;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 701px){    
    #header{
        padding-top: 5px;
        background-color: var(--white);
    }
    
    #header.site_scrolled_js{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding-top: 0;
    }
    
    #header > div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }
    
    #header .logo_header{
        width: var(--logo_width_A700);
    }     
    
    #header.site_scrolled_js .logo_header{
        width: var(--logo_width_scrolled_A700);
    }
}

@media (max-width: 767px){
    #header .logo_header{}
}

@media (min-width: 768px){    
    #header .logo_header{
        width: var(--logo_width_A768);
    }
}

@media (min-width: 801px){      
    #header .logo_header{
        width: var(--logo_width_A800);
    }
}

@media (min-width: 901px){    
    #header .logo_header{
        width: var(--logo_width_A900);
    }
}

@media (max-width: 1023px){     
    #header.site_scrolled_js .logo_header{}       
}

@media (min-width: 1024px){
    #header .logo_header{
        width: var(--logo_width_A768L);
    }
}

@media (min-width: 1201px){
    #header .logo_header{
        width: var(--logo_width_A1200);
    }   
    
    #header.site_scrolled_js .logo_header{}    
}